<form onsubmit="return false;">
<div class="form-group">
    <label>Copy plan to:</label>
    <select id ="copyPlanDropdown" class ="form-control">
        {% for type in types %}
        <option value ="{{ type.value}}">{{type.description}}</option>
        {% endfor %}
    </select>
</div>
</form>
{% include('PlansPlansBundle:PlansHome:rkpselector.html.twig') with {'button_text': 'Copy'} %}
<br/>
<script>
    
$(function() {
    $('#addplanform').submit(function(e) {
        e.preventDefault();
        var copiedPlanId = $('#displayedplanid').val().trim();
        var page = '{{ path('_plans_plan_identification_getPlanExists') }}';
        var querystring = 'planid=' + copiedPlanId + '&userid=' + {{ session.userid }};
        var type = $('#copyPlanDropdown').val();
        if (copiedPlanId) {
            $.post(page, querystring).done(function(data) {
                if ( data.plan ) {
                    if (data.plan.types.indexOf(type) === -1) {
                        var prompt = "This plan already exists for the following types: " + data.plan.types.join(', ') + "\n" +
                            "Would you like to enable this plan for "+type+"?\n";
                        if (confirm(prompt)) {
                            copyplan({{plan.id}},null,associate,type,data.plan.id);
                        }
                    }
                    else {
                        var prompt = "This plan already exists for "+type+"\n" +
                            "Would you like to edit this plan?\n";
                        if (confirm(prompt)) {
                            editplan(data.plan.id);
                        }
                    }
                }
                else {
                    copyplan({{plan.id}},null,associate,type);
                }
            });
        }
        else {
            copyplan({{plan.id}},null,null,type);
        }
    });
});

function associate()
{
    var querystring = "planid=" + $('#planid').val() + "&plantypecd=" + $('#plantypecd').val();

    if ("{{ currentaccount.connectionType }}".indexOf("SRT") == 0){
        var recordkeeperurl = "{{ path('_recordkeepers_srt_select_plan') }}";	
    }
    else  if ("{{ currentaccount.connectionType }}" == "Relius" ) {
        var recordkeeperurl = "{{ path('recordkeepers_relius_select_plan') }}";	
    }
    else  if ("{{ currentaccount.connectionType }}" == "ExpertPlan" ) {    
        var recordkeeperurl = "{{ path('_recordkeepers_expert_select_plan') }}";
    }
    else if ("{{ currentaccount.connectionType }}" == "Envisage") {
        var recordkeeperurl = "{{ path('_recordkeepers_envisage_select_plan') }}";
    }
    else {
        var planName = $('#planname').val().trim();
        if (planName) {
            querystring = querystring + "&name=" + encodeURIComponent(planName);
        }
        var recordkeeperurl = "{{ path('_plans_plan_identification_educate_select_plan') }}";
    }
   
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        if (data == "true") {
            window.location = "{{ path('_plans_plan_identification') }}";
        }
        else {
            alert("An error occurred associating the plan information");
        }
    });
}
</script>