{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename':  type | capitalize ~ ' Plans List'})) }}
{% set page = "planlist" %}
{% include "PlansPlansBundle:PlansHome:planlist.html.twig" %}

{{ include('PlansPlansBundle:PlansHome:javascript/index.js.twig') }}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}