{% set lengthMenu = "[100, 200, 500]" %}
{% if session.roleType != "adviser" %}

    {% if writeable %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlist.html.twig' %}

        {% set header = '<th>Id</th><th>Plan Name</th><th>Plan ID</th><th>Date Created</th><th>Actions</th>' %}
        {% set extracolumndefs = ',{ 
					"targets": [4],
					"orderable": false,
					"className": "action-buttons text-right"
				}' %}
    {% else %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistreadonly.html.twig' %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th>" %}
    {% endif %}


{% else %}
    {% if writeable %}
        {% set unsearchableArray = [4] %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th><th>Access</th>" %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistadviser.html.twig' %}
    {% else %}
        {% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th>Date Created</th>" %}
        {% set template =  'PlansPlansBundle:PlansHome:Search/planlistadviser.html.twig' %}
    {% endif %}    
{% endif %}






{% if user.allPlans == 1 %}
    {% set tablename = "plans" %}
    {% set table = "plans" %}

    {% set findby = "a.userid,^a.deleted" %}
    {% set findbyvalues = session.userid ~ ",0" %}
    {% set types = "a.id,a.name,a.planid,a.createdDate" %}

{% else %}
    {% set customquery = "adviserPlanList" %}
    {% set tablename = "advisersPlans" %}
    {% set table = "accountsUsersPlans" %}
    {% set findby = "a.userid,^a.accountsUsersId,^b.deleted" %}
    {% set types = "a.id,b.name,b.planid,b.createdDate" %}
    {% set findbyvalues = session.userid ~ "," ~ session.clientid ~ ",0" %}

{% endif %}
