{% set alertId = "emailSentAlert"%}
{% set alertContent = "Email Sent" %}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<p>Enter email addresses seperated by comma</p>
<textarea style ="width:100%;height:200px;resize:none" id ="emailList"></textarea>
<br/><br/>
<button type ="button" class ="btn btn-success" onclick = "viewStats({{ request.planid }},'email')">Send</button>