{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Fiduciary Report'})) }}
{% set customquery = "accountlistfull" %}
{% set types = "a.id,a.company,a.partnerid" %}
{% set findby = "a.visible" %}
{% set findbyvalues = "1" %}
{% set table = "accounts" %}
{% set tablename = table %}
{% set header = "<th>Account Id</th><th>Company</th><th>Partner Id</th><th>Actions</th>" %} 
{% set template = 'AdminStatsAdminStatsBundle:FiduciaryReport:Search/accounts.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
