{% block body %}
{{ include ('PlansPlansBundle:Outreach:Videoplayer/header.html.twig') }}  
<div class="container videoplayer_container">
  <div class="header clearfix">
    <nav>
      <div class="pull-right">
        {{ rightImage | raw }}
      </div>
    </nav>
    <h3 class="text-muted">{{ leftImage | raw }}</h3>
  </div>
  <div class = "pager">
    {{ include ('PlansPlansBundle:Outreach:Videoplayer/videoplayer.html.twig') }}  
  </div>
  <div class="pager">
    <p><a class="btn btn-lg btn-success video-btn" href="{{ link | raw }}" role="button">View Provider Website</a></p>
  </div>
  {% block extracontent %}
  {% endblock %}
  <footer class="footer">
    <p>&copy; Vwise 2014</p>
  </footer>
</div> <!-- /container -->
<script src="{{ asset('videoplayer/ie10-viewport-bug-workaround.js') }}"></script>
{{ include ('PlansPlansBundle:Outreach:Videoplayer/footer.html.twig') }}  
{% endblock %}