 
    <script src="{{ asset('js/lib/jquery.js') }}"></script>
    <script src ="{{ asset('js/mediaelement/build/mediaelement-and-player.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('js/mediaelement/build/mediaelementplayer.css') }}" />
    <style>
    .videoplayer_container
    {
      min-width:400px !important;
      max-width:800px!important;
      margin:0px auto !important;
    }
  .video-btn {
    background-color:rgb(17,51,85) !important;border:none !important;

  }
    .center-vid {margin:0px auto !important;}



    </style>