{% set pagename = "Modules" %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
<form role="form" id="plan-modules" method="post" action="">
<div class="alert alert-success" id="saved-alert" style = "display:none"><span class="glyphicon glyphicon-ok"></span> Changes successfully saved.</div>
<h2>{{ pagename }}</h2>
{% set sections = section1 %}
{% include("PlansPlansBundle:Modules:selectboxgroup.html.twig") %}
{% if session.masterRoleType == "vwise_admin" %}
<hr/>
{% set sections = section4 %}
{% include("PlansPlansBundle:Modules:selectboxgroup.html.twig") %}
{% endif %}
<hr/>
<div class="row">
    <div class="form-group col-md-6">
        <label for="investmentTypes">Investment Types</label>
        {% for section in section2 %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{ section.name }}" id = "{{ section.name }}"  {% if section.data.disabled is defined %}disabled{% endif %} {{ section.data.checked }} {% if not writeable %}disabled{% endif %} /> {{ section.description }} 
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="form-group col-md-6">
        <label for="investmentSelectorDefault">Primary Investment Type</label>
        <select class="form-control" name="investmentSelectorDefault" id = "investmentSelectorDefault" {% if not writeable %}disabled{% endif %}>
        <option value = "" {% if plan.investmentSelectorDefault != "" %}style = "display:none"{% endif %}></option> 
        {% for section in section2 %}
        <option style = "display:{{ section.data.display }}" id = "investmentSelectorDefault{{section.name}}"  value = "{{ section.data.savevalue }}" {% if plan.investmentSelectorDefault == section.data.savevalue %}selected{% endif %}> {{ section.description }}</option>
        {% endfor %}
        </select>
    </div>
</div>
<hr/>
<div class="row">
    <div class="form-group col-md-6">
        <label>More Options</label>
        {% for section in section3 %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{ section.name }}" id = "{{ section.name }}" {{ section.data.checked }} {% if not writeable %}disabled{% endif %} /> {{ section.description }} 
            </label>
        </div>
        {% endfor %}
    </div>
</div>
<div id="matching-values" >
    <div class="row">
        <div class="form-group col-md-6">
            <label>Matching Percent</label>
            <input min="0" max="100" name="match-percent"  class="form-control" type="number" value="{{ plan.matchingPercent }}" {% if not writeable %}disabled{% endif %} />
            <p class="help-block">Your employer matches <strong><span class="match-percent-tip">{{ plan.matchingPercent }}</span>%</strong> of your contributions up to <span class="match-cap-tip">{{ plan.matchingCap }}</span>% of your salary.</p>
        </div>
        <div class="form-group col-md-6">
            <label>Matching Cap</label>
            <input min="0" max="100" name="match-cap"  class="form-control" type="number" value="{{ plan.matchingCap }}" {% if not writeable %}disabled{% endif %} />
            <p class="help-block">Your employer matches <span class="match-percent-tip">{{ plan.matchingPercent }}</span>% of your contributions up to <strong><span class="match-cap-tip">{{ plan.matchingCap }}</span>%</strong> of your salary.</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Secondary Matching Percent</label>
            <input min="0" max="100" name="secondary-match-percent" class="form-control" type="number" value="{{ plan.secondaryMatchingPercent }}" {% if not writeable %}disabled{% endif %} />
            <p class="help-block">Your employer matches <span class="match-percent-tip">{{ plan.matchingPercent }}</span>% of your contributions up to <span class="match-cap-tip">{{ plan.matchingCap }}</span>% of your salary and then <strong><span class="secondary-match-percent-tip">{{ plan.secondaryMatchingPercent }}</span>%</strong> up to <span class="secondary-match-cap-tip">{{ plan.secondaryMatchingCap }}</span>%.</p>
        </div>
        <div class="form-group col-md-6">
            <label>Secondary Matching Cap</label>
            <input min="0" max="100" name="secondary-match-cap" class="form-control" type="number" value="{{ plan.secondaryMatchingCap }}" {% if not writeable %}disabled{% endif %} />
            <p class="help-block">Your employer matches <span class="match-percent-tip">{{ plan.matchingPercent }}</span>% of your contributions up to <span class="match-cap-tip">{{ plan.matchingCap }}</span>% of your salary and then <span class="secondary-match-percent-tip">{{ plan.secondaryMatchingPercent }}</span>% up to <strong><span class="secondary-match-cap-tip">{{ plan.secondaryMatchingCap }}</span>%</strong>.</p>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="form-group col-md-6">
        <label for="retirementNeedsFlow">Retirement Needs Flow</label>
        <select class="form-control" name="retirementNeedsFlow" id="retirementNeedsFlow">
            <option value="1" {% if plan.retirementNeedsFlow == 1 %}selected{% endif %}>Current Social Security Only</option>
            <option value="2" {% if plan.retirementNeedsFlow == 2 %}selected{% endif %}>Enhanced Social Security Only</option>
            <option value="3" {% if plan.retirementNeedsFlow == 3 %}selected{% endif %}>Pension Only</option>
            <option value="4" {% if plan.retirementNeedsFlow == 4 %}selected{% endif %}>Enhanced Social Security and Pension</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="socialSecurityMultiplier">Social Security Multiplier</label>
        <input min="1" max="100" type="number" step=".01" name="socialSecurityMultiplier" id="socialSecurityMultiplier" class="form-control" value="{{ plan.socialSecurityMultiplier }}" {% if not writeable %}disabled{% endif %} />
        <p class="help-block">Your Social Security benefit is estimated to be <span class="socialSecurityMultiplier-tip">{{ plan.socialSecurityMultiplier }}</span>% of your salary.</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label for="pensionEstimatorURL">Pension Estimator URL</label>
        <input class="form-control" type="url" name="pensionEstimatorURL" id="pensionEstimatorURL" value="{{ plan.pensionEstimatorURL }}"/>
    </div>
</div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="maximumAnnualIncome">Maximum Annual Income</label>
            <input class="form-control" type="number" name="maximumAnnualIncome" id="maximumAnnualIncome" value="{{ plan.maximumAnnualIncome }}"/>
        </div>
    </div>
</form>
{% if writeable %}
<button type = "button" class="btn btn-success" id = "plan-modules-button">Save</button>
{% endif %}

{{ include('PlansPlansBundle:Modules:javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}