{% for plan in plans %}
<input type ="checkbox" value ="{{plan.planid}}" class ="syncmodal" /> {{ plan.description }}    
{% endfor %}
<br/><br/>
<button class ="btn btn-primary" onclick ="saveModulesToDatabase()">Save</button>
