{% for api in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ api.id }},
	"{{ api.controller }}",
    "{{ api.method }}",
    "{{ api.enabled ? "On" : "Off" }}",
    "<a href=\"javascript:ajaxModal('{{ path('_manage_API_edit', {'id':api.id}) }}','Edit')\" class=\"glyphicon_link\"><span class=\"glyphicon glyphicon-edit\" title=\"Edit\"></span></a><a href = \"javascript:deleteApi('{{ api.id }}')\" class=\"text-danger\"><span class=\"glyphicon glyphicon-remove-circle\" title=\"Delete\"></span></a>"
]
{% endfor %}