<form id = "portalnewsadd">
	<input type = "text"  name = "id" style = "display:none" />
	<b>Title</b>
	<input type = "text" placeholder = "Enter Title" name = "title" class = "form-control"/>
	<b>Description</b>
	<textarea  name = "description" placeholder = "Enter Description"  class = "form-control" style = "width:100%;height:200px;resize:none"></textarea>
</form>
<br/>
<button type = "button" class = "btn btn-info" onclick = "addPortalNews()">Add</button>