<form id = "portalnewsedit">
	<input type = "text" value = "{{ newsarticle.id }}" name = "id" style = "display:none" />
	<b>Title</b>
	<input type = "text" value = "{{ newsarticle.title }}" name = "title" class = "form-control"/>
	<b>Description</b>
	<textarea value = "{{ newsarticle.description }}" name = "description" class = "form-control" style = "width:100%;height:200px;resize:none">{{ newsarticle.description }}</textarea>
</form>
<br/>
<button type = "button" class = "btn btn-success" onclick = "updatetable('portalnews','portalnewsedit','id',loadPortalnews)">Save</button>