{% for news in newsArray %}
<li id = "*id*{{ news.id }}*id*"  class="list-group-item"  style = "cursor:grab" >
<table width = "100%" >
	<tr>
		<td>
			<b>{{ news.title }}</b>
		</td>
		<td width = "150">
			<button type = "button" class = "btn btn-success" onclick = "ajaxModal('{{ path('_manage_portal_edit_portal_news') }}?id={{news.id }}','Edit')">Edit</button> <button type = "button" class = "btn btn-danger" onclick = "deleteform('portalnews','id','{{ news.id }}','',loadPortalnews)">Delete</button>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<br/>
			{{ news.description }} 
		</td>	
	</tr>

</table>
</li>
{% endfor %}