{% set pagename = "Plans- Video Ads" %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
<h3>Code and Preview Video</h3>
<table class ="table table-striped">
    <thead>
        <tr>
            
            <th>Code</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        {% for vad in vads %}
        <tr>
            <td><input type ="text" value = "{{ vad.old }}" width ="100%"class ="form-control" id ="vadold{{vad.id}}" onclick = "select_all(this.id)" /></td>
            <td><span class = "glyphicon glyphicon-play"  onclick = "ajaxModal('{{ vad.videolink }}','Preview','large','true')"  ></span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Stats</h3>   
<div class="col-md-12 ranges form-inline pager" >
    <button type = "button" class ="btn btn-primary" onclick = "exportpdf()">Export to Pdf</button>
    <input type = "text" placeholder = "Starting Date" class = "form-control profiles_input" id = "greaterthan_graph"  /> 
    <input type = "text" class = "form-control profiles_input" id= "lessthan_graph" placeholder = "Ending Date"  /> 
    <button type = "button" class = "btn btn-success" id = "statsDateButton" onclick = "processStats()">Submit</button>
</div>
<div id ="ajaxGraphContent">  
    {{ stats | raw }}
</div>
<script>
$( document ).ready(function() 
{
    $('#greaterthan_graph').datepicker({ dateFormat: "yy-mm-dd" });
    $('#lessthan_graph').datepicker({ dateFormat: "yy-mm-dd" });
});
function processStats()
{
    var querystring = "startDate=" + $("#greaterthan_graph").val() + "&endDate=" + $("#lessthan_graph").val() +"&userid={{ session.userid}}&planid={{session.planid}}";
    var page = "{{ path('_manage_vads_stats') }}";
    $.post(page, querystring).done(function(data) 
    {
        $("#ajaxGraphContent").html(data);        
    });
}
function exportpdf()
{
    var exportUrl = '{{ httpmethod }}export.highcharts.com/';
    var data = setPngData(graph1String);
    $.post(exportUrl, data, function(data) 
    {
        window.location = "{{ path('_manage_vads_exporttopdf') }}?graph1=" + exportUrl + data;
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}


