<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ 'survey_two_title' | trans ({}, 'survey_two') }}</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>

{% include('WidgetsBundle:NationalsurveyNew:css/survey.css.twig') %}
{% include('WidgetsBundle:NationalsurveyNew:css/whitelabel.css.twig') %}

</head>

<body>

<div id="vwise_survey">

	<div id="veil"></div>

		<div class="close return">Close</div>

		<div class="container">
                    
			<div id="survey">
                            <div id="intro" class="form-page">
                                <div id="welcome">
                                    <h1>{{ 'survey_two_welcome' | trans ({}, 'survey_two') }}</h1>
                                    <p>{{ 'survey_two_your_smartplan_experience' | trans ({}, 'survey_two') }}</p>
                                    <p>{{ 'survey_two_simply_answer' | trans ({}, 'survey_two') }}</p>
                                    <button id="start-survey" class="button transparent">{{ 'survey_two_get_started' | trans ({}, 'survey_two') }}</button>
                                </div>
                                <div class="qbox">
                                </div>
                                    
						{#
						<div id="languageSelect">
							<div class="menu">
								<div class="currentLanguage">{{ 'survey_two_english' | trans ({}, 'survey_two') }}<span></span></div>
								<ul class="options color-secondary">
									<li id="survey-en" class="lang-selector" data="en">{{ 'survey_two_english' | trans ({}, 'survey_two') }}</li>
									<li id="survey-es" class="lang-selector" data="es">{{ 'survey_two_spanish' | trans ({}, 'survey_two') }}</li>
								</ul>
							</div>
						</div>
						#}
                                    
                            </div>
                                        {#{{ dump(states) }}#}                                    
                            <div class="button-group">
                                    <button id="survey-back" class="button transparent">{{ 'survey_two_back' | trans ({}, 'survey_two') }}</button>
                                    <button id="survey-next" class="button transparent">{{ 'survey_two_next' | trans ({}, 'survey_two') }}</button>
                                    <button id="submit-survey" class="button color-primary">{{ 'survey_two_continue' | trans ({}, 'survey_two') }}</button>
                            </div>

                            <div id="moreOptions" class="form-page center">
                                    <h1>{{ 'survey_two_thank_you' | trans ({}, 'survey_two') }}</h1>
                                    <h2>{{ 'survey_two_contact' | trans ({}, 'survey_two') }} <a href="tel:1-877-602-1870">1-877-602-1870</a>.</h2>
                                    <h2>{{ 'survey_two_or_click' | trans ({}, 'survey_two') }}</h2>
                                    <button id="restart" type="button" class="transparent">{{ 'survey_two_try_again' | trans ({}, 'survey_two') }}</button>
                            </div>

                    </div>

		</div>

		<div id="spinner" style="display:none;">
			<img src="/w/img/loading.svg" alt="One moment please ..." />
			<p id="smartplan-launch" style="display:none;">{{ 'survey_two_great_taking_you' | trans ({}, 'survey_two') }}</p>
		</div>
                <div id="scrollBuddy" class="bg-secondary">&nbsp;</div>

</div>

<div id="error-message" class="bg-secondary" style="display:none;">
        <div class="message-container">
                <h2>{{ 'survey_two_error_msg' | trans ({}, 'survey_two') }}</h2>
                <p>{{ 'survey_two_error_msg_try_again' | trans ({}, 'survey_two') }}</p>
                <button id="refresh" class="button transparent">{{ 'survey_two_refresh' | trans ({}, 'survey_two') }}</button>
        </div>
</div>

<div id="loading" class="bg-primary" style="display:none;">
        <div class="message-container">
                <img src="/w/img/loading.svg" alt="One moment please ..." />
                <p>{{ 'survey_two_this_may_take_a_moment' | trans ({}, 'survey_two') }}</p>
        </div>
</div>
<div id="params-misc" data-partner="{{partner}}"></div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
{% include('WidgetsBundle:NationalsurveyNew:js/survey.js.twig') %}


</body>
</html>
