<!DOCTYPE HTML>
<!--[if IE 9]><html class="ie ie9 lte9" lang="{{ request.lang|default('en') }}"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ request.lang|default('en') }}"><!--<![endif]-->
    <head>
        <title>Smartplan Enterprise</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/bootstrap.min.css') }}" media="all" >
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/ui/smoothness/jquery-ui.custom.css') }}" media="all" >
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/jquery.mCustomScrollbar.min.css') }}" media="all" >
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/main.css?v='~random()) }}" media="all" >
        <link type="text/css" rel="stylesheet" href="{{ asset('spe/css/library.css') }}" media="all" >
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script type="text/javascript" id ="functions" src="{{ asset('js/functions.js') }}"></script>
        <style type="text/css"></style>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script data-main="{{ asset('spe/js/main.js?v='~random()) }}" src="{{ asset('spe/js/vendor/require/require.js') }}"></script>

        <!-- Google Chart -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages': ['corechart']});
        </script>

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29981405-14']);
            _gaq.push(['_setDomainName', 'auto']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_setCustomVar',1,'Client','{{ request.partner_id }}',2]);
            _gaq.push(['_setCustomVar',2,'Plan ID','{{ request.id }}_{{ request.partner_id }}',2]);
            _gaq.push(['_setCustomVar',5,'Version','1.1',2]);          
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% block additional_js %}{% endblock %}
        {% block default_js %}{% endblock %}
        {{ include('SpeAppBundle:Template:highcharts.js.twig') }}
    </body>
</html>