<div id="footer">
    <input type ="text" id ="audioTimeStamp" value ="0" style ="display:none" aria-hidden="true" aria-label="Audio Time Stamp"/>
    <div class="footer-area row">
        <div class="item left col-md-6">
            <span style="margin: 0 16px" class="active emp_name">{{ 'employee' | trans ({}, 'global') }}: {{ app.session.get('rkp').plan_data.firstName is defined ? app.session.get('rkp').plan_data.firstName | upper : '' }} {{ app.session.get('rkp').plan_data.lastName is defined ? app.session.get('rkp').plan_data.lastName | upper : '' }}</span> |
            <a class="support" href="#" aria-label="support">{{ 'support' | trans ({}, 'global') }}</a> |
            <a class="contact" href="#" aria-label="contact">{{ 'contact' | trans ({}, 'global') }}</a>
        </div>
        <div class="item right col-md-6">
            <a class="privacy" href="#" aria-label="privacy">{{ 'privacy' | trans ({}, 'global') }}</a> |
            <a class="terms" href="#" aria-label="terms">{{ 'terms_of_use' | trans ({}, 'global') }}</a> |
            <a class="copyRight" href="#" aria-label="copyright">&copy; {{ "now"|date('Y') }} {{ 'vwise_inc' | trans ({}, 'global') }}</a>
            
            {% if app.session.get('account').language and app.session.get('plan_languages') | length > 1 and app.session.get('module').languageDropdown  %}
            <select class="language-switch" aria-label="Select language" >
                {% if app.request.locale in app.session.get('plan_languages')|keys == false %}
                    <option></option>
                {% endif %}
                {% for key,value in app.session.get('plan_languages') %}
                    <option value="{{ key }}" {{ (app.request.locale == key) ? 'selected' : '' }}>{{ value }}</option>
                {% endfor %}
            </select>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal fade" id="ajaxModule"  tabindex="-1" role="dialog" aria-labelledby="ajaxModuleTitle" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog" id = "ajaxModuleDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ajaxModuleTitle">Modal title</h4>
            </div>
            <div class="modal-body" id = "ajaxModuleBody">
                <div id = "ajaxModuleContent">
                </div>
                <iframe id = "ajaxModalIframe" title="ajax module" src = "" width = "100%" height = "500" style = "display:none" ></iframe>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/jquery.alphanum.js') }}"></script>
<div class="modal fade" tabindex="-1" role="dialog" aria-modal="true" id ="trustedContactTransactionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'trustedContactTransactionModalHeader' | trans ({}, 'my_profile') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'trustedContactTransactionModalBody' | trans ({}, 'my_profile') }}</p>
      </div>
      <div class="modal-footer" style ="border-top:0px">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Ok">{{ 'ok' | trans ({}, 'alert') }}</button>
      </div>
        <div class="modal-footer" style ="font-size:13px;text-align:left">
            <p>{{ 'trustedContactTransactionModalFooter' | trans ({}, 'my_profile') }}</p>
        </div>
    </div>
  </div>
</div>
<script>
    function showLoader() {
        $("#container-main").find(".loader").show();
    }

    function hideLoader() {
        $("#container-main").find(".loader").hide();
    }
$(document).ready(function(){
var decAllowed, value, num, n, element, fixedVal;

function decimals(dval) {

  var match = (''+dval).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
  if (!match) { return 0; }
  return Math.max(0,(match[1] ? match[1].length : 0));
}

$(document).on('keyup', '.allowed', function(){
    
    decAllowed = parseInt($(this).attr('data'));
    value = $(this).val();         

    if(decimals(value) > decAllowed){

        fixedVal = Math.pow(10, decAllowed);
        num = parseFloat(value);
        n   = Math.floor(num * fixedVal) / fixedVal;
        $(this).val(n);

        }

    });
   
});
function disableButton(id)
{
    if ($(id).hasClass('action-button'))
    {
        $(id).removeClass('action-button');
    }
    if (!$(id).hasClass('disabledButton'))
    {
        $(id).addClass('disabledButton');
    }
}
function enableButton(id)
{
    if ($(id).hasClass('disabledButton'))
    {
        $(id).removeClass('disabledButton');
    }
    if (!$(id).hasClass('action-button'))
    {
        $(id).addClass('action-button');
    }   
}

function closeLightBox()
{
    $("#ajaxModule").modal("hide");
}

function ajaxModal(page,title,size,iframe,preaction,endaction)
{
    if(typeof(endaction)==='undefined') {
        var preaction = "";
    }
    if(typeof(endaction)==='undefined') {
        var endaction = "";
    }
    if (preaction != "" ) {
        preaction();
    }
    if(typeof(size)==='undefined') {
        size = "medium";
    }
    if(typeof(iframe)==='undefined') {
        iframe = false;
    }
    if (size == "medium") {
        $("#ajaxModuleDialog").prop("class","modal-dialog");
        $("#ajaxModule").prop("class","modal fade");
    }
    else if (size == "small") {
        $("#ajaxModuleDialog").prop("class","modal-dialog modal-sm");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-sm");
    }
    else if (size == "large") {
        $("#ajaxModuleDialog").prop("class","modal-dialog modal-lg");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
    }
    else if (size = "extra large")//for those really big pages
    {
        $("#ajaxModuleDialog").width("1200px");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
    }
    if (!iframe) {
        $("#ajaxModalIframe").hide();
        $( "#ajaxModuleContent" ).load(page, function() {
            $("#ajaxModuleTitle").html(title);
            $("#ajaxModule").modal("show");
            if (endaction != "" ) {
                endaction();
            }
        });
    }
    else {
        $("#ajaxModuleTitle").html(title);
        $("#ajaxModalIframe").prop("src",page);
        $("#ajaxModalIframe").show();
        $("#ajaxModule").modal("show");
    }
}
function turnOnCustomHeader(html,backgroundColor)
{
    if (typeof(backgroundColor) == "undefined")
    {
        backgroundColor = "#5e5e5e";
    }
    $("#customHeader").html(html);
    $("#customHeader").show();
    $("#customHeader").css("background-color",backgroundColor);
}
function turnOffCustomHeader()
{
    $("#customHeader").hide();
}
setInterval(function()
{
    if (!$("#showCustomHeader").length)
    {
        turnOffCustomHeader();
    }
}, 250);
</script>