<script type="text/javascript" src="{{ asset('js/yearpickeroverride.js') }}"></script>
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-label="Navigation"> <span class="sr-only">{{ 'toggle_navigation'| trans ({}, 'global') }}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
</div>
<div class="collapse navbar-collapse navigation-block" id="bs-example-navbar-collapse-1">
    <ul id="mainNav" class="nav navbar-nav">
        <li id="plan-basic" class="highlight"><a data-controller="PlanBasicsController" href="#" aria-label="Plan basics">{{ 'plan_basic'| trans ({}, 'navigation') }}</a></li>
        <li id="morningStar" style="display: none;">
            <ul>
                <li id="choose-your-path" class="highlight"><a data-controller="MorningStarController" data-action="index" href="#" aria-label="Choose your path">{{ 'choose_your_path'| trans ({}, 'navigation') }}</a></li>
                <li id="confirm-your-info" class="highlight"><a data-controller="MorningStarController" data-action="info" href="#" aria-label="Confirm your info">{{ 'confirm_your_info'| trans ({}, 'navigation') }}</a></li>
                <li id="asset-mix" class="highlight"><a data-controller="MorningStarController" data-action="assetMix" href="#" aria-label="Asset mix">{{ 'asset_mix'| trans ({}, 'navigation') }}</a></li>
                <li id="review-details" class="highlight"><a data-controller="MorningStarController" data-action="reviewDetails" href="#" aria-label="Review details">{{ 'review_details'| trans ({}, 'navigation') }}</a></li>
                <li id="send-finish" class="highlight" style="display:none;"><a data-controller="MorningStarController" data-action="sendFinish" href="#" aria-label="Send finish">{{ 'send_finish'| trans ({}, 'navigation') }}</a></li>
            </ul>
        </li>
        <li>
            <div class="SPEMenu">
                <ul>
                    {% if (app.session.get('module').ATBlueprint != 1) %}
                        <li id="retirement-needs" class="highlight"><a data-controller="RetirementNeedController" href="#" aria-label="Retirement needs">{{ 'retirement_needs'| trans ({}, 'navigation') }}</a></li>
                    {% else %}
                        <li id="retirement-needs" class="highlight"><a data-controller="ATBlueprintController" href="#" aria-label="AT Blueprint">{{ 'at_blueprint'| trans ({}, 'navigation') }}</a></li>
                    {% endif %}
                    {% if (app.session.get('common').flexPlan is not defined or app.session.get('common').flexPlan == 0) and app.session.get('module').riskBasedQuestionnaire and (app.session.get('module').ATBlueprint != 1) %}
                        <li id="risk-profile" class="highlight lockable"><a data-controller="RiskProfileController" href="#" aria-label="Risk profile">{% if app.session.get('module').investmentsGraph  %}{{ 'ADP_risk_profile'| trans ({}, 'navigation') }}{% else %}{{ 'risk_profile'| trans ({}, 'navigation') }}{%endif %}</a></li>
                    {% else %}
                        <li id="risk-profile" style="display:none;" class="highlight"><a id='riskProfileClick' data-controller="RiskProfileController" href="#"><label for="riskProfileClick">{% if app.session.get('module').investmentsGraph  %}{{ 'ADP_risk_profile'| trans ({}, 'navigation') }}{% else %}{{ 'risk_profile'| trans ({}, 'navigation') }}{%endif %}</label></a></li>
                    {% endif %}

                    {% if app.session.get('common').flexPlan is defined and app.session.get('common').flexPlan == 1 %}
                        <li id="contributions" class="highlight lockable"><a data-controller="ContributionsController" href="#" aria-label="Contributions" >{{ 'contributions'| trans ({}, 'navigation') }}</a></li>
                        <li id="investments" class="highlight lockable"><a data-controller="InvestmentsController" href="#" aria-label="Investments">{{ 'investments'| trans ({}, 'navigation') }}</a></li>
                    {% else %}
                        <li id="investments" class="highlight lockable"><a data-controller="InvestmentsController" href="#" aria-label="Investments">{{ 'investments'| trans ({}, 'navigation') }}</a></li>
                        {% if (app.session.get('module').ATBlueprint != 1) %}
                            <li id="contributions" class="highlight lockable"><a data-controller="ContributionsController" href="#" aria-label="Contributions">{{ 'contributions'| trans ({}, 'navigation') }}</a></li>
                        {% endif %}
                    {% endif %}
                    <li id="my-profile" class="highlight lockable"><a data-controller="MyProfileController" href="#" aria-label="My profile" >{{ 'my_profile'| trans ({}, 'navigation') }}</a></li>
                </ul>
            </div>
        </li>
        {% if app.session.get('library')|length %}
            <li id="library" class="highlight"><a data-controller="LibraryController" data-action="library" href="#" aria-label="Library">{{ 'library'| trans ({}, 'navigation') }}</a></li>
        {% endif %}
    </ul>
</div>