{% extends "SpeAppBundle:Layout:app.html.twig" %}

{% block body %}

    <div id="nocookie" style="display: none;">
        <div id="app-loader">
            <div class="block">
                <div class="title">{{ 'welcome_to_smartplan'| trans ({}, 'loading') }}</div>
                <div class="msg">{{ 'nocookie_line_1'| trans ({}, 'loading') }} <br><span style="font-weight: bold">{{ 'nocookie_line_2'| trans ({}, 'loading') }}</span> {{ 'nocookie_line_3'| trans ({}, 'loading') }}</div>
                <div class="msg" id="ckMsg">{{ 'nocookie_line_9'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_10'| trans ({}, 'loading') }}<br /></div>
                <div class="msg">{{ 'nocookie_line_11'| trans ({}, 'loading') }}<br />{{ 'nocookie_line_12'| trans ({}, 'loading') }}</div>
                <div style="margin: 1em 0 .5em;line-height: 1.25;font-weight: bold;font-size: 1.5em;">{{ 'thank_you'| trans ({}, 'loading') }}</div>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        var showingCookieDialog = false;
        $(function() {
            document.cookie = 'ck=1';
            var cookie = document.cookie;
            if(cookie){
                loading = true;
            }
            else {
                showingCookieDialog = true;
                loading = false;
                bootbox.dialog({
                    title: 'Please enable cookies',
                    message: jQuery('#nocookie').html(),
                    closeButton: false,
                    size: 'medium',
                    buttons : {
                        ok: {
                            label: 'Ok',
                            callback: function() {
                                this.modal('hide');
                            }
                        }
                    }
                });
            }
        });
    </script>

    {% if error is defined and error == 1 %}
        <script type="text/javascript">
            $(function(){
                if (!showingCookieDialog) {
                    bootbox.dialog({
                        title: '{{ data.title }}',
                        message: '{{ data.message | raw }}',
                        closeButton: false,
                        size: 'medium',
                        buttons : {
                            ok: {
                                label: 'Ok',
                                callback: function() {
                                    this.modal('hide');
                                }
                            }
                        }
                    });
                }
            });
        </script>
    {% else %}

        {% set plan = app.session.get('plan') %}
        {% set layout = plan['interfaceLayout'] ? plan['interfaceLayout'] : 'side' %}
        {% set request = app.session.get('REQUEST') %}
        {% set logos = plan['logos'] %}
        <div id="spe-container" class="navbar navbar-inverse" style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div id="header">
                    {% if logos | length == 0 and app.session.get('rkp').rkp == 'educate' %}
                        <div class="header-plan-name header-cell banner col-sm-12">{{ plan['name'] }}</div>
                    {% endif %}
                    {% if logos | length == 1 %}
                        {% set logo = logos[0] %}
                        <div class="header-cell col-sm-4">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                    {% endif %}
                    {% if logos | length == 2 %}
                        {% set logo = logos[0] %}
                        <div class="header-cell col-sm-6">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                        {% set logo = logos[1] %}
                        <div class="header-cell col-sm-6 text-right">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                    {% endif %}  
                    {% if logos | length == 3 %}
                        {% set logo = logos[0] %}
                        <div class="header-cell col-sm-4">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                        {% set logo = logos[1] %}
                        <div class="header-cell col-sm-4 text-center">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                        {% set logo = logos[2] %}
                        <div class="header-cell col-sm-4 text-right">{% include "SpeAppBundle:Layout:displaylogo.html.twig" %}</div>
                    {% endif %}                     
                </div>
            </div>

            <div id="container-main">
                {% if layout != 'bottom' %}
                    <div class="{{ layout == 'top' ? 'col-sm-12' : 'col-sm-3' }} no-padding">
                        {% include 'SpeAppBundle:Layout:header.html.twig' %}
                    </div>
                {% endif %}

                <div class="{{ layout == 'side' ? 'col-sm-9' : 'col-sm-12' }} no-padding fillH">
                    <div class="content-block">
                        <div class="disclosure" style="display:none">
                            <div class="bar"><span>{{ 'disclosures' | trans ({}, 'global') }}</span><span class="button" id="disclosure-close">{{ 'close' | trans ({}, 'global') }}</span> </div>
                            <div style="display: block;" class="disclosure-text">
                                <p></p>
                            </div>
                        </div>
                        <div style ="background-color:#5e5e5e;color:white;text-align:right;padding-right:5px" id="customHeader" style="display:none"></div>
                        <div class="loader" style="display:block;"><div class="loader-inner"><img src="{{ asset('spe/images/global/ajax-loader.gif') }}" alt="loading"></div></div>
                        <div class="content-area">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% if layout == 'bottom' %}
                    <div class="col-sm-12 no-padding">
                        {% include 'SpeAppBundle:Layout:header.html.twig' %}
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            {% include 'SpeAppBundle:Layout:footer.html.twig' %}

            <div class="row">
                <div id="bottom-logos">
                    {% if plan['providerLogoImage'] != '' %}
                        <div class="header-cell text-center {{ plan['bannerImage'] == '' ? 'col-sm-6' : 'col-sm-4' }}"><img src="{{ plan['providerLogoImage']  }}" alt="Provider logo" /></div>
                    {% endif %}
                    {% if plan['sponsorLogoImage'] != '' %}
                        <div class="header-cell text-center {{ plan['providerLogoImage'] == '' and plan['bannerImage'] == '' ? 'col-sm-12' : (plan['bannerImage'] == '' ? 'col-sm-6' : 'col-sm-4') }}"><img src="{{ plan['sponsorLogoImage']  }}" alt="Sponsor logo" /></div>
                    {% endif %}
                    {% if plan['bannerImage'] != '' %}
                        <div class="header-cell text-center banner col-sm-4" style="float:none"><img src="{{ plan['bannerImage']  }}" alt="Banner image" /></div>
                    {% elseif plan['sponsorLogoImage'] == '' and plan['bannerImage'] == '' and app.session.get('rkp').rkp == 'educate' %}
                        <div class="header-plan-name header-cell banner col-sm-6 text-center" style="float:none;">{{ plan['name'] }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
        <div id="blank"></div>

        {% include 'SpeAppBundle:Template:template.html.twig' %}

        {% if request['server'] is defined and request['server'] == 1 %}
            <select id="ips"></select>
            <script>ips.push('{{ app.request.server.get('SERVER_ADDR') }}');</script>
        {% endif %}

		{% include 'SpeAppBundle:Layout:timeout.html.twig' %}

    {% endif %}

{% endblock %}
