<!-- Timeout Modal -->
<div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ 'timeout_title' | trans ({}, 'global') }}</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default action" rel="Cancel" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
				<button type="button" class="btn btn-primary action" rel="Proceed" aria-label="Proceed">{{ 'proceed' | trans ({}, 'global') }}</button>
			</div>
		</div>
	</div>
</div>
