
<script>
    var qdiaUrl = "{{ path ('_plans_investments_qdia') }}";
    var failedFundValidationMessage = "Ticker must be filled";
    var failedPortfolioValidationMessage = "Name must be filled";
    if (pagetype == "settings")
    {
        var fundsTable = "defaultFunds";
        var portfoliosTable = "defaultPortfolios";
        var templatePath = "SettingsSettingsBundle:Investments:Search/";
        var deleteFundUrl = "{{ path('_settings_investments_fund_deleted' ) }}";
        var deletePortfolioUrl = "{{ path('_settings_investments_portfolio_deleted' ) }}";
        var saveGroupId = "{{ path('_settings_investments_saveGroupId') }}";
    }
    if (pagetype == "plans")
    {
        var fundsTable = "plansFunds";
        var portfoliosTable = "plansPortfolios";
        var templatePath = "PlansPlansBundle:Investments:Search/";
        var deleteFundUrl = "{{ path('_plans_investments_fund_deleted' ) }}";
        var deletePortfolioUrl = "{{ path('_plans_investments_portfolio_deleted' ) }}";
        var saveGroupId = "{{ path('_plans_investments_saveGroupId') }}";
    }

    function reorderfunds()
    {
        var name =$("#addfundname").val();
        var ticker =  $("#addfundticker").val();
        var link = $("#addfundlink").val();
        var fundid = $("#addfundid").val();

        if (pagetype == "settings")
        var page = "{{ path('_settings_investments_fund_add_reorder') }}";

        if (pagetype == "plans")
        var page = "{{ path('_plans_investments_fund_add_reorder') }}";

        var  querystring = "name=" + name + "&ticker=" + ticker + "&link=" + link + "&groupValueId=" + $("#addFund").find("[name=groupValueId]").val() + "&fundid=" + fundid;
        if (!validateFund(name,ticker))
        {
            alert(failedFundValidationMessage);
        }
        else
        {
            $.post(page, querystring).done(function(data) 
            {
                $("#addfundname").val("");
                $("#addfundticker").val("");
                $("#addfundlink").val("");
                $("#addFund").find("[name=groupValueId]").val(0);
                $("#addfundid").val("");
                reloadFundList();
            });
        }
    }

    function reorderportfolios()
    {
        if (pagetype == "settings")
        var page = "{{ path('_settings_investments_portfolio_add_reorder') }}";
        if (pagetype == "plans")
        var page = "{{ path('_plans_investments_portfolio_add_reorder') }}";
        var name = $("#addportfolioname").val();
        var querystring = "name=" + name + "&customid=" + $("#customid").val();
        if (!validatePortfolio(name))
        {
            alert(failedPortfolioValidationMessage);
        }
        else
        {
        $.post(page, querystring).done(function(data) 
        {
            $("#addportfolioname").val("");
            $("#customid").val("");
            reloadPortfolioList();
        });    
        }
    }

    function reloadFundList()//after finished saving, reload the fund list
    {
        closeLightBox();
        if (fundsTable == "defaultFunds")
        defaultFundsTable.fnDraw();
        if (fundsTable == "plansFunds")
        plansFundsTable.fnDraw();
    }
    function reloadPortfolioList()
    {
        closeLightBox();
        if (portfoliosTable == "defaultPortfolios")
        defaultPortfoliosTable.fnDraw();
        if (portfoliosTable == "plansPortfolios")
        plansPortfoliosTable.fnDraw();
    }
    function changeFundDisplay(checked,id)
    {
        if (checked)
        $("#fundDisplay" + id).val(1);
        else
        $("#fundDisplay" + id).val(0);
        updatetable(fundsTable,'fundDisplayForm' + id,'id');
    }
    function deletePortfolio(id)
    {
        var page =  deletePortfolioUrl;
        var querystring = "id=" + id;
           
        $.post(page, querystring).done(function(data) 
        {
            reloadPortfolioList();
        });  
    }
    function deleteFund(id)
    {
        var page =  deleteFundUrl ;
        var querystring = "id=" + id;
        $.post(page, querystring).done(function(data) 
        {
            if (data == "deleted") 
            reloadFundList();
            else //error
            {
                $("#deleteFundPanel").hide();
                $("#deleteFundPanelError").show();
                $("#deleteFundPanelError").html(data);
            }
        });        
    }
    $( "#selectFundGroup" ).submit(function( event )
    {
        event.preventDefault();   
        var querystring = $(this).serialize();
        $.post(saveGroupId, querystring).done(function(data) 
        {
            modalMessage("Saved");
            setTimeout
            (
                function()
                {
                    window.location = ""; 
                }, 1000
            );
        });
    });
    function validateFund(name,ticker)
    {
        return (ticker != "");
    }
    function validatePortfolio(name)
    {
        return (name != "");
    }
    function editFund(fundTable)
    {
        if (!validateFund($("#editFundName").val(),$("#editFundTicker").val()))
        {
            alert(failedFundValidationMessage);
        }
        else
        {
            updatetable(fundTable,'editfund','id',reloadFundList);
        }
    }
    function editPortfolio(portfolioTable,id,portfolioid)
    {
        if (!validatePortfolio($("#portfolio_name" + portfolioid).val()))
        {
            alert(failedPortfolioValidationMessage);
        }
        else
        {
            updatetable(portfolioTable,id,'id');
        }
    }
    
</script>
