<script>
  function loadfundlist()
  {
  
  }
  function retrieveids()
  {
    var querystring = "";
    var extract_html =   $("#fundlist").html();
    var extract_html = $("#fundlist").html().split("*seperator*");
    var elements = new Array();
    for (i = 1,j=0; i < extract_html.length; i = i + 2,j++)
    elements[j] = extract_html[i];
    for (i = 0; i < elements.length; i++)
    if (i == 0)
    querystring = "ids=" + elements[i];
    else
    querystring = querystring + "," + elements[i];
    if ($("#investmentdefault").is(":checked"))
    querystring = querystring + "&searchtype=" + $("#fundlistsearchtype").val();
    if (pagetype == "settings")
    var page  = "{{ path('_settings_investments_fundreorder_save') }}";
    if (pagetype == "plans")
    var page  = "{{ path('_plans_investments_fundreorder_save') }}";
    $.post(page, querystring).done(function(data) 
    {

    });
  }

  function enabledefault()
  {
    var value =    $("#fundlistsearchtype option:selected").index();
    if (value != 0)
    {
      $("#investmentdefault").prop("checked",true);
      $("#investmentdefault").prop("disabled",false);
    }
    else
    {
      $("#investmentdefault").prop("checked",false);
      $("#investmentdefault").prop("disabled",true);
    }
  }

  $(document).ready(function() 
  {

    $( "#fundlist" ).sortable(
    {
      revert: true,
      change: function()
      {
        $("#investmentdefault").prop("checked",false);
        $("#investmentdefault").prop("disabled",true)
      }
    });
  });
</script>