{% if writeable %}
{%  if riskcounter > 0 %}
<div id = "associate-loading-icon"></div>
<div id = "additionalContent">
<h4>Select a Risk Type</h4>
<select class="form-control" id = "riskType">
{% for riskTypeEntry in riskTypes %}
<option value = "{{ riskTypeEntry.value }}" {% if riskTypeEntry.value == riskType  %}selected{%  endif  %} >{{ riskTypeEntry.title}}</option>
{% endfor %}
</select>
{%  endif  %}

<hr/>
<button type = "button" onclick = "associate('{{ currentplan.activePlanid }}','{{ currentplan.activePlantypecd }}')" class="btn btn-success"  >Generate Investments</button>
</div>
{% endif %}