<div class="risk-profile-group{% if riskProfileChecked == "" %} inactive{% endif %}" id = "{{ riskProfileActiveName }}group" >
  <div class="checkbox">
    <label for="active-risk-profiles">
      <input  type="checkbox" {% if not writeable %}disabled{% endif %} id = "{{ riskProfileActiveName }}"  name = "{{ riskProfileActiveName }}" {{ riskProfileChecked }} onclick = "riskProfileToggle('{{ riskProfileActiveName }}group')" />
      <strong>{{ sectionDescription }}</strong>
    </label>
  </div>
  <div class="sortable profile-landing-area" id="{{ sectionInvestmentsId }}">
    {% for investment in investments %}
    {{ include('PlansPlansBundle:Associate:investmentlist.html.twig') }}
    {% endfor %}
  </div>
</div>
<div id = "sectionButtonDiv{{ sectionInvestmentsId }}"  style = "display:none"><button type="button" class="btn btn-success" onclick = "save()">Save</button></div>





