<form role="form" id="plan-scoring" method="post" action="">
<div class="row">
  <div class="col-md-6" id = "inactiveInvestments">
    <div id="investments">
      <h3>Investments</h3>
      {% if addRiskBasedFunds %}
      {{ include('PlansPlansBundle:Associate:riskbasedadd.html.twig') }}
      {% endif %}
      <div class="sortable">
        {% for investment in nonassociatedInvestments %}
        {{ include('PlansPlansBundle:Associate:investmentlist.html.twig') }}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6" id="activeInvestments">
    <h3>Risk Profiles</h3>
    <p class="pull-right"><em>Scoring Range</em></p>

    {% set investments = conservativeInvestments %}
    {% set sectionDescription = "Conservative" %}
    {% set sectionInvestmentsId = "conservativeInvestments" %}
    {% set riskProfileActiveName = "riskProfileConservative" %}
    {% set riskProfileChecked = modules.riskProfileConservative %}
    {{ include('PlansPlansBundle:Associate:investmentsection.html.twig') }}

    {% set investments = moderatelyConservativeInvestments %}
    {% set sectionDescription = "Moderately Conservative" %}
    {% set sectionInvestmentsId = "moderatelyConservativeInvestments" %}
    {% set riskProfileActiveName = "riskProfileModeratelyConservative" %}
    {% set riskProfileChecked = modules.riskProfileModeratelyConservative %}
    {{ include('PlansPlansBundle:Associate:investmentsection.html.twig') }}

    {% set investments = moderateInvestments %}
    {% set sectionDescription = "Moderate" %}
    {% set sectionInvestmentsId = "moderateInvestments" %}
    {% set riskProfileActiveName = "riskProfileModerate" %}
    {% set riskProfileChecked = modules.riskProfileModerate %}
    {{ include('PlansPlansBundle:Associate:investmentsection.html.twig') }}

    {% set investments = moderatelyAggressiveInvestments %}
    {% set sectionDescription = "Moderately Aggressive" %}
    {% set sectionInvestmentsId = "moderatelyAggressiveInvestments" %}
    {% set riskProfileActiveName = "riskProfileModeratelyAggressive" %}
    {% set riskProfileChecked = modules.riskProfileModeratelyAggressive %}
    {{ include('PlansPlansBundle:Associate:investmentsection.html.twig') }}      

    {% set investments = aggressiveInvestments %}
    {% set sectionDescription = "Aggressive" %}
    {% set sectionInvestmentsId = "aggressiveInvestments" %}
    {% set  riskProfileActiveName = "riskProfileAggressive" %}
    {% set riskProfileChecked = modules.riskProfileAggressive %}
    {{ include('PlansPlansBundle:Associate:investmentsection.html.twig') }} 
             
  </div>
</div>
<hr />
</form>