
<p class="well well-lg"><span class="glyphicon glyphicon-info-sign"></span> Use the controls below to enable Risk Profiles and associate them with the appropriate Risk Based Investments by checking the box for each Risk Profile you wish to enable and dragging the appropriate Investments into the area below it.  {% if associate %}Investments marked in red are no longer valid and must be removed before associations can be saved. {% endif %}</p>
<hr />