{% if writeable %}
{%  set alertId = "riskbasedfundadd-alert" %}
{% set alertContent = "Risk Based Portfolio added" %}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<div id = "addRiskBasedFund">
<h4>Add Risk Based Investment</h4>
	<div class="row">
		<input type = "text" name = "planid" value = "{{ planid }}" style = "display:none" />
		<input type = "text" name = "userid" value = "{{ userid }}" style = "display:none" />
                <input type = "text" name = "profile" value = "ALL" style = "display:none" />
		<div class="col-md-8">	<input type = "text" class = "form-control" placeholder = "Risk Based Portfolio Name" name = "name" /></div>
		<div class="col-md-1">	<button class = "btn btn-info" onclick = "addform('plansRiskBasedFunds','addRiskBasedFund','',riskBasedFundsAlert)">Add</button></div>
		<div class="col-md-3"></div>
		<br/><br/>
	</div>
</div>
{% endif %}
