<h4>Risk Based Types</h4>
<form id = "investmentTypesForm">
	<table class = "table table-striped">
		<tr>
			<td><b>Name</b></td>
			<td><b>Enabled</b></td>
		</tr>
		

		{% for investmentType in riskBasedInvestmentsOff %}
		<tr>
			<td>
				{{ investmentType.description }}
			</td>
			<td>
				<input type = "checkbox" id = "{{ investmentType.name }}" {{ investmentType.checked }} {% if not writeable %}disabled{% endif %} />
			</td>
		</tr>
		{% endfor %}
		
	</table>
</form>
