<li class="list-group-item" value = "{{ portfolio.name }}" id = "port{{ portfolio.id }}">
    {{ portfolio.name }}<!--*id*{{ portfolio.id }}*id*--> 
    <div id = "score{{ portfolio.id }}">
      <span id = "minscore{{ portfolio.id }}">{{ portfolio.minscore }}</span>
      <= Score < <span id = "maxscore{{ portfolio.id }}">{{ portfolio.maxscore }}</span>
    </div>
    {% if writeable %}
    <div id = "changescore{{ portfolio.id }}" class = "{{ displayClassName }}">
      <a href = "javascript:changeScore('{{ portfolio.id }}')">Change Score</a>
    </div>
    {% endif %}
</li>