{% set editDocumentUrl = "_plans_documents_edit_document" %}
{% set deleteDocumentUrl = "_plans_documents_delete_document" %}
{% extends 'SharedDocumentsBundle:Default:Search/documentlist.html.twig' %}
