{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'PowerView'})) }}
<h2>Irio</h2>
<div class="row">
    <div class="col-md-6">
       <div style="position:relative;">
            <h4>Plan Sponsor HR Contact: <span class="infoTip-right">?</span></h4>
            <div class="form-help-box-right hide">
                Pulls from Provider API.  May be blank
            </div>
       </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fname">First Name
                        <input class="form-control" type="text" value="{{data.plansRkp.hrFirstName}}" id="fname" name="fname" readonly>
                    </label>
                </div>
                <div class="form-group">
                    <label for="email">Email
                        <input class="form-control" type="text" value="{{data.plansRkp.hrEmail}}" id="email" name="email" readonly>
                    </label>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lname">Last Name
                    <input class="form-control" type="text" value="{{data.plansRkp.hrLastName}}" id="lname" name="lname" readonly>  
                    </label>
                </div>
            </div>
        </div>
        <div style="position:relative;">
           <p><b>Plan Retirement Age:</b> <span class="infoTip-right">?</span></p>
           <div class="form-help-box-right hide">
               This is the plan's retirement age as specified in the plan document.
           </div>
        </div>
        <div class="form-group">
            <label for="retire">
                <input class="form-control" style="width:45px;" type="text" value="{{data.plansRkp.retirementAge}}" id="retire" name="retire" readonly>
            </label>
        </div> 
        <div style="position:relative;">
        <h4>Default Form Location: <span class="infoTip-right">?</span></h4>
            <div class="form-help-box-right hide">
                Pulls from provider API.  May be blank.
            </div>
        </div>
        <div class="form-group">
            <label for="flocation">
                <input class="form-control" type="text" value="{{ data.plansRkp.powerViewUrl  }}" id="flocation" name="flocation" style="width: 200% !important;" readonly>
            </label>

        </div>             
            
    </div>
    <div class="col-md-6">
        <h4>Provider Logo</h4>
        {% if data.plansRkp.logo != "" %}
        <img src ="{{ data.plansRkp.logo }}" />
        {% endif %}
    </div>
</div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}