<dl class="dl-horizontal">
    {% for key,value in record %}
        <dt>{{ key }}</dt>
        {% if key == 'data' %}
            <dd style="word-break:break-all;">
                <div style="margin-bottom:20px;">
                    <textarea id="xmlRawData" class="form-control" readonly style="width:100%;height:200px;font-family: monospace;">{{ value }}</textarea>
                </div>
                <button class="btn btn-default" onclick="copyXml();">Copy</button>
            </dd>
        {% else %}
            <dd style="word-break:break-all;">{{ value }}</dd>
        {% endif %}
    {% endfor %}
</dl>