{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'XML Log'})) }}
<style>
    #startDate,#endDate {z-index: auto;}
</style>
<form id="xmlRawSearchForm" action="{{ path('_manage_xml_raw_ui_search') }}" method="POST" style="margin-bottom:20px;">
    {% for key,field in fields %}
        {% if field.searchable %}
            {% if not field.isPulldown %}
            <div class="form-group">
                <label for="{{ key }}">{{ key }}</label>
                <input type="text" class="form-control" name="{{ key }}" id="{{ key }}">
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ key }}">{{ key }}</label>
                <select name="{{ key }}" id="{{ key }}">
                    <option value=""></option>
                    {% for item in field.options %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-xs-6">
            <label for="startDate">Start Date/Time</label>
        </div>
        <div class="col-xs-6">
            <label for="startDate">End Date/Time</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input required type="text" class="form-control" placeholder="Starting Date" name="startDate" id="startDate" autocomplete="off">
            <span class="input-group-addon">-</span>
            <input required type="text" class="form-control" placeholder="Ending Date" name="endDate" id="endDate" autocomplete="off">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-default">Clear</button>
</form>
    
<div class="table-responsive">
    <table id="xmlRawTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:1%">ID</th>
                <th style="width:1%">profileId</th>
                <th style="width:1%">connection</th>
                <th style="width:1%">action</th>
                <th style="width:1%">timestamp</th>
                <th style="width:1%">service</th>
                <th style="width:1%">application</th>
                <th>Data</th>
            </tr>
        </thead>
    </table>
</div>
<button class="btn btn-info" type="button" onclick="exportCsv();">
    Export to CSV
</button>
    
<script>
    $('#startDate').datetimepicker({ dateFormat: "yy-mm-dd" });
    $('#endDate').datetimepicker({ dateFormat: "yy-mm-dd" });

    $('#connection').change(function() {
        var params = { connectionType: $(this).val() };
        var page = "{{ path('_manage_xml_raw_ui_getServices') }}";
        $.post(page, params).done(function(data)
        {
            document.getElementById("service").innerHTML = "";
            $.each(JSON.parse(data), function(key, value) {
                var service = value.service;
                if (service === null) {
                    service = '';
                }

                $('#service').append('<option value="' +  service + '">' + service + '</option>')
            });

        });
    });
    
    var dataTable = $('#xmlRawTable').DataTable( 
    {
        "processing": true,
        "serverSide": true,
        "deferLoading": 0,
        "ajax": 
        {
            "url": "{{ path('_manage_xml_raw_ui_search') }}",
            "type": "POST",
            "data": function(d) {
                {% for key,field in fields %}
                d.{{ key }} = $("#{{ key }}").val();
                {% endfor %}
                d.startDate = $("#startDate").val();
                d.endDate = $("#endDate").val();
            }
        },
        "dom": 'rltip',
        columns: [
            {% for key,field in fields %}
            { 
                data: "{{ key }}",
                orderable: {{ field.orderable ? 'true' : 'false' }}
            },
            {% endfor %}
        ],
        "oLanguage":
        {
            "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />',
            "sEmptyTable": " "
        }
    });
    
    $("#xmlRawSearchForm").on("submit", submitSearch);
    
    function submitSearch(e) {
        e.preventDefault();
        dataTable.ajax.reload();
    }
    
    function copyXml() {
        var textarea = document.querySelector('#xmlRawData');
        textarea.focus();
        textarea.select();
        var successful = false;
        try {
            successful = document.execCommand('copy');
        } catch (err) { }
        if (!successful) {
            alert("Couldn't automatically copy the text, please manually copy");
        }
    }
    
    function exportCsv() 
    {
        $("#xmlRawSearchForm").off("submit");
        $("#xmlRawSearchForm").attr('target', '_blank');
        $("#xmlRawSearchForm").attr('action', '{{path('_manage_xml_raw_ui_search', {export:1})}}');
        $("#xmlRawSearchForm").submit();
        $("#xmlRawSearchForm").on("submit", submitSearch);
    }
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}