{% set url = path('_manage_kitchenSink_getPlansDataTables')  %}
{% set tablename = "plans" %}
{% set header = "<th>id</th><th>Name</th><th>Plan Id</th>" %}
<h3>Plan List</h3>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}



