{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Email Campaign'})) }}
{{ include('ManageManageBundle:Outreach:campaigns/css.html.twig') }}
{% set loaderImage = asset('images/load-icon.gif') %}
<a href ="{{ path('_manage_campaigns_listcampaigns') }}">Campaign List</a>
<div id ="ajaxContainer" style = "margin-top:10px">
    <div class="campaign-container col-lg-12">
        <div class="col-lg-12 tab-wrapper">
            <ul class="anchor">
                <li>
                    <a data="one" id="stepone">
                    <label class="stepNumber">1</label>
                    <span class="stepDesc">campaign type</span>
                    </a>
                </li>
                <li>
                    <a data="two" id ="steptwo">
                    <label class="stepNumber">2</label>
                    <span class="stepDesc">settings</span> 
                    </a>
                </li>
                <li>
                    <a data="three" id="stepthree">
                    <label class="stepNumber">3</label>
                    <span class="stepDesc">content</span> 
                    </a>
                </li>
                <li>
                    <a data="four" id="stepfour">
                    <label class="stepNumber">4</label>
                    <span class="stepDesc">Test Email</span>
                    </a>
                </li>
                <li>
                    <a data="five" id="stepfive">
                    <label class="stepNumber">5</label>
                    <span class="stepDesc">schedule</span>
                    </a>
                </li>
                <li >
                    <a data="next" >                   
                    <div >
                        <label class="stepNumber">></label>
                        <span class="stepDesc">Next</span>
                    </div>
                    </a>                                      
                </li>
            </ul>     
        </div>
        <div class="form-wrap">
            <div class="forms-container col-lg-12 one">
                <h4>Step 1: Campaign Type</h4>
                <div class="col-lg-5 forms-left">
                    <p>Please choose the campaign type: <span class="infoTip">?</span></p>
                    <div class="form-help-box hide"></div>
                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        <select id="campaignType" onchange = "showMailEngines(this.value)" {% if edit == 1 %}disabled style ="background-color:#EEE"{% endif %} >
                        <option value = "">- Choose one</option>
                        {% for key,value in campaignTypes %}
                        <option value = "{{key}}" {{value.selected }} >{{value.name }}</option>
                        {% endfor %}
                        </select>
                    </p>
                </div>
                {% for key,value in campaignTypes %}
                <div id ="{{key}}" style = "display:{{value.display}}">
                    <div class="col-lg-5 forms-left">
                        <p>Mail Engine type: <span class="infoTip">?</span></p>
                        <div class="form-help-box hide"></div>
                    </div>  
                    <div class="col-lg-7 forms-right">
                        <select id ="mailEngine" onchange ="$('#campaignsmailEngine').val(this.value)"  {% if edit == 1 %}disabled style ="background-color:#EEE"{% endif %}/>
                            <option value = "">Pick for me</option>
                            {% for key2,value2 in mailEngineTypes[key] %}
                            <option value ="{{key2}}" {{ value2.selected }} >{{ value2.name }}</option>    
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endfor %}
        
            </div>
            <div class="forms-container col-lg-12 hide two">
                <form id ="createCampaign">
                <h4>Step 2: Create Campaigns</h4>

                {% for section in sections %}
                {% if section.type == "select" or section.type == "select not required" %}
                {{ include('ManageManageBundle:Outreach:campaigns/selectbox.html.twig') }}
                {% elseif section.type == "text" or section.type == "text not required"%}
                {{ include('ManageManageBundle:Outreach:campaigns/textinput.html.twig') }}
                {% elseif section.type == "hidden"%}
                <input type="text" placeholder="{{ section.description }}" id = "campaigns{{ section.name}}" name = "{{section.name}}" value ="{{section.value }}" style ="display:none" />
                {% endif %}
                {% endfor %}            
                {% if edit == 1 %}
                <input type ="text" name ="id" id ="campaignsid" value ="{{id}}" style ="display:none"  />   
                {% endif %}

                <div class="col-lg-5 forms-left">

                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        {% if edit == 0 %}
                        <button type="submit" class="btn btn-primary" id ="campaignSavedButton">Create Campaign</button>
                        {% else %}
                        <button type="submit" class="btn btn-success" id = "campaignSavedButton">Save Campaign</button>
                        {% endif %}
                        <div id ="campaignSavedButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>
                    </p>
                </div>  
                </form>
            </div>
            <div class="forms-container col-lg-12 hide three">
                <h4>Step 3: Upload List</h4>

                <div class="col-lg-5 forms-left">
                    <p>File to Upload: <span class="infoTip">?</span></p>
                    <div class="form-help-box hide"></div>
                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        <input type="file" id="csvFile" placeholder="Select No File Chosen">
                    </p>
                </div>
                <div class="col-lg-5 forms-left">

                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                    <button type="submit" class="btn btn-primary" id="csvUpload">CSV Upload</button>
                    <div id ="csvUploadLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>
                    </p>
                </div>
                <div class="col-lg-12">
                    <textarea id="campaignshtml">
                        {{ campaign.html }}
                    </textarea>
                    <br>
                    <br>
                    <button class ="btn btn-success" onclick = "saveCampaignHtml()" id ="campaignHtmlButton">Save</button>
                    <div id ="campaignHtmlButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>

                    <br/><br/>
                    <hr/>
                    {{ render(controller('ManageManageBundle:Outreach:assetManagerEmbeded')) }}
                    <br/><br/>
                </div>

            </div>
            <div class="forms-container col-lg-12 hide four">
                <h4>Step 4: Test Campaigns</h4>

                <div class="col-lg-5 forms-left">
                    <p>Emails: <span class="infoTip">?</span></p>
                    <div class="form-help-box hide"></div>
                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        <textarea rows="7" cols="44" id ="emails"></textarea>
                    </p>
                </div>
                <div class="col-lg-5 forms-left">

                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                    <button type="submit" class="btn btn-primary"  onclick = "sendEmail()" id ="sendTestEmailButton" >Send Test Campaign</button>
                    <div id ="sendTestEmailButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>
                    </p>
                </div>             
            </div>
            <div class="forms-container col-lg-12 hide five">
                <h4>Step 5: Send Campaign</h4>
                <div class="col-lg-5 forms-left">   
                    Review
                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        <a href = "javascript:previewUsers()" >Preview Users</a><br/>
                        <a href = "javascript:previewTemplate()" >Preview Template</a><br/>
                        <a href = "javascript:previewProperties()" >Preview Properties</a>
                        <div id ="previewUsersLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>

                    </p>
                </div> 
                <div class="col-lg-5 forms-left">
                    <p>Send Method: <span class="infoTip">?</span></p>
                    <div class="form-help-box hide"></div>
                </div>
                <div class="col-lg-7 forms-right">
                    <p>
                        <select onchange = "sendCampaignSection(this.value)" id = "campaignOperations">
                            <option value = "">- Choose one</option>
                            <option value = "sendCampaignDiv">Send Campaign</option>
                            <option value = "scheduleCampaignDiv">Schedule Campaign</option>
                            <option value = "cancelCampaignDiv">Cancel Campaign</option>
                        </select>
                        
                        <div id ="sendCampaignDiv" style = "display:none">
                            <button type ="button" class ="btn btn-primary" onclick ="sendCampaign()" id ="sendCampaignButton" >Send Campaign</button>
                            <div id ="sendCampaignButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>

                        </div>
                        <div id ="scheduleCampaignDiv" style = "display:none">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Date</strong>
                                    <input id ="scheduleCampaignDate" id ="text" class ="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <strong>Time</strong>
                                    <input id ="scheduleCampaignTime" id ="text" class ="form-control" />
                                </div>
                                <div class "col-md-6">
                                </div>
                            </div>
                            <br/>
                            <button type ="button" class ="btn btn-primary" onclick ="scheduleCampaign()" id ="scheduleCampaignButton" >Schedule Campaign</button>
                            <div id ="scheduleCampaignButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>
                        </div>
                        <div id ="cancelCampaignDiv" style = "display:none">
                            <button type ="button" class ="btn btn-warning" onclick ="cancelCampaign()" id ="cancelCampaignButton" >Cancel Campaign</button>
                            <div id ="cancelCampaignButtonLoader" style = "display:none"><img src = "{{ loaderImage }}" /></div>
                        </div>                    
                    </p>
                </div>                
            </div>
        </div>
    </div>
    <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
    var templateid = $("#campaignstemplateid").val();
    {% if edit == 0 %}
    var navigations = Array("one","two");
    {% else %}
    var navigations = Array("one","two","three","four","five");
    
    {% endif %}
    $(document).ready(function () 
    {
        {% if edit == 1%}
        navigate("three",$("#stepthree"));
        {% endif %}
        $('#scheduleCampaignDate').datepicker({dateFormat: "yy-mm-dd"});
        $('#scheduleCampaignTime').timepicker({timeFormat: 'HH:mm:ss', interval: 15});
        $('#csvUpload').click(function()
        {
            var fileName = $("#csvFile").prop("files")[0]["name"];
            var fileContent = $("#csvFile").prop("files")[0];
            var form_data = new FormData();
            var button = "csvUpload";
            form_data.append("fileContent", fileContent);
            form_data.append("campaignid",$('#campaignsid').val());
            if (fileName != "") 
            {
               loadAjax(button);

               $.ajax(
                {
                   method: "POST",
                   url: "{{path('_manage_campaigns_createlist')}}",
                   data: form_data,
                   contentType: false,
                   processData: false
               })
               .done(function (data) 
                {
                    //console.log(data);
                    ajaxLoaded(button);

                    modalMessage("Email list uploaded");
                }).fail(function(data) 
                  {
                    showError(button,data);
                  });
            } 
        });

        $('.anchor a').click(function()
        {
            var theTab = $(this).attr('data');
            navigationCampaign(theTab,$(this));
        });


        var listItem = document.getElementsByClassName('form-help-box');

        $(document).on('mouseover', '.infoTip', function()
        {
            var index = $('.infoTip').index(this);
            $(listItem[index]).removeClass('hide');
        });


        $(document).on('mouseout', '.infoTip', function()
        {
            var index = $('.infoTip').index(this);
            $(listItem[index]).addClass('hide');
        });            

        $("#campaignstemplateid").change(function()
        {
            if ( $("#campaignstemplateid").val().indexOf("category") === -1 &&  $("#campaignstemplateid").val() !== "")
            templateid = $("#campaignstemplateid").val();
            else
            templateid = 0;
            
        });
        
        /*
        $(document).bind("input propertychange", "#campaignshtml", function()
        {
            alert('TEST');
        });
        */
        $( "#createCampaign" ).submit(function( event ) 
        {
            event.preventDefault();
            if ($("#campaignsplanid").val() != "")
            {
            var querystring = $( "#createCampaign" ).serialize();
            var page = "{{path('_manage_campaigns_createcampaign_saved') }}";
            var button = "campaignSavedButton";
            loadAjax(button);
            
            $.post(page, querystring).done(function(data) 
            {
                //ajaxLoaded(button);
                querystring = "id=" + data;
                page = "{{path('_manage_campaigns_createcampaign_edit') }}";
                window.location = page + "?" + querystring;
            }).fail(function(data) 
              {
                showError(button,data);
              });
            }
            else
            modalMessage("A Plan must be chosen");
        });
    });       
    function selectPlan()
    {
        if (templateid != 0)
        ajaxModal( "{{ path('_manage_outreach_new_preview_form') }}?id=" + templateid +"&campaignpreview=1&userid=" + $("#campaignsuserid").val(),"Preview","large");
        else
        modalMessage("Template must be selected");
    }
    function togglePages(tabId)
    {
        var tab = tabId;
        $('.forms-container').addClass('hide');
        $('.'+ tab +'').removeClass('hide');
    }
    function showMailEngines(id)
    {
        {% for key,value in campaignTypes %}
         $("#{{key}}").hide();       
        {% endfor %}  
        if (id != "")
        $("#" + id).show();
    }
    function navigate(tab,object)
    {
        
        togglePages(tab);
        $('.anchor a').css('background-color', '#c4c4c4');
        object.css({'background-color' : '#f8f8f8', 'border-bottom' : 'none'}); 
    }
    
    function saveCampaignHtml()
    {
        var html = "<html><head>" +tinyMCE.get('campaignshtml').getContent({ format: "raw"}) +"</head></html>";
        var querystring = "id=" + $("#campaignsid").val() + "&html=" + encodeURIComponent(html) + "&mailEngine=" + $("#mailEngine").val();
        var page = "{{path('_manage_campaigns_createcampaign_saved') }}";
        var button = "campaignHtmlButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Saved");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function sendEmail()
    {
        var querystring = "id=" + $("#campaignsid").val() + "&emails=" + $("#emails").val();
        var page = "{{path('_manage_campaigns_createcampaign_sendTest') }}";
        var button = "sendTestEmailButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Emails Sent");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function sendCampaignSection(value)
    {
        var options = $('#campaignOperations option');
        for (var i = 0; i < options.length; i++)
        if (options[i].value != "")
        $("#" + options[i].value).hide();
        $("#" + value).show();
    }
    function previewUsers()
    {
        ajaxModal('{{path('_manage_campaigns_listusers') }}?id=' + $("#campaignsid").val(),'List Users','large',false,loadUsers,hideUsers);
        
    }
    function sendCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val();
        var page = "{{path('_manage_campaigns_sendCampaign') }}";
        var button = "sendCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Campaign Sent");
            //setTimeout(function(){ returnToCampaignList() }, 3000);
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
        
    }
    function returnToCampaignList()
    {
        window.location = "{{ path('_manage_campaigns_listcampaigns') }}";
    }
    function scheduleCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val() + "&scheduledTime=" + $('#scheduleCampaignDate').val() + " " + $('#scheduleCampaignTime').val();
        var page = "{{path('_manage_campaigns_sendCampaign') }}";
        var button = "scheduleCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Campaign Scheduled");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function cancelCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val();
        var page = "{{path('_manage_campaigns_cancelCampaign') }}";
        var button = "cancelCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            if (parseInt(data) === 1)
            modalMessage("Campaign Cancelled");
            else
            modalMessage("Campaign Failed to Cancel");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }    
    function loadAjax(buttonid)
    {
        $("#" + buttonid).hide();
        $("#" + buttonid +"Loader").show();
    }
    function ajaxLoaded(buttonid)
    {
        $("#" + buttonid).show();
        $("#" + buttonid + "Loader").hide();
    }
    function loadUsers()
    {
        $("#previewUsersLoader").show();
        
    }
    function hideUsers()
    {
        $("#previewUsersLoader").hide();
    }
    function showError(button,data)
    {
        ajaxLoaded(button);
        console.log(data.responseText);
        modalMessage("An error occurred");
    }
    function previewTemplate()
    {
        ajaxModal('{{path('_manage_campaigns_previewtemplate')}}?id='  + $("#campaignsid").val(),'Preview','large',true);
        
    }
    function previewProperties()
    {
        ajaxModal('{{path('_manage_campaigns_previewproperties')}}?id='  + $("#campaignsid").val(),'Preview');
        
    }
    function nextPage()
    {
        for (var i = 0; i < navigations.length; i++)
        {
            
            if (!$("." + navigations[i]).hasClass("hide"))
            {
                if (i+1 != navigations.length)
                navigate(navigations[i+1],$("#step" + navigations[i+1])); 
                break;
            }
        } 
    }

    function navigationCampaign(theTab,object)
    {
        if($('#campaignType').val() != "")
        {
            
            {% if edit == 0 %}
            if (theTab == "one" || theTab == "two")
            {
               navigate(theTab,object);
            }
            else if (theTab == "next")
            nextPage();
            else
            modalMessage("Campaign must be created before going to step " + theTab);
            {% else %}
            if (theTab == "next")
            nextPage();
            else
            navigate(theTab,object);   
            {% endif %}
        }
        else
        modalMessage("Campaign Type must be selected");          
    }
    
    tinymce.init({
      selector: '#campaignshtml',
      height: 500,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code',
        'template'
      ],
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

    });    

    </script>
</div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
