    {% autoescape false %}
    <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
    var templateid = $("#campaignstemplateid").val();
    $(document).ready(function () 
    {
        $('#scheduleCampaignDate').datepicker({dateFormat: "yy-mm-dd"});
        $('#scheduleCampaignTime').timepicker({timeFormat: 'HH:mm:ss', interval: 15});
        $('#csvUpload').click(function()
        {
            var fileName = $("#csvFile").prop("files")[0]["name"];
            var fileContent = $("#csvFile").prop("files")[0];
            var form_data = new FormData();
            var button = "csvUpload";
            form_data.append("fileContent", fileContent);
            form_data.append("campaignid",$('#campaignsid').val());
            if (fileName != "") 
            {
               loadAjax(button);

               $.ajax(
                {
                   method: "POST",
                   url: "{{path('_manage_campaigns_createlist')}}",
                   data: form_data,
                   contentType: false,
                   processData: false
               })
               .done(function (data) 
                {
                    //console.log(data);
                    ajaxLoaded(button);

                    modalMessage("Email list uploaded");
                }).fail(function(data) 
                  {
                    showError(button,data);
                  });
            } 
        });

        $('.anchor a').click(function()
        {
            if($('#campaignType').val() != "")
            {
                var theTab = $(this).attr('data');
                {% if edit == 0 %}
                if (theTab == "one" || theTab == "two")
                {
                   navigate(theTab,$(this));
                }
                else
                modalMessage("Campaign must be created before going to step " + theTab);
                {% else %}
                 navigate(theTab,$(this));   
                {% endif %}
            }
            else
            modalMessage("Campaign Type must be selected");

        });


        var listItem = document.getElementsByClassName('form-help-box');

        $(document).on('mouseover', '.infoTip', function()
        {
            var index = $('.infoTip').index(this);
            $(listItem[index]).removeClass('hide');
        });


        $(document).on('mouseout', '.infoTip', function()
        {
            var index = $('.infoTip').index(this);
            $(listItem[index]).addClass('hide');
        });            

        $("#campaignstemplateid").change(function()
        {
            if ( $("#campaignstemplateid").val().indexOf("category") === -1 &&  $("#campaignstemplateid").val() !== "")
            templateid = $("#campaignstemplateid").val();
            else
            templateid = 0;
            
        });
        
        /*
        $(document).bind("input propertychange", "#campaignshtml", function()
        {
            alert('TEST');
        });
        */
        $( "#createCampaign" ).submit(function( event ) 
        {
            event.preventDefault();
            var querystring = $( "#createCampaign" ).serialize();
            var page = "{{path('_manage_campaigns_createcampaign_saved') }}";
            var button = "campaignSavedButton";
            loadAjax(button);

            $.post(page, querystring).done(function(data) 
            {
                //ajaxLoaded(button);
                querystring = "id=" + data;
                page = "{{path('_manage_campaigns_createcampaign_edit') }}";
                window.location = page + "?" + querystring;
            }).fail(function(data) 
              {
                showError(button,data);
              });
        });
    });       
    function selectPlan()
    {
        if (templateid != 0)
        ajaxModal( "{{ path('_manage_outreach_new_preview_form') }}?id=" + templateid +"&campaignpreview=1","Preview","large");
        else
        modalMessage("Template must be selected");
    }
    function togglePages(tabId)
    {
        var tab = tabId;
        $('.forms-container').addClass('hide');
        $('.'+ tab +'').removeClass('hide');
    }
    function showMailEngines(id)
    {
        {% for key,value in campaignTypes %}
         $("#{{key}}").hide();       
        {% endfor %}  
        if (id != "")
        $("#" + id).show();
    }
    function navigate(tab,object)
    {
        togglePages(tab);
        $('.anchor a').css('background-color', '#c4c4c4');
        object.css({'background-color' : '#f8f8f8', 'border-bottom' : 'none'}); 
    }
    
    function saveCampaignHtml()
    {
        var html = "<html><head>" +tinyMCE.get('campaignshtml').getContent({ format: "raw"}) +"</head></html>";
        var querystring = "id=" + $("#campaignsid").val() + "&html=" + encodeURIComponent(html) + "&mailEngine=" + $("#mailEngine").val();
        var page = "{{path('_manage_campaigns_createcampaign_saved') }}";
        var button = "campaignHtmlButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Saved");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function sendEmail()
    {
        var querystring = "id=" + $("#campaignsid").val() + "&emails=" + $("#emails").val();
        var page = "{{path('_manage_campaigns_createcampaign_sendTest') }}";
        var button = "sendTestEmailButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Emails Sent");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function sendCampaignSection(value)
    {
        var options = $('#campaignOperations option');
        for (var i = 0; i < options.length; i++)
        if (options[i].value != "")
        $("#" + options[i].value).hide();
        $("#" + value).show();
    }
    function previewUsers()
    {
        ajaxModal('{{path('_manage_campaigns_listusers') }}?id=' + $("#campaignsid").val(),'List Users','large',false,loadUsers,hideUsers);
        
    }
    function sendCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val();
        var page = "{{path('_manage_campaigns_sendCampaign') }}";
        var button = "sendCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Campaign Sent");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
        
    }
    function scheduleCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val() + "&scheduledTime=" + $('#scheduleCampaignDate').val() + " " + $('#scheduleCampaignTime').val();
        var page = "{{path('_manage_campaigns_sendCampaign') }}";
        var button = "scheduleCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Campaign Scheduled");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }
    function cancelCampaign()
    {
        var querystring = "id=" + $("#campaignsid").val();
        var page = "{{path('_manage_campaigns_cancelCampaign') }}";
        var button = "cancelCampaignButton";
        loadAjax(button);
        $.post(page, querystring).done(function(data) 
        {
            modalMessage("Campaign Cancelled");
            ajaxLoaded(button);
        }).fail(function(data) 
        {
            showError(button,data);
        });
    }    
    function loadAjax(buttonid)
    {
        $("#" + buttonid).hide();
        $("#" + buttonid +"Loader").show();
    }
    function ajaxLoaded(buttonid)
    {
        $("#" + buttonid).show();
        $("#" + buttonid + "Loader").hide();
    }
    function loadUsers()
    {
        $("#previewUsersLoader").show();
        
    }
    function hideUsers()
    {
        $("#previewUsersLoader").hide();
    }
    function showError(button,data)
    {
        ajaxLoaded(button);
        console.log(data.responseText);
        modalMessage("An error occurred");
    }
    function previewTemplate()
    {
        ajaxModal('{{path('_manage_campaigns_previewtemplate')}}?id='  + $("#campaignsid").val(),'Preview','large',true);
        
    }
    function previewProperties()
    {
        ajaxModal('{{path('_manage_campaigns_previewproperties')}}?id='  + $("#campaignsid").val(),'Preview');
        
    }

    
tinymce.init({
  selector: '#campaignshtml',
  height: 500,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code',
    'template'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

});    

    </script>
    {% endautoescape %}