{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Campaigns'})) }}
<a href ="{{ path('_manage_campaigns_createcampaign') }}" class ="btn btn-info" ">Add Campaign</a>
<br/><br/>
{% set table = "campaigns" %}
{% set tablename = "campaigns" %}
{% set header = "<th>Id</th><th>Title</th><th>Account Id</th><th>Smartplan Id</th><th>Schedule/Sent Date</th><th>Tags</th><th>Actions</th>" %}
{% set template =  'ManageManageBundle:Outreach:campaigns/Search/campaigns.html.twig' %}
{% set types = "a.id,a.title,a.userid,a.planid,a.sentDate,a.tags" %}
{% set unsearchableArray = [6] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
