{% set httpmethod = "https" %}
<button class ="btn btn-primary" onclick = "exportReport()">Export</button>
<br/>
<img src ="{{ asset('images/load-icon.gif') }}" id="loaderStats" style ="display:none" />
<div id ="emailStats">
    <h3>Email Stats</h3>
    <table class ="table table-striped" >
        <thead>
            <tr>
                <th>
                    Sends
                </th>
                <th>
                    Unique Opens
                </th>
                <th>
                    Unique Clicks
                </th>
                <th>
                    Bounces
                </th>
                <th>
                    Unsubscribes
                </th>        
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ emailStats.delivered }}
                </td>
                <td>
                    {{ emailStats.opens.unique }}
                </td>
                <td>
                    {{ emailStats.clicks.unique }}
                </td>
                <td>
                    {{ emailStats.bounces }}
                </td>
                <td>
                    {{ emailStats.unsubscribes }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id ="emailGraph" style = "width:880px"></div>            
<script>
var emailGraphOptions;
var emailGraphString;
$(function () 
{   
    emailGraphOptions = {{ graphs.email.stringify | raw}};
    emailGraphString = '{{ graphs.email.stringify | raw}}'; 
    var emailGraph = $('#emailGraph').highcharts(emailGraphOptions);
});
</script>
<div id ="uiUxStats">
    <h3>UI/UX Stats</h3>
    <table class ="table table-striped" >
        <thead>
            <tr>
                <th>
                    Total
                </th>
                <th>
                    Watched Completely
                </th>
                <th>
                    Max Time Spent
                </th>
                <th>
                    Min Time Spent
                </th>
                <th>
                    Avg. Time Spent
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ landingStats.total }}
                </td>
                <td>
                    {{ landingStats.watched }}
                </td>  
                <td>
                    {{ landingStats.maxwatched  }}
                </td>            
                <td>
                    {{ landingStats.minwatched }}
                </td>
                <td>
                    {{ landingStats.avgwatched }}
                </td>             
            </tr>
        </tbody>
    </table>
</div>           
<div id ="landingGraph" style = "width:880px"></div>   
<div id ="landing2Graph" style = "width:880px"></div>   

<script>
var landingGraphString; 
var landing2GraphString;
$(function () 
{   
    var landingGraphOptions = {{ graphs.landing.stringify | raw}};
    landingGraphString = '{{ graphs.landing.stringify | raw}}'; 
    var landingGraph = $('#landingGraph').highcharts(landingGraphOptions);
    var landing2GraphOptions = {{ graphs.landing2.stringify | raw}};
    landing2GraphString = '{{ graphs.landing2.stringify | raw}}'; 
    var landing2Graph = $('#landing2Graph').highcharts(landing2GraphOptions);
});
</script>
<div id ="googleStats">
    <h3>Google Stats</h3>
    <table class ="table table-striped" >
        <thead>
            <tr>
                <th>
                   Sessions
                </th>
                <th>
                    Users
                </th>
                <th>
                    Pageviews
                </th>
                <th>
                    Pages/Session
                </th>
                <th>
                   Avg. Session Duration (per minute)
                </th>
                <th>
                   Avg. Session Duration for one page (per minute)
                </th>            
                <th>
                    Bounce Rate
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ gavisits.sessions }}
                </td>
                <td>
                    {{ gavisits.users }}
                </td>
                <td>
                    {{ gavisits.pageviews }}
                </td>
                <td>
                    {{ gavisits.pageviewsPerSession }}
                </td> 
                <td>
                    {{ gavisits.sessionDuration }}
                </td>  
                <td>
                    {{ gavisits.sessionDurationPerPage }}
                </td>  
                <td>
                    {{ gavisits.bounces }}
                </td>            
            </tr>
        </tbody>
    </table>
</div>
<div id ="googleGraph" style = "width:880px"></div>  
<div id ="google2Graph" style = "width:880px"></div> 
<script>
var googleGraphString;
var google2GraphString;
$(function () 
{   
    var googleGraphOptions = {{ graphs.google.stringify | raw}};
    googleGraphString = '{{ graphs.google.stringify | raw}}'; 
    var googleGraph = $('#googleGraph').highcharts(googleGraphOptions);
    var google2GraphOptions = {{ graphs.google2.stringify | raw}};
    google2GraphString = '{{ graphs.google2.stringify | raw}}'; 
    var google2Graph = $('#google2Graph').highcharts(google2GraphOptions);
    
});
</script>                                                      
<script>
function exportReport()
{      
    var data = setPngData(emailGraphString);
    var page ="{{ path('_manage_campaigns_get_stats_pdf') }}?";
    var exportUrl = '{{ httpmethod }}://export.highcharts.com/';
    $("#loaderStats").show();
    $.post(exportUrl, data, function(image) 
    {
        image = exportUrl + image;
        data = setPngData(landingGraphString);
        var querystring = "emailStats=" + $("#emailStats").html() + "&uiUxStats=" + $("#uiUxStats").html() + "&googleStats=" + $("#googleStats").html() + "&emailGraph=" + image;
        $.post(exportUrl, data, function(image) 
        {
            image = exportUrl + image;
            querystring = querystring + "&landingGraph=" + image;
            data = setPngData(landing2GraphString);
            $.post(exportUrl, data, function(image) 
            {
                image = exportUrl + image;
                querystring = querystring + "&landing2Graph=" + image;
                data = setPngData(googleGraphString);
                $.post(exportUrl, data, function(image) 
                {
                    image = exportUrl + image;
                    querystring = querystring + "&googleGraph=" + image;
                    data = setPngData(google2GraphString);
                    $.post(exportUrl, data, function(image) 
                    {
                        image = exportUrl + image;
                        querystring = querystring + "&google2Graph=" + image;
                        $("#loaderStats").hide();
                        //alert(querystring);
                        window.open(page + querystring);
                       
                    });
                });
            });
        });
    });
}   
</script>