<div class="col-lg-5 forms-left">
    <p>{{ section.description }}: <span class="infoTip">?</span></p>
    <div class="form-help-box hide">{{ section.help }}</div>
</div>
<div class="col-lg-7 forms-right">
    <p>
        <input type="text" placeholder="{{ section.description }}" id = "campaigns{{ section.name}}" name = "{{section.name}}" value ="{{section.value }}" {% if section.type == "text" %}required="required"{% endif %} />
    </p>
</div>
