{% if writeable is not defined %}
{% set writeable = true %}
{% endif %}
{% for adviser in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ adviser.id }},
	"{{ adviser.firstname }}",
	"{{ adviser.lastname }}",
	"{{ adviser.email }}"{% if writeable %},
	"<a href = \"{{ path('_settings_outreach_set_permissions') }}?adviserid={{ adviser.id }}\"><span class = \"glyphicon glyphicon-th-list\"></span></a>"{% endif %}
]
{% endfor %}




   
   
           
