{% for group in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ group.id }},
        "{{ group.name }}",
        "{{ group.tag }}",
        "{{ group.orderid }}",
        "
        <span class = \"glyphicon glyphicon-edit\" onclick =\"ajaxModal('{{path('_manage_funds_groups_edit_group') }}?id={{group.id}}','Edit Group')\"></span> 
        <span class = \"glyphicon glyphicon-remove\" onclick =\"ajaxModal('{{path('_manage_funds_groups_delete_group') }}?id={{group.id}}','Delete Group')\"></span>
        <span class = \"glyphicon glyphicon-list\" onclick =\"ajaxModal('{{path('_manage_funds_groups_list') }}?id={{group.id}}','List','large')\"></span>
        "
]
{% endfor %}

