<div id ="csvContent">
    <h3>{{ report.title}}</h3><br/>
    <table class = "table table-striped">
        {% set queries = report.queries %}
        {% for query in queries %}
        <tr>
            <td><b>{{query.name }} </b></td>
            <td>Unique Count: {{ query.participantqueryresult }}</td>
            <td>Total Count: {{ query.profilequeryresult }}</td>       
        </tr>
        {% endfor %}
    </table>
</div>
<button class ="btn btn-primary" onclick = "exportToCsv()">Export to csv</button>
<script>
function exportToCsv()
{
    var csvContent = "{{report.title }}\n";
    {% for query in queries %}
    csvContent = csvContent +"{{query.name }},{{ query.participantqueryresult }},{{ query.profilequeryresult }} \n";
    {% endfor %}

    downloadCsv(csvContent,'conversionReport.csv');
}
</script>