<script type="text/javascript"> 
$(document).ready(function(){    
        
        function savePowerView()
        {
            var elementString = "";
            var elements = $(".ctalist");
            for (var i = 0; i < elements.length;i++)
            if (elements[i].checked)
            {
                if (elementString != "")
                elementString = elementString + ",";
                elementString = elementString + elements[i].value;
            }
            
            
            var querystring ="type={{type}}&ctaids=" + elementString;
            var page = "{{ path('_plans_widget_save') }}";
            $.post(page, querystring).done(function(data) 
            {
                showalert('saved-alert');
            });       
            
        }
        
    $('.powerSave').click(function(){
        savePowerView();
    }); 
    
    function checkManage(){
        var elements = $(".ctalist");
        for (var i = 0; i < elements.length;i++)
        if (elements[i].checked)
        $(".image-" + elements[i].value).show();
        else
        $(".image-" + elements[i].value).hide();        
    }
    
    checkManage();
                
    $('.cbox').click(function(e){
        
        e.preventDefault();
        e.stopPropagation();
        
        var i        = $(this).attr('data');
        var image    = '.image-' + i;
        var checkBox = '.check-' + i;
        
        if($(checkBox).attr('checked') === 'checked'){
            $(image).hide();
            $(checkBox).attr('checked', false);
        }else{
            $(image).show();
            $(checkBox).attr('checked',true);            
        }
    });

});
</script>
