{% if contact is empty %}
    <div class="alert alert-danger" role="alert">Contact not found</div>
{% else %}
    <h3>{{ email }}</h3>
    <input type="hidden" id="contactId" name="contactId" value="{{ contact.vid }}">
    <input type="hidden" id="contactEmail" name="contactEmail" value="{{ email }}">
    <hr>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Contact Information</a></li>
            <li role="presentation"><a href="#emailEvents" aria-controls="emailEvents" role="tab" data-toggle="tab">Email Events</a></li>
            <li role="presentation"><a href="#listMemberships" aria-controls="listMemberships" role="tab" data-toggle="tab">List Memberships</a></li>
            <li role="presentation"><a href="#workflowMemberships" aria-controls="workflowMemberships" role="tab" data-toggle="tab">Workflow Memberships</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:20px;">
            <div role="tabpanel" class="tab-pane active" id="information">
                {% if contact.properties is defined %}
                    <table class="table table-condensed table-striped table-bordered">
                    {% for key,property in contact.properties %}
                        <tr>
                            <th>{{ key }}</th>
                            <td>{{ property.value }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="emailEvents">
                <div class="row">
                    {% for column in eventTypes|batch((eventTypes|length/4)|round(0,'ceil')) %}
                        <div class="col-sm-3">
                            {% for type in column %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="eventTypes[]" value="{{ type }}">
                                    {{ type }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" onclick="loadEmailEvents();">Search</button>
                <hr>
                <table class="table table-condensed table-striped table-bordered" id="emailEventsTable">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="listMemberships">
                <button class="btn btn-primary" onclick="loadListMemberships();">Show</button>
                <hr>
                <div id="listMembershipsContainer"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="workflowMemberships">
                <button class="btn btn-primary" onclick="loadWorkflowMemberships();">Show</button>
                <hr>
                <div id="workflowMembershipsContainer"></div>
            </div>
        </div>
    </div>
    <script>
        var dataTable = null;
        function loadEmailEvents() {
            if (dataTable !== null) {
                var table = $('#emailEventsTable').DataTable();
                table.ajax.reload();
                return;
            }
            dataTable = $('#emailEventsTable').DataTable({
                ajax: {
                    "url": '{{ path('_manage_hubSpotDiagnosticTool_getEmailEvents') }}',
                    "type": "POST",
                    "data": function(d) {
                        d.email = $('#contactEmail').val();
                        d.eventTypes = $('[name="eventTypes[]"]').serializeArray();
                    }
                },
                processing: true,
                language:
                {
                    processing: '<img src="{{ asset('images/load-icon.gif') }}" />'
                }
           });
        }
        
        function loadListMemberships() {
            var data = 'contactId=' + $('#contactId').val();
            $("#listMembershipsContainer").empty();
            $("#listMembershipsContainer").load('{{ path('_manage_hubSpotDiagnosticTool_getListMemberships') }}', data);
        }
        
        function loadWorkflowMemberships() {
            var data = 'contactId=' + $('#contactId').val();
            $("#workflowMembershipsContainer").empty();
            $("#workflowMembershipsContainer").load('{{ path('_manage_hubSpotDiagnosticTool_getWorkflowMemberships') }}', data);
        }
    </script>
{% endif %}
    