{% if workflowMemberships is empty %}
    <div class="alert alert-warning" role="alert">No workflow memberships founds</div>
{% else %}
<ul class="list-group">
    {% for list in workflowMemberships %}
    <li class="list-group-item">{{ list.name }}</li>
    {% endfor %}
</ul>
{% endif %}