{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Advice'})) }}
<style>
    #adviceTable tr td .btn-group { display: flex; }

    .btn-primary.hover {
        color: #fff;
        background-color: #114e72;
        border-color: #0d3953;
    }

    .small.hover {
        color: #0e3f5c;
        text-decoration: underline;
    }

</style>
{% if session.masterRoleType == "vwise_admin"%}
<button type ="button" onclick ="showAdviceXml()" class = "btn btn-primary">Test Advice Call</button>
<br/><br/>
<div id ="testplandiv"></div>
{% endif %}
<h2>Advice</h2>

<strong>Status:</strong>
{% if writeable %}
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {% if adviceStatus != "off" %}active{% endif %}">
            <input type="radio" name="toggleAdvice" autocomplete="off" {% if adviceStatus != "off" %}checked{% endif %} onchange="toggleAdvice();">
            {{ adviceStatus == 'pending' ? 'PENDING...' : 'ON' }}
        </label>
        <label class="btn btn-default {% if adviceStatus == "off" %}active{% endif %}">
            <input type="radio" name="toggleAdvice" autocomplete="off" {% if adviceStatus == "off" %}checked{% endif %} onchange="toggleAdvice();">
            OFF
        </label>
    </div>
{% else %}
    {{ adviceStatus | upper }}
{% endif %}
<div id = "advice-loading-icon"></div>

{% if recordkeeperAdviceFunds | length > 0 %} 

<h3>Fund Line-up</h3>
<div class="row">
    <div class="col-sm-8" style="margin-bottom:10px;">
        {% if totalActiveFunds > 0 %}<span class="text-muted">Last updated: {{ currentplan.adviceDate | date("F j, Y g:ia")}}</span>{% endif %}
        <button class="btn btn-sm btn-default" onclick="refreshAdviceFunds();">Refresh <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
    </div>
    <div class="col-sm-4 col-xs-6">
        <div>
        <button style="white-space: normal;" class="hover-btn btn btn-sm btn-primary btn-block" onclick="ajaxModal('{{ path('_plans_advice_notificationRecipients') }}', 'Get emailed when a fund line-up changes', 'large');"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Get Notified of Changes</button>
        <div class="text-center"><a class="hover-a small" href="javascript:ajaxModal('{{ path('_plans_advice_notificationRecipients') }}', 'Get emailed when a fund line-up changes', 'large');">Manage subscribers</a></div>
        </div>
    </div>
</div>

<div>
    <label class="btn btn-default" id="allOn">
        All On
    </label>
    <label class="btn btn-default" id="allOff">
        All Off
    </label>
</div>

<form action="" method="POST" id="adviceForm">
<table class="table table-striped" id="adviceTable">
	<thead>
		<tr>
			<th>Status</th>
			<th>Ticker (A-Z)</th>
			<th>CUSIP</th>
            <th>Description</th>
		</tr>  
	</thead>
	<tbody>
		{% for fund in recordkeeperAdviceFunds %}
		<tr class="{% if fund.presence == 'NEW' %}info{% elseif fund.presence == 'OLD' %}danger{% endif %}">
			<td>
                {% if fund.presence == 'OLD' %}
                    <input type = "text" readonly value ="Dropped" class="form-control" style="width:100px" /> <input type="hidden" name="adviceFunds[{{ fund.id  }}]" value="1"  />
                {% else %}
                {% if writeable %}
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn-on btn btn-default {% if fund.checked == "checked" %}active{% endif %}">
                            <input type="radio" name="adviceFunds[{{ fund.id  }}]" value="1" autocomplete="off" {% if fund.checked == "checked" %}checked{% endif %}> ON
                        </label>
                        <label class="btn-off btn btn-default {% if fund.checked != "checked" %}active{% endif %}">
                            <input type="radio" name="adviceFunds[{{ fund.id  }}]" value="0" autocomplete="off" {% if fund.checked != "checked" %}checked{% endif %}> OFF
                        </label>
                    </div>
                {% else %}
                    {{ fund.checked ? "ON" : "OFF" }}
                {% endif %}
                {% endif %}
			</td>
			<td>
				{{ fund.ticker }}
			</td>
			<td>
				{{ fund.cusip }}
			</td>
            <td>
                {{ fund.name }}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</form>

{% if adviceStatus == "on" or adviceStatus == "pending" and recordkeeperAdviceFunds is not null and writeable %}
<input type = "button" onclick = "submitAdviceFunds();" value = "Submit Funds" class="btn btn-primary" />
{% endif %}

{% endif %}
<script>
var adviceStatus = "{{ adviceStatus }}";

function toggleAdvice()
{
    var page = "{{ path('_plans_advice_update_advice') }}";

	var querystring = "planid={{ currentplan.planid }}";

	$.post(page, querystring).done(function(data) 
	{
		$("#advice-loading-icon").html('');
		window.location = "{{ path('_plans_advice') }}";
	});

  	$("#advice-loading-icon").html('Saving <img src = "{{ asset('images/load-icon.gif') }}" />');
}


function submitAdviceFunds()
{
	var page = "{{ path('_plans_advice_submit_advice_funds') }}";
	
	$.post(page, $("#adviceForm").serialize()).done(function(data) 
	{
        if (data === "saved") {
            window.location = "{{ path('_plans_advice') }}";	
        }
        else {
            alert("An error occured saving the fund selections");
        }
	});
}
function showAdviceXml()
{
    querystring = "";
    {% if currentuser.connectionType == "Relius" %}
    var recordkeeperurl = "{{ path('recordkeepers_relius_riskBasedFundsXML') }}?planid={{ currentplan.planid  }}";
    $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#testplandiv").html(data);
    });
    {% elseif currentuser.connectionType starts with "SRT" %}
    var recordkeeperurl = "{{ path('_recordkeepers_srt_advicedataxml') }}?planid={{ currentplan.activePlanid  }}";
    $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#testplandiv").html(data);
    });    
    {% endif %}
}

function refreshAdviceFunds() {
    var page = "{{ path('_plans_advice_refresh_advice_funds') }}";

	var querystring = "planid={{ currentplan.planid }}";

	$.post(page, querystring).done(function(data) 
	{
		$("#advice-loading-icon").html('');
		window.location = "{{ path('_plans_advice') }}";
	});

  	$("#advice-loading-icon").html('Saving <img src = "{{ asset('images/load-icon.gif') }}" />');
}

$('#allOn').click(function() {
    $('.btn-on').trigger('click');
});

$('#allOff').click(function() {
    $('.btn-off').trigger('click');
})

$('.hover-a').hover(
    function(){
        $('.hover-btn').addClass('hover');
    },
    function(){
        $('.hover-btn').removeClass('hover');
    }
);

$('.hover-btn').hover(
    function(){
        $('.hover-a').addClass('hover');
    },
    function(){
        $('.hover-a').removeClass('hover');
    }
);

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}