{% set pagename = "Plans - Documents" %}
{% set embedded = true %}
{% set templatePath = "PlansPlansBundle:Documents:Search/" %}
{% set documentTable = "plansDocuments" %}
{% if writeable %}
{% set template = "PlansPlansBundle:Documents:Search/documentlist.html.twig" %}
{% else %}
{% set template = "SharedDocumentsBundle:Default:Search/documentlistreadonly.html.twig" %}
{% endif %}
{% extends 'SharedDocumentsBundle:Default:index.html.twig' %}
{% block returnpage %}{{ path('_plans_documents') }}{% endblock %}


{% block additionalInputsForAddDocument %}<input type = "text" name = "planid"  value = "{{ documents.planid }}" style = "display:none" />{% endblock %}
