{% for ip in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ ip.id }},
	"{{ ip.ip }}",
    "<a href=\"javascript:ajaxModal('{{ path('_manage_API_whitelist_edit', {'id':ip.id}) }}','Edit')\" class=\"glyphicon_link\"><span class=\"glyphicon glyphicon-edit\" title=\"Edit\"></span></a><a href = \"javascript:deleteApiWhitelist('{{ ip.id }}')\" class=\"text-danger\"><span class=\"glyphicon glyphicon-remove-circle\" title=\"Delete\"></span></a>"
]
{% endfor %}