{{ include ('ManageManageBundle:ApiUI:index.html.twig', {'currentpage':"Whitelist"}) }}
<a href="javascript:ajaxModal('{{ path('_manage_API_whitelist_add') }}','Add')"><input type="button" value="Add IP" class="btn btn-info"></a>
<br><br>

{% set table = "ApiWhitelist" %}
{% set tablename = table %}
{% set types = "a.id,a.ip" %}
{% set header = "<th>Id</th><th>Ip</th><th>Action</th>" %}
{% set unsearchableArray = [2] %} 
{% set template = 'ManageManageBundle:ApiUI:ApiUIWhitelist/apiWhitelist.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div></div>
<script>
    function deleteApiWhitelist(id) {
        var page = "{{ path('_manage_API_whitelist_delete') }}";
        var querystring = "id=" + id;

        $.post(page, querystring).done(function(data) 
        {
            restartTableApiWhitelist();
        });
    }
    function submitApiWhitelist(form) {
        var page = "{{ path('_manage_API_whitelist_save') }}";
        var querystring = $(form).serialize();

        $.post(page, querystring).done(function(data) 
        {
            closeLightBox();
            restartTableApiWhitelist();
        });
        return false;
    }
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}