<script>
function submitInvestmentsScore() {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_scores_saved')}}',
        type: 'POST',
        data: $("#investmentsScoreForm").serialize(),
        success: function (data) {
            if (data === "success") {
                showAlertFor("saved-alert", 3000);
                $("#scores").load('{{ path('_' ~ path ~ '_investor_profile_scores') }}');
                $('#ajaxModule').modal('hide');
            }
        }
    });
    return true;
}

function submitInvestmentsYearsToRetirement() {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_years_saved')}}',
        type: 'POST',
        data: $("#investmentsYearsToRetirementForm").serialize(),
        success: function (data) {
            if (data === "success") {
                showAlertFor("saved-alert", 3000);
                $("#years").load('{{path('_' ~ path ~ '_investor_profile_years')}}');
                $('#ajaxModule').modal('hide');
            }
        }
    });
    return true;

}

function submitInvestmentsScoresYears() {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_scoresyears_saved')}}',
        type: 'POST',
        data: $("#investmentsScoresYearsForm").serialize(),
        success: function (data) {
            if (data === "success") {
                saveHeaderColor();
                showAlertFor("saved-alert", 3000);
                $("#scoresyears").load('{{path('_' ~ path ~ '_investor_profile_scoresyears')}}');
            }
        }
    });
    return false;
}

function saveHeaderColor() {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_saveHeaderColor')}}',
        type: 'POST',
        data: 'headerColor=' + $('#cp2').colorpicker('getValue').toString('rgba'),
        success: function (data) {
            if (data === "success") {
                //do nothing
            }
        }
    });
    return false;
}

function saveRiskRewardBar() {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_saveRiskRewardBar')}}',
        type: 'POST',
        data: 'leftColor=' + $('#low-rr-color').colorpicker('getValue').toString('rgba') + '&rightColor=' + $('#high-rr-color').colorpicker('getValue').toString('rgba') + '&middleColor=' + $('#middle-rr-color').colorpicker('getValue').toString('rgba'),
        success: function (data) {
            if (data === "success") {
                // do nothing
            }
        }
    });
    return false;
}

function saveOptions() {
    saveRiskRewardBar();
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_saveOptions')}}',
        type: 'POST',
        data: $("#investmentsOptionsForm").serialize(),
        success: function (data) {
            if (data === "success") {
                showAlertFor("saved-alert", 3000);
            }
        }
    });
    return false;
}

function deleteInvestmentsScore(theid, previd) {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_scores_deleted')}}',
        type: 'POST',
        data: 'id=' + theid +'&previd=' + previd,
        success: function (data) {
            if (data === "success") {
                $("#scores").load('{{ path('_' ~ path ~ '_investor_profile_scores') }}');
                $('#ajaxModule').modal('hide');
            }

        }
    });
    return false;
}

function deleteInvestmentsYearsToRetirement(theid, previd) {
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_years_deleted')}}',
        type: 'POST',
        data: 'id=' + theid + '&previd=' + previd,
        success: function (data) {
            if (data === "success") {
                showalert("saved-alert");
                $("#years").load('{{path('_' ~ path ~ '_investor_profile_years')}}');
                $('#ajaxModule').modal('hide');
            }
        }
    });
    return false;

}

function updateColorAndPercents() {
    $('#save-btn-form').prop("disabled",true);
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_scores_colors_assign_saved')}}',
        type: 'POST',
        data: $("#assignColorAndPercentsForm").serialize(),
        success: function (data) {
            if (data === "success") {
                $('#ajaxModule').modal('hide');
                showAlertFor("saved-alert", 3000);
                $("#scores").load('{{ path('_' ~ path ~ '_investor_profile_scores') }}');

            }
            if (data === "fail") {
                alert("Saving failed. Please ensure the sum of the percents equals 100%.")
            }
        },
    });

    return false;
}

function updateDefaultColors() {
    $('#save-btn-form').prop("disabled",true);
    $.ajax({
        url: '{{path('_' ~ path ~ '_investor_profile_scores_colors_assign_savedAll')}}',
        type: 'POST',
        data: $("#assignColorAndPercentsForm").serialize(),
        success: function (data) {
            if (data === "success") {
                $('#ajaxModule').modal('hide');
                showAlertFor("saved-alert", 3000);
                $("#scores").load('{{ path('_' ~ path ~ '_investor_profile_scores') }}');
            }
        },
    });

    return false;
}
</script>