<thead>
      <tr>
            <th>Account ID</th>
            <th>Key</th>
            <th>Ip Address</th>
            <th>Active</th>
            <th style = "width:50px">Edit</th>
            <th style = "width:50px">Delete</th>
      </tr>
</thead>



<tbody>
      {% for APIAccount in APIAccounts %}
      <tr>
            <td>{{ APIAccount.userid }}</td>
            <td>{{ APIAccount.key }}</td>
            <td>{{ APIAccount.ipaddress }}</td>
            <td>{% if APIAccount.active == 1%}On{% else %}Off{% endif %}</td>
            <td><a href = "#"><span class = "glyphicon glyphicon-edit"></span></a></td>
            <td><a href = "#"><span class = "glyphicon glyphicon-remove"></span></a></td>
      </tr>
      {% endfor %}           
</tbody>



