{% for tag in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ tag.id }},
	"{{tag.name}}",
        "<a href = \"javascript:ajaxModal('{{path('_manage_videoLandingPage_edit_tag') }}?id={{tag.id}}','Edit Tag','large')\"  class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-edit\" ></span></a>"
]
{% endfor %}