{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Translation Queue'})) }}
{% set tablename = "TranslationQueue" %}
{% set table = tablename %}
{% set unsearchableArray = [6] %}
{% set header = "<th>id</th><th>Source Key</th><th>Domain</th><th>Language</th><th>Content</th><th>Active</th><th>Actions</th>" %}
{% set url = path("_manage_translationQueue_list") %}
<button class ="btn btn-info" onclick ="addTranslationQueue()">Add Translation</button>
<br/><br/>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function addTranslationQueue()
{
    ajaxModal("{{ path('_manage_translationQueue_add') }}","Add Translation");
}
function editTranslationQueue(id)
{
    ajaxModal("{{ path('_manage_translationQueue_edit') }}?id=" + id,"Edit Translation");
}
function deleteTranslationQueue(id)
{
    ajaxModal("{{ path('_manage_translationQueue_delete') }}?id=" + id,"Delete Translation");
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
