var reportType = "plan";
if (typeof(params) === 'undefined' || params.userid != null || params.adviserid != null)
reportType = "list";
downloadReportQuerystring = "";
if (reportType == "list")
downloadReportQuerystring =  "'{{ path('_manage_report_downloadWidgetCsv') }}?" + querystring + "&reportListType=" + reportType + "&reportType={{ctaType}}'";
var btnHtml = '<button type ="button" class ="btn btn-primary" onclick ="downloadReport()">Download</button>';
if (reportType != "plan")
btnHtml = btnHtml + ' <button type ="button" class ="btn btn-primary" onclick ="downloadReport(' + downloadReportQuerystring + ')">Download By Plan</button>';
$.get( "{{ planUrl }}?" + querystring, function( data ) 
{
    if (data == "")
    $("#reportResult").html("<h3>No Results Returned</h3>");
    else
    $("#reportResult").html("<h3>Results</h3>" + btnHtml + '<div id ="reportResultInner">' + data + '</div>' + btnHtml);
});
