[
	{{ plan.id }},
	"{% if writeable %}<a href = \"javascript:editplan({{ plan.id }})\">{{ plan.name }}</a>{% else %}{{ plan.name }}{% endif %}",
	"{% if writeable %}<a href = \"javascript:editplan({{ plan.id }})\">{{ plan.planid }}</a>{% else %}{{ plan.planid }}{% endif %}",
	"{% if writeable %}<a href = \"javascript:editplan({{ plan.id }})\">{% if plan.createdDate|date(null) !="November 30, -0001 00:00" %}{{ plan.createdDate|date("Y-m-d") }}{%  endif %}</a>{% else %}{% if plan.createdDate|date(null) !="November 30, -0001 00:00" %}{{ plan.createdDate|date("Y-m-d") }}{%  endif %}{% endif %}"
	{% if writeable %},
	{% if not isadviser %}
	
	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"editplan({{ plan.id }})\"></span> <span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Duplicate\" aria-label=\"Duplicate\" class=\"glyphicon glyphicon-plus-sign\" onclick = \"copyplanDialog({{ plan.id }})\"></span> <span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\" onclick =\"ajaxModal('{{path('_plans_home_deletePlanConfirm') }}?id={{ plan.id }}','Delete Plan')\" ><span class=\"glyphicon glyphicon-remove-circle\"></span></span>"

	{% else %}
	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"editplan({{ plan.id }})\"></span>"
	{% endif %}
	{% endif %}

	


]