[
	{{ plan.id }},
	"{% if writeable %}<a href = \"javascript:addsubplan({{ plan.id }},'{{ plan.planid}}')\">{{ plan.name }}</a>{% else %}{{ plan.name }}{% endif %}",
	"{% if writeable %}<a href = \"javascript:addsubplan({{ plan.id }},'{{ plan.planid}}')\">{{ plan.planid }}</a>{% else %}{{ plan.planid }}{% endif %}",
	"{% if writeable %}<a href = \"javascript:addsubplan({{ plan.id }},'{{ plan.planid}}')\">{% if plan.createdDate|date(null) !="November 30, -0001 00:00" %}{{ plan.createdDate|date("Y-m-d") }}{%  endif %}</a>{% else %}{% if plan.createdDate|date(null) !="November 30, -0001 00:00" %}{{ plan.createdDate|date("Y-m-d") }}{%  endif %}{% endif %}",
        "<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Duplicate\" aria-label=\"Duplicate\" class=\"glyphicon glyphicon-plus-sign\" onclick = \"addsubplan({{ plan.id }},'{{ plan.planid}}')\"></span>"
]