<table class="table table-bordered">

	<tr class="active">
		<td>
			Name
		</td>
		
		
	</tr>
  {% for item in items %}
     <tr>
     	<td>
     	{{ item.plan.name }}
     	</td>
     </tr>
{% endfor %}

</table>