<table class="table table-striped">

	<tr>
		<th>
			Name
		</th>
		<th>
			Planid
		</th>
		<th>
			Access
		</th>
	</tr>
  {% for item in items %}
  {% if item.active == 1 %}
{% if item.activePlantypecd is defined %}
    {% set planid = item.id %}
{% else %}
    {% set planid = item.planid %}
{% endif %}
   {{ render(controller('PlansPlansBundle:PlansHome:displayPlan', {
           'planid': planid,
           'writeable': '0',
           'isadviser': '1'
    })) }}
    
    {% endif %}
{% endfor %}
</table>