<script type="text/javascript">

$(document).ready(function() {
    $("#fos_user_resetting_form_new_first").attr("placeholder","New Password");
    $("#fos_user_resetting_form_new_second").attr("placeholder","Verify Password");
    $('.control-label').hide();
    $('#changePasswordForm').submit(function (event) {
        event.preventDefault();
        changePassword();
    });
    $('#back-to-login').click(function() {
        window.location.href = "{{ path('_index') }}";
    });
});

function changePassword()
{
    querystring = $("#changePasswordForm").serialize() + "&token={{token}}";
    page = "{{ path('_check_password')}}";
    $.post(page, querystring).done(function(data) {
    if (data.errors.length == 0) {
        page = "{{ path('fos_user_resetting_reset', {'token': token}) }}";
        $.post(page, querystring).done(function(data)
        {
            if (data.indexOf("The new password is too short") > -1) {
                $('#passwordTooShort').fadeIn(500);
                setTimeout( "$('#passwordTooShort').fadeOut(3000);",6000 );
            } else if (data.indexOf("The entered passwords do") > -1 ) {
                $('#passwordMismatch').fadeIn(500);
                setTimeout( "$('#passwordMismatch').fadeOut(3000);",6000 );
            } else {
                $('#passwordChanged').fadeIn(500);
                setTimeout( "$('#passwordChanged').fadeOut(3000);",6000 );
                setTimeout('redirectToIndex()', 4000)
            }
            });
        } else {
            length = data.errors.length;
            errorString = '';
            for (ndx = 0; ndx < length; ndx++) {
                errorString = errorString + '<br/>' + data.errors[ndx];
            }
            $('#passwordErrors').html(errorString);
            $('#passwordErrors').fadeIn(500);
            setTimeout( "$('#passwordErrors').fadeOut(3000);",6000 );
        }
    });
}

function redirectToIndex()
{
	window.location="{{ path('_index') }}";
}
</script>