<form id = "deleteTemplate">
     {{ currentTemplate.name }}<br/><br/>
    <input type ="text" name ="id" style ="display:none" value ="{{ currentTemplate.id }}" />
    <button type ="submit" class ="btn btn-warning">Delete</button>
</form>


<script>
$( document ).ready(function() 
{
    $( "#deleteTemplate" ).submit(function( event ) 
    {
        event.preventDefault();
        deleteTemplateSaved();
    });
});
</script>