{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Outreach Pages - Edit'})) }}
{% set selectBox = '<strong>Category</strong><select name = "categoryid" class = "form-control">' %}
{% for category in categories %}
{% set selectBox = selectBox ~ '<option value = "' ~ category.id ~ '" ' ~ category.selected ~ ' >' ~ category.name ~ '</option>' %}
{% endfor %}
{% set selectBox = selectBox ~ "</select><br/>" %}
{% set previewlink =  path('_manage_outreach_new_preview',{"id": template.id})   %}
{% set parentPage = path('_manage_outreach_new') %}
{% set parentDescription = "Return to Email Templates" %}
{% set name = template.name %}
{% set html = template.html %}
{% set inputfields =   '<strong>Video</strong><input type ="text" name ="video" value ="' ~ template.video ~ '" class ="form-control" />' ~ '<input type = "text" name = "id" value = "' ~ template.id ~ '" style = "display:none" />' ~ selectBox %}

{% include 'TemplatesTemplatesBundle:Default:codeform.html.twig' %}
<script>
$( document ).ready(function() 
{
    $( "#editPage" ).submit(function( event ) 
    {
        event.preventDefault();
        editTemplateSaved({{ template.id }});
    });
});
function editTemplateSaved()
{
    var querystring = $( "#editPage" ).serialize();
    
    var page = "{{ path('_manage_outreach_new_edittemplate_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplate();
    });
}

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
