{% include 'SharedOutreachBundle:Default:new/previewoptions.html.twig' %}
{% set alertContent = "Email Sent successfully" %}
{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig") }}
<strong>Title</strong>
<input type ="text" class ="form-control" id ="title" value ="{{ currentTemplate.name }}" />
<hr/>
<strong>Emails:</strong>
<p class ="small">Seperate each email by comma</p>
<textarea id ="emails" style ="width:100%;height:200px;resize:none" ></textarea>
<br/><br/>
<button onclick ="sendTestEmail()" class = "btn btn-primary" >Send Test Email</button>
<script>
function sendTestEmail()
{
    
    if ($("#emails").val()== "")
    alert('At least one email must be sent');
    else
    {
        var querystring = "id={{currentTemplate.id}}&planid=" + $("#planid").val() + "&adviserid=" + $("#adviserid").val() + "&emails=" + $("#emails").val() + "&title=" + $("#title").val();
        var page = "{{ path('_manage_outreach_new_email') }}";
        $.get(page, querystring).done(function(data) 
        {
            showalert('saved-alert');
        }).fail(function(data) 
        {
            alert("Error Occured");
        });
    }
}
</script>