{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Template List'})) }}
<div class="row" id = "templatelist">
    <div class="col-md-12">
        {{ include('SharedOutreachBundle:Default:new/templatelist.html.twig') }}
    </div>
</div>
<script>
function addCategorySaved()
{
    var querystring = $( "#addCategory" ).serialize();
    var page = "{{ path('_manage_outreach_new_addcategory_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplates();
    });
}
function editCategorySaved()
{
    var querystring = $( "#editCategory" ).serialize();
    var page = "{{ path('_manage_outreach_new_editcategory_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplates();
    });
}
function deleteCategorySaved()
{
    var querystring = $( "#deleteCategory" ).serialize();
    var page = "{{ path('_manage_outreach_new_deletecategory_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplates();
    });
}
function addTemplateSaved()
{
    var querystring = $( "#addTemplate" ).serialize();
    var page = "{{ path('_manage_outreach_new_addtemplate_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplates();
    });
}
function reloadTemplates()
{
    var querystring = "";
    var page = "{{ path('_manage_outreach_new_templatelist') }}";
    $.post(page, querystring).done(function(data) 
    {
        closeLightBox();
        $("#templatelist").html(data);
    });    
}  
function deleteTemplateSaved()
{
    var querystring = $( "#deleteTemplate" ).serialize();
    var page = "{{ path('_manage_outreach_delete_template') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplates();
    });
}

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
