{% include 'SharedOutreachBundle:Default:new/previewoptions.html.twig' %}
{% if campaignpreview == 1 %}
<iframe id ="previewTemplate" src ="" width ="100%" height ="400px" frameBorder="0" style = "display:none"></iframe>
{% endif %}
{% if campaignpreview == 0 %}
<button onclick ="showPreview()" class = "btn btn-primary">Preview</button>
{% endif %}
{% if campaignpreview == 1 %}
<button onclick ="useTemplate()" class = "btn btn-success">Use Template</button>
{% endif %}
<script>
function showPreview()
{
    var link = "{{ path('_manage_outreach_new_preview') }}?id={{currentTemplate.id}}&planid=" + $("#planid").val() + "&adviserid=" + $("#adviserid").val();
    {% if campaignpreview == 0 %}
    window.open(link);
    closeLightBox();
    {% else %}
    $("#previewTemplate").show();    
    $("#previewTemplate").attr("src",link);
    {% endif %}
}
function useTemplate()
{
    $("#campaignsplanid").val($("#planid").val());
    $("#campaignsadviserid").val($("#adviserid").val());
    closeLightBox();
}
{% if campaignpreview == 0 %}
function updatePreview()
{
}
{% elseif campaignpreview == 1 %}
function updatePreview()
{
    showPreview();
}    
{% endif %}
{% if campaignpreview == 1 %}
if ($("#campaignsplanid").val() != "")
$("#planid").val($("#campaignsplanid").val());
showPreview();
{% endif %}
</script>