{% if planid is not defined %}
{% set planid = 5990 %}    
{% endif %}
<strong>
Planid:
<input type ="text" value ="{{planid}}" id ="planid" class ="form-control" style ="background-color:white;cursor:pointer" onclick ="$('#planlist').show()" readonly />

<div id = "planlist" style = "display:none">
    <br/>
    {% set template =  'SharedOutreachBundle:Default:new/Search/planspreview.html.twig' %}
    {% set table = "plans" %}
    {% set tablename = "plans" %}
    {% if userid is defined %}
    {% set findby = "a.deleted,^a.userid" %}
    {% set findbyvalues = "0," ~ userid %}
    {% else %}
    {% set findby = "a.deleted" %}
    {% set findbyvalues = "0" %}    
    {% endif %}
    {% set types = "a.id,a.planid,a.name,a.userid,a.partnerid" %}
    {% set header = "<th>Smartplan Id</th><th>Planid</th><th>Name</th><th>Userid</th><th>Partnerid</th>" %}
    {% set firstcolumnviewable = true %}
    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div>
<hr/>
Adviser Id:
<input type ="text" value ="0" id ="adviserid" class ="form-control" style ="background-color:white;cursor:pointer" onclick ="$('#adviserlist').show()" readonly />

<div id ="adviserlist" style = "display:none">
    <br/>
    {% set template =  'SharedOutreachBundle:Default:new/Search/adviserspreview.html.twig' %}
    {% set table = "accountsUsers" %}
    {% set tablename = "accountsUsers" %}
    {% set types = "a.id,a.userid,a.email,a.firstname,a.lastname" %}
    {% set header = "<th>Id</th><th>Userid</th><th>Email</th><th>First Name</th><th>Last Name</th>" %}
    {% set firstcolumnviewable = true %}
    {% set findby = "a.roleType" %}
    {% set findbyvalues = "adviser" %}
    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
</div>
<hr/>
</strong>