{% set pagename = "Settings - Contact" %}

{% block javascriptVariables %}
var table = "defaultPlan";
var findby = "userid"
{% endblock %}


{% extends 'SharedContactBundle:Default:index.html.twig' %}
