<form id ="addFileConverter">
   <input type ="text" placeholder ="Name" name ="name" class ="form-control" /><br/>
   <button class ="btn btn-info">Add</button>
</form>
<script>
$( "#addFileConverter" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_add_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>