<form id ="addheader">
   <input type ="hidden" name ="converterid" value ="{{ app.request.get("id") }}" />
   <input type ="text" placeholder ="Name" name ="name" class ="form-control" /><br/>
   <button class ="btn btn-info">Add</button>
</form>
<script>
$( "#addheader" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_add_header_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>
