<form id ="deleteFileConverter">
   {{ converter.name }}<br/><br/>
   <input type ="hidden" name ="id" value ="{{ converter.id }}"/>
   <button class ="btn btn-warning">delete</button>
</form>
<script>
$( "#deleteFileConverter" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_delete_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>
