<form id ="editFileConverter">
   <input type ="hidden" name ="id" value ="{{ converter.id }}"/>
   <input type ="text" placeholder ="Name" value ="{{ converter.name }}" name ="name" class ="form-control" /><br/>
   <button class ="btn btn-primary">Save</button>
</form>
<script>
$( "#editFileConverter" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_edit_saved') }}', $(this).serialize()).done(function(data) 
    {
        reloadFileConverters();
    });
});    
</script>
