{% for mapping in mappings %} 
<form class ="editMapping">
    <input type ="hidden" value ="{{mapping.id }}" name ="id" />
    <div class="row" >
        <div class="col-md-5">
            <strong>From</strong>
            <input type ="text" value = "{{ mapping.from }}" name ="from"  class ="form-control" required />
        </div>
        <div class="col-md-4">
            <strong>To</strong>
            <input type ="text" value = "{{ mapping.to }}"  name ="to"  class ="form-control" required />
        </div>
        <div class="col-md-3">
            <br/>
            <button class ="btn btn-primary" type ="submit">Save</button> <button class ="btn btn-warning" type ="button" onclick ="deleteMapping({{mapping.id}})">Remove</button>
        </div>
    </div>
    <br/>
</form>
{% endfor %}
<script>
$( ".editMapping" ).submit(function( event ) 
{
    event.preventDefault();
    $.post('{{ path('_manage_fileConverter_edit_mapping') }}',$(this).serialize()).done(function(html) 
    {
        reloadMappingList();
    });     
});    
</script>