<form action="{{ path('_manage_fileConverter_download_file') }}" method="post" enctype="multipart/form-data">
    <input  type ="hidden" name ="id" value ="{{ app.request.get("id") }}" />
    <input name ="file" type ="file" /><br/>
    <button class ="btn btn-primary">Upload</button>
</form>