<script type="text/template" id="beneficiary-tpl">        <!--relius old & others-->
    <div class="audio-area"></div>
    <div class="beneficiary">
    <div class="head-title">{{ 'beneficiary' | trans ({}, 'beneficiary') }}</div>
    <div class="action-top actions">
        <a class="actionBtn right add-beneficiary" href="#" aria-label="Add beneficiary">
            <span class="center action-button">{{ 'add_beneficiary' | trans ({}, 'beneficiary') }}</span>
        </a>
    </div>
    <div class="details">
        <div class="details table-wrapper">
            <% if(!_.isEmpty(model)) { %>
            <div class="table-header">
                <div class="row">
                    <div class="col-sm-3">{{ 'name' | trans ({}, 'beneficiary') }}</div>
                    <div class="col-sm-3">{{ 'beneficiary_type' | trans ({}, 'beneficiary') }}</div>
                    <div class="col-sm-2">{{ 'relationship' | trans ({}, 'beneficiary') }}</div>
                    <div class="col-sm-1">{{ 'pct' | trans ({}, 'beneficiary') }}</div>
                    <div class="col-sm-3">{{ 'actions' | trans ({}, 'beneficiary') }}</div>
                </div>
            </div>

            <div class="table-body">
                <% _.each(model, function(m, k){ %>
                <div class="row">
                    <div class="cols col-sm-3" style ="word-wrap: break-word;"><%- m.fname %> <%- m.lname %></div>
                    <div class="cols col-sm-3"><% if(m.type == 'Primary'){ %> {{ 'primary' | trans ({}, 'beneficiary') }} <% } else { %> {{ 'secondary' | trans ({}, 'beneficiary') }} <% } %></div>
                    <div class="cols col-sm-2"><%- m.relationship %></div>
                    <div class="cols col-sm-1"><%- m.pct %>%</div>
                    <div class="cols col-sm-3">
                        <div class="action">
                            <span data-uid="<%- m.uniqid %>" title="Edit" class="glyphicon glyphicon-pencil b-edit"></span>
                            <span data-uid="<%- m.uniqid %>" title="Delete" class="glyphicon glyphicon-trash b-delete"></span>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

            <% } %>
        </div>
    </div>
    <div class="clearfix"></div>

    {% if app.session.get('common').data_source != 'envisage' and app.session.get('common').data_source != 'expertplan' %}
        <div class="instruction">{{ 'beneficiary_instruction' | trans ({}, 'beneficiary') }}</div>
    {% endif %}

    <div class="bottom-spacer"></div>

    <div class="actions">
        {% if app.session.get('common').data_source == 'expertplan' %}
            <a class="actionBtn left back" href="#" aria-label="back">
                <span class="center action-button">{{ 'back' | trans ({}, 'global') }}</span>
            </a>
        {% endif %}
        <a class="actionBtn right proceed" href="#" aria-label="Proceed">
            <span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
    </div>
</script>