<div class="container-fluid">
    <div class="detail" style="margin-bottom:20px;">{{ 'beneficiary_details' | trans ({}, 'beneficiary') }}</div>
    <div class="row">
        <div class="col-sm-6 cols">
            <div class="row">{{ 'first_name' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">{% include "SpeAppBundle:Template:Beneficiary/TextFields/firstname.html.twig" %}</div>
        </div>
        <div class="col-sm-6 cols">
            <div class="row">{{ 'ssn' | trans ({}, 'beneficiary') }}</div>
            <div class="row">{% include "SpeAppBundle:Template:Beneficiary/TextFields/ssn.html.twig" %}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 cols">
            <div class="row">{{ 'last_name' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">{% include "SpeAppBundle:Template:Beneficiary/TextFields/lastname.html.twig" %}</div>
        </div>
        <div class="col-sm-6 cols">
            <div class="row">{{ 'relationship' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">
                {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/relationship.html.twig" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 cols">
            <div class="row">{{ 'gender' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">
                {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/gender.html.twig" %}
            </div>
        </div>
        <div class="col-sm-6 cols">
            <div class="row">{{ 'beneficiary_type' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">
                {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/type.html.twig" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 cols">
            <div class="row">{{ 'marital_status' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">
                {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/maritalstatus.html.twig" %}
            </div>
        </div>
        <div class="col-sm-6 cols">
            <div class="row">{{ 'percent' | trans ({}, 'beneficiary') }}*</div>
            <div class="row">{% include "SpeAppBundle:Template:Beneficiary/TextFields/percent.html.twig" %}</div>
        </div>
    </div>
</div>
