<span style='color: #000' title='Frames'>   468</span><span style='color: #009' title='Memory'>  39168.00 KB</span><span style='color: #900' title='Time'>   1025.89 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />