{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
        'pagename': 'Manage Outreach'
    })) }}
    <script>
    function sendtestemail()
    {
    var emails = document.getElementById("testemail").value;
    var page = "{{ path('_plans_outreach_send_test_email') }}";
    var querystring = "id={{ templateid }}&emails=" + emails + "&planid={{ currentplan.id }}";
    
       var ajaxRequest;  // The variable that makes Ajax possible!
      	
      	    try{
      	        // Opera 8.0+, Firefox, Safari
      	        ajaxRequest = new XMLHttpRequest();
      	    } catch (e){
      	        // Internet Explorer Browsers
      	        try{
      	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
      	        } catch (e) {
      	            try{
      	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
      	            } catch (e){
      	                // Something went wrong
      	                alert("Your browser broke!");
      	                return false;
      	            }
      	        }
      	    }
      	
      	
      	    // Create a function that will receive data sent from the server
      	    ajaxRequest.onreadystatechange = function(){
      	        if(ajaxRequest.readyState == 4){
      	
      	        alert(ajaxRequest.responseText);
      	
      	        }
          }
              
              
              ajaxRequest.open("POST", page , true);
      	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      	ajaxRequest.setRequestHeader("Content-length", querystring.length);
      ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
    
    }
    
    </script>
    
  <textarea id = "testemail" style = "width:100%; height:200px" value = "{{ currentplan.defaultEmailAddress }}"></textarea>
  <br/>
  <br/>
  <input type = "button" onclick  = "sendtestemail()" value = "send test email">
  