



{% if count  == 0 %}
	<ul class="list-group">
		<li class="list-group-item" >
			sorry, no portfolios available or already added
		</li>
	</ul>
	{% else %}
	<table class="table table-striped">
		  <tr class = "active">
		    <th colspan = "2">Name</th>
		  </tr>

	{% for portfolio in enabledPortfolios %}
		<tr>
			<td>{{ portfolio.name }}</td>
			<td><a href ="javascript:addportfolio('{{ portfolio.id }}')">add</a></td>
	  	</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>