
        
  
    	
		{% if count  == 0 %}
		<ul class="list-group">
			<li class="list-group-item" >
				sorry, no funds available or already added
			</li>
		</ul>
		{% else %}
		<table class="table table-striped">
		  <tr>
		    <th>Name</th>
		    <th>Ticker</th>
		    <th colspan = "2">Link</th>
		  </tr>
		
		{% for fund in enabledFunds %}
			<tr>
				<td>{{ fund.name }}</td>
				<td>{{ fund.ticker }}</td>
				<td>{{ fund.link }}</td>
				<td><a href ="javascript:addDefaultFund('{{ fund.id }}')">add</a></td>
			</tr>
		{% endfor %}
		</table>
		{% endif %}
