{% set pagename = "Portfolios" %}
{% extends 'SharedInvestmentsBundle:Default:portfolios.html.twig' %}

{% block globalvariables %}
var pagetype = "plans";
{% endblock %}

   {% block adddefaultfunds %}
    <a href = "{{ path ('_plans_investments_add_default_funds') }}" class = "iframeLightbox">Add Default Funds</a>
    {% endblock %}
       {% block adddefaultportfolios %}
        <a href = "javascript:ajaxModal('{{ path ('_plans_investments_add_default_portfolios') }}','Add Default Portfolios')" class = "iframeLightbox">+ Add From Default Settings</a>
    {% endblock %}
    
{% block fundorderurl %}{{ path('_plans_investments_fundreorder') }}{% endblock %}

{% block portfolioorderurl %}{{ path('_plans_investments_portfolioreorder') }}{% endblock %} 


{% block qdiaUrl %} var qdiaUrl = "{{ path ('_plans_investments_qdia') }}";{% endblock %}