{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Qdia'
    })) }}
    
    <script >
    function unselectFund()
    {
    window.location = "{{ path('_plans_investments_qdia_unselect_fund') }}";
    
    }
    </script>
 Name: {{ searchFund.name }}<br/>
 {% if searchFund.ticker != "" %}
 Ticker: {{ searchFund.ticker }} <br/>
 {% endif %}
 {% if qdiaFund is not null %}
 {% if qdiaFund.video != "" and qdiaFund.youtubeid != "" %}
 Video: <a href = "https://www.youtube.com/embed/{{ qdiaFund.youtubeid }}?rel=0&wmode=transparent">{{ qdiaFund.video }}</a><br/>
 {% endif %}
 {% if qdiaFund.url != "" %}
 Url: {{ qdiaFund.url }}
 {% endif %}
 {% endif %}
<br/>
<br/>
