{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Qdia'
    })) }}

        <h3 class="panel-title">Current Fund</h3>
   
    <ul class="list-group" id = "fundList">
    	<li class="list-group-item" >
	 		<h4>Name</h4> {{ searchFund.name }}<br/>
    	</li>
		{% if searchFund.ticker != "" %}
		<li class="list-group-item" >
			<h4>Ticker</h4>{{ searchFund.ticker }}
		</li>
		{% endif %}

		 {% if qdiaFund is not null %}
		 {% if qdiaFund.video != "" and qdiaFund.youtubeid != "" %}
		 <li class="list-group-item" >
		 	<h4>Video</h4><a href = "https://www.youtube.com/embed/{{ qdiaFund.youtubeid }}?rel=0&wmode=transparent" class = "videopreview">{{ qdiaFund.videoname }}</a>
		 </li>
		 {% endif %}
		 {% if qdiaFund.url != "" %}
		 <li class="list-group-item" >
		 	<h4>Url</h4> <a href = "{{ qdiaFund.url }}" target = "_blank">{{ qdiaFund.url }}</a>
		 </li>
		 {% endif %}
		 {% endif %}
		 {% if writeable %}
		 <li class="list-group-item" >
		 	 <input type = "button" onclick = "unselectFund()" value = "Update" class="btn btn-primary" />
		 </li>
		 {% endif %}

    </ul>
</div>
{{ include ("PlansPlansBundle:Investments:javascript/qdia.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}








