{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plans - Investments/Qdia'})) }}

    

<h3>Select a Fund</h3>
     
{{ render(controller('classesclassBundle:Default:searchTemplate', {
                    'options': fundlist,
})) }}


{{ include ("PlansPlansBundle:Investments:javascript/qdia.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}