{% set pagename = "Plans - Investments/Reorder Portfolios" %}
{% set parentPage = "_plans_investments" %}
{% extends 'SharedInvestmentsBundle:Default:reorderportfolio.html.twig' %}

{% block globalvariables %}
var pagetype = "plans";
{% endblock %}