Delete tag: {{ tag.name }}<br/><br/>

<button class ="btn btn-danger" onclick ="deletetag()">Delete</button>

<script>
function deletetag()
{
    $.post("{{path('_manage_system_messages_tags_delete_saved')}}", {id:{{tag.id}}}).done(function(data) 
    {
        closeLightBox();
        SystemMessagesTagsTable.fnDraw(false);
    });  
}
</script>
