<form id ="editTag">
    <input type ="text" class ="form-control" name ="name" placeholder ="Enter Tag" value ="{{ tag.name }}" />
    <input type ="hidden" name ="id" value ="{{ tag.id }}" />
    <br/><br/>
    <button class ="btn btn-primary">Save</button>
</form>
<script>
$( "#editTag" ).on( "submit", function( event ) 
{
    event.preventDefault();
    $.post("{{path('_manage_system_messages_tags_edit_saved')}}", $( this ).serialize()).done(function(data) 
    {
        closeLightBox();
        SystemMessagesTagsTable.fnDraw(false);
    });
});    
    
</script>

