{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'System Messages Tags'})) }}
<a href ="{{path('_manage_system_messages') }}"><button class ="btn btn-primary">Manage System Messages</button></a>
<button class ="btn btn-info" onclick = "ajaxModal('{{path('_manage_system_messages_tags_add') }}','Add Tag')">Add Tag</button>
<br/><br/>
{% set table = "SystemMessagesTags" %}
{% set tablename = "SystemMessagesTags" %}
{% set header = '<th>Id</th><th>Name</th><th>Actions</th>' %}
{% set types = "a.id,a.name" %}
{% set template =  'ManageManageBundle:SystemMessages:Search/taglist.html.twig' %}
{% set unsearchableArray = [2] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
