{% for profile in items %}
{% if loop.index > 1 %},{% endif %}
[
	{% set contributionDollarSign = "" %}
	{% set contributionPercentSign = "" %}
	{% if  profile.profilesContributions_mode | default("") == "DLR" %}
	{% set contributionDollarSign = "$" %}
	{% set contributionPercentSign = "" %}
	{% endif %}
	{% if  profile.profilesContributions_mode | default("") == "PCT" %}
	{% set contributionDollarSign = "" %}
	{% set contributionPercentSign = "%" %}
	{% endif %}	

	{% set link = "javascript:ajaxModal('" ~ path('_plans_profiles_search_moreinfo') | url_encode ~ "?id=" ~ profile.profiles_id ~ "','Investor Profile Details','large')"  %}
	{% set dateField = profile.profiles_reportDate %}
	{{ profile.profiles_id }},
	"<a href = \"{{ link }}\">{{ include('TemplatesTemplatesBundle:Default:displaydate.html.twig') }}</a>",
    "{% set content = profile.participantid | default("") %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.participants_firstName | default("") %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.participants_lastName | default("") %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.profiles_currentBalance | default("") %}{% if content != "" %}{% set content = "$"~content | number_format %}{%endif %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.profilesContributions_pre | default("")  %}{% set content = content | number_format %}{% if content != "" %}{% set content = contributionDollarSign~content~contributionPercentSign %}{%endif %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.profilesContributions_roth | default("")  %}{% set content = content | number_format %}{% if content != "" %}{% set content = contributionDollarSign~content~contributionPercentSign %}{%endif %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",
	"{% set content = profile.profilesContributions_post | default("")  %}{% set content = content | number_format %}{% if content != "" %}{% set content = contributionDollarSign~content~contributionPercentSign %}{%endif %}{{ include('TemplatesTemplatesBundle:Default:datatablesdisplaylink.html.twig') }}",

	"<a href = \"javascript:ajaxModal('{{ render(controller('PlansPlansBundle:Profiles:getBaseProfileLink',{ id: profile.profiles_profileId }))}}','Investor Profile','large',true)\" ><span class=\"glyphicon glyphicon-info-sign\" aria-hidden=\"true\"></span></a>"
]
{% endfor %}


