<select id ="bcountry" name = "bcountry" value = "<%- model.country %>">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <% _.each(model.countries, function(country, value) { %>
    <option <%- model.country == value ? 'selected' : '' %> value="<%- value %>"><%- country %></option>
    <% }); %>
</select>

