<select id="bGender" name="bGender">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.gender == 'Male' ? 'selected' : '' %> value="Male">{{ 'male' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.gender == 'Female' ? 'selected' : '' %> value="Female">{{ 'female' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.gender == 'Other' ? 'selected' : '' %> value="Other">{{ 'other' | trans ({}, 'beneficiary') }}</option>
</select>
