<select id="bMaritalStatus" name="bMaritalStatus">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Single' ? 'selected' : '' %> value="Single">{{ 'single' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Married' ? 'selected' : '' %> value="Married">{{ 'married' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Widow' ? 'selected' : '' %> value="Widow">{{ 'widow' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Divorced' ? 'selected' : '' %> value="Divorced">{{ 'divorced' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Separated' ? 'selected' : '' %> value="Separated">{{ 'separated' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.marital_status == 'Widower' ? 'selected' : '' %> value="Widower">{{ 'widower' | trans ({}, 'beneficiary') }}</option>
</select>
