<select id="bState" name="bState">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <% _.each(model.states, function(state, value) { %>
    <option <%- model.BeneficiaryStateAddress == value ? 'selected' : '' %> value="<%- value %>"><%- state %></option>
    <% }); %>
</select>