<select id="bType" name="bType">
    <option value="">{{ 'select' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.type == 'Primary' ? 'selected' : '' %> value="Primary">{{ 'primary' | trans ({}, 'beneficiary') }}</option>
    <option <%- model.type == 'Secondary' ? 'selected' : '' %> value="Secondary">{{ 'secondary' | trans ({}, 'beneficiary') }}</option>
</select>
