<table class ="table table-striped">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for key,response in data %}
        <tr>
            <th>{{ key }}</th>
            <th>{{ response | json_encode() }}
        </tr>
    {% endfor %}
    </tbody>
</table>