/** Confirmation & CTA Slide Styles
  *
  * Import this file using
  * @import "modules/cta";
  *
  */


.no-video,
.confirmation {
  position: absolute;
  width:100%;
  height:100%;
  padding-top:15%;
  top: 0;

  h1 {
    margin-bottom:1vw;
  }
  h2 {
    margin-bottom: 2vw;
  }
  h3 {
  margin-bottom:2vw;
  }
}

.confirmation {
  text-align: center;
  z-index: 100;

  .compact {
    width: 80%;
    margin: 0 auto;
  }

}

#confirmation {
	display: none;
	> article {
    display: none;
		padding-top: 10%;
    &.cta {
      padding-top: 7%;
    }
    &.manual {
      padding-top: 15%;
    }
    h3 {
      > span {
        font-weight: 200;
      }
    }
	}
}

#cta_allocate {
  width: 90%;
  left: 5%;
    #slider {
      margin: 5vw 0 3vw;
      height: 8vw;

      .allocate-val {
        display: inline-block;
        width: 12%;
        > h5 {
          margin-bottom: 1.55vw;
          margin-top: 0;
          text-align: center;
          > .icon-info {
            padding-left: 1.8vw;
            cursor: pointer;
            position: relative;
            bottom: -1.1vw;
            opacity: .75;
            &:hover {
              opacity: 1;
            }
          }
        }
        > h1 {
          font-weight: 100;
          font-size: 3.25vw;
        }
      }
      #allocate_pretax {
        text-align: right;
        float: left;
        margin-left: 7%;
        margin-right: 3%;
      }
      #allocate_roth {
        text-align: left;
        float: right;
        margin-left: 3%;
        margin-right: 7%;
        > h5 {
          > .icon-info {
            margin-right: .75vw;
          }
        }
      }


      #allocate_slider {
        width: 50%;
        display: inline-block;
        margin: 4vw 0;
      }
      #data_diffDeferral {
        display: none;
      }
    }
  }

#matchForm {
  h1 {
    font-size: 3vw;
    font-weight: 400;
  }
}

.es {

  #redirect {
    #cta {
      .cta {
        &:nth-child(3) {
          width: 90%;
          left: 55%;
        }
      }
    }
  }

  #cta_allocate {
    #allocate_pretax {
      > h5 {
        white-space: nowrap;
        margin-left: -5vw;
        width: 18vw;
      }
    }
  }
}
