{% for group in items %}
{% if loop.index > 1 %},{% endif %}
[
{{ group.id }},
"{{ group.firstName }}",
"{{ group.lastName}}",
"{{ group.emailAddress}}",
"{{group.phoneNumber}}",
"<a href = \"javascript:ajaxModal('{{ path('_manage_groups_edit_user') }}?group={{request.table}}&id={{group.id}}','Edit')\" class =\"glyphicon_link\"><span class = \"glyphicon glyphicon-edit\"></span></a> <a href = \"javascript:ajaxModal('{{ path('_manage_groups_delete_user') }}?group={{request.table}}&id={{group.id}}','Delete')\" class =\"glyphicon_link\"><span class = \"glyphicon glyphicon-remove\"></span></a>"
]

{% endfor %}
