<script>
function saveKey(id)
{
	var querystring = "table=APIAccounts&findby=id&id=" + id + "&ipaddress=" + $("#ipaddress" + id).val() + "&active=" + $("#active" + id).val() +  "&productid=" + $("#productid" + id).val();
	var page = "{{ path('classesclass_update') }}";
	$.post(page, querystring).done(function(data) 
	{
		
	});
}
function deleteKey(id)
{
  querystring = "table=APIAccounts" + "&findby=id"+ "&id="  + id;
  var page = "{{ path('classesclass_delete') }}";
  $.post(page, querystring).done(function(data) 
  {
  	APIAccountsTable.fnDraw();
  });
}

function addKey()
{
	var querystring = $('#addkey').serialize();
	querystring = querystring + "&table=APIAccounts";
	var page = "{{ path('classesclass_add') }}";
	if ($("#apiKey").val() == "")
	alert('Key Must be generated before adding');
	else
	{
		$.post(page, querystring).done(function(data) 
		{
			$("#apiKey").val("");
			$("#ipaddress").val("");
			$( "#active" ).val(1);
			APIAccountsTable.fnDraw();
	});
	}
}
</script>