{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'AdminStats'})) }}

<div id="content">
    <div class="col-md-12">
         <div class="col-md-12">
             
            <div class="panel panel-default">
                <div class="panel-heading">Plan Comparison</div>
                <div class="panel-body">
                    <div id="superchart"></div>
                </div>
            </div>
        </div>       
            <div class="col-md-4">
                <div class="panel panel-default" id="datepicker" style="min-height:264px;">
                    <div class="panel-heading">Choose A Date Range</div>
                    <div class="panel-body">
                        <p>Start Date:</p>
                        <input type="text" class="form-control" id="startdatepicker" placeholder="Start Date" name="startdatepicker" value="{{startdate}}">
                        <br>
                        <p>End Date</p>
                        <input type="text" class="form-control" id="enddatepicker" placeholder="End Date" name="enddatepicker" value="{{enddate}}">
                        <input id="apply_date" type="button" value="Apply" style="border-radius:3px; background-color: #021d48; width:100%; color:#fff; margin-top: 5%; border-color: #ddd;">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Choose A Partner</div>
                    <div class="panel-body">
                        <select multiple="multiple" id="partner_select">
                        
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Choose A Plan</div>
                    <div class="panel-body">
                        <select multiple="multiple" id="plan_select">
                           
                        </select>
                    </div>
                </div>
            </div>
    </div>    
</div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
<script type="text/javascript">  
   $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    var variable = [{{dates | raw}}], seriesOne = [{{data | raw}}], seriesTwo = [{{average | raw}}], partners;
    var planOpts = $("#plan_select").bootstrapDualListbox();
    var partnerOpts = $("#partner_select").bootstrapDualListbox();

    
    $('#partner_select').change(function(){
        
        var chart = $('#superchart').highcharts();
        var seriesLength = chart.series.length;
        chart.series[0].show();
        for(var i = seriesLength -1; i > 1; i--) {
            chart.series[i].remove();
        }
        planOpts.html('');
        
        if(chart.series.length > 0){
            for(i=0; i > 0; i++){
                chart.series[i].remove(true);
            }
        }
        
        $('#partner_select option:selected').each(function(){
            $.post("{{path('_adminstats_getPlans')}}",
                {
                 partner:$('#partner_select option:selected').val(), 
                 startdate:$("#startdatepicker").val(), 
                 enddate:$("#enddatepicker").val()
                }).done(function(data){

                    var plans = data.split(';');
                    var partners = plans[1].split(',');
                    variable = plans[2].split(',');
                    seriesOne = $.map(plans[3].split(","), function(values){return Number(values);});                     

                    chart.series[1].setData(seriesOne, true, true);
                    chart.series[0].setData(seriesOne, true, true);
                    chart.xAxis[0].setCategories(variable, true, true);
                        var opts = "";
                            jQuery.each(partners, function(i, val){
                                opts += '<option value="' + val +'">'  + val.replace(/[^a-z0-9\s]/gi, ' ').replace(/[_\s]/g, ' ') + '</option>';
                            });

                    planOpts.html(opts);
                    planOpts.bootstrapDualListbox('refresh', true);
            });
        });
        $("#partner_select option:selected").prop("selected", false);
        planOpts.bootstrapDualListbox('refresh', true);
    });

    
    $('#plan_select').change(function(){
    $('#plan_select option:selected').each(function(){
        var name = $('#plan_select option:selected').val();
        var chart = $('#superchart').highcharts();
        chart.series[0].hide();
        chart.series[1].setData([]); 
        $.post("{{path('_adminstats_comparePlansAction')}}", 
            {
            plan:$('#plan_select option:selected').val(), 
             startdate:$("#startdatepicker").val(), enddate:$("#enddatepicker").val()
            }).done(function(data){


                var planDetails = data.split(';');
                seriesOne = $.map(planDetails[2].split(","), function(values){return Number(values);});
    
                chart.series[1].setData(seriesTwo);
                chart.addSeries({
                    name: name.replace(/[^a-z0-9\s]/gi, ' ').replace(/[_\s]/g, ' '),                
                    data: seriesOne,
                    type: 'column'
                    });                     
                console.log(data);
            });
        });
        $("#plan_select option:selected").prop("selected", false);
    });


      $('#apply_date').click(function(){
      
        var chart = $('#superchart').highcharts();
        var seriesLength = chart.series.length;
        chart.series[0].show();
        for(var i = seriesLength -1; i > 1; i--) {
            chart.series[i].remove();
        }
        planOpts.html('');
        
        if(chart.series.length > 0){
            for(i=0; i > 0; i++){
                chart.series[i].remove(true);
            }
        }      
      
        planOpts.html('');
        $.post("{{path('_adminstats_getDatesAction')}}", 
            {
             startdate:$("#startdatepicker").val(), 
             enddate:$("#enddatepicker").val()
            }).done(function(data){

                var dates = data.split(";");
                seriesOne = $.map(dates[0].split(","), function(values){return Number(values);});
                seriesTwo = $.map(dates[1].split(","), function(values){return Number(values);});
                variable  = dates[2].split(",");
                partners = dates[3].split(",");

                var chart = $('#superchart').highcharts();
                chart.series[1].setData(seriesOne, true, true);
                chart.series[0].setData(seriesTwo, true, true);
                chart.xAxis[0].setCategories(variable, true, true);

                    var opts = "";
                       jQuery.each(partners, function(i, val){
                           opts += '<option value="' + val +'">'  + val + '</option>';
                       });

                partnerOpts.html(opts);
                partnerOpts.bootstrapDualListbox('refresh', true);
        } );
      });
      
        //Datepickers
        $('#startdatepicker').datepicker({dateFormat: "yy-mm-dd" });
        $('#enddatepicker').datepicker({ dateFormat: "yy-mm-dd" });
        $('#startDate').datepicker({ dateFormat: "yy-mm-dd" });
        
        
        //Chart
        $('#superchart').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Total Visits'
        },
        subtitle: {
            text: 'By Date Range'
        },
        xAxis: [{
            categories: variable, labels: {rotation:90}
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            title: {
                text: 'Average All',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Visits',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            labels: {
                format: '{value} Hits',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{name: 'All Partners',type: 'column',data: seriesTwo, tooltip: {valueSuffix: 'Hits'}}, {name: 'Plan: All Plans', type: 'spline', yAxis: 1, data: seriesOne, tooltip: {valueSuffix: ' Hits'}}]
    }); 
</script>

         

