{{ include ("TemplatesTemplatesBundle:Default:alert.html.twig")}}
<table class ="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Activate
            </th>
        </tr>
    </thead>
    <tbody>
        {% for template in templates %}
        <tr>
            <td>
                {{ template.name }}
            </td>
            <td>
                <input type ="checkbox" class ="sponsorConnectTemplates" value ="{{ template.id }}"  {{template.checked }}>
            </td>
        </tr>
        {% endfor %}
    </tbody> 
</table>   
<input type ="checkbox" id="sponsorConnectEnabled" {% if plan.sponsorConnect %}checked{% endif %}/> Enabled<br/>
<input type ="checkbox" id="sponsorConnectAllPlans" /> Apply to all plans in this account<br/>
<input type ="checkbox" id="sponsorConnectFuturePlans" /> Apply to future plans in this account
<br/><br/>
<button type ="button" class ="btn btn-success" onclick ="saveSponsorConnectTemplates()">Save</button>

<script>
function saveSponsorConnectTemplates()
{
    var idstring = "";
    $(".sponsorConnectTemplates:checked").each(function() 
    {
        if (idstring != "")
        idstring = idstring +",";
        idstring = idstring+$(this).val();
    });
    var sponsorConnectAllPlans = $("#sponsorConnectAllPlans").is(':checked');
    var sponsorConnectFuturePlans = $("#sponsorConnectFuturePlans").is(':checked');
    var sponsorConnectEnabled = $("#sponsorConnectEnabled").is(':checked');
    var page = "{{ path('_manage_outreach_setSponsorConnectTemplatesSaved') }}";
    var querystring = "id={{request.id}}&templates=" + idstring +"&sponsorConnectAllPlans=" + sponsorConnectAllPlans + "&sponsorConnectFuturePlans=" + sponsorConnectFuturePlans + "&sponsorConnectEnabled=" + sponsorConnectEnabled;
    $.post(page, querystring).done(function(data) 
    {
        showalert('saved-alert');
    });
}
</script>
  

 


