<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
<table class="table">
	<tr class="active">
		<td>
			Display Name
		</td>
		<td>
			Internal Name
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group" id="divDisplayName">
				<input value = "{{ currentmessage.description }}" placeholder = "Disclaimer" id = "displayName" class = "form-control"  />
			</div>
		</td>
		<td>
			<div class="form-group" id="divInternalName">
				<input value = "{{ currentmessage.name }}" placeholder = "disclaimer" id = "internalName" class = "form-control"  />
			</div>

		</td>
	</tr>
	<tr class="active">
		<td colspan="2">
			Group
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<select class="form-control" id="groupSelect">
                {% for group in groups %}
					<option {% if group.name == groupname %} selected {% endif %}>{{ group.name }}</option>
                {% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-success" onclick = "editmessage({{ currentmessage.id }})">Save</button>
		</td>
	</tr>
</table>