{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Messaging Panes'})) }}
{% if writeable %}
    <button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_plans_messagingPanes_addmessage') }}','Add Message')">Add Message</button>
    <a href="{{ path('_manage_plans_messagingPanes_groups') }}" class="btn btn-info" role="button">Manage Groups</a>
    <button class ="btn btn-primary" onclick ="ajaxModal('{{path('_manage_plans_messagingPanes_reordermessages') }}','Reorder Messages','large')">Reorder Messages</button>
    <br><br>

    {% set table = "messagesPanes" %}
    {% set tablename = "messagesPanes" %}
    {% set template = "ManageManageBundle:Messaging:Search/messageslist.html.twig" %}
    {% set header = "<th>Id</th><th>Description</th><th>Group</th><td width = \"100\">Actions</td>" %}
    {% set types = "a.id,a.description,a.messagesPanesGroupsId" %}

    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}

{% else %}
    <p>You don't have permission to view this page.</p>

{% endif %}

{{ include('ManageManageBundle:Messaging:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}