{% for key, value in messageMap %}
    <h3 class="heading">{{ key }}</h3>
<ul class="list-group messageSort">
    {% for message in value %}
        <li class="list-group-item"><input type ="hidden" value ="{{ message.id }}" class ="fundgroupids" />{{ message.description }}</li>
    {% endfor %}
</ul>
{% endfor %}
<button class ="btn btn-primary" onclick ="updateMessagingOrder()">Save</button>
<script>
$( ".messageSort" ).sortable();
function updateMessagingOrder()
{
    var ids = [];
    $( ".fundgroupids" ).each(function( index ) 
    {
       ids.push($(this).val());
    });
    var params = { ids: ids };

    var page = "{{ path('_manage_plans_messagingPanes_reordermessagesSaved') }}";
    $.post(page, params).done(function(data)
    {
        messagesPanesTable.fnDraw(false);
        closeLightBox();
    });
}
</script>