<head><link rel="stylesheet" href="/JS/colorbox-master/example1/colorbox.css"/>
<link rel="stylesheet" href="/JS/datepicker/jquery-ui.css" />
<script type="text/javascript" src="/JS/jscrollpanel/jquery.min.js"></script>
<script src="/JS/datepicker/jquery-ui.js"></script>
<script src="/JS/colorbox-master/jquery.colorbox.js"></script>
</head>
<title> {{ pagename }} </title>
         Welcome {{currentuser.name}} <br/>
      
       

<br/>
{% if currentuser.portal > 0 %}<a href = "{{ path('_manage_portal') }}">Portal</a> {% endif %}{% if currentuser.accounts > 0 %}<a href = "{{ path('_manage_accounts') }}">Accounts</a> {% endif %}{% if currentuser.emailTemplates > 0 %}<a href = "{{ path('_manage_outreach') }}">Email Templates</a> {% endif %}{% if currentuser.emailTemplates > 0 %}<a href = "{{ path('_manage_outreach_vwise') }}">Vwise Templates</a> {% endif %}{% if currentuser.account == 1 %}<a href = "{{ path('_manage_admin_control_panel_manage_promo_docs_categories') }}">Manage Sales Documents</a> <a href = "{{ path('_manage_manage_users') }}">Manage Users</a>{% endif %}
<br/><br/>
{% if currentuser.sales > 0 %}
{% for category in promoDocsCategories %}
<a href = "{{ path('_manage_promo_docs') }}?id={{ category.id }}">{{ category.name }}</a>
{% endfor %}

<br/>
<br/>
{% endif %}

<a href="{{ path('_manage_index_logout') }}"  >Logout</a>
<br/>
<br/>
  <script>
       function updatetable(table,formid,findby)
          {
          
          querystring = traverseform(table,formid);
          
          querystring = querystring + "&findby=" + findby;
          
  
          
          var ajaxRequest;  // The variable that makes Ajax possible!
  	
  	    try{
  	        // Opera 8.0+, Firefox, Safari
  	        ajaxRequest = new XMLHttpRequest();
  	    } catch (e){
  	        // Internet Explorer Browsers
  	        try{
  	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
  	        } catch (e) {
  	            try{
  	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
  	            } catch (e){
  	                // Something went wrong
  	                alert("Your browser broke!");
  	                return false;
  	            }
  	        }
  	    }
  	
  	
  	    // Create a function that will receive data sent from the server
  	    ajaxRequest.onreadystatechange = function(){
  	        if(ajaxRequest.readyState == 4){
  	
  	        alert(ajaxRequest.responseText);
  	
  	        }
      }
          
          
          ajaxRequest.open("POST", "{{ path('classesclass_update') }}" , true);
  	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  	ajaxRequest.setRequestHeader("Content-length", querystring.length);
  ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
          
  
           
      }
      function addform(table,formid,redirect,endaction)
      {
           querystring = traverseform(table,formid);
              
            
              
     if(typeof(redirect)==='undefined') redirect = "";
     if(typeof(endaction)==='undefined') endaction = "";
      
              
              var ajaxRequest;  // The variable that makes Ajax possible!
      	
      	    try{
      	        // Opera 8.0+, Firefox, Safari
      	        ajaxRequest = new XMLHttpRequest();
      	    } catch (e){
      	        // Internet Explorer Browsers
      	        try{
      	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
      	        } catch (e) {
      	            try{
      	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
      	            } catch (e){
      	                // Something went wrong
      	                alert("Your browser broke!");
      	                return false;
      	            }
      	        }
      	    }
      	
      	
      	    // Create a function that will receive data sent from the server
      	    ajaxRequest.onreadystatechange = function(){
      	        if(ajaxRequest.readyState == 4){
      	     
      	        alert(ajaxRequest.responseText);
      	        if (redirect != "")
      	        window.location = redirect;
      	        
      	        if (endaction != "")
      	        endaction;
      		
      		
      	        }
          }
              
              
              ajaxRequest.open("POST", "{{ path('classesclass_add') }}" , true);
      	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      	ajaxRequest.setRequestHeader("Content-length", querystring.length);
      ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
      
      
     // alert(querystring);
   //var str = "{{ path('classesclass_update') }}?" + traverseform(table,formid);
   //  alert(str);
      
      }
      
      function saveform(table,formid,findby,edit,save)
      {
      
     if(typeof(edit)==='undefined') edit = "edit";
     if(typeof(save)==='undefined') save = "save";
      
     
      var counter = 0;
   
      var elem = document.getElementById(formid).elements;
                      for(var i = 0; i < elem.length; i++)
                      {
                     
                      if (elem[i].type == "text" || elem[i].type == "textarea")
                      {
                      //alert(elem[i].value);
                       if (elem[i].readOnly)
                       {
                       elem[i].readOnly = false;
                       elem[i].style.backgroundColor = "white";
                       }
                       else
                       {
                       counter++;
                       elem[i].style.backgroundColor = "#E6E6E6";
                       elem[i].readOnly = true;
                       
                       }
                       }
                       else if (elem[i].type == "radio" ) //logic assumes list of either textboxes or radio dials.
                       counter++;
                     
                  } 
      
      if (counter > 0)
      {
       document.getElementById(formid + "button").value = edit;
      updatetable(table,formid,findby);
      }
     else
     {
     document.getElementById(formid + "button").value = save;
  
     }
      
      }
      
      function traverseform(table,formid)
      {
      str = "table=" + table;
   		
                  var elem = document.getElementById(formid).elements;
                  for(var i = 0; i < elem.length; i++)
                  {
                     if (elem[i].type == "radio")
                     {
                     if (elem[i].checked)
                     {
                     str += "&" + elem[i].name + "=" + encodeURIComponent(elem[i].value);
                     
                     }
                     
                     }
                     
                     
                     
                   else
                     str += "&" + elem[i].name + "=" + encodeURIComponent(elem[i].value);
                    
                 
                  } 
             return str;
      }
      
      
         function deleteform(table,findby,value,redirect)
      {
       querystring = "table=" + table + "&findby=" + findby + "&" + findby + "=" + value;
                    var ajaxRequest;  // The variable that makes Ajax possible!
            	
            	    try{
            	        // Opera 8.0+, Firefox, Safari
            	        ajaxRequest = new XMLHttpRequest();
            	    } catch (e){
            	        // Internet Explorer Browsers
            	        try{
            	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
            	        } catch (e) {
            	            try{
            	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            	            } catch (e){
            	                // Something went wrong
            	                alert("Your browser broke!");
            	                return false;
            	            }
            	        }
            	    }
            	
            	
            	    // Create a function that will receive data sent from the server
            	    ajaxRequest.onreadystatechange = function(){
            	        if(ajaxRequest.readyState == 4){
            	
            	        alert(ajaxRequest.responseText);
            	        window.location = redirect;
            	
            	        }
                }
                    
                    
                    ajaxRequest.open("POST", "{{ path('classesclass_delete') }}" , true);
            	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            	ajaxRequest.setRequestHeader("Content-length", querystring.length);
            ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
     
      }
      
      
      
      
   function    searchform(table,listid,template,endaction)
   {
   var types = document.getElementById(listid + "searchtypes").value;
   var value = document.getElementById(listid + "search").value;
   var pagenumber = document.getElementById(listid + "currentpagenumber").innerHTML;
   var maxresults = document.getElementById(listid + "maxresults").value;
   var findby = document.getElementById(listid + "findby").value;
   var findbyvalue = document.getElementById(listid + "findbyvalue").value;
   var totalrows = document.getElementById(listid + "totalrows").innerHTML;
   var selectedletter = document.getElementById(listid + "selectedletter").value;
   var searchtype = document.getElementById(listid + "searchtype").value;
   
   
   document.getElementById(listid + "totalpages").innerHTML = parseInt(Math.ceil(totalrows/maxresults));
  
   
   var querystring = "table=" + table + "&value=" + value + "&findby=" + findby +  "&findbyvalue=" + findbyvalue + "&template="  + template + "&pagenumber=" + pagenumber + "&types=" + types + "&maxresults=" + maxresults + "&selectedletter=" + selectedletter + "&searchtype=" + searchtype;
   
  
                      var ajaxRequest;  // The variable that makes Ajax possible!
              	
              	    try{
              	        // Opera 8.0+, Firefox, Safari
              	        ajaxRequest = new XMLHttpRequest();
              	    } catch (e){
              	        // Internet Explorer Browsers
              	        try{
              	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
              	        } catch (e) {
              	            try{
              	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
              	            } catch (e){
              	                // Something went wrong
              	                alert("Your browser broke!");
              	                return false;
              	            }
              	        }
              	    }
              	
              	
              	    // Create a function that will receive data sent from the server
              	    ajaxRequest.onreadystatechange = function(){
              	        if(ajaxRequest.readyState == 4){
              	document.getElementById(listid).innerHTML = ajaxRequest.responseText;
              	var countstring = ajaxRequest.responseText.split("*totalrows*");
              	var totalrows = countstring[1];
              	document.getElementById(listid + "totalrows").innerHTML = totalrows;
              	var totalpages = Math.ceil(totalrows/maxresults);
              	if (totalpages == 0)
              	totalpages = 1;
              	
              	document.getElementById(listid + "totalpages").innerHTML = totalpages;
              	
              	endaction();//need to do something else?
              	     
              	       
              	
              	        }
                  }
                  
                  if (endaction == "reload")
                  document.getElementById(listid).innerHTML ="loading icon";
                      
                      ajaxRequest.open("POST", "{{ path('classesclass_search') }}" , true);
              	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              	ajaxRequest.setRequestHeader("Content-length", querystring.length);
              ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
   
   }
   function searchformnext(table,listid,template,endaction)
      {
      var pagenumber = parseInt(document.getElementById(listid + "currentpagenumber").innerHTML);
      var totalpages = parseInt(document.getElementById(listid + "totalpages").innerHTML);
      
      if (pagenumber < totalpages)
      {
      document.getElementById(listid + "currentpagenumber").innerHTML = parseInt(document.getElementById(listid + "currentpagenumber").innerHTML) + 1;
     searchform(table,listid,template,endaction);
      }


      }   
      
         function searchformprev(table,listid,template,endaction)
            {
            var pagenumber = parseInt(document.getElementById(listid + "currentpagenumber").innerHTML);
            var totalpages = parseInt(document.getElementById(listid + "totalpages").innerHTML);
            
            if (pagenumber > 1)
            {
            document.getElementById(listid + "currentpagenumber").innerHTML = parseInt(document.getElementById(listid + "currentpagenumber").innerHTML)  -1;
           searchform(table,listid,template,endaction);
            }
      
      
      }   
      
      function newsearch(table,listid,template,endaction)
      {
      document.getElementById(listid + "currentpagenumber").innerHTML = "1";
      searchform(table,listid,template,endaction);
      }
      
      function customParseFloat(id,signed)
      {
       if(typeof(signed)==='undefined')
       signed = "signed";
       
      
      
      document.getElementById(id).value = parseFloat(document.getElementById(id).value);
      if (document.getElementById(id).value == "NaN" )
      document.getElementById(id).value = 0;
      
     
      else if (parseFloat(document.getElementById(id).value) < 0 && signed == "unsigned")
      document.getElementById(id).value = 0;
      
      }
      
            function customParseInt(id,signed)
            {
             if(typeof(signed)==='undefined')
             signed = "signed";
             
            
            
            document.getElementById(id).value = parseInt(document.getElementById(id).value);
            if (document.getElementById(id).value == "NaN" )
            document.getElementById(id).value = 0;
            
           
            else if (parseFloat(document.getElementById(id).value) < 0 && signed == "unsigned")
            document.getElementById(id).value = 0;
            
      }
      
      function assignCheckboxValue(object)
      {
      
      if (object.checked)
      object.value = 1;
      else
      object.value = 0;
      
      
      
      }
    </script>
    
    
    