{% if writeable %}<script>
var min = {{ minscore }};
var max = {{ maxscore }};
var sectionCount = 0;
var sections  = ["conservativeInvestments","moderatelyConservativeInvestments","moderateInvestments","moderatelyAggressiveInvestments","aggressiveInvestments"];

var riskSections = ["riskProfileConservative","riskProfileModeratelyConservative","riskProfileModerate","riskProfileModeratelyAggressive","riskProfileAggressive"];
var errorMessage = "";
var connectionType = "{{ connectionType }}";
var invalidInvestments = new Array();
var invalidInvestmentsCounter = 0;



$(document).ready(function()
{
  getEnabledSectionScores();
  $('.draggable').draggable();
  $('.sortable').sortable({
    connectWith: '.sortable',
    stop: function()
    {
    	scoring();
    }
  });
  $( "#savebutton" ).click(function() 
  {
    save();
  });
  {% if associate == 1 %}
  $( "#riskTypeButton" ).click(function() 
  {
	  associate('{{ currentplan.activePlanid }}','{{ currentplan.activePlantypecd }}');
  });
  {%  endif  %}

  $( "#autoscoring" ).click(function() 
  {
    if ($("#autoscoring").is(":checked"))
    {
      var scores = $("input[name=investmentIds]");
      $.each(scores, function( index, score) 
      {
        var id = score.value;;
        $("#manualscore" + id).hide();
        $("#showscore" + id).show();
      });
      rescoreInvestments();
    }
    else
    {
      var scores = $("input[name=investmentIds]");
      $.each(scores, function( index, score) 
      {
        var id = score.value;
        $("#manualscore" + id).show();
        $("#showscore" + id).hide();
        
        
      });
      for (i = 0; i < sections.length; i++)
      {
    	  if (!hasScores(sections[i],riskSections[i]))
    	  {
    		
      		var ids = $("#" + sections[i]  + " input[name=investmentIds]");
            for (j = 0; j < ids.length; j++)
            {
            	$("#manualscore" + ids[j].value).hide();
            	changeScore(ids[j].value,0,0);
            } 
    	  }
      } 
    }
    var ids = $("#inactiveInvestments input[name=investmentIds]");
    for (i = 0; i < ids.length;i++)
    {
      $("#manualscore" + ids[i].value).hide();
      $("#showscore" + ids[i].value).hide();
    }
  });  
});
function closeinvestment(id)
{
  $("#investment" + id).remove();
  invalidInvestments[invalidInvestmentsCounter++] = id;
  scoring();
}
function scoring()
{
	if ($("#autoscoring").is(":checked"))
	rescoreInvestments();
	else
	autoScoringOff();
}
function autoScoringOff()
{
  var scores = $("input[name=investmentIds]");
  
  
  $.each(scores, function( index, score) 
  {
    var id = score.value;
    $("#showscore" + id).hide();
    if ($('#investment' + id).isChildOf('#activeInvestments'))
    {
      $("#manualscore" + id).show();
    }
    else
    {
      $("#manualscore" + id).hide();
    }
    

  });


  for (i = 0; i < sections.length; i++)
  {
	  if (!hasScores(sections[i],riskSections[i]))
	  {
		
  		var ids = $("#" + sections[i]  + " input[name=investmentIds]");
        for (j = 0; j < ids.length; j++)
        {
        	$("#manualscore" + ids[j].value).hide();
        	changeScore(ids[j].value,0,0);
        } 
	  }
  }  

}
function changeScore(id,min,max,showsave)
{
  if(typeof(showsave)==='undefined')
  showsave = false;
  $("#manualscoremin" + id).val(min);
  $("#manualscoremax" + id).val(max);
  $("#investmentMin" + id).html(min);
  $("#investmentMax" + id).html(max);
  var div = "sectionButtonDiv";
  if (showsave)
  for (i = 0; i < sections.length; i++)
  {
    if ($('#investment' + id).isChildOf('#' + sections[i]))
    $("#" + div + sections[i]).show();
  }

}

function rescoreInvestments()
{
  resetScores();
  totalSections();
  autoScoring(); 
}

function autoScoring()
{
  var rangePerSection = (max-min)/sectionCount; 
  var currentmin = min;
  var currentmax = 0;//set during loop
  var sectionMax = min;

  for (i = 0; i < sections.length; i++)
  {
    if (hasScores(sections[i],riskSections[i]))
    {
      var ids = $("#" + sections[i]  + " input[name=investmentIds]");
      var sectionMax = sectionMax + rangePerSection;
      
      for (j = 0; j < ids.length; j++)
      {
        currentmax = currentmin + Math.floor(rangePerSection/ids.length);
        if (j+1 == ids.length) 
        currentmax = Math.floor(sectionMax);
        changeScore(ids[j].value,currentmin,currentmax);
        currentmin = currentmax+1;
        
      }
    }
    else
    {
        var ids = $("#" + sections[i]  + " input[name=investmentIds]");
        
        
        for (j = 0; j < ids.length; j++)
        {
        	$("#showscore" + ids[j].value).hide();
        	changeScore(ids[j].value,0,0);
        }        
    }
  }
}    
function riskProfileToggle(id)
{
  if ($("#" + id).prop("className") == "risk-profile-group")
  $("#" + id).prop("className","risk-profile-group inactive");
  else
  $("#" + id).prop("className","risk-profile-group");
  scoring();
}
function resetScores()
{
  var scores = $("input[name=investmentIds]");
  $.each(scores, function( index, score) 
  {
    var id = score.value;
    if ($('#investment' + id).isChildOf('#inactiveInvestments'))
    {
      changeScore(id,"","");
    }
    if ($('#investment' + id).isChildOf('#activeInvestments'))
    {
      $("#showscore" + id).show();
    }
    else
    {
      $("#showscore" + id).hide();
    }
  });
  
}




function totalSections()
{
  sectionCount = 0;
  for (i = 0; i < sections.length; i++)
  {
    var scores = $("#" + sections[i]  + " input[name=investmentIds]");
    if (scores.length > 0 && $("#" + riskSections[i] + "group").prop("className") == "risk-profile-group")
    sectionCount++;
  }
  
  
}

function hasScores(section,riskSection)
{
  var scores = $("#" + section  + " input[name=investmentIds]");
 
  if (scores.length > 0 && $("#" + riskSection + "group").prop("className") == "risk-profile-group")
  return true;
  return false;
}
function checkScoreGaps()
{
  infunctionErrorMessage = "";
  var filledScores = new Array();
  for (i = min; i <= max; i++)
  filledScores[i] = 0;
  var isvalid = true;
  var scores = getEnabledSectionScores();
  $.each(scores, function( index, score) 
  {
    var id = score;

    var currentmin = parseInt($("#investmentMin" + id).html());
    var currentmax = parseInt($("#investmentMax" + id).html());

    for (i = currentmin; i <= currentmax; i++)
    {
      filledScores[i]++;
    }

  });
  for (i = min; i <= max; i++)
  {
    if (filledScores[i] == 0)
    {
      if (infunctionErrorMessage == "")
      infunctionErrorMessage = "Missing Scores: " + i;
      else
      infunctionErrorMessage = infunctionErrorMessage + "," + i;
      isvalid = false;
    }
  }
  if (infunctionErrorMessage != "")
  {
    errorMessage = infunctionErrorMessage;
  }
  
  return isvalid;
}
function checkDuplicateScores()
{
  infunctionErrorMessage = "";
  var filledScores = new Array();
  for (i = min; i <= max; i++)
  filledScores[i] = 0;
  var duplicates = new Array();
  var duplicateCounter = 0;

  var isvalid = true;
  var scores = getEnabledSectionScores();
  $.each(scores, function( index, score) 
  {
    var id = score;

    var currentmin = parseInt($("#investmentMin" + id).html());
    var currentmax = parseInt($("#investmentMax" + id).html());

    for (i = currentmin; i <= currentmax; i++)
    {
      filledScores[i]++;

    }

  });
  for (i = min; i <= max; i++)
  {
    if (filledScores[i] > 1)
    {
      if (infunctionErrorMessage == "")
      infunctionErrorMessage = "Duplicate Scores: " + i;
      else
      infunctionErrorMessage = infunctionErrorMessage + "," + i;
      duplicates[duplicateCounter] = i;
      duplicateCounter++;
      isvalid = false;
    }
  }

  $.each(scores, function( index, score) 
  {
    var id = score.value;

    var currentmin = parseInt($("#investmentMin" + id).html());
    var currentmax = parseInt($("#investmentMax" + id).html());
    for (j = 0; j < duplicates.length; j++) 
    if (duplicates[j] == currentmin || duplicates[j] == currentmax)
    $("#investmentPanel" + id).prop("className","panel-body alert-danger");
  });


  if (infunctionErrorMessage != "")
  {
    errorMessage =  infunctionErrorMessage;
  }
  
  return isvalid;
}
function checkMinAndMax()
{
  var scores = getEnabledSectionScores();
  var isvalid =  true;
  $.each(scores, function( index, score) 
  {
    var id = score;

    var currentmin = parseInt($("#investmentMin" + id).html());
    var currentmax = parseInt($("#investmentMax" + id).html());

    if (currentmin < min || currentmax < min)
    {
	  skip = inDisabledSection(id);
      if (!skip)
      {
	      errorMessage = "Investment Score < Min(" + min + ")";
	      //class="panel-body alert-danger"
	      isvalid = false;
	      $("#investmentPanel" + id).prop("className","panel-body alert-danger");
      }
    }
    if (currentmin > max || currentmax > max)
    {
      errorMessage = "Investment Score > Max(" + max + ")";
      isvalid = false;
      $("#investmentPanel" + id).prop("className","panel-body alert-danger");
    }    
  });
  return isvalid;
}
function getEnabledSectionScores()
{
	var scoresEnabled = new Array();
	var counter = 0;
	
    for (i = 0; i < sections.length; i++)
    {
    	if ($("#" + riskSections[i] + "group").prop("className") == "risk-profile-group")
    	{
	    	var scores = $("#" + sections[i] + " input[name=investmentIds]");
	    	
	    	for (j = 0; j < scores.length; j++)
	    	{
	    		scoresEnabled[counter++] = scores[j].value;
	    	}
    	}
    }
    return scoresEnabled;
}

function inDisabledSection(id)
{
	var skip = false;
	for (i = 0; i < riskSections.length; i++)
	if ($('#investment' + id).isChildOf('#' + riskSections[i] + "group") && $("#" + riskSections[i] + "group").prop("className") != "risk-profile-group")
	skip = true;
	return skip;

}
function checkScoreOrder()
{
  var isvalid = true;
  var scores = getEnabledSectionScores();
  for (i = 0; i < scores.length; i++)
  {
    for (j = i;j < scores.length; j++)
    if (parseInt($("#investmentMin" + scores[i]).html()) > parseInt($("#investmentMin" + scores[j]).html()) || 
    parseInt($("#investmentMin" + scores[i]).html()) > parseInt($("#investmentMax" + scores[j]).html()) ||      (j > i && parseInt($("#investmentMax" + scores[i]).html()) > parseInt($("#investmentMin" + scores[j]).html()) || 
    parseInt($("#investmentMax" + scores[i]).html()) > parseInt($("#investmentMax" + scores[j]).html())))
    {
      errorMessage = "Scores are in incorrect order";
      $("#investmentPanel" + scores[i]).prop("className","panel-body alert-danger");
      $("#investmentPanel" + scores[j]).prop("className","panel-body alert-danger");
      isvalid = false;
    }
  }
  return isvalid;
}
function checkValidInvestments()
{
  var invalidInvestments = $("input[name=invalidInvestments]");
  if (invalidInvestments.length > 0)
  {
    errorMessage = "There exists investments that are no longer available";
    return false;
  }
  return true;
}
function checkScores()
{
  if (!checkMinAndMax())
  {
    return false;
  }  
  if (!checkScoreOrder())
  {
    return false;
  }
  if (!checkScoreGaps())
  {
    return false;
  }
  if (!checkDuplicateScores())
  {
    return false;
  }
  if (!checkValidInvestments())
  {
    return false;
  }

  return true;
}
function save()
{
  if (checkScores())
  {
    var querystring = "";
    var inactiveInvestments = "";
    var activeInvestments = "";
    var riskValue = "";
    var autoscoring = "";
    var page = "{{ path('_plans_associate_save_investments') }}";
    for (i = 0; i < sections.length; i++)
    {
    	var ids = $("#" + sections[i]  + " input[name=investmentIds]");
    	for (j = 0; j < ids.length; j++)
    	{
    		if (activeInvestments != "")
    		activeInvestments = activeInvestments + "|";
    		activeInvestments = activeInvestments + ids[j].value + "," + $("#investmentMin" + ids[j].value).html() + "," + $("#investmentMax" + ids[j].value).html() + "," + i;
    	}
    }
    var ids = $("#inactiveInvestments input[name=investmentIds]");
    for (i = 0; i < ids.length;i++)
    {
      if (inactiveInvestments != "")
      inactiveInvestments = inactiveInvestments + ",";
      inactiveInvestments = inactiveInvestments + ids[i].value;
    }


    if (activeInvestments != "")
    querystring = querystring + "activeInvestments=" + activeInvestments;
    if (inactiveInvestments != "")
    {
      if (querystring != "")
      querystring = querystring + "&";
      querystring = querystring + "inactiveInvestments=" + inactiveInvestments;
    }
    for (i = 0; i < riskSections.length; i++)
    {
      if (querystring != "")
      querystring = querystring + "&";
      if ($("#" + riskSections[i]).is(":checked"))
      riskValue = 1;
      else
      riskValue = 0;
      querystring = querystring +  riskSections[i] + "=" + riskValue;
    }
    if ($("#autoscoring").is(":checked"))
    autoscoring= 1;
    else
    autoscoring = 0;
    querystring = querystring +  "&autoscoring=" + autoscoring;

    if (invalidInvestmentsCounter > 0)
    {
      
      querystring = querystring + "&invalidInvestments=";
      for (i =0; i < invalidInvestmentsCounter; i++)
      {
        if (i > 0)
        querystring = querystring + ",";
        querystring = querystring + invalidInvestments[i];
      }
    }
    querystring = querystring + "&type={{riskType}}";
    $.post(page, querystring).done(function(data) 
    {
      $('#danger-alert').hide();
      var scores = $("#activeInvestments input[name=investmentIds]");
      $.each(scores, function( index, score) 
      {
        id = score.value;
        $("#investmentPanel" + id).prop("className","panel-body");
      });
      var div = "sectionButtonDiv";
      for (i = 0; i < sections.length; i++)
      {
        $("#" + div + sections[i]).hide();
      }
      $('html, body').animate({ scrollTop: 0 }, 0);
      $('#saved-alert').show();
      setTimeout(function(){
      $('#saved-alert').slideUp();
      },3000);
    });
  }
  else
  {
    $('html, body').animate({ scrollTop: 0 }, 0);
    $('#danger-alert').html(' <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + errorMessage);
    $('#danger-alert').show();
  }
  //alert(errorMessage);
}

function riskBasedFundsAlert()
{
  showalert('riskbasedfundadd-alert');
  setTimeout(function(){ redirectocurrentpage() }, 2000);
}

(function($) {
    $.fn.extend({
        isChildOf: function( filter_string ) {
          
          var parents = $(this).parents().get();
         
          for ( j = 0; j < parents.length; j++ ) {
           if ( $(parents[j]).is(filter_string) ) {
      return true;
           }
          }
          
          return false;
        }
    });
})(jQuery); 
</script>
{% endif %}

<script>
function showPortfoliosXml()
{
    var querystring = "";
    if (connectionType.indexOf("SRT") == 0)
    {
        var recordkeeperurl = "{{ path('_recordkeepers_srt_portfoliosXML') }}?planid={{ currentplan.activePlanid  }}";   
        ajaxModal(recordkeeperurl,"Portfolios Xml",'large',"true");       
    }
    if (connectionType == "Relius")
    {
        var recordkeeperurl = "{{ path('recordkeepers_relius_portfolios_xml') }}?planid={{ currentplan.activePlanid  }}";
                $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
        $.post(recordkeeperurl, querystring).done(function(data) 
        {
            $("#testplandiv").html(data);
        });
    } 

}
function showRiskBasedFundsXml()
{
    var querystring = "";
    
    if (connectionType.indexOf("SRT") == 0)
    {
        var recordkeeperurl = "{{ path('_recordkeepers_srt_riskBasedFundsXML') }}?plantypecd={{ currentplan.activePlantypecd  }}";   
        $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
        $.post(recordkeeperurl, querystring).done(function(data) 
        {
            $("#testplandiv").html(data);
        });
    }
    if (connectionType == "Relius")
    {
        var recordkeeperurl = "{{ path('recordkeepers_relius_riskBasedFundsXML') }}?planid={{ currentplan.activePlanid  }}";
        $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
        $.post(recordkeeperurl, querystring).done(function(data) 
        {
            $("#testplandiv").html(data);
        });
    } 
}
</script>