<script>
var connectionType = "{{ connectionType }}";
$(document).ready(function()
{
	//alert('test');
});
//associate('{{ currentplan.activePlanid }}','{{ currentplan.activePlantypecd }}');

</script>