<form id = "addPage">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" />
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>
<script>
$( document ).ready(function() 
{
    $( "#addPage" ).submit(function( event ) 
    {
        event.preventDefault();
        addLandingPageSaved();
    });
});
</script>