<form id = "addTag">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" />
    <br/>
    <textarea name ="html" style = "width:100%;height:200px;resize:none"></textarea>
    <br/>
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>
<script>
$( document ).ready(function() 
{
    $( "#addTag" ).submit(function( event ) 
    {
        event.preventDefault();
        addTagLandingPageSaved();
    });
});
</script>