<form id = "editTag">
    <input type ="text" class ="form-control" placeholder ="Name" name ="name" value ="{{ tag.name }}" />
    <br/>
    <textarea name ="html" style = "width:100%;height:200px;resize:none">{{ tag.html }}</textarea>
    <br/>
    <br/>
    <button type ="submit" class ="btn btn-success">Save</button>
</form>
<script>
$( document ).ready(function() 
{
    $( "#editTag" ).submit(function( event ) 
    {
        event.preventDefault();
        editTagLandingPageSaved({{ tag.id }});
    });
});
</script>