{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Video Landing Pages'})) }}
<button type ="button" class ="btn btn-info" class ="form-control" onclick = "addLandingPage()">Add page</button>
<br/><br/>
{% set table = "videoLandingPages" %}
{% set tablename = "videoLandingPages" %}
{% set header = "<th>Id</th><th>Name</th><th>Header Tag</th><th>Insert Tag</th><th>Actions</th>" %}
{% set template =  'ManageManageBundle:videoLandingPage:Search/pages.html.twig' %}
{% set types = "a.id,a.name" %}
{% set unsearchableArray = [2] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<h3>Custom Tags</h3>
<button type ="button" class ="btn btn-info" class ="form-control" onclick = "addTag()">Add Tag</button>
<br/><br/>
{% set table = "videoLandingPagesCustomTags" %}
{% set tablename = "videoLandingPagesCustomTags" %}
{% set template =  'ManageManageBundle:videoLandingPage:Search/tags.html.twig' %}
{% set header = "<th>Id</th><th>Name</th><th>Actions</th>" %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function addLandingPage()
{
    ajaxModal("{{ path('_manage_videoLandingPage_add') }}","Add Page","large");
}
function addLandingPageSaved()
{
    var querystring = $( "#addPage" ).serialize();
    var page = "{{ path('_manage_videoLandingPage_add_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplateList();
    });
}
function editPage(id)
{
    ajaxModal("{{ path('_manage_videoLandingPage_edit') }}?id=" + id,"Edit Page","large");
}
function editLandingPageSaved(id)
{
    var querystring = $( "#editPage" ).serialize() + "&id=" + id;
    var page = "{{ path('_manage_videoLandingPage_edit_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTemplateList();
    });
}
function reloadTemplateList()
{
    closeLightBox();
    videoLandingPagesTable.fnDraw(false);
}
function addTag()
{
    ajaxModal("{{ path('_manage_videoLandingPage_add_tag') }}","Add Tag","large");
}
function reloadTagList()
{
    closeLightBox();
    videoLandingPagesCustomTagsTable.fnDraw(false);    
}

function addTagLandingPageSaved()
{
    var querystring = $( "#addTag" ).serialize();
    var page = "{{ path('_manage_videoLandingPage_add_tag_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTagList();
    });
}
function editTagLandingPageSaved(id)
{
   
    
    var querystring = $( "#editTag" ).serialize() + "&id=" + id;
    var page = "{{ path('_manage_videoLandingPage_edit_tag_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadTagList();
    });
    
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}