{%  if embedded is not defined  %}
{%  set embedded = false %}
{%  endif  %}

{% if not embedded  %}{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% endif %}

{{ include ("SharedGeneralBundle:Default:progressbar.html.twig")  }}

<h3>Documents Library</h3>

<p class="well well-sm"><span class="glyphicon glyphicon-info-sign"></span> Below you can add, edit or remove links to key documents you want your participants to be able to access through SmartPlan.
    

    
    {% set tablename = documentTable %}
    {% set table = documentTable %}

    {% set types = "a.id,a.name,a.url,a.dateAdded" %}
    {% if writeable %}
    {% set header = "<th>Id</th><th>Document&nbsp;Name</th><th>Document Link</th><th>Date Added</th><th>Actions</th>" %}
    {% set unsearchableArray = [4] %}
    {% else %}
    {% set header = "<th>Id</th><th>Name</th><th>Document Link</th><th>Date Added</th>" %}
    {% endif %}

    {% set findby = documents.findby %}
    {% set findbyvalues = documents.findbyvalues %}
    
   
    {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
    {% if writeable %}
        <div  class="btn btn-info btn-sm" data-toggle="modal" data-target="#documentModal"><span class="glyphicon glyphicon-plus"></span> Add Document</div>
        {% if pagetype is defined and pagetype == "settings" %}
            <button type = "button" class="btn btn-info" id="save-and-update-btn" onclick = "saveAndUpdate('Documents')">Update All Plans With Defaults</button>
            <a href = "{{path('shared_general_default_select_plans_helper')}}/Documents" class="btn btn-primary">Update Some Plans With Defaults</a>
        {% endif %}
    {% endif %}

<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModalLabel">Add Document</h4>
      </div>
      <div class="modal-body">
        <form id = "adddocument">
        {% block additionalInputsForAddDocument %}{% endblock %}
        <input type = "text" name = "userid"  value = "{{ documents.userid }}" style = "display:none" />
        <input type = "text" class="form-control" id = "addname" name = "name"  value = ""  placeholder = "Name" /><br/>
        <input type = "text" class="form-control" id = "addurl" name = "url"  value = ""  placeholder = "Link" /><br/>
        </form>
        <button type = "button" onclick = "addDocument()" class="btn btn-info" >Add Document</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script>
var documentSections = ["documentList", "addDocument"];//pills
var documentTable = "{{ documentTable }}";
var documentRedirect = "{% block returnpage %}{% endblock %}";
var templatePath = "{{ templatePath }}";



function reloadDocumentList()//after finished saving, reload the document list
{
    closeLightBox();
    {{ documentTable }}Table.fnDraw();  
}
function addDocument()
{
    addform(documentTable,'adddocument','',reloadDocumentList );
    $("#addname").val("");
    $("#addurl").val("");
    $("#documentModal").modal("hide");
}
</script>
{{ include ("SharedGeneralBundle:Default:javascript/index.js.twig")  }}
{% if not embedded%}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
{%  endif  %}

