{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Library Videos'})) }}
{% if writeable %}

<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_plans_library_addVideo') }}','Add Video')">Add Video</button>
<a href="{{ path('_manage_plans_library_manageDirectories') }}" class="btn btn-info" role="button">Manage Directories</a>
<a href="{{ path('_manage_plans_library_manageTypes') }}" class="btn btn-info" role="button">Manage Types</a>
</br></br>

{% set table = "plansLibraryVideos" %}
{% set tablename = "plansLibraryVideos" %}
{% set template = "ManageManageBundle:PlansLibrary:Search/videolist.html.twig" %}
{% set header = "<th>Id</td><td>Display Name</td><td>Internal Name</td><td>Type</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.displayname,a.name,a.typeid" %}
{% set unsearchableArray = [4] %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

{% else %}
<p>You don't have permission to view this page.</p>

{% endif %}

{{ include('ManageManageBundle:PlansLibrary:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}