{{ include('AccountAccountBundle:Default:javascript/fieldvalidation.js.twig')}}   
<script>
function editUser()
{
	var page = "{{ path('_account_check_creds') }}";
	var querystring = "email=" + $("#user_email").val() + "&id={{ clientid }}";
        if (validationString() == "")
	$.post(page, querystring).done(function(data) 
	{
		if (data == "0")
		{
                    accountsUsersId = {{ clientid }};
                    var querystring = serialize("edituser");
                    var page = "{{ path('_account_user_editUser') }}";
                    $.post(page, querystring).done(function(data) 
                    {
                        if (data.errors.length == 0)
                        {
                           addAdditionalRoles();
                        }
                        else {
                            jsonResponseModal(data.errors,"alert");
                        }
                    });
		}
		else
		{
                    alert('email already exists');
		}	
	});
        else
        alert(validationString());
}
$( "#userRole" ).change(function() 
{
	$(".additionalRoles").show();
	$("input[name=additionalRoles]").prop("checked",false);
	$("#additionalRole" + $("#userRole").val() + "Div").hide();
});

$("#ajaxModule").on("hidden.bs.modal", function () {
    accountsUsersTable.ajax.reload();
});

</script>