<script>
function validationString()
{
var validationstring = "";
{% set fieldCounter = 0 %}
{% for key in userFields|keys %}
{% if key !="phone2" and key != "address2" and   key != "address" and key != "city" and key != "state" and key != "zip" and key != "password" %}   
if ($("#user_{{ key}}").val() == "")
{
    if (validationstring == "")
    validationstring = "Required fields must not be empty: {{key}}";
    else
    validationstring =   validationstring + ",{{key}}";
}

{% endif %}
{% endfor %}
    
return validationstring;
}
    
    
</script>