<script>
function togglePlan(planid)
{
    var page = "{{ path('_account_user_setplans_toggle_plan') }}"; 	
    var querystring = "planid=" + planid;
	$.post(page, querystring).done(function(data) 
	{

	});
}


function togglePlansOn()
{
	$.each($('input[name="adviserplan"]:not(:checked)'), function() 
	{
		togglePlan($(this).val())
	});	
	$('input[name="adviserplan"]').prop("checked",true);
}

function togglePlansOff()
{
	$.each($('input[name="adviserplan"]:checked'), function() 
	{
		togglePlan($(this).val())
	});	
	$('input[name="adviserplan"]').prop("checked",false);
}


</script>
