<script>
    function saveHR() {
        var querystring = $("#outreach-form").serialize();
        var page = "{{ path('_plans_outreach_save_HR') }}";
        $.post(page, querystring).done(function(data)
        {
            showalert('saved-alert');
        });
    }

    function updateYoutubePlayer()
    {
        if ($('#youtubePlayerCheckBox').is(":checked"))
        {

            $('#youtubePlayer').val(1);
        }
        else
        {

            $('#youtubePlayer').val(0);
        }
    }
    $(document).ready(function ()
    {
        $("[name='participantDetails']").bootstrapSwitch();
        $("#currentplanidButton").click(function ()
        {
            if ($("#currentplanid").val() != "")//should probably add logic to see if existing plan then do a danger alert if not found
                window.location = "?planid=" + $("#currentplanid").val();
        });
        $("#youtubePlayerCheckBox").click(function ()
        {
            updateYoutubePlayer();
        });
        $("#plan-campaigns").submit(function (event) 
        {

            event.preventDefault();
            var formData = new FormData($(this)[0]);

            console.log($("#plan-campaigns").serialize());

            $.ajax(
            {
                url: $(this).attr("action"),
                type: 'POST',
                data: formData,
                async: false,
                success: function (data)
                {
                    {% if managepage is not defined %}
                    {% for image in images %}
                        changeSrc("{{ image.section }}", data);
                    {% include ('PlansPlansBundle:Branding:javascript/hidefilesegment.js.twig') %}
                    {% endfor %}
                    

                    showalert('saved-alert');
                   // {% for image in images %}
                   // if ($( "#{{ image.section }}SRCText").val() == "")
                    //setTimeout(function(){ window.location = ""; }, 1500);
                   // {% endfor %}
                    {% endif %}

                        //location.reload();
                },
                    cache: false,
                    contentType: false,
                    processData: false
            });
           
        });


    });

</script>