{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Investor Profile'})) }}
{{  include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{{  include("SharedInvestorProfileBundle:Default:javascript/index.js.twig") }}

<style>
    .loader {
        border: 5px solid #f3f3f3;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-top: 5px solid #555;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>

<script>
    $(document).ready( function(){
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            if ($(e.target).attr('href')) {
                $($(e.target).attr('data-target')).empty().append('<div class="loader"></div>').load($(e.target).attr('href'));
            }
        });
    })
</script>

<h2>Investor Profile</h2>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="{{path('_' ~ path ~ '_investor_profile_scores')}}" data-target="#scores" aria-controls="scores" role="tab" data-toggle="tab">Investor Scores</a></li>
        <li role="presentation"><a href="{{path('_' ~ path ~ '_investor_profile_years')}}" data-target="#years" aria-controls="years" role="tab" data-toggle="tab">Investor Years To Retirement</a></li>
        <li role="presentation"><a href="{{path('_' ~ path ~ '_investor_profile_scoresyears')}}" data-target="#scoresyears" aria-controls="scoresyears" role="tab" data-toggle="tab">Association</a></li>
        <li role="presentation"><a href="{{path('_' ~ path ~ '_investor_profile_options')}}" data-target="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top:20px;">
        <div role="tabpanel" class="tab-pane active" id="scores">
            {{ render(controller(controller ~'investmentsScoreIndex')) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="years">

        </div>
        <div role="tabpanel" class="tab-pane" id="scoresyears">

        </div>
        <div role="tabpanel" class="tab-pane" id="options">

        </div>
    </div>
</div>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}