{% if investmentsScore.min is defined %}
    {% if investmentsScore.min != 0 %}
        {% set min = investmentsScore.min + 1 %}
    {% else %}
        {% set min = 0 %}
    {% endif %}
{% else %}
    {% if maxvalue > 0 %}
        {% set min = maxvalue + 1 %}
    {% else %}
        {% set min = 0 %}
    {% endif %}
{% endif %}

{% set previousmin = 0 %}
{% if prevmin is defined %}
    {% if prevmin.min != 0 %}
        {% set previousmin = prevmin.min + 1 %}
    {% else %}
        {% set previousmin = prevmin.min %}
    {% endif %}
{% else %}
    {% if maxvalue is defined %}
        {% set previousmin = maxvalue + 1 %}
    {% endif %}
{% endif %}


<script>
    $(document).ready(function() {
        $('#investmentsScoreForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                max: {
                    validators: {
                        between: {
                            min: {{ previousmin + 1 }},
                            max:  100,
                            message: 'The value must be between {{ previousmin + 1}} and 100.'
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitInvestmentsScore();

        });
    });
</script>

<form class="form-inline" data-toggle="validator" action="" method="POST" id="investmentsScoreForm">
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="id" value="{{investmentsScore.id is defined ? investmentsScore.id : ''}}">
    <div class="form-group">
        <label for="investmentsScoreMin">Score Range</label>
        <input type="text" readonly class="form-control" id="investmentsScoreMin" name="min" value="{{ action == "add" ? min : previousmin}}">
        <input type="text" class="form-control" id="investmentsScoreMax" name="max" value="{{ action == 'edit' ? investmentsScore.min : '' }}" required/>

    </div>
    <button type="submit" id="save-btn" class="btn btn-primary">Save</button>
</form>