<table class="table table-striped" id="investorProfileTable">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% set previous = false %}
        {% for year in investmentsYears %}
            {% if previous %}
            <tr>
                <td>{{previous.min }}</td>
                <td>{{ year.min }}</td>
                <td>
                    {% if loop.last %}
                    <a href="javascript:" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_years_edit', {'id':year.id, 'previd': previous.id})}}', 'Edit Investment Year')">
                        <span aria-label="Edit" class="glyphicon glyphicon-pencil"></span>Edit
                    </a>
                    <a href="javascript:" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_years_delete', {'id':year.id, 'previd': previous.id})}}', 'Delete Investment Year')">
                        <span aria-label="Delete" class="glyphicon glyphicon-trash"></span>Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% set previous = year %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <button type="button" class="btn btn-primary" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_years_add')}}', 'Add Investment Year')">Add</button>
            </td>
        </tr>
    </tfoot>
</table>