{% set previousmin = 0 %}
{% if previd.min is defined %}
    {% set previousmin = previd.min %}
{% endif %}

<form class="form-inline" action="" method="POST" id="investmentsYearsToRetirementForm" onsubmit="return deleteInvestmentsYearsToRetirement({{ investmentsYearsToRetirement.id }}, {{ previd.id }});">
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="id" value="{{investmentsYearsToRetirement.id is defined ? investmentsYearsToRetirement.id : ''}}">
    <div class="alert alert-warning" role="alert"><b>Warning:</b> Deleting this year will remove all relevant associations.</div>
    <div class="form-group">
        <label for="investmentsYearsToRetirementMin">Year Range</label>
        <input type="text" class="form-control" id="investmentsYearsToRetirementMin" name="min" value="{{previousmin}}" readonly>
        <input type="text" class="form-control" id="investmentsYearsToRetirementMax" name="max" value="{{investmentsYearsToRetirement.min is defined ? investmentsYearsToRetirement.min : ''}}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>