{% set previousmin = 0 %}
{% if previd.min is defined %}
    {% if previd.min != 0 %}
        {% set previousmin = previd.min + 1 %}
    {% else %}
        {% set previousmin = previd.min %}
    {% endif %}
{% endif %}

<form class="form-inline" action="" method="POST" id="investmentsScoreForm" onsubmit="return deleteInvestmentsScore({{ investmentsScore.id }}, {{ previd.id }});">
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="id" value="{{investmentsScore.id is defined ? investmentsScore.id : ''}}">
    <input type="hidden" name="previd" value="{{ previd.id }}">
    <div class="alert alert-warning" role="alert"><b>Warning:</b> Deleting this score will remove all relevant associations.</div>
    <div class="form-group">
        <label for="investmentsScoreMin">Score Range</label>
        <input type="text" class="form-control" id="investmentsScoreMin" name="min" value="{{previousmin}}" readonly>
        <input type="text" class="form-control" id="investmentsScoreMax" name="max" value="{{investmentsScore.min is defined ? investmentsScore.min : ''}}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>