<style>
    .not-assigned {
        color:red;
    }
    .not-assigned:hover {
        color:red;
    }
</style>

{% set showWarning = false %}

<div id="assign-warning" style="display:none" class="alert alert-danger">
    <strong>Warning!</strong> Please assign a pie chart to scores highlighted in red.
</div>

<table class="table table-striped" id="investorProfileTable">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set previous = false %}
        {% for score in investmentsScores %}
            {% if previous %}
                <tr>
                    <td>{{ previous.min == 0 ? 0 : previous.min + 1 }}</td>
                    <td>{{ score.min }}</td>
                    <td>
                        {% if loop.last %}
                        <a href="javascript:" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_scores_edit', {'id':score.id, 'previd': previous.id})}}', 'Edit Investment Score')">
                            <span aria-label="Edit" class="glyphicon glyphicon-pencil"></span>Edit
                        </a>
                        <a href="javascript:" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_scores_delete', {'id':score.id, 'previd': previous.id})}}', 'Delete Investment Score')">
                            <span aria-label="Delete" class="glyphicon glyphicon-trash"></span>Delete
                        </a>
                        {% endif %}
                        <a href="javascript:" {% if previous.id not in scoreIdWithAssign %}{% set showWarning = true %}class= "not-assigned" {% endif %}onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_scores_colors_assign', {'id':previous.id})}}', 'Assign Pie Graph To Score {{ previous.min == 0 ? 0 : previous.min+1 }}-{{ score.min }}')">
                        <span aria-label="Assignment" class="glyphicon glyphicon-list-alt"></span>Assign
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% set previous = score %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-primary" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_scores_add')}}', 'Add Investment Score')">Add</button>
            </td>
            <td colspan="1">
                <button type="button" class="btn btn-primary" onclick="ajaxModal('{{path('_' ~ path ~ '_investor_profile_scores_colors_assignAll')}}', 'Add Investment Score')">Set Default Color</button>
            </td>
        </tr>
    </tfoot>
</table>

<script>
{% if showWarning %}

    $(document).ready( function() {
        $('#assign-warning').show();
    });

{% else %}

    $(document).ready( function() {
        $('#assign-warning').hide();
    });

{% endif %}
</script>