<style>
    .bar-text {
        font-size: 14px;
        height: 26px;
        line-height:26px;
        color: white;
    }

    #gradient {
        position:relative;
        text-align: center;
        width: 100%;
        height: 26px;
        background: {{ configurationColors.rightColor }}; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, {{ configurationColors.leftColor }} , {{ configurationColors.middleColor }}, {{ configurationColors.rightColor }}); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, {{ configurationColors.leftColor }} , {{ configurationColors.middleColor }}, {{ configurationColors.rightColor }}); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, {{ configurationColors.leftColor }} , {{ configurationColors.middleColor }}, {{ configurationColors.rightColor }}); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, {{ configurationColors.leftColor }} , {{ configurationColors.middleColor }}, {{ configurationColors.rightColor }}); /* Standard syntax (must be last) */

    }
    #gradient:after {
        content:"";
        position:absolute;
        height:0;
        width:0;
        left:100%;
        top:0;
        border:13px solid transparent;
    }
    #gradient:before {
        content:"";
        position:absolute;
        height:0;
        width:0;
        right:100%;
        top:0;
        border:13px solid transparent;
    }
    .inner {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<script>
    $(document).ready( function() {
        $('body').append('<style>#gradient:before { border-right: 20px solid {{ configurationColors.leftColor }}; }</style>');
        $('body').append('<style>#gradient:after { border-left: 20px solid {{ configurationColors.rightColor }}; }</style>');
    });
</script>


<div id="gradient">
    <div class="row bar-text">
        <div style="text-align: left;"class="col-sm-4 inner">
            <span>{{ 'low'| trans ({}, 'investments') }}</span>
        </div>
        <div class="col-sm-4">
            {{ 'risk_reward'| trans ({}, 'investments') }}
        </div>
        <div style="text-align: right;" class="col-sm-4 inner">
            {{ 'high'| trans ({}, 'investments') }}
        </div>
    </div>
</div>