<tr>
    <td>
        {{ heading }}
    </td>
    {% set scorePrevious = false %}
    {% for score in investmentsScores %}
        {% if scorePrevious %}
            <td>
                {% set currType = investmentsScoresYearsArray[scorePrevious.id][yearPrevious.id] is defined ? investmentsScoresYearsArray[scorePrevious.id][yearPrevious.id].type : '' %}
                <select {% if not enabled %}disabled {% endif %}required name="investmentsScoresYears[{{scorePrevious.id}}][{{yearPrevious.id}}]" class="form-control">
                    <option value=""></option>
                    <option value="Conservative" {%if currType == "Conservative"%}selected{%endif%}>Conservative</option>
                    <option value="Moderate Conservative" {%if currType == "Moderate Conservative"%}selected{%endif%}>Moderate Conservative</option>
                    <option value="Moderate" {%if currType == "Moderate"%}selected{%endif%}>Moderate</option>
                    <option value="Moderate Aggressive" {%if currType == "Moderate Aggressive"%}selected{%endif%}>Moderate Aggressive</option>
                    <option value="Aggressive" {%if currType == "Aggressive"%}selected{%endif%}>Aggressive</option>
                </select>
            </td>
        {% endif %}
        {% set scorePrevious = score %}
    {% endfor %}
</tr>
