<table class ="table table-striped">
    <thead>
    <tr>
        <th>Key</th>
        <th id="previous">Value</th>
        <th id="toHide" style="display:none">Current</th>
    </tr>
    </thead>
    <tbody>
    {% for key,response in data %}
        <tr>
            <th>{{ key }}</th>
            {% if log.type == 'UPDATE' %}
                <th>{{ response[0] | json_encode() }}</th>
                <th>{{ response[1] | json_encode() }}</th>
            {% else %}
                <th>{{ response | json_encode() }}</th>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if log.type == 'UPDATE' %}
    <script>

        $(document).ready(function(){
            $('#toHide').show();
            $('#previous').text('Previous');
        });

    </script>
{% endif %}