<script>
var ticketTable;
$(document).ready(function()
{
  ticketTableOpen =  $('#ticketTableOpen').DataTable(
  {
    "ajax": '{{ path('_support_load_tickets')  }}?status=Open&loadall=true&showuserid=1',
    {{ include('SupportSupportBundle:Default:javascript/defaultDatatablesSettings.js.twig') }}
  });
  ticketTableClosed =  $('#ticketTableClosed').DataTable(
  {
    "ajax": '{{ path('_support_load_tickets')  }}?status=Done&loadall=true&showuserid=1',
    {{ include('SupportSupportBundle:Default:javascript/defaultDatatablesSettings.js.twig') }}
  });
});
</script>