{% extends('ManageManageBundle:KitchenSink:reports/basereport.html.twig') %}
{% block content %}
{% for row in rows %}
{% if row.csvHeader is defined %}
<h3> {{ row.csvHeader }}</h3>
{% else %}
{{ include ("ManageManageBundle:KitchenSink:reports/tabledata.html.twig") }}
{% endif %}
{% endfor %}
{% endblock %}