<!doctype html>
<style>
	.i-icon {
		background-image: url('{{ absolute_url(asset('/w/img/icon-info.png')) }}') !important;
		font-size:15px !important;
		line-height: 0 !important;
		padding-left: 20px !important;
	}
</style>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'irio_title' | trans ({}, 'widget') }}</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/w/css/iml.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/noUiSlider.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/irio.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
	</head>
	<body class="{{ data.lang }}">

		<header></header>
		<div class="veil">
			<div class="outer">
				<div class="inner">

				<div id="salary-confirmation" class="modal single-col bg-primary">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<div class="col summary">
						{{ include('WidgetsBundle:Default:salaryForm.html.twig') }}
					</div>
					{{ include('WidgetsBundle:Default:languageForm.html.twig') }}

				</div>

				<div id="max-reached" class="modal single-col bg-primary" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<div class="col summary">
						<div class="intro">
							<h1>{{ 'wow' | trans ({}, 'widget') }}</h1>
						</div>
						<p>{{ 'our_records_show' | trans ({}, 'widget') }}</p>
						<div class="estimates">
							<label>{{ 'current_plan_balance' | trans ({}, 'widget') }}&nbsp;<i class="icon-info i-icon" title="{{ 'tooltip_current_balance' | trans ({}, 'widget') }}"></i></label>
							<div class="figure"><sup>$ </sup><span class="data_balance"></span></div>
							<label>{{ 'projected_retirement_balance' | trans ({}, 'widget') }}</label>
							<div class="figure"><sup>$ </sup><span class="data_projectedIncome"></span></div>
						</div>
						<div class="projected-monthly color-primary">
							<label>{{ 'monthly_projected_retirement_income' | trans ({}, 'widget') }}</label>
							<div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncome"></span><sub> {{ 'starting_at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub></div>
						</div>
						<button class="color-primary" onclick="closeWidget()">{{ 'close_msg' | trans ({}, 'widget') }}</button>
					</div>
				</div>

				<div id="analysis" class="modal bg-primary" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<div class="col summary">
						<div class="intro">
							<h1>{{ 'great' | trans ({}, 'widget') }}</h1>
							<p>{{ 'below_you_will_find' | trans ({}, 'widget') }}</p>
						</div>
						<div class="estimates">
							<label>{{ 'current_plan_balance' | trans ({}, 'widget') }}&nbsp;<i class="icon-info i-icon" title="{{ 'tooltip_current_balance' | trans ({}, 'widget') }}"></i></label>
							<div class="figure"><sup>$ </sup><span class ="data_balance"></span></div>
							<label>{{ 'projected_retirement_balance' | trans ({}, 'widget') }}</label>
							<div class="figure"><sup>$ </sup><span class ="data_projectedIncome"></span></div>
						</div>
						<div class="projected-monthly color-primary">
							<label>{{ 'monthly_projected_retirement_income' | trans ({}, 'widget') }}</label>
							<div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncome"></span><sub> {{ 'starting_at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}</sub></div>
						</div>
					</div>
					<div class="col options" id="irioOptions">
						<div class="intro">
							<h1>{{ 'increase_your_monthly_income' | trans ({}, 'widget') }}</h1>
							<p>{{ 'achieving_your_goals' | trans ({}, 'widget') }}</p>
						</div>
						<small>{{ 'confirm_selection_next' | trans ({}, 'widget') }}</small>
						<div class="option" id ="irioOption1">
							<div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncomeOne"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
							<button class="color-primary increase-monthly" id="auto-enroll" value="1" >{{ 'select' | trans ({}, 'widget') }}</button>
						</div>
						<div class="option" id ="irioOption2">
							<div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncomeTwo"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
							<button class="color-primary increase-monthly" id="no-auto-enroll" value="2" >{{ 'select' | trans ({}, 'widget') }}</button>
						</div>
						<div class="option" id ="irioOption3">
							<div class="figure"><sup>$ </sup><span class="data_projectedMonthlyIncomeThree"></span><sub> {{ 'per_month' | trans ({}, 'widget') }}</sub></div>
							<button class="color-primary increase-monthly" value="3" >{{ 'select' | trans ({}, 'widget') }}</button>
						</div>
						<small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
					</div>
					<div class="clear"></div>
					<div class="details bg-secondary">
						<h4>{{ 'add_more_details' | trans ({}, 'widget') }}</h4>
						<form id="details-form" style="display:none;">
							<div class="form-group">
								<label>{{ 'other_retirement_account_balance' | trans ({}, 'widget') }}</label>
								<input name="other_balance" type="text" placeholder="0.00" class="currency details-input" />
							</div>
							<div class="form-group">
								<label>{{ 'spouses_retirement_account_balance' | trans ({}, 'widget') }}</label>
								<input name="spouse_balance" type="text" placeholder="0.00" class="currency details-input" />
							</div>
							<div class="form-group">
								<label>{{ 'spouses_annual_income' | trans ({}, 'widget') }}</label>
								<input name="spouse_income" type="text" placeholder="0.00" class="currency details-input" />
							</div>
							<div class="form-group">
								<label>{{ 'spouses_age' | trans ({}, 'widget') }}</label>
								<input name="spouse_age" type="text" placeholder="0" class="age details-input" />
							</div>
						</form>
					</div>
				</div>
				<div id="congrats" class="modal simple" style="display:none;">
					<div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:1000;border-radius:4px;">
						<div class="spinner">
							<img src="/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
						</div>
					</div>
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
					<p>
						{{ 'retirement_target_will_be' | trans ({}, 'widget') }} $<span class="data_selectedAmount"></span>.<br />
						{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
							{{ 'this_is_a_flatdollar' | trans ({}, 'widget') }} $<span class="data_selectedDeferralFlatDollar"></span> {{ 'flatdoor_new_contribution_amount_of' | trans ({}, 'widget') }} $<span class="data_newDeferralFlatDollar"></span>.
						{% else %}
							{{ 'this_is_a' | trans ({}, 'widget') }} <span class="data_selectedDeferral"></span>% {{ 'new_contribution_rate_of' | trans ({}, 'widget') }} <span class="data_newDeferral"></span>%.
						{% endif %}
					</p>
					<h3 class="color-primary">{{ 'advantage_of_this_opportunity' | trans ({}, 'widget') }}</h3>
					<div class="buttons">
						<button class="back">{{ 'back' | trans ({}, 'widget') }}</button>
						<button class="{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}confirm{% elseif app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}allocate_aca{% else %}connected{% endif %} bg-primary">{{ 'accept' | trans ({}, 'widget') }}</button>
					</div>
					<small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
				</div>

				{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}
					<div id="allocate" class="modal simple" style="display:none;">
                                                <div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:9000;border-radius:4px;">
							<div class="spinner">
								<img src="/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
							</div>
						</div>
						<form id="allocateForm">
							<input type="hidden" name="maxMatch" value="{{ data.maxMatch }}" />
							<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
							<h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
							<p>
								{{ 'retirement_target_will_be' | trans ({}, 'widget') }} $<span class="data_selectedAmount"></span>.
								<br>
								{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
									{{ 'this_is_a_flatdollar' | trans ({}, 'widget') }} $<span class="data_selectedDeferralFlatDollar"></span> {{ 'flatdoor_new_contribution_amount_of' | trans ({}, 'widget') }} $<span class="data_newDeferralFlatDollar"></span>.
								{% else %}
									{{ 'this_is_a' | trans ({}, 'widget') }} <span class="data_selectedDeferral"></span>% {{ 'new_contribution_rate_of' | trans ({}, 'widget') }} <span class="data_newDeferral"></span>%.
								{% endif %}
							</p>
							{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
								<h3 class="color-primary">{{ 'allocate_contribution' | trans ({}, 'widget') }} $<span id="newDeferral" class="data_newDeferralFlatDollar"></span></h3>
							{% else %}
								<h3 class="color-primary">{{ 'allocate_contribution' | trans ({}, 'widget') }} <span id="newDeferral" class="data_newDeferral"></span>%</h3>
							{% endif %}

							<div id="slider">
								<div id="allocate_pretax" class="allocate-val">
									<h5>
										{{ 'pretax' | trans ({}, 'widget') }}
										<i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="dark" data-content="{{ 'tooltip_pretax' | trans ({}, 'widget') }}" data-shift="0"></i>
									</h5>
									<h1 class="rev">
										{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
											$<output></output>
										{% else %}
											<output></output>%
										{% endif %}
									</h1>
								</div>

								<div id="allocate_slider" data-min="0" data-max="5"></div>

								<div id="allocate_roth" class="allocate-val">
									<h5>
										{{ 'roth' | trans ({}, 'widget') }}
										<i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="dark" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0"></i>
									</h5>
									<h1 class="rev">
										{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
											$<output></output>
										{% else %}
											<output></output>%
										{% endif %}
									</h1>
								</div>
							</div>

							<div class="buttons">
								<button class="back" type="button">{{ 'back' | trans ({}, 'widget') }}</button>
								<button class="confirm bg-primary" type="button">{{ 'accept' | trans ({}, 'widget') }}</button>
							</div>
							<small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
						</form>
					</div>
				{% endif %}

				{% if app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}
					<div id="allocate_confirm" class="modal simple" style="display:none;">
						<div id="spinner" style="background-color:rgba(0, 0, 0, 0.5);position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); display:none;z-index:1000;border-radius:4px;">
							<div class="spinner">
								<img src="/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" style="position: relative; top: 50%; transform: translateY(-50%);"/>
							</div>
						</div>
						<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
						<h1>{{ 'one_quick_note' | trans ({}, 'widget') }}</h1>
						<p>{{ 'changing_your_allocation_warning' | trans ({}, 'widget') }}</p>
						<h3 class="color-primary">
							<div class="checkbox">
								<input name="aca_checkbox" type="checkbox" value="1" />
								<label></label>
							</div>
							{{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}
						</h3>
						<div class="buttons">
							<button class="back" type="button">{{ 'back' | trans ({}, 'widget') }}</button>
							<button class="confirm bg-primary" type="button" disabled="disabled" id ="acacontinue">{{ 'continue' | trans ({}, 'widget') }}</button>
						</div>
						<small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
					</div>
				{% endif %}

{#
				<div id="allocate_confirm" class="modal simple" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<h1>{{ 'one_quick_note' | trans ({}, 'widget') }}</h1>
					<p>{{ 'changing_your_allocation_warning' | trans ({}, 'widget') }}</p>
					<h3 class="color-primary">
					<div class="checkbox">
						<input type="checkbox">
						<label></label>
					</div>
					{{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}</h3>
					<div class="buttons">
						<button class="back">{{ 'back' | trans ({}, 'widget') }}</button>
						<button class="confirm bg-primary">{{ 'continue' | trans ({}, 'widget') }}</button>
					</div>
					<small class="showFinePrint" style="cursor:pointer;">{{ 'important_disclosures' | trans ({}, 'widget') }}</small>
				</div>    
#}
				<div id="cta" class="modal simple" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<div class="prev">{{ 'back' | trans ({}, 'widget') }}</div>
					<h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
					<p>
						{{ 'human_resources_department' | trans ({}, 'widget') }}
						{{ 'document_summary_to_submit' | trans ({}, 'widget') }}
					</p>
					<h3 class="color-primary">{{ 'send_instructions_to' | trans ({}, 'widget') }}</h3>
					<form class ="emailTemplateForm">
						<div class="form-group">
							<label>{{ 'email' | trans ({}, 'widget') }}</label>
							<input type="email" name ="email" placeholder="name@domain.com" />
						</div>
						<div class="form-group">
							<label>{{ 'text' | trans ({}, 'widget') }}</label>
							<input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
						</div>
						<input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />

						<div class="form-group">
							<button class="bg-primary"  type="submit">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
						</div>
					</form>
					<small>{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>
				</div>   

				<div id="success" class="modal simple" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<h1>{{ 'success' | trans ({}, 'widget') }}</h1>
					<p>
						{{ 'your_confirmation' | trans ({}, 'widget') }} <span class="data_confirmationCode"></span> {{ 'for_future_reference' | trans ({}, 'widget') }}
					</p>
					<h3 class="color-primary">{{ 'send_a_confirmation_to' | trans ({}, 'widget') }}</h3>
					<form class ="emailTemplateForm">
						<div class="form-group">
							<label>{{ 'email' | trans ({}, 'widget') }}</label>
							<input type="email" name ="email" placeholder="name@domain.com" />
						</div>
						<div class="form-group">
							<label>{{ 'text' | trans ({}, 'widget') }}</label>
							<input type="text" name ="text" placeholder="xxx-xxx-xxxx" />
						</div>
						<input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />

						<div class="form-group">
							<button class="bg-primary"  type="submit">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
						</div>
					</form>
					<small>{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>
				</div>

				<div id="thank-you" class="modal simple" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<h1>{{ 'thankyou_msg' | trans ({}, 'widget') }}</h1>
					<h3 class="color-primary">{{ 'email_text_msg' | trans ({}, 'widget') }}</h3>
				</div>

				<div id="disclosure" class="modal simple" style="display:none;">
					<div class="modal-content">
						{{ include('WidgetsBundle:Default:fine-print.html.twig') }}
					</div>
					<button class="transparent" id="close-disclosure" type="button">{{ 'close_msg' | trans ({}, 'widget') }}</button>
				</div>

				<div id="blocked" class="modal simple" style="display:none;">
					<div class="close">{{ 'close_msg' | trans ({}, 'widget') }}</div>
					<div class="modal-content">
						<h1>Uh oh!</h1>
						<p>
							Our records indicate you have a current contribution change pending.<br />
							We are unable to process an additional request at this time.
						</p>
					</div>
				</div>

				</div>
			</div>
		</div>
                {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                <span class="data_newDeferralFlatDollarRaw" style ="display:none"></span>
                {% endif %}
		<footer></footer>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/w/js/iml.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/nouislider.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/wNumb.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/autoNumeric-min.js"></script>
		<script src="/w/js/irio-data.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/irio.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
		<script>
		$.get('/widgets/ajax/calculate', function(data){
			var object = JSON.parse(data);
			figure = object.projectedIncome;
            irioFigure({figure: figure, age: object.age, retireAge: object.retireAge});
		});
		</script>
		{{ include('WidgetsBundle:GoogleAnalytics:googleaddIrio.html.twig') }}
	</body>
</html>
