<script>

$(document).ready(function()
{

  {% for image in images %}
  $( "#{{ image.section }}File" ).change(function() 
  {  
      
    readURL(this,'{{ image.section }}SRC');
  });
  {% endfor %}


  if (supportFormData())
  $( "#plan-branding-button").attr("type","button");
  {% if success %}
  setTimeout(function(){
  $('#saved-alert').slideUp();
  },3000);
  {% endif %}

  {% for image in images %}
  $( "#{{ image.section }}File").change(function() 
  {
    $( "#{{ image.section }}Remove").show();
  });
  {% endfor %}

  $( "#plan-branding-button").click(function() 
  {
    $('#plan-branding').bootstrapValidator('validate');
  });


  var fileRules = 
  {
    validators: 
    {
      file: 
      {
        extension: 'jpeg,png,jpg',
        type: 'image/jpeg,image/png',
        maxSize: 2000000,
        maxFiles: 1,
        message: 'Please provide a png or jpg image 2MB or smaller'
  }
    }
      }

  $('#plan-branding').bootstrapValidator(
  {
    fields: 
    {
      {% for image in images %}
      {% if loop.index > 1 %},{% endif %}'{{ image.section}}': fileRules
      {% endfor %}
    }

  }).on('success.form.bv', function(e) 
  {
    {% for image in images %}
    $("#{{ image.section }}SRCText").val($("#{{ image.section }}SRC").attr("src"));
    {% endfor %}
    if (supportFormData())
    {
      // Prevent form submission
      e.preventDefault();
      //alert('test');



      var formData = new FormData($(this)[0]);


      
      $.ajax({
      url:$(this).attr("action"),
      type: 'POST',
      data: formData,
      async: false,
      success: function (data) 
      {
       
        {% for image in images %}
        changeSrc("{{ image.section }}",data);
        {% include ('PlansPlansBundle:Branding:javascript/hidefilesegment.js.twig') %}
        {% endfor %}
        
        showalert('saved-alert');

        //location.reload();
        },
        cache: false,
        contentType: false,
        processData: false
      });
    }
  });


  // End validation example

{% for image in images %}
$( "#{{ image.section }}Remove").click(function() 
{
  {% include ('PlansPlansBundle:Branding:javascript/hidefilesegment.js.twig') %}
  $( "#{{ image.section }}SRC").attr("src","");
  $( "#{{ image.section }}SRC").hide();
  $( "#{{ image.section }}Remove").hide();
  $( "#{{ image.section }}SRCText").val("");
  $( "#{{ image.section }}Dimensions").hide();

});
{% endfor %}

});


function changeSrc(id,response)
{
  var responseArray  = response.split("*" + id + "*");

  if (responseArray.length > 1 )
  {
    if ($.trim(responseArray[1]) != "")
    {
      $('#' + id + "SRC").attr("src",$.trim(responseArray[1]));
      $('#' + id + "SRC").show();
      $('#' + id + "Remove").show();
    }
    else
    {
      $('#' + id + "SRC").hide();
    }
  }
}



function supportFormData()
{
  return !! window.FormData;
}
</script>