<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
            <div id="widget-library-container"></div>
            <div id="widget-library-container-irio"></div>
            <div id="widget-library-container-nationalsurvey"></div>
            <div id="widget-library-container-survey"></div>
            <div id="widget-library-container-videolibrary"></div>
            <script defer type="text/javascript" id="vwise_irio" src="/w/js/widget-library.js?sid=test&planid=LIN&partner_id=L14_SRT_DEV&type=irio&testing=srt2-widget-test"></script>
            <script async type="text/javascript" src="/w/js/widget-library.js?partner_id=HRCMNN_EDUCATE_PROD&type=nationalsurvey" id ="vwise_nationalsurvey"></script>
            <script async type="text/javascript" src="/w/js/widget-library.js?partner_id=HRCMNN_EDUCATE_PROD&type=survey" id ="vwise_survey"></script>
            <script defer type="text/javascript" src="/w/js/widget-library.js?sid=test&planid=LIN&partner_id=L14_SRT_DEV&type=videolibrary&testing=srt2-widget-test" id ="vwise_videolibrary"></script>
            <script type="text/javascript" id="vads" src="https://virtualads.smartplanenterprise.com/vad.js?sid=1094&vid=10000"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<div id='srt_vwise'>
    <div id='srt_vwise_details'>
        <script defer type="text/javascript" src="https://videolib.smartplanenterprise.com/vWidget.js?partnerid=KTA&planid=XXX&participantid=21066&key=2323&format=0" id="videoLib"></script>
    </div>
</div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
