
ID: {{ account.id }} <br/>
Company: {{ account.company }} <br/> 
Adminstrator: {{ account.firstname }}  {{ account.lastname }}<br/>
<a href = "javascript:loginToAdmin('{{ account.email }}','{{ account.password }}')">Login</a><br/>
{% if permissionlevel == 2 %}
<a href = "{{ path('_manage_accounts_edit_account') }}?id={{ account.id }}">Edit Account</a><br/>
{% endif %}
<hr/>