
{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{% set highestId = render(controller('ManageManageBundle:Accounts:highestUserId', {'id': account.id})) %}
	{{ account.id }},
	"<a href = \"javascript:ajaxModal('{{path('_account_user_loginas') }}?id={{highestId}}','Login as','large')\">{{ account.company }}</a>",
	"<a href = \"javascript:ajaxModal('{{path('_account_user_loginas') }}?id={{highestId}}','Login as','large')\">{{ account.partnerid | default ("No Partner Id Exists for this account") }}</a>",
	"{% if account.accountsUsers | length > 0 %}{% for user in account.accountsUsers %}{% if user.roleType == "admin_master" %}<a href =\"javascript:ajaxModal('{{path('_account_user_loginas') }}?id={{user.id}}','Login as','large')\">{{ user.firstname }} {{ user.lastname }}</a>{% endif %}{% endfor %}{% endif %}",

	"<a href = \"{{ path('_manage_accounts_list_users') }}?id={{ account.id }}\" class = \"glyphicon_link\"><span class=\"glyphicon glyphicon-list\" aria-hidden=\"true\" title = \"List Users\"></span></a>
	<a href = \"{{ path('_manage_accounts_list_plans') }}?id={{ account.id }}\" class = \"glyphicon_link\"><span class=\"glyphicon glyphicon-list-alt\" aria-hidden=\"true\" title = \"List Plans\"></span></a>
        <a href = \"{{ path('_manage_plan_upload_new') }}?id={{ account.id }}\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-upload\" title = \"Upload\"></span></a>

	<a href = \"javascript:ajaxModal('{{ path('_manage_accounts_edit_account') }}?id={{ account.id }}','Edit Account')\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-edit\" title = \"edit\" ></span></a>
        <ul style = \"list-style-type: none;display:inline-block; padding: 0px;\">
            <li class=\"dropdown\" >
                <a id=\"drop2\" href=\"#\" class=\"dropdown-toggle glyphicon_link\" data-toggle=\"dropdown\" aria-haspopup=\"true\" role=\"button\" aria-expanded=\"false\">
                   <span class = \"glyphicon glyphicon-book\" title = \"Options\"></span>
                </a>                  

                <ul class=\"dropdown-menu dropdown-menu-right\" role=\"menu\" aria-labelledby=\"drop2\" style=\"padding:0px;\">
                    <li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"javascript:ajaxModal('{{ path('_manage_groups_setGroupsForAccount') }}?id={{ account.id }}','Vwise Groups','large')\" >Groups</a></li>
                    <li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"{{path('_manage_vads') }}?id={{account.id}}\" >Vads</a></li>
                    <li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"javascript:ajaxModal('{{path('_manage_cta') }}?userid={{account.id}}\','Manage Cta')\" >CTA</a></li>
                    <li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"{{ path('_manage_SponsorConnect_resendInvites')}}?userid={{account.id}}\" >Resend SmartConnect Emails</a></li>
					<li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"javascript:ajaxModal('{{path('_manage_accounts_batchFileNotificationEmails', {'userid':account.id}) }}\','Manage Batch Notification Emails')\" >Batch Notification Emails</a></li>
                       <li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href = \"javascript:ajaxModal('{{path('_manage_system_messages_sendmessage_account') }}?userid={{account.id}}','Send Message to Users','large')\">Send Message to Users</a></li>                 
                       
                </ul>
            </li>
        </ul>
                   
                   


	{% if request.roleType == "vwise_admin" %}
		<a href = \"javascript:ajaxModal('{{ path('_manage_accounts_upload_email_list_account') }}?id={{ account.id }}','Upload Employee Email List CSV','medium')\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-collapse-up\" title = \"uploadlist\"></span></a>
		<a href = \"javascript:ajaxModal('{{ path('_manage_accounts_delete_account') }}?id={{ account.id }}','Delete Account','medium')\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-trash\" title = \"delete\"></span></a>
	{% if account.visible %}
	<a href = \"javascript:hideAccount('{{ account.id }}')\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-minus\" title = \"Hide Account\"></span></a> 
	{% else %}
	<a href = \"javascript:showAccount('{{ account.id }}')\" class = \"glyphicon_link\"><span class = \"glyphicon glyphicon-plus\" title = \"Hide Account\"></span></a> 
	{% endif %}

	{% endif %}
        
	"
]
{% endfor %}

