
{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},
	"{{ account.company }}",
	"{{ account.partnerid | default ("No Partner Id Exists for this account") }}",
	"<a href = \"{{ path('_manage_accounts_list_users') }}?id={{ account.id }}\"><span class=\"glyphicon glyphicon-list\" aria-hidden=\"true\"></span></a>"
]
{% endfor %}

