{% for adviser in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ adviser.id }},
	"{{adviser.firstname}}",
	"{{adviser.lastname}}",
	"{{adviser.email}}",
	"{{adviser.password}}",
	"<a href = \"{{ path('_adviser_edit') }}?id={{ adviser.id }}\">Edit</a>",
	
	"<a href = \"{{ path('_adviser_delete') }}?id={{ adviser.id }}\">delete</a>"
]
{% endfor %}


   
   
           
