{% for account in items %}
{% set display = render(controller('ManageManageBundle:Accounts:planExists', {'partnerid': account.partnerid,'planid': request.planid})) %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},
	"{{ account.company }}",
	"{{ account.partnerid | default ("No Partner Id Exists for this account") }}",
	"{% if display == "true" %}
	<a href = \"javascript:copyplan({{request.id }},{{ account.id }},redrawAccounts)\"><span class = \"glyphicon glyphicon-plus\" title = \"Add this plan to account\" ></span></a>{% else %}Plan already exists in this account
	{% endif %}
	"
]
{% endfor %}

