
{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ account.id }},
	"{{ account.company }}",
	"{{ account.partnerid | default ("No Partner Id Exists for this account") }}",
	"<input type = \"checkbox\" name = \"accounts\" value = \"{{ account.id }}\"  onclick = \"toggleAccount('{{ account.id }}')\" {{ render(controller('ManageManageBundle:Accounts:manageAccountListChecked', {'clientid': request.clientid,'userid':account.id })) }}  />"
]
{% endfor %}

