{% for user in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ user.id }},
	"{{user.firstname}}",
	"{{user.lastname}}",
	"{{user.email}}",
	"{{user.password}}",
	"{{user.roleType}}",
	"<a href = \"javascript:ajaxModal('{{ path('_adviser_edit') }}?id={{ user.id }}','Edit Adviser','large')\">Edit</a>",
	"{% if user.roleType == "adviser" %}<a href =\"javascript:ajaxModal('{{ path('_adviser_planslist') }}?id={{ user.id }}','Set Plans','large')\">Set Plans</a>{% else %}N/A{% endif %}",
	"<a href = \"javascript:ajaxModal('{{ path('_adviser_delete') }}?id={{ user.id }}','Delete Adviser','large')\">delete</a>"
]
{% endfor %}


   
   
           
