{% set alertId = "sponsorRequestCancelledAlert"%}
{% set alertContent = "Sponsor Request Cancelled" %}
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
{% set alertId = "sponsorRequestCancelledErrorAlert"%}
{% set alertContent = "An error occurred" %}
{% set glyphicon = "remove" %}
{% set alertType = "danger" %}    
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
This will also unschedule campaign if scheduled
<br/><br/>
<button class ="btn btn-danger" style ="margin-right:10px" onclick ="cancelSponsorRequest()" id ="sponsorCancelButton" >Submit</button>
<img src ="{{ asset('images/load-icon.gif') }}" id ="sponsorCancelButtonLoader" style ="display:none" />

<script>
function cancelSponsorRequest()
{
    var querystring = "id={{ request.id}}";
    var page = "{{path('_plans_sponsor_connect_cancelSponsorRequest') }}";
    $.post(page, querystring).done(function(data) 
    {
        if (parseInt(data) === 1)
        showalert('sponsorRequestCancelledAlert');
        else 
        showalert('sponsorRequestCancelledErrorAlert');
    }).always(function() 
    {
        sponsorConnectRequestsTable.fnDraw(false); 
    });
}
</script>