{% set accountType = "admin" %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Dashboard'})) }}
<!-- slider -->

{% if accountType == "admin" %}
<hr/>
<h3>Welcome to the SmartPlan Administration site</h3>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"  onmouseover = "mouseoverslider()" onmouseout = "mouseoutslider()">
	<ol class="carousel-indicators" style = "display:none">
   		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
      	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    	{% for slide in slides %}

      	{% if first is  not defined %}
      		<div class="item active">
      		{% set first = 1 %}
      	{% else %}
      		<div class="item" >
      	{% endif %}

        {% if slide.youtubeid != "" %}
        	<a href = "https://vwise.com/_outreach/gateway/videoplayer.php?planId=none&video={{ slide.youtubeid }}" class = "videopreview"> 
    	{% endif %}

        <img src="{{ slide.url }}" style = "width:100%">

        {% if slide.youtubeid != "" %}
        	</a>
        {% endif %}
  			</div>
      {% endfor %}
	</div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" id = "prevbuttonslider" style = "display:none">
    	<span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" id = "nextbuttonslider" style = "display:none">
    	<span class="glyphicon glyphicon-chevron-right"></span>
    </a>
	</div>
<hr/>
<h3>The Happenings</h3>

     


		
{% for info in happenings %}
<table class = "table table-striped">
	<tr>
		<th>{{info.title}}</th>
	</tr>
	<tr>
		<td>{{info.description}}</td>
	</tr>
</table>
{% endfor %}


{% if roleType != "adviser" %}
<!-- array variable used for togglePills function -->
<script>
var sections = ["newplans", "lastmodified"];
</script>
<hr/>
<h3>Plan Info and News</h3>
	
	<!-- sections --> 
	
		<ul class="nav nav-pills" role="tablist">
				<li class="active" id = "newplansPill"><a href = "javascript:togglePills(sections,'newplans')">New Plans</a></li>
				<li id = "lastmodifiedPill"><a href = "javascript:togglePills(sections,'lastmodified')">Last Modified</a></li>
		</ul>
	
	
	<!-- latest plans --> 		
	<ul class="list-group" id = "newplans" style = "padding-top:10px">
	{% if latestPlans|length > 0 %}
	<table class = "table table-striped">
		<tr>
			<th>Plan Name</th>
			<th>Plan Id</th>
		</tr>
		{% for plan in latestPlans %}
		<tr>
			<td style = "cursor:pointer" onclick = "editplan('{{ plan.id }}')">{{ plan.name }}</td>
	 		<td style = "cursor:pointer" onclick = "editplan('{{ plan.id }}')">{{ plan.planid }}</td>
	 	</tr>
		{% endfor %}
	</table>
	{% else %}
		<li class="list-group-item">There are no plans!</li>
	{% endif %}
	</ul>


	<!-- last modified plan --> 
	<ul class="list-group" id = "lastmodified" style = "padding-top:10px;display:none">
		{% if lastModifiedPlan is not null %}
		<table class = "table table-striped">
			<tr>
				<td>
			 		<span style = "cursor:pointer" onclick = "editplan('{{ lastModifiedPlan.id }}')" >
			 			{{ lastModifiedPlan.name }}
			 		</span>
			 	</td>
			 </tr>
		</table>
	 	{% else %}
	 		<li class="list-group-item">No plan has been accessed yet!</li>
	 	{% endif %}
	</ul>
{% endif %}
{{ include('PortalPortalBundle:Default:javascript/index.js.twig' ) }}
{% endif %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
