{% for adviser in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ adviser.id }},
	"{{adviser.firstname}}",
	"{{adviser.lastname}}",
	"{{adviser.email}}",
	"{{adviser.password}}",
	"<a href = \"javascript:ajaxModal('{{ path('_adviser_edit') }}?id={{ adviser.id }}','Edit Adviser','large')\">Edit</a>",
	"<a href =\"javascript:ajaxModal('{{ path('_adviser_planslist') }}?id={{ adviser.id }}','Set Adviser Plans','large')\">Set Plans</a>",
	"<a href = \"javascript:ajaxModal('{{ path('_adviser_delete') }}?id={{ adviser.id }}','Delete Adviser','large')\">delete</a>"
]
{% endfor %}


   
   
           
