{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
[
{{ plan.id }},
"{{ plan.name}}",
"{{ plan.planid}}",
"<input type = \"checkbox\" name = \"adviserplan\" value = \"{{ plan.id }}\"  id = \"adviserplan{{ plan.id }}\" {{ render(controller('AccountAccountBundle:Users:setPlansIsChecked', {'planid': plan.id})) }} onclick = \"togglePlan('{{ plan.id }}')\" />"
]
{% endfor %}

		

	
		
		