
{% set loginEnabled  = render(controller('AccountAccountBundle:Users:loginEnabled')) %}
{
	"data":
	[
		{% for user in items %}
		{% if loop.index > 1 %},{% endif %}
		[
			{{ user.id }},
			"{{user.firstname}}",
			"{{user.lastname}}",
			"{{user.getEmail()}}",
			"{{user.roleType}}",
                        "<span class=\"glyphicon glyphicon-pencil\" data-toggle=\"tooltip\" title = \"Edit\" aria-hidden=\"true\" onclick = \"ajaxModal('{{ path('_account_user_edit') }}?id={{ user.id }}','Edit User','large')\"></span> {% if user.allPlans == 0 %}<span class=\"glyphicon glyphicon-th-list\" data-toggle=\"tooltip\" title = \"Set Plans\" aria-hidden=\"true\" onclick = \"ajaxModal('{{ path('_account_user_setplans') }}?id={{ user.id }}','Set Plans','large')\"></span>{% endif %} {% if user.roleType == "vwise"  %}<span class=\"glyphicon glyphicon-th-list\" data-toggle=\"tooltip\" title = \"Set Accounts\" aria-hidden=\"true\" onclick = \"ajaxModal('{{ path('_manage__manage_account_list') }}?clientid={{user.id}}','Set Accounts','large')\"></span>{% endif %}  {% if loginEnabled == "true" %}<span class=\"glyphicon glyphicon-user\" onclick = \"ajaxModal('{{path('_account_user_loginas') }}?id={{user.id}}','Login as','large')\" aria-hidden=\"true\" data-toggle=\"tooltip\" title = \"Login as User\"></span>{% endif %}  {% if user.isLocked() %}<span class =\"glyphicon glyphicon-lock\" onclick =\"ajaxModal('{{ path('_account_user_unlockUser') }}?id={{ user.id }}','Unlock User')\"></span> {% endif %} <span class=\"glyphicon glyphicon-remove\" onclick = \"ajaxModal('{{ path('_account_user_delete') }}?id={{ user.id }}','Delete User','large')\" aria-hidden=\"true\" data-toggle=\"tooltip\" title = \"Remove\"></span> <span class =\"glyphicon glyphicon-send\" title = \"Send Message\" onclick=\"ajaxModal('{{path('_manage_system_messages_sendmessage_user') }}?id={{user.id}}','Send Message to User','large')\"></span>"
		]
		{% endfor %}
	]

}

   
   
           
