{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': reportName })) }}
{% if accountlistEnabled is not defined %}
{% set accountlistEnabled = true %}
{% endif %}
{% if defaultTab is not defined %}
{% set defaultTab = "accounts"  %}
{% endif %}
{% if vwiseButton is not defined %}
{% set vwiseButton = true  %}
{% endif %}
{% set firstcolumnviewable = true %}
{% if plansAdded is not defined %}
{% set plansAdded = false %}
{% endif %}
<div class="row">
    <div class="col-md-2">
        <b>Start</b><br/>   
        <input id ="startdatepicker" class="form-control"  placeholder ="Start Date" />
        <b>End</b>
        <br/>
        <input id = "enddatepicker" class="form-control"  placeholder ="End Date" />
        <br/>
        {% if vwiseButton %}<button class ="btn btn-primary" onclick = "showStats('')">Show for all vwise</button>{% endif %}
        {% block extracreateria %}
        {% endblock %}
    </div>
    <div class="col-md-10">

        <ul class="nav nav-pills">
            <li role="presentation"><a href = "javascript:showSection('accountlist')">Providers</a></li>
            {% if plansAdded == false %}
            <li role="presentation"><a href = "javascript:showSection('adviserlist')">Advisers</a></li>  
            <li role="presentation"><a href = "javascript:showSection('planlist')">Plans</a></li>
            {% block extraSectionsNavs %}
            {% endblock %}
            {% endif %}
        </ul>
        <div id ="accountlist" class = "reportTable" style = "{% if defaultTab != "accounts" %}display:none;{% endif %}margin-top:20px">
            {% set template =  'ManageManageBundle:Reports:Search/accountlist.html.twig' %}
            {% set tablename = "accounts" %}
            {% set table = "accounts" %}
            {% set findby = "a.visible" %}
            {% set findbyvalues = "1" %}
            {% set order = '"order": [[ 1, "asc" ]]' %}
            {% set header = "<th> Id</th><th>Partnerid</th><th>Company</th>" %}
            {% set types = "a.id,a.partnerid,a.company" %}
            {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
            {% set order = false %}
        </div>
        <div id ="adviserlist" class = "reportTable" style = "{% if defaultTab != "advisers" %}display:none;{% endif %}margin-top:20px">
            {% set template =  'ManageManageBundle:Reports:Search/adviserlist.html.twig' %}
            {% set tablename = "accountsUsers" %}
            {% set table = "accountsUsers" %}
            {% set findby = "a.roleType" %}
            {% set findbyvalues = "adviser" %}
            {% set header = "<th> Id</th><th>First Name</th><th>Last Name</th><th>Email</th>" %}
            {% set types = "a.id,a.firstname,a.lastname,a.email" %}
            {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
        </div>
        <div id ="planlist"  class = "reportTable" style = "{% if defaultTab != "plans" %}display:none;{% endif %}margin-top:20px">
            {% set template =  'ManageManageBundle:Reports:Search/planlist.html.twig' %}
            {% set table = "plans" %}
            {% set tablename = "plans" %}
            {% set findby = "a.deleted" %}
            {% set findbyvalues = "0" %}
            {% set types = "a.id,a.planid,a.name,a.userid,a.partnerid" %}
            {% set header = "<th>Smartplan Id</th><th>Planid</th><th>Name</th><th>Userid</th><th>Partnerid</th>" %}
            {% set firstcolumnviewable = true %}
            {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
        </div>
        <div id ="reportResult"  class = "reportTable" style = "display:none;margin-top:20px">
        </div>
        {% block extraSections %}
        {% endblock %}
    </div>
</div>
<script>
$(document).ready(function()
{
    $('#startdatepicker').datepicker({dateFormat: "yy-mm-dd" });
    $('#enddatepicker').datepicker({ dateFormat: "yy-mm-dd" }); 
});
function showSection(section)
{
    $(".reportTable").hide();
    $("#" + section).show();
}
function showPlanStats(planid)
{
    var params = new Object();
    params.planid = planid;
    showStats("planid=" + planid,params);
}
function showAccountStats(id)
{
    var params = new Object();
    params.userid = id;    
    showStats("userid=" + id,params);
}
function showAdviserStats(id)
{
    var params = new Object();
    params.adviserid = id;  
    showStats("adviserid=" + id,params);
}
function showStats(querystring,params)
{   
    if ($('#startdatepicker').val() == "" || $('#enddatepicker').val() == "")
    modalMessage("Start and end date must be set");
    else
    {
        if (querystring != "")
        querystring = querystring + "&";
        querystring = querystring + "startDate=" + $('#startdatepicker').val() + "&endDate=" + $('#enddatepicker').val();
        showSection('reportResult');
        $("#reportResult").html('<img src = "{{ asset('images/load-icon.gif') }}"  />');    
        {% block processReport %}
        {% endblock %}
    }
}    
</script>
{% block javascript %}

{% endblock %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}