@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,300i,400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* 
---------------------------------------------------------
---------------------------------------------------------

* Custom SRT Dashboard Style

---------------------------------------------------------
---------------------------------------------------------
*/

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #575757;
  background: #373737;
}

/* SCROLL BAR */

body ::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  background-color: rgba(58, 58, 58, 0.39);
}
body ::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: padding-box;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(58, 58, 58, 0.39);
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(58, 58, 58, 0.39);
}
html {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 20px;
  font-weight: 400;
}
h2 {
  font-size: 18px;
  font-weight: 100;
}
h3 {
  font-size: 13px;
  font-weight: 100;
}
p {
  font-weight: 200;
}
sup {
  position: relative;
  font-size: 50%;
  line-height: 0;
  vertical-align: baseline;
  letter-spacing: 1.5px;
  top: -0.7em;
  margin-left: 2px;
}
hr {
  margin-top: 10px;
  border-top: 1px solid #9c9c9c;
}
th {
  font-weight: 400;
}

.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.hr-expanded {
  margin-top: 25px;
  margin-bottom: 2px;
  border-width: 2px;
  opacity: 0.5;
}
.expanded-title-icon {
  margin-top: -9px;
  width: 36px;
  margin-left: 5px;
}
.widget-right-icon {
  position: absolute;
  right: 5px;
  top: 25px;
}
.current-balance {
  color: #fff;
  font-size: 23px;
  text-shadow: 1px 1px 3px #26466f;
}
.account-number {
  margin-top: 58px;
}
.scrolling {
  overflow-y: auto;
  max-height: 21em;
  background: transparent;
}
.scrolling2 {
  overflow-y: auto;
  max-height: 21em;
  background: transparent;
  margin-top: 14px;
  margin-bottom: 5px;
  overflow-x: hidden !important;
}
.scrolling3 {
  overflow-y: auto;
  max-height: 21em;
  background: transparent;
  margin-top: 14px;
  margin-bottom: 5px;
  overflow-x: hidden !important;
  padding-right: 30px;
}
.scrolling4 {
  overflow-y: auto;
  max-height: 21em;
  background: transparent;
  margin-top: 14px;
  margin-bottom: 5px;
  overflow-x: hidden !important;
}
.container {
  width: 100%;
}
.navbar {
  display: none;
  position: absolute;
  margin-bottom: 0px;
  border-radius: 0px;
  color: #fff;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  background-color: #a3c249;
}
.top-nav-collapse {
  padding: 0;
}
.providerlogo {
  text-align: center;
  float: left;
  margin-left: 25px;
}
.plan-summary {
  margin-right: 2.5em;
  vertical-align: middle;
}
.preferences {
  margin-right: 3.3em;
  vertical-align: middle;
}
.planicon {
  width: 22px;
  margin-right: 9px;
}
.preficon {
  width: 28px;
  margin-right: 3px;
}
.counter-widget {
  font-size: 45px;
  font-weight: 100;
  text-shadow: 1px 1px 3px #26466f;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.main-section {
  height: 78px;
  text-align: center;
  background: #eee;
  padding: 7px 0 7px 0;
}
.main-section h1 {
  font-size: 20px;
}
.secondary-section {
  height: 65px;
  text-align: center;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  background: #fff;
}
.secondary-section h1 {
  font-size: 24px;
  color: #2163a5;
  font-weight: 600;
}
.sun {
  position: absolute;
  left: -454px;
  /* top: -20px; */
  width: 130px;
}
.whitetransparent {
  background: rgba(255, 255, 255, 0.2);
}
.paddingaccount {
  margin-top: 35px;
}
.botnav-section {
  background: #eee;
}
.gadget-section {
  background-color: #787878;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.82);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.82);
}
.progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}
.vested-amount {
  float: right;
  font-size: 18px;
  padding: 5px 3px;
}
.currency {
  text-align: right;
  width: 100%;
}
.currency:before {
  content: "$";
  float: left;
  font-size: 1em;
  font-weight: 400;
}
.progress {
  overflow: hidden;
  height: 37px;
  margin-bottom: 0px;
  background-color: #7093bb;
  font-weight: 400;
  border-radius: 0px;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding: 7px 3px;
  text-align: left;
  background-color: #2163a5;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}
.widget-bottom {
  top: 10px;
  left: 10px;
  position: absolute;
  color: #fff;
  margin-left: 20px;
  margin-top: 6px;
  font-size: 22px;
  font-weight: 100 !important;
}

/* REALIGNMENT PAGE */

#realignment-link{
  background: #fff;
  display: none;
}


/* PLAN SELECTION */

#closeclick {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.plan-title {
  font-size: 16px;
  margin-top:12px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.plan-selection {
  text-align: center;
}
.plan-selection:hover {
    cursor: pointer;
}
.plan-selection-dropdown {
    display: none;
    position: absolute;
    z-index: 99;
    background: #fff;
    width: 600px;
    right: 30%;
    top: 6.6%;
    border: #eee 1px solid;
    padding-top: 15px;
    cursor: pointer;
}
.plan-selection-dropdown:hover {
    cursor: pointer;
}
.plan-selection-icon:after {
    content:"▾";
    margin-left: 5px;
}
  .plan-selection-dropdown .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  }
  
  .plan-selection-dropdown .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
    font-weight: 600;
}

.plan-selection-dropdown tr:hover .plan-arrow-hover:before {
  content:"▸";
  margin-right: -10px;
}


/* NOTIFICATIONS */

.notifications-icon {
  text-align: center;
  margin-right: 13px;
  width: 29px;
  filter: brightness(0) invert(1);
}

.notifications-side {
  background: rgba(38, 86, 134, 0.77);
  color: #fff;
  padding-left: 30px;
  padding-bottom: 100px;
  height: 850px;
}
.notifications-date {
  font-size: 29px;
  font-weight: 100 !important;
  padding: 28px 0 20px 20px;
  text-align: left;
}
.notifications-side .scrolling {
  max-height: 45em;
  margin-right: 25px;
}
.notifications-side .nav-justified>li {
  float: none;
  display: table-cell;
  width: 0;
}
.notifications-side .nav>li>a {
  position: relative;
  display: block;
}
.notifications-side .nav-tabs2 {
  border: none;
  padding: 0px 0 0 21px;
  color: #ffffff;
  height: 58px;
  cursor: pointer;
}
.notifications-side .nav-tabs2>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff;
  width: 175px;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.33);
}
.notifications-side .nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
  color: #373737 !important;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.88) !important;
  border-right: none;
  border-left: none;
  border-top: #fff !important;
}
.notifications-side .tab-pane {
  background-color: none;
  padding: 0 0 11px 3px;
}
.notifications-side .tab-pane span {
  color: #ffffff;
  padding-right: 20px;
}
.notifications-side .tab-pane span:hover {
  color: #009fe0;
}
.notifications-side .tab-pane .selected {
  color: #009fe0;
}
.notifications-side .full-width-tabs>ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.dated {
  font-size: 90%;
  color: #b0b0b0;
  font-weight: 100;
}
.accordion-caret .accordion-toggle {
  color: #fff;
  text-align: left !important;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}
.accordion-caret .accordion-toggle:hover {
  text-decoration: none;
}
.accordion-caret .accordion-toggle:hover span, .accordion-caret .accordion-toggle:hover strong {
  text-decoration: none;
}
.accordion-caret .accordion-toggle:after {
  font-size: 25px;
  vertical-align: -3px;
}
.accordion-caret .accordion-toggle.collapsed:after {
  content: "▸";
  margin-right: 0px;
  font-size: 16px;
}
.accordion-caret .accordion-toggle:not(.collapsed):after {
  content: "▾";
  margin-right: 0px;
  font-size: 16px;
}
.mini-box {
  text-align: center;
}
.mini-boxes {
  margin-top: 30px;
}
.vested-account-balance {
  text-shadow: 1px 1px 1px #3870ba;
  font-size: 35px;
  font-weight: 100;
}
.cta-boxes {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}
.iframe-size {
  width: 500px;
  height: 175px;
  position: absolute;
  top: 14px;
  left: -20px;
}
.iframe-size-expand {
  width: 275px;
  height: 275px;
  margin-left: 20px;
}
.video-center-icon {
  width: 195px;
}

#realign-button {
    padding: 8px 20px;
    background: #2163a5;
    color: #fff;
    font-size: 0.9em;
}

/*----- TOOL TIP -----*/


/* Hover tooltips */

.cursor-help:hover {
  cursor: help !important;
}
.field-tip {
  position: absolute;
  cursor: help !important;
}
.field-tip .tip-content {
  position: absolute;
  z-index: 999;
  top: 0px;
  right: 9999px;
  cursor: help !important;
  width: 200px;
  margin-right: -184px;
  padding: 15px 20px;
  font-size: 0.94em;
  color: #fff;
  background: #373737;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.field-tip:hover .tip-content {
  right: -20px;
  opacity: 1;
  cursor: help !important;
}

/* --------- EXPANDED TILES --------------  */

.activitybutton {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 30px;
  font-size: 0.82em;
  top: 12px;
  background: rgba(255, 255, 255, 0.36);
  padding: 1px 15px 1px 15px;
}
.activitybutton-close {
  font-size: 19px;
  top: 13px;
  background: none;
  padding: 0px;
}
.expandedchartbutton {
  width: 290px;
}
.your-account-expand-main {
  background: rgb(255, 255, 255);
  color: #373737;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 23px;
  height: 850px;
  font-weight: 400;
}
.account-right-section {
  padding: 0 74px;
  border-left: 2px #197ec1 solid;
}
.account-left-section {
  padding: 0 74px;
}
.account-bottom-section {
  padding: 0 88px;
}
.current-investments-expand {
  display: none;
  background: rgb(255, 255, 255);
  color: #373737;
  height: 620px;
  padding-left: 30px;
  padding-top: 18px;
  font-size: 28px;
  font-weight: 400;
}
.future-investments-expand {
  display: none;
  background: rgb(255, 255, 255);
  color: #373737;
  height: 620px;
  padding-left: 30px;
  padding-top: 18px;
  font-size: 28px;
  font-weight: 400;
}
.video-learning-expand {
  display: none;
  background: rgb(255, 255, 255);
  color: #373737;
  height: 620px;
  padding-left: 30px;
  padding-top: 18px;
  font-size: 28px;
  font-weight: 400;
}
.counter2watch {
  font-size: 45px;
  font-weight: 100;
  text-shadow: 1px 1px 3px #26466f;
  margin-top: 30px;
  line-height: 38px;
}
.counter2watchsmall {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}
.video-section {
  text-align: center;
  padding: 0 91px 0 34px;
}
.video-time {
  position: absolute;
  right: 57px;
  bottom: 31px;
  font-size: 33px;
}
.video-title {
  text-align: left;
  line-height: 28px;
  margin-top: 11px;
}
.video-subtitle {
  font-size: 18px;
}
.video-learning-button {
  display: none;
}

/* TABS */

.whitelink span {
  color: #535353;
}
.whitelink .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #535353;
  background-color: rgba(255, 255, 255, 0.23);
}
.whitelink .nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.23);
}
.nav-pills>li>a {
  border-radius: 0px;
}

/* OVERLAY */

​.overlayed {
  opacity: 0.2 !important;
}
.overlayed:hover {
  opacity: 0;
}

/* RESPONSIVE TABLE */

.responsive-table {
  font-size: 18px;
}
.responsive-table .nav-tabs2>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff;
  font-size: 15px;
  background: rgba(206, 206, 206, 0.88);
}
.responsive-table .nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
  color: #373737 !important;
  cursor: default;
  background-color: rgba(206, 206, 206, 0.88) !important;
  border-right: none;
  border-left: none;
  border-top: #fff !important;
}
.video-responsive-table {
  font-size: 16px;
}
.rwd-table {
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
}
.rwd-table th {
  display: none;
}
.rwd-table td:before {
  width: 6.5em;
  display: inline-block;
}
.rwd-table {
  color: #fff;
  border-radius: 0px;
  overflow: hidden;
}
.rwd-table tr {
  border-color: none;
  padding: 10px 15px;
}

/*color tr*/

.donut-chart {
  text-align: center;
  padding: 0 98px;
}
.donut-table td, th {
  padding: 10px 5px;
}
.donut-table tr {
  margin: 8px 0;
}

.donut-table .table-right th:last-child,
.donut-table .table-right td:last-child,
.donut-table .table-right th:nth-last-child(2),
.donut-table .table-right td:nth-last-child(2) {
    text-align: right;
}

.donut-table .yellow:hover {
  background-color: rgba(253, 236, 109, 0.50);
}
.donut-table .yellowline {
  border-left: 3px solid rgb(253, 236, 109);
  margin-right: 10px;
}
.donut-table .pink:hover {
  background-color: rgba(255, 117, 153, 0.50);
}
.donut-table .pinkline {
  border-left: 3px solid rgb(255, 117, 153);
  margin-right: 10px;
}
.donut-table .purple:hover {
  background-color: rgba(153, 158, 255, 0.50);
}
.donut-table .purpleline {
  border-left: 3px solid rgb(153, 158, 255);
  margin-right: 10px;
}
.donut-table .orange:hover {
  background-color: rgba(255, 188, 117, 0.50);
}
.donut-table .orangeline {
  border-left: 3px solid rgb(255, 188, 117);
  margin-right: 10px;
}
.donut-table .green:hover {
  background-color: rgba(169, 255, 150, 0.50);
}
.donut-table .greenline {
  border-left: 3px solid rgb(169, 255, 150);
  margin-right: 10px;
}
.donut-table .grey:hover {
  background-color: rgba(88, 88, 88, 0.80);
}
.donut-table .greyline {
  border-left: 3px solid rgb(88, 88, 88);
  margin-right: 10px;
}
.donut-table .blue:hover {
  background-color: rgba(124, 181, 236, 0.50);
}
.donut-table .blueline {
  border-left: 3px solid rgb(124, 181, 236);
  margin-right: 10px;
}
.donut-table .darkgreen:hover {
  background-color: rgba(3, 132, 130, 0.73);
}
.donut-table .darkgreenline {
  border-left: 3px solid rgb(3, 132, 130);
  margin-right: 10px;
}
.rwd-table th, .rwd-table td {
  margin: 0.5em 1em;
  padding: 10px 5px;
}
.rwd-table th, .rwd-table td:before {
  color: #fff;
}

/* --------- WIDGET COLLAPSE TILES --------------  */

.mobile-icon {
  display: none;
}
.your-account-widget {
  background: rgba(3, 100, 192, 0.32);
  height: 225px;
  /*display: none;*/
}
.your-account-widget:hover {
  background: rgba(3, 100, 192, 0.65);
  height: 225px;
  cursor: pointer;
  /*display: none;*/
}
.your-account-widget-2 {
  background: rgba(3, 100, 192, 0.32);
  height: 225px;
  display: none;
}
.your-account-widget-2:hover {
  background: rgba(3, 100, 192, 0.65);
  height: 225px;
  display: none;
  cursor: pointer;
}
.current-investments-widget {
  background: rgba(0, 169, 157, 0.32);
  height: 225px;
}
.current-investments-widget:hover {
  background: rgba(0, 169, 157, 0.65);
  height: 225px;
  cursor: pointer;
}
#load {
  display: none;
}
.current-investments-widget-2 {
  background: rgba(0, 169, 157, 0.32);
  height: 225px;
  display: none;
}
.current-investments-widget-2:hover {
  background: rgba(0, 169, 157, 0.65);
  height: 225px;
  cursor: pointer;
  display: none;
}
.future-investments-widget {
  background: rgba(80, 132, 168, 0.32);
  height: 225px;
}
.future-investments-widget:hover {
  background: rgba(80, 132, 168, 0.78);
  height: 225px;
  cursor: pointer;
}
.future-investments-widget-2 {
  background: rgba(80, 132, 168, 0.65);
  height: 225px;
  display: none;
}
.future-investments-widget-2:hover {
  background: rgba(80, 132, 168, 0.78);
  height: 225px;
  display: none;
  cursor: pointer;
}
.video-learning-widget {
  background: rgba(115, 180, 74, 0.32);
  height: 225px;
}
.video-learning-widget:hover {
  background: rgba(115, 180, 74, 0.65);
  height: 225px;
  cursor: pointer;
}
.widget-title {
  float: left;
}
.widget-title-video {
  float: left;
}

/* footer */

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.footer-section {
  height: 85px;
  background: #004763;
  padding: 40px 0 40px 0;
  text-align: center;
  color: #fff;
}
.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #373737;
  margin-top: -10px;
  height: auto;
  position: relative;
  width: 100%;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
}
.footer hr {
  margin: 5px 0;
  opacity: 0.2;
}
.footer p {
  margin: 0;
  color: #fff;
  padding: 9px 0;
  font-size: 14px;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 9px 0;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  background: #373737;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #373737;
  ;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #373737;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.footer-bottom p.pull-right {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em;
}

/* Main */

#mainContainer {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.logout {
  color: #eb0000 !important;
  background-color: #fff;
  border: 2px solid #eb0000 !important;
  margin-top: -8px;
  margin-right: 25px;
  border-radius: 0px !important;
  background: #eee;
  padding-right: 25px;
  padding-left: 25px;
}
.logout:hover {
  color: #fff !important;
  background-color: #eb0000 !important;
}
.rightnow {
  float: right;
}
.leftnow {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.centernow {
  text-align: center;
}
.weightone {
  font-weight: 100 !important;
}
.notifybubble2 {
  moz-border-radius: 15px;
  border-radius: 50%;
  padding: 2px 7px 2px 5px;
  width: 19px;
  /* height: 19px; */
  position: absolute;
  right: 299px;
  top: 21px;
  font-size: 14px;
  color: #fff;
  background: #fc9797;
}
.steam {
  font-size: 9px;
}
.sidebar {
  float: left;
  height: 380px;
  /* margin: 0px 1px 0 0; */
  width: 66.92%;
  background-color: #409bda;
  text-align: left;
  color: #fff;
  padding: 0 20px 0 20px;
}
#steam1 {
  float: right;
  height: 190px;
  margin: 0 1px 0 0;
  width: 33%;
  background-color: #606060;
  text-align: left;
  color: #fff;
  padding: 0 20px 0 20px;
}
#steam2 {
  float: right;
  height: 190px;
  margin: 0 1px 0 0;
  width: 33%;
  background-color: #a3c249;
  text-align: left;
  color: #fff;
  font-size: 20px;
  padding: 0 20px 0 20px;
}
#steam3 {
  float: right;
  height: 190px;
  /* margin: 0 1px 0 0; */
  width: 33%;
  background-color: #50a7a0;
  text-align: left;
  color: #fff;
  padding: 0 20px 0 20px;
}
#steam4 {
  float: right;
  height: 190px;
  /* margin: 0 1px 0 0; */
  width: 33%;
  background-color: #e3ab30;
  text-align: left;
  color: #fff;
  padding: 0 20px 0 20px;
}
#steam5 {
  float: right;
  height: 190px;
  /* margin: 0 1px 0 0; */
  width: 34%;
  background-color: #afa99b;
  text-align: left;
  color: #fff;
  padding: 0 20px 0 20px;
}
#sidebarbutton {
  bottom: 0px;
  width: 100%;
  left: 40px;
  background: #095182;
  width: 1099px;
  margin-top: 181px;
  font-weight: 100;
  margin-left: -20px;
  text-align: center;
  font-size: 16px;
  padding: 23px;
  display: none;
}

.bordered {
  border-left: 2px #fff solid;
  margin-left: -12px;
}
.counter {
  font-size: 58px;
  font-weight: 400;
}
.countersup {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  position: relative;
  top: -0.6em;
}
.suptop {
  vertical-align: top;
  top: 1.2em;
  position: relative;
  letter-spacing: 1.5px;
}
.counterstill {
  font-size: 68px;
  font-weight: 100;
}
.countersupstill {
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 1.5px;
  position: relative;
  top: -1.17em;
}
.suptopstill {
  vertical-align: top;
  top: 0.9em;
  position: relative;
  letter-spacing: 1.5px;
}
.countersup2 {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1.5px;
  position: relative;
  top: -1em;
}
.suptop2 {
  vertical-align: top;
  top: 0.1em;
  position: relative;
  letter-spacing: 1.5px;
}
.dollar {
  font-size: 58px;
  font-weight: 400;
}
.dollarstill {
  font-size: 68px;
  font-weight: 100;
}
.counter2 {
  font-size: 45px;
  font-weight: 100;
}
.dollar2 {
  font-size: 40px;
  font-weight: 100;
}
.counter3 {
  font-size: 50px;
  font-weight: 100;
}
.dollar3 {
  font-size: 50px;
  font-weight: 100;
}
.counter3still {
  font-size: 50px;
  font-weight: 100;
}
.dollar3still {
  font-size: 50px;
  font-weight: 100;
}
.countersup2still {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1.5px;
  position: relative;
  top: -1em;
}
.suptop2still {
  vertical-align: top;
  top: 0.1em;
  position: relative;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px #26466f;
}
.alarmed {
  -webkit-animation: shake 20s ease forwards, shake 20s ease;
  animation: shake 20s ease forwards, shake 20s ease;
  -webkit-animation-delay: 12s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 12s;
}

/* ------ START ACCOUNT ANIMATIONS ----- */

#paused {
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -moz-animation-name: none;
  -webkit-animation-name: none;
  -ms-animation-name: none;
  animation-name: none;
}
.afterwards {
  -webkit-animation: fadeIn 0.5s ease-in forwards;
  animation: fadeIn 0.5s ease-in forwards;
  -webkit-animation-delay: 4.2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 4.2s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}

}
.vested {
  -webkit-animation: fadeInVested 2s ease-in forwards;
  animation: fadeInVested 2s ease-in forwards;
  -webkit-animation-delay: 1.8s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.8s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.zoomingdown {
  -webkit-animation: fadeIn 1s ease-in forwards, slideInDown 1s ease-in forwards;
  animation: fadeIn 1s ease-in forwards, slideInDown 1s ease-in forwards;
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.zooming1 {
  -webkit-animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  -webkit-animation-delay: 2.5s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2.5s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.zooming2 {
  -webkit-animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  -webkit-animation-delay: 3s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.zooming3 {
  -webkit-animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  animation: fadeIn 1.2s ease-in forwards, slideInDown 0.6s ease-in forwards;
  -webkit-animation-delay: 3.5s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 3.5s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.dashedlineleft {
  -webkit-animation: fadeIn 8s ease-in forwards, zoomInLeft 8s ease-in forwards;
  animation: fadeIn 8s ease-in forwards, zoomInLeft 8s ease-in forwards;
  -webkit-animation-delay: 6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 6s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.dashedlineright {
  -webkit-animation: fadeIn 8s ease-in forwards, zoomInRight 8s ease-in forwards;
  animation: fadeIn 8s ease-in forwards, zoomInRight 8s ease-in forwards;
  -webkit-animation-delay: 6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 6s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.retirementbox {
  -webkit-animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  -webkit-animation-delay: 7s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 7s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.progressmove {
  -webkit-animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s;
}
.retirementctamove {
  -webkit-animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  animation: fadeIn 1s ease-in forwards, flipInX .15s forwards;
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s;
}
.retirementcta {
  background-color: #2163a5;
  color: #fff;
  font-weight: 400;
  font-size: 0.8em;
  height: 37px;
  padding: 4px 0;
  border: 1px #fff solid;
}
.retirementcta:hover {
  background-color: #686868 !important;
  color: #fff !important;
}

/* ------ END ACCOUNT ANIMATIONS ----- */

.slidingdown {
  -webkit-animation: fadeIn 1s ease-in forwards, slideInDown 0.6s ease-in forwards;
  animation: fadeIn 1s ease-in forwards, slideInDown 0.6s ease-in forwards;
  -webkit-animation-delay: 3s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy1 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 1.2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.2s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy2 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 1.4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.4s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy3 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 1.6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.6s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy4 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 1.9s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.9s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy5 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
.flippy6 {
  -webkit-animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  animation: fadeIn 1s ease-in forwards, flipping 3.2s ease forwards;
  -webkit-animation-delay: 2.2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2.2s;
}
.fade-in {
  ;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: 1;
}
@-webkit-keyframes flipping {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flipping {
  from {
    transform: rotateY(180deg)
  }
  to {
    transform: rotateY(0deg)
  }
}

/* MODAL */

.modal {
  background: rgba(255, 255, 255, 0.44) !important;
}
.modal-content {
  position: relative;
  background-color: rgba(24, 24, 24, 0.85);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center !important;
  border-radius: 6px;
  outline: 0;
  width: 800px !important;
  height: 600px !important;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-footer {
  padding: 15px;
  text-align: center;
  border: none;
  color: #fff;
}
.modal-body {
  border: none;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  padding-left: 95px;
  padding-right: 95px;
  font-weight: 100;
}
.modal-header {
  padding: 15px;
  border-bottom: none;
}
.modal-title {
  color: #fff;
  font-size: 60px !important;
  padding-top: 23px;
  font-weight: 100;
}
.modal-dialog {
  width: 600px;
  margin: 8em 23em;
}
.hr {
  border-bottom: 1px solid #e5e5e5;
  width: 100px;
}
.gotit {
  padding: 10px 106px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  letter-spacing: 1px;
  border-color: #fff;
  background: transparent;
  color: #fff;
}

/* NAV */

.top-nav .nav>li>a {
  position: relative;
  display: block;
}
.top-nav .nav-tabs {
  border: none;
  background: #ffffff;
  color: #409bda;
}
.top-nav .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  font-size: 16px;
  border-radius: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 39px;
  padding-right: 39px;
  color: #409bda;
  border-top: 5px solid #fff;
  text-transform: uppercase;
}
.top-nav .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff !important;
  cursor: default;
  background-color: #373737 !important;
  border-top: 5px solid #93b923 !important;
  border-right: none;
  border-left: none;
}
.top-nav .tab-pane {
  background-color: #373737;
  padding: 11px 0 14px 28px;
  font-size: 15px;
}
.top-nav .tab-pane span {
  color: #ffffff;
  padding: 2px;
  margin-right: 28px;
}
.top-nav .tab-pane span:hover {
  color: #ffffff;
  border-bottom: 3px #93b923 solid;
  padding: 2px;
}
.top-nav .tab-pane .selected {
  color: #ffffff;
  border-bottom: 2px #93b923 solid;
  padding: 2px;
  font-size: 15px;
}

.top-nav .tab-pane .selected a{
  color: #ffffff;
  text-decoration: none;
}

.navvy {
  border: none;
  background: #409bda;
  color: #fff;
  height: 60px;
}

/* --- BUTTONS -- */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* .button */

.buttonz {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 0.2em;
  border: none;
  overflow: hidden;
  text-decoration: none;
  background: #2163a5;
  outline: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.buttonz span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.buttonz:before, .buttonz:after {
  color: #fff;
  position: absolute;
  padding-top: 1.5em;
  top: 0;
  font-weight: 500;
  margin-top: 0;
  right: 1px;
  cursor: pointer;
  font-size: 90%;
  bottom: 0;
  left: 1px;
  background: #686868 !important;
  width: 100%;
  text-align: center;
  height: 100%;
  opacity: 0;
  -webkit-transition: .4s, opacity .6s;
  -moz-transition: .4s, opacity .6s;
  -o-transition: .4s, opacity .6s;
  transition: .4s, opacity .6s;
}

/* :before */

.buttonz:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}

/* :after */

.buttonz:after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}

/* Span on :hover and :active */

.buttonz:hover span, .buttonz:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.buttonz:hover:before, .buttonz:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.buttonz:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* .button CTA YOUR ACCOUNT WILL THIS BE ENOUGH ? */

.buttoncta {
  display: inline-block;
  position: relative;
  padding: 0.4em;
  border: none;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  color: #3672ab;
  background: transparent;
  width: 100%;
  border: 1px #fff solid;
}
.buttoncta span {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.buttoncta:before, .buttoncta:after {
  color: #fff;
  position: absolute;
  padding-top: 0.4em;
  top: 0;
  font-weight: 500;
  right: 1px;
  font-size: 100%;
  bottom: 0;
  left: 1px;
  background: #3672ab;
  width: 100%;
  text-align: center;
  /* border: 3px #2163a5 solid; */
  height: 100%;
  opacity: 0;
  -webkit-transition: .4s, opacity .4s;
  -moz-transition: .4s, opacity .4s;
  -o-transition: .4s, opacity .4s;
  transition: .4s, opacity .4s;
}

/* :before */

.buttoncta:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}

/* :after */

.buttoncta:after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}

/* Span on :hover and :active */

.buttoncta:hover span, .buttoncta:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.buttoncta:hover:before, .buttoncta:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

/* 
  We hide :before pseudo-element on :active
*/

.buttoncta:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* ------ NAVIGATION 2 DROPDOWN ---------- */

.dropdown {
  color: #fff;
  padding: 9px 0 8px 0;
  text-decoration: none !important;
}
.dropdown a {
  text-decoration: none !important;
  color: black;
}
.dropdown a:hover {
  text-decoration: none !important;
}
.hovered {
  opacity: 0.42;
}
.hovered:hover {
  opacity: 1;
}
.open {
  background-color: none!important;
  text-decoration: none !important;
  color: black;
  opacity: 1;
}
.open a {
  background-color: none!important;
  text-decoration: none !important;
  color: black;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 120px;
  padding: 12px 0;
  margin: 0 -4px 0px;
  text-align: left;
  list-style: none;
  background-color: rgb(223, 223, 223);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px;
  text-decoration: none !important;
  border-radius: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
.dropdown-menu>li:hover {
  background: #93b923;
  color: #fff;
}
.dropdown-menu>li>a {
  display: block;
  padding: 15px 0 15px 15px;
  clear: both;
  font-weight: 100;
  white-space: nowrap;
  color: #484848;
  text-decoration: none !important;
}
.dropdown-menu>li>a:hover {
  text-decoration: none !important;
  color: #fff;
  background: #93b923;
}
.dropdown-menu>li>a:active {
  text-decoration: none !important;
  color: #fff;
}

/* ------ TIMELINE ---------- */

.timeline {
  position: relative;
  padding: 0 0 5px;
  margin-top: 4px;
  margin-bottom: 30px;
}
.timeline .line {
  position: absolute;
  width: 2px;
  display: block;
  background: rgba(255, 255, 255, 0.48);
  top: 14px;
  bottom: 80px;
  margin-left: 31px;
}
.timeline .separator {
  border-top: 1px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: .9em;
  margin-left: 30px;
}
.timeline .panel {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}
.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.icon {
  position: absolute;
  left: -47px;
  display: block;
  width: 17px;
  height: 17px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-top: 10px;
  border: 2px solid #ffffff;
  font-size: 20px;
  background-color: #345c7f;
  vertical-align: middle;
  line-height: 40px;
}
.circle {}

/*.timeline .panel .panel-heading.icon:hover {
    background-color: #97c01b;
    border-color: #97c01b;
}*/

.panel-heading {
  padding: 0;
}
.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
.timeline .panel-outline .panel-body {
  padding: 10px 0px;
}
.timeline .panel-outline .panel-heading:not(.icon), .timeline .panel-outline .panel-footer {
  display: none;
}
.opacitybox {
  opacity: 0.45;
}
.opacitybox-active {
    display: block;
    opacity: 1 !important;
}
.opacitybox:hover {
  opacity: 1;
}
.panel-heading:hover .icon {
  background-color: #a6cd31 !important;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.30);
  opacity: 1 !important;
}
.panel-heading:active .icon {
  background-color: #a6cd31 !important;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.30);
  opacity: 1 !important;
}
.panel-primary>.panel-heading.newProducts {
  color: #fff;
  background-color: none !important;
  border: none !important;
}
.panel-primary>.panel-heading.restockedProducts {
  color: #fff;
  background-color: none !important;
  border: none !important;
  font-size: 20px;
  font-weight: 100;
}
a.newProductsLink {
  color: #000000;
}
article.panel.panel-primary.product-panel {
  border-color: none !important;
  border: none !important;
  background: none !important;
}
h2.panel-title.new-products-title {
  text-transform: uppercase;
}
ul.newProductsList {
  list-style-type: none;
  margin-left: -35px;
}
ul.newProductsList li {
  margin-top: 8px;
  line-height: normal;
}
ul.newProductsList li a {
  color: #000;
}
time.productDate {
  font-style: normal;
  font-size: 20px;
  font-weight: bolder;
  color: #000;
}
.timeline .panel .panel-heading.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 34px;
  margin-left: 1px;
  color: #FFF;
}