@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,300i,400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* 
---------------------------------------------------------
---------------------------------------------------------

* Interpage Style

---------------------------------------------------------
---------------------------------------------------------
*/

    #interpage {
      display: none;
    }

    .interpage-title{
      background: #2163a5;
      color: #fff;
      padding: 40px 0;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 100;
      font-size: 34px;
    }
      .container {
          width: 100%
      }


      /* Auto Rebalance */

      .rebalance{
      position: relative;
      display: block;
      padding: calc(9% + 108px) calc(1% + 10px);
      height: 400px;
      height: calc(33.333% - 20px);
      }

      .rebalance:hover {
      background: #4a7a89;
        color: #fff;
      }

      .rebalance:hover .img{
        filter: brightness(0) invert(1);
      }

      .rebalance .img {
        margin-left:10px;
      }


      .rebalance .title {
        position: absolute;
        width: 100%;
        left: 0;
        top: 120px;
        font-weight: 300;
        text-align: center;
        z-index: 1;
        transition: top 0.8s ease;
        line-height: 55px;
        font-size:25px;
        font-family: 'Roboto Condensed', sans-serif;
      }

      .rebalance:hover .title {
        top: 15%;
      }

      .rebalance .button {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 17%;
        text-align: center;
        opacity: 0;
        transition: opacity .15s ease;
      }

      .rebalance .button a {
          width: 200px;
          padding: 10px 24px;
          text-align: center;
          z-index: 1;
          font-size: 0.8em;
          font-family: 'Roboto', sans-serif;
          color: #4a7a89;
          background: white;
      }

      .rebalance:hover .button {
        opacity: 1;
         transition: opacity .15s ease;
      }

      .rebalance .text {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 30%;
        padding: 0 30px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 1.2em;
        font-size:1.1em;
        opacity: 0;
        transition: opacity .2s ease;

      }

      .rebalance:hover .text{
        opacity: 1;
         transition: opacity .95s ease;
      }


   /* Account Realignment */

      .realignment{
      position: relative;
      display: block;
      padding: calc(9% + 108px) calc(1% + 10px);
      height: 400px;
      height: calc(33.333% - 20px);
      }

      .realignment:hover {
      background: #00a89c;
        color: #fff;
      }

      .realignment:hover .img{
        filter: brightness(0) invert(1);
      }

      .realignment .img {
        margin-left:10px;
      }


      .realignment .title {
        position: absolute;
        width: 100%;
        left: 0;
        top: 120px;
        font-weight: 300;
        text-align: center;
        z-index: 1;
        transition: top .8s ease;
        line-height: 55px;
        font-size:25px;
        font-family: 'Roboto Condensed', sans-serif;
      }

      .realignment:hover .title {
        top: 19%;
      }

      .realignment .button {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 17%;
        text-align: center;
        opacity: 0;
        transition: opacity .15s ease;
      }

      .realignment .button a {
          width: 200px;
          padding: 10px 24px;
          text-align: center;
          z-index: 1;
          font-size: 0.8em;
          color: #00a89c;
          background: white;
          font-family: 'Roboto', sans-serif;
      }

      .realignment:hover .button {
        opacity: 1;
         transition: opacity .15s ease;
      }

      .realignment .text {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 30%;
        padding: 0 30px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 1.2em;
        font-size: 1.1em;
        opacity: 0;
        transition: opacity .2s ease;
      }

      .realignment:hover .text{
        opacity: 1;
         transition: opacity .95s ease;
      }

      /* Many-to-Many Transfers */

      .transfers{
      position: relative;
      display: block;
      padding: calc(9% + 108px) calc(1% + 10px);
      height: 400px;
      height: calc(33.333% - 20px);
      }

      .transfers:hover {
      background: #83ba41;
        color: #fff;
      }

      .transfers:hover .img{
        filter: brightness(0) invert(1);
      }

      .transfers .img {
        margin-left:10px;
      }


      .transfers .title {
        position: absolute;
        width: 100%;
        left: 0;
        top: 120px;
        font-weight: 300;
        text-align: center;
        z-index: 1;
        transition: top .8s ease;
        line-height: 55px;
        font-size:25px;
        font-family: 'Roboto Condensed', sans-serif;
      }

      .transfers:hover .title {
        top: 18%;
      }

      .transfers .button {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 17%;
        text-align: center;
        opacity: 0;
        transition: opacity .15s ease;
      }

      .transfers .button a {
          width: 200px;
          padding: 10px 24px;
          text-align: center;
          z-index: 1;
          font-size: 0.8em;
          color: #83ba41;
          background: white;
          font-family: 'Roboto', sans-serif;
      }

      .transfers:hover .button {
        opacity: 1;
         transition: opacity .15s ease;
      }

      .transfers .text {
        position: absolute;
        width: 100%;
        left: 0;
        bottom:  30%;
        padding: 0 30px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 1.2em;
        font-size: 1.1em;
        opacity: 0;
        transition: opacity .2s ease;
      }

      .transfers:hover .text{
        opacity: 1;
          transition: opacity .95s ease;
      }