/* 
---------------------------------------------------------
---------------------------------------------------------

* Pop-Up Modal

---------------------------------------------------------
---------------------------------------------------------
*/

#popup, #overlayed {
    display: block;
    position: absolute;
    text-align: center;
    transition: all 0.8s ease-out;
}
#overlayed {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 1200px;
    left: 0;
    top: 0;
    z-index: 1;
}
#popup {
    height: 1200px;
    width: 100%;
    background: rgba(11, 86, 152, 0.8);
    z-index: 99999;
    color: #fff;
    padding: 75px;
    font-size: 1.4em;
}
#popup h1 {
    margin-top: -1px;
    font-size: 1.5em;
}
#popup p {
    line-height: 2em;
}
#popup h2 {
    font-size: 1.2em;
}
#popup hr {
    margin-bottom: 15px;
}
.long-text {
    padding: 0 200px;
}
#popup-close {
    border: 1px #fff solid;
    padding: 10px 40px;
    margin: 28px 0;
    color: #fff;
    background-color: transparent !important;
    font-size: 21px;
    font-weight: 600;
}
#popup-close-x {
    position: absolute;
    top: 0px;
    right: 35px;
    color: #fff;
    font-size: 3.3em;
}
#popup-close-x:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
#popup-close:hover {
    text-decoration: none;
    cursor: pointer;
}
#switch {
    border: 1px #fff solid;
    padding: 10px;
    margin: 20px;
    color: #fff;
}
#switch:hover {
    border: 1px #fff solid;
    padding: 10px;
    margin: 20px;
    color: #fff;
    text-decoration: none;
}
@media all and (max-width: 1280px) {
    .long-text {
        padding: 0 70px;
    }
    #popup-close-x {
        position: absolute;
        top: 0px;
        right: 20px;
        color: #fff;
        font-size: 3.6em;
    }
    #popup h1 {
        margin-top: -5px;
    }
    #popup {
        width: 100%;
        color: #fff;
        padding: 60px 25px 0 25px;
        font-size: 1.2em;
    }
    #overlayed {
        height: 100%;
    }
    #popup p {
        line-height: 1.7em;
    }
}
@media all and (max-width: 680px) {
    .long-text {
        padding: 0 12px;
    }
    #popup-close-x {
        position: absolute;
        top: 0px;
        right: 20px;
        color: #fff;
        font-size: 3.6em;
    }
    #popup h1 {
        margin-top: -5px;
    }
    #popup {
        height: 100%;
        width: 100%;
        color: #fff;
        padding: 50px 25px 0 25px;
        font-size: 0.9em;
    }
    #overlayed {
        height: 100%;
    }
    #popup p {
        line-height: 1.5em;
    }
    #popup-close {
        border: 1px #fff solid;
        padding: 10px 30px;
        margin: 28px 0;
        color: #fff;
        background-color: transparent !important;
        font-size: 16px;
        font-weight: 600;
    }
}