/* 
---------------------------------------------------------
---------------------------------------------------------

* Desktop experiences  1280px - 1680px

---------------------------------------------------------
---------------------------------------------------------
*/

@media all and (min-width: 1280px) and (max-width: 1680px) {
  .main-section {
    height: 54px;
    text-align: center;
    background: #eee;
    padding: 1px 0 1px 0;
  }
  .main-section h1 {
    font-size: 16px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .logout {
    color: #eb0000 !important;
    background-color: #fff;
    border: 2px solid #eb0000 !important;
    margin-top: -11px;
  }
  .secondary-section {
    height: 50px;
  }
  .secondary-section h1 {
    margin-top: 12px;
  }
  .top-nav .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    font-size: 14px;
    border-radius: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 39px;
    padding-right: 39px;
    color: #409bda;
    border-top: 5px solid #fff;
    text-transform: uppercase;
  }
  .top-nav .tab-pane {
    background-color: #373737;
    padding: 7px 0 12px 39px;
    font-size: 14px;
  }
  .top-nav .tab-pane .selected {
    color: #ffffff;
    border-bottom: 2px #93b923 solid;
    padding: 2px;
    font-size: 14px;
  }
  .your-account-expand {
    background: rgba(3, 100, 192, 0.62);
    color: #fff;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 21px;
    height: 850px;
  }
  .your-account-expand-2 {
    background: rgba(3, 100, 192, 0.62);
    color: #fff;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 21px;
    height: 850px;
  }
  .bordered {
    border-left: 1px #fff solid;
    margin-left: -9px;
  }
  .paddingaccount {
    margin-top: 16px;
  }
  .account-description {
    font-size: 18px;
  }
  .account-right-section {
    padding: 0 50px;
    border-left: 2px #197ec1 solid;
  }
  .account-left-section {
    padding: 0 60px;
  }
  .account-bottom-section {
    padding: 0 81px;
  }
  .largecount {
    margin-top: -10px;
  }
  .dollar {
    font-size: 50px;
  }
  .counter {
    font-size: 50px;
  }
  .suptop {
    vertical-align: top;
    top: 1.2em;
    position: relative;
    letter-spacing: 1.5px;
  }
  .countersup {
    font-size: 30px;
    letter-spacing: 1.5px;
    position: relative;
  }
  .vested-account-balance {
    text-shadow: 1px 1px 1px #3870ba;
    font-size: 28px;
  }
  .counter2 {
    font-size: 40px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter3 {
    font-size: 44px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .countersup2 {
    font-size: 21px;
    letter-spacing: 1.5px;
    position: relative;
    top: -1.55em;
    text-shadow: 1px 1px 3px #26466f;
  }
  .suptop2 {
    vertical-align: top;
    top: 0.7em;
    position: relative;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .current-balance {
    font-size: 20px;
    margin-top: -10px;
  }
  .cta-boxes {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }
  .mini-box {
    margin-top: -8px;
  }
  .retirementctamove {
    font-weight: 400;
    font-size: 0.75em;
    padding: 4px 0;
    border: 1px #fff solid;
  }
  .retirementcta {
    font-weight: 400;
    font-size: 0.75em;
    padding: 4px 0;
    border: 1px #fff solid;
  }
  .buttonz:before, .buttonz:after {
    position: absolute;
    padding-top: 1.5em;
    top: 0;
    font-weight: 500;
    margin-top: 0;
    right: 1px;
    font-size: 75%;
    bottom: 0;
    left: 1px;
    width: 100%;
    text-align: center;
    height: 100%;
    opacity: 0;
    -webkit-transition: .4s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
  }
  .your-account-widget {
    background: rgba(3, 100, 192, 0.32);
    height: 181px;
  }
  .your-account-widget:hover {
    background: rgba(3, 100, 192, 0.65);
    height: 181px;
  }
  .your-account-widget-2 {
    background: rgba(3, 100, 192, 0.32);
    height: 181px;
    display: none;
  }
  .your-account-widget-2:hover {
    background: rgba(3, 100, 192, 0.65);
    height: 181px;
    display: none;
  }
  .current-investments-widget {
    background: rgba(0, 169, 157, 0.32);
    height: 181px;
  }
  .current-investments-widget:hover {
    background: rgba(0, 169, 157, 0.65);
    height: 181px;
  }
  #load {
    display: none;
  }
  .current-investments-widget-2 {
    background: rgba(0, 169, 157, 0.32);
    height: 181px;
    display: none;
  }
  .current-investments-widget-2:hover {
    background: rgba(0, 169, 157, 0.65);
    height: 181px;
    display: none;
  }
  .future-investments-widget {
    background: rgba(80, 132, 168, 0.32);
    height: 181px;
  }
  .future-investments-widget:hover {
    background: rgba(80, 132, 168, 0.78);
    height: 181px;
  }
  .future-investments-widget-2 {
    background: rgba(80, 132, 168, 0.65);
    height: 181px;
    display: none;
  }
  .future-investments-widget-2:hover {
    background: rgba(80, 132, 168, 0.78);
    height: 181px;
    display: none;
  }
  .video-learning-widget {
    background: rgba(115, 180, 74, 0.32);
    height: 181px;
  }
  .video-learning-widget:hover {
    background: rgba(115, 180, 74, 0.65);
    height: 181px;
  }
  .video-title {
    text-align: left;
    line-height: 28px;
    margin-top: 3px;
  }
  .widget-bottom {
    top: 8px;
    left: 5px;
    position: absolute;
    color: #fff;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 22px;
    font-weight: 100 !important;
  }
  .iframe-size {
    width: 405px;
    height: 133px;
  }
  .iframe-size-expand {
    width: 209px;
    height: 201px;

  }
  .video-center-icon {
    width: 150px;
  }
  .notifications-date {
    font-size: 23px;
    font-weight: 100 !important;
    padding: 10px 0 10px 20px;
    text-align: left;
  }
  .notifications-side .nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    width: 175px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.33);
  }
  .notifications-side .nav-tabs2 {
    border: none;
    padding: 0px 0 0 21px;
    color: #ffffff;
    height: 46px;
  }
  .opacitybox {
    font-size: 17px !important;
  }
  .font-17 {
    font-size: 17px !important;
  }
  .donut-chart {
    text-align: center;
    padding: 0 50px;
        margin-top: -28px;
  }
}

/* 
---------------------------------------------------------
---------------------------------------------------------

* Tablet Experiences PORTRAIT 768px - 1280px

---------------------------------------------------------
---------------------------------------------------------
*/

@media all and (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
  .main-section {
    height: 75px;
    text-align: center;
    background: #eee;
    padding: 9px 0 0px 0;
  }
  .main-section h1 {
    font-size: 16px;
  }
  .logout {
    color: #eb0000 !important;
    background-color: #fff;
    border: 2px solid #eb0000 !important;
    margin-right: 25px;
    border-radius: 0px !important;
    background: #eee;
    padding-right: 25px;
    padding-left: 25px;
  }
  .secondary-section {
    height: 66px;
    text-align: center;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    background: #fff;
  }
  .secondary-section h1 {
    font-size: 18px;
    margin-top: 24px;
  }
  .top-nav .tab-pane {
    padding: 14px 0 18px 29px;
    font-size: 14px;
  }
  .top-nav .tab-pane .selected {
    color: #ffffff;
    border-bottom: 2px #93b923 solid;
    padding: 2px;
    font-size: 14px;
  }
  .top-nav .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    font-size: 14px;
    border-radius: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    color: #409bda;
    border-top: 5px solid #fff;
    text-transform: uppercase;
  }
  .dropdown {
    color: #fff;
    padding: 7px 0 8px 0;
    text-decoration: none !important;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 13px 0px 10px 6px;
    clear: both;
    font-weight: 100;
    font-size: 13px;
    white-space: nowrap;
    color: #484848;
    text-decoration: none !important;
  }
  .plan-summary {
    margin-right: 2.5em;
    vertical-align: middle;
    font-size: 14px;
  }
  .preferences {
    margin-right: 1.9em;
    vertical-align: middle;
    font-size: 14px;
  }
  .planicon {
    width: 17px;
    margin-right: 7px;
  }
  .preficon {
    width: 22px;
    margin-right: 2px;
  }
  .opacitybox {
    opacity: 1;
  }
  .notifications-side {
    background: rgba(49, 49, 49, 0.98);
    color: #fff;
    padding-left: 6px;
    padding-bottom: 0px;
    height: 850px;
    position: fixed;
    bottom: 0px;
    top: 237px;
    right: -950px;
    width: 407px;
    z-index: 9999;
    transition: all 0.8s ease-out;
  }
  .notifications-date {
    font-size: 23px;
    font-weight: 100 !important;
    padding: 19px 0 10px 20px;
    text-align: left;
  }
  .notifications-side .nav-tabs2 {
    border: none;
    padding: 0px 0 0 21px;
    color: #ffffff;
    height: 36px;
  }
  .notifications-side .nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    width: 175px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.33);
  }
  .panel-primary>.panel-heading.restockedProducts {
    color: #fff;
    background-color: none !important;
    border: none !important;
    font-size: 15px;
    font-weight: 100;
  }
  .accordion-caret .accordion-toggle {
    color: #fff;
    text-align: left !important;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
  }
  .paddingaccount {
    margin-top: 35px;
  }
  .account-left-section {
    padding: 0px 20px;
  }
  .account-right-section {
    padding: 0px 20px;
  }
  .account-bottom-section {
    padding: 0px 33px;
  }
  .your-account-expand-main {
    padding-top: 30px;
    font-size: 19px;
  }
  .your-account-expand-1 {
    padding-top: 30px;
    font-size: 19px;
  }
  .current-investments-expand {
    font-size: 20px;
    padding-top: 30px;
  }
  .future-investments-expand {
    font-size: 20px;
    padding-top: 30px;
  }
  .video-learning-expand {
    font-size: 20px;
    padding-top: 30px;
  }
  .activitybutton {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 1em;
    top: 190px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.56);
    padding: 5px 15px 5px 15px;
    color: #fff;
  }
  .expandedchartbutton {
    width: 235px;
  }
  .dollar {
    font-size: 59px;
  }
  .counter {
    font-size: 50px;
  }
  .suptop {
    vertical-align: top;
    top: 1.2em;
    position: relative;
    letter-spacing: 1.5px;
  }
  .countersup {
    font-size: 28px;
    letter-spacing: 1.5px;
    position: relative;
  }
  .vested-account-balance {
    text-shadow: 1px 1px 1px #3870ba;
    font-size: 28px;
    font-weight: 100;
  }
  .counter2 {
    font-size: 40px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter3 {
    font-size: 44px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .countersup2 {
    font-size: 21px;
    letter-spacing: 1.5px;
    position: relative;
    top: -1.55em;
    text-shadow: 1px 1px 3px #26466f;
  }
  .suptop2 {
    vertical-align: top;
    top: 0.7em;
    position: relative;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .cta-boxes {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }
  .counter-widget {
    font-size: 40px;
  }
  .current-balance {
    font-size: 16px;
    margin-top: -2px;
  }
  .buttonz {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0.5em;
    border: none;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    background-color: #2163a5 !important;
    color: #FFF;
    font-size: 1em;
    background: transparent;
  }
  .buttonz:before, .buttonz:after {
    position: absolute;
    padding-top: 1.6em;
    top: 0;
    font-weight: 500;
    margin-top: 0;
    right: 1px;
    cursor: pointer;
    font-size: 90%;
    bottom: 0;
    left: 1px;
    width: 100%;
    text-align: center;
    background: #686868 !important;
    color: #fff;
    height: 100%;
    opacity: 0;
    -webkit-transition: .4s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
  }
  .mini-boxes {
    margin-top: 35px;
  }
  .widget-bottom {
    top: 10px;
    left: 10px;
    position: absolute;
    color: #fff;
    margin-left: 20px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 100 !important;
  }
  .iframe-size {
    width: 250px;
    height: 118px;
  }
  .iframe-size-expand {
    width: 245px;
    height: 270px;
    margin-left: 21px;
  }
  .donut-chart {
    text-align: center;
    padding: 0;
  }
  .responsive-table {
    font-size: 12px;
  }
  .field-tip .tip-content {
    font-size: 0.8em;
  }
  .video-center-icon {
    width: 102px;
    position: absolute;
    left: -54px;
    top: 13px;
  }
  .video-title {
    text-align: left;
    line-height: 28px;
    margin-top: 22px;
  }
  .video-section {
    text-align: center;
    padding: 8px 41px 0 29px;
  }
  .counter2watch {
    font-size: 30px;
    font-weight: 100;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter2watchsmall {
    color: #fff;
    font-weight: 100;
    font-size: 18px !important;
    margin-top: -8px;
  }
  .scrolling4 {
    overflow-y: auto;
    max-height: 21em;
    background: transparent;
    margin-top: 14px;
    margin-bottom: 5px;
    overflow-x: hidden !important;
    padding-right: 1px;
    margin-right: 1px;
  }
}

/* 
---------------------------------------------------------
---------------------------------------------------------

* Tablet Experiences LANDSCAPE 1024px - 1280px

---------------------------------------------------------
---------------------------------------------------------
*/

@media all and (min-width: 1024px) and (max-width: 1280px) and (orientation: landscape) {
  .main-section {
    height: 57px;
    text-align: center;
    background: #eee;
    padding: 0;
  }
  .main-section h1 {
    font-size: 16px;
  }
  .logout {
    color: #eb0000 !important;
    background-color: #fff;
    border: 2px solid #eb0000 !important;
    margin-right: 25px;
    border-radius: 0px !important;
    background: #eee;
    padding-right: 25px;
    padding-left: 25px;
  }
  .secondary-section {
    height: 46px;
    text-align: center;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    background: #fff;
  }
  .secondary-section h1 {
    font-size: 17px;
    margin-top: 15px;
  }
  .top-nav .tab-pane {
    padding: 10px 0 14px 24px;
    font-size: 13px;
  }
  .top-nav .tab-pane .selected {
    color: #ffffff;
    border-bottom: 2px #93b923 solid;
    padding: 2px;
    font-size: 13px;
  }
  .top-nav .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    font-size: 13px;
    border-radius: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    color: #409bda;
    border-top: 5px solid #fff;
    text-transform: uppercase;
  }
  .dropdown {
    color: #fff;
    padding: 7px 0 8px 0;
    text-decoration: none !important;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 13px 0px 10px 6px;
    clear: both;
    font-weight: 100;
    font-size: 13px;
    white-space: nowrap;
    color: #484848;
    text-decoration: none !important;
  }
  .plan-summary {
    margin-right: 2.5em;
    vertical-align: middle;
    font-size: 13px;
  }
  .preferences {
    margin-right: 2.7em;
    vertical-align: middle;
    font-size: 13px;
  }
  .planicon {
    width: 17px;
    margin-right: 7px;
  }
  .preficon {
    width: 22px;
    margin-right: 2px;
  }
  .expanded-title-icon {
    margin-top: -2px;
    margin-left: 3px;
    width: 23px;
  }
  .notifications-side {
    display: block;
    color: #fff;
    padding-left: 6px;
    padding-bottom: 0px;
  }
  .notifications-date {
    font-size: 23px;
    font-weight: 100 !important;
    padding: 10px 0 10px 20px;
    text-align: left;
  }
  .notifications-side .nav-tabs2 {
    border: none;
    padding: 0px 0 0 21px;
    color: #ffffff;
    height: 36px;
  }
  .notifications-side .nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    width: 137px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.33);
  }
  .panel-primary>.panel-heading.restockedProducts {
    color: #fff;
    background-color: none !important;
    border: none !important;
    font-size: 15px;
    font-weight: 100;
  }
  .accordion-caret .accordion-toggle {
    color: #fff;
    text-align: left !important;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
  }
  .account-description {
    font-size: 16px;
  }
  .account-right-section {
    padding: 0 19px;
    border-left: 2px #197ec1 solid;
  }
  .account-left-section {
    padding: 0 10px;
  }
  .vested-percent {
    font-size: 14px;
  }
  .account-bottom-section {
    padding: 0 34px 0 24px;
  }
  .paddingaccount {
    margin-top: 0px;
  }
  .largecount {
    margin-top: 0px;
  }
  .retirementcta {
    padding: 8px 0;
  }
  .retirementctamove {
    padding: 8px 0;
  }
  .your-account-expand-main {
    padding-top: 10px;
    font-size: 19px;
  }
  .your-account-expand-1 {
    padding-top: 10px;
    font-size: 19px;
  }
  .current-investments-expand {
    font-size: 19px;
    padding-top: 10px;
  }
  .future-investments-expand {
    font-size: 19px;
    padding-top: 10px;
  }
  .video-learning-expand {
    font-size: 19px;
    padding-top: 10px;
  }
  .activitybutton {
    display: none;
    position: absolute;
    right: 30px;
    font-size: 0.82em;
    top: 10px;
    background: rgba(255, 255, 255, 0.36);
    padding: 1px 15px 1px 15px;
  }
  .expandedchartbutton {
    width: 220px;
  }
  .dollar {
    font-size: 40px;
    font-weight: 100;
  }
  .dollar2 {
    font-size: 36px;
    font-weight: 100;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter {
    font-size: 40px;
  }
  .suptop {
    vertical-align: top;
    top: 0.4em;
    position: relative;
    letter-spacing: 1.5px;
  }
  .countersup {
    font-size: 20px;
    letter-spacing: 1.5px;
    position: relative;
  }
  .vested-account-balance {
    text-shadow: 1px 1px 1px #3870ba;
    font-size: 28px;
    font-weight: 100;
  }
  .counter2 {
    font-size: 36px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter3 {
    font-size: 44px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .countersup2 {
    font-size: 21px;
    letter-spacing: 1.5px;
    position: relative;
    top: -1.55em;
    text-shadow: 1px 1px 3px #26466f;
  }
  .suptop2 {
    vertical-align: top;
    top: 0.7em;
    position: relative;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .cta-boxes {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }
  .account-number {
    margin-top: 44px;
  }
  .counter-widget {
    font-size: 40px;
  }
  .current-balance {
    font-size: 17px;
    margin-top: -5px;
  }
  .rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
    padding: 6px 5px;
  }
  .mini-boxes {
    margin-top: 15px;
  }
  .widget-bottom {
    top: 10px;
    left: 10px;
    position: absolute;
    color: #fff;
    margin-left: 20px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 100 !important;
  }
  .iframe-size {
    width: 250px;
    height: 168px;
    margin-top: -20px;
  }
  .responsive-table {
    font-size: 14px;
  }
  .responsive-table th {
    font-size: 12px;
  }
  .responsive-table .nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    font-size: 12px;
  }
  .donut-table td, th {
    padding: 6px 3px;
  }
  .nav-justified>li {
    display: table-cell;
    width: 0px !important;
  }
  .video-center-icon {
    width: 102px;
    position: absolute;
    left: -54px;
    top: 13px;
  }
  .video-title {
    text-align: left;
    line-height: 28px;
    margin-top: 0px;
  }
  .video-section {
    text-align: center;
    padding: 0 41px 0 29px;
  }
  .video-time {
    position: absolute;
    right: 57px;
    bottom: 24px;
    font-size: 27px;
  }
  .counter2watch {
    font-size: 30px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter2watchsmall {
    color: #fff;
    font-size: 18px !important;
    margin-top: -8px;
  }
  .iframe-size-expand {
    width: 240px;
    height: 197px;
  }
  .donut-chart {
    text-align: center;
    padding: 0 2px;
  }
  .your-account-widget {
    background: rgba(3, 100, 192, 0.32);
    height: 165px;
  }
  .your-account-widget:hover {
    background: rgba(3, 100, 192, 0.65);
    height: 165px;
  }
  .current-investments-widget {
    background: rgba(0, 169, 157, 0.32);
    height: 165px;
  }
  .current-investments-widget:hover {
    background: rgba(0, 169, 157, 0.65);
    height: 165px;
  }
  #load {
    display: none;
  }
  .future-investments-widget {
    background: rgba(80, 132, 168, 0.32);
    height: 165px;
  }
  .future-investments-widget:hover {
    background: rgba(80, 132, 168, 0.78);
    height: 165px;
  }
  .video-learning-widget {
    background: rgba(115, 180, 74, 0.32);
    height: 165px;
  }
  .video-learning-widget:hover {
    background: rgba(115, 180, 74, 0.65);
    height: 165px;
  }
}

/* 
---------------------------------------------------------
---------------------------------------------------------

* Phone experiences 480px - 768px

---------------------------------------------------------
---------------------------------------------------------
*/

@media all and (min-width: 319px) and (max-width: 767px) {
  .nav-desktab {
    display: none;
  }
  .providerlogo {
    text-align: center;
    float: none;
    margin-left: 6em;
  }
  .main-section {
    height: 65px;
    text-align: center;
    background: #eee;
    padding: 5px 0 0px 0;
  }
  .main-section h1 {
    font-size: 15px;
  }
  .logout {
    color: #eb0000 !important;
    background-color: #fff;
    border: none !important;
    margin-right: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0px !important;
    background: #eee;
    padding-right: 14px;
    padding-left: 14px;
  }
  .secondary-section {
    height: 40px;
    text-align: center;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    background: #373737;
  }
  .secondary-section h1 {
    font-size: 14px;
    margin-top: 11px;
    color: #fff;
  }
  .top-nav .tab-pane {
    padding: 14px 0 18px 10px;
    font-size: 14px;
  }
  .top-nav .tab-pane .selected {
    color: #ffffff;
    border-bottom: 2px #93b923 solid;
    padding: 2px;
    font-size: 14px;
  }
  .top-nav .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    font-size: 14px;
    border-radius: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    color: #409bda;
    border-top: 5px solid #fff;
    text-transform: uppercase;
  }
  .navbar {
    z-index: 9999;
    display: block;
    position: absolute;
    margin-bottom: 0px;
    border-radius: 0px;
    top: 8px;
    left: 19px;
    color: #fff;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .dropdown {
    color: #fff;
    padding: 7px 0 8px 0;
    text-decoration: none !important;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 13px 0px 10px 6px;
    clear: both;
    font-weight: 100;
    font-size: 13px;
    white-space: nowrap;
    color: #484848;
    text-decoration: none !important;
  }
  .dropdown-menu>li:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.20);
  }
  .plan-summary {
    margin-right: 2.5em;
    vertical-align: middle;
    font-size: 14px;
  }
  .preferences {
    margin-right: 1.9em;
    vertical-align: middle;
    font-size: 14px;
  }
  .planicon {
    width: 17px;
    margin-right: 7px;
  }
  .preficon {
    width: 22px;
    margin-right: 2px;
  }
  .realign-button {
    margin-right: 23px;
    margin-top: 18px;
    font-size: 1em;
    text-align: center;
  }
  .opacitybox {
    opacity: 1;
  }
  .notifications-icon {
    text-align: center;
    margin-right: 6px;
    width: 21px;
  }
  .notifications-side {
    background: rgba(49, 49, 49, 0.98);
    color: #fff;
    padding: 43px 15px 0 15px;
    position: fixed;
    top: 0px;
    right: -700px;
    width: 85%;
    z-index: 9999;
    transition: all 0.8s ease-out;
  }
  .notifications-date {
    font-size: 23px;
    font-weight: 100 !important;
    padding: 10px 0 10px 20px;
    text-align: left;
  }
  .notifications-side .scrolling {
    margin-right: 8px;
  }
  .notifications-side .nav-tabs2 {
    border: none;
    padding: 0px 0 0 21px;
    color: #ffffff;
    height: 36px;
  }
  .notifications-side .nav-tabs2>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    width: 130px;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.33);
  }
  .panel-primary>.panel-heading.restockedProducts {
    color: #fff;
    background-color: none !important;
    border: none !important;
    font-size: 15px;
    font-weight: 100;
  }
  .accordion-caret .accordion-toggle {
    color: #fff;
    text-align: left !important;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
  }
  .paddingaccount {
    margin-top: 8px;
  }
  .retirementctamove {
    margin-top: 1px;
    font-weight: 400;
    height: 32px;
    font-size: 0.92em;
    padding: 4px 0;
    border: 1px #fff solid;
  }
  .retirementcta {
    margin-top: 1px;
    padding: 4px 0;
    height: 32px;
    font-size: 0.92em;
  }
  .account-left-section {
    padding: 0 15px;
    border-left: none;
  }
  .account-right-section {
    padding: 0 15px;
    border-left: none;
  }
  .account-bottom-section {
    padding: 0;
  }
  .your-account-expand-main {
    padding-top: 10px;
    font-size: 15px;
  }
  .your-account-expand-1 {
    padding-top: 10px;
    font-size: 15px;
  }
  .current-investments-expand {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 18px;
  }
  .future-investments-expand {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 18px;
  }
  .video-learning-expand {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 18px;
  }
  .iframe-size-expand {
    width: 152px;
    height: 155px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
  .activitybutton {
    display: block;
    position: absolute;
    font-size: 0.9em;
    color: #fff;
    top: 7px;
    background: rgba(255, 255, 255, 0.36);
    padding: 5px 10px 3px 10px;
  }
  .expandedchartbutton {
    width: 235px;
    margin-top: 10px;
  }
  .currentchartbutton {
    width: 235px;
    margin-top: 1px;
  }
  .scrolling2 {
    overflow-y: auto;
    max-height: 21em;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow-x: hidden !important;
    margin-right: 20px;
  }
  .hr-expanded {
    margin-top: 2px;
    margin-bottom: 2px;
    border-width: 2px;
    opacity: 0.5;
  }
  .expanded-title-icon {
    margin-top: -6px;
    margin-left: 3px;
    width: 20px;
  }
  .widget-right-icon {
    top: 15px;
  }
  .table-mobile-hidden {
    display: none;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #eee;
  }
  .future {
    margin-top: 10px;
  }
  .dollar2 {
    font-size: 22px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .dollar {
    font-size: 35px;
  }
  .counter {
    font-size: 35px;
  }
  .suptop {
    vertical-align: top;
    top: 0.5em;
    position: relative;
    letter-spacing: 1.5px;
  }
  .countersup {
    font-size: 20px;
    letter-spacing: 1.5px;
    position: relative;
  }
  .vested-account-balance {
    text-shadow: 1px 1px 1px #3870ba;
    font-size: 28px;
    font-weight: 100;
  }
  .counter2 {
    font-size: 22px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter3 {
    font-size: 44px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .countersup2 {
    font-size: 21px;
    letter-spacing: 1.5px;
    position: relative;
    top: -1.55em;
    text-shadow: 1px 1px 3px #26466f;
  }
  .suptop2 {
    vertical-align: top;
    top: 0.7em;
    position: relative;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 3px #26466f;
  }
  .counter-widget {
    font-size: 24px;
    font-weight: 100;
    text-shadow: 1px 1px 3px #26466f;
  }
  .cta-boxes {
    color: #fff;
    font-weight: 100;
    font-size: 0.6em;
  }
  .progress {
    height: 32px;
  }
  .progress-bar {
    font-size: 14px;
    padding: 5px 0;
  }
  .vested-amount {
    font-size: 15px;
  }
  .buttonz {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0.5em;
    border: none;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    color: #FFF;
    background: #2163a5 !important;
    font-size: 1em;
    background: transparent;
  }
  .buttonz:before, .buttonz:after {
    position: absolute;
    padding-top: 1.5em;
    top: 0;
    font-weight: 500;
    margin-top: 0;
    right: 1px;
    cursor: pointer;
    font-size: 80%;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: #686868 !important;
    color: #fff;
    text-align: center;
    height: 100%;
    opacity: 0;
    -webkit-transition: .4s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
  }
  .mini-boxes {
    margin-top: 10px;
  }
  .account-description {
    margin-top: -5px;
  }
  .widget-bottom {
    top: 9px;
    left: 0px;
    position: absolute;
    color: #fff;
    margin-left: 14px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 100 !important;
  }
  .largecount {
    margin-top: -7px;
  }
  .iframe-size {
    display: none;
  }
  .responsive-table {
    font-size: 14px;
  }
  .responsive-table .nav-tabs2>li>a {
    width: 164px;
  }
  .responsive-table .nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
    width: 164px;
  }
  .donut-table {
    font-size: 14px;
  }
  .donut-table td, th {
    padding: 7px 5px;
  }
  .responsive-table .nav>li>a {
    position: relative;
    display: table;
    padding: 4px 14px;
  }
  .responsive-table .nav-justified>li {
    float: left;
  }
  .rwd-table th, .rwd-table td {
    padding: 6px 5px;
  }
  .expanding {
    display: none;
  }
  .nav-justified>li {
    display: table-cell;
  }
  .video-center-icon {
    display: none;
  }
  .video-title {
    text-align: left;
    line-height: 28px;
    margin-top: -2px;
  }
  .video-subtitle {
    font-size: 10px;
    margin-top: -11px;
  }
  .video-section {
    text-align: center;
    padding: 0px 27px 0 14px;
    margin-top: -8px;
  }
  .video-time {
    position: absolute;
    right: 51px;
    bottom: 118px;
    font-size: 20px;
  }
  .video-responsive-table {
    font-size: 14px;
    padding-right: 5px;
    margin-top: -10px;
    padding-left: 5px;
  }
  .counter2watch {
    display: none;
  }
  .counter2watchsmall {
    display: none;
  }
  .mobile-icon {
    display: block;
    width: 42px;
    height: 42px;
  }
  .field-tip .tip-content {
    font-size: 1em;
  }
  .your-account-widget {
    background: rgba(3, 100, 192, 0.32);
    height: 120px;
  }
  .your-account-widget:hover {
    background: rgba(3, 100, 192, 0.65);
    height: 120px;
  }
  .current-investments-widget {
    background: rgba(0, 169, 157, 0.32);
    height: 120px;
  }
  .current-investments-widget:hover {
    background: rgba(0, 169, 157, 0.65);
    height: 120px;
  }
  #load {
    display: none;
  }
  .future-investments-widget {
    background: rgba(80, 132, 168, 0.32);
    height: 120px;
  }
  .future-investments-widget:hover {
    background: rgba(80, 132, 168, 0.78);
    height: 120px;
  }
  .video-learning-widget {
    background: rgba(115, 180, 74, 0.32);
    height: 120px;
  }
  .video-learning-widget:hover {
    background: rgba(115, 180, 74, 0.65);
    height: 120px;
  }
  .current-balance {
    display: none;
  }
  .widget-title-video {
    float: left;
    margin-top: 27px;
    padding-right: 10px;
    width: 100px;
  }
  .scrolling4 {
    overflow-y: auto;
    max-height: 21em;
    background: transparent;
    margin-top: 14px;
    margin-bottom: 5px;
    overflow-x: hidden !important;
    padding-right: 0px;
    margin-right: 20px;
  }
  .widget-title {
    float: left;
    margin-top: 48px;
    width: 100px;
  }
  .account-number {
    margin-top: 11px;
    position: absolute;
  }
  .video-learning-button {
    width: 40px;
    display: block;
  }
  .mobileright {
    float: right !important;
  }
  .mobileleft {
    float: left !important;
  }
  .footer {
    display: none;
  }
}