/* 
---------------------------------------------------------
---------------------------------------------------------

* Video Pop-Up Modal

---------------------------------------------------------
---------------------------------------------------------
*/

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
.modal-mobile-video video {
  width: 50vw;
  vertical-align: middle;
  text-align: center;
}
.x-modal {
  display: block;
  position: absolute;
  top: 19px;
  right: -1px;
  width: 26px;
  height: 26px;
  transition: transform .25s ease-in-out;
}
.x-modal:hover {
  opacity: 0.3;
}
.x-modal:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 0;
  border-top: 2px solid #373737;
  transform: rotate(45deg);
  transform-origin: center;
}
.x-modal:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 0;
  border-top: 2px solid #373737;
  transform: rotate(-45deg);
  transform-origin: center;
}
@media (min-width: 32em) {
  .modal-box {
    width: 70%;
  }
}
.modal-box header, .modal-box .modal-header {
  padding: 1em;
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
  color: #373737;
}
.modal-box header h3, .modal-box header h4, .modal-box .modal-header h3, .modal-box .modal-header h4 {
  margin: 0;
}
.modal-box .modal-body {
  padding: 2em 1.5em;
  vertical-align: middle;
  text-align: center;
}
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}
.modal-box .modal-footer a {
  color: #373737;
}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}
a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  right: 2%;
  top: 0%;
  background-color: #373737;
  opacity: 0.7;
  text-decoration: none;
}
a.close:hover {
  color: #fff;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}