<form id = "addCron">
	{% for section in sections %}
	{% if loop.index > 1 %}<hr/>{% endif %}
	<label>{{ section.description }}</label>
	{% if section.value is defined %}
	<select name = "{{ section.field }}" class = "form-control">
		<option value = ""></option>
		{% for key,value in section.value %}
		<option value = "{{ key}}">{{ value }}</option>
		{% endfor %}
	</select>
	{% else %}
	<input type = "text" name = "{{ section.field }}" class = "form-control"  />
	{% endif %}
	{% endfor %}
	<br/>
	<button type = "submit" class = "btn btn-success">Add</button>
</form>
<script>
$( document ).ready(function() 
{
	$( "#addCron" ).submit(function( event ) 
	{
		event.preventDefault();
		var querystring = $("#addCron").serialize();
		var page = "{{ path('_manage_cron_add_saved') }}";
	  	$.post(page, querystring).done(function(data) 
  		{
  			reloadCronList();
  		});
	});
});

</script>