<form id = "editCron">
	{% for section in sections %}
	{% if loop.index > 1 %}<hr/>{% endif %}
	<label>{{ section.description }}</label>
	{% if section.value is defined %}
	<select name = "{{ section.field }}" class = "form-control">
		<option value = ""></option>
		{% for key,value in section.value %}
		<option value = "{{ key}}" {% if section.currentValue is defined and section.currentValue == key %}selected{% endif %}>{{ value }}</option>
		{% endfor %}
	</select>
	{% else %}
	<input type = "text" name = "{{ section.field }}" class = "form-control"  value = "{% if section.currentValue is defined %}{{ section.currentValue }}{% endif %}"  />
	{% endif %}
	{% endfor %}
	<br/>
	<button type = "submit" class = "btn btn-success">Save</button>
</form>
<script>
$( document ).ready(function() 
{
	$( "#editCron" ).submit(function( event ) 
	{
		event.preventDefault();
		var querystring = $("#editCron").serialize() + "&id={{id }}";
		var page = "{{ path('_manage_cron_edit_saved') }}";
	  	$.post(page, querystring).done(function(data) 
  		{
  			reloadCronList();
  		});
  		
	});
});

</script>