{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage CRON'})) }}
<button class = "btn btn-info" onclick = "ajaxModal('{{ path('_manage_cron_add') }}','Add Cron')">Add Cron to List</button>
<br/><br/>
{% set header = "" %}
{% for section in sections %}
{% set header = header ~ "<th>" ~ section.description ~ "</th>" %}
{% endfor %}
{% set header = header ~ "<th>Active</th><th>Actions</th>" %}
{% set url = path('_manage_cron_load') %}
{% set unsearchableArray = [7,8] %}
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}
{% include('ManageManageBundle:Cron:javascript/index.js.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

