{% macro modal(modalId, submitButtonId, animate = true) %}
    {% set modalLabelId = modalId ~ 'Label' %}
    <div class="modal {% if animate %}fade{% endif %}" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalLabelId }}">
        <div class="modal-dialog {{ modalSize|default('') }}" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{ modalLabelId }}">{{ modalLabel|default('') }}</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="{{ submitButtonId }}">
                        {{ submitButtonText|default('Submit') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#{{ modalId }}').on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-title').text(link.data('modal-label'));
            modal.find('.modal-body').html('<div class="text-center"><img src = "{{ asset('images/load-icon.gif') }}" /></div>' ).load(link.data('href'));
        });
    </script>
{% endmacro %}