<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="1" name="provider_logo_url">
<meta content="1" name="sponsor_logo_url">
<!--<meta content="1" name="domain">
<meta content="1" name="participant_login_page_url">
<meta name="return_parameters" content="1"/> 
<meta name="videopage1022" content="1">
<meta content="1" name="planid">-->
<title></title>
<link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
<style type="text/css">
         /* Client-specific Styles */
		 @import url(https://fonts.googleapis.com/css?family=Sanchez);
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important; display:block; }
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {display:block; text-decoration: none;text-decoration:none!important; cursor:pointer!important; color:0099ff !important;}
         /*STYLES*/
		 
         table[class=full] { width: 100%; clear: both; }
         .logo_left img, .logo_right img {
         max-width:90% !important;
          max-height: 90% !important;
    }
	.msg_txt { font-family: 'Sanchez', Arial, serif; font-weight: 400; margin-bottom:10px !important;}
	
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color:0099ff !important;
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color:0099ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         img[class=banner] {width: 440px!important;height:220px!important;}
         img[class=colimg2] {width: 440px!important;height:220px!important;}
         .msg_txt { font-family: 'Sanchez', Arial, serif; font-weight: 400; margin-bottom:10px !important;}
         
         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color:0099ff !important;
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color:0099ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:140px!important;}
         img[class=colimg2] {width: 280px!important;height:140px!important;}
         td[class=mobile-hide]{display:none!important;}
         td[class="padding-bottom25"]{padding-bottom:25px!important;}
        .msg_txt { font-family: 'Sanchez', Arial, serif; font-weight: 400; margin-bottom:10px !important;}
         }
</style>
</head>
<body>
  <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
            <tbody>
              <tr>
                <td width="100%">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
                    <tbody>
                      <tr>
                        <td>
                          <!--VWS Header -->
                          <table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" height="105" style="margin-top: 0px !important; padding-top: 0px !important;" width="100%">
                            <tr>
                              <td bgcolor="white" style="-webkit-text-size-adjust: none;" width="12"></td><!--LEFT LOGO-->
                              <td align="left" bgcolor="white" class="logo_left" style="-webkit-text-size-adjust: none;"><img src="{{ plan.providerLogoImage }}" style="max-width: 240px; margin-left:10px;"></td><!--RIGHT LOGO-->
                              <td align="right" bgcolor="white" class="logo_right" style="-webkit-text-size-adjust: none;"><img src="{{ plan.sponsorLogoImage }}" style="max-width: 240px; margin-right:10px;"></td>
                              <td bgcolor="white" style="-webkit-text-size-adjust: none;" width="12"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- End of Header -->

 <!-- Start Full Text -->
  <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
            <tbody>
              <tr>
                <td width="100%">
                  <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
                    <tbody>
                      <tr>
                        <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner" width="560">
                            <tbody>
                              <tr>
                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" width="100%">&nbsp;</td>
                              </tr><!-- content -->
                              <tr>
                                <td style="font-family:Times New Roman, serif; font-size: 20px; font-weight:lighter; color: #444444; text-align:left; line-height: 30px; display:inline-block;">
                                  <p class="msg_txt">{{ 'hi' | trans ({}, 'widget') }} {{ rkp.plan_data.firstName }},</p>
                                <p class="msg_txt">{{ 'time_to_review_options' | trans ({}, 'widget') }}
</p><p class="msg_txt"> {{ 'please_contact' | trans ({}, 'widget') }} {{ plansRkp.hrFirstName }} {{ plansRkp.hrLastName }} {{ 'at_msg' | trans ({}, 'widget') }} {{ plansRkp.hrContactPhone }} {{ 'or_msg' | trans ({}, 'widget') }} {{ plansRkp.hrEmail }} {{ 'take_action_and_increase' | trans ({}, 'widget') }} {{ data.currentDeferral }} {{ 'to_msg' | trans ({}, 'widget') }} {{ data.newDeferral }}.
</p>
                                </td>
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
