{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename })) }}

{{ include ("SharedGeneralBundle:Default:progressbar.html.twig")  }}

<h2>{{ pagename }}</h2>
	
    {% if writeable %}
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" id = "fundListPill">
            <a href = "javascript:togglePills(fundSections,'fundList')">Fund List</a>
        </li>
        
        <li id = "addFundPill">
            <a href = "javascript:togglePills(fundSections,'addFund')">+ Add Fund</a>
        </li>
        <li>
            <a href = "{% block fundorderurl %}{% endblock %}">Re-order Display</a>
        </li>
         {% if writeable %}
        <li>
            {% block adddefaultfunds %}{% endblock %}
        </li>
        {% endif %}
        {% if qdiaReadable is defined and qdiaReadable %}
        <li>
           <a href = "javascript:window.location=qdiaUrl">QDIA</a>
        </li>
        {% endif %}
        <li id ="additionalHeaderPill">
            <a href = "javascript:togglePills(fundSections,'additionalHeader')">Additional Header</a>
        </li>
    </ul>
    
    {% elseif qdiaReadable is defined and qdiaReadable %}
   
        <ul class="nav nav-pills" role="tablist">
            <li class="active" id = "fundListPill">
                <a href = "javascript:togglePills(fundSections,'fundList')">Fund List</a>
            </li>
            <li>
               <a href = "javascript:redirect(qdiaUrl)">QDIA</a>
            </li>
        </ul>
    
    {% endif %}
    <ul class="list-group" id = "fundList">
        {% set header = "<th>Id</th><th>Display</th><th>Name</th><th>Ticker</th><th>Link</th><th>Fund ID</th><th>Actions</th>"%}
        {% set types = "a.id,a.display,a.name,a.ticker,a.link,a.fundId" %}
        
        {% if investments.planid != 0 %}
        {% set tablename = "plansFunds" %}
        {% set table = "plansFunds" %}
        {% set findby = "a.planid" %}
        {% set findbyvalues = investments.planid  %}
        {% set template = "PlansPlansBundle:Investments:Search/fundlist.html.twig" %}
        {% else %}
        {% set tablename = "defaultFunds" %}
        {% set table = "defaultFunds" %}
        {% set findby = "a.userid" %}
        {% set findbyvalues = investments.userid %}
        {% set template = "SettingsSettingsBundle:Investments:Search/fundlist.html.twig" %}
        {% endif %}
        {% if not writeable %}
        {% set template = "SharedInvestmentsBundle:Default:search/fundlistreadonly.html.twig" %}
        {% endif %}
        {% set extracolumndefs ='
        ,{ 
            "targets": [ 6 ],
            "orderable": false,
            "className": "text-center"
        }
        '%}
        <br/>
        {% include('classesclassBundle:Search:searchdatatables.html.twig') %}
        {% if pagetype is defined and pagetype == "settings" %}
            <button type = "button" class="btn btn-info" id="save-and-update-btn" onclick = "saveAndUpdate('Funds')">Update All Plans With Defaults</button>
            <a href = "{{path('shared_general_default_select_plans_helper')}}/Funds" class="btn btn-primary">Update Some Plans With Defaults</a>
        {% endif %}
    </ul>

    <ul class = "list-group" id = "addFund" style = "display:none">
        <form id = "addfund">
            {% block planidfund %}{% endblock %}
            <input type = "text" class="form-control" name = "userid"  value = "{{ investments.userid }}" style = "display:none" /><br/>
            <input type = "text" class="form-control" name = "name" id = "addfundname" value = ""  placeholder = "Name" /><br/>
            <input type = "text" class="form-control" name = "ticker" id = "addfundticker" value = ""  placeholder = "Ticker" /><br/>
            <input type = "text" class="form-control" name = "link" value = "" id = "addfundlink"  placeholder = "Link"  /><br/>
            <input type = "text" class="form-control" name = "fundId" value = "" id = "addfundid"  placeholder = "Fund Id"  /><br/>
            {% if investments.fundsGroupsValues is not null %}
            <strong>{{ investments.fundGroup.name }}</strong><br/>
            <select name ="groupValueId" class ="form-control">
                <option value ="0">No Value</option>
                {% for fundsGroupsValue in investments.fundsGroupsValues %}
                <option value ="{{fundsGroupsValue.id }}"> {{ fundsGroupsValue.value }}</option>
                {% endfor %}
            </select>
            <br/>
            {% endif %}
            <button type = "button" class="btn btn-info" onclick = "reorderfunds()">Add Fund</button>
            
        </form>
    </ul>
   <ul class = "list-group" id = "additionalHeader" style = "display:none">
        <form id = "selectFundGroup">
            <h3>Select</h3>
            <select class ="form-control" name ="groupid">
                <option value = "">No additional header</option>
                 {% for group in investments.fundsGroups %}
                 <option value ="{{ group.id }}" {% if investments.fundGroup.id is defined and investments.fundGroup.id ==  group.id  %}selected{% endif %}  >{{ group.name }} </option>
                 {% endfor %}
            </select>
            <br/>
            <button class ="btn btn-primary" type ="submit">Save</button>
        </form>
   </ul>

{% if writeable %}
<script>
    {% block globalvariables %}{% endblock %}
    var fundSections = ["fundList", "addFund","additionalHeader"];//pills
    var portfolioSections = ["portfolioList", "addPortfolio"];//pills
</script>
{% endif %}
{{ include ("SharedInvestmentsBundle:Default:javascript/index.js.twig")  }}
{{ include ("SharedGeneralBundle:Default:javascript/index.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
