{% set total = 0 %}
{% set readonly = false %}
{% if writeable is defined %}
    {% if not writeable %}
        {% set readonly = true %}
    {% endif %}
{% endif %}

<table class="table">
<tr>
<td width = "600">
<div class="input-group" >
      <span class="input-group-addon"  style = "cursor:pointer" onclick = "simpleSearch(searchFunds,'fundScore')">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type = "text" class="form-control" id = "fundScoreSearch" value = "" onkeyup = "if (event.keyCode == 13)simpleSearch(searchFunds,'fundScore')" placeholder = "Search Fund Name or Ticker" title = "Search Fund Name or Ticker"/>
</div>
<table class="table table-bordered" style = "margin-top:5px">
  <tr class = "active">
    <td>Funds</td>

  </tr>
  <tr>
    <td>
      <ul id="portfoliofunds" class="list-group" style = "border: 1px solid #eee;" >
      {% for fund in portfoliofunds %}
        <li class="list-group-item" value = "*id*{{ fund.id }}*id*" id = "fundScore{{fund.id }}" >
            {% set total = total + fund.percent %}
            {{ fund.name }}<br/>{{ fund.ticker }} <input {% if readonly %}readonly{% endif %} type = "text" class="track-input" id = "setportfolio_fund_{{ fund.id }}" onchange = "customParseFloat(this.id,'unsigned')" style = "display:block;width:100%" value = "{{ fund.percent }}" />
        </li>
        {% endfor %}
        {% for fund in allfunds %}
        <li class="list-group-item" value = "*id*{{ fund.id }}*id*" id = "fundScore{{fund.id }}">
        	{{ fund.name }}<br/>{{ fund.ticker }} <input {% if readonly %}readonly{% endif %} type = "text" class="track-input" id = "setportfolio_fund_{{ fund.id }}" onchange = "customParseFloat(this.id,'unsigned')"  value = "0" style = "display:block;width:100%" />
        </li>
        {% endfor %}  
      </ul>
    </td>

</table>

{% if not readonly %}
<div>
    <span>Total Allocated: </span>
    <input id="total-percentage" readonly type = "number" value="{{ total }}"></div>
    <input id="save-btn" type = "button" class = "btn btn-primary" value = "Save" onclick = "saveportfoliofunds()" />
</div>
{% endif %}

</td>
</tr>
</table>

<script>
//javascript variables passed in by child template
//include does not work with block
{% block globalvariables %}{% endblock %}
</script>

{{ include ("SharedInvestmentsBundle:Default:javascript/setportfoliofunds.js.twig") }}



