<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
<form id="userform">
	<table class="table">
		<tr class="active">
			<td>
				Account Id
			</td>
			<td>
				Enabled
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divAccountId">
					<input type="number" value = "" placeholder = "1" name="accountId" id = "accountId" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divEnabled">
					<select class="form-control" name="enabled" id="enabled">
						<option>Yes</option>
						<option>No</option>
					</select>
				</div>

			</td>
		</tr>
		<tr class="active">
			<td>
				Username
			</td>
			<td>
				Password
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divUsername">
					<input value = "" placeholder = "username" name="username" id = "username" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divPassword">
					<input value = "" placeholder = "supersecrit" name="password" id="password" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr class="active">
			<td colspan = "2">
				Rate Limit
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<div class="form-group" id="divRateLimit">
					<input type="number" value = "" placeholder = "500" name="rateLimit" id = "rateLimit" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-info" onclick = "adduser()">Add</button>
		</td>
		</tr>
	</table>
</form>

<script>
    function adduser()
    {
        $('div').removeClass("has-error");
        $('#errormsg').hide();
        $('#nowhitespace').hide();
        var page = "{{ path('_manage_API_addApiUserSaved') }}";

		$.post(page, $('#userform').serialize()).done(function(data) {
            ApiUserTable.fnDraw(false);
			closeLightBox();
		});

    }
</script>