
<table class="table">
	<tr class="active">
		<td>
			Account ID
		</td>
	</tr>
	<tr>
		<td>
			{{ user.accountId }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deleteuser({{ user.id }})">Delete</button>
		</td>
	</tr>
</table>

<script>
    function deleteuser(id)
    {
        var page = "{{ path('_manage_API_deleteApiUserSaved') }}";
        var querystring = "id=" + id;
        $.post(page, querystring).done(function(data) {
            ApiUserTable.fnDraw(false);
            closeLightBox();
        });
    }

</script>