{{ include ('ManageManageBundle:ApiUI:index.html.twig', {'currentpage':"ApiUser"}) }}

<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_API_addApiUser') }}','Add User')">Add User</button>
</br></br>

{% set table = "ApiUser" %}
{% set tablename = "ApiUser" %}
{% set template = "ManageManageBundle:ApiUI:Search/ApiUser.html.twig" %}
{% set header = "<th>Id</td><td>Account ID</td><td>Username</td><td>Password</td><td>Enabled</td><td>Rate Limit</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.accountId,a.username,a.password,a.enabled,a.rateLimit" %}
{% set unsearchableArray = [6] %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

</div></div>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}