<!doctype html>
<html style="background-color: #fff;">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Join vWise at ASPPA</title>
<style type="text/css">
		html{
			background-color:#fff;
		}
		body{
			margin:0;
			padding:0;
			font-family:"Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica" , Helvetica , sans-serif;
			background-color:#fff;
		}
		p{
			color:#275598;
			font-size:2.5vw;
			text-align:center;
			line-height:20px;
		}
		.top50{
			margin-top:50px;
		}
		a:link{
			color:#275598;
			font-size:2.5vw;
			;
	text-align:center;
			text-decoration:none;
		}
		a:visited{
			color:#275598;
			font-size:2.5vw;
			;
	text-align:center;
			text-decoration:none;
		}
		.bold_red{
			margin:0;
			color:#de1c33;
			font-weight:bold;
			font-size:2.5vw;
			;:a.bold_red {
	margin:0;
			;
	display:inline-block;
		}
		.wrapper{
			margin:0 auto;
		}
		.logo,.join,.video_cont,.event_details{
			margin:0;
			padding:0;
			margin-top:-5px;
		}
		.clear{
			clear:both;
		}
		.container{
			max-width:800px;
			margin:0 auto;
			background:#fff;
			display:block;
			padding-bottom:50px;
			height:700px;
		}
		img{
			width:100%;
			margin:0px !important;
		}
</style>
    {{ include ('PlansPlansBundle:Outreach:Videoplayer/headervideojscss.html.twig') }}  

</head>

<body>
    <div class="wrapper" style="margin: 0 auto;">
        <div class="container" style="max-width: 800px;margin: 0 auto;background: #fff;display: block;padding-bottom: 50px;height: 700px;">
            <div class="logo" style="margin: 0;padding: 0;margin-top: -5px;"><img src="https://44fc3a2d1dc04efe1f02-4e2999b3e1a2f52bb8d17ee2268e655c.ssl.cf1.rackcdn.com/9251/logo.png" style="width: 100%;margin: 0px !important;"></div>

            <div class="video_cont" style="margin: 0;padding: 0;margin-top: -5px;">{{ include ('PlansPlansBundle:Outreach:Videoplayer/videoplayer.html.twig') }}</div><!-- Video goes here. This is the poster image for loading and when the video is finished-->

            <div class="join" style="margin: 0;padding: 0;margin-top: -5px;"><img src="https://44fc3a2d1dc04efe1f02-4e2999b3e1a2f52bb8d17ee2268e655c.ssl.cf1.rackcdn.com/9251/join-vwise.png" style="width: 100%;margin: 0px !important;"></div>

            <div class="event_details" style="margin: 0;padding: 0;margin-top: -5px;"><img src="https://44fc3a2d1dc04efe1f02-4e2999b3e1a2f52bb8d17ee2268e655c.ssl.cf1.rackcdn.com/9251/ASPPA-details_crop.png" style="width: 100%;margin: 0px !important;"></div>

            <div class="top50" style="margin-top: 50px;">
                <p style="color: #275598;font-size: 2.5vw;text-align: center;line-height: 20px;">Contact Us</p>

                <p style="color: #275598;font-size: 2.5vw;text-align: center;line-height: 20px;"><span class="bold_red" style="margin: 0;color: #de1c33;font-weight: bold;font-size: 2.5vw;: a.bold_red {
	margin:0;display: inline-block;">(877) 820-8212</span> or <span class="bold_red" style="margin: 0;color: #de1c33;font-weight: bold;font-size: 2.5vw;: a.bold_red {
	margin:0;display: inline-block;"><a class="bold_red" href="mailto:info@vwise.com?subject=vWise%20at%20ASPPA" target="_top" style="margin: 0;color: #275598;font-weight: bold;font-size: 2.5vw;: a.bold_red {
	margin:0;display: inline-block;text-align: center;text-decoration: none;"><span class="bold_red" style="margin: 0;color: #de1c33;font-weight: bold;font-size: 2.5vw;: a.bold_red {
	margin:0;display: inline-block;">Email</span></a></span></p>

                <p style="color: #275598;font-size: 2.5vw;text-align: center;line-height: 20px;"><a href="http://vwise.com" target="_blank" style="color: #275598;font-size: 2.5vw;text-align: center;text-decoration: none;">vwise.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>