{{ include ('PlansPlansBundle:Outreach:Videoplayer/header.html.twig') }}  


<div class="container videoplayer_container">
  {% if videoTemplate.headerimage != "" %}
  <div class="header clearfix">
    <nav>
      <div>
        <img src = "https://0409a0abfd38d75abf6b-a7efdb3f601da110080dd553b31a1d80.ssl.cf1.rackcdn.com/{{ videoTemplate.headerimage }}" />
      </div>
    </nav>
    <h3 class="text-muted"></h3>
  </div>
  {% endif %}
  <div class = "pager">
    {{ include ('PlansPlansBundle:Outreach:Videoplayer/videoplayer.html.twig') }}  
  </div>
  {% if videoTemplate.showfooter %}
  <div class="pager">
    <p><a class="btn btn-lg btn-success video-btn" href="{% if link is defined %}{{ link }}{% else %}{{ videoTemplate.footerurl }}{% endif %}" role="button">{{ videoTemplate.footerdescription }}</a></p>
  </div>
  {% block extracontent %}
  {% endblock %}
  <footer class="footer">
    <p>&copy; Vwise 2014</p>
  </footer>
  {% endif %}
</div> <!-- /container -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{{ include ('PlansPlansBundle:Outreach:Videoplayer/footer.html.twig') }}  