<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'trust' | trans ({}, 'beneficiary') }}/{{ 'estate' | trans ({}, 'beneficiary') }}/{{ 'charity' | trans ({}, 'beneficiary') }}/{{ 'other' | trans ({}, 'beneficiary') }}</b>
                </div>

                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/CheckBoxes/trust.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'beneficiary_type' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/type.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'relationship' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/relationship.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'first_name' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/firstname.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'middle_initial' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/middleinitial.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'last_name' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/lastname.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'share_percentage' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/percent.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'SSN' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/ssn.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'date_of_birth' | trans ({}, 'beneficiary') }} ({{ 'date_format' | trans ({}, 'beneficiary') }})*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/dob.html.twig" %}
                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12">
                <b style ="padding-right:50px">{{ 'foreign_address_other_than_usa' | trans ({}, 'beneficiary') }}</b> {% include "SpeAppBundle:Template:Beneficiary/CheckBoxes/foreignaddress.html.twig" %}
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'phone_number' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/phone.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'address_line_1' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/address.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'address_line_2' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/address2.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'city' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/city.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'state' | trans ({}, 'beneficiary') }}/{{ 'region' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/state.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'postal_code' | trans ({}, 'beneficiary') }}*</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/TextFields/zip.html.twig" %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-6">
                    <b>{{ 'country' | trans ({}, 'beneficiary') }}</b>
                </div>
                <div class="col-xs-6">
                    {% include "SpeAppBundle:Template:Beneficiary/Dropdowns/country.html.twig" %}
                </div>
            </div>
        </div>
    </div>

</div>

<!-- templating workaround for BSD-1334 -->
<% print("<sc" + "ript type='text/javascript'>"); %>

    $("#bcountry").prop("disabled", true);
    $("#bcountry").val('US');


    $('#bforeignaddress').click(function (e) {
        if ($('#bforeignaddress:checked').size() > 0) {
            $("#bcountry").prop("disabled", false);
            $("#bcountry").val('');
        } else {
            $("#bcountry").prop("disabled", true);
            $("#bcountry").val('US');
        }
    });

<% print("</sc"+"ript>"); %>

