<script>
function addrole()
{
	var rolename = $("#rolename").val();
	var roleTypes = $( "input[name=roleTypes]:checked" );
	var page = "{{ path('_manage_add_role_saved') }}";
	var querystring = "";
	querystring = "name=" + rolename + "&types=";
	if (roleTypes.length < 1)
	alert("At least one role type must be selected");
	else
	{
		for (var i = 0; i < roleTypes.length; i++)
		{
			if (i > 0)
			querystring = querystring + ",";
			querystring = querystring + roleTypes[i].value;
		}
		$.post(page, querystring).done(function(data) 
		{
			redrawtable();
		});	
	}
}
function redrawtable()
{
	accountsRolesTable.fnDraw(false);
	closeLightBox();
}
function editrole(id)
{
	var rolename = $("#rolename").val();
	var roleTypes = $( "input[name=roleTypes]:checked" );
	var page = "{{ path('_manage_edit_role_saved') }}";
	var querystring = "";
	querystring = "name=" + rolename + "&types=";
	if (roleTypes.length < 1)
	alert("At least one role type must be selected");
	else
	{
		for (var i = 0; i < roleTypes.length; i++)
		{
			if (i > 0)
			querystring = querystring + ",";
			querystring = querystring + roleTypes[i].value;
		}
		querystring = querystring + "&id=" + id;

		
		$.post(page, querystring).done(function(data) 
		{
			redrawtable();
		});	
		
	}
}

function deleterole(id)
{
	var page = "{{ path('_manage_delete_role_saved') }}";
	var querystring = "id=" + id;
	$.post(page, querystring).done(function(data) 
	{
		
		redrawtable();
	});	
}
</script>