{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename })) }}

{{ include ("SharedGeneralBundle:Default:progressbar.html.twig")  }}

<div class="row">
    <div class="col-md-8">
        <a class="select-all btn btn-empty " id="select-all">Select All</a>
        <a class="select-none btn btn-empty" id="select-none">Uncheck All</a>
    </div>
    <div class="col-md-4">
        <button disabled type = "button" class="btn btn-info" id="save-and-update-btn" onclick = "saveAndUpdateSelectPlans('{{ type }}')">Update Checked Plans With Defaults</button>
    </div>
</div>

<form id="plans-form">
{% for plan in plans %}
    <div class="checkbox">
        <label>
            <input type = "checkbox"  class="checkboxes" name = "{{ plan.id }}"/>{{ plan.id }} - {{ plan.name }}
        </label>
    </div>
{% endfor %}
</form>

<script>
    $('#select-all').click(function() {
        $(".checkboxes").prop('checked', true);
    });
    $('#select-none').click(function() {
        $(".checkboxes").prop('checked', false);
    });

    $("input[type='checkbox']").click(function (e) {
        if ($('.checkboxes:checked').size() > 0) {
            $("#save-and-update-btn").prop("disabled", false);
        } else {
            $("#save-and-update-btn").prop("disabled", true);
        }
    });
</script>

{{ include ("SharedGeneralBundle:Default:javascript/index.js.twig")  }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
