<div class="progress" id="progress-bar" style="display:none;">
    <div class="progress-bar progress-bar-striped" id="progress-bar-progress" role="progressbar" style="width: 0" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<span id="progress-text"></span>
