{{ include('ManageManageBundle:PlanUploadNew:mapping.html.twig') }}
<button class ="btn btn-info" onclick ="addMapping()">Create Template</button>
<script>
function addMapping()
{
    var list = generateList("includeList");
    var returnParams = 
    { 
        list: list,
        category: '{{ app.request.query.get("category") }}',        
        action: '{{ app.request.query.get("action") }}',
        type: '{{ app.request.query.get("type") }}',
        name: $("#mappingName").val() 
    };
    $.post( "{{ path('_manage_plan_upload_new_add_mapping_saved') }}", returnParams )
    .done(function( data ) {
        showalert(data);
        if (data === "saved-alert") {
            $("#ajaxModule").modal("hide");
        }
        reloadMappingSections();
    });
}        
</script>