{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Plan Upload'})) }}
<style>
    .popover-content {
        word-wrap: break-word;
    }
    #headerhtml {
        word-wrap: break-word;
    }
</style>

<a href ="{{ path('_manage_plan_upload_new_revert') }}?id={{app.request.query.get("id")}}">Revert List</a>
<br/><br/>

<div>
    <p>Account Name: {{ account.company }}</p>
    <p>Account Id: {{ account.id }}</p>
    <p>Partner Id: {{ account.partnerid }}</p>
</div>

<div id="theCsv" >
    <form action="" id="theCsvForm" method="post" enctype="multipart/form-data">
        <h3>Upload File</h3>
        <input type="file" id="csvfile" name="csvfile" style="border:none" accept=".xml,.csv"/><br/>
        <button class="btn btn-primary" type="button" onclick="uploadTheCsv();">Upload File</button>
    </form>
</div>
<hr>

{% set records = actions %}
{% set dropdowntitle = "Action"  %}
{% set dropdownname = "action" %}
{{ include('ManageManageBundle:PlanUploadNew:displayfilterdropdown.html.twig') }}
{% set records = types %}
{% set dropdowntitle = "Type"  %}
{% set dropdownname = "type" %}
{{ include('ManageManageBundle:PlanUploadNew:displayfilterdropdown.html.twig') }}
{% set records = categories %}
{% set dropdowntitle = "Category"  %}
{% set dropdownname = "category" %}
{{ include('ManageManageBundle:PlanUploadNew:displayfilterdropdown.html.twig') }}
<form id="uploadOptions">
    
</form>
<div id="blank_option" class="checkbox" style="display:none;">
    <label>
        <input type="checkbox" value="1"> 
    </label>
</div>
<div id ="mappingSections">
    {{ include('ManageManageBundle:PlanUploadNew:mappingsections.html.twig') }}
</div>
<div id ="mappingComplete" style ="display:none">
    <div id ="selectedMapping">
        <hr/>
        <h3>Selected Mapping</h3>
        <strong>Name: </strong> <span id ="name"></span><br/>
        <strong>Header</strong><br/>
        <span id ="headerhtml"></span>
    </div>
    <div id ="uploadCsv" >
        <form action="" method="POST" id="processCsvForm">
            <input type="hidden" id="mapping" name="mapping" value="">
            <input type="hidden" id="userid" name="userid" value="{{app.request.query.get("id")}}">
            <hr/>
            <div id ="validationStep">
                <button class ="btn btn-primary" type ="button" onclick="validateFile()">Validate File</button>
            </div>
            <div id ="processFile" style="display:none">
                <button class ="btn btn-primary" type ="button" onclick="processFile()">Process File</button>
            </div>
            <div id='showNumOfRows' style="display:none">
                <span>Number of rows that will be uploaded: </span><span id="numOfRows"></span>
            </div>
            <div id="validationErrors" style="display:none;"></div>
            <div class="row">
                <div class="col-sm-9">
                    <div id ="progressBar" style="display:none"></div>
                </div>
                <div class="col-sm-3">
                    <div id="cancelButton" style="display:none;margin:40px 0;">
                        <button type="button" class="btn btn-warning pull-right" onclick="stopProgress();">Stop</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
        </form>
</div>
</div>
            
<div class="modal" id="processFailedModal" tabindex="-1" role="dialog" aria-labelledby="processFailedLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="processFailedLabel">Processing Failed</h4>
            </div>
            <div class="modal-body">
                An error occurred during processing<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
            
<div class="modal" id="processStoppedModal" tabindex="-1" role="dialog" aria-labelledby="processStoppedLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="processFailedLabel">Processing Stopped</h4>
            </div>
            <div class="modal-body">
                The processing has been stopped.<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
var selectedMapping;
var uploadComplete = 0;
var processFileXHR;
var uploadOptions = {{ uploadOptions|json_encode()|raw }};

function useMapping(id)
{
    $.post( "{{ path('_manage_plan_upload_new_get_mapping') }}",{id:id} )
    .done(function( mapping ) 
    {
       selectedMapping = mapping;
       $("#selectedMapping").find("#name").html(selectedMapping.name);
       $("#selectedMapping").find("#headerhtml").html(selectedMapping.html);
       $("#processCsvForm").find("#mapping").val(selectedMapping.id);
       $("#mappingComplete").show();
       $("#progressBar").html('');
       $("#processFile").hide();
       $("#cancelButton").hide();
       $("#validationStep").show();
       $("#validationErrors").hide();
       $('#showNumOfRows').hide();
    });
}
function mappingDivId()
{
    return $("#planupload_filterdropdown_action" ).val() + "_" + $("#planupload_filterdropdown_type" ).val() + "_" + $("#planupload_filterdropdown_category" ).val();
}
function updateMappingSections()
{
    $(".mappingList").hide();
    $("#" + mappingDivId()).show();    
}
function updateUploadOptions() {
    var action = $("#planupload_filterdropdown_action" ).val();
    var type = $("#planupload_filterdropdown_type" ).val();
    var category = $("#planupload_filterdropdown_category" ).val();
    $('#uploadOptions').empty();
    for (var key in uploadOptions) {
        if (uploadOptions[key].categories.indexOf(category) > -1 && uploadOptions[key].actions.indexOf(action) > -1 && uploadOptions[key].types.indexOf(type) > -1)
        {
            var option = $('#blank_option').clone();
            option.removeAttr("id");
            option.find("input").attr("name", key).after(" " + uploadOptions[key].label);
            option.show();
            $('#uploadOptions').append(option);
        }   
    }
}
    
function changeFilter()
{
    updateMappingSections();
    mappingStep();
    updateUploadOptions();
}
function reloadMappingSections()
{
    $.post( "{{ path('_manage_plan_upload_new_mappingSections') }}" )
    .done(function( html ) 
    {
        $("#mappingSections").html(html);   
        updateMappingSections();
    });
}
function validateFile(limit)
{
    limit = limit || 5;
    uploadComplete = 0;
    var formData = $("#processCsvForm,#uploadOptions").serialize();
    $("#validationStep").hide();
    $("#progressBar").html('<img src ="{{ asset('images/load-icon.gif') }}" />').show();
    $("#validationErrors").html("").hide();
    var url = '{{ path('_manage_plan_upload_new_validate', {'limit': 'LIMIT_PLACEHOLDER'}) }}';
    $.ajax({
        url: url.replace('LIMIT_PLACEHOLDER', limit),
        type: 'POST',
        data: formData,
        async: true,
        success: function (data) 
        {
            uploadComplete = 1;
            if (!isNaN(data))
            {
                $("#progressBar").html("").hide();
                $("#validationErrors").html("").show();
                $("#processFile").show();
                $('#numOfRows').text(data);
                $("#showNumOfRows").show();
            }
            else
            {
                $("#progressBar").html("").show();
                $("#validationErrors").html(data).show();
                $('[data-toggle="popover"]').popover({
                    container : 'body',
                    trigger: 'hover',
                    placement: 'auto top'
                });
            }
        },
        error: function(request, textStatus) {
            uploadComplete = 1;
            showValidationStep();
            if (textStatus === "timeout" || request.status === 504) {
                modalMessage("The connection has timed out");
                return;
            }
            modalMessage("An error occurred during validation");
        }
    });
    startProgress();

}
function showValidationStep()
{
    $("#validationStep").show();
    $("#progressBar").hide();
    $("#validationErrors").html("").show();
}
function startProgress()
{
    if (!uploadComplete)
    setTimeout
    (
        function()
        {
            checkProgress();
        },
        1000
    );
}
function checkProgress(div)
{
    $.ajax({
        url:'{{ path('_manage_plan_upload_new_check_progress') }}',
        type: 'GET',
        async: true,
        success: function (data) 
        {
            if (!uploadComplete) {
                $("#progressBar").html("<h3>Progress</h3><b>Record " + data['step'] + " of " + data['csvLength'] + " </b>");
            }
        }
    });       
    if (!uploadComplete) {
        startProgress(div);
    }
}
function stopProgress() {
    if (processFileXHR) {
        processFileXHR.abort();
        $.ajax({
            url:'{{ path('_manage_plan_upload_new_stop_progress') }}',
            type: 'POST',
            async: true,
            data: 'stopProgress=1',
            success: function (data) 
            {
                uploadComplete = true;
                mappingStep();
                $("#processStoppedModal").modal("show");
            }
        });  
    }
    else {
        alert("No process to stop");
    }
         
}
function mappingStep()
{
    $("#mappingComplete").hide();
    $("#processFile").hide();
    $("#cancelButton").hide();
    $("validationErrors").hide();
    $('#showNumOfRows').hide();
    showValidationStep();
}
function processFile()
{
    uploadComplete = 0;
    $("#processFile").hide();
    $('#showNumOfRows').hide();
    $("#cancelButton").show();
    $("validationErrors").hide();
    $("#progressBar").html('<img src ="{{ asset('images/load-icon.gif') }}" />').show();
    startProgress();
    var formData = $("#processCsvForm,#uploadOptions").serialize(); 
    processFileXHR = $.ajax({
        url:'{{ path('_manage_plan_upload_new_upload') }}',
        type: 'POST',
        data: formData,
        async: true,
        success: function (data) 
        {
            uploadComplete = true;
            if (data == "success")
            {
                mappingStep();
                modalMessage("Processed Successfully");
            }
            else{
                modalMessage("An error occurred during processing");
            }
        },
        error: function (request, textStatus) 
        {
            uploadComplete = true;
            if (textStatus === "abort") {
                return;
            }
            if (textStatus === "timeout" || request.status === 504) {
                modalMessage("The connection has timed out");
                return;
            }
            //mappingStep();
            modalMessage("An error occurred during processing");
        }         
    }).done(function() {
        $("#cancelButton").hide();
    });    
}
function downloadMapping(id)
{
    $.post( "{{ path('_manage_plan_upload_new_get_mapping') }}",{id:id} )
    .done(function( mapping ) {
        downloadCsv(mapping.html,"mapping.csv");
    });
}

function uploadTheCsv() {
    var formData = new FormData($("form#theCsvForm")[0]);  
    var failedMsg = "Upload failed";
    $.ajax({
        url:'{{ path('_manage_plan_upload_new_upload_the_csv') }}',
        type: 'POST',
        data: formData,
        async: true,
        cache: false,
        contentType: false,
        processData: false,
        success: function (data) {
            mappingStep();
            if (data == "success"){
                modalMessage("Uploaded Successfully");
            }
            else {
                modalMessage(failedMsg);
            }
        },
        error: function (data) {
            mappingStep();
            modalMessage(failedMsg);
        }  
    });  
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}