{{ include('ManageManageBundle:PlanUploadNew:mappingalerts.html.twig') }}
Delete this mapping?
<br/><br/>
<button class ="btn btn-warning" onclick = "deleteMapping()">Confirm</button>
<script>
function deleteMapping()
{
    $.post( "{{ path('_manage_plan_upload_new_delete_mapping_saved') }}", {id: '{{app.request.query.get("id") }}'} )
    .done(function( data ) {
        showalert('deletealert');
        reloadMappingSections();
        if (selectedMapping.id == {{ app.request.query.get("id")}})
        $("#mappingComplete").hide();
    });    
}
</script>