Delete  snapshot {{ app.request.query.get('snapshot') }}
<br/><br/>
<button type=="button" class ="btn btn-primary" onclick ="deleteSnapshot('{{ app.request.query.get('snapshot') }}')">Proceed</button>