{% if currMappings is not empty %}
    <h4 style="margin-top:0;">Current Mappings</h4>
    <table class="table">
        <tr>
            <th>From</th><th>To</th>
        </tr>
    {% for key,value in currMappings %}
        <tr><td>{{key}}</td><td>{{value}}</td></tr>
    {% endfor %}
    </table>
{% endif %}