{% if iagreetag is not defined %}
{% set iagreetag = "i_agree" | trans ({}, 'global') %}    
{% endif %}
{% if iagreetemplate is not defined %}
{% set iagreetemplate = "template" %}    
{% endif %}
{% if iagreechecked is not defined %}
{% set iagreechecked = false %}    
{% endif %}    
{% include 'SpeAppBundle:Template:iagree/' ~ iagreetemplate ~ '.html.twig' %} 
