
{% set deletePortfolioUrl = "_settings_investments_portfolio_delete" %}
{% extends 'SharedInvestmentsBundle:Default:search/portfoliolist.html.twig' %}

{% block portfoliotable %}defaultPortfolios{% endblock %}

{% block setfunds %}{{ path('_settings_investments_portfolio_setfunds') }}{% endblock %}



