{% for media in mediaLocalizationSections %}

{% if media.type == "text" or media.type == "number" %}
<label>{{ media.description }}</label>
<input type = "{{ media.type }}" class = "form-control" placeholder = "{{  media.description }}" name = "{{ media.field }}" id = "{{ media.field }}" {% if media.type == "number" %}onchange = "customParseInt('{{ media.field }}','unsigned')"{% endif %}/><br/>
{% endif %}
{% if media.type == "select" %}
<label>{{ media.description }}</label>
<select name = "{{ media.field }}" class = "form-control" >
	{% for value,description in media.options %}
	<option value = "{{ value }}">{{ description }}</option>
	{% endfor %}
</select>
<br/>
{% endif %}
{% endfor %}