{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Media'})) }}
<a href = "javascript:ajaxModal('{{ path('_manage_media_addmedia') }}','Add Media','medium')"  ><input type = "button"  value = "Add Media"  class="btn btn-info" /></a>
<br/><br/>
{% set header = "<th>id</th><th>Client</th><th>Title</th><th>MediaType</th><th>Localizations</th><th>Actions</th>" %}
{% set url = path('_manage_media_listMedia') %}
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}
<script>
function deleteMedia(id)
{
	var querystring = "id=" + id;
	var page = "{{ path('_manage_media_delete') }}";
	$.post(page, querystring).done(function(data) 
	{
		searchingTable.ajax.reload();
	});	
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
