<script src="{{ asset('js/jquery-ui-slider-pips.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui-slider-pips.css') }}">
<style>
    #pretax-handle, #roth-handle {
        width: 1.5em;
        height: 1.5em;
        border-radius:50%;
    }
    #pretax-handle {
        background-color: #4078D2 !important;
        border-width: 0 !important;
    }

    #roth-handle {
        background-color: #417505 !important;
        border-width: 0 !important;
    }
</style>
<div id ="americanTrustContainer">

    <!-- Confirm Submit Modal -->
    <div class="modal fade" id="distributorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="modalText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalButton" class="btn btn-primary">{{ 'proceed' | trans ({}, 'global') }}</button>
                </div>
            </div>
        </div>
    </div>

    {% set audioFile = 'AT_audio_0308_ATb' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}

    <h1>{{ personalInfo.firstName }}'s Blueprint</h1>
    <br>
    <h2>{{ 'deferral_contribution_distributor' | trans ({}, 'atblueprint') }}</h2>
    <p>{{ 'select_your_deferral' | trans ({}, 'atblueprint') }}</p>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6" style="padding-left: 0">
            <div class="col-sm-12">
                <b>{{ outlook.deferralPercent }}%</b> {% if showAsterisk %} * {% endif %}
            </div>
            <div class="col-sm-12">
                {{ 'target_monthly_deferral' | trans ({}, 'atblueprint') }}
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="padding-left: 0">
            <div class="col-sm-12">
                <b>${{ outlook.dollarsDeferred }}</b>
            </div>
            <div class="col-sm-12">
                {{ 'monthly_paycheck_reduction' | trans ({}, 'atblueprint') }}
            </div>
        </div>
    </div>

    <br><br>

    <h2>{{ 'deferral_contribution_amounts' | trans ({}, 'atblueprint') }}</h2>

    <br>
    {% if app.session.get("common").roth %}
    <br>
    <div class="row">
        <div class="col-md-2">
            <b>{{ 'pretax' | trans ({}, 'widget') | upper }}</b>
        </div>
        <div class="col-md-1">
            0%<br>MIN
        </div>
        <div class="col-md-8">
            <div id="pretax-slider">
                <div id="pretax-handle" class="ui-slider-handle"></div>
            </div>
        </div>
        <div class="col-md-1">
            {{ outlook.deferralPercent|round(0, 'floor') }}%<br>MAX
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-2">
            <b>{{ 'roth' | trans ({}, 'widget') | upper }}</b>
        </div>
        <div class="col-md-1">
            0%<br>MIN
        </div>
        <div class="col-md-8">
            <div id="roth-slider">
                <div id="roth-handle" class="ui-slider-handle"></div>
            </div>
        </div>
        <div class="col-md-1">
            {{ outlook.deferralPercent|round(0, 'floor') }}%<br>MAX
        </div>
    </div>
    <br>

    {% else %}
        <p>{{ 'pretax_only_information' | trans ({}, 'atblueprint') }}</p>
        <div class="row">
            <div class="col-md-2">
                <b>{{ 'pretax' | trans ({}, 'widget') | upper }}</b>
            </div>
            <div class="col-md-1">
                0%<br>MIN
            </div>
            <div class="col-md-8">
                <div id="pretax-slider">
                    <div id="pretax-handle" class="ui-slider-handle"></div>
                </div>
            </div>
            <div class="col-md-1">
                {{ outlook.deferralPercent|round(0, 'floor') }}%<br>MAX
            </div>
        </div>
    {% endif %}

    <br>
    {% if showAsterisk %}
        <i>*{{ 'asterisk_info' | trans ({}, 'atblueprint') }}</i>
    {% endif %}
    <div class="actions">
        <a class="actionBtn left">
            <span class="center action-button" onclick="goToMainPage()">{{ 'back' | trans ({}, 'global') }}</span>
        </a>
        <a class="actionBtn right">
            <span class="center action-button" onclick="saveDeferralChoice({{ outlook.deferralPercent }})">{{ 'accept' | trans ({}, 'global') }}</span>
        </a>
    </div>
</div>


<script>
    $( function() {
        {% if app.session.get("common").roth %}
        $( "#pretax-slider" ).slider({
            max: {{ outlook.deferralPercent }},
            value: {{ outlook.deferralPercent < outlook.pretaxPercent ? outlook.deferralPercent|round(0,'floor') : outlook.pretaxPercent|round(0,'floor')}},
        }).slider("pips").slider("float");

        $( "#roth-slider" ).slider({
            max: {{ outlook.deferralPercent }},
            value: {{ outlook.deferralPercent < outlook.rothPercent ? outlook.deferralPercent|round(0,'floor') : outlook.rothPercent|round(0,'floor')}},
        }).slider("pips").slider("float");

        {% else %}

        $( "#pretax-slider" ).slider({
            max: {{ outlook.deferralPercent }},
            value: {{ outlook.deferralPercent < outlook.pretaxPercent ? outlook.deferralPercent|round(0,'floor') : outlook.pretaxPercent|round(0,'floor')}},
            disabled: true,
        }).slider("pips").slider("float");

        {% endif %}
    });

    function saveDeferralChoice(deferral)
    {
        showLoader();
        var pretax = $( "#pretax-slider" ).slider( "option", "value" );

        {% if app.session.get("common").roth %}
        var decimal = deferral % 1;
        deferral = Math.floor(deferral);
        var roth = $( "#roth-slider" ).slider( "option", "value" );
        if (pretax + roth != deferral) {
            $('#modalText').text('{{ 'sum_pretax_roth' | trans ({}, 'atblueprint') }} ' + deferral + ".");
            $('#distributorModal').modal('show');
        } else {
            if (pretax) {
                pretax = pretax + decimal;
            } else {
                roth = roth + decimal;
            }
            $.post( "/atBlueprint/outlook/savedistribution", { 'pretax' : pretax, 'roth' : roth }).done(function( html )
            {
                hideLoader();
                $('body').trigger('spe:router:redirect', { to: 'investments', complete : 'blueprint' });
            });
        }

        {% else %}

        $.post( "/atBlueprint/outlook/savedistribution", { 'pretax' : pretax, 'roth' : 0 }).done(function( html )
        {
            hideLoader();
            $('body').trigger('spe:router:redirect', { to: 'investments', complete : 'blueprint' });
        });

        {% endif %}
    }

    $('#modalButton').click(function() {
        hideLoader();
       $('#distributorModal').modal('hide');
    });
</script>

{% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}