<script>

    function changeDonutPercentage(containername, percent) {
        var index=$("#" + containername).data('highchartsChart');
        var chart=Highcharts.charts[index];
        chart.series[0].data[0].update(percent);
        chart.series[0].data[1].update(100-percent);
    }

    function changeDonutText(containername, upper) {
        var index=$("#" + containername).data('highchartsChart');
        var chart{{ containername }}=Highcharts.charts[index];
        chart{{ containername }}.title.update({
                text: upper

        });
    }

    function deleteCircleGraphic(containername) {
        var index=$("#" + containername).data('highchartsChart');
        var chart{{ containername }}=Highcharts.charts[index];

        chart{{ containername }}.series[0].remove();
    }

    function drawCircleGraphic(containername) {
        var index=$("#" + containername).data('highchartsChart');
        var chart{{ containername }}=Highcharts.charts[index];

        chart{{ containername }}.addSeries({
            data: [{
                y: {{ secondaryProgress }},
                color: '{{ color }}',
            }, {
                y: {{ progress }},
                color: '{{ secondaryColor }}',
                {% if containername == 'futureOutlook' %}
                dataLabels: {
                    borderWidth: 0,
                    useHTML: false,
                    format: '${{ currentProgress|number_format(0, '.', ',') }}/mo ({{ 'as_of_today' | trans ({}, 'atblueprint')}})',
                    enabled: true,
                    x: 105,
                    y: -90

                },
                {% endif %}
            }]
        });

    }

    $(function() {


        var chart{{ containername }} = new Highcharts.Chart({

            chart: {
                renderTo: '{{ containername }}',
                type: 'solidgauge',
                {% if myprofile is defined %}
                backgroundColor: '#ffffff',
                {% else %}
                backgroundColor: '#efefef',
                {% endif %}
            },

            title: {
                align:'center',
                verticalAlign: 'middle',
                text: '{{ upper|raw }}',
                y: 3,
                {% if progress > 0 and progress < 100 %}
                style: {
                    color: 'red'
                }
                {% endif %}
            },

            tooltip: {
                enabled: false,
            },

            pane: {
                startAngle: 0,
                endAngle: 360,
                background: [{ // Track for Move
                    outerRadius: '91%',
                    innerRadius: '89%',
                    backgroundColor: 'rgba(0,0,0,0.15)',
                    borderWidth: 0
                }]
            },

            yAxis: {
                min: 0,
                max: 100,
                lineWidth: 0,
                tickPositions: [],
            },

            plotOptions: {
                solidgauge: {
                    borderWidth: '10px',
                    innerRadius:'90%',
                    dataLabels: {
                        style: {
                            width: '75px',
                        },
                        enabled: false
                    },
                }
            },

            series: [{
                {% if progress != 0 or secondaryProgress != 0 %}
                data: [{
                    y: {{ secondaryProgress }},
                    color: '{{ color }}',
                }, {
                    y: {{ progress }},
                    color: '{{ secondaryColor }}',
                    {% if containername == 'futureOutlook' %}
                    dataLabels: {
                        borderWidth: 0,
                        useHTML: false,
                        format: '${{ currentProgress|number_format(0, '.', ',') }}/mo ({{ 'as_of_today' | trans ({}, 'atblueprint')}})',
                        enabled: true,
                        x: 105,
                        y: -90

                    },
                    {% endif %}
                }]
                {% endif %}
            }],

            credits: {
                enabled: false
            },

            exporting: {
                buttons: {
                    contextButton: {
                        enabled: false
                    }
                }
            },
        });

    });


</script>


<div id="{{ containername }}" style="position:relative; min-width: 307px; width: 100%;height:225px"></div>


