{% if myprofile is defined %}
    {% set background = '#ffffff' %}
{% else %}
    {% set background = '#efefef' %}
{% endif %}
<style>

    @media screen and (min-width: 992px) {
        .line {
            border-right: 2px solid #c1c1c1;
        }
    }

    @media screen and (max-width: 991px) {
        #vs-txt {
            display: none;
        }
    }

    .vs-line {
        float: left;
        width: 50%;
        border-right: 1px solid #000;
        height: 225px;
    }
    .vs-label {
        background: {{ background }};
        color: #000;
        left: 50%;
        margin-left: -1.34em;
        margin-top: 90px;
        padding: 10px;
        text-transform: uppercase;
        width: 1em;
    }

    #vs-txt {
        font-weight: bold;
        padding: 8px;
        text-align: right;
        transform: translate(30px, -130px);
    }



    #status {
        font-size: 80%;
    }

</style>


{% set incomeNeeded = blueprint.ReplacementIncomeNeeded %}


{% set ahead = null %}
{% set behind = null %}
{% if incomeNeeded - outlook.currentPerMonth > 0 %}
    {% set behind = incomeNeeded - outlook.currentPerMonth %}
{% else %}
    {% set ahead = outlook.currentPerMonth- incomeNeeded %}
{% endif %}

{% set currentProgress = blueprint.AtIndexDol %}


{% set percentage = blueprint.AtIndexTrend * 100 %}


{% set outlookSecondary = blueprint.AtIndex * 100 %}

{% if blueprint.AtIndexTrend > 1 %}
    {% set agesGoal = blueprint.RetirementAge - blueprint.AtAgeIndex %}
{% else %}
    {% set agesGoal = blueprint.RetirementAge + blueprint.AtAgeIndex %}
{% endif %}
{% set agesGoal = agesGoal|number_format(0, '.', ',') %}
{% set agesOutlook = blueprint.RetirementAge %}


{% set colors = {'red' : 'rgba(195,0,22,0.4)', 'green': 'rgba(65,168,0,0.4)'} %}

{% set color = 'red' %}
{% if percentage == 100 %}
    {% set color = 'green' %}
{% endif %}
<script>
    function incomeButton()
    {
        if ($('#income-btn').attr('class') != 'btn-selected') {
            $('#income-btn').toggleClass('btn-unselected btn-selected');
            $('#age-btn').toggleClass('btn-selected btn-unselected');
            // switch to income
            changeDonutText('retirementGoal', '<span style="font-size: 165%">${{ incomeNeeded|number_format(0, '.', ',') }}</span><br><span style="font-size: 70%">{{ 'per_month' | trans ({}, 'widget') }}</span>');
            changeDonutText('futureOutlook', '<span style="font-size: 165%">${{outlook.currentPerMonth|number_format(0, '.', ',')}}</span><br><span style="font-size: 70%">{{ 'per_month' | trans ({}, 'widget') }}</span>');
            {% if behind is not null %}
            $('#status').text('${{ behind|number_format(0, '.', ',') }}/mo {{ 'behind' | trans ({}, 'atblueprint') }}');
            {% endif %}
            drawCircleGraphic('futureOutlook');
        }

    }
    function ageButton()
    {
        if ($('#age-btn').attr('class') != 'btn-selected') {
            $('#age-btn').toggleClass('btn-unselected btn-selected');
            $('#income-btn').toggleClass('btn-selected btn-unselected');
            // switch to age
            changeDonutText('retirementGoal', '<span style="font-size: 180%">{{ agesOutlook }}</span><br><span style="font-size: 70%">{{ 'retirement_age' | trans ({}, 'atblueprint') }}</span>');
            changeDonutText('futureOutlook', '<span style="font-size: 180%">{{ agesGoal }}</span><br><span style="font-size: 70%">{{ 'retirement_age' | trans ({}, 'atblueprint') }}</span>');
            {% if behind is not null %}
             $('#status').text('{{ blueprint.AtAgeIndex|number_format(1, '.', '') }} {{ 'years' | trans ({}, 'retirement_needs') }} {{ 'behind' | trans ({}, 'atblueprint') }}');
            {% endif %}
            deleteCircleGraphic('futureOutlook');
        }


    }
</script>
{% if myprofile is defined %}
<div style="width: 100%; height: 10px; border-bottom: 2px solid rgb(110, 110, 110); text-align: center">
          <span style="font-size: 15px; background-color: #ffffff; padding: 0 10px;">
{% endif %}
{{ 'view_retirement_outlook_by' | trans ({}, 'atblueprint') }}:
    <span id="income-btn" class="btn-selected" onclick ="incomeButton()">{{ 'income' | trans ({}, 'atblueprint') }}</span><span id="age-btn" class="btn-unselected" onclick ="ageButton()">{{ 'age' | trans ({}, 'atblueprint') }}</span>

<br><br>


{% if myprofile is defined %}
    </span>
</div>
<br><br>
{% endif %}

<div class="row" {% if myprofile is defined %}style="text-align: center"{% endif %}>
    <div class="col-sm-12 col-md-6">
        <div class="col-sm-12">
            <strong>{{ 'your_retirement_goals_2' | trans ({}, 'atblueprint') | upper}}</strong>
        </div>
        <div class="col-sm-12 line">
            {% include 'SpeAppBundle:Template:ATBlueprint/outlook/donutchart.html.twig' with {'containername' : 'retirementGoal',
            'progress' : 0, 'secondaryProgress' : 0, 'color' : 'green', 'secondaryColor' : colors['green'], 'upper' : '<span style="font-size: 165%">$' ~ (incomeNeeded|number_format(0, '.', ',')) ~ '</span><br><span style="font-size: 70%">' ~ 'per_month' | trans ({}, 'widget') ~ '</span>'} %}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="col-sm-12">
            <strong>{{ 'your_retirement_outlook' | trans ({}, 'atblueprint') | upper}}</strong>
        </div>
        <div class="col-sm-12">
            {% if behind is not null %}
                {% include 'SpeAppBundle:Template:ATBlueprint/outlook/donutchart.html.twig' with {'containername' : 'futureOutlook',
                'progress' : percentage, 'secondaryProgress' : outlookSecondary, 'color' : color, 'secondaryColor' : colors[color], 'upper' : '<span style="font-size: 165%; ">$' ~ outlook.currentPerMonth|number_format(0, '.', ',') ~ '</span><br><span style="font-size: 70%">' ~ 'per_month' | trans ({}, 'widget') ~ '</span>', 'currentProgress': currentProgress} %}
            {% else %}
                {% include 'SpeAppBundle:Template:ATBlueprint/outlook/donutchart.html.twig' with {'containername' : 'futureOutlook',
                'progress' : 100, 'secondaryProgress' : outlookSecondary, 'color' : 'green', 'secondaryColor' : colors['green'], 'upper' : '<span style="font-size: 165%">$' ~ outlook.currentPerMonth|number_format(0, '.', ',') ~ '</span><br><span style="font-size: 70%">' ~ 'per_month' | trans ({}, 'widget') ~ '</span>', 'currentProgress': currentProgress} %}
            {% endif %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div id="vs-txt"><span class="vs-label">VS.</span></div>
    </div>
    <div class="col-md-6" {% if myprofile is defined %}style ="display:none"{% endif %}>
        {% if behind is not null %}
            <img src="{{ asset('spe/images/global/caution.png') }}" height="16px"/>
            <i id="status"><span>${{ behind|number_format(0, '.', ',') }}/mo</span> {{ 'behind' | trans ({}, 'atblueprint') }}</i>
        {% else %}
            <i id="status"><span>{{ 'on_track_for_retirement' | trans ({}, 'atblueprint')}}</span> </i>
        {% endif %}
        <br>
        <a onclick="showPopup()">{{ 'how_is_this_calculated' | trans ({}, 'atblueprint') }}</a>
    </div>
</div>
{% if myprofile is not defined %}
    <hr style="border-bottom: 1px dotted #000"/>

    <div class="row">
        <div class="col-md-12">
            {% if outlook.improvedOutlook != null and outlook.originalDeferralPercent != outlook.deferralPercent %}
                {{ 'based_on_your_new' | trans ({'%deferralPercent%': outlook.deferralPercent, '%currentPerMonth%': outlook.currentPerMonth|number_format(0, '.', ','), '%agesoutlook%': agesOutlook, '%monthlyRetirementGoal%': incomeNeeded|number_format(0, '.', ','), '%goal%': agesGoal}, 'atblueprint') | raw}}
            {% else %}
                {{ 'based_on_your' | trans ({'%deferralPercent%': outlook.deferralPercent, '%currentPerMonth%': outlook.currentPerMonth|number_format(0, '.', ','), '%agesoutlook%': agesOutlook, '%monthlyRetirementGoal%': incomeNeeded|number_format(0, '.', ','), '%goal%': agesGoal}, 'atblueprint') | raw}}
            {% endif %}

            <br><br>
            {% if outlook.improvedOutlook == 1 %}
                <button type="button" class="btn btn-success btn-custom" onclick="goToImprovePage()">{{ 'improve_your_outlook' | trans ({}, 'atblueprint') }}</button>
            {% endif %}
        </div>
    </div>
    <br>
{% endif %}
