{% extends 'SpeAppBundle:Template:ATBlueprint/outlook/base.html.twig' %}
{% block top %}
    {% if visitedOutlook == false %}
        {% set audioFile = 'AT_audio_0306_ATb'| trans ({}, 'audio') %}
    {% elseif outlook.improvedOutlook != null and outlook.originalDeferralPercent != outlook.deferralPercent %}
        {% set audioFile = 'AT_audio_0306a_ATb'| trans ({}, 'audio') %}
    {% else %}
        {% set audioFile = 'AT_audio_0306b_ATb'| trans ({}, 'audio') %}
    {% endif %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}

    {% include 'SpeAppBundle:Template:ATBlueprint/outlook/mainoutlookinner.html.twig' %}


    <div class="actions" style="position:static;">
        <a class="actionBtn left">
            <span class="center action-button" onclick="personalInformationRequiredPage()">{{ 'update_my_profile' | trans ({}, 'atblueprint') }}</span>
        </a>
        <a class="actionBtn right">
            {% if outlook.improvedOutlook == null %}
                <span class="center action-button" onclick="goToImprovePage()">{{ 'proceed' | trans ({}, 'global') }}</span>
            {% else %}
                {% if app.session.get("common").roth %}
                    <span class="center action-button" onclick="openReminderPopup()">{{ 'accept' | trans ({}, 'global') }}</span>
                {% else %}
                    <span class="center action-button" onclick="saveDeferralChoiceTraditional({{ outlook.deferralPercent }})">{{ 'accept' | trans ({}, 'global') }}</span>
                {% endif %}
            {% endif %}

        </a>
    </div>

{% if not app.session.get("common").roth %}
    <script>
        function saveDeferralChoiceTraditional(deferral)
        {

            $.post( "/atBlueprint/outlook/savedistribution", { 'pretax' : deferral, 'roth' : 0 }).done(function( html )
            {
                $('body').trigger('spe:router:redirect', { to: 'investments', complete : 'blueprint' });
            });

        }
    </script>
{% endif %}

{% endblock %}
