<div>
    <span>{{ 'reminder_popup_content' | trans ({}, 'atblueprint') }}</span>
</div>

<br>
<div id="container-main" style="background-color: #ffffff">
    <div class="actions" style="position:static;float:right">
        <a class="actionBtn right">
            <span class="center action-button" style="float:right" onclick="goToDistributorPage()">{{ 'ok' | trans ({}, 'global') }}</span>
        </a>
    </div>
</div>

<br><br>
