{% set showCustomHeader = true %}
{% extends 'SpeAppBundle:Template:investments/atarchitect/base.html.twig' %}
{% block content %}
    <h1>{% include 'SpeAppBundle:Template:investments/atarchitect/participantname.html.twig' %}</h1>
    <br><br>
    <form id ="disclaimerForm">
        <div class="disclaimer" style="padding: 0;">
            <h1>{{ 'take_advantage' | trans ({}, 'atarchitect') }}</h1>

            <div class="disclaimer-text">
                <p>{{ 'disclaimer' | trans ({}, 'atarchitect') | raw }}</p>
            </div>
        </div>

        <div style="text-align: center;">
            <label style="font-size: 14px">
                {% set buttonidentifier = "#disclaimerButton" %}
                {% set iagreetag = "yes_disclaimer" | trans ({}, 'atarchitect') %}
                {% set iagreechecked = architect.agreement %}
                {% include "SpeAppBundle:Template:iagree/display.html.twig" %}
            </label>
        </div>

        <div class ="actions">
            <a class="actionBtn left">
                <span class="center action-button"  onclick ="goToArchitectPage()" >{{ 'back'| trans ({}, 'global') }}</span>
            </a>
            <a class="actionBtn right">
                <span id="proceedBtn" class="center action-button disabledButton"  onclick ="$('#enableDisclaimerButton').click()" >{{ 'proceed'| trans ({}, 'global') }}</span>
            </a>
        </div>
        <button type ="submit" id ="enableDisclaimerButton" style ="display:none" ></button>
    </form>
<script>
    {% if architect.agreement %}
        enableButton("#proceedBtn");
    {% endif %}

    $( ".check_proceed" ).click(function() {
        if($(this).is(":checked")) {
            enableButton("#proceedBtn");
        } else {
            disableButton("#proceedBtn")
        }
    });

    $( "#disclaimerForm" ).submit(function( event )
    {
        event.preventDefault();
        if (!$( ".check_proceed" ).is(":checked")) {
            return;
        }
        showLoader();
        $.post("/investments/atarchitect/2/saved").done(function (html) {
            goToInvestmentSelectorPage();
        });
    });


</script>
{% endblock %}