{% set showCustomHeader = true %}
{% extends 'SpeAppBundle:Template:investments/atarchitect/base.html.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/customcolors.css') }}">
    {% set audioFile = 'AT_audio_0321_ATa' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
<h1>{% include 'SpeAppBundle:Template:investments/atarchitect/participantname.html.twig' %}</h1>
<br><br><br><br>
<h1>{{ 'take_advantage' | trans ({}, 'atarchitect') }}</h1>
<br><br>
<form id ="enablepageForm">
    <div class="form" data-toggle="buttons">
        <label style="width:70px" class="btn btn-primary">
            <input required value = "1" type="radio" name="enablepageAnswer" id="option1" autocomplete="off"> {{ 'yes'| trans ({}, 'atarchitect') }}!
        </label>
        <strong style="font-size:14px;padding-left: 20px;">{{ 'yes_take_advantage' | trans ({}, 'atarchitect') }}</strong>
        <br><span style="padding-left: 95px;font-size:11px">{{ optInMessage }}</span>
        <br><br>
        <label style="width:70px" class="btn btn-secondary">
            <input required value = "0" type="radio" name="enablepageAnswer" id="option2" autocomplete="off"> {{ 'no'| trans ({}, 'atarchitect') }}
        </label>
        <span style="font-size:14px;padding-left: 20px;">{{ 'no_take_advantage' | trans ({}, 'atarchitect') }}</span>
    </div>
    <button type ="submit" id ="enablepageButton" style ="display:none" ></button>
</form>
<div class ="actions">  
    <a class="actionBtn right">
        <span class="center {% if  architect.takeAdvantage is not null %}action-button{% else %}disabledButton{% endif %}" onclick ="$('#enablepageButton').click()" id ="enablepageProceedButton" >{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
<script>
$( "#enablepageForm" ).submit(function( event ) 
{
    showLoader();
    event.preventDefault();
    $.post( "/investments/atarchitect/1/saved", $("#enablepageForm").serialize()).done(function( html )
    {
        if ($("#enablepageForm").find("input[name=enablepageAnswer]:checked").val() == 1)
        {
            goToThankYouArchitectPage();
        }
        else
        {           
            $('body').trigger('spe:router:redirect','investments');
        }
    });
});    
$( ".form" ).click(function() {
        enableButton("#enablepageProceedButton");
});
</script>
{% endblock %}
        
        
        