{{ 'optout_are_you_sure' | trans ({}, 'atarchitect') }} 
<br/>
<br/>
<button class ="pull-left" onclick ="optout()">{{ 'yes' | trans ({}, 'atarchitect') }}</button>
<button class ="pull-right" onclick ="closeLightBox()">{{ 'no' | trans ({}, 'atarchitect') }}</button>
<br/>
<script>
function optout()
{
    $.post( "/investments/atarchitect/5/saved").done(function( html )
    {
        closeLightBox();
        $('body').trigger('spe:router:redirect','investments');
    });
}
</script>