{% set showCustomHeader = true %}
{% extends 'SpeAppBundle:Template:investments/atarchitect/base.html.twig' %}
{% block content %}
    {% set audioFile = 'AT_audio_0323_ATa' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
{% include 'SpeAppBundle:Template:investments/atarchitect/participantname.html.twig' %}
<div class ="pull-right"><a href  ="javascript:ajaxModal('/investments/atarchitect/5','{{ 'optout' | trans ({}, 'atarchitect') }}')">{{ 'optout' | trans ({}, 'atarchitect') }}</a></div>

<h1>{{ 'rate_of_return_versus' | trans ({}, 'atarchitect') }}</h1>
<p style ="padding-bottom:20px">{{ 'graph_desc' | trans ({}, 'atarchitect') }}</p>

<div class="row" style="padding-bottom:30px">
    <div class="col-md-4"></div>
    <div class="col-md-2" style ="border-right:1px solid rgb(110, 110, 110);border-left:1px solid rgb(110, 110, 110);">
        <div style ="padding-right:2%;float:right">
            <div style ="text-align:left">
                <table>
                    <tr>
                        <td>
                            <div style ="margin-top:4px">
                                <b>{{ 'architect_performance' | trans ({}, 'atarchitect') }}</b>
                            </div>
                        </td>
                        <td>
                            <div class="hr" style ="display:inline-block;width:15px;border-color:#4078D2" ></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 14px" id ="architectGraphPercent0"></span>% {{ 'culmulative_return' | trans ({}, 'atarchitect') }}
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div style ="float:left;padding-left:2%">
            <div style ="text-align:left">
                <table>
                    <tr>
                        <td>
                            <div style ="margin-top:4px">
                                <b>{{ 'age_based_performance' | trans ({}, 'atarchitect') }}</b>
                            </div>
                        </td>
                        <td>
                            <div class="hr" style ="display:inline-block;width:15px; border-color: #417505"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 14px" id ="architectGraphPercent1"></span>% {{ 'culmulative_return' | trans ({}, 'atarchitect') }}
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="btn-group" role="group" aria-label="..." style ="margin-top:-5px">
    <button type="button" class="btn btn-default btn-primary-at reportButton" onclick ="updateGraph('All')">{{ 'all' | trans ({}, 'atarchitect') }}</button>
    <button type="button" class="btn btn-default reportButton" onclick ="updateGraph(1)">1Y</button>
    <button type="button" class="btn btn-default reportButton" onclick ="updateGraph(3)">3Y</button>
    <button type="button" class="btn btn-default reportButton" onclick ="updateGraph('YTD')">{{ 'YTD' | trans ({}, 'atarchitect') }}</button>
</div>


<div style ="margin-top:50px"></div>
<div id ="architectGraphContainer"></div>
<div class ="actions" style="position: static;width: 100%" >
    <a class="actionBtn right">
        <span class="center action-button" onclick ="perfeportProceed()"  >{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
<script>
function updateGraph(time)
{
    $.post( "/investments/atarchitect/4/data", {time:time}).done(function( html )
    {
        $("#architectGraphContainer").html(html);
    });
}
function perfeportProceed()
{
    $.post( "/investments/atarchitect/4/saved").done(function( html )
    {
        $('body').trigger('spe:router:redirect', { to: 'myProfile', complete : 'investments' });
    });
}
$( ".reportButton" ).click(function() 
{
  $( ".reportButton" ).removeClass("btn-primary-at");
  $( this ).addClass("btn-primary-at");
});
updateGraph("All");
</script>
{% endblock %}

