{% set editDocumentUrl = "_settings_documents_edit_document" %}
{% set deleteDocumentUrl = "_settings_documents_delete_document" %}
{% extends 'SharedDocumentsBundle:Default:Search/documentlist.html.twig' %}
