Hello {{ firstName }} {{ lastName }},<br><br>

Account: {{ company }} ({{ partnerid }})
<br/><br/>
{% if oldDetected %}
    The funds associated with {{ name}} ({{planid}}) have changed and advice has been disabled. Here are the list of changes<br><br>
{% else %}
    The funds associated with {{ name}} ({{planid}}) have changed. Here are the list of changes <br><br>
{% endif %}

New:<br>
{% for item in new %}
    <b>{{ item }}</b><br>
{% endfor %}

<br>Old:<br>
{% for item in old %}
    <b>{{ item }}</b><br>
{% endfor %}

