{% block content %}

<form id="allocateForm">
	<input type="hidden" name="maxMatch" value="{{ data.maxMatch }}" />

  <h2>{{ 'allocate_contribution' | trans ({}, 'widget') }}<span class="data_maxMatch"></span>%</h2>

  <div id="slider">

    <div id="allocate_pretax" class="allocate-val">
      <h5>
        {{ 'pretax' | trans ({}, 'widget') }}
        <i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="white" data-content="{{ 'tooltip_pretax' | trans ({}, 'widget') }}" data-shift="0"></i>
      </h5>
      <h1 class="rev">
        <output></output>%
      </h1>
    </div>

    <div id="allocate_slider"></div>

    <div id="allocate_roth" class="allocate-val">
      <h5>
        {{ 'roth' | trans ({}, 'widget') }}
        <i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="white" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0"></i>
      </h5>
      <h1 class="rev">
        <output>0.00</output>%
      </h1>
    </div>

  </div>

  <button id="connected" type="button" class="color-primary">{{ 'ready_to_maximize_retirement' | trans ({}, 'widget') }}</button>

  <button id="" type="button" class="transparent"><span id="close">{{ 'close_msg' | trans({}, 'widget') }}</span></button>

</form>

{% endblock %}
