{% block content %}

<h1>{{ 'thankyou_msg' | trans ({}, 'widget') }}</h1>
<h3>{{ 'email_text_msg' | trans ({}, 'widget') }}</h3>
<button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>

{% endblock %}
