{% block content %}

<h1>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h1>
<h3>{{ 'we_encountered_an_error_while_processing' | trans ({}, 'widget') }}<br />{{ 'please_try_again_later' | trans ({}, 'widget') }}</h3>
<button class="button return"><span id="close_msg">{{ 'close_msg' | trans ({}, 'widget') }}</span></button>

{% endblock %}
