
{% block content %}

  <h3 class="label">{{ 'employer_match' | trans ({}, 'widget') }}</h3>
  <h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
  <div class="figure">
    <sup>$</sup>
    <span class ="data_currentYTDMatch"></span>
  </div>

{% endblock %}
