{% block content %}

<h1>{{ 'hi' | trans ({}, 'widget') }} <span class ="data_firstName"></span>,</h1>
                              <h3 class="color-primary">{{ 'welcome' | trans ({}, 'widget') }}</h3>
{% endblock %}
