
{% block content %}
  <label>{{ 'estimated_maximized_retirement_balance' | trans ({}, 'widget') }}</label>
  <h5>{{ 'at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
  <div class="figure">
    <sup>$</sup>
    <span class="data_projectedIncomeMax"></span>
    <sub>{{ 'total' | trans ({}, 'widget') }}</sub>
  </div>
{% endblock %}
