
{% block content %}

<div id ="endPowerview" style ="display:none;margin-top:-100px;">
<form id ="redirectForm2">
  <h1>{{ 'retirement_account_website' | trans ({}, 'widget') }}</h1>
  <div style ="margin-left:50px">
    <p class="icon-check showme">{{ 'monitor_your_progress' | trans ({}, 'widget') }}</p>
    <p class="icon-check showme">{{ 'make_changes' | trans ({}, 'widget') }}</p>
    <p class="icon-check showme">{{ 'get_valuable_information' | trans ({}, 'widget') }}</p>
  </div>
  <button type="button" class="transparent" onclick ="redirect(true)" style ="margin-top:0px">{{ 'continue' | trans ({}, 'widget') }}</button>
</form>
</div>
{% endblock %}
