{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Survey' })) }}

<h2>{{ surveyEmployer.employerName }}</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#planModal" data-modal-label="Add Plan" data-href="{{ path('_manage_survey_addPlan', {'employerId': surveyEmployer.id}) }}">Add</button>
<div class="table-responsive" style="margin-top:20px;">
    <table id="surveyEmployerPlansTable" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Plan</th>
                <th>County</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% import 'ManageManageBundle:Survey:macros.html.twig' as macros %}
{{ macros.modal('planModal', 'planSubmitButton', false) }}
<script>
    var dataTable = $('#surveyEmployerPlansTable').DataTable( 
    {
        "processing": true,
        "serverSide": true,
        "ajax": "{{ path('_manage_survey_searchPlans', {'employerId': surveyEmployer.id}) }}",
        "columnDefs": [
            { "searchable": false, "orderable": false, "targets": [5] }
        ],
        "language": 
        { 
            "processing": '<img src="{{ asset('images/load-icon.gif') }}" />' 
        }
    });
    
    
    function savePlan(event) {
        event.preventDefault();
        $.post('{{ path('_manage_survey_savePlan') }}', $('#surveyEmployerPlanForm').serialize(), function() {
            $('#planModal').modal('hide');
            dataTable.ajax.reload(null, false);
        });
    }
    
    function deletePlan(id) {
        if (confirm("Are you sure you want to delete this?")) {
            $.post('{{ path('_manage_survey_deletePlan') }}', {planId: id}, function() {
                dataTable.ajax.reload(null, false);
            });
        }
    }
    
    $(document).on('click', '#planSubmitButton', savePlan);
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}