{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ plan.id }},
	"{{ plan.name}}",
	"{{ plan.partnerid }}",
        "{{ plan.planid }}",
        "<span class =\"glyphicon glyphicon-dashboard\" onclick = \"viewStats({{ plan.id }},'html')\"></span> <span class = \"glyphicon glyphicon-list-alt\" onclick = \"viewStats({{ plan.id }},'csv')\"  ></span> <span class = \"glyphicon glyphicon-file\" onclick = \"viewStats({{ plan.id }},'pdf')\"></span>  <span class = \"glyphicon glyphicon-envelope\" onclick = \"viewStats({{ plan.id }},'emailForm')\"></span>"
]
{% endfor %}
