{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% set tablename = table %}
{% set header = "<th>Id</th><th>Name</th><th>Actions</th>" %}
{% set template =  'ManageManageBundle:Outreach:Messages/Search/messages.html.twig' %}
{% set types = "a.id,a.title" %}
{% set unsearchableArray = [2] %}


<button type ="button" class ="btn btn-info" onclick = "addMessage('{{ table }}')" >Add {{ tableLabel }}</button>
<br/><br/>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function addMessage(table)
{
    ajaxModal('{{ path('_manage_outreach_messages_add') }}?table={{table}}','Add {{tableLabel }}');
}
function reloadMessageList()
{
    closeLightBox();
    {{ table }}Table.fnDraw(false);
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}