{% set pagename = "Contact" %}
{% extends 'SharedContactBundle:Default:index.html.twig' %}

    
{% block usedefault %}
{% if writeable %}
<div   onclick = "useDefaultContact()" class="well" style = "cursor:pointer">
	<span class = "glyphicon glyphicon-ok"></span> Use Default Contact Information 
</div>  
{% endif %}
{% endblock %}


 {% block extrafields %}
 <input type = "text" name = "id" value = "{{ planid }}" id = "id" style = "display:none" readonly = "true" />
 {% endblock %}


{% block javascriptVariables %}
var table = "plans";
var findby = "id";
{% endblock %}

{% block javascript %}
{{ include ("PlansPlansBundle:Contact:javascript/index.js.twig") }}
{% endblock %}