<script>
    turnOnCustomHeader('<span style ="font-size:14px">AT<span style ="color:#e8e8e8">Blueprint</span></span></span>',"#445B6D");

    function updatePersonalInformation(html)
    {
        $("#americanTrustContainer").replaceWith(html);
        hideLoader();
    }

    function savePersonalInformationRequired() {
        showLoader();
        var serializedArray = $('#required-form').serializeArray();
        var serialized = $('input:checkbox').map(function() {
            return { name: this.name, value: this.checked ? this.value : "false" };
        });
        serializedArray.push(serialized[0]);
        $.post( "/atBlueprint/personalInfo/save", { table: 'ATBlueprintPersonalInformation', fields: serializedArray }).done(function( html )
        {
            personalInformationBridgePage();
        });
    }

    function savePersonalInformationMeasurement() {
        showLoader();
        $.post( "/atBlueprint/personalInfo/save", { table: 'ATBlueprintPersonalInformation', fields: $('#measurement-form').serializeArray() }).done(function( html )
        {
            personalInformationBridgePage();
        });

    }

    function personalInformationRequiredPage()
    {
        showLoader();
        $.post( "/atBlueprint/personalInfo/required", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function personalInformationBridgePage()
    {
        showLoader();
        $.post( "/atBlueprint/personalInfo/bridge", { }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function personalInformationMeasurementsPage()
    {
        showLoader();
        $.post( "/atBlueprint/personalInfo/measurements", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function personalInformationOtherAccountsPage(playAudio)
    {
        showLoader();
        $.post( "/atBlueprint/personalInfo/otheraccounts", { playAudio: playAudio }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function personalInformationOtherRetirementIncome(playAudio)
    {
        showLoader();
        $.post( "/atBlueprint/personalInfo/otherRetirementIncome", { playAudio: playAudio }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function goToImprovePage()
    {
        showLoader();
        $.post( "/atBlueprint/outlook/improve", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function goToMainPage()
    {
        $.post( "/atBlueprint/outlook/main", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });
    }

    function saveNewOutlook()
    {
        showLoader();
        var selectedPanel = $('.selected-panel');
        var percentage = 0;
        if (selectedPanel.length > 0) {
            var res = selectedPanel.attr('id').split("percent");
            percentage = res[0];

        } else {
            percentage = $("#custom-deferral").val();
        }
        $.post( "/transactDeferral", { 'percentage' : percentage }).done(function( html )
        {
            $.post( "/atBlueprint/outlook/saveoutlook", {}).done(function( html )
            {
                goToMainPage();
            });
        });

    }

    function openReminderPopup() {
        ajaxModal('/atBlueprint/outlook/reminderpopup', '{{ 'reminder_popup_heading' | trans ({}, 'atblueprint') }}', 'medium');
    }

    function goToDistributorPage()
    {
        showLoader();
        $("#ajaxModule").modal("hide");
        $.post( "/atBlueprint/outlook/distributor", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function showPopup() {
        ajaxModal('/atBlueprint/outlook/popup', '{{ 'calculations_assumptions' | trans ({}, 'atblueprint') }}', 'large');
    }

    function loadingScreen()
    {
        showLoader();
        $.post( "/loadingScreen", { loadingTitle: "{{ 'just_a_moment' | trans ({}, 'atblueprint') }}" }).done(function( html )
        {
            updatePersonalInformation(html);
            setTimeout(function(){
                goToMainPage();
            }, 2000);


        });
        $('.loading-block').remove();
    }

    function goToArchitectPage()
    {
        showLoader();
        $.post( "/investments/atarchitect/1", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function goToThankYouArchitectPage()
    {

        $.post( "/investments/atarchitect/2", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function goToInvestmentSelectorPage()
    {
        showLoader();
        $.post( "/investments/atarchitect/3", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

    }

    function goToArchitectStats()
    {
        showLoader();
        $.post( "/investments/atarchitect/4", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });
    }

    $('.btn-custom').click(function() {
        showLoader();
    });


</script>
