<div id ="americanTrustContainer">


</div>

{% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}

<script>

        $.post( "{{ path }}", {  }).done(function( html )
        {
            updatePersonalInformation(html);
        });

</script>
