{% if type == "dollar"  and value != "N/A" %}
{% set value = "$"~value | number_format %}
{% endif %}
{% if type == "percent"  and value != "N/A" %}
{% set value = value~"%" %}
{% endif %}
<label>{{ title }}</label> <span style = "width:240px;">{{ value }}</span>
