<ul class="list-inline">
    <li><a data-toggle="modal" href="#employerModal" data-modal-label="Edit Employer" data-href="{{ path('_manage_survey_editEmployer', {'employerId': employer.id }) }}">Edit</a></li>
    <li><a href="javascript:deleteEmployer({{ employer.id }})">Delete</a></li>
    <li><a href="{{ path('_manage_survey_plans', {'employerId': employer.id}) }}">Plans</a></li>
</ul>