<form action="" method="POST" id="surveyEmployerForm" onsubmit="return false;">
    <input type="hidden" name="id" value="{{ employer.id }}">
    <input type="hidden" name="action" value="{{ app.request.attributes.get('_route') == '_manage_survey_addEmployer' ? 'add' : 'edit' }}">
    {% if employer.employerGroupsTableId is not null %}<input type="hidden" name="employerGroupsTableId" value="{{ employer.employerGroupsTableId }}">{% endif %}
    <div class="form-group">
        <label for="employerName">Name</label>
        <input type="text" class="form-control" id="employerName" name="employerName" value="{{ employer.employerName }}">
    </div>
</form>