{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Survey' })) }}

<h2>{{ surveyEmployerGroup.groupName }}</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employerModal" data-modal-label="Add Employer" data-href="{{ path('_manage_survey_addEmployer', {'groupId': surveyEmployerGroup.id}) }}">Add</button>
<div class="table-responsive" style="margin-top:20px;">
    <table id="surveyEmployersTable" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% import 'ManageManageBundle:Survey:macros.html.twig' as macros %}
{{ macros.modal('employerModal', 'employerSubmitButton', false) }}
<script>
    var dataTable = $('#surveyEmployersTable').DataTable( 
    {
        "processing": true,
        "serverSide": true,
        "ajax": "{{ path('_manage_survey_searchEmployers', {'groupId': surveyEmployerGroup.id}) }}",
        "columnDefs": [
            { "searchable": false, "orderable": false, "targets": [2] }
        ],
        "language": 
        { 
            "processing": '<img src="{{ asset('images/load-icon.gif') }}" />' 
        }
    });
    
    function saveEmployer(event) {
        event.preventDefault();
        $.post('{{ path('_manage_survey_saveEmployer') }}', $('#surveyEmployerForm').serialize(), function() {
            $('#employerModal').modal('hide');
            dataTable.ajax.reload(null, false);
        });
    }
    
    function deleteEmployer(id) {
        if (confirm("Are you sure you want to delete this?")) {
            $.post('{{ path('_manage_survey_deleteEmployer') }}', {employerId: id}, function() {
                dataTable.ajax.reload(null, false);
            });
        }
    }
    
    $(document).on('click', '#employerSubmitButton', saveEmployer);
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}