<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{{ 'powerview_title' | trans ({}, 'widgets') }}{% endblock %}</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
{% endblock %}
</head>

<body>

  {{ include('WidgetsBundle:Default:redirectForm.html.twig') }}

  <div id="vwise_powerview" class="{{ data.lang }}">

    {% block upper %}
      <div id="veil"></div>
    	<div class="close return"><span class="mobile">{{ 'close_msg' | trans ({}, 'widget') }}</span>&nbsp;</div>
      {{ include('WidgetsBundle:Default:languageForm.html.twig') }}
    {% endblock %}

    {% block header %}
    	<div class="header">
    		<h2><span class ="data_firstName">{{ data.firstName }}</span> <span class ="data_lastName">{{ data.lastName }}</span></h2>
    		<h5><span class ="data_planName">{{ data.planName }}</span></h5>
    		<div class="clear"></div>
    	</div>
    {% endblock %}

    <div id="{% block contentID %}{% endblock %}" class="container hold">
      {% block videoContent %}{% endblock %}

      {% block salaryForm %}
        <section id="salary-confirmation" class="full-background bg-primary no-video">
          <article class="col single rev">
            {{ include('WidgetsBundle:Default:salaryForm.html.twig') }}
          </article>
        </section>
      {% endblock %}

      {% block slideContainer %}{% endblock %}

      {% block confirmation %}{% endblock %}

      {{ include('WidgetsBundle:Default:spinner.html.twig')}}
    </div>

    {% block footerContent %}{% endblock %}

  </div>



  {% block common %}

  	<div id="error-message" class="bg-secondary">
  		<div class="message-container center">
        <h2>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h2>
    		<p>{{ 'please_refresh' | trans ({}, 'widget') }}</p>
    		<button id="refresh" class="button transparent">{{ 'refresh_msg' | trans ({}, 'widget') }}</button>
  		</div>
  	</div>

  	<div id="loading" class="bg-primary">
  		<div class="message-container spinner">
        <img src="/w/img/loading.svg" alt="{{ 'one_moment_msg' | trans ({}, 'widget') }}" />
  			<p>{{ 'moment_msg' | trans ({}, 'widget') }}</p>
  		</div>
  	</div>

  {% endblock %}



  {% block scripts %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js?time={{ date().timestamp }}"></script>
  {% endblock %}



</body>
</html>
