{% extends 'WidgetsBundle:PowerViewBase:mobile.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('w/css/powerview-mobile-2.css') }}" />
    <link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
{% endblock %}

{% block contentID %}powerview{% endblock %}

{% block slides %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:introWithoutMax.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:balance.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:contribution.html.twig') }}
	{% if hasMatching %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:emp_match.html.twig') }}
	{% endif %}
{% endblock %}

{% block confirmation %}
    {{ include('WidgetsBundle:PowerViewMobileSlides:confirmationManual.html.twig') }}
    {{ include('WidgetsBundle:PowerViewMobileSlides:confirmationError.html.twig') }}
    <section id="ctaContent" style="display:none;"></section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        
        function onSliderNext() {
            $(".flexslider").hide().find('.nav').hide();
            $('#spinner').fadeIn();
            $("#ctaContent").hide().load('{{ path('_widgets_offTheBench_startSaving') }}',function(){
                $("#spinner").hide();
                $(this).fadeIn(500);
            });
        }
        
        $(document).on("click", ".flexslider .flex-next", function(event) {
            var slider = $('.flexslider').data('flexslider');
            if (slider.currentSlide !== slider.count - 1) {
                $('.flexslider').flexslider('next');
            }
            else {
                onSliderNext();
            }
            return false;
        });
        
        $(document).on("click", ".flexslider .flex-prev", function() {
            $('.flexslider').flexslider('prev');
            return false;
        });
        
        
        $('.flexslider').flexslider({
            animation: "slide",
            selector: ".slides > .slide",
            animationLoop: false,
            slideshow: false,
            controlNav: false,
            directionNav: false,
            keyboard: false,
            after: function (slider) {
                if (slider.currentSlide !== 0) {
                    $('.nav').removeClass('lonely');
                    $('.nav h5').hide();
                    $('#prev-button').fadeIn();
                }
                if (slider.currentSlide === 0) {
                    $('.nav').addClass('lonely');
                    $('.nav h5').show();
                    $('#prev-button').fadeOut();
                }
                
                $('.flexslider .flex-active-slide .odometer').each(function () {
                    var number = $(this).data('odo-end');
                    var subWidth = $(this).next('sub').width();
                    var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
                    $(this).animateNumber({
                        number: number,
                        numberStep: comma_separator_number_step
                    }, 1500);
                    if (number >= '1000000' || (number >= '10000' && subWidth >= '98') || (number >= '1000' && subWidth >= '100')) {
                        $(this).next('sub').addClass('split');
                        $(this).parent('.figure').css('height', '24vw');
                    }
                });
            },
            before: function(slider) {
                if (slider.currentSlide === slider.count - 1 && slider.direction === 'next') {
                    onSliderNext();
                }
            },
            start: function () {
                $('#prev-button').fadeOut();
                $('.nav h5').fadeIn();
                $('.nav').fadeIn();
            }
        });


        $(document).ready(function(){
            startWidget();

            /* CTA Button Actions */

            $(document).on('click', '#manual', function(){
                $('.flexslider, #prev-button, #next-button, #ctaContent').fadeOut();
                $('#spinner').fadeIn();
                setTimeout(function(){
                    $('#spinner').hide();
                    $('.confirmation.manual').fadeIn(1000);
                },3000);
            });
        });

    </script>
    
{% endblock %}

