<article id="" class="animate rev center confirmation col wide single">
    <div class="widget-text" style="min-height:50vw;text-align:left;">{{ 'it_looks_like_you_arent' | trans ({}, 'widget') }}</div>
    <button id="startSavingButton" type="button" class="color-primary button">{{ 'start_saving' | trans({}, 'widget') }}</button>
</article>
    
<script>
    
$(document).on("click", "#startSavingButton", function() {
    $("#spinner").fadeIn();
    $("#ctaContent").hide().load('{{ path('_widgets_offTheBench_selectContribution') }}',function(){
        $("#spinner").hide();
        $(this).fadeIn(500);
    });          
});
//# sourceURL=startSaving.html.twig     
</script>