<script>
function editOutreach()
{
  var participantLoginWebsiteAddress = encodeURIComponent($("#participantLoginWebsiteAddress").val());

  var querystring = "id={{ templateid }}&participantloginwebsiteaddress=" + participantLoginWebsiteAddress ;

  var page = "{{ path('_plans_outreach_edit') }}";

  
  
  $.post(page, querystring).done(function(data) 
  {
  	
  });

}

</script>