<script>
function updateYoutubePlayer()
{
  var page = '{{ path('_plans_outreach_update_youtube_player') }}';
  var querystring = "";

  $.post(page, querystring).done(function(data) 
  {
    if ($('#youtubePlayer').val() == 'on')
    {
      $('#youtubePlayer').val('off');
      $('#youtubePlayer').attr('class','btn btn-danger');
    }
    else 
    {
      $('#youtubePlayer').val('on');
      $('#youtubePlayer').attr('class','btn btn-success');
    }
  });
}
     </script>