/** Typography Styles
  *
  * Import this file using
  * @import "mobile/partials/typography";
  *
  */

  h1,h2,h3,h4,h5,h6 {
  	margin:0;
  }

  h1 {
  	font-weight:$light;
  	font-size:48px;
  	font-size: 12vw;
  	line-height: 12.25vw;
  }

  h2 {
  	font-weight:$light;
  	font-size:32px;
  	line-height:38px;
  	margin-bottom:25px;
  	font-size: 8vw;
  	line-height: 8.25vw;
  	margin-bottom: 4vw;
  }

  h3 {
  	font-size:28px;
  	font-weight:$normal;
  	font-size: 4.5vw;
  }

  h4 {
  	font-size:24px;
  	letter-spacing:2.3px;
  	font-weight:$light;
  	font-size: 4.25vw;
  	letter-spacing: .25vw;
  }

  h5 {
  	text-transform:uppercase;
  	font-size:12px;
  	letter-spacing:2px;
  	font-weight:$normal;
  	margin-top:20px;
  	font-size: 3.5vw;
  	letter-spacing: .65vw;
  	margin-top: 7vw;
  }

  p {
  	font-size:24px;
  	line-height:28px;
  	font-weight:$light;
  	margin: 5vw 0;
  	font-size: 7.5vw;
  	line-height: 8.25vw;
  }

  p.single {
  	margin-top: 0;
  }

  a,
  a:hover {
  	text-decoration: none;
  }

  small {
  	text-align:left;
  	color:$primary-lt;

    &.sms-rates {
    	text-align: center;
    	display: block;
    	font-weight: 200;
      font-size: 3.5vw;
    }

  }

  sub {
  	font-size: 4.5vw;
  	vertical-align: baseline;
  	font-weight: 300;
  	letter-spacing: normal;
  }

  .smaller {
  	font-size: 1.4em;
  	line-height: 1.25em;
  }

  [class^="icon-"] {
  	padding-left: 4vw;
  	margin-bottom: 2vw;
  	line-height: 3vw;
  	text-align: left;
  	background-size: contain;
  	background-repeat: no-repeat;
  	font-size: 2.5vw;
  	font-weight: $light;
  }

  p[class^="icon-"] {
  	padding-left: 9vw;
  	line-height: 7.5vw;
  	text-align: left;
  	font-size: 6vw;
  	font-weight: 300;
  	margin-bottom: 2.5vw;
  	background-size:6vw;
  	background-position:left .5vw;
  }


  .icon-progress {
    background-image: url('/w/img/icon-progress.svg');
  }
  .icon-changes {
    background-image: url('/w/img/icon-changes.svg');
  }
  .icon-info {
    background-image: url('/w/img/icon-info.svg');
  }
  .icon-check {
    background-image: url('/w/img/icon-check.png');
  }
