{% for item in items %}
{% if loop.index > 1 %},{% endif %}
{% set dateField = item.date %}
{% set showtime = 1 %}
[{{item.id }},"{{ item.partnerID }}","{{ item.playDuration | number_format(2,'.') }}","{{ item.videoLength | number_format(2,'.')  }}","{{ item.percentageViewed  | number_format(2,'.')  }}%","{{ item.participantID}}","{{ item.videoPlayed }}","{{ item.planProvider }}","{% include ('TemplatesTemplatesBundle:Default:displaydate.html.twig') %}"]
{% endfor %}

