#salary-confirmation input, #salary-confirmation select, #salary-confirmation .dropdown { 
    font-size: 26px;
}

#salary-confirmation .currency-prefix {
	margin-top: 5vw;
}
.nav h5 {
	margin-top: 3vw;
	width: 55%;
}

.confirmation h3 { 
    font-size: 5vw;
}

h2 {
font-size: 6vw;
line-height: 6vw;
	}
