/** PowerView Styles
  * In this file you should write your main styles. (or centralize your imports)
  * Import this file using the following HTML or equivalent:
  * <link href="w/css/powerview.css" media="screen" rel="stylesheet" type="text/css" />
  */
/** Base Styles
  *
  * Inlude your style variables here that will be reused throughout the widget(s).
  *
  * Import this file using
  * @import "partials/base";
  *
  */
/** Layout Styles
  *
  * Import this file using
  * @import "partials/layout";
  *
  */
* {
  box-sizing: border-box; }

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #666;
  padding-bottom: 30px; }

.clear {
  clear: both; }

.center {
  text-align: center; }

#veil {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #f5f5f5; }

.close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  background: url("/w/img/close.svg") center right no-repeat;
  background-size: contain;
  padding-right: 3vw;
  line-height: 2vw;
  font-size: 1.2vw;
  color: #444;
  letter-spacing: .4vw;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1000; }
  .close .mobile {
    display: none; }

.header {
  margin: 20px 0 20px 10vw;
  color: #444; }
  .header h5 {
    font-weight: 400; }

.container {
  margin: 0 auto;
  position: relative;
  width: 80vw;
  height: 45vw;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }

#error-message,
#loading,
#spinner {
  display: none; }

/* Typography
 *
 * Import this file using
 * @import "partials/typography";
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300; }

h1 {
  font-weight: 300;
  font-size: 4vw; }

h2 {
  font-weight: 300;
  font-size: 2.8vw; }

h3 {
  font-size: 2vw;
  font-weight: 400; }

h3.label {
  text-transform: uppercase;
  letter-spacing: .4vw;
  font-size: 1.6vw;
  font-weight: 700; }

h4 {
  font-size: 1.6vw;
  line-height: 1.6vw;
  text-transform: uppercase; }

h5 {
  text-transform: uppercase;
  font-size: 1.2vw;
  letter-spacing: 0.16vw;
  font-weight: 400;
  margin: .8vw auto; }

a,
a:hover,
a:visited {
  text-decoration: none; }

small {
  text-align: left;
  color: #9a9a9a;
  display: block;
  margin: 30px auto;
  font-size: 1.4vw;
  width: 70vw; }

small.sms-rates {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 1vw;
  width: 100%;
  font-weight: 100;
  bottom: 1vw; }

[class^="icon-"] {
  padding-left: 4vw;
  margin-bottom: 2vw;
  line-height: 3vw;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2.5vw;
  font-weight: 300; }

.icon-progress {
  background-image: url("/w/img/icon-progress.svg"); }

.icon-changes {
  background-image: url("/w/img/icon-changes.svg"); }

.icon-info {
  background-image: url("/w/img/icon-info.svg"); }

.icon-check {
  background-image: url("/w/img/icon-check.svg"); }

.video-container::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  z-index: 2;
  display: block;
  position: absolute;
  left: 50%; }

video {
  position: absolute;
  width: 100%;
  height: auto;
  left: -25%; }

.container.hold .video-controls {
  display: none !important; }

.video-controls.show {
  bottom: 0;
  transition: bottom .5s; }

.video-controls {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5vw;
  background: rgba(68, 68, 68, 0.75);
  height: 5vw;
  line-height: 5vw;
  margin: 0;
  padding: 0 2.5vw;
  z-index: 20;
  overflow: hidden;
  transition: bottom .5s; }
  .video-controls .play {
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1.25vw;
    background-image: url("/w/img/play.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .video-controls .pause {
    width: 2.5vw;
    height: 2.5vw;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1.25vw;
    background-image: url("/w/img/pause.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .video-controls input[name=seek],
  .video-controls .progress-bar {
    height: 2.5vw;
    display: inline-block;
    width: 63vw;
    background-color: rgba(255, 255, 255, 0);
    vertical-align: middle;
    margin-left: 4vw;
    cursor: pointer;
    z-index: 10; }
  .video-controls #seekBar,
  .video-controls #progressBar {
    opacity: 0; }
  .video-controls .progress-bar {
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
    height: .25vw;
    background-color: #9a9a9a;
    border-radius: .25vw; }
  .video-controls .progress-value {
    display: block;
    height: .25vw;
    width: 0;
    opacity: .8;
    border-radius: .25vw;
    transition: width .5s; }
  .video-controls .indicator {
    width: 6vw;
    position: absolute;
    top: 0;
    right: 2.5vw;
    color: #fff;
    font-weight: 300;
    font-size: 1.25vw; }

/** Slide Styles
  *
  * Import this file using
  * @import "partials/slides";
  *
  */
/* --- Sections (aka Pages or Slides) --- */
section {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: left 1s, top 1s, opacity 1s;
  z-index: 10; }
  section * {
    position: relative; }
  section article {
    position: absolute; }
  section.half-background {
    width: 50%;
    left: 50%; }
    section.half-background article {
      width: 80%;
      transform: translateX(-50%); }
  section.full-background {
    width: 100%;
    height: 100%;
    left: 0; }
  section.rev {
    color: #fff; }
    section.rev .container-onscreen {
      left: 56%;
      width: 44%; }
  section.veil {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000; }
    section.veil article {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      background: transparent; }
      section.veil article button {
        margin: 2vw auto; }
      section.veil article img {
        animation: spin 1s infinite linear;
        -ms-animation: spin 1s infinite linear;
        -moz-animation: spin 1s infinite linear;
        -webkit-animation: spin 1s infinite linear; }

/* --- Section Content (aka articles) --- */
article {
  z-index: 15;
  left: 50%;
  top: 20%;
  width: 50%;
  transition: left 1s, top 1s, opacity 1s; }
  article.col {
    display: inline-block;
    width: 42%;
    margin: 0 auto; }
    article.col.compact {
      width: 38%; }
    article.col.wide {
      width: 60%;
      width: 70%; }
    article.col.single {
      left: 29%; }
      article.col.single.wide {
        left: 20%;
        left: 15%; }
    article.col.left {
      left: 4%; }
      article.col.left.compact {
        left: 12%; }
    article.col.right {
      left: 54%; }
  article.top {
    top: 15%; }
  article.bottom {
    top: 55%; }
  article.full-background {
    width: 100%;
    left: 0; }
  article.vertical-center {
    transform: translateY(50%); }

/* Transitions */
section.out-left,
article.out-left {
  left: -101%;
  opacity: 0; }
section.out-right,
article.out-right {
  left: 101%;
  opacity: 0; }
section.short-right,
article.short-right {
  left: 10%;
  opacity: 0; }
section.fade-out,
article.fade-out {
  opacity: 0; }
section.out-left, section.out-right, section.short-right, section.fade-out,
article.out-left,
article.out-right,
article.short-right,
article.fade-out {
  z-index: 5; }

.no-transition {
  transition-property: none !important; }

/* Slide-Specific Styling (Positioning) */
#projections h5.color-primary {
  color: #fff; }

/* Salary Confirmation Form Styles
 *
 * Import this file using
 * @import "partials/salaryForm";
 */
#salary-confirmation {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 4%; }
  #salary-confirmation article {
    top: 5%;
    width: 50%;
    left: 25%; }
  #salary-confirmation #salaryForm {
    transform: scale(0.85); }
  #salary-confirmation h5 {
    margin-top: 2.5vw; }
  #salary-confirmation label,
  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    display: block;
    width: 100%; }
  #salary-confirmation input,
  #salary-confirmation select,
  #salary-confirmation .dropdown {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 0.6vw 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.4vw;
    height: 7vw;
    font-size: 3.6vw;
    color: #9b9b9b;
    font-weight: 100;
    border: none;
    background: #fff;
    outline: none; }
  #salary-confirmation input {
    padding-left: 4vw; }
  #salary-confirmation select {
    background: #fff;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */ }
  #salary-confirmation .dropdown {
    background-image: url("/w/img/select-arrow.svg");
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: 96% center;
    z-index: 1; }
    #salary-confirmation .dropdown > select {
      background: transparent;
      padding-left: 2vw; }
  #salary-confirmation .currency-prefix {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    color: #9b9b9b;
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-size: 2.4vw;
    font-weight: 100;
    z-index: 1; }
  #salary-confirmation button {
    width: 60%;
    line-height: 6vw;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    font-size: 1.4vw;
    margin: 4vw auto;
    display: block; }
    #salary-confirmation button:hover {
      color: #019EE3;
      background: #fff; }

/** Language Selector Styles
	*
	* Import this file using
	* @import "modules/languageSelector";
	*
	*/
#languageSelect {
  opacity: .75;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 2.5vw;
  right: 11vw;
  z-index: 1000;
  width: 9vw; }
  #languageSelect:hover, #languageSelect.open {
    opacity: 1;
    cursor: pointer; }
  #languageSelect.open .menu .currentLanguage span {
    transform: rotate(180deg);
    background-position: center;
    transition: transform .25s, background-position .25s; }
  #languageSelect .menu {
    text-align: left;
    font-size: 1.15vw;
    padding: 0 .35vw .35vw;
    letter-spacing: .15vw;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; }
    #languageSelect .menu .currentLanguage {
      padding: .35vw;
      border-bottom: 1px solid #fff; }
      #languageSelect .menu .currentLanguage span {
        background-image: url("/w/img/caret.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 1.5vw;
        width: 1.5vw;
        vertical-align: middle;
        float: right;
        display: block;
        transform: rotate(0deg);
        transition: transform .25s; }
    #languageSelect .menu .options {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: rgba(255, 255, 255, 0); }
      #languageSelect .menu .options li {
        padding: .35vw .35vw .35vw .7vw;
        border-bottom: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;
        opacity: .85; }
        #languageSelect .menu .options li:hover {
          opacity: 1; }
        #languageSelect .menu .options li.selected {
          display: none; }
  #languageSelect.dark {
    color: #444;
    top: 4.5vw; }
    #languageSelect.dark .currentLanguage {
      border-bottom: 1px solid #444; }
      #languageSelect.dark .currentLanguage span {
        background-image: url("/w/img/caret-dk.png"); }
    #languageSelect.dark .options li {
      border-bottom: 1px solid #444;
      background-color: #fff;
      color: #444; }

/** Button Styles
  *
  * Import this file using
  * @import "modules/buttons";
  *
  */
button,
.button {
  border-radius: 0.32vw;
  line-height: 4vw;
  font-size: 1.6vw;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  padding: 0 1.6vw;
  font-weight: 700;
  margin: 4vw .4vw;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize; }
  button.color-primary,
  .button.color-primary {
    background: #fff; }
  button.smartplan,
  .button.smartplan {
    margin: 2vw 0 0;
    cursor: pointer;
    border: none;
    padding: 0;
    height: 5vw;
    width: auto; }
button:disabled {
    background: #dddddd;
	color:#AAA;
	border:2px solid #AAA;
}

/** Forms & Input Styles
  *
  * Import this file using
  * @import "modules/forms";
  *
  */
select::-ms-expand {
  display: none; }

input::-ms-tooltip {
  display: none; }

.input-group {
  width: 35%;
  display: inline-block;
  text-align: left;
  margin: 0 5px; }
  .input-group label {
    display: block;
    margin-bottom: .3vw;
    font-size: 1.5vw; }
  .input-group input {
    width: 100%;
    border: 2px solid #fff;
    line-height: 3vw;
    height: 4vw;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0.32vw;
    padding: 0 10px;
    font-size: 1.5vw; }

input.input-error {
  border: 2px solid #ff0000 !important; }

.input-error-message {
  font-size: 1.5vw;
  letter-spacing: .05vw;
  display: none; }
  .input-error-message::before {
    content: "!";
    height: 2vw;
    line-height: 2vw;
    width: 2vw;
    background-color: #ff0000;
    border-radius: 100%;
    margin-right: 1vw;
    font-weight: 700;
    display: inline-block;
    text-align: center; }

/** Figure Styles
  *
  * Import this file using
  * @import "modules/figures";
  *
  */
.figure {
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: .24vw; }
  .figure sup {
    font-size: 2vw;
    padding-top: .16vw; }
  .figure sub {
    font-size: 1.6vw;
    vertical-align: baseline;
    font-weight: 300;
    letter-spacing: normal; }
    .figure sub.contribution-rate {
      font-size: 1.2vw; }

/** Bar Chart Styles
  *
  * Import this file using
  * @import "modules/charts";
  *
  */
.bar_container {
  width: 92%;
  left: 4%;
  height: 5vw;
  margin-bottom: 2vw; }
  .bar_container h5 {
    display: inline-block;
    width: 30%;
    color: #fff;
    margin: 0;
    font-weight: 400;
    height: 5vw;
    vertical-align: middle; }

.es .bar_container:nth-child(2) h5 {
  padding: 1vw 0;
  vertical-align: top; }

.bar {
  display: inline-block;
  width: 68%;
  height: 5vw;
  border-radius: 2px;
  line-height: 5vw;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5); }
  .bar .fill {
    background: #fff;
    height: 100%;
    position: absolute;
    transition: width 1s; }
  .bar.secondary {
    border-top: 0;
    border-color: rgba(255, 255, 255, 0.6); }
    .bar.secondary .fill {
      opacity: .6; }
  .bar .figure {
    font-size: 1.8vw;
    padding: 0 1vw;
    font-weight: 400; }
    .bar .figure sup {
      font-size: 1.5vw; }

/** Panel Styles
  *
  * Import this file using
  * @import "modules/panels";
  *
  */
.panel {
  background: #fff;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.4vw;
  padding: 1.6vw;
  padding-bottom: .8vw;
  position: absolute;
  width: 100%; }
  .panel label {
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 700; }
  .panel .figure {
    font-weight: 400; }
    .panel .figure sub {
      font-weight: 300;
      text-transform: lowercase; }

/** Confirmation & CTA Slide Styles
  *
  * Import this file using
  * @import "modules/cta";
  *
  */
.no-video,
.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  top: 0; }
  .no-video h1,
  .confirmation h1 {
    margin-bottom: 1vw; }
  .no-video h2,
  .confirmation h2 {
    margin-bottom: 2vw; }
  .no-video h3,
  .confirmation h3 {
    margin-bottom: 2vw; }

.confirmation {
  text-align: center;
  z-index: 100; }
  .confirmation .compact {
    width: 80%;
    margin: 0 auto; }

#confirmation {
  display: none; }
  #confirmation > article {
    display: none;
    padding-top: 10%; }
    #confirmation > article.cta {
      padding-top: 7%; }
    #confirmation > article.manual {
      padding-top: 15%; }
    #confirmation > article h3 > span {
      font-weight: 200; }

#cta_allocate {
  width: 90%;
  left: 5%; }
  #cta_allocate #slider {
    margin: 5vw 0 3vw;
    height: 8vw; }
    #cta_allocate #slider .allocate-val {
      display: inline-block;
      width: 12%; }
      #cta_allocate #slider .allocate-val > h5 {
        margin-bottom: 1.55vw;
        margin-top: 0;
        text-align: center; }
        #cta_allocate #slider .allocate-val > h5 > .icon-info {
          padding-left: 1.8vw;
          cursor: pointer;
          position: relative;
          bottom: -1.1vw;
          opacity: .75; }
          #cta_allocate #slider .allocate-val > h5 > .icon-info:hover {
            opacity: 1; }
      #cta_allocate #slider .allocate-val > h1 {
        font-weight: 100;
        font-size: 3.25vw; }
    #cta_allocate #slider #allocate_pretax {
      text-align: right;
      float: left;
      margin-left: 7%;
      margin-right: 3%; }
    #cta_allocate #slider #allocate_roth {
      text-align: left;
      float: right;
      margin-left: 3%;
      margin-right: 7%; }
      #cta_allocate #slider #allocate_roth > h5 > .icon-info {
        margin-right: .75vw; }
    #cta_allocate #slider #allocate_slider {
      width: 50%;
      display: inline-block;
      margin: 4vw 0; }
    #cta_allocate #slider #data_diffDeferral {
      display: none; }

#matchForm h1 {
  font-size: 3vw;
  font-weight: 400; }

#powerview_redirect #cta article:nth-child(1) {
  top: 25%; }
#powerview_redirect #cta article:nth-child(2) {
  top: 40%; }
#powerview_redirect #cta article:nth-child(3) {
  top: 55%; }

#powerview_smartplan #cta h1 {
  max-width: 35vw;
  margin: 0 auto; }
#powerview_smartplan #cta img.smartplan {
  max-height: 5vw;
  margin-bottom: -1vw; }

.es #powerview_redirect #cta .cta:nth-child(3) {
  width: 90%;
  left: 55%; }
.es #cta_allocate #allocate_pretax > h5 {
  white-space: nowrap;
  margin-left: -5vw;
  width: 18vw; }


#allocate_confirm h3 {
  font-size: 2.25vw;
  margin-top: 3vw;
  margin-bottom: 0;
  background: #fff;
  border-radius: .4vw;
  padding: 1.75vw; }
#allocate_confirm .checkbox {
  width: 2.5vw;
  height: 2.5vw;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  margin-right: .75vw; }
  #allocate_confirm .checkbox label {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    border: 1px solid #979797;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: 1; }
  #allocate_confirm .checkbox > input {
    opacity: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 11;
    position: absolute;
    left: -3px;
    top: -3px; }
  #allocate_confirm .checkbox > input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 3px;
    bottom: -3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/w/img/input-checkmark.svg"); }

/** Common Messaging & Screen Styles (loading, error, etc.)
  *
  * Import this file using
  * @import "modules/alerts";
  *
  */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center; }
  .spinner img {
    height: 8vw;
    width: auto;
    animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear; }

#loading,
#error-message,
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000; }

.message-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(255, 255, 255, 0); }
  .message-container button {
    margin: 2vw auto; }

#error-message .message-container {
  width: 65vw; }
#error-message p {
  font-size: 2vw;
  font-weight: 300; }

.tooltip div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #666;
  color: #fff;
  font-size: 1.1vw;
  max-width: 20vw;
  padding: 1vw 1.55vw;
  border-radius: 0.4vw; }
  .tooltip div:after {
    content: '';
    position: absolute;
    width: .15vw;
    height: .15vw;
    border: .5vw solid transparent;
    z-index: 11; }
.tooltip.top div:after {
  left: 50%;
  bottom: -1vw;
  margin-left: -.5vw; }

.noUi-target {
  background: #fff;
  box-shadow: none;
  border: 0.05vw solid #fff;
  height: 1.55vw;
  border-radius: 0; }
  .noUi-target:before, .noUi-target:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: inherit;
    width: 1.55vw;
    height: 1.55vw;
    top: -0.1vw; }
  .noUi-target:before {
    left: -1vw;
    border-radius: 1.55vw 0 0 1.55vw; }
  .noUi-target:after {
    right: -1vw;
    border-radius: 0 1.55vw 1.55vw 0; }

.noUi-handle {
  background-image: url("/w/img/slider-handle.svg");
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.noUi-horizontal .noUi-handle {
  width: 2vw;
  height: 4vw;
  top: -.5vw;
  left: -1vw; }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    display: none; }

.noUi-pips {
  color: #fff; }
  .noUi-pips.noUi-pips-horizontal {
    padding: 0;
    height: 2.5vw;
    top: -1vw; }

.noUi-value {
  display: none; }

.noUi-marker {
  background: #fff; }
  .noUi-marker.noUi-marker-horizontal {
    margin-left: -.05vw;
    border-left: 0.1vw solid #fff;
    width: 0;
    height: 1vw;
    top: 0; }
    .noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
      border-color: #fff;
      opacity: .5;
      height: .45vw;
      top: .5vw; }
    .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
      border-color: #fff;
      border-width: .18vw;
      margin-left: -.09vw; }

.noUi-pips {
  display: none; }

/* --- OffTheBench/Roth CTAs --- */

.widget-title {
    font-weight: 300;
    font-size: 3.5vw;
    line-height:110%;
    margin-bottom:2vw;
}
.widget-text {
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 110%;
    margin-bottom:2vw;
}
.widget-text-narrow {
    max-width:60%;
    margin-left:auto;
    margin-right:auto;
}
.widget-text.widget-text-confirmation {
    margin: 4vw 0;
}
.widget-text.widget-text-increase {
    margin-top:4vw;
    margin-bottom:4vw;
    font-weight:normal;
    font-size: 3.5vw;
}

#contributionDisplay {
    font-weight:300;
    font-size:4vw;
    margin-bottom: 2vw;
}
#projectedMonthlyIncomeMax {
    font-weight: bold;
    font-size: 5vw;
    margin-bottom:2vw;
}

/* --- Overrides --- */


#powerview_1136 video, #powerview_1135 video {
    left: 0; 
}
#powerview_1136 .video-container::before, #powerview_1135 .video-container::before {
    background-color: transparent;
}
#powerview_1136 + small, #powerview_1135 + small {
    width: 80vw;
}

#ctaContent {
    display:none;
}


#ctaContent .noUi-target {
    margin:3vw auto;
    max-width:50%;
    border-style:none;
}

#ctaContent .noUi-target:before, #ctaContent .noUi-target:after {
    top:0;
}

#ctaContent .noUi-pips {
    display: none; 
}

#ctaContent article {
    padding: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:relative;
}

#ctaContent button, #ctaContent .button {
    margin: 0 .4vw;
    border-radius: 1vw;
    min-width:12vw;
}

#ctaContent small.sms-rates {
    font-weight:300;
    font-size:2.5vw;
    margin: 3vw 0;
    position: relative;
}

#ctaContent > article.select-contribution {padding-top:6%;}
#ctaContent > article.select-contribution .widget-title {margin-bottom:6vw;}
#ctaContent > article.connected-thank-you {padding-top:12%;}
#ctaContent > article.cta {padding-top: 7%;}
#ctaContent > article.manual {padding-top: 15%;}
#ctaContent > article.increase-contribution {padding-top:8%;}
#ctaContent > article.allocate-contribution {padding-top:8%;}
#ctaContent > article.allocate_confirm {padding-top:8%;}
#ctaContent #allocate_confirm h3 {background:transparent;}
#ctaContent #allocate_confirm .checkbox label {background: white;border-style: none;box-shadow: none;}
#ctaContent .input-group input {height:5vw;}


