.color-primary {
	color:#019EE3; /* Primary Color */
}

.color-secondary {
	color: #004F71; /* Secondary Color */
}

.bg-primary,
.widgets .vwise button,
#analysis button:hover {
	background:#019EE3; /* Primary Color */
	border-color:#019EE3; /* Primary Color */
	color: #fff;
}

#analysis button {
	border:2px solid;
	color:#019EE3; /* Primary Color */
	background:rgba(1,157,227, .2); /* Primary Color 20% opacity */
}

#analysis button:hover {
	color: #fff;
}

.bg-secondary,
.widgets .vwise button:hover,
.modal.simple button[type=submit]:hover,
#congrats button.confirm:hover {
	background:#004F71; /* Secondary Color */
	color: #fff;
}

#allocate .noUi-target {
	background: #019EE3; /* Primary Color */
}
#allocate .noUi-pips {
	color:#019EE3; /* Primary Color */
}
#allocate .noUi-marker.noUi-marker-horizontal {
	border-color:#019EE3; /* Primary Color */
}