@import url("https://widget.smartplanenterprise.com/w/css/white-label-irio.css");

.wl-no-scroll {
	overflow: hidden !important;
}

.wl-outer {
	height:100%;
	width:100%;
	display: table;
	text-align: center;
}

.wl-inner {
	display:table-cell;
	vertical-align: middle;
	height:100%;
	width:100%;
}

.wl-veil {
	background-color: rgba(0,0,1,0.3);
	display:none;
	height:100%;
	width:100%;
	position: fixed;
	/*z-index:10000;*/
	top:0;
	left:0;
	overflow: hidden;
	/* background-color: #f5f5f5; */
}

.wl-modal {
	position:relative;
	border-radius: 9px;
	box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.20);
	display:inline-block;
	min-height:300px;
	min-width:300px;
	margin:0 auto;
	overflow:hidden;
	width:800px;
	height:600px;
}

@media screen and (max-width: 1220px) {
	.wl-modal {
		margin:50px auto;
	}
}

@media screen and (max-width: 760px) {
	.wl-modal {
		margin:0;
		border-radius:0;
		box-shadow:none;
		width:100%;
	}
}










.widgets {
	width:100%;
	/*margin:50px auto;*/
	text-align:center;
	/* padding:20px; */
}

.widgets > div {
	width:420px;
	height:250px;
	max-width:95%;
	max-height:55vw;
	background:#999;
	display:inline-block;
	overflow:hidden;
	border-radius:4px;
}

.widgets .vwise {
	background:url('https://widget.smartplanenterprise.com/w/img/irio-widget-bg.jpg');
	background-size:cover;
	position:relative;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.widgets .vwise .overlay {
	height:100%;
	width:100%;
	background-image: -moz-linear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	background-image: -webkit-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	background-image: -webkit-linear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	background-image: -olinear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	background-image: -ms-linear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	background-image: linear-gradient(-135deg, rgba(1,158,227,.85) 0%, rgba(0,0,0,.85) 100%);
	position:absolute;
	display:table;
}

.widgets .vwise h2 {
	font-weight: 100;
	font-size: 30px;
	margin: 0;
	color: #FFF;
}

.widgets .vwise .copy {
	position: relative;
	display:table-cell;
	vertical-align: middle;
	padding:0 10%;
}

.widgets .vwise .figure {
	font-weight:200;
	margin:10px auto;
	font-size:36px;
	font-family:'Open Sans', sans-serif;
}

.widgets .vwise .figure sup {
	font-size:.6em;
}

.widgets .vwise h3 {
	margin:0;
}

.widgets .vwise h5 {
	margin:0;
	margin-top:20px;
	font-size: 14px;
	color: #C0ECFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
}

.widgets .vwise button {
	border:none;
	border-radius: 4px;
	color:#fff;
	line-height:40px;
	padding:0 25px;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing:2.4px;
	font-size:10px;
	margin-top:20px;
	cursor: pointer;
}

.wl-iframe-container {
	position: relative;
	height: 100%;
	overflow: auto;
	vertical-align: middle;
}

/* 16x9 Aspect Ratio */
.wl-iframe-container-16x9 {
	padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.wl-iframe-container-4x3 {
	padding-bottom: 75%;
}

.wl-iframe-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

.wl-spinner {
	position: absolute;
	left:50%;
	top:50%;
	height:auto;
	width:auto;
	transform: translate(-50%, -50%);
	z-index: 100;
	text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wl-spinner img {
	height:8vw;
	width:auto;
	animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

.wl-library-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 100;    
}
