
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Settings - Deployment Urls'
    })) }}


        <h3>Deployment Urls</h3>
    
    <ul class="list-group">
    	<li class="list-group-item" >
    		<a href = "{{ path('_settings_deploy_deployment_urls_csv') }}">Download</a>
    	</li>
    </ul>


{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
    
    