{# empty Twig template #}
<div id ="graph1">
    
</div>
<script>
graph1Options = {{ stats.graph1.stringify | raw}};
graph1String = '{{ stats.graph1.stringify | raw}}'; 
var graph1 = $('#graph1').highcharts(graph1Options);
</script>