{% set pagename = "Vads" %}
{% set accountDropDown = 0 %}
{% set statsfile = "ManageManageBundle:Vads:stats.html.twig" %}
{% set previewpath = path('_settings_MediaWidget_preview') %}
{% set savelistpath = path('_settings_MediaWidget_saveMediaList') %}
{% set togglemediapath = path('_manage_vads_save_media_list') %}
{% set statsjsfile =  "ManageManageBundle:Vads:statsjs.html.twig" %}
{% set embedCodeDisplay = "display:none" %}
{% set graphsfile = "ManageManageBundle:Vads:graphs.html.twig" %}
{% set subscribe = false %}
{% set showLeft = 0 %}
{% block presections %}
<a href ="{{ path('_manage_accounts') }}">Return to account list </a><br/><br/>
{% endblock %}
{% set endstring = '"?partnerid=' ~ account.partnerid ~ '&participantid=' ~ session.clientid ~ '&key=" + $("#apiKey").val() + "&format=" + $("#format").val();' %}
{% extends "Shared/Media/index.html.twig" %}



