<div id ="statsMainInfo">
    <h3>Number of Unique Participants<span style = "float:right">{{ stats.numberOfUniqueParticipants }}</span></h3>
    <h3>Number of  Participants<span style = "float:right">{{ stats.numberOfParticipants }}</span></h3>
    <h3>Number of  Unique Movies<span style = "float:right">{{ stats.numberOfUniqueMovies }}</span></h3>
    <h3>Number of  PartnerID<span style = "float:right">{{ stats.numberOfPartnerID }}</span></h3>
    <h3>Number of  Plan Provider<span style = "float:right">{{ stats.numberOfPlanProvider}}</span></h3>
</div>
{% set table = "videoLibStats" %}
{% set tablename = "videoLibStats" %}
{% set template = "AccountAccountBundle:MediaWidget:Search/videolibary.html.twig" %}
{% set types = "a.id,a.partnerID,a.playDuration,a.videoLength,a.percentageViewed,a.participantID,a.videoPlayed,a.planProvider,a.date" %}
{% set findby = "!a.partnerID,!a.partnerID,!a.partnerID" %}
{% set findbyvalues = "michel,kevin,111" %}
{% set extraparameters = ",keys:'" ~ stats.keys ~ "'"%}
{% set customquery = "videoLibStats" %}
{% if stats.startDate is not null and stats.endDate is not null %}

{% set extraparameters = extraparameters  ~ ',startDate:"'~ stats.startDate ~ '",endDate:"' ~ stats.endDate ~ '"' %}
{% endif %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}


<div id = "partnerIdGraph" ></div>
<script>
var partnerIdGraphOptions = {{ stats.partnerIdGraphOptionsStringify | raw}};
var partnerIdGraphString = '{{ stats.partnerIdGraphOptionsStringify | raw}}';

$(function () {
        partnerIdGraph = $('#partnerIdGraph').highcharts(partnerIdGraphOptions);
});
</script>


<div id = "planProviderGraph"></div>
<script>
var planProviderGraphOptions = {{ stats.planProviderGraphOptionsStringify | raw }};
var planProviderGraphString = '{{ stats.planProviderGraphOptionsStringify | raw }}';    
    
$(function () {
        planProviderGraph = $('#planProviderGraph').highcharts(planProviderGraphOptions);
});
</script>
<div id = "videoPlayedGraph"></div>
<script>
var videoPlayedGraphOptions = {{ stats.videoPlayedGraphOptionsStringify | raw }};
var videoPlayedGraphString = '{{ stats.videoPlayedGraphOptionsStringify | raw }}';   

$(function () {
        videoPlayedGraph = $('#videoPlayedGraph').highcharts(videoPlayedGraphOptions);
});
</script>

{% set header2  = "            <th>Video</th>
            <th>Views</th>
            <th>Average Percentaged Viewed</th>
            <th>Popularity Index</th>" %}

<table id ="mostPopularTable" class="table table-striped">
    <thead>
        <tr>
            {{ header2 | raw }}
        </tr>
    </thead>
    <tbody>
        {% for media in stats.mostPopularTable %}
        <tr>
            <td>{{ media.title }}</td>
            <td>{{ media.views }}</td>
            <td>{{ media.percentageViewed |number_format(2,'.') }}%</td>
            <td>{{ media.popularityIndex |number_format(2,'.')  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    

<script>
$(document).ready(function() {
    mostPopularTable = $('#mostPopularTable').dataTable({"order": [[ 3, "desc" ]]});
    //console.log(videoPlayedGraph.getSVG());;
} );
</script>





















