<div class="row">
	<div class="col-md-8">
		<label>Format</label>
	</div>
	<div class="col-md-2">
		<select class = "form-control" style = "width:150px" id = "format" onchange = "generateCode()">
		{% for format in formats %}
		<option value = "{{ format.field }}">{{ format.description }}</option>
		{% endfor %}
		</select>
	</div>
	<div class = "col-md-2">
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-8">
		<label>API Key:</label>
	</div>
	<div class="col-md-2">
		<input class = "form-control" readOnly  style = "width:150px" value = "{{ APIAccount.apiKey }}" id = "apiKey"  />
	</div>
	<div class = "col-md-2">
	</div>
</div>

<br/>
<div class="row">
	<div class="col-md-8">
		<label>Embed Code</label>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2" >
	<span class = "glyphicon glyphicon-collapse-down" style = "float:right;cursor:pointer" onclick= "select_all()"></span><span class = "glyphicon glyphicon-play" style = "float:right;cursor:pointer" onclick = "previewVideo()" ></span>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<textarea style = "resize:none;width:100%;height:200px;background-color:white" id = "embedCode" readOnly   onclick= "select_all()"></textarea>
	</div>
</div>