<div id = "settings">
	<div class="row">
		<div class="col-md-6"  >
			{% include "AccountAccountBundle:MediaWidget:settingsLeft.html.twig" %}
		</div>
		<div class="col-md-6" style = "border-left: 1px solid #ccc;">
			{% include "AccountAccountBundle:MediaWidget:settingsRight.html.twig" %}
		</div>		
	</div>
</div>