<form action="" method="POST" id="surveyEmployerGroupForm" onsubmit="return false;">
    <input type="hidden" name="id" value="{{ surveyEmployerGroup.id }}">
    <input type="hidden" name="action" value="{{ app.request.attributes.get('_route') == '_manage_survey_addGroup' ? 'add' : 'edit' }}">
    <input type="hidden" name="partnerId" value="{{ surveyEmployerGroup.partnerId }}">
    <div class="form-group">
        <label for="groupName">Name</label>
        <input type="text" class="form-control" id="groupName" name="groupName" value="{{ surveyEmployerGroup.groupName }}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" value="{{ surveyEmployerGroup.description }}">
    </div>
    <div class="form-group">
        <label for="parentId">Parent Group</label>
        <select class="form-control" id="parentId" name="parentId">
            <option value="">None</option>
            {% for group in surveyEmployerGroups %}
                <option value="{{ group.id }}" {% if surveyEmployerGroup.parentId == group.id %}selected{% endif %}>{{ group.groupName }}</option>
            {% endfor %}
        </select>
    </div>  
    <div class="checkbox">
        <label>
            <input type="hidden" name="isEmployer" value="0">
            <input type="checkbox" name="isEmployer" value="1" {% if surveyEmployerGroup.isEmployer %}checked{% endif %}> Is Employer
        </label>
    </div>
</form>