{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Survey' })) }}

<label for="partnerid">Partner ID:</label>
<select class="form-control" name="partnerid" id="partnerid" onchange="refreshSurveyEmployerGroups();">
    <option value="">Select...</option>
    {% for account in accounts %}
        <option value="{{ account.partnerid }}">{{ account.company }} (ID: {{ account.id }})</option>
    {% endfor %}
</select>

<div style="margin-top:20px;min-height:40px;position:relative;">
    <div id="surveyEmployerGroupsSpinner" class="text-center" style="display:none;">
        <img src="{{ asset('images/load-icon.gif') }}">
    </div>
    <div id="surveyEmployerGroupsTable"></div>
</div>
    
<div class="modal" id="loaderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title" id="loaderModalLabel">Please Wait</h4></div>
            <div class="modal-body">
                <img class="center-block" src = "{{ asset('images/load-icon.gif') }}" />
            </div>
        </div>
    </div>
</div>
{% import 'ManageManageBundle:Survey:macros.html.twig' as macros %}
{{ macros.modal('groupModal', 'groupSubmitButton', false) }}
<script>
    refreshSurveyEmployerGroups();
    function loadSurveyEmployerGroups() {
        return $.get('{{ path('_manage_survey_listGroups') }}', $('#partnerid').serialize(), function(data) {
            $('#surveyEmployerGroupsTable').html(data);
            initSortables();
        });
    }
    
    function refreshSurveyEmployerGroups() {
        if ($('#partnerid').val()) {
            $('#surveyEmployerGroupsTable').empty();
            $('#surveyEmployerGroupsSpinner').show();
            loadSurveyEmployerGroups().then(function() {
                $('#surveyEmployerGroupsSpinner').hide();
            });
        }
    }
    
    function saveGroup(event) {
        event.preventDefault();
        $.post('{{ path('_manage_survey_saveGroup') }}', $('#surveyEmployerGroupForm').serialize(), function() {
            $('#groupModal').modal('hide');
            loadSurveyEmployerGroups();
        });
    }
    
    function deleteGroup(id) {
        if (confirm("Are you sure you want to delete this?")) {
            $.post('{{ path('_manage_survey_deleteGroup') }}', { id: id }, function() {
                loadSurveyEmployerGroups();
            });
        }
    }
    
    function saveGroupOrder() {
        $('#loaderModal').modal('show');
        $.post('{{ path('_manage_survey_saveGroupOrder') }}', $(this).sortable('serialize'), function() {
            $('#loaderModal').modal('hide');
        });
    }
    
    $(document).on('click', '#groupSubmitButton', saveGroup);
    
    function initSortables() {
        $( ".sortableGroups" ).sortable({update: saveGroupOrder}).disableSelection();
    }
    
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}