{% macro group_item(group, level = 0) %}
    <div class="panel panel-default" id="group_{{ group.id }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ group.groupName }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                <li><a data-toggle="modal" href="#groupModal" data-modal-label="Edit Group" data-href="{{ path('_manage_survey_editGroup', {'id': group.id}) }}">Edit</a></li>
                <li><a href="javascript:deleteGroup({{ group.id }})">Delete</a></li>
                <li><a href="{{ path('_manage_survey_employers', {groupId: group.id}) }}">Employers</a></li>
                {% if level == 0 %}
                <li><a data-toggle="modal" href="#groupModal" data-modal-label="Add Child Group" data-href="{{ path('_manage_survey_addGroup', {'partnerId': group.partnerId, 'parentId': group.id}) }}">Add Child Group</a></li>
                {% endif %}
            </ul>
            {% if group.children is defined %}
            <div class="sortableGroups" style="min-height: 20px;">
                {% for child in group.children %}
                    {{ _self.group_item(child, level + 1) }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

<button class="btn btn-primary" data-toggle="modal" data-target="#groupModal" data-modal-label="Add Group" data-href="{{ path('_manage_survey_addGroup', {'partnerId': partnerid}) }}">Add</button>
<div class="sortableGroups" style="margin-top:20px;">
    {% for group in surveyEmployerGroups %}
        {{ _self.group_item(group) }}
    {% endfor %}
</div>
