<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Add Role</h3>
	</div>
	<table class="table table-bordered">
		<tr class="active">
			<td>
				Name
			</td>
			<td>
				Types
			</td>
		</tr>
		<tr>
			<td>
				<input value = "" placeholder = "Enter Role Name" id = "rolename"  />
			</td>
			<td>
				<select id = "roletype">
				{% for role in roleTypes %}
				<input type = "checkbox" value = "{{ type }}" />{{ type }}<br/>
				{% endfor %}
				</select>
			
			</td>
		</tr>
		<tr>
		<td colspan = "2">
		<button type="button" class="btn btn-primary">Save</button>
		</td>
		</tr>
	</table>

	


</div>






