<div class="alert alert-warning" role="alert" ><b>Warning!</b> Users already in the system will not be changed.</div>
<table class="table">
	<tr class="active">
		<td>
			Name
		</td>
		<td>
			Type
		</td>
	</tr>
	<tr>
		<td>
			<input value = "{{ currentrole.name }}" id = "rolename" class = "form-control"  />
		</td>
		<td>
			{% for role in roleTypes %}
			<input type = "checkbox" value = "{{ role.type }}" name = "roleTypes" {{ role.checked }} id = "roleTypes" />{{ role.type }}<br/>
			{% endfor %}
		</td>
	</tr>
	<tr>
	<td colspan = "2">
	<button type="button" class="btn btn-success" onclick = "editrole({{ currentrole.id }})">Save</button>
	</td>
	</tr>
</table>

	









