{% autoescape false %}
<form id = "editrolepermissions">
<input type = "radio" name = "id" value = "{{ role.id }}" id = "id" checked style = "display:none" />

    
    

      <script>
      var sections = ["generalpages", "settings", "plans","manage"];
      </script>

     
        <ul class="nav nav-pills" role="tablist">
            <li class="active" id = "generalpagesPill"><a href = "javascript:togglePills(sections,'generalpages');resizeColorBox()">General</a></li>
            <li id = "settingsPill"><a href = "javascript:togglePills(sections,'settings')">Settings</a></li>
            <li id = "plansPill"><a href = "javascript:togglePills(sections,'plans')">Plans</a></li>
            <li id = "managePill"><a href = "javascript:togglePills(sections,'manage')">Manage</a></li>
        </ul>
     
        <hr/>
      <div id = "generalpages">
        {% for key in permissionsDashboard|keys %}
        {% set roleField = permissionsDashboard %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}

        {% for key in permissionsAccount|keys %}
        {% set roleField = permissionsAccount %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}

        {% for key in permissionsSupport|keys %}
        {% set roleField = permissionsSupport %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}
  

        {% for key in permissionsEmailCampaigns|keys %}
        {% set roleField = permissionsEmailCampaigns %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}

        {% for key in permissionsStats|keys %}
        {% set roleField = permissionsStats %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}
      </div>

      <div id = "settings" style = "display:none">
        {% for key in permissionsSettings|keys %}
        {% set roleField = permissionsSettings %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}
      </div>

      <div id = "plans" style = "display:none">
        {% for key in permissionsPlans|keys %}
        {% set roleField = permissionsPlans %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}        
      </div>
      <div id = "manage" style = "display:none">
        {% for key in permissionsManage|keys %}
        {% set roleField = permissionsManage %}
        {{ include('ManageManageBundle:Roles:permissionInputFieldsRow.html.twig' ) }}
        {% endfor %}        
      </div>
         
     <hr/>


      <input type = "button" class="btn btn-success" value = "save" onclick = "updatetable('accountsRoles','editrolepermissions','id',closeLightBox)" value = "save" id = "editrolepermissionsbutton" />
      
   

 
  </form>
  {% endautoescape %}