{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Promo Categories'})) }}
{% set header = "<th>Id</th><th>Name</th><th>Actions</th>" %}
{% set table = "managePromoDocsCategories" %}
{% set unsearchableArray = [2] %}
{% set types = "a.id,a.name" %}
{% set template =  'ManageManageBundle:PromoDocs:Search/categorylist.html.twig' %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
