The freeze end date for {{ partnerid }} {{ planname }} {{ planid }} has passed.
If the conversion process has been completed, please update the radial button to "yes" in the Admin
to trigger the final email.