{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Api Accounts'})) }}

{% set tablename = "accounts" %}
{% set table = "accounts" %}
{% set header = "<th>Id</th><th>Company</th><th>Partner Id</th><th>Actions</th>" %}
{% set template = "ManageManageBundle:Api:Search/accountlist.html.twig" %}
{% set unsearchableArray = [3] %}
{% set types = "a.id,a.company,a.partnerid" %}


{% include('ManageManageBundle:Api:javascript/index.js.twig') %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}