{% if writeable %}
<h4>Add Key</h4>
<form id = "addkey">
<table width = "100%">
	<tr>
		<td>
			<input type = "text" style = "display:none" value = "{{ id }}" name = "userid" />
			<input type = "text" class = "form-control"  placeholder = "enter your key here" id = "apiKey" disabled  />
			<input type = "text" class = "form-control"   id = "apiKey2" name = "apiKey" style = "display:none"   />
		</td>
		<td width = "5">
		</td>
		<td width = "20">
			<button type = "button" class="btn btn-default" id = "generateKey">Generate Key</button>
		</td>
		<td width = "5">
		</td>
		<td align = "left">
			<input type = "text"   class = "form-control" placeholder = "enter your ip address here" id = "ipaddress" name = "ipaddress" />
		</td>
	</tr>

</table>
<br/>
<strong>Active</strong>
<select name = "active" id = "active" class = "form-control">
    <option value = "1">On</option>
    <option value = "0">Off</option>
</select>
<br/>
<strong>Product</strong>
<select name = "productid" id = "product" class = "form-control">
    {% for product in products %}
    <option value = "{{product.id}}">{{ product.name }}</option>
    {% endfor %}
</select>
<br/>
	<button type = "button" class="btn btn-info"  onclick = "addKey()">Add</button>
</form>
<hr/>
{% endif %}
<h4>List Keys</h4>
{% set tablename = "APIAccounts" %}
{% set table = "APIAccounts" %}

{% set types = "a.id,a.apiKey,a.ipaddress" %}
{% set findby = "a.userid" %}
{% if writeable %}
{% set unsearchableArray = [4,5] %}
{% set header = "<th>Id</th><th>API Key</th><th>IP Address</th><th>Active</th><th>Product</th><th>Actions</th>" %}
{% set template = "ManageManageBundle:Api:Search/keylist.html.twig" %}
{% else %}
{% set header = "<th>Id</th><th>API Key</th><th>IP Address</th><th>Active</th>" %}
{% set template = "ManageManageBundle:Api:Search/keylistreadonly.html.twig" %}
{% endif %}
{% set findbyvalues = id %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
$( document ).ready(function() 
{
	$("#generateKey").click(function() 
	{
		querystring = "";
		page = "{{ path('_manage_api_generate_key') }}";
		$.post(page, querystring).done(function(data) 
		{
			changeApiKey(data);
		});
	});
});

function changeApiKey(data)
{
	$("#apiKey").val(data);
	$("#apiKey2").val(data);
}
</script>