/*!
 * Form Login Stylesheet
 */

.form {
  width: 350px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.82);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.reset-form {
  display: none;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: rgba(22, 118, 197, 0.49);
  color: #145f9c;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}
.right-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #0aab52;
  color: #0aab52;
}

.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}



.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #1468ad;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 16px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #565656;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  display: none;
  font-size: 17px;
  font-weight: 400;
  color: #ed1c24;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.sent {
  display: none;
  font-size: 17px;
  font-weight: 400;
  color: #0aab52;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.form .message {
  margin: 15px 0 0;
  color: #565656;
  font-size: 12px;
}

.form .message p{
  color: #b3b3b3 !important;
  font-size: 12px;
}
.form .message a {
  color: #2560a9;
}

@-moz-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 12px;
  }
  40% , 80% {
    left: -12px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 12px;
  }
  40% , 80% {
    left: -12px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 12px;
  }
  40% , 80% {
    left: -12px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  .login-form {
    width: 250px;
    padding: 36px 25px;
    background: rgba(255, 255, 255, 0.82);
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 51%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

}

