{% set currentpath = "Shared/Media/" %}

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': pagename})) }}
{% if subscribe is not defined %}
{% set subscribe = true %}
{% endif %}
{% if embedCodeDisplay is not defined %}
{% set embedCodeDisplay = "display:block" %}
{% endif %}
{% block presections %}
{% endblock %}
{% include currentpath ~ "sections.html.twig" %}
{% include currentpath ~ "settings.html.twig" %}
{% include currentpath ~ "stats.html.twig" %}
{% include currentpath ~ "javascript/index.js.twig"  %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}

