{% if showLeft is not defined %}
{% set leftStyle = "display:block" %}
{% set rightStyle = "border-left: 1px solid #ccc;" %}
{% set rightDivSize = 6 %}
{% else %}
{% set leftStyle = "display:none" %}
{% set rightStyle = "width:100%" %}
{% set rightDivSize = 12 %}
{% endif %}

<div id = "settings">
	<div class="row">
		<div class="col-md-6" style ="{{leftStyle }}" >
			{% include currentpath ~"settingsLeft.html.twig" %}
		</div>
		<div class="col-md-{{rightDivSize}}" style = "{{rightStyle }}}">
			{% include currentpath ~"settingsRight.html.twig" %}
		</div>		
	</div>
</div>