
<div id = "stats" style = "display:block">
    <div class="col-md-12 ranges form-inline pager" >
        {% if accountDropDown is  not defined %}
	{% if session.roleType == "vwise_admin" or session.roleType == "vwise" %}
        
        <select id = "keypicker" class = "form-control">
            {% for api in APIAccounts %}
            <option value ="{{ api.apiKey }}">{{ api.userid }} - {{ api.partnerid }} - {{ api.apiKey }}</option>
            {% endfor %}
        </select>
        {% endif %}
        
        {% endif %}        

        
        <button type = "button" class ="btn btn-primary" onclick = "exportpdf()">Export to Pdf</button>
        <input type = "text" placeholder = "Starting Date" class = "form-control profiles_input" id = "greaterthan_graph" {% if startDate is not null %}value="{{ startDate }}"{% endif %} /> 
        <input type = "text" class = "form-control profiles_input" id= "lessthan_graph" placeholder = "Ending Date" {% if endDate is not null %}value="{{ endDate }}"{% endif %} /> 
        <button type = "button" class = "btn btn-success" id = "statsDateButton">Submit</button>
        
        <div id ="exportLoader" style = "display:none"><br/><img src = "{{ asset('images/load-icon.gif') }}" /></div>
        <br/><br/>
        {% if subscribe %}
       {{ render(controller('TemplatesTemplatesBundle:AdminTemplate:subscribePanel', {'section': 'VideoLibrary'})) }}
       {% endif %}
    </div>
        
    <div id = "ajaxGraphContent">
	{% include graphsfile %}
    </div>
</div>
