{% autoescape false %}
{% if tablename is not defined %}
{% set tablename = "searching" %}
{% endif %}

{% if header is not defined %}
{% set header = "<th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role Type</th>
          <th>Actions</th>" %}
{% endif %}

{% if data is not defined %}
{% set data = '{ userid: "58" }' %}
{% set data = data | raw %}

{% endif %}
{% if url is not defined %}
{% set url = path('_account_user_users')  %}
{% endif %}


{% if order is not defined %}
{% set order = '"order": [[ 0, "desc" ]],' %}
{% endif %}



{% set tablehtml = '<table id="'~ tablename~'" class="table table-striped"  ><thead><tr>'~header~'</tr></thead></table>' %}

<div id  = "{{ tablename }}Container">

    {{ tablehtml | raw}}

</div>

<script>
$( document ).ready(function()
{   
    {{ tablename }}Table = $('#{{ tablename }}').DataTable( 
    {
        "processing": true,
        {{ order }}
        "ajax": 
        {
            "url": "{{ url }}",
            "type": "POST",
            "draw": 1,
            data: {{ data }}

        },
        
        "columnDefs": 
        [

            {% if unsearchableArray is defined %}
            {% for unsearchable in unsearchableArray %}
            {% if loop.index > 1 %},{% endif %}
            {
                {% set visible = "true" %}
                {% if unseeableArray is defined %}
                {% for unseeable in unseeableArray %}
                {% if unseeable == unsearchable %}
                {% set visible = "false" %}
                {% endif %}
                {% endfor %}
                {% endif %}
                "targets": [ {{ unsearchable }} ],
                "visible": {{ visible }},
                "searchable": false,
                "sortable":false
            }
            {% endfor %}
            {% endif %}          
        ],
       "oLanguage": 
        {
            "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />'
        }      
    } );

});
   

</script>
{% endautoescape %}