<article id="" class="animate connected confirmation rev col wide single">
    <div class="widget-title">{{ 'congrat_msg_alt' | trans ({}, 'widget') }}</div>
    <div class="widget-text-small">
        {{ 'your_confirmation_number_is' | trans ({}, 'widget') }}
        <span style="word-break: break-word;">{{data.confirmationCode}}</span>
    </div>
    <div class="widget-text-small">{{ 'send_my_confirmation_to' | trans ({}, 'widget') }}</div>
    <form class ="emailTemplateForm">
	<div class="input-group">
        <label>{{ 'email' | trans ({}, 'widget') }}</label>
        <input type="email" name ="email" placeholder="name@domain.com" />
	</div>
	<div class="input-group">
        <label>{{ 'text' | trans ({}, 'widget') }}</label>
        <input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
	</div>
        <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />
    <div class="widget-text-small">{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</div>
	<button id="connected-submit" type="submit" class="color-primary">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
    </form>
</article>
<script>
    $(".emailTemplateForm").submit(function (event) {
        event.preventDefault();
        $("#spinner").fadeIn();
        var querystring = $(this).serialize();
        var page = "{{ path('_widgets_ajax_emailtemplate') }}";

        $.post(page, querystring).done(function (data) {
            var obj = $.parseJSON(data);

            if (obj.success) {
                $("#ctaContent").hide().load('{{ path('_widgets_roth_confirmation_thank_you') }}',function(){
                    $("#spinner").hide();
                    $(this).fadeIn(1000);
                }); 
            }
            else {
                alert(obj.message);
            }
        });
    });
</script>