<article class="animate select-contribution confirmation rev col wide single">
    <div class="widget-text widget-text-top">{{ 'increase_my_contribution_to' | trans ({}, 'widget') }}</div>
    <div id="contributionDisplay"></div>
    <div id="contributionSlider"></div>
    <button id="selectDeferralButton" type="button" class="color-primary">{{ 'update' | trans ({}, 'widget') }}</button>
    <button id="manual" type="button" class="transparent">{{ 'never_mind' | trans({}, 'widget') }}</button>
</article>

<script>
$(document).ready(function() {
    var contributionSlider = document.getElementById('contributionSlider');
    noUiSlider.create(contributionSlider, {
        start: {{ data.overrideDeferral ? data.overrideDeferral : (app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' ? data.currentDeferralFlatDollar : data.currentDeferral) }},
        step: 0.5, 
        range: {
            'min': {{ data.partDeferralSetting == 'dollar' ? data.currentDeferralFlatDollar : data.currentDeferral }},
            'max': {{ data.partDeferralSetting == 'dollar' ? min(data.maxDeferralFlatDollar,data.salary) : data.maxDeferral }},
        },
        pips: { // Show a scale with the slider
            mode: 'positions',
            values: [20,40,60,80],
            density: 5,
            stepped: false
        }
    });
    
    var contributionFormat = wNumb({
        thousand: ',',
        decimals: 2,
        {% if data.partDeferralSetting == 'dollar' %}
        prefix: '$ '
        {% else %}
        postfix: ' %'
        {% endif %}
    });
    
    contributionSlider.noUiSlider.on("update", function() {
        $("#contributionDisplay").text(contributionFormat.to(parseFloat(contributionSlider.noUiSlider.get())));
    });
    
    $('#selectDeferralButton').on('click', function() {
        $("#spinner").fadeIn();
        var page = "{{ path('_widgets_ajax_saveNewDeferral') }}";
        var params = {
            overrideDeferral: document.querySelector("#contributionSlider").noUiSlider.get()
        }

        $.post(page, params).done(function(data)
        {
            $("#ctaContent").hide().load('{{ path('_widgets_roth_allocate_contribution') }}',function(){
                $("#spinner").hide();
                $(this).fadeIn(500);
            }); 
        }); 
    });
});
//# sourceURL=selectContribution.html.twig 
</script>