<article id="cta" class="increase-contribution">
    <div class="widget-text widget-text-narrow">{{ 'you_are_currently_contributing' | trans ({ '%contribution%':  '<strong>'~(app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' ? '$' ~ data.currentDeferralFlatDollar|number_format(2)|replace({'.00':''}) : data.currentDeferral|number_format(2)|replace({'.00':''}) ~ '%')~'</strong>' }, 'widget') | raw }}</div>
    <div class="widget-text widget-text-narrow widget-text-increase">{{ 'would_you_like_to_increase' | trans ({}, 'widget') }}</div>
    <button id="manual" type="button" class="transparent">{{ 'no_thanks' | trans({}, 'widget') }}</button>
    <button id="yesButton" type="button" class="color-primary">{{ 'yes_please' | trans({}, 'widget') }}</button>
</article>
    
<script>
    
$(document).on("click", "#yesButton", function() {
    $("#spinner").fadeIn();
    $("#ctaContent").hide().load('{{ path('_widgets_roth_select_contribution') }}',function(){
        $("#spinner").hide();
        $(this).fadeIn(500);
    });          
});
//# sourceURL=increaseContribution.html.twig     
</script>