<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ 'powerview_title' | trans ({}, 'widget') }}</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="/w/css/powerview.css?time={{ date().timestamp }}" />
        <link rel="stylesheet" type="text/css" href="/w/css/iml.css?time={{ date().timestamp }}" />
        <link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" >
    </head>
    <body>
        {{ include('WidgetsBundle:Default:redirectForm.html.twig') }}

        <div id="vwise_powerview" class="{{ data.lang }}">
            <div id="veil"></div>

            <div class="close return"><span class="mobile">{{ 'close_msg' | trans ({}, 'widget') }}</span>&nbsp;</div>

            {{ include('WidgetsBundle:Default:header.html.twig') }}
            {{ include('WidgetsBundle:Default:languageForm.html.twig') }}

            <div id="powerview_1135" class="container hold">

                <div class="video-container">
                    <video width="640" height="480" >
                        {% if hasMatching %}
                        <source src="https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{ '1135a_PWV' | trans({}, 'widget') }}.mp4" type="video/mp4">
                        {% else %}
                        <source src="https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/SPE_2011/m4v/{{ '1135b_PWV' | trans({}, 'widget') }}.mp4" type="video/mp4">    
                        {% endif %}
                    </video>
                </div>

                {{ include('WidgetsBundle:Default:videoControls.html.twig') }}

                <section id="salary-confirmation" class="full-background bg-primary no-video">
                    <article class="col single rev">
                        {{ include('WidgetsBundle:Default:salaryForm.html.twig') }}
                    </article>
                </section>      

                <section id="intro" class="animate out-right" data-time-in="1" data-time-out="7" data-incoming-remove="out-right" data-outgoing-add="out-right">
                    <article class="animate vertical-center">
                        <h1>{{ 'hi' | trans ({}, 'widget') }} <span class ="data_firstName"></span>,</h1>
                        <h3 class="color-primary">{{ 'welcome' | trans ({}, 'widget') }}</h3>
                    </article>
                </section>      

                <section id="balance" class="animate short-right" data-time-in="7" data-time-out="11.5" data-incoming-remove="short-right" data-outgoing-add="fade-out">
                    <article class="animate vertical-center">
                        <h3 class="label">{{ 'balance' | trans ({}, 'widget') }}</h3>
                        <h5 class="color-primary">{{ 'your_current_retirement_plan_balance' | trans ({}, 'widget') }}</h5>
                        <div class="figure">
                            <sup>$</sup>
                            <span class ="data_balance"></span>
                        </div>
                    </article>
                </section>      
                <section id="contribution" class="animate short-right" data-time-in="12" data-time-out="{% if hasMatching %}23{% else %}20{% endif %}" data-incoming-remove="short-right" data-outgoing-add="fade-out">
                    <article class="animate top">
                        <h3 class="label">{{ 'your_contribution' | trans ({}, 'widget') }}</h3>
                        <h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
                        <div class="figure">
                            <sup>$</sup>
                            <span class ="data_currentYTDTotal"></span>
                        </div>
                        <sub class="contribution-rate">
                            {% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
                                <span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution_amount' | trans ({}, 'widget') }}</span>
                                $<span class="data_currentDeferralFlatDollar"></span>
                            {% else %}
                                <span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution' | trans ({}, 'widget') }}</span>
                                <span class="data_currentDeferral"></span>%
                            {% endif %}
                        </sub>
                    </article>
                </section> 
                {% if hasMatching %}
                <section id="emp_match" class="animate short-right" data-time-in="17" data-time-out="23" data-incoming-remove="short-right" data-outgoing-add="fade-out">
                    <article class="animate bottom">
                        <h3 class="label">{{ 'employer_match' | trans ({}, 'widget') }}</h3>
                        <h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
                        <div class="figure">
                            <sup>$</sup>
                            <span class ="data_currentYTDMatch"></span>
                        </div>
                    </article>
                </section>  
                {% endif %}
                <section id="estimatedBalance" class="animate short-right" data-time-in="{% if hasMatching %}26{% else %}21{% endif %}" data-time-out="{% if hasMatching %}38{% else %}32{% endif %}" data-incoming-remove="short-right" data-outgoing-add="fade-out">
                    <article class="animate top">
                        <h3 class="label">{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h3>
                        <h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span> {{ 'anos' | trans({}, 'widget') }}:</h5>
                        <div class="figure">
                            <sup>$</sup>
                            <span class ="data_projectedIncome"></span>
                        </div>
                    </article>
                </section>
                <section id="estimatedPayout" class="animate short-right" data-time-in="{% if hasMatching %}35{% else %}29{% endif %}" data-time-out="{% if hasMatching %}38{% else %}32{% endif %}" data-incoming-remove="short-right" data-outgoing-add="fade-out">
                    <article class="animate bottom">
                        <h3 class="label">{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h3>
                        <h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span> {{ 'anos' | trans({}, 'widget') }}:</h5>
                        <div class="figure">
                            <sup>$</sup>
                            <span class ="data_projectedMonthlyIncome"></span>
                        </div>
                    </article>
                </section>

                <section id="ctaContent" class="animate full-background bg-primary center" style="display:none;"></section>
                
                <section id="confirmation" class="animate full-background bg-primary center">
                    
                    <article id="" class="animate manual confirmation rev col wide single">
                        <h2>{{ 'not_ready_msg' | trans ({}, 'widget') }}</h2>
                        <button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
                    </article>
                    <article id="" class="animate error confirmation rev col wide single">
                        <h2>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h2>
                        <h3>{{ 'we_encountered_an_error_while_processing' | trans ({}, 'widget') }}<br />{{ 'please_try_again_later' | trans ({}, 'widget') }}</h3>
                        <button type="button" class="color-primary return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
                    </article>

                </section>

            </div>

            <small>
                {{ include('WidgetsBundle:Default:fine-print.html.twig') }}
            </small>

        </div>

        {% include('WidgetsBundle:Default:spinner.html.twig') %}
        {% include('WidgetsBundle:PowerViewNew:error.html.twig') %}
        {% include('WidgetsBundle:PowerViewNew:loading.html.twig') %}

        <script src="https://code.jquery.com/jquery-1.11.3.min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/autoNumeric-min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/jquery.animateNumber.min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/wNumb.min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/nouislider.min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/iml.min.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
        <script src="/w/js/powerview-data.js?time={{ date().timestamp }}"></script>
        
        <script>
        $(document).ready(function(){
            startWidget();

            var player = $('video');
            var video = player[0];

            $(video).on("ended", function() {
                $("#spinner").fadeIn();
                $("#ctaContent").hide().load('{{ path('_widgets_roth_increase_contribution') }}',function(){
                    $("#spinner").hide();
                    $(this).fadeIn(500);
                });
            });

            $(document).on('click', '#manual', function(){
                $('#cta, #projections, #ctaContent').hide();
                $('.video-controls').hide();
                $('#confirmation').show();
                $('#spinner').fadeIn();
                setTimeout(function(){
                    $('#spinner').hide();
                    $('#confirmation .manual').fadeIn(1000);
                },3000);
            });


        });
        </script>
        <script src="/w/js/powerview.js?time={{ date().timestamp }}"></script>

        {{ include('WidgetsBundle:GoogleAnalytics:googleaddPowerview.html.twig') }}
    </body>
</html>
