{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
  {{ item.id }},
  "{{ item.name }}",
  " <span class=\"glyphicon glyphicon-list\" aria-hidden=\"true\" title = \"View Documents\" onclick = \"window.location='{{ path('_manage_promo_docs') }}?id={{ item.id }}'\"></span>"
]
{% endfor %}
