{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Export Database'})) }}
{%  set alertId = "goodKeyAlert" %}
{%  set alertContent = "Database Copied" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}


{%  set alertId = "badKeyAlert" %}
{%  set alertType = "danger" %}
{%  set glyphicon = "remove" %}
{%  set alertContent = "Key is incorrect." %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}

{% set alertId = "errorOccuredAlert" %}
{%  set alertContent = "Export of data failed" %}
{% include "TemplatesTemplatesBundle:Default:alert.html.twig" %}



<form id = "ExportForm" action = "">
<input type = "text" name = "key" class = "form-control" placeholder = "Enter Key"/>
<br/>
<button class = "btn btn-primary" type = "submit">Export</button>
</form>

<div id = "loading" style = "display:none"><br/><img src = "{{ asset('images/load-icon.gif') }}" /></div>

<script>
$(document).ready(function() 
{
	$("#ExportForm").submit(function( event ) 
	{
		event.preventDefault();
		var querystring = $("#ExportForm").serialize();
		var page = "{{ path('_manage_export_database_check_key') }}";
		$.post(page, querystring).done(function(data) 
		{
			if (data == 1)
			{
				page = "{{ path('_manage_export_database_export')}}";
				$("#loading").show();
				$.post(page, querystring).done(function(data) 
				{
					if (data == 1)
					showalert("goodKeyAlert");
					else
					{
						$("#alertContenterrorOccuredAlert").html(data);
						showalert("errorOccuredAlert");
					}
					$("#loading").hide();

				});
			}
			else
			showalert("badKeyAlert");
		});
	});
});

</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
