    "order": [[ 0, "desc" ]],
    "columnDefs": 
    [
      {
        {% if showuserid == 0 %}"targets": [4],{% else %}"targets": [5],{% endif %}
        "searchable": false,
        "sortable":false
      }
    ]
    ,
   "oLanguage": 
    {
        "sLoadingRecords": '<img src = "{{ asset('images/load-icon.gif') }}" />'
    }  