<script>
  function sendEmail()
  {
    var email = $("#youremail").val();
    var title = $("#yourtitle").val();
    var message = $("#yourmessage").val();
    var user = "{{ currentuser.firstname }} {{ currentuser.lastname }}";
    var querystring = "email=" + email + "&title=" + title + "&message=" + message + "&user=" + user;
    var page = "{{ path('_support_send_email') }}";
    $.post(page, querystring).done(function(data) 
    {

    });
  }
</script>