
<table class="table">
	<tr class="active">
		<td>
			Api User ID
		</td>
	</tr>
	<tr>
		<td>
			{{ user.apiUserId }}
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-danger" onclick = "deleteuserauth({{ user.id }})">Delete</button>
		</td>
	</tr>
</table>

<script>
    function deleteuserauth(id)
    {
        var page = "{{ path('_manage_API_deleteApiUserAuthSaved') }}";
        var querystring = "id=" + id;
        $.post(page, querystring).done(function(data) {
            ApiUserAuthTable.fnDraw(false);
            closeLightBox();
        });
    }

</script>