<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Your form has some problems. Please correct them to continue.</div>
<div id="nowhitespace" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> Internal Name cannot include spaces.</div>
<form id="userform">
	<table class="table">
		<tr class="active">
			<td>
				Api User ID
			</td>
			<td>
				Api ID
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divApiUserId">
					<input type="number" value = "{{ user.apiUserId }}" placeholder = "1" name="apiUserId" id = "apiUserId" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divApiId">
					<input type="number" value = "{{ user.apiId }}" placeholder = "1" name="apiId" id = "apiId" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr class="active">
			<td colspan = "2">
				Enabled
			</td>
		</tr>
		<tr>
			<td colspan = "2">
			<div class="form-group" id="divEnabled">
				<select class="form-control" name="enabled" id="enabled">
					<option {% if user.Enabled %}selected{% endif %}>Yes</option>
					<option {% if not user.Enabled %}selected{% endif %}>No</option>
				</select>
			</div>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<button type="button" class="btn btn-primary" onclick = "edituserauth({{ user.id }})">Save</button>
			</td>
		</tr>
	</table>
</form>

<script>
    function edituserauth(id)
    {
        $('div').removeClass("has-error");
        $('#errormsg').hide();
        $('#nowhitespace').hide();

        var page = "{{ path('_manage_API_editApiUserAuthSaved') }}";
        var querystring = "";
        querystring += $('#userform').serialize();
        querystring += "&id=" + id;

        $.post(page, querystring).done(function(data) {
            ApiUserAuthTable.fnDraw(false);
            closeLightBox();
        });

    }
</script>