{% for key in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ key.id }},
	"{{ key.apiKey }}",
	"<input type = \"text\" id = \"ipaddress{{key.id}}\" value = \"{{ key.ipaddress }}\" />",
	"<select id = \"active{{key.id}}\"><option value = \"1\" {% if key.active == 1 %}selected{% endif %}>On</option><option value = \"0\" {% if key.active == 0 %}selected{% endif %}>Off</option></select>",
        "{{ render(controller('ManageManageBundle:Api:createSelectProductKeyBox', {'id': key.id})) }}",
	"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Save\" aria-label=\"Save\" class=\"text-success\" onclick = \"saveKey({{key.id }})\" ><span class=\"glyphicon glyphicon-floppy-save\" ></span></span> <span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\" onclick = \"deleteKey({{key.id }})\" ><span class=\"glyphicon glyphicon-remove-circle\"></span></span>"
]
{% endfor %}

