{% for key in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ key.id }},
	"{{ key.apiKey }}",
	"{{ key.ipaddress }}",
	"{% if key.active == 1 %}On{% endif %}{% if key.active == 0 %}Off{% endif %}"
]
{% endfor %}

