<form id = "editfund">
	<input type = "text" name = "id" value = "{{ fund.id }}" id = "id" style = "display:none"  />
	<table class="table table-bordered">
		<tr class = "active">
		    <td>Name</td>
		    <td>Ticker</td>
		    <td>Link</td>
			<td>Fund Id</td>
                    {% if investments.fundsGroupsValues is not null %}
                    <td>{{ investments.fundGroup.name }}</td>
                    {% endif %}
	 	</tr>
		<tr>

		<td>
			<input type = "text" value = "{{ fund.name }}" name = "name" id ="editFundName"  />
		</td>
		<td>
			<input type = "text" value = "{{ fund.ticker }}" name = "ticker" id ="editFundTicker"  />
		</td>
		<td>
			<input type = "text" value = "{{ fund.link }}" name = "link"   />
		</td>
		<td>
			<input type = "text" value = "{{ fund.fundId }}" name = "fundId"   />
		</td>
                {% if investments.fundsGroupsValues is not null %}
                <td>
                    <select name ="groupValueId" class ="form-control">
                        <option value ="0">No Value</option>
                        {% for fundsGroupsValue in investments.fundsGroupsValues %}
                        <option value ="{{fundsGroupsValue.id }}" {% if fund.groupValueId == fundsGroupsValue.id %}selected{% endif %}> {{ fundsGroupsValue.value }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endif %}
		</tr>
		<tr>
		<td colspan = "{{ investments.fundsGroupsValues is not null ? 5 : 4 }}">
			<input type = "button" id = "editfundbutton" value = "save" class="btn btn-primary" onclick = "editFund('{{ fundTable }}')"/>
		</td>
		</tr>
	</table>
</form>


