{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ item.id }},
	"
	{% set checked = "" %}
	{% if item.display == 1 %}
	{% set checked = "checked" %}
	{% endif %}
	<input type = \"checkbox\" {{ checked }} disabled />
	",
	"{{ item.name }}",
	"{{ item.ticker }}",
	"{{ item.link }}",
	"",
	""

]
{% endfor %}