{% if writeable is not defined %}
{% set writeable = true %}
{% endif %}
{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
  {{ item.id }},
  "
  {% set checked = "" %}
  {% if item.display == 1 %}
  {% set checked = "checked" %}
  {% endif %}
  <input type = \"checkbox\" {{ checked }} {% if writeable %}onchange = \"changeFundDisplay(this.checked,'{{ item.id }}')\" {% else %}disabled {% endif %} />
  <form id = \"fundDisplayForm{{ item.id }}\">
    <input type = \"text\"  name = \"id\"  value = \"{{ item.id }}\" style = \"display:none\" />
    <input type = \"text\" id = \"fundDisplay{{ item.id }}\" name = \"display\" value = \"{{ item.display }}\" style = \"display:none\" />
    <input type = \"button\" id = \"fundDisplayForm{{ item.id }}button\" value = \"save\" style = \"display:none\" />
  </form>
  ",
  "
  {{ item.name | raw}}
  ",
  "
  {{ item.ticker | raw}}
  ",
  "
  {{ item.link  | raw }}
  ",
  "
    {{ item.fundId  | raw }}
  ",
  "
  <a href = \"javascript:ajaxModal('{{ path(editFundUrl, {'id':item.id } ) | url_encode }}','Edit Fund','large')\" ><span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span></a> 

  <a href = \"javascript:ajaxModal('{{ path(deleteFundUrl, {'id':item.id } ) | url_encode }}','Delete Fund','medium')\" ><span class=\"text-danger\"><span class=\"glyphicon glyphicon-remove-circle\" aria-hidden=\"true\"></span></span></a>
  "
  
]
{% endfor %}
  
 


