{% for item in items %}
{% if loop.index > 1 %},{% endif %}
[
  {{ item.id }},
  "
  <form  id=\"portfolioinfo{{ item.id }}\">
    <table style  = \"width:100%;\">
      <tr>
        <td width = \"60%\" >
            <input type = \"text\" placeholder =\"name\" class = \"form-control\" name = \"name\" id = \"portfolio_name{{ item.id }}\" value = \"{{ item.name }}\" />
        </td>
        <td width = \"30%\" >

            <input type = \"text\" placeholder =\"Id\" class = \"form-control\" name = \"customid\" id = \"portfolio_customid{{ item.id }}\" value = \"{{ item.customid }}\" />
        </td>    
        <td align = \"right\">
          <button type = \"button\" class=\"btn btn-primary\" onclick = \"editPortfolio('{% block portfoliotable %}{% endblock %}','portfolioinfo{{ item.id }}','{{ item.id }}')\">Save</button>
        </td>
      </tr>
    </table>
    <input type = \"text\" name = \"id\" value = \"{{ item.id }}\" id = \"id\" style = \"display:none\" readonly = \"true\" />        
  </form>
  <input type = \"button\"  value = \"edit\" id = \"portfolioinfo{{ item.id }}button\" style = \"display:none\" />
  ",
  "
  <a href = \"javascript:ajaxModal('{% block setfunds %}{% endblock %}?id={{ item.id }}','Set Funds - {{ item.name }}','medium')\"><span class = \"glyphicon glyphicon-th-list\"></span></a>   <a href = \"javascript:ajaxModal('{{ path(deletePortfolioUrl, {'id':item.id } ) | url_encode }}','Delete Portfolio','small')\" ><span class=\"text-danger\"><span class=\"glyphicon glyphicon-remove-circle\" aria-hidden=\"true\"></span></span></a>
  
  ",
  "
  "
]
{% endfor %}