<li class="list-group-item" style = "display:{{ section.display }}" id = "div_{{ section.name }}" >
    {% if section.type == "text" %}
        <h4>{{ section.description }}</h4>                
        <input type  = "text" class="form-control" placeholder = "{{ section.description }}: "   value = "{{ section.value }}"  id = "account_{{ section.name }}"  /> 
    {% endif %}
    {% if section.type == "colorpicker" %}
        <h4>{{ section.description }}</h4>                
        <input type  = "text" class="form-control" placeholder = "{{ section.description }}: "   value = "{{ section.value }}"  id = "account_{{ section.name }}"  /> 
        
        <script>
            //$(document).ready(function ()
            //{
                
                addColorPicker("account_{{ section.name }}");
            //});
        </script>        
    {% endif %}
    {% if section.type == "select" %}
        <h4>{{ section.description }}</h4>
        <select style = "width:100%" {% if section.name == "connectionType" %} onchange = "checkPartnerId(this.value)" {% endif %}{% if section.name == "language" %} onchange = "checkLanguage(this.value)" {% endif %}  id = "account_{{ section.name }}"> 
            <option selected disabled value = "">Select </option>
            {% for key,value in section.values %}
                <option value = "{{ value }}" {% if section.value == value %} selected{% endif %}>{% if section.options.useKeyDescription %}{{ key }} {% else %}{{ value }}{% endif %}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if section.type == "keyValueSelect" %}
        <h4>{{ section.description }}</h4>
        <select style = "width:100%" {% if section.name == "connectionType" %} onchange = "checkPartnerId(this.value)" {% endif %}{% if section.name == "language" %} onchange = "checkLanguage(this.value)" {% endif %}  id = "account_{{ section.name }}">
            <option selected disabled value = "">Select </option>
            {% for key, value in section.values %}
                <option value = "{{ key }}" {% if section.value is same as(key) or (section.value is null and key == "")  %} selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if section.type == "languages" %}
        <h4>{{ section.description }}</h4> 
        {% set values = section.value | split("|") %}

        {% for key,value in section.values %}

            {% set checkValueArray =  value | split("_") %}

            {% set checkValue = checkValueArray | last %}



            <input type = "checkbox" value = "{{ value }}" name = "account_{{ section.name }}" id = "account_{{ section.name }}_{{value}}" class = "account_{{checkValue}}" {% if value in values %}checked{% endif %} onchange = "calculateCheckbox('account_{{ section.name }}');
                    checkDuplicateLanguage('account_{{ section.name }}', '{{ value }}', '{{checkValue}}')"> {{ key }} <br/>
            <script>
                $(document).ready(function ()
                {
                    calculateCheckbox('account_{{ section.name }}');
                });
            </script>
        {% endfor %}
        <input type = "text" value = "" id = "account_{{ section.name }}" style = "display:none" />
    {% endif %}

</li>

