{% set lengthMenu = "[100, 200, 500]" %}

{% set tablename = "accounts" %}
{% set table = "accounts" %}
{% set firstcolumnviewable = true %}
{% set customquery = "accountlistfull" %}
{% set types = "a.id,a.company,a.partnerid,b.firstname" %}
{% set extraparameters = ",roleType:" ~ '"' ~roleType ~'"' %} 
{% if filter %}
{% set findby = "a.visible" %}
{% set findbyvalues = "1" %}
{% endif %}

{% if roleType != "vwise_admin" %}
{% set customquery = "accountlist" %}

{% set findby = "b.accountsUsersId,^a.visible" %}
{% set types = "a.id,a.company,a.partnerid,c.firstname" %}
{% set findbyvalues = clientid  ~",1" %}
{% endif %}
{% if writeable %}    
{% set header = "<th>Account Id</th><th>Company</th><th>Partner Id</th><th>Admin Master</th><th>Actions</th>" %} 
{% set unsearchableArray = [4] %}
{% set template = 'ManageManageBundle:Accounts:Search/accountlist.html.twig' %}  
{% else %}
{% set header = "<th>Account Id</th><th>Company</th><th>Partner Id</th><th width = \"150\">Users</th>" %} 
{% set unsearchableArray = [3] %}
{% set template = 'ManageManageBundle:Accounts:Search/accountlistreadonly.html.twig' %}  
{% endif %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}