<form role="form" id = "addApiForm">
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id = "addapi">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	     
	    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h3 class="modal-title" id="myModalLabel">Add Api Account</h3>
	     	</div>
	     	
	     		<div class="modal-body">
		      		
						<div class="row">
						  <div class="form-group col-md-6">
							<label for="addKey">Key</label>
						    <input type="text" class="form-control" id="addKey" placeholder="Key" />
						  	<label for="addKeyResult">Key Result</label>
						    <input type = "text" class = "form-control"  id = "addKeyResult" placeholder="Key Result" disabled />
						  </div>
						  <div class="form-group col-md-6">
						  	<label for="addIpaddress">IP Address</label>
				            <input type="text" class="form-control"  id="addIpaddress" placeholder="IP Address"/>
						  	<label for="addUserid">Userid</label>
				            <input type="text" class="form-control"  id="addUserid" placeholder="Userid" />
				            <label for="addActive">Active</label>
				            <input type = "checkbox" id = "addActive" />
						  </div>
						</div>
			 		
				</div>
				
				<div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      <button type="submit" class="btn btn-primary" >Add Api Account</button>
		    </div>
		  
		  </div>
	  </div>
	</div>
</form>