<form class="form-inline" onsubmit="return addBatchFileNotificationEmail(this);">
	<input type="hidden" name="userid" value="{{userid}}">
	<div class="form-group">
		<label for="batchFileNotificationEmail">Email</label>
		<input type="email" name="email" class="form-control" id="batchFileNotificationEmail" placeholder="jane.doe@example.com">
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>
<hr>

{% set table = "AccountsBatchFileNotificationEmails" %}
{% set tablename = table %}
{% set findby = "a.userid" %}
{% set findbyvalues = userid %}
{% set types = "a.id,a.email" %}
{% set header = "<th>Id</th><th>Email</th><th>Action</th>" %}
{% set unsearchableArray = [2] %} 
{% set template = 'ManageManageBundle:Accounts:Search/batchFileNotificationEmails.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}

<script>
	function deleteBatchFileNotificationEmail(id) {
		var page = "{{ path('_manage_accounts_deleteBatchFileNotificationEmail') }}";
		var querystring = "id=" + id;

		$.post(page, querystring).done(function(data) 
		{
			restartTableAccountsBatchFileNotificationEmails();
		});
	}
	
	function addBatchFileNotificationEmail(form) {
		var page = "{{ path('_manage_accounts_addBatchFileNotificationEmail') }}";
		var querystring = $(form).serialize();

		$.post(page, querystring).done(function(data) 
		{
			$("#batchFileNotificationEmail").val("");
			restartTableAccountsBatchFileNotificationEmails();
		});
		return false;
	}
</script>