{% for section  in sections %}
{% include ('ManageManageBundle:Accounts:accountsection.html.twig') %}
{% endfor %}
<br/>
<input type = "button"  value = "Save" class="btn btn-success" onclick = "editaccount({{ id }})" />
		