<form id ="uploadCsv" method= "post" action = "{{ path('_manage_accounts_upload_email_list_account_process') }}" enctype="multipart/form-data">
    <input type ="file" name ="csvFile" required />
    <br/>
    <button type ="submit" class ="btn btn-primary">Upload CSV</button>
</form>

<script>
    $("#uploadCsv").submit(function(event)
    {
        event.preventDefault();
        var formData = new FormData($("#uploadCsv")[0]);
        formData.append("userId", {{ userId }});

        $.ajax(
            {
                url:$(this).attr("action"),
                type: 'POST',
                data: formData,
                async: false,
                success: function (data)
                {
                    closeLightBox();
                    modalMessage('Email List uploaded');
                },
                error: function (data)
                {
                    closeLightBox();
                    modalMessage('Email List failed to upload');
                },
                cache: false,
                contentType: false,
                processData: false

            });
    });
</script>