<table class="table table-bordered">

	<tr class="active">
		<td>
			First Name
		</td>
		<td>
			Last Name
		</td>

		<td>
			Edit
		</td>
		{% if roleType == "adviser" %}
		<td>
			Set Plans
		</td>
		{% endif %}
		<td>
			Delete
		</td>
	</tr>

{% for user in accountsUsers %}

		<td>
			{{ user.firstName }}
		</td>
		<td>
			{{ user.lastName }}
		</td>
		<td>
			<a href = "#">Edit</a>
		</td>
		{% if roleType == "adviser" %}
		<td>
			<a href = "#">Set Plans</a>
		</td>
		{% endif %}
		<td>
			<a href = "#">Delete</a>
		</td>

{% endfor %}