{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Accounts - List Plans'})) }}
<a href = "{{ path('_manage_accounts') }}">Return to Accounts List</a>
<br/>
<br/>
{% set table = "plans" %}
{% set findby = "a.userid,^a.deleted" %}
{% set findbyvalues = userid ~ ",0" %}
{% set types = "a.id,a.name,a.planid" %}
{% set header = "<td>id</td><td>Name</td><td>Planid</td><td>Actions</td>" %}
{% set unsearchableArray = [3] %}
{% set extraparameters= ',roleType:"' ~ roleType ~ '"' %}
{% set template = 'ManageManageBundle:Accounts:Search/planlist.html.twig' %}  
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}