{% set tablename = "accounts" %}
{% set table = "accounts" %}
{% set customquery = "accountlistsave" %}
{% set extraparameters = ',clientid:"'~clientid ~'"' %}
{% set types = "a.id,a.company,a.partnerid" %} 
{% set firstcolumnviewable = true %}
{% set header = "<th>Id</th><th>Company</th><th>Partner Id</th><th><a href = \"javascript:toggleAccountsOn()\">On</a>/<a href = \"javascript:toggleAccountsOff()\">Off</a></th>" %} 
{% set unsearchableArray = [3] %}

{% set template = 'ManageManageBundle:Accounts:Search/manageaccountsaccountlist.html.twig' %}  
<label>Automatically add to this list when account is created <input type = "checkbox" {{ user.autoAddAccountChecked }} onclick ="updateAutoAddAccount(this)" /></label><br/><br/>
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function toggleAccount(userid)
{
	
    var page = "{{ path('_manage__manage_account_list_save') }}"; 	
    var querystring = "userid=" + userid + "&clientid={{ clientid }}";
	$.post(page, querystring).done(function(data) 
	{
		
	});
	
}
function toggleAccountsOn()
{
	$.each($('input[name="accounts"]:not(:checked)'), function() 
	{
		toggleAccount($(this).val())

	});	
	$('input[name="accounts"]').prop("checked",true);
}

function toggleAccountsOff()
{
	$.each($('input[name="accounts"]:checked'), function() 
	{
		toggleAccount($(this).val())
	});	
	$('input[name="accounts"]').prop("checked",false);
}
function updateAutoAddAccount(object)
{
	assignCheckboxValue(object);

	var page = "{{ path('_manage__manage_account_list_AutoAddAccount') }}"; 	
    var querystring = "autoAddAccount=" + object.value + "&clientid={{ user.id }}";
	$.post(page, querystring).done(function(data) 
	{
		
	});
}
</script>
