{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %} manual{% endblock %}

{% block slideContent %}

<h3>{{ 'not_ready_msg' | trans ({}, 'widget') }}</h3>
<button id="manual-submit" type="button" class="color-primary return">{{ 'close_msg' | trans ({}, 'widget') }}</button>

{% endblock %}
