{% extends 'WidgetsBundle:PowerViewMobileSlides:confirmationBase.html.twig' %}

{% block classes %}connected{% endblock %}

{% block slideContent %}

<h1>{{ 'congrat_msg' | trans ({}, 'widget') }}</h1>
<h3>{{ 'your_confirmation_number_is' | trans ({}, 'widget') }}</h3>
<h4><span class="data_confirmationCode"></span></h4>
<h5>{{ 'send_my_confirmation_to' | trans ({}, 'widget') }}</h5>
                        <form class ="emailTemplateForm">
                            <div class="input-group">
                                    <input type="email" name ="email" placeholder="name@domain.com" />
                            </div>
                            <div class="input-group">
            <input type="tel" name ="text" placeholder="xxx-xxx-xxxx" />
                            </div>
                            <input type ="text" name ="name"  value ="{{ data.emailTemplate}}" style ="display:none" />
                            <button id="connected-submit" type="submit" class="color-primary">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
                        </form>
  <small class="sms-rates">{{ 'Standard_messaging_and_data_rates' | trans ({}, 'widget') }}</small>

{% endblock %}
