{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h2>{{ 'contributed_this_year' | trans ({}, 'widget') }}</h2>
<h5>{{ 'current_contribution' | trans ({}, 'widget') }}</h5>
<div class="figure">
  <sup>$</sup><span class="odometer data_currentYTDTotal" data-odo-end="0">0</span>
</div>
<sub>{{ 'current_contribution_rate' | trans ({}, 'widget') }} {{ include('WidgetsBundle:Default:currentdeferral.html.twig') }}</sub>

{% endblock %}
