{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h2>{{ 'the_thing' | trans ({}, 'widget') }}</h2>
<p>{{ 'significant_difference' | trans ({}, 'widget') }}</p>
<p>{{ 'take_a_look' | trans ({}, 'widget') }}</p>

{% endblock %}
