{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<h1>{{ 'hi' | trans({}, 'widget') }} <span class ="data_firstName"></span>,</h1>
<p>{{ 'welcome' | trans ({}, 'widget') }}</p>

{% endblock %}
