{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block classes %} cta left{% endblock %}

{% block slideContent %}

<h2>{{ 'use_this_website_to' | trans ({}, 'widget') }}</h2>
<p class="icon-progress">{{ 'monitor_your_progress' | trans ({}, 'widget') }}</p>
<p class="icon-changes">{{ 'savings_investments' | trans ({}, 'widget') }}</p>
<p class="icon-info">{{ 'get_valuable_information' | trans ({}, 'widget') }}</p>
<button type="button" class="color-primary completed">{{ 'continue' | trans ({}, 'widget') }}</button>

{% endblock %}
