{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block slideContent %}

<p>{{ 'offers_a_roth_option' | trans ({}, 'widget') }}</p>
<p>{{ 'lets_take_a_closer_look' | trans ({}, 'widget') }}</p>

{% endblock %}
