{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}
{% block slideContent %}

<h1>{{ 'question_mark' | trans({}, 'widget') }}</h1>

<h2>{{ 'how_do_you_know' | trans({}, 'widget') }}</h2>

<p>{{ 'the_answer_depends_on_your' | trans({}, 'widget') }}</p>

{% endblock %}
