{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}
{% block slideContent %}

<h1><img style="width:20vw;" src="{{ asset('w/img/icon-scale.svg') }}"></h1>

<h2>{{ 'you_can_contribute_to_both' | trans({}, 'widget') }}</h2>

<p>{{ 'the_combination_approach' | trans({}, 'widget') }}</p>

<p>{{ 'you_may_want_to_talk' | trans({}, 'widget') }}</p>

{% endblock %}
