{{ include('WidgetsBundle:PowerViewMobileSlides:intro.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:balance.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:contribution.html.twig') }}
