{{ include('WidgetsBundle:PowerViewMobileSlides:confirmationConnected.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:confirmationCTA.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:confirmationManual.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:confirmationError.html.twig') }}

{{ include('WidgetsBundle:PowerViewMobileSlides:confirmationConnectedThankYou.html.twig') }}
