{% extends 'WidgetsBundle:PowerViewMobileSlides:base.html.twig' %}

{% block classes %} cta left{% endblock %}

{% block slideContent %}

<h3>{{ 'take_control' | trans ({}, 'widget') }}</h3>
<p>{{ 'look_for_the_smartplan' | trans ({}, 'widget') }}</p>
<ul>
  <li>{{ 'get_a_more_detailed_look' | trans ({}, 'widget') }}</li>
  <li>{{ 'fit_your_goals' | trans ({}, 'widget') }}</li>
</ul>

<button type="button" class="transparent completed">{{ 'continue' | trans ({}, 'widget') }}</button>

{% endblock %}
