<table class="table table-condensed">
    <thead>
        <tr>
            <th>Plan</th>
            <th>Planid</th>
            <th>Enrollees</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.planid}}</td>
            <td>{{row.sentCount}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form id="hubSpotResultsExportForm" target="_blank" action="{{ path('_manage_hdmi_resultsExport') }}">
    <input type="hidden" name="logId" value="{{logId}}">
    <button class="btn btn-info" type="submit">Export</button>
</form>