{% if displayLast %}

<tr>
    <td>
        {% set min = session.get("PlansInvestmentsYearsToRetirement")[key].min %}
        {{ session.get("PlansInvestmentsYearsToRetirement")[key].min }}+ {{ 'years'| trans ({}, 'investments') }}
    </td>
    {% for key2,link in session.get("PlansInvestmentsScore") %}
        {% if session.get("PlansInvestmentsScore")[key2+1] is defined %}
            <td>
                {% if session.get("PlansInvestmentsLinkYearsToRetirementAndScoreHash")[session.get("PlansInvestmentsYearsToRetirement")[key].id][session.get("PlansInvestmentsScore")[key2].id] is defined %}
                    {{ session.get("PlansInvestmentsLinkYearsToRetirementAndScoreHash")[session.get("PlansInvestmentsYearsToRetirement")[key].id][session.get("PlansInvestmentsScore")[key2].id].type }}
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
</tr>

{% else %}

    <tr>
        <td>
            {% set min = session.get("PlansInvestmentsYearsToRetirement")[key].min %}
            {{min }}-{{ session.get("PlansInvestmentsYearsToRetirement")[key+1].min }} {{ 'years'| trans ({}, 'investments') }}
        </td>
        {% for key2,link in session.get("PlansInvestmentsScore") %}
            {% if session.get("PlansInvestmentsScore")[key2+1] is defined %}
                <td>
                    {% if session.get("PlansInvestmentsLinkYearsToRetirementAndScoreHash")[session.get("PlansInvestmentsYearsToRetirement")[key].id][session.get("PlansInvestmentsScore")[key2].id] is defined %}
                        {{ session.get("PlansInvestmentsLinkYearsToRetirementAndScoreHash")[session.get("PlansInvestmentsYearsToRetirement")[key].id][session.get("PlansInvestmentsScore")[key2].id].type }}
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>

{% endif %}