{% set session = app.request.session %}
{% set radioChecked = false %}
{% set audioFile = 'investments_graph1'| trans ({}, 'audio') %}
{% include"SpeAppBundle:Template:playaudio.html.twig" %}
<style>
    .center{display:inline-block}
    .outer{text-align:center}
    .bold-text {
        font-weight:bold;
        font-size:11px;
    }
    div.vertical-line{
        width: 1px;
        background-color: black;
        height: 200px;
        float: left;
    }
</style>

<p class="para">
    {{ 'graph1_headertext'| trans ({}, 'investments') }}
</p>  
<div class="row">
    {% for key,score in session.get("PlansInvestmentsScore") %}
    {% if session.get("PlansInvestmentsScore")[key+1] is defined %}
    <div class="col-sm-1" style ="text-align:center;width:{{ 100/(session.get('PlansInvestmentsScore')|length-1)-1 }}%">
        <div class="bold-text">
        <input type ="radio" name ="selectedGraph" value ="{{session.get("PlansInvestmentsScore")[key].id}}" {% if session.get("PlansInvestmentsGraphSelectedMinScore") ==  session.get("PlansInvestmentsScore")[key].id %}checked{% set radioChecked = true %}{% endif %} onclick ="enableButton('#proceedGraphBtn')" />
        &nbsp;{% if session.get("PlansInvestmentsScore")[key].label is not null %}{{ session.get("PlansInvestmentsScore")[key].label  }}{% else %}{% set min = session.get("PlansInvestmentsScore")[key].min %}{% include"SpeAppBundle:Template:investments/graph/displaymin.html.twig" %}-{{ session.get("PlansInvestmentsScore")[key+1].min }} {{ 'points'| trans ({}, 'investments') }}{% endif %}
        </div>
        {% set graphValues = session.get("PlansInvestmentsConfigurationFundsGroupValuesColorsHash")[session.get("PlansInvestmentsScore")[key]['id']] %}
        {% set piechartId = key %}
        {% set piechartWidth = "100%" %}
        {% set piechartHeight = "200px" %}
        {% include"SpeAppBundle:Template:investments/graph/piechart.html.twig" %}
    </div>
        {% if loop.revindex0 > 1 %}
            <div class="vertical-line" />
        {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% set configurationColors = session.get("PlansInvestmentsConfigurationColors") %}
<div class="outer">
    <div class="center" style="width: 90%">
        {{ include('SharedInvestorProfileBundle:Default:riskrewardbar.html.twig') }}
    </div>
</div>
<div class="outer">
    <p class="para bold-text center">
        {{ 'graph1_footertext1'| trans ({}, 'investments') }}
    </p>
</div>
<div class="outer">
    <div class="center" style="width: 90%">
        <p class="para" style ="font-size:8px;text-align:center;">
            {{ 'graph1_footertext2'| trans ({}, 'investments') }}
        </p>
    </div>
</div>
<div class ="actions">  
    <a class="actionBtn left" href="#" aria-label="back">
        <span class="center action-button" onclick ="tableStep()">{{ 'back'| trans ({}, 'global') }}</span>
    </a>
    <a class="actionBtn right" href="#" aria-label="Proceed">
        <span class="center {% if radioChecked %}action-button{% else %}disabledButton{% endif %}" id="proceedGraphBtn"  onclick ="graphStep2()">{{ 'proceed'| trans ({}, 'global') }}</span>
    </a>
</div>
<script>
function graphStep2()
{
   if ($("[name=selectedGraph]:checked").val() != undefined && $("#proceedGraphBtn").hasClass("action-button"))
   {
    $.post( "investments/graph2", { id:$("[name=selectedGraph]:checked").val() }).done(function( html ) 
     {
       updateInvestmentsHtml(html);
     });  
   }
}
</script>
