{% set session = app.request.session %}
{% set graphType = "table" %}
{% include"SpeAppBundle:Template:investments/graph/table.css.twig" %}
<div class="row">
    <div class="col-md-6">
        <table class ="table" >
                <tr>
                    <th><h3>{{ 'fund_name'| trans ({}, 'investments') }}</h3></th>
                    <th><h3>%</h3></th>
                </tr>
            {% for group in table %}
            {% for fund in group.funds %}
                {% if fund.percent > 0 %}
                <tr>
                    <td>{{ fund.name }}</td>
                    <td><input type ="text" disabled value ="{{fund.percent}}" style ="width:30px" /></td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </table>
        <div class="clear"></div>
    </div>
    <div class="col-md-6">
        {% set piechartId = "investorProfile" %}
        {% set piechartWidth = "70%" %}
        {% set piechartHeight = "300px" %}
        {% include"SpeAppBundle:Template:investments/graph/piechart.html.twig" %}
    </div>
</div>
