#library_container_open {position:absolute; right: 0; top: 0; background: url(/spe/images/global/overlay.png); margin:0; width:220px; height:15px; padding:5px 10px; color:#FFF; float: right;}
#library_container_open .open {position:absolute;right:10px; top:5px;font-size:1rem;font-weight:normal;text-transform:uppercase;cursor:pointer;}

#library_container{position:absolute; right: 0; top: 0; display:none;background: url(/spe/images/global/overlay.png); margin:0;  padding:20px 10px 20px; color:#FFF; float: right;height:100%;transition: height 0.4s;-webkit-transition: height 0.4s;-ms-transition: height 0.4s;}
#library_container.max{height:100%;}
#library_container.min{height:6%;}
#library_container .customScrollBox{position:relative; height:100%; overflow:hidden;}
#library_container .customScrollBox .container{position:relative; width:200px; top:0; float:left;}
#library_container .customScrollBox .content{clear:both;}
#library_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#09C; font-family:Verdana, Geneva, sans-serif; font-size:1.3rem; line-height:20px;}
#library_container .dragger_container{position:relative; width:0px; height:390px; float:left; margin:12px 0 0 10px; border-left:1px solid #FFF; cursor:pointer;}
#library_container .dragger{position:absolute; width:9px; height:9px; background:#BBB; margin-left:-5px; text-align:center; overflow:hidden; cursor:pointer; -moz-border-radius:18px; -khtml-border-radius:18px; -webkit-border-radius:18px; border-radius:18px;}
#library_container .dragger_pressed{position:absolute; width:9px; height:9px; background:#FFF; margin-left:-5px; overflow:hidden; cursor:s-resize;}

#library_container .scrollUpBtn, #library_container .scrollDownBtn{position:absolute; display:inline-block; width:9px; height:5px; margin-right:15px; text-decoration:none; right:0; }
#library_container .scrollUpBtn{top:30px; background: url(/spe/images/global/arrow.png) 0 0 no-repeat;}
#library_container .scrollDownBtn{bottom:25px; background: url(/spe/images/global/arrow.png) 0 -5px no-repeat;}

#library_container .plusimageapply {list-style-image: url(/spe/images/global/plus.png); cursor: pointer;}
#library_container .minusimageapply {list-style-image: url(/spe/images/global/minus.png); cursor: pointer;}
#library_container .selectedimage {list-style-image: url(/spe/images/global/selected.png); cursor: pointer;}
.library-container-head-close .open,#library_container .close {position:absolute;right:10px; top:5px;font-size:1rem;font-weight:normal;text-transform:uppercase;cursor:pointer;opacity:1;color:#FFF;text-shadow:none;padding:10px 0;display:none;}
.library-container-head-close .open{display:block;}

.max .library-container-head-close, .min .library-container-head{display:none;}
.min .library-container-head-close, .max .library-container-head{display:block;}

.library-container-head-close, .library-container-head{height:15px;}
.library-container-head-close .note,#library_container .note { position: absolute; top: 5px; font-size:1rem;font-weight:normal;text-transform:uppercase;padding:10px 0;}
#library_container ul {padding-left: 20px; margin: 5px 0px;}
#library_container li ul {padding:0;}
#library_container li ul li {list-style:none;line-height:22px;font-size:1.2rem;font-weight:normal;text-transform:none;}
#library_container li.category {font-size:1.4rem;font-weight:normal;text-transform:uppercase;}
#library_container a{ text-decoration: none; color: #FFF;}

.library-container .library-video{ padding: 0 !important;}
.library-container .library-desc{ padding: 15px !important;}