/* CONTAINERS */
body {
  margin: 0; padding: 0; /* Browsers have default 8px margins _or_ padding! */
  font:normal 100%  Helvetica, Arial, sans-serif;
  line-height: 1.5; /* Default value, `normal`, depends on the font */
}
/* HTML5 blocks - needed in older browsers */
article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* PARAGRAPHS */
h2, h3, h4 {
  margin: 1em 0 .5em; /* Titles should be close to the text they describe */
  line-height: 1.25; /* Bigger text is often nicer with smaller line height */
  font-weight: bold; /* Browser default. Use `normal` for less bulky titles */
}
h1 {font-size: 2em;}
h1.title {display:none; font-weight:normal; margin:13px 0 13px 10px;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}
ul, ol {
  margin: 1em 0; /* Default for all browsers except IE */
  padding-left: 40px; /* IE has a 40px margin-left instead */
}
p {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px; /* Same for all browsers - Customize or remove */
}

/* LINKS */
/* Default browser styles (from Firefox, similar in most browsers) */
a {
    text-decoration: underline;
    cursor: pointer;
}

a:link {color: #0000EE;}
a:visited {color: #551A8B;}
a:active {color: #EE0000;}
/* Add your own styles for hover _and_ focus styles */
a:hover, a:focus {
  /* ... */
}
/* Remove dotted outline clicked links - Keeps outline on focus */
a:active, a:hover {
  outline: none;
}
/* No border around images in links */
a img {
  border: none;
}

/* MISC TEXT-LEVEL ELEMENTS */
/* Make quotations and references more visible */
q, cite {
  font-style: italic;
}
/* Remove automatic quotation marks for inline quotations
   (`q {quotes:none}` not implemented in WebKit) */
q:before, q:after {
  content: "";
}
/* Stopping superscript and subscript from adding to the line's leading */
sup, sub {
  line-height: 0;
}

/* FORMS */
fieldset {
  margin: 0; /* Common default is `0 2px` */
  padding: 0; /* Common default (roughly): `.35em .625em .75em` */
  border: none;
}
input, button, select {
  vertical-align: middle; /* Helps keep form elements roughly aligned */
}

/* TABLES */
table {
  border-collapse: collapse; /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
}
td, th {
  padding: 1px; /* Same as browser default - set to "0" to remove padding */
  vertical-align: top; /* Default is "middle" */
  text-align: left; /* Default for TH elements is "center" */
}
td:first-child, th:first-child {
  empty-cells: hide; /* Hide empty cells when they're the first in the row */
}
.error{border: 1px solid #d6190f !important;}
.loadIcon.error{border:none !important;}
.clear{clear:both;}
.block {display:block;}
.no-padding {padding:0 !important;}
.bottom-spacer {height:60px;}
.bottom-spacer-tall {height:100px;}
.pad-bottom-10 {padding-bottom:10px;}
.pad-bottom-20 {padding-bottom:20px;}
.pad-top-10 {padding-top:10px;}
.width-100 {width:100%;}
.big {font-size:1.2em;}

.investments td {
  min-width:65px;
}
.investments td input {
  width: 25px;
}

/* columns of same height styles */
.row-height {display: table;table-layout: fixed;height: 100%;width: 100%;}
.col-height {display: table-cell;float: none;height: 100%;}
.col-top {vertical-align: top;}
.col-middle {vertical-align: middle;}
.col-bottom {vertical-align: bottom;}

.session-timeout-block{font-size:1.8rem;text-align:center;padding-top:100px;background:none;}
#app-blanket {position:absolute;z-index: 99999;background: #FFF;top:0;left:0;width:100%;height:100%;}
.error-detail{background:#DDD;font-style: italic;padding:10px;border-radius:3px;}
#wrapper {margin: 0 auto; width:100%; height:100%;}
.header-cell {margin:15px auto;}
#header img {max-height: 120px;}
#header .logo {text-align: left;}
#header .headshot {text-align: center;}
#header .banner {text-align: right;}
#header .header-plan-name, #bottom-logos .header-plan-name {color:#666;text-transform:uppercase;text-align:right;float:right;font-size:2.4rem;}
#bottom-logos {display:none;}
#ips{position:absolute;z-index:102;top:0;left:0;font-size:1.8rem;background: transparent;color:#555;border: 1px solid #777;}
#container {width:100%;}
#container-main .content-block {position: relative; background: #EFEFEF; width:100%; float:right;}
#container-main .content-block .loader{background:transparent no-repeat center center; display: none; float: left; height: 100%; width: 100%; position: absolute; z-index:9999;top:0;}
#container-main .content-block .loader .loader-inner{width:75px;height:75px;background:#FFF;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);top:50%;left:50%;position:relative;border-radius:15px;box-shadow:0px 1px 1px #DDD, 0px -1px 1px #DDD;border:1px solid #ddd;}
#container-main .content-block .loader .loader-inner img{transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);top:50%;left:50%;position:relative;}
.container {overflow:hidden;width:100%;padding: 0;}
#container-main .content-block .content-area {position:relative;height:100%; overflow:hidden;min-height:450px;}
#container-main .content-block .content-area.text  {position:relative;padding:30px 20px;min-height:500px;/*overflow:auto;*/line-height:inherit;}
#container-main .content-block .content-area .head-title{ font-size: 2rem;}
#container-main .content-block .content-area .title {font-size:1.8rem;font-weight:normal;padding:5px 20px 0}
#container-main .content-block .content-area .col-md-4 .details input {width:85%; max-width:250px;}
#container-main .content-block .content-area .details {font-size:1.4rem;font-weight:normal;padding:10px 30px 0}
#container-main .content-block .content-area .details .option  {line-height:40px;display:block;}
#container-main .content-block .content-area .details .col { float: left;margin-right: 50px !important;}
#container-main .content-block .content-area .details .para{ color: #000; font-size: small;}
#container-main .content-block .content-area .details .slide_container{ padding-top: 10px;}
#container-main .content-block .content-area .details .slider_box{ width: 100%; border: 1px solid; padding: 5px; min-height: 42px; margin:0 10px 10px 0;}
#container-main .content-block .content-area .details .slider_box #slider {width:75%;}
#container-main .content-block .content-area .details .slider_box #incomePlanSlider{width:75%;}
#container-main .content-block .content-area .details .slider_box .slider-element{ float: left; margin-top: 8px; font-size: 1.2rem; line-height: 11px;}
#container-main .content-block .content-area .details .arrow{ height: 26px; width: 15px; float: right;margin-top:2px;}
#container-main .content-block .content-area .details .arrow div{ display: block; margin-bottom: 2px; cursor: pointer;}

#container-main .content-block .content-area .details .RP_Option { padding: 5px;}
#container-main .content-block .content-area .details .RP_Option .RPQ_txt{ float: left;margin-left: 5px;width: 90%;}
#container-main .content-block .content-area .details .RP_Option input{ float: left;}

#container-main .content-block .content-area .actions  {position:absolute; width:90%;bottom:30px;}
#container-main .content-block .content-area .actions .bottom-text{font-size: 1.1rem; margin-bottom: 30px;}
#container-main .content-block .content-area .actions .left  {float:left}
#container-main .content-block .content-area .actions .right  {float:right}

.disclosure {background:#444; width:100%; padding:15px 20px;}
.disclosure .bar{color: #FFF; font-size: 1.4rem; padding:0;}
.disclosure .bar .button{float: right; cursor: pointer;}
.disclosure .disclosure-text{display: none; word-wrap: break-word; color: #FFF; font-size: 1.2rem; text-align: left;margin-top:10px;line-height:16px;}

#container-main .navigation-block {position: relative;z-index: 101;}
#container-main .navigation-block ul li.lock, #container-main .navigation-block ul li.full-lock{color:#777;cursor:default;}

#container-main .actions .hide {display: none !important;}
#container-main .actions .show {display: block;}

#mainNav li.lock a, #mainNav li.full-lock a {cursor: default !important; color:#777 !important;}
#mainNav li.lock:hover, #mainNav li.full-lock:hover {background: transparent !important;}
#container-main .navigation-block ul li.full-lock:hover{background: transparent !important;}

#footer {width:100%;line-height:30px;}
#footer .item {display:block;font-size:1rem; font-weight:normal;text-transform:uppercase;}
#footer .item.left {text-align:left;}
#footer .item.right {text-align:right;}
#footer .item a {font-size:1rem; margin:0 16px;font-weight:normal;text-decoration:none;}
#footer select {font-size:1rem; text-transform: uppercase; text-align:center;margin:-2px 16px 0;font-weight:normal;background: inherit;border: 1px solid #fff;color:#fff;}
#footer .item .active, #footer .item a:hover {color:#FFF;font-weight:bold;}
#footer .item a.copyRight:hover{color:inherit;cursor:default;}

/******** Bootstrap Override ********/
button.close {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;cursor: pointer;padding: 0;}
.close {color: #000;float: right;font-size: 2.1rem;font-weight: 700;line-height: 1;opacity: 0.2;text-shadow: 0 1px 0 #fff;}
.popupLink{cursor: pointer;}
.highlight {color: #186D9E !important;}

/******** Dynamic Action Button CSS (2 State) ********/
#container-main .actions .actionBtn{position:relative;color:#FFF;text-decoration:none;line-height:38px;font-size:1.4rem;height:38px;cursor:pointer;display: inline-block;overflow:hidden;}
#container-main .actions .actionBtn:hover, .actionBtn:link, .actionBtn:active, .actionBtn:visited {color:#000;text-decoration:none;}
#container-main .actions .actionBtn span {float:left;height:38px;vertical-align:top;display: inline-block;padding:0 10px;}

#container-main .actions .actionBtn span.center{padding:0 15px;min-width:80px;text-align:center;overflow:hidden; -webkit-border-radius: 3; -moz-border-radius: 3; border-radius: 3px; text-decoration: none;}

#container-main .actions .actionBtn:hover span.left_end{background-position: 0px -38px;}
#container-main .actions .actionBtn:hover span.center{background-position: 0px -38px;}
#container-main .actions .actionBtn:hover span.right_end{background-position: 0px -38px;}

.smallBtn{position:relative;color:#FFF !important;text-decoration:none;line-height:19px;font-size:1rem;height:19px;cursor:pointer;display: inline-block;overflow:hidden;}
.smallBtn:hover, .smallBtn:link, .smallBtn:active, .smallBtn:visited {color:#000;text-decoration:none;}
.smallBtn span {float:left;height:19px;vertical-align:top;display: inline-block;}

.smallBtn span.left_end{background-position: 0 0;background-repeat: no-repeat;width:2px;}
.smallBtn span.center{background-position: 0 0;background-repeat: repeat-x;padding:0 3px;min-width:50px;text-align:center;overflow:hidden;}
.smallBtn span.right_end{background-position: 0 0;background-repeat: no-repeat;width:2px;}

.smallBtn:hover span.left_end{background-position: 0px -19px;}
.smallBtn:hover span.center{background-position: 0px -19px;}
.smallBtn:hover span.right_end{background-position: 0px -19px;}

/******** INVESTMENTS******************************************/
.investments {padding: 10px 20px 0 !important;}
.investments input[type="radio"] {margin:0;}
.investments .investmentType {font-size:1.4rem;padding:5px;}
.investments .investmentType .name {padding:5px 0;}
.investments .investmentType label {font-size: 1.8rem;}
.investments .investmentType .name a {padding:5px 0;text-decoration: none; margin-left:5px;}
.investments .investmentType .desc {font-size:1.2rem; padding-left:25px;color:#555;}
.investments .investmentType .suggestion {font-size:1.2rem;padding:5px 0 0 25px; color:#d6190f;}
.investments .investmentType .name .audioPanel{top:5px;}

.investments .block {float:right;font-size:1.4rem;}
.investments .block.left {background:#FFF;width:65%;height:230px;overflow: auto;padding:10px;float:left;}
.investments .block.right {width: 32%; color:black; font-size:1.4rem; padding-bottom:20px;}
.investments .fund .fundTitle {padding-bottom:5px;}
.investments .fund .fundTitle a{font-size:1.6rem; text-decoration: none;padding-left: 5px;}
.investments .fund .fundTitleSelected {font-size: 1.6rem; padding-bottom:10px;}
.investments .fund .fundRow{padding: 5px 0 5px 0;font-size:1.2rem;color:#555;text-indent: 2px;}
.investments .fund .fundRow div{float:left;}
.investments .fund .fundRow .pct{width: 15%;margin-right: 5px;}
.investments .fund .fundRow .pct input {width: 30px;}
.investments .fund .fundRow.head{color:#100 !important;}
.investments .fund .fundRow .boxHead {width: 40px !important;}
.investments .fund .fundRow .box{width: 40px !important;height: 20px;border: 1px solid #555;background: #EFEFEF;overflow: hidden;}
.investments .fund .fundRow .name{word-wrap: break-word;}
.investments .fund .fundRow .name a{text-decoration: none;color:#555;}

.investments .fund thead{font-size:1.2rem;color: #100;}
.investments .fund tbody{font-size:1.2rem;color: #555;}
.investments .fund tbody .box{width: 30px;line-height: 21px;border: 1px solid #555;background: #EFEFEF;display: inline-block;padding: 0 2px;}
.investments .popupLink i {font-size: 2rem}

.investments .smart401k_allocation_note {font-size: 1.2rem;padding-bottom:10px;}
.investments .block.left.smart401k {width:100% !important;}
.investments .block.left.smart401k .fund .fundRow .pct{width: 80px;margin-right: 10px;}
.investments .block.left.smart401k .fund .fundRow .pct input {width: 50px;}
.investments .block.left.smart401k .fund .fundRow .box{width: 50px !important;}
.investments .block.left.smart401k .fund .fundRow .boxHead {width: 50px !important;}
.investments .block.left.smart401k .fund .fundRow .name{width:400px !important;}

.investments.realignment .fund .fundRow .name{width:300px !important;}

.investments .block.right .head{color:#100;font-weight: bold;}
.investments .block.right .portfolio-name{color:#100;font-size:1.7rem;margin-top: 20px;}
.investments .block.right .desc{color:#555;font-size:1.2rem;padding:15px 0;text-align: justify;}
.investments .block.right .desc2{color:#555;font-size:1.4rem;padding:0 0;text-align: left;}
.investments .block.right .choice{color:#555;font-size:1.2rem;padding-top:12px;}
.total{margin:8px 10px 0 8px; font-size:1.2rem;}
#investments .fundFactLink, #investments .prospectusLink{text-align:center;}

.omniBlock .head{
  color: #100;
  font-weight: bold;
  font-size:1.4rem;
  margin-top:20px;
}

.omniBlock .desc{

  font-size:1.4rem;
  margin-top:10px;
}

/**************************************************************/

/******** CONTRIBUTION*****************************************/

.new_profile .title {padding: 0 0 10px !important;}
.new_profile .desc {font-size:1.3rem;}
.new_profile span.label {display: block; color:#000}
.new_profile input[type=text], .new_profile select {border: 1px solid #000; color:inherit; width:221px; margin-bottom: 8px;}

.contribution {font-size:1.2rem !important;}
.contribution select {width:115px;border:1px solid #000}
.contribution input[type='text']{border:1px solid #000;height:20px;}
.contribution .title {padding: 0 0 10px !important;}
.contribution td.text{text-align:left;}
.contribution td.value{text-align:right;padding:0;font-weight: bold;}
.contribution .name {padding:2px 0;}
.contribution .name .label{float:left}
.contribution .answer{float:right;padding:0;font-weight: bold;}
.contribution .desc {font-size:1.2rem; color:#333; padding-bottom: 10px;}
.contribution .ACAoptOutNotice {display:none;font-weight:bold;color:#d6190f;margin-top:-10px;}
.contribution .tax .label {font-size:1.2rem; color:#333;padding-top:10px;}
.contribution .slide_container {float:left;padding-top:0 !important; width: 82%;}
.contribution .slider_box {width:auto !important; border:none !important;margin: 0 2px; height: 22px !important; }
.contribution .slider_box .slider-element {margin-top: 5px !important; }
.contribution .cont_pct {margin-top:-10px;}
.contribution .cont_dlr {padding-top:5px;}
.contribution .cont_dlr input{ width:145px;}
.contribution .cont_pct .pctValue {float:right;}
.contribution .cont_pct .note {float:right; padding-right: 20%;height:10px;font-size: 1.1rem;}
.contribution .cont_pct .note span{padding-left:10px;}
.contribution .cont_pct .pctValue input {width:45px !important; height:25px !important;text-align: center}
.contribution .graph-bar {background:#FFF;color: #FFF; height: 215px; border:1px solid #555; margin-bottom:10px; padding:10px;}
.contribution .graph-bar div.amt {font-size: 1.4rem;font-weight:bold;line-height:30px}
.contribution .graph-bar div.name {font-size: 1.2rem;font-weight:normal; padding: 2px 5px;color: #000;text-align: center;font-weight: bold;}
.contribution .divider {height:1px;margin:8px 0;background:#888;}
.contribution .alert {color:#d6190f;font-size:1.1rem;padding-top:5px;text-align: center;}

.catchup_option {float:right; padding:10px;}
.catchup_option input[type=radio] {vertical-align: top !important;}

#total_bar {overflow: hidden;text-align: center;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
#target_bar {overflow: hidden;text-align: center;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}

#total_bar .match, #total_bar .savings{overflow:hidden;} 
#total_bar .savings{background: rgba(0,0,0,0.3);}
#total_bar .savings tbody{  width: 100%;display: table;height:100%;}
#total_bar table {height: 100%;width: 100%;}
#total_bar td {text-align: center;vertical-align: middle;}
.contribution .total_amt, .contribution .target_amt {color:#000;text-align: center;font-weight: bold;}
.contribution .total_amt {margin-right: 10px;}
.contribution .hint{vertical-align: top;}
.contribution .error, .contribution input.error{border: 1px solid #d6190f;}
.contribution #yearly_pay {width:100px;padding:2px 5px;}
.contribution table.selector {width:100%;}
.contribution .left-cell {width:64%; padding-bottom:8px;}
.contribution .right-cell {width:36%; padding-bottom:8px;}
#container-main .content-block .content-area .details .slider_box #slider1,
#container-main .content-block .content-area .details .slider_box #slider2,
#container-main .content-block .content-area .details .slider_box #slider3
{
    width:100%;
}
.contribution .graph-bar .bar-chart {width:100%;}

/**************************************************************/

/******** MY PROFILE *****************************************/
.profile {padding:20px 0 !important;}
.profile .left{float:left;}
.profile .right{float:right;}
.profile .divider {height:1px;margin:15px 0;background:#888;}

.profile .profileBox {background: #FFF;padding:10px;border: 1px solid;overflow: auto;}
.profile .profileBox .profileHeader {padding-bottom:25px;}
.profile .profileBox .profileHeader .logo {}
.profile .profileBox .profileHeader .headtitle {font-size:2.2rem;color:#555; font-weight: bold;}
.profile .profileBox .profileHeader .headtitle .date{font-size:1.2rem;color:#666; font-weight: normal;}
.profile .profileBox .popupSpousalWavierForm {cursor: pointer;}

.profile .reportBox {font-size:1.2rem;color:#100}
.profile .reportBox .item {font-size:1.3rem;color:#333}
.profile .reportBox .itemRed {font-size:1.3rem;color:#F00}
.profile .boxTitle{font-size: 1.5rem;font-weight: bold;margin-bottom: 5px;text-transform: uppercase;color: #666; }
.profile .rowDark{background-color: #E4E4E3;padding:10px 10px;}
.profile .rowLight{background-color: #F2F1F1;padding:10px 10px;}

.profile .fundRow{padding: 2px 0 2px 10px;font-size:1.2rem;color:#100;}
.profile .fundRow div{float:left;}
.profile .fundRow .pct{width: 56px;padding-right: 10px;}
.profile .fundRow .name{}
.profile .info {color:#333;padding:5px;min-height:25px;}
.profile .reportBox .info a {color:inherit;text-decoration: none;}

body.report{background:#EEE;}
.profile .profileBox.report {background: #FFF;max-height: 100%;width:800px;margin:0 auto;border:1px solid #CCC;padding:20px;max-width:100%;}
.profile .profileBox.report table{font-size:1.2rem !important;}
.omniEmailTxt{font-size:1.6rem !important;margin-top:5px !important;padding:5px 10px !important;border:#CCC solid 1px !important;width:300px !important;max-width:100%;}

.rolloverHeadTitle{color: #757575;font-size: 2.4rem;line-height: 32px;}
.rolloverDetails{min-height:80px;padding-bottom:10px;}
.rolloverInput{min-height:60px;}
.rolloverPhoneNumber{color: rgba(0,0,0,0.87);font-size: 2.5rem;font-weight: 500;line-height: 20px;}
.rolloverNote{color: rgba(0,0,0,0.38);font-family: Roboto;font-size: 1.2rem;line-height: 16px;}
/**************************************************************/

/******** Beneficiary Updates *****************************************/
.beneficiary .title {padding: 0 0 10px !important;}
.beneficiary .desc {font-size:1.3rem;}
.beneficiary .desc .note {color:#333; padding-bottom: 10px;}
.beneficiary .element {float: left;margin: 10px 20px 0 0;}
.beneficiary .element.actions {position: relative !important;width: auto !important;bottom: 0 !important;left:30px;}
.beneficiary .element.actions .center {min-width: inherit !important;}
.beneficiary .element label {display: block; color:#000}
.beneficiary .element input, .beneficiary .element select {border: 1px solid #000; color:inherit}

#beneficiary-list {margin-top:20px;height:70px; overflow: auto}
#beneficiary-list table {width:100%;text-indent: 5px;color:#FFF;font-size: 1.2rem; font-weight: bold; }
#beneficiary-list table tr {border-bottom: 2px solid;}
#beneficiary-list .action {width:40px;}
.beneficiary .divider {height:1px;margin:20px 0 5px;background:#888;}
.beneficiary .instruction {font-size:1.1rem;color:#333; padding-bottom: 5px;}
.beneficiary .pdf {position:relative;z-index: 2;background: url(/spe/images/global/global/pdf.png) no-repeat left center; padding-left:35px; height:32px; line-height: 32px; font-size:1.2rem;font-weight: bold;color:inherit;display: inline-block;text-decoration: none;}
#spousalWavierModal .address-block{margin-top:20px;}
#spousalWavierModal .address-block p{margin:0;}
#spousalWavierModal.pro-modal button.proceed, #spousalWavierModal.pro-modal button.back{display: none;}
#spousalWavierModal.ben-modal button.dismiss{display: none;}
/**************************************************************/

/******** PROFILE Updates *****************************************/
.profileUpdates .updateModule{float:left;width:325px;margin:10px;}
.profileUpdates .loadIcon {float:left;height: 63px;width: 61px;}
.profileUpdates .wait{background-image: url(/spe/images/global/waiting.png);background-repeat: no-repeat;}
.profileUpdates .update{background-image: url(/spe/images/global/loadingBg.png);background-repeat: no-repeat;}
.profileUpdates .confirm{background-image: url(/spe/images/global/confirmation.png);background-repeat: no-repeat;}
.profileUpdates .error{background-image: url(/spe/images/global/error.png);background-repeat: no-repeat;}
.profileUpdates .success-error{background-image: url(/spe/images/global/success_error.png);background-repeat: no-repeat;}
.profileUpdates .spin{display:none;padding-top: 14px;}
.profileUpdates .updateTitle{font-size:1.6rem;}
.profileUpdates .updateMessage{float:left;margin-top: 0;margin-left: 8px;font-size:1.2rem;}
.profileUpdates .updateMessage ol /*, .report .reportBox ol */ {margin: 0;padding: 0 0 0 0; list-style: none;}
/**************************************************************/

/******** Disclaimer *****************************************/
#container-main .content-block .content-area .disclaimer { padding:10px 30px;}
#container-main .content-block .content-area .disclaimer .disclaimer-text{max-height: 180px; border: 1px solid; overflow: auto; color: #000; font-size: 1.3rem; padding:10px; margin: 10px 30px; text-align: justify;}
/**************************************************************/

/******** Library*****************************************/
.library-video  .desc {font-size:1.6rem; color:#555;padding:20px 0;text-align: justify;}
/**************************************************************/

/******** XML Log*****************************************/
#debug-xml .xml fieldset {padding: 10px;border: 1px solid #555; color:#100;}
#debug-xml .xml fieldset legend {color:blue;}
/**************************************************************/

/******** Pages *****************************************/
.contact .label {font-weight: bold;padding-right:20px;}
.page-static {color:#000;}
.page-static .title {padding:0 0 20px 0 !important;font-size: 1.5rem;}
.page-static .headline {padding:0 2px; font-size: 1.2rem; font-weight: bold;}
.page-static .story {padding:0 0 15px 0; font-size: 1.2rem;}
/*********************************************************/

/******************* Jquery UI CSS *********************/
.ui-datepicker.ui-widget {font-size: 1.1rem !important}
/*******************************************************/

/******************* Audio Player CSS *********************/
.audioPanel{position: absolute;top:0;left:20px;width:52px;height:22px;cursor: pointer; display: none;  background: #003377;}
.audioPanel .audio-icon{background: url(/spe/images/global/audio-control.png) 0 0 no-repeat;width:16px;height:12px;margin: 5px 5px;display: inline-block;}
.audioPanel .audio-loading{background: url(/spe/images/global/audio_loading.gif) left center no-repeat;width:12px;height:22px;margin: 0 5px;display: inline-block;}
.audioPanel .audio-play{background: url(/spe/images/global/audio-control.png) 0 -12px no-repeat;width:7px;height:10px;margin: 6px;display: inline-block;}
.audioPanel .audio-pause{background: url(/spe/images/global/audio-control.png) -7px -12px no-repeat;width:7px;height:10px;margin: 6px;display: inline-block;}
.playAudio{position: relative !important;padding: 0 !important;left:0;background-position: top center; height:20px !important;display: inline-block}
.video-icon{background: url(/spe/images/global/video.png) left bottom no-repeat;width:16px;height:16px;margin: 0px 5px;display: inline-block;padding-left:0px;}
/*******************************************************/

/******************* Model Popup ***********************/
.popupTxt{padding:10px 0;text-align:center;font-size: 1.4rem;}
.popupTxt a{text-decoration: none;}
/*******************************************************/

/******************* Processing Model Popup ***********************/
#colorbox .cbLoadBox{width:400px;padding-top:23px;}
#colorbox .cbLoadBox .title {background:#ccc;color: #444;position: absolute;top:0;left:0;width:400px;padding: 5px 10px;font-size: 1.8rem;text-align: left;}
#colorbox .cbLoadBox .cbody {color: #000;font-size: 1.4rem;text-align: center;padding:35px 0 0;}
/*******************************************************/
.testing-mode {color: #fff;font-size: 1.6rem;font-weight: bold;left: 0;line-height: 20px;padding: 0 15px;position: absolute;text-align: center;top: 0;z-index: 99999;}

/********************************************************/
/* --- Lipstick --- */
/********************************************************/

body {
	font-family:'Roboto', sans-serif;
	line-height:1.25;
}

input {
	vertical-align: baseline;
}

#container-main .content-block .content-area .title {
	padding:10px 0 0 0;
}

#container-main .content-block .content-area .head-title {
	padding:8px 0 0 0;
}

#container-main .content-block .content-area .details {
	padding:10px 0 0 0;
}

.content-block .content-area .disclaimer {
	margin-top:20px;
}

#container-main .content-block .content-area .disclaimer .disclaimer-text {
	margin:20px auto;
	padding:0 10px;
}

input[type=text]#q1,
input[type=text]#q2,
input[type=text]#q3,
input[type=text]#q3p,
input[type=text]#q4,
input[type=text]#q5a,
input[type=text]#q6a,
input[type=text]#q6b,
input.normal,
select.normal,
.new_profile input[type=text],
.new_profile select,
input[type=number]#retirement_age,
input[type=number]#life_expectancy
{
	padding:10px;
	font-size:1.8rem;
	border:1px solid;
	border-radius:5px;
}

input[type=number]#retirement_age,
input[type=number]#life_expectancy{
    width:180px;
    margin-left:10px;
}

#new_profile_frm {
	margin-top:0;
}

.RP_Option label {
	font-size:1.8rem;
}

#container-main .content-block .content-area .total_asset#q6c {
	font-size:1.8rem;
	font-size:2.2rem;
	margin:0;
	margin-top:5px;
	color:#000;
}

.rn_results_display {
	font-size:1.8rem;
}

.rn_results_display span {
	display:inline-block;
	width:60%;
}

.rn_results_display span.display_value {
	width:auto;
	text-align:right;
	width:35%
}

#container-main .content-block .content-area .details.investments {
	/* padding:0 !important; */
	padding: 0 0 35px 0 !important;
}

input[type=radio][name=investment] {
	margin-right:10px;
	position: relative;
	top:-2px;
}

.contribution .graph-bar {
	border:none;
}

.contribution input[type='text'] {
	border: 1px solid;
	padding: 5px;
	border-radius: 5px;
	position: relative;
}

/* --- END Lipstick --- */


/* --- Always show video control bar --- */

#vwise-video_controlbar {
  display:inline-block !important;
  opacity:1 !important;
}

#vwise-video_controlbar .jwgroup.jwcenter {
	left:105px !important;
	right:100px !important;
}

/****** JW Player Caption position ******/
.jwcontrols .jwcaptions > div {bottom:40px !important;}

/* --- Remove white bar below video --- */

.video {
	line-height:0.7;
}


.mStarMenu {display: none}
.SPEMenu {display: block}

.top-buffer{margin-top:15px;}


/* --- Calender --- */
.personal #calander select{margin-right:6px;padding:10px 5px;}
.personal #calander select[name=month]{width:100px !important;}
.personal #calander select[name=day]{width:65px !important;}
.personal #calander select[name=year]{width:75px !important;}

/* audio player */
#vwise-audio {overflow: hidden;width:0 !important;;height:0 !important;}
#vwise-audio_controlbar{display: none !important;}
#vwise-audio_wrapper{display: block;width:0 !important;;height:0 !important;}
.content-area{ line-height: 0.7 }
.content-area .text{ line-height: 1.25 !important; }

/**** Modal Style *****/
.modal{z-index:9999;}
.modal h4{font-size:1.8rem !important;font-weight:normal !important;}
.modal .modal-body{font-size:1.3rem !important;line-height:1.42857 !important;}

/**** Personal Style *****/
.personal .details .title{font-size:1.4rem !important;line-height:24px !important;}
.personal input[type=text], .personal select{width:252px;}
.personal.full input[type="text"], .personal.full select {width: 100%;}
.personal .required-field-note {padding-top:30px;font-size: 1.4rem;font-weight: bold;}

.navbar-inverse .navbar-nav > li > a{background-color:transparent !important; }

/**** Beneficiary Style *****/
.action-top{position:relative !important;top:-32%;width:auto !important;}
.beneficiary .action-top .notification h2{margin:0;line-height:32px;}
.beneficiary-add input,.beneficiary-add select{border: 1px solid #bbb;border-radius: 3px;height: 30px;margin: 5px 0 10px;padding: 5px;width: 100%;}
.beneficiary-add input[type=checkbox]{width:auto;height:auto}
.beneficiary-add .cols{padding:0 30px;}
.beneficiary .table-wrapper{margin-top:28px;}
.beneficiary .table-wrapper .table-header{ border: 1px solid #ddd;font-weight: bold;padding: 4px 0;background:#e5e5e5;}
.beneficiary .table-wrapper .table-header .row{margin:0;}
.beneficiary .table-wrapper .table-body{ max-height: 230px;overflow-x: hidden;overflow-y: auto;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.beneficiary .table-wrapper .table-body .row{border-bottom:1px solid #ddd;margin:0;}
.beneficiary .table-wrapper .table-body .row .cols{padding:5px 15px;color:#333;}
.beneficiary .table-wrapper .table-body .action span{cursor:pointer;margin-right:10px;}
.beneficiary .instruction{font-size:1.3rem;margin-top:15px;}

/**** SF Toolbar ****/
.sf-toolbarreset .sf-toolbar-block.rkp .sf-toolbar-info legend {font-size: 1.2rem;font-weight: bold;margin: 5px 0 0;}
.sf-toolbarreset .sf-toolbar-block.rkp .sf-toolbar-info textarea {background: none;width:400px;height:160px;border: 1px solid #aaa;}


/**** mStar Style ****/
.mStarPrivacyPolicy{max-height:400px;overflow:auto;overflow-x:hidden;padding:20px 25px;}
.mStarPrivacyPolicy > .row{margin-bottom:20px;border:#CCC solid 1px;padding:10px 0;border-radius:3px;}

.profileInfo .rightBlock{background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 9%, #f1f1f1 46%, #e1e1e1 100%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#ffffff), color-stop(46%,#f1f1f1), color-stop(100%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 9%,#f1f1f1 46%,#e1e1e1 100%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 9%,#f1f1f1 46%,#e1e1e1 100%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 9%,#f1f1f1 46%,#e1e1e1 100%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 9%,#f1f1f1 46%,#e1e1e1 100%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px #bbb;
    margin-bottom:10px;
    margin-top:10px;
    padding:10px 0;
}
.profileInfo table{margin-bottom:10px;}
.profileInfo .rightBlock table{margin:0;}
.profileInfo .rightBlock table td{border:none;}
.profileInfo input[type="text"], .profileInfo label, .profileInfo select{display:none;}
.profileInfo input[type="text"], .profileInfo select{border:1px solid #ddd;border-radius:2px;padding:0 3px;width:180px;}
.profileInfo table td{vertical-align:middle !important;padding:1px 0 !important;border:none !important;height:25px;}
.profileInfo .mstar_contribution .number{width:80px;}
.profileInfo .leftInfoBlock .rightBlock{padding:0;margin-top:0;}
.profileInfo .leftInfoBlock.large td{height:35px;}
.profileInfo .leftInfoBlock.large input, .profileInfo .leftInfoBlock.large select{padding:2px 5px;}

.assetMix .arrow-link{margin-top:30px;}
.assetMix .arrow-link a{color:#222;text-decoration:none;}
.assetMix .riskLevel table, .reviewDetails .riskLevel table{margin-bottom:5px;}
.assetMix .riskLevel table td, .reviewDetails .riskLevel table td{border-color:#AAA;padding:4px;}
.assetMix .riskLevel table td.fill, .reviewDetails .riskLevel table td.fill{background:#555;}
.assetMix .riskLevel .capsWrapper .capLeft, .reviewDetails .riskLevel .capsWrapper .capLeft{width:50%;float:left;font-size:1.2rem;}
.assetMix .riskLevel .capsWrapper .capRight, .reviewDetails .riskLevel .capsWrapper .capRight{width:50%;float:right;font-size:1.2rem;}
.reviewDetails .chart-wrap,.assetMix .chart-wrap{text-align:center;}

.privacyPolicyModal .modal-body{padding:0;}

.complete-methodology-modal .modal-body{padding:0;padding-bottom:30px;}
.complete-methodology-modal .modal-body iframe{border:none;height:450px;width:100%;border-bottom:#DDD solid 1px;}

.numberfix input {
  position:absolute;
font-size:2.2rem !important;
  
}

.total_asset {
margin-bottom:3%;
}

.plan_bal:nth-child(2) {
font-size:2.2rem !important;
}

/**** CSS: APP HEIGHT BASED ON IFRAME MAX HEIGHT ********************************/
/*
html, body{height: 100%;width:100%;}
.navbar-inverse{background: #fff;margin: 0;}
.container-fluid {height: 100%;margin: 0;padding: 0;}
.row {margin: 0}
#container-main .content-block .content-area {min-height: inherit;}

.disclaimer {height:60%}
.disclaimer .disclaimer-text {height:100%; min-height: 100%; overflow: auto;}
.profile {height:85%;}
.profile .profileBox {height:100%; overflow: auto;}
.page-static {height: 100%;}
.page-static .page-box  {height: 90%;overflow: auto;}

@media (min-width:768px) {
  #spe-container, #spe-container .container, #container-main .content-block, .library-container, .library-video, .fillH{height:100%; min-height: 100%;}
  .content-area .jwplayer, #vwise-video_wrapper{height:100% !important; min-height: 100% !important}
}

@media (max-width:767px) {
  #container-main {height: auto !important;min-height: inherit !important;}
}
*/

/*********** REMOVE BELOW 2 LINES TO APPLY APP HEIGHT TO IFRAME MAX HEIGHT ******/
.container-fluid{margin:0;padding:0;overflow: hidden;}
.navbar-inverse{background: #fff;}
/********************************************************************************/
.disabledButton
{
    background-color:#cce6ff !important;
    color:white;
    cursor:not-allowed;
}
.hr,hr{
width: 100%; height: 10px; border-bottom: 2px solid rgb(110, 110, 110); text-align: center;vertical-align: middle;
}
.btn-primary-at {
	color: #fff;
	background-color: #BA9765;
	border-color: #ccc;
}
.btn-primary-at:hover, .btn-primary-at:focus, .btn-primary-at.focus, .btn-primary-at:active, .btn-primary-at.active, .open>.dropdown-toggle.btn-primary-at {
	color: #fff;
	background-color: #E3B678;
	border-color: #ccc;
}
.btn-primary-at:active, .btn-primary-at.active, .open>.dropdown-toggle.btn-primary-at {
	background-image: none
}
.btn-primary-at.disabled, .btn-primary-at[disabled], fieldset[disabled] .btn-primary-at, .btn-primary-at.disabled:hover, .btn-primary-at[disabled]:hover, fieldset[disabled] .btn-primary-at:hover, .btn-primary-at.disabled:focus, .btn-primary-at[disabled]:focus, fieldset[disabled] .btn-primary-at:focus, .btn-primary-at.disabled.focus, .btn-primary-at[disabled].focus, fieldset[disabled] .btn-primary-at.focus, .btn-primary-at.disabled:active, .btn-primary-at[disabled]:active, fieldset[disabled] .btn-primary-at:active, .btn-primary-at.disabled.active, .btn-primary-at[disabled].active, fieldset[disabled] .btn-primary-at.active {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary-at .badge {
	color: #337ab7;
	background-color: #fff
}
