{% set pagename = "Fund Settings" %}
{% extends 'SharedInvestmentsBundle:Default:funds.html.twig' %}
{% set pagetype = "settings" %}

{% block globalvariables %}
var pagetype = "settings";
{% endblock %}

{% block fundorderurl %}{{ path('_settings_investments_fundreorder') }}{% endblock %}

{% block portfolioorderurl %}{{ path('_settings_investments_portfolioreorder') }}{% endblock %} 