{% set pagename = "Settings - Investments/Reorder Portfolios" %}
{% set parentPage = "_settings_investments" %}
{% extends 'SharedInvestmentsBundle:Default:reorderportfolio.html.twig' %}

{% block globalvariables %}
var pagetype = "settings";
{% endblock %}