{% set extraparameters = ",editurl:'" ~ path('_settings_investments_riskBasedFunds_edit') ~ "',deleteurl:'" ~  path('_settings_investments_riskBasedFunds_delete') ~ "'"%}
{% set addurl = path('_settings_investments_riskBasedFunds_add') %}
{% set findby = "a.userid" %}
{% set findbyvalues = investments.userid  %}
{% set table = "defaultRiskBasedFunds" %}
{% extends 'SharedInvestmentsBundle:Default:riskbasedfunds.html.twig' %}

