{% set pagename = "Settings - Investments/Portfolio Funds" %}
{% set parentPage = "_settings_investments" %}
{% extends 'SharedInvestmentsBundle:Default:setportfoliofunds.html.twig' %}

{% block globalvariables %}
var pagetype = "settings";
{% endblock %}