{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Translations'})) }}

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li role="presentation" {% if isDefault %}class="active"{% endif %}><a href="{{ path('_manage_translations_default') }}">Default</a></li>
  <li role="presentation" {% if isAccount %}class="active"{% endif %}><a href="{{ path('_manage_translations_accounts') }}">Account</a></li>
    <li role="presentation" {% if isPlan %}class="active"{% endif %}><a href="{{ path('_manage_translations_plans') }}">Plan</a></li>
</ul>

<form class="form-inline" action="{{path('_manage_translations_search')}}" method="POST" style="margin-bottom:20px;" id="translationSearchForm">
    <input type="hidden" id="isDefault" name="isDefault" value="{{ isDefault ? "1" : "0" }}">
    <input type="hidden" id="isAccount" name="isAccount" value="{{ isAccount ? "1" : "0" }}">
    <input type="hidden" id="isPlan" name="isPlan" value="{{ isPlan ? "1" : "0" }}">
    <div class="form-group" {% if isDefault %}style="display:none;"{% endif %}>
        <label for="accountId">Account:</label>
        <select class="form-control" name="accountId" id="accountId">
            {% for account in accounts %}
                <option value="{{account.id}}">{{account.company}} (ID: {{account.id}})</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group" {% if not isPlan %}style="display:none;"{% endif %}>
        <label for="planid">Plan:</label>
        <select class="form-control" name="planid" id="planid">
            {% for plan in plans %}
                <option value="{{plan.id}}">{{plan.planid}} (ID: {{plan.id}})</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="sourceKeySearch">Key:</label>
        <input type="text" class="form-control" id="sourceKeySearch" name="sourceKey">
    </div>
    <div class="form-group">
        <label for="domainSearch">Domain:</label>
        <input type="text" class="form-control" id="domainSearch" name="domain">
    </div>
        <div class="form-group">
        <label for="contentSearch">Content:</label>
        <input type="text" class="form-control" id="contentSearch" name="content">
    </div>
    <button type="button" class="btn btn-primary" onclick="submitSearch()">Search</button>
</form>
<div class="table-responsive">
<table id="translationsTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:1%">Id</th>
            <th style="width:1%">Key</th>
            <th style="width:1%">Domain</th>
            {% for language in languages %}
            <th class="languageColumn">{{ language.description | capitalize }}</th>
            {% endfor %}
            {% if isAccount or isPlan %}
                <th style="width:1%">Parent</th>
            {% endif %}
        </tr>
    </thead>
</table>
</div>
<button class="btn btn-primary" type="button" onclick="ajaxModal('{{ path('_manage_translations_sources_add') }}','Add New Source')">
    Add New Source
</button>
<button class="btn btn-info" type="button" onclick="exportCsv();">
    Export to CSV
</button>  
    
<script>
    $(function() {
        {% if isPlan %}
        $('#accountId').change(function(e) {
            $('#translationsTable_processing').show();
                $.post( "{{ path('_manage_translations_plans_get') }}", { userid : e.target.value }).done(function( html )
                {
                    $('#translationsTable_processing').hide();
                    $("#planid").empty().append(html);
                });

        });
        {% endif %}

        dataTable = $('#translationsTable').DataTable( 
        {
            "processing": true,
            "serverSide": true,
            "ajax": 
            {
                "url": "{{ path('_manage_translations_search') }}",
                "type": "POST",
                "data": function(d) {
                    d.accountId = $("#accountId").val(),
                    d.planid = $("#planid").val(),
                    d.sourceKey =  $("#sourceKeySearch").val(),
                    d.domain = $("#domainSearch").val(),
                    d.isDefault = $("#isDefault").val(),
                    d.isAccount = $("#isAccount").val(),
                    d.isPlan = $("#isPlan").val(),
                    d.content = $("#contentSearch").val()
                }
            },
            "dom": 'rltip',
            columns: [
                { data: "id" },
                { data: "sourceKey" },
                { data: "domain" },
                {% for language in languages %}
                    { 
                        data: "translations", 
                        orderable:false,
                        render: function(data, type, full, meta) {
                            if (data[{{language.id}}] == null) {
                                var display = '<span class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>None</span>';
                                display += '<button type="button" class="btn btn-danger btn-xs pull-right" onclick="ajaxModal(';
                                display += "'{{path('_manage_translations_add')}}?languageId={{language.id}}&sourceId="+full.id+"','Create Translation'";
                                display += ')">Create</button>';
                                return display;
                            }
                            var display = '<button type="button" class="btn btn-warning btn-xs pull-right" onclick="ajaxModal(';
                            display += "'{{ isAccount ? path('_manage_translations_accounts_edit') : ( isPlan ? path('_manage_translations_plans_edit') : path('_manage_translations_default_edit'))}}?id="+data[{{language.id}}].id+"','Edit Translation'";
                            display += ')">Edit</button>';
                            display += $('<div/>').text(data[{{language.id}}].content).html();
                            return display;
                        }
                    },
                {% endfor %}
                {% if isAccount or isPlan %}
                {
                    data: "id",
                    render: function(data, type, full, meta) {
                        var display = '<button type="button" class="btn btn-info btn-xs" onclick="ajaxModal(';
                        display += "'{{ isAccount ? path('_manage_translations_accounts_getparent') : path('_manage_translations_plans_getparent')}}?id="+data+"&accountId="+$("#accountId").val()+"','Show Parent Translation'";
                        display += ')">View Parent</button>';
                        return display;
                    }
                }
                {% endif %}
            ],
            "oLanguage":
            {
                "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />'
            }
        });
        
    });
    function submitTranslationSource() {
        $.ajax({
            url: '{{path('_manage_translations_sources_save')}}',
            type: 'POST',
            data: $("#translationSourceForm").serialize() + '&accountId=' + $("#accountId").val() + '&isAccount=' + $("#isAccount").val(),
            success: function (data) {
                if (data === "sourceExists") {
                    showalert("sourceExists");
                }
                if (data === "success") {
                    dataTable.ajax.reload();
                    $('#ajaxModule').modal('hide');
                }
            }
        });
        return true;
    }
    
    function submitTranslation() {
        
        $.ajax({
            url: '{{ isAccount ? path('_manage_translations_accounts_save') : ( isPlan ? path('_manage_translations_plans_save') : path('_manage_translations_default_save')) }}',
            type: 'POST',
            data: $("#translationForm").serialize() + '&accountId=' + $("#accountId").val() + '&planid=' + $("#planid").val(),
            success: function (data) {
                if (data === "success") {
                    dataTable.ajax.reload(null, false);
                    $('#ajaxModule').modal('hide');
                }
            }
        });
        return true;
    }

    function deleteTranslation(sourceId, languageid) {

        $.ajax({
            url: '{{ isAccount ? path('_manage_translations_accounts_gettranslation') : path('_manage_translations_plans_gettranslation') }}',
            type: 'POST',
            data: { 'sourceId': sourceId, 'accountId' : $("#accountId").val(), 'languageid' : languageid },
            success: function (data) {
                if(confirm("\nDomain: " + data['domain'] + "\nKey: " + data['key'] + "\nLanguage: " + data['language'] + "\nSource: " + data['source'] +
                        "\n\nDeleting this entry will revert this translation to:\n\"" + data['content'] + "\"")) {
                    $.ajax({
                        url: '{{ isAccount ? path('_manage_translations_accounts_delete') : path('_manage_translations_plans_delete') }}',
                        type: 'POST',
                        data: $("#translationForm").serialize(),
                        success: function (data) {
                            if (data === "success") {
                                dataTable.ajax.reload(null, false);
                                $('#ajaxModule').modal('hide');
                            }
                        }
                    });
                }
            }
        });
        return true;
    }
    
    function submitSearch() {
        dataTable.ajax.reload();
        return false;
    }
    
    function exportCsv() 
    {
        $("#translationSearchForm")
            .attr('target','_blank')
            .attr('action', '{{path('_manage_translations_search', {export:1})}}')
            .submit()
            .attr('target','_self')
            .attr('action', '{{path('_manage_translations_search')}}')
    }

</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}