
{% for language in languages %}
    <div>
        <p>Parent translation for: <b>{{ language.description }}</b> (from: {{ source }})</p>
        <p>"{{ parentTranslations[language.id] }}"</p>
    </div>
    <br>
{% endfor %}