<script>
    $(function() {
        $('#translationForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitTranslation();
        });
    });
</script>
<form data-toggle="validator" action="" method="POST" id="translationForm" onsubmit="">
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="languageId" value="{{language.id}}">
    <input type="hidden" name="sourceId" value="{{translationSource.id}}">
    <input type="hidden" name="accountId" value="{{ accountId is defined ? accountId : '' }}">
    <input type="hidden" name="id" value="{{ translation is defined ? translation.id : ''}}">
    <div class="form-inline">
        <div class="form-group">
            <label>Domain:</label>
            <p class="form-control-static" style="padding-top:0;padding-bottom:0;">{{translationSource.domain}}</p>
        </div>
        <div class="form-group">
            <label>Key:</label>
            <p class="form-control-static" style="padding-top:0;padding-bottom:0;">{{translationSource.sourceKey}}</p>
        </div>
        <div class="form-group">
            <label>Language:</label>
            <p class="form-control-static" style="padding-top:0;padding-bottom:0;">{{language.description|title}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" rows="3" name="content">{{ translation is defined ? translation.content|e : '' }}</textarea> 
    </div>
    <button type="submit" id="save-btn" class="btn btn-primary">Save</button>
    {% if action == 'edit' and translation.accountId is defined %}
    <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>
    {% endif %}
</form>

<script>
    $('#delete-btn').click( function () {
        deleteTranslation({{ translationSource.id }}, {{ language.id }});
    });
</script>