<script>
    $(function() {
        $('#translationSourceForm').bootstrapValidator({
            feedbackIcon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            submitTranslationSource();
        });
    });
</script>
{{ include("TemplatesTemplatesBundle:Default:alert.html.twig", {alertId:"sourceExists",alertType:"danger",glyphicon:"remove",alertContent:"This key and domain already exists"}) }}   
<form data-toggle="validator" action="" method="POST" id="translationSourceForm">
    <input type="hidden" name="action" value="add">
    <div class="form-group">
        <label for="sourceKey">Key</label>
        <input type="text" class="form-control" id="sourceKey" name="sourceKey" value="" required/>
    </div>
    <div class="form-group">
        <label for="domain">Domain</label>
        <input type="text" class="form-control" id="domain" name="domain" value="" required/> 
    </div>
    
    
    <div>
        
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
            {% for language in languages %}
                <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                    <a href="#tab_translation_{{language.id}}" aria-controls="tab_translation_{{language.id}}" role="tab" data-toggle="tab">
                        {{language.description}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for language in languages %}
                <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="tab_translation_{{language.id}}" style="min-height:0;">
                    <div class="form-group">
                        <label for="translation_{{language.id}}">Content</label>
                        <textarea class="form-control" rows="3" id="translation_{{language.id}}" name="translation[{{language.id}}]"></textarea> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" id="save-btn" class="btn btn-primary">Save</button>
</form>