{% if user is not null %}
<div class="alert alert-warning" role="alert">Logging in as {{ user.firstname}} {{ user.lastname }} ({{ user.email }})?</div>

<button type = "button" class = "btn btn-primary"  onclick = "loginas('{{ user.id }}')">Proceed</button>
{% else %}
User does not exist
{% endif %}


