
{% set tablename = "plans" %}
{% set table = "plans" %}
{% set findby = "a.userid,^a.deleted" %}
{% set findbyvalues = userid ~ ",0" %}
{% set types = "a.id,a.name,a.planid" %}
{% set header = "<th>Id</th><th>Plan Name</th><th>Plan Id</th><th><a href = \"javascript:togglePlansOn()\">On</a>/<a href = \"javascript:togglePlansOff()\">Off</a></th>" %}
{% set unsearchableArray = [3] %}

{% set template = "AccountAccountBundle:Search:planlist.html.twig" %}

{% include('classesclassBundle:Search:searchdatatables.html.twig') %}	

{{ include('AccountAccountBundle:Default:javascript/setadviserplans.js.twig') }}

