<button class ="btn btn-primary" type ="submit" onclick ="unlockUser()">Confirm</button>
<script>
function unlockUser()
{
    var page = "{{ path('_account_user_unlockUser_saved') }}";
    var params = { id:  "{{ app.request.query.get("id") }}" };
    $.post(page, params).done(function(data) 
    {
        redrawUsers();
    });
} 
</script>
{{ include('AccountAccountBundle:Default:javascript/index.js.twig') }}    