<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% if pagename is defined %}
    <title>Smartplan Admin | {{ pagename }}</title>
    {% endif %}
    <!-- cuong --> 
    <!-- third party css files = bootstrap core css + kendo components css -->
    <link href="{{ asset('css/bootstrapadmin1.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrapValidator.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-duallistbox.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.timepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">
    <link href="{{ asset('css/cmxform.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('//cdn.datatables.net/1.10.6/css/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css') }}" rel="stylesheet">
    <!-- third party javascript files = query + bootstrap + kendo -->
    <link href="{{ asset('css/customadmin1.css') }}?time={{ date().timestamp }}" rel="stylesheet">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/bootstrap-colorpicker.min.css') }}" />
    <script src="{{ asset('js/lib/jquery.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('js/lib/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.bootstrap-duallistbox.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrapadmin1.min.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrapValidator.min.js') }}"></script>  
    <script src="{{ asset('js/lib/jquery.timepicker.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('js/lib/ie10-viewport-bug-workaround.js') }}"></script>
     <!-- custom global static javascript -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- custom third party javascript/non framework -->
    <script src="{{ asset('js/lib/jquery.html5-placeholder-shim.js') }}"></script>
    <!-- custom javascript/admin custom code -->
    <script src="{{ asset('js/global.js') }}?time={{ date().timestamp }}"></script>
    <script src ="{{ asset('//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js') }}"></script>
    <script src ="{{ asset('//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js') }}"></script>

    
    <script src="{{ asset('js/lib/highcharts.js') }}"></script>
    <script src="{{ asset('js/lib/modules/exporting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-colorpicker.min.js') }}"></script>
    {{ include('TemplatesTemplatesBundle:Default:global.js.twig' ) }}
    <script>
    $(document).ready(function() 
    {
      

    $.fn.bootstrapValidator.DEFAULT_OPTIONS = $.extend({}, $.fn.bootstrapValidator.DEFAULT_OPTIONS, {
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        validators: {
            file: {
                extension: 'jpeg,png,jpg',
                type: 'image/jpeg,image/png',
                maxSize: 2000000,
                maxFiles: 1,
                message: 'Please provide a png or jpg image 2MB or smaller'
            }
        }
    });
    
      
     });
    
    </script>
  </head>
