{% if showtime is not defined %}
{% set showtime = 0 %}
{% endif %}


{% set timeFormat = "Y-m-d" %}
{% if showtime == 1 %}
{% set timeFormat =  timeFormat ~ " g:i" %}
{% endif %}

{% if dateField|date(dateField) !="0000-00-00 00:00:00" %}{{ dateField|date(timeFormat) }}{%  endif %}
