<script>
var lastitemAdded = 0;
var currentTime = {{ currentTime }};
var maxsessiontime = {{ maxsessiontime }}
var timeExpired = currentTime + maxsessiontime;
var timeremaining  = {{ maxsessiontime }};
var timeremainingOriginal = timeremaining;
var renewsessionVar = 1;
var currentdate = new Date();
var currentMinute = currentdate.getMinutes();

function refreshtable(table,formid,findby,endaction)
{
    if(typeof(endaction) === 'undefined') {
        var endaction = "";
    }
    var querystring = "table=" + table + "&findby=" + findby;

    querystring = querystring + serialize(formid);
    page = "{{ path('classesclass_refreshTable') }}";

    $.ajax({
        type: 'POST',
        url: page,
        data: querystring,
        async: false
    });

    if (endaction != "") {
        endaction();
    }

}

function updatetable(table,formid,findby,endaction)
{
    if(typeof(endaction)==='undefined') {
        var endaction = "";
    }
    var querystring = "table=" + table + "&findby=" + findby;
    querystring = querystring + serialize(formid);
    page = "{{ path('classesclass_update') }}";
    $.post(page, querystring).done(function(data)
    {

        if (endaction != "") {
            endaction();
        }
    });
}

function serialize(formid)
{
    var querystring = ""
    var inputs = $("#" + formid + " :input[type=text],input[type=radio]:checked,input[type=checkbox],select,textarea")
    for (i = 0; i < inputs.length;i++) {
        querystring = querystring + "&" +  inputs[i].name + "=" + encodeURIComponent(inputs[i].value);
    }
    return querystring;
}

function setDebugBar()
{
    var page = "{{ path('_templates_setDebugBar') }}";
    var debugbar = {{ session.debugbar }};
    if (debugbar) {
        debugbar = "0";
    }
    else {
        debugbar = "1";
    }
    var querystring = "debugbar=" + debugbar;

    $.post(page, querystring).done(function(data) {
        window.location = "";
    });
}

function addform(table,formid,redirect,endaction)
{
    var querystring = "table=" + table;
    querystring = querystring + serialize(formid);
    if(typeof(redirect)==='undefined') {
        var redirect = "";
    }
    if(typeof(endaction)==='undefined') {
        var endaction = "";
    }
    var page = "{{ path('classesclass_add') }}";
    $.post(page, querystring).done(function(data) {
        lastitemAdded = data;
        if (redirect != "") {
            window.location = redirect;
        }
        if (endaction != "") {
            endaction();
        }
    });
}

function readURL(input,imageid) {
    var sectionid = imageid.replace("SRC","");
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e)
        {
            console.log(e.target.result);
            $('#' + imageid).attr('src', e.target.result);
            $('#' + imageid).hide();
            setTimeout(function() {
                $('#' + imageid).show();
                var height = document.querySelector('#' + imageid).naturalHeight;
                var width = document.querySelector('#' + imageid).naturalWidth;
                $('#' + sectionid +"Height").val(height);
                $('#' + sectionid +"Width").val(width);
                $('#' + sectionid + "Dimensions").show();
                $('#' + imageid ).css({'height' : height, 'width' : width});
            }, 500);
        };
        reader.readAsDataURL(input.files[0]);
        console.log(input.files[0]);
    }
}

function resizeLogoUsingWidth(imageid,value)
{
    var orgWidth =  document.querySelector('#' + imageid + "SRC").naturalWidth;
    var orgHeight = document.querySelector('#' + imageid + "SRC").naturalHeight;
    var ratio = orgHeight/orgWidth;
    var width = value;
    var height = ratio * value;
    if (height > 0 && width > 0) {
        $('#' + imageid +"Height").val(height);
        $('#' + imageid + "SRC").css({'height' : height, 'width' : width});
    }
}

function resizeLogoUsingHeight(imageid,value)
{
    var orgWidth =  document.querySelector('#' + imageid + "SRC").naturalWidth;
    var orgHeight = document.querySelector('#' + imageid + "SRC").naturalHeight;
    var ratio = orgWidth/orgHeight;
    var height = value;
    var width = ratio * value;
    if (height > 0 && width > 0) {
        $('#' + imageid +"Width").val(width);
        $('#' + imageid + "SRC").css({'height' : height, 'width' : width});
    }
}

function deleteform(table,findby,value,redirect,endaction)
{
    if(typeof(redirect)==='undefined') {
        var redirect = "";
    }
    if(typeof(endaction)==='undefined') {
        var endaction = "";
    }
    querystring = "table=" + table + "&findby=" + findby + "&" + findby + "=" + value;
    var page = "{{ path('classesclass_delete') }}";
    $.post(page, querystring).done(function(data)
    {
        if (redirect != "") {
            window.location = redirect;
        }

        if (endaction != "" ) {
            endaction();
        }
    });
}

function editplan(planid, newWindow)
{
    var page = "{{ path('_plans_set_plan') }}";
    var querystring = "planid=" + planid;

    $.post(page, querystring).done(function(data)
    {
        enterplan(newWindow);
    });
}

function copyplan(planid,userid,endaction,type,overwritePlanId)
{
    var page = "{{ path('_plans_copy_plan') }}";
    var querystring = "planid=" + planid;

    if(!(typeof(userid)==='undefined') && userid != null) {
        querystring = querystring + "&userid=" + userid;
    }

    if(!(typeof(type)==='undefined')) {
        querystring = querystring + "&type=" + type;
    }
    
    if(!(typeof(overwritePlanId)==='undefined')) {
        querystring = querystring + "&overwritePlanId=" + overwritePlanId;
    }

    $.post(page, querystring).done(function(data)
    {
        if((typeof(endaction)==='undefined') || endaction === null) {
            window.location = "{{ path('_plans_plan_identification') }}";
        }
        else {
            endaction();
        }
    });
}

function copyplanDialog(planid)
{
    ajaxModal('{{ path('_plans_home_copyPlanModal') }}?id=' + planid, 'Copy Plan');
    //alert(planid);
    //$("#copyPlanModal").modal("show");
}

function enterplan(newWindow)
{
    var path = '';
    {% if currentuser.roleType != "adviser" %}
        path = "{{ path('_plans_plan_identification') }}"
    {% else %}
        path = "{{ path('_plans_adviser_home') }}"
    {% endif %}
    if (newWindow) {
        var win = window.open(path, '_blank');
        win.focus();
        return;
    }
    window.location = path;
}

function addplan()
{
	ajaxModal('{{ path('_plans_add_plan_prompt') }}','Add Plan','large');
}

function searchform(table,listid,template,endaction)
{
    var types = $("#" + listid + "searchtypes").val();
    var value = $("#" + listid + "search").val();
    var pagenumber = $("#" + listid + "currentpagenumber").html();
    var maxresults = $("#" + listid + "maxresults").val();
    var findby = $("#" + listid + "findby").val();
    var findbyvalue = $("#" + listid + "findbyvalue").val();
    var totalrows = $("#" + listid + "totalrows").html();
    var selectedletter = $("#" + listid + "selectedletter").val();
    var searchtype = $("#" + listid + "searchtype").val();
    var query = $("#" + listid + "query").val();
    $("#" + listid + "totalpages").html(parseInt(Math.ceil(totalrows/maxresults)));
    var querystring = "table=" + table + "&value=" + value + "&findby=" + findby +  "&findbyvalue=" + findbyvalue + "&template="  + template + "&pagenumber=" + pagenumber + "&types=" + types + "&maxresults=" + maxresults + "&selectedletter=" + selectedletter + "&searchtype=" + searchtype + "&query=" + query;
    var page = "{{ path('classesclass_search') }}";
    $.post(page, querystring).done(function(data)
    {
        $("#" + listid).html(data);
        var countstring = data.split("*totalrows*");
        var totalrows = countstring[1];
        $("#" + listid + "totalrows").html(totalrows);
        var totalpages = Math.ceil(totalrows/maxresults);
        if (totalpages == 0) {
            totalpages = 1;
        }
        $("#" + listid + "totalpages").html(totalpages);

        if ($("#" + listid).html().indexOf("Sorry, no results found") != -1 && pagenumber > 1) {
            searchformprev(table,listid,template,endaction);
        }
        endaction();//need to do something else?
    });

    if (endaction == "reload") {
        $("#" + listid).html('<img src = "{{ asset('images/load-icon.gif') }}" />');
    }
}

function searchformnext(table,listid,template,endaction)
{
    var pagenumber = parseInt($("#" +listid + "currentpagenumber").html());
    var totalpages = parseInt($("#" + listid + "totalpages").html());
    if (pagenumber < totalpages) {
        $("#" + listid + "currentpagenumber").html(parseInt($("#" + listid + "currentpagenumber").html()) + 1);
        searchform(table,listid,template,endaction);
    }
}

function searchformprev(table,listid,template,endaction)
{
    var pagenumber = parseInt($("#" + listid + "currentpagenumber").html());
    var totalpages = parseInt($("#" + listid + "totalpages").html());

    if (pagenumber > 1) {
        $("#" + listid + "currentpagenumber").html(parseInt($("#" +listid + "currentpagenumber").html())  -1);
        searchform(table,listid,template,endaction);
    }
}

function newsearch(table,listid,template,endaction)
{
    $("#" + listid + "currentpagenumber").html("1");
    searchform(table,listid,template,endaction);
}

function ajaxModal(page,title,size,iframe,preaction,endaction)
{
    if(typeof(endaction)==='undefined') {
        var preaction = "";
    }
    if(typeof(endaction)==='undefined') {
        var endaction = "";
    }
    if (preaction != "" ) {
        preaction();
    }
    if(typeof(size)==='undefined') {
        size = "medium";
    }
    if(typeof(iframe)==='undefined') {
        iframe = false;
    }
    if (size == "medium") {
        $("#ajaxModuleDialog").prop("class","modal-dialog");
        $("#ajaxModule").prop("class","modal fade");
    }
    else if (size == "small") {
        $("#ajaxModuleDialog").prop("class","modal-dialog modal-sm");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-sm");
    }
    else if (size == "large") {
        $("#ajaxModuleDialog").prop("class","modal-dialog modal-lg");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
    }
    else if (size = "extra large")//for those really big pages
    {
        $("#ajaxModuleDialog").width("1200px");
        $("#ajaxModule").prop("class","modal fade bs-example-modal-lg");
    }
    if (!iframe) {
        $("#ajaxModalIframe").hide();
        $( "#ajaxModuleContent" ).load(page, function() {
            $("#ajaxModuleTitle").html(title);
            $("#ajaxModule").modal("show");
            if (endaction != "" ) {
                endaction();
            }
        });
    }
    else {
        $("#ajaxModuleTitle").html(title);
        $("#ajaxModalIframe").prop("src",page);
        $("#ajaxModalIframe").show();
        $("#ajaxModule").modal("show");
    }
}


var id;
var accountsUsersId = {{ currentuser.id }};
var idChat;
var hostName = 'http://' + document.location.hostname;
var name = '{{ name }}';


$( document ).ready(function()
{
    $("body").mouseover(function () {
        renewsession();
    });

    $( "body" ).click(function() {
        renewsession();
    });
    $( "body" ).keyup(function() {
        renewsession();
    });
    $(document).scroll(function(e) {
        renewsession();
    });

    $('#ajaxModule').on('hidden.bs.modal', function () {
        $("#ajaxModalIframe").prop("src","");
        $("#ajaxModalIframe").hide();

        $("#ajaxModuleTitle").html("");
        $("#ajaxModuleContent").html("");
        $("#ajaxModuleDialog").width("");

    })
    $('[data-toggle="tooltip"]').tooltip();
    //setTimeout(function(){ timeoutbox() }, 1140000);
    //setTimeout(function(){ timeoutbox() }, 5000);
    setInterval(function(){ timeoutbox() }, 1000);

    //renewsession()
    //setInterval(function(){ chatInitializer() }, 1000);
    //reloadChatPopup();
    {% if openchat %}
    //openChat();
    {% endif %}
});

function renewSessionBox() {

}

function logout()
{
    page = "{{ path('fos_user_security_logout') }}";
    querystring = "";
    $.post(page, querystring).done(function(data)
    {
        window.location = "{{ path('_index') }}";
    });

}

function timeoutbox()
{
    timeremaining--;
    if (timeremaining > 60) {
        renewsessionVar = 1;
    }
    else if (timeremaining <= 60 && timeremaining >= 0 ) {
        renewsessionVar = 0;
        $("#timeremainingModalContent").html("<h4>Session Ending in: " + timeremaining + "</h4>");
        $("#timeremainingModal").modal("show");
    }
    else {
        logout();
    }
}

function renewsession(forced)
{

    if (typeof(forced)==='undefined') {
        forced = 0;
    }

    var newCurrentdate = new Date();
    newCurrentMinute = newCurrentdate.getMinutes();

    if (currentMinute  !=  newCurrentMinute) {
        if (renewsessionVar || forced) {
            renewsessionVar = 1;
            var page = "{{ path('_templates_renewsession') }}";
            var querystring = "";
            $.post(page, querystring).done(function(data)
            {
                timeremaining = timeremainingOriginal;

            });
            currentMinute = newCurrentMinute;
        }
    }
}

function returnToOriginalAccount()
{
    var page = "{{ path('_account_user_returnToOriginalAccount') }}";
    var querystring = "";
    $.post(page, querystring).done(function(data)
    {
        setsession();
    });
}

function loginas(clientid)
{
    var page = "{{ path("_account_user_loginas_saved") }}";
    var querystring = "id=" + clientid;
    $.post(page, querystring).done(function(data)
    {
        setsession();
    });
}

function setsession()
{
    var page = "{{ path("_setSessionVariables") }}";
    var querystring = "";
    $.post(page, querystring).done(function(data)
    {
        window.location = '{{ path('_portal_index') }}';
    });
}

function redirectocurrentpage()
{
    window.location = "";
}

function saveSubscription(id,name)
{
    var page = "{{ path('_templates_subscribePanelSaved') }}";
    var querystring = "name=" + name + "&howoften=" + $("#" + id).val();
    $.post(page, querystring).done(function(data)
    {
        if ($("#" + id).val() == "")
        modalMessage('Subscription Cancelled');
        else
        modalMessage('Subscription Updated');
    });
}

function addColorPicker(id)
{
    $('#' + id).colorpicker();
}

function loadAjax(buttonid)
{
    $("#" + buttonid).hide();
    $("#" + buttonid +"Loader").show();
}

function ajaxLoaded(buttonid)
{
    $("#" + buttonid).show();
    $("#" + buttonid + "Loader").hide();
}

function setPngData(options)
{
    var data = {
        options: options,
        filename: "chart.jpeg",
        type: 'image/jpeg',
        async: true
    };
    return data;
}

function downloadCsv(csvContent,filename)
{
    var page = "{{ path("_templates_setCsvSession") }}";
    var params = {contents:csvContent,filename:filename };
    $.post(page, params).done(function(data)
    {
        window.location = "{{ path('_templates_generateCsv') }}";
    });    
}

$(document).ready(function()
{
    var listItem = document.getElementsByClassName('form-help-box');
    var listItemRight = document.getElementsByClassName('form-help-box-right');

    $(document).on('mouseover', '.infoTip', function() {
        var index = $('.infoTip').index(this);
        $(listItem[index]).removeClass('hide');
    });


    $(document).on('mouseout', '.infoTip', function() {
        var index = $('.infoTip').index(this);
        $(listItem[index]).addClass('hide');
    });

    $(document).on('mouseover', '.infoTip-right', function() {
        var index = $('.infoTip-right').index(this);
        $(listItemRight[index]).removeClass('hide');
    });


    $(document).on('mouseout', '.infoTip-right', function() {
        var index = $('.infoTip-right').index(this);
        $(listItemRight[index]).addClass('hide');
    });
});
</script>
