{% set display = false %}
{% for nav in navs %}
{% if nav.visible %}
{% set display = true %}
{% endif %}
{% endfor %}


{% if display %}
<li class="dropdown-submenu"><a href="#" >{{ name }}</a>
<ul class="dropdown-menu">
	{% for nav in navs %}
	{% if nav.visible %}
	<li><a href = "{{ nav.link }}" >{{ nav.description }}</a> </li>
	{% endif %}
	{% endfor %}
</ul>
</li>
{% endif %}
