
  <h1>Settings</h1>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-subnav"  id="settings_subnav" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default"  {% if not settingsDisplayDefaults %}style = "display:none"{% endif %} >
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#settings_subnav" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Defaults</strong>
              </a>
            </h4>
          </div>
        <div id="collapseOne"  class="panel-collapse collapse {% if currentsubsection == "settingsNavDefaults" %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne" >
          <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
              {% for nav in settingsNavDefaults %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>


      <div class="panel panel-default"  {% if not settingsDisplayTools %}style = "display:none"{% endif %}>
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#settings_subnav" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Tools</strong>
            </a>
          </h4>
        </div>
        <div id="collapseTwo"  class="panel-collapse collapse {% if currentsubsection == "settingsNavTools" %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
              {% for nav in settingsNavTools %}
              {% if nav.visible %}
              <li role="presentation" {% if currentpage == nav.page %}class = "active"{% endif %}><a href="{{ nav.link }}">{{ nav.description }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>





  </div>    

</div>

    <!-- main content area -->
    <div class="col-md-9">

   