{% if permissions.AccountReadable and not settingsDisplay and not  permissions.AccountVideoLibraryReadable %}
<li {% if section == "Account" %}class = "active"{% endif %}><a href="{{ path('_account_index') }}">Account</a></li>
{% endif %}

{% if  settingsDisplay or permissions.AccountVideoLibraryReadable %}
<li class="dropdown {% if section == "Settings" or section == "Account" %}active{% endif %}" id="account-nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>

  <ul class="dropdown-menu" role="menu">
  	{% if permissions.AccountReadable %}
  	<li><a href="{{ path('_account_index') }}">Account Management</a></li>
  	{% endif %}
  	{% if permissions.AccountVideoLibraryReadable %}
  	<li><a href="{{ path('_settings_MediaWidget') }}">Video Library</a></li>
  	{% endif %}
  	{% if settingsDisplay %}
  	<li class="dropdown-submenu">
  		<a href="#" >Settings</a>
		<ul class="dropdown-menu">
		    {% set name = "Defaults" %}
		    {% set navs = settingsNavDefaults %}
		    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}
		    {% set name = "Tools" %}
		    {% set navs = settingsNavTools %}
		    {{ include ('TemplatesTemplatesBundle:Default:headersection.html.twig') }}
		  	
		</ul>
	</li>
	{% endif %}
  </ul>
</li>
{% endif %}