        {% if permissions.PlansHomeReadable %}
        <li class="dropdown {% if section == "Plans" %}active{% endif %}" id="plans-nav-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Plans <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if types['smartplan'] is defined %}
            <li><a href="{{ path('_plans_home') }}?type=smartplan">SmartPlan List</a></li>
            {% endif %}
            {% if types['smartenroll'] is defined %}
            <li><a href="{{ path('_plans_home') }}?type=smartenroll">SmartEnroll List</a></li>
            {% endif %}
            {% if session.masterRoleType == "vwise" or session.masterRoleType == "vwise_admin" %}
            {% if types['powerview'] is defined %}
            <li><a href="{{ path('_plans_home') }}?type=powerview">Powerview List</a></li>
            {% endif %}
            {% if types['irio'] is defined %}
            <li><a href="{{ path('_plans_home') }}?type=irio">Irio List</a></li>
            {% endif %}       
            {% endif %}
            </ul>
          </li>

        {% endif %}