<!-- Modal -->
<div class="modal fade" id="messageModule"  tabindex="-1" role="dialog" aria-labelledby="messageModuleTitle" aria-hidden="true">
  <div class="modal-dialog" id = "messageModuleDialog">
    <div class="modal-content">
      <div class="modal-body" id = "messageModuleBody">
        <h4><div id = "messageModuleContent">
        </div></h4>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
