Subscribe
<select id ="subscribeDropdown{{section}}" class = "form-control" onchange = "saveSubscription(this.id,'{{section }}')">
    {% for section in sections %}
    <option value ="{{ section.field }}"  {{ section.selected }}>{{ section.description }}</option>    
    {% endfor %}
</select>



