table:"profiles",types:"profiles.id",template:"SharedProfilesBundle:Default:Search/profiles.html.twig",{% if findby is defined %}findby: "{{ findby }}",findbyvalues:"{{ findbyvalues }}",{% endif %}customquery:"profileList"{{ extraparameters | raw }}


 