<form id ="addGroup">
    {% include('ManageManageBundle:Groups:printsections.html.twig') %}
</form>
<br/>
<button class ="btn btn-info" onclick = "adduser()">Add User </button>

<script>
function adduser()
{
    var querystring = $("#addGroup").serialize();
    var page = "{{ path('_manage_groups_add_user_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
      reloadList();
    });
}
</script>