<strong>Delete</strong> {{ sections['firstName'].value }}  {{ sections['lastName'].value }}
<br/><br/>
<button type = "button" class ="btn btn-warning" onclick = "deleteuser()" id ="deleteUserButton">Delete</button>
<img src ="{{ asset('images/load-icon.gif') }}" style ="display:none" id ="deleteUserButtonLoader" />
<script>
function deleteuser()
{
    var querystring = "group={{group}}&id={{id}}";
    var page = "{{ path('_manage_groups_delete_user_saved') }}";
    loadAjax("deleteUserButton");
    $.post(page, querystring).done(function(data) 
    {
      reloadList();
    }).fail(function() 
    {
        modalMessage("An error occurred");
    });
}
</script>