{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Groups - '  ~ group.description}  )) }}
<button class ="btn btn-info" onclick = "ajaxModal('{{ path('_manage_groups_add_user') }}?group={{group.name}}','Add User')">Add {{ group.description }}</button>
<br/><br/>
{% set table = group.name %}
{% set tablename = table %}
{% set  types = "a.id,a.firstName,a.lastName,a.emailAddress,a.phoneNumber" %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Phone Number</th><th>Actions</th>" %}
{% set template = 'ManageManageBundle:Groups:Search/groups.html.twig' %}  
{% set unsearchableArray = [5] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function reloadList()
{
    closeLightBox();
    {{table}}Table.fnDraw(false);
}
    
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}