<select class = "form-control" onchange = "showGroup(this.value)">
    <option value = "">Pick Group</option>
{% for group in groups %}
    <option value ="{{group.name}}">{{ group.description}}</option>
{% endfor %}
</select>
<br/>
<div id ="groupResults"></div>
<script>
function showGroup(value)
{
    if (value != "")
    {
        var querystring = "group=" +value +"&id={{ request.id}}";
        var page = "{{ path('_manage_groups_setGroupsForAccountShowGroup') }}";
        $.post(page, querystring).done(function(data) 
        {
            $("#groupResults").html(data);
        });
    }
}
</script>