<iframe name="upload_frame" src="{{ path('utilities_upload_promo_docs') }}" width="100" height="100" style="border: 0;display:none"></iframe>
  
<form  method="POST"  action = "{{ path('utilities_upload_promo_docs') }}"  enctype="multipart/form-data"  target = "upload_frame" >
	<strong>Title</strong>  <input type = "text" name = "name" value = "" class = "form-control" placeholder = "Title of Document" /><br/>
	<input id="PromoDocId" name="PromoDoc" type="file" /><br/>
	<textarea name = "additionalinfo" value = "" style = "width:100%;height:200px;resize:none" placeholder = "Additional Info"></textarea><br/>
	<input type = "text" name = "parentid" value = "{{ sectionid }}" style = "display:none" />
	<input type = "text" name = "categoryid" value = "{{ categoryid }}" style = "display:none" />
	<button type = "submit" class = "btn btn-info">Add</button>
</form>
    
    
  