{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Promo Docs Categories'})) }}

<script>
$(document).ready(function() 
{
/*
  $( "#categorylist" ).sortable(
  {
    revert: true,
    stop: function()
    {
      saveCategoryOrder();
    }
  });
*/
});


function saveCategoryOrder()
{

var portalNewsSplit = $("#categorylist").html().split("*id*");
var idstring = "";
for (j = 1; j < portalNewsSplit.length; j = j + 2)
if (idstring == "")
idstring = portalNewsSplit[j];
else
idstring = idstring + "," + portalNewsSplit[j];

var querystring = "ids=" + idstring;
var page = "{{ path('_manage_promo_docs_manage_save_category_order') }}";

$.post(page, querystring).done(function(data) 
{
});

}


</script>
    

  
<button class = "btn btn-info" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_add_category') }}','Add New Category')">Add new Category</button>
<br/>
<br/>
  <ul id = "categorylist" class = "list-group">
    {% for category in promoDocsCategories %}
    <li id = "*id*{{ category.id }}*id*" class="list-group-item">{{ category.name }}  <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Delete Category" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_delete_category') }}?id={{ category.id }}','Delete Category')"></span> <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Edit Category" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_edit_category') }}?id={{ category.id }}','Edit Category')"></span><span class="glyphicon glyphicon-th-list pull-right" style = "cursor:pointer" aria-hidden="true" title = "Manage" onclick = "window.location='{{ path('_manage_promo_docs_manage_manage_category') }}?id={{ category.id }}'"></span></li>
    {% endfor %}
  </ul>
 

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}  