{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
        'pagename': 'Manage Users | Tabs'
    })) }}
   <script>
   
   function saveTabs()
   {
   
   	var querystring = "id=" + {{ manageid }};
   
   	{% for section in sections %}
   	var {{ section.name }} = document.getElementsByName("tabs{{ section.name }}");
   	var {{ section.name }}Value = "";
   	for (i = 0 ; i < {{ section.name }}.length; i++)
   	if ({{ section.name }}[i].checked)
   	var {{ section.name }}Value = {{ section.name }}[i].value;
   	
   	
   	
   	querystring =   querystring + "&{{ section.name }}=" + {{ section.name }}Value;
   	
   	{% endfor %}
   
   	var defaultTab = document.getElementsByName("tabsDefault");
   	var defaultTabValue = "";
   	for (i = 0 ; i < defaultTab.length; i++)
   	if (defaultTab[i].checked)
   	defaultTabValue = defaultTab[i].value;
   	
   	
   	querystring = querystring + "&defaultTab=" + defaultTabValue;
   	
   	var page = "{{ path('_manage_manage_users_tabs_save') }}";
   	
   	
   	var ajaxRequest;  // The variable that makes Ajax possible!
	  	
	  	    try{
	  	        // Opera 8.0+, Firefox, Safari
	  	        ajaxRequest = new XMLHttpRequest();
	  	    } catch (e){
	  	        // Internet Explorer Browsers
	  	        try{
	  	            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	  	        } catch (e) {
	  	            try{
	  	                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
	  	            } catch (e){
	  	                // Something went wrong
	  	                alert("Your browser broke!");
	  	                return false;
	  	            }
	  	        }
	  	    }
	  	
	  	
	  	    // Create a function that will receive data sent from the server
	  	    ajaxRequest.onreadystatechange = function(){
	  	        if(ajaxRequest.readyState == 4){
	  	
	  	        alert(ajaxRequest.responseText);
	  	
	  	        }
	      }
	          
	          
	          ajaxRequest.open("POST", page , true);
	  	ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  	ajaxRequest.setRequestHeader("Content-length", querystring.length);
	  ajaxRequest.setRequestHeader("Connection", "close");
      ajaxRequest.send(querystring);
   	
   	
   	
   }
   
   function removeDefault(value)
   {
   	var defaultTab = document.getElementsByName("tabsDefault");
   	for (i = 0 ; i < defaultTab.length; i++)
   	if (defaultTab[i].checked && defaultTab[i].value == value)
   	defaultTab[i].checked = false;
   
   
   }

   function addDefault(value)
   {
   
   	var section = document.getElementsByName("tabs" + value);
   	for (i = 0 ; i < section.length; i++)
   	if (section[i].checked && section[i].value == 0)
   	{
   	section[i].checked == false;
   	section[i+1].checked = true;
   	
   	}
   
   
   }
   
   </script>
   
   
   {% for section in sections %}
  	{{ section.name }} <br/>
  	No Access: <input type = "radio" {{ section.noaccessChecked }} name = "tabs{{ section.name }}" value = "0" onchange = "removeDefault('{{ section.name }}')" /><br/>
  	Read Access: <input type = "radio" {{ section.readaccessChecked }} name = "tabs{{ section.name }}" value = "1"  /><br/>
  	Full Access: <input type = "radio" {{ section.fullaccessChecked }} name = "tabs{{ section.name }}" value = "2"  {{ section.fullaccessEnabled }} /><br/>
	Default: <input type = "radio" {{ section.defaultChecked }} name = "tabsDefault" value = "{{ section.name }}" onchange = "addDefault('{{ section.name }}')" /> <br/>
  	<hr/>
   
   {% endfor %}
   <br/>
   <br/>
   <a href = "javascript:saveTabs()">Save</a>