Are you sure you wish to delete this Section:  {{ currentsection.name }}?
  
<br/>
<br/>
<a href = "{{ path('_manage_promo_docs_manage_delete_section_save') }}?id={{ currentsection.id }}"><button type="button" class="btn btn-danger">Delete Section</button></a>