<iframe name="upload_frame" src="{{ path('utilities_upload_promo_docs') }}" width="100" height="100" style="border: 0;display:none"></iframe>
    
<form  method="POST"  action = "{{ path('utilities_upload_promo_docs') }}"  enctype="multipart/form-data"  target = "upload_frame" >
	<strong>Title</strong>  <input type = "text" name = "name" value = "{{ document.name }}" class = "form-control" /><br/>
	<input id="PromoDocId" name="PromoDoc" type="file" /><br/>
	<textarea name = "additionalinfo" value = "{{ document.additionalinfo }}" style = "width:100%;height:200px;resize:none">{{ document.additionalinfo }}</textarea><br/>
	<input type = "text" name = "documentid" value = "{{ document.id }}" style = "display:none" />
	<input type = "text" name = "parentid" value = "{{ section.id }}" style = "display:none" />
	<input type = "text" name = "categoryid" value = "{{ category.id }}" style = "display:none" />
	<input type = "submit" class = "btn btn-success" value = "Save">
</form>
    
    
  