{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Promo Docs - ' ~ category.name })) }}

<script>
$(document).ready(function() 
{
  $( "#sectionlist" ).sortable(
  {
    stop: function()
    {
      saveSectionOrder();
    }
  });
});


function saveSectionOrder()
{
  var portalNewsSplit = $("#sectionlist").html().split("*id*");
  var idstring = "";
  for (j = 1; j < portalNewsSplit.length; j = j + 2)
  if (idstring == "")
  idstring = portalNewsSplit[j];
  else
  idstring = idstring + "," + portalNewsSplit[j];

  var querystring = "ids=" + idstring;
  var page = "{{ path('_manage_promo_docs_manage_save_section_order') }}";
  $.post(page, querystring).done(function(data) 
  {
  });
}



</script>
<a href = "{{ path('_manage_promo_docs_manage') }}">Return to Category List</a>
<br/><br/>   
<button class = "btn btn-info" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_add_section') }}?id={{ categoryid }}','Add New Section')">Add new Section</button>
<br/>
<br/>

<ul id = "sectionlist" class = "list-group">
    
  {% for section in promoDocsSections %}


  <li id = "*id*{{ section.id }}*id*" class="list-group-item" style = "cursor:move">

    <strong>{{ section.name }}</strong> <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Delete Section" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_delete_section') }}?id={{ section.id }}','Delete Section')"></span><span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Edit Section" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_edit_section') }}?id={{ section.id }}','Edit Section')"></span><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Add Document" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_add_document') }}?id={{ section.id }}','Add Document')"></span>  

    
    {% if section.docs is defined %}
    <br/><br/>
    <ul class = "list-group">
      {% set docs  = section.docs %}
      {% for doc in docs %}
      <li class = "list-group-item">
        {{ doc.name }}  <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Delete Document" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_delete_document') }}?id={{ doc.id }}','Delete Document')"></span><span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" style = "cursor:pointer;margin-left:5px" title = "Edit Document" onclick = "ajaxModal('{{ path('_manage_promo_docs_manage_edit_document') }}?id={{ doc.id }}','Edit Document')"></span>
      </li>
      {% endfor %}
    </ul>
      {% endif %}
    
  </li>

  {% endfor %}
</ul>
    

  {{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
