{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
          'pagename': 'Manage Promo Users | Add User'
      })) }}
      
      <script>
            function accountTypeChanged()
            {
            	if (document.getElementById("accountCheckbox").checked)
            	var accountValue = 1;
            	else
            	var accountValue = 0;
            	
            	document.getElementById("accountTextField").value = accountValue;
            }
            
      </script>
      
      
    <strong>Add User</strong>
<br/><br/>
  
  
<form id = "adduser">
Name: <input type = "text" value = "" name = "name" /><br/><br/>
Email: <input type = "text" value = "" name = "email" /><br/><br/>
Password  <input type = "text" value = "" name = "password" /><br/> <br/>

Admin: <input type = "checkbox"   id  = "accountCheckbox" onchange = "accountTypeChanged()"  />
<input type = "text" name = "account" value = "0" id = "accountTextField" style = "display:none" readonly = "true" />


</form>
   
    
    
  <a href = "javascript:addform('manageUsers','adduser','{{ path('_manage_manage_users') }}')">add</a>