<form id = "editsection">
	<input type = "text" value = "{{ currentsection.id }}" name = "id" id = "id" style = "display:none" readonly = "true"  />
	<strong>Title</strong>  <input type = "text" name = "name" value = "{{ currentsection.name }}" class = "form-control"  />
	<br/>
</form>
<input type = "button" class = "btn btn-success" onclick = "updatetable('managePromoDocsSections','editsection','id',redirectocurrentpage)" value = "Save" id = "editsectionbutton" />

