Are you sure you wish to delete this category:  {{ currentcategory.name }}?

<br/>
<br/>
<a href = "{{ path('_manage_promo_docs_manage_delete_category_save') }}?id={{ currentcategory.id }}"><button type="button" class="btn btn-danger">Delete Category</button></a>

