{{ render(controller('TemplatesTemplatesBundle:ManageTemplate:header', {
        'pagename': 'Manage Users'
    })) }}
   
   
   {% for user in users %}
   {% if user.email != "" %}
  Email: {{ user.email }} <br/>
  {% endif %}
  
  {% if user.name != "" %}
  Name: {{ user.name }} <br/>
  {% endif %}
  
  <a href = "{{ path('_manage_manage_users_tabs') }}?id={{ user.id }}">Set Tabs</a> <a href = "{{ path('_manage_manage_users_available_accounts') }}?id={{ user.id }}">Set Accounts</a> <a href = "{{ path('_manage_manage_users_edit_user') }}?id={{ user.id }}">Edit</a> <a href = "{{ path('_manage_manage_users_delete_user') }}?id={{ user.id }}">Delete</a>

   
   <hr/>
   
   {% endfor %}
   <br/>
   <br/>
   <a href = "{{ path('_manage_manage_users_add_user') }}">Add Account</a>