{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Email List'})) }}
{% set tablename = "emailList" %}
{% set url = path('_plans_widgets_getEmailList') %}
{% set header = "<th>Part ID</th><th>First Name</th><th>Last Name</td><th>Status Code</th><th>Email Address</th><th>Mobile Phone</th>" %}
<h2>Employee Email List</h2>
{% set order = '"order": [[ 0, "asc" ]],' %}
{% include('classesclassBundle:Search:ajaxsearchdatatables.html.twig') %}
<span class = "widgetsEmailListButtonSpacing"><button type="button" class="btn btn-primary" onclick ="exportToCsv()" id ="emaillist_exportcsv">Export to Csv</button><img src ="{{asset('images/load-icon.gif')}}" id ="emaillist_exportcsvLoader" style ="display:none"/></span>
<span class = "widgetsEmailListButtonSpacing"><button type="button" class="btn btn-primary" onclick ="refreshList()">Get List</button></span>
<span class = "widgetsEmailListButtonSpacing"><button type="button" class="btn btn-primary" onclick ="refreshList()">Refresh List</button></span>
<span class = "widgetsEmailListButtonSpacing"><button type="button" class="btn btn-primary" onclick = "scheduleCampaign()" id ="emaillist_schedule">Schedule Campaign</button><img src ="{{asset('images/load-icon.gif')}}" id ="emaillist_scheduleLoader" style ="display:none"/></span>
<script>
function exportToCsv()
{
  var page = "{{path('_plans_widgets_emailList_csv')}}";
  loadAjax('emaillist_exportcsv');
  $.post(page).done(function(data) 
  {
     downloadCsv(data,"emaillist.csv");
     ajaxLoaded('emaillist_exportcsv');
  });  
}
function refreshList()
{
   {{ tablename }}Table.ajax.reload();  
}
function scheduleCampaign()
{
    var page = "{{path('_portal_widgetCreateCampaign_saved')}}";
    var querystring = "id={{app.session.get('planid')}}";
    loadAjax('emaillist_schedule');
    $.post(page,querystring).done(function(data) 
    {
        modalMessage("Campaign has been created");
    }).fail(function() 
    {
        modalMessage("An Error occurred during campaign creation");
    }).always(function() 
    {
        ajaxLoaded('emaillist_schedule');
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}