<script>
var embedCodeBase = "{{ embedCode }}";
var beforeEmbedCodeJs = '<script defer type="text/javascript" src="';
var afterEmbedCodeJs = '" id="videoLib"><\/script>';
function select_all()
{
	var $this = $("#embedCode");
	$this.select();

	// Work around Chrome's little problem
	$this.mouseup(function() 
	{
	    $this.unbind("mouseup");
	    return false;
	});
}
function embedCodeString()
{
	return embedCodeBase + endString();
}
function endString()
{
	return "?partnerid={{account.partnerid }}&participantid={{ session.clientid }}&key=" + $("#apiKey").val() + "&format=" + $("#format").val();
}

function generateCode()
{
	var embedCode =  beforeEmbedCodeJs + embedCodeString() + afterEmbedCodeJs;
	$("#embedCode").val(embedCode);
}
function previewVideo()
{
	var page = "{{ path('_settings_MediaWidget_preview') }}"  + endString();
	var title = "Preview Video";
	ajaxModal(page,title,"medium");

}

function saveMediaList()
{

	var elements = $(".mediaList:checked");

	var querystring = "ids=";
	var page = "{{ path('_settings_MediaWidget_saveMediaList') }}";
	for (var i = 0; i < elements.length; i++)
	{
		if (i > 0)
		querystring = querystring + ",";
		querystring = querystring + elements[i].value;
	}
	$.post(page, querystring).done(function(data) 
	{
		showalert('saved-alert');
	});
}
function toggleMedia(id,checked)
{
	var querystring = "id=" + id + "&checked=" + checked;
	var page = "{{path('_settings_MediaWidget_togglemedia') }}";
	$.post(page, querystring).done(function(data) 
	{
	});	
}
function selectAll()
{
	var elements = $(".mediaList");
	for (var i = 0; i < elements.length; i++)
	{
		value = elements[i].id.split("_");
		value = value[1];
		toggleMedia(value,elements[i].checked);
	}
}
$( document ).ready(function() 
{
	$('#greaterthan_graph').datepicker({ dateFormat: "yy-mm-dd" });
	$('#lessthan_graph').datepicker({ dateFormat: "yy-mm-dd" });
    generateCode();
    $('#mediaTable').dataTable(
    {
    	paging: false,
    	"columnDefs": 
        [
        	{
        		"targets": [ 1 ],
        		"searchable": false,
        		"sortable":false 
        	}
        ]
	});
	$( "#statsDateButton" ).click(function() 
	{
            processStats();
	});
});
</script>



