{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Support'})) }}
{% set showuserid = 0 %}
<hr/>
<h3>Send a request email</h3>

<!-- email support -->     

  <div class="row">
    <div class="form-group col-md-6">
      <label for="youremail">Email</label>
      <input type = "text" class="form-control" value = "{{ currentuser.email }}" placeholder = "Your Email Address" id = "youremail" />
    </div>
    <div class="form-group col-md-6">
      <label for="yourtitle">Title</label>
      <input type = "text" class="form-control"  placeholder = "Issue/Question/Suggestion" id = "yourtitle" />
    </div>
  </div>
      
  <label for="yourmessage">Message</label>   
  <textarea id = "yourmessage" style = "width:100%;height:200px;resize:none" value = "" placeholder = " Write you message here"></textarea>

  <button type = "button" class="btn btn-primary" onclick = "sendEmail()">Send Email</button>
  <hr/>
  <h3>Contact Information</h3>

  <table class = "table table-striped">
    <tr>
      <th>Telephone</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>949.716.1276</td>
      <td>95 Enterprise, Suite 350<br/>Aliso Viejo CA 92656</td>
    </tr>
  </table>



      
    
{{ include ('SupportSupportBundle:Default:javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}