{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Support'})) }}
{% set alertContent = "Your ticket has been submitted" %}
{% set showuserid = 0 %}
{{  include ("TemplatesTemplatesBundle:Default:alert.html.twig") }}
<hr/>

<form role="form" id="ticketTableForm" method="get" action="">    
  <div class="row">
    <div class="form-group col-md-9">
      <h3>Send a support ticket</h3>
      <label for="subject">Subject</label>
      <input type = "text" class="form-control"  placeholder = "Issue/Question/Suggestion" id = "subject" required="required" />
      <label for="yourmessage">Message</label>   
      <textarea id = "message" style = "width:100%;height:200px;resize:none" required="required" value = "" placeholder = "Write your message here"></textarea>
      <button type = "submit" class="btn btn-primary" >Submit New Ticket</button>
    </div>
    <div class="form-group col-md-3">
      <h3>Contact Information</h3>
      <b>Telephone</b>: 949.716.1276 <br/> <b>Address</b>: 85 Enterprise, Suite 320<br/>Aliso Viejo CA 92656 <br/> 
    </div>
  </div>
</form>
      
<hr/>
  
<h3>Tickets</h3>

{{ include ('SupportSupportBundle:Default:jiratables.html.twig') }}
{{ include ('SupportSupportBundle:Default:javascript/jira.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}