<table class="table table-striped">
	<tr>
		<th>Ticket Number</th>
		<th>Date</th>
		<th>Subject</th>
		<th>Status</th>
	</tr>
	<tr>
		<td>{{ ticket.id }}</td>
		<td>{{ ticket.created }}</td>
		<td>{{ ticket.summary }}</td>
		<td>{{ ticket.status.name }}</td>
	</tr>
</table>
<b>Description</b>
<br/>
{{ ticket.description }}