<div id = "requestPasswordContainer" style = "display:none">
    <br/>
    <form id = "requestPassword" class="fos_user_resetting_request">
        <div>
            <input type="text" id="username" name="username" required="required" class = "form-control" placeholder = "Email Address"  />
        </div>
        <br/>
        <div>
            <input type="button" class = "btn btn-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" onclick = "sendEmail()" />
        </div>
    </form>
    <br/>
    {% set alertId = "emailSentAlert"%}
    {% set alertContent = "Email Sent" %}
    {{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
    {% set alertId = "doesNotExistAlert"%}
    {% set alertContent = "Email Address does not exist" %}
    {% set glyphicon = "remove" %}
    {% set alertType = "danger" %}    
    {{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
    {% set alertId = "last24HoursAlert"%}
    {% set alertContent = "The password for this user has already been requested within the last 24 hours." %}
    {{ include("TemplatesTemplatesBundle:Default:alert.html.twig") }}
</div>


