{% extends 'IndexIndexBundle:Default:index.html.twig' %}
{% block content %}	
{% set title = "Reset Password" %}
{{ include ('IndexIndexBundle:Default:vwise/head.html.twig') }}

<header>
	<div class="header-content">
		<div class="header-content-inner">
			<div class="login-form">
				<div class="login-page">
					<div class="form">
						<div id = "login-details">
							<h1>Reset Password</h1>
							<br />
							<div class="passwordinstructions">Your password reset link is no longer valid. Please submit a new request.</div>
							<div>
								<button id="back-to-login">Back to Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{{ include ('IndexIndexBundle:Default:vwise/footer.html.twig') }}
{{ include ("IndexIndexBundle:Default:javascript/reset.js.twig") }}
{% endblock %}