{% extends 'IndexIndexBundle:Default:index.html.twig' %}
{% block content %}	
{% set title = "Reset Password" %}
{{ include ('IndexIndexBundle:Default:vwise/head.html.twig') }}

<header>
	<div class="header-content">
		<div class="header-content-inner">
			<div class="login-form">
				<div class="login-page">
					<div class="form">
						<div class="" id="saved-alert" style = "display:none">
							 <div class = "alertGreen" >CHANGES SUCCESFULLY SAVED</div>
							 <br>
							 <p>You will be redirected to log in page shortly.</p>
						</div>
						<div id = "login-details">
							<h1>Reset Password</h1>
							<br />
							<form {{ form_enctype(form) }} method="POST" class="login-form" id = "changePasswordForm">
								<div class="passwordinstructions">Passwords must be at least 6 characters long and contain 1 lowercase letter, 1 uppercase letter, 1 number, and 1 special character</div>
								{{ form_widget(form) }}
								<span class="alert" id="passwordMismatch"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Passwords are not the same</span>
								<span class="alert" id="passwordTooShort"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The new password is too short</span>
								<span class="sent" id="passwordChanged"><i class="fa fa-check-circle-o" aria-hidden="true" style="font-size:21px;"></i> Password Changed.  You will be redirected to log in page shortly.</span>
								<span class="alert" id="passwordErrors"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </span>
								<div>
									<button>{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{{ include ('IndexIndexBundle:Default:vwise/footer.html.twig') }}
{{ include ("IndexIndexBundle:Default:javascript/reset.js.twig") }}
{% endblock %}