<style>
    .custom-width {
        width: 20%;
    }

    .max-input-width {
        width: 100%;
    }

    .tiny-text {
        font-size: 80%;
    }

    .special {
        padding-bottom: 0px !important;
    }

    .row {
        padding-bottom: 15px;
    }
</style>

{% set session = app.request.session %}

<form id="add-income-form">
    <div class="row special">
        <div class="col-md-12">
            {{ 'type' | trans ({}, 'beneficiary') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input {% if view is defined %}disabled {% endif %}required name="accountName" id="accountName" class="max-input-width" placeholder="{{ 'person_annuity' | trans ({}, 'atblueprint') }}" type="text"{% if edit is defined %} value="{{ personalInfo.accountName }}" {% endif %}>
        </div>
    </div>
    <div class="row special">
        <div class="col-md-12">
            {{ 'account_custodian' | trans ({}, 'atblueprint') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input {% if view is defined %}disabled {% endif %}required name="accountCustodian" id="accountCustodian" class="max-input-width" placeholder="{{ 'prudential_metlife' | trans ({}, 'atblueprint') }}" type="text"{% if edit is defined %} value="{{ personalInfo.accountCustodian }}" {% endif %}>
        </div>
    </div>
    <div class="row special">
        <div class="col-md-12">
            {{ 'projected_estimated_monthly_income' | trans ({}, 'atblueprint') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-icon input-icon-left">
                <i>$</i>
                <input {% if view is defined %}disabled {% endif %}required name="internalMonthlyIncome" class="max-input-width money" type="text"{% if edit is defined %} value="{{ personalInfo.monthlyIncome }}" {% endif %}>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <input {% if view is defined %}disabled {% endif %}name="internalIsSpouseAccount" type="checkbox"{% if edit is defined and personalInfo.isSpouseAccount == 'true' %} checked {% endif %}> {{ 'this_is_spouse_account' | trans ({}, 'atblueprint') }}
        </div>
        {% if view is not defined %}
        <div class="col-md-2">
            <input type="submit" value="{{ 'save' | trans ({}, 'global') }}"/>
        </div>
        {% endif %}
    </div>
</form>

<script>
    hideLoader();
    $(".money").inputmask("numeric", {
        min: 0,
        max: 25000,
        radixPoint: ".",
        groupSeparator: ",",
        digits: 0,
        autoGroup: true,
        rightAlign: false,
    });

    $('#add-income-form').submit(function(e) {
        savedata();
        e.preventDefault();
    });

    $("#accountName, #accountCustodian").alphanum({
        allow: "'."
    });

    function savedata()
    {
        var isChecked = $('input[name="internalIsSpouseAccount"]:checked').length > 0;
        if (isChecked) {
            var stringVar = "true";
        } else {
            var stringVar = "false";
        }

        var monthlyIncome = $('input[name="internalMonthlyIncome"]').val().replace(/,/g, '');


    {% if edit is not defined %}
        $.post( "/atBlueprint/personalInfo/save", { oneToMany: true, table: 'ATWsAccounts', fields: $('#add-income-form').serializeArray(), extras: {'isSpouseAccount': stringVar, 'isIncomeAccount': 'true', 'defRateMethod': 'Dollar', 'monthlyIncome': monthlyIncome, 'includeInCalcs': 'true', 'balance': '0.00', 'equityBalance': '0.00', 'useExpectedReturn': 'false'} } ).done(function( html )
    {% else %}
        $.post( "/atBlueprint/personalInfo/update", { id: {{ personalInfo.id }}, table: 'ATWsAccounts', fields: $('#add-income-form').serializeArray(), extras: {'isSpouseAccount': stringVar, 'monthlyIncome': monthlyIncome} } ).done(function( html )
    {% endif %}
        {
            personalInformationOtherRetirementIncome(false);
            closeLightBox();
        });

    }
</script>