<style>
    .custom-width {
        width: 20%;
    }

    .max-input-width {
        width: 100%;
    }

    .tiny-text {
        font-size: 80%;
    }

    .special {
        padding-bottom: 0px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

</style>

<script>
    $(".money").inputmask("numeric", {
        radixPoint: ".",
        groupSeparator: ",",
        digits: 2,
        autoGroup: true,
        rightAlign: false,
    });

    $(".five0000limit").inputmask("option", {
        min: 0,
        max: 50000,
    });
</script>

{% set session = app.request.session %}

<form id="add-ret-form" onsubmit="savedata(); return false;">

    <div class="row">
        <div class="col-sm-12 col-md-10" style="padding-left:0px;padding-right:0px">
            <div class="col-sm-12 col-md-4">
                <p>{{ 'account_description' | trans ({}, 'atblueprint') }}</p>
                <input {% if view is defined %}disabled {% endif %}required name="accountName" id="accountName" class="max-input-width" type="text"{% if edit is defined %}value="{{ personalInfo.accountName }}"{% endif %}>
            </div>
            <div class="col-sm-12 col-md-4">
                <p>{{ 'account_custodian' | trans ({}, 'atblueprint') }}</p>
                <input {% if view is defined %}disabled {% endif %}required name="accountCustodian" id="accountCustodian" class="max-input-width" type="text"{% if edit is defined %}value="{{ personalInfo.accountCustodian }}"{% endif %}>
            </div>
            <div class="col-sm-12 col-md-4">
                <p>{{ 'account_balance' | trans ({}, 'atblueprint') }}</p>
                <div class="input-icon">
                    <i>$</i>
                    <input {% if view is defined %}disabled {% endif %}required name="internalBalance" class="max-input-width money" type="text"{% if edit is defined %}value="{{ personalInfo.balance }}"{% endif %}>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <p>{{ 'as_of_date' | trans ({}, 'atblueprint') }}</p>
            <input {% if view is defined %}disabled {% endif %}style="height: 24px" name="balanceAsOf" class="max-input-width datepicker" type="text"{% if edit is defined %}value="{{ personalInfo.balanceAsOf }}"{% endif %}>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-7" style="padding-left:0px;padding-right:0px">

            <div class="col-md-6">
                <p>{{ 'your_annual_contributions' | trans ({}, 'atblueprint') }}</p>
                <div class="input-icon">
                    <i>$</i>
                    <input {% if view is defined %}disabled {% endif %}name="eeAdditions" class="max-input-width money five0000limit" placeholder="" type="text"{% if edit is defined %}value="{{ personalInfo.eeAdditions }}"{% endif %}>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <p>{{ 'employer_annual_contributions' | trans ({}, 'atblueprint') }}</p>
                <div class="input-icon">
                    <i>$</i>
                    <input {% if view is defined %}disabled {% endif %}name="erAdditions" class="max-input-width money five0000limit" placeholder="" type="text"{% if edit is defined %}value="{{ personalInfo.erAdditions }}"{% endif %}>
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-5" style="padding-left:0px;padding-right:0px">
            <div class="col-md-5">
                <p>{{ 'percent_in_equities' | trans ({}, 'atblueprint') }}</p>
                <div class="input-icon input-icon-right">
                    <i>%</i>
                    <input {% if view is defined %}disabled {% endif %}name="percentInEquities" class="max-input-width" min="0" max="100" type="number"{% if edit is defined %}value="{{ ((personalInfo.equityBalance/personalInfo.balance)*100)|number_format(0, '.', ',') }}"{% endif %}>
                </div>
            </div>
            <div class="col-md-7">
                <p>{{ 'projected_annual_return' | trans ({}, 'atblueprint') }}</p>
                <div class="input-icon input-icon-right">
                    <i>%</i>
                    <input {% if view is defined %}disabled {% endif %}name="internalExpectedReturn" class="max-input-width" max="20" type="number"{% if edit is defined %}value="{{ personalInfo.expectedReturn }}"{% endif %}>
                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="row special">
        <div class="col-md-10">
            {% if not hidden %}
                <input {% if view is defined %}disabled {% endif %}name="isSpouseAccount" type="checkbox"{% if edit is defined and personalInfo.isSpouseAccount == 'true' %} checked {% endif %}> {{ 'this_is_spouse_account' | trans ({}, 'atblueprint') }}
            {% endif %}
        </div>
        {% if view is not defined %}
        <div class="col-md-2">
            <input id="submit" type="submit" value="{{ 'save' | trans ({}, 'global') }}"/>
        </div>
        {% endif %}
    </div>
</form>

<script>
    hideLoader();

    $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+0"
    });

    $("#accountName, #accountCustodian").alphanum({
        allow: "'."
    });

    function savedata()
    {
        var balance = $('input[name="internalBalance"]').val().replace(/,/g, '')
        var isChecked = $('input[name="isSpouseAccount"]:checked').length > 0;
        var percentInEquities = $('input[name="percentInEquities"]').val();
        var expectedReturn = $('input[name="internalExpectedReturn"]').val().replace(/,/g, '')
        var useExpectedReturn = 'false';


    {% if edit is not defined %}
        $.post( "/atBlueprint/personalInfo/save", { oneToMany: true, table: 'ATWsAccounts', fields: $('#add-ret-form').serializeArray(), extras: {'expectedReturn': expectedReturn, 'isSpouseAccount': isChecked, 'isIncomeAccount': 'false', 'defRateMethod': 'Dollar', 'balance': balance, 'equityBalance': balance*(percentInEquities/100), 'useExpectedReturn': useExpectedReturn, 'includeInCalcs': 'true'} }).done(function( html )
    {% else %}
        $.post( "/atBlueprint/personalInfo/update", { id: {{ personalInfo.id }}, table: 'ATWsAccounts', fields: $('#add-ret-form').serializeArray(), extras: {'expectedReturn': expectedReturn, 'isSpouseAccount': isChecked, 'balance': balance, 'equityBalance': balance*(percentInEquities/100)} }).done(function( html )
    {% endif %}
        {
            personalInformationOtherAccountsPage(false);
            closeLightBox();
        });
    }
</script>

