{% set session = app.request.session %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/customcolors.css') }}">
<script type="text/javascript" src="{{ asset('js/jquery.inputmask.js') }}"></script>
<style>
    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 15px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 15px;
        padding-right: 0;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 15px;
        text-align: right;
    }

    input {
        color: black;
    }
</style>

<div id ="americanTrustContainer">
    {% include 'SpeAppBundle:Template:player.html.twig' %}
    {% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}
    {% set audioFile = 'AT_audio_0302a_ATb'| trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    <style>
        @media all and (min-width: 992px) {
            .button-mobile {
                display: none;
            }
        }
        @media all and (max-width: 991px) {
            .row-desktop {
                display: none;
            }
        }

        div.vertical-line{
            border-left: 1px solid black;
            height: 20px;
            padding-top: 6px;
            float: right;
        }

        .dotted-lines:after {
            position: absolute;
            content:"";
            border-left: 1px dotted black;
            height: 140px;
            float: left;
            right: -5px;
        }

    </style>

    <h1>{{ 'personalize_your_blueprint' | trans ({}, 'atblueprint') }}</h1>
    <h1>{{ 'additional_details' | trans ({}, 'atblueprint') }}</h1>
    <p>{{ 'draft_most_complete_blueprint' | trans ({}, 'atblueprint') }}</p>
    <br>

    <div class="row" style="text-align:center">
        <div class="col-sm-12 col-md-4 dotted-lines">
            <div class="col-sm-12">
                <h3>{{ 'your_retirement_goals' | trans ({}, 'atblueprint') }}</h3>
                <p>{{ 'add_details' | trans ({}, 'atblueprint') }}</p>
                {% if filledInMeasurements %}
                    <a class="href-custom button-mobile" href="javascript:personalInformationMeasurementsPage();">{{ 'edit_your_goals' | trans ({}, 'atblueprint') }}</a>
                {% else %}
                    <button onclick="personalInformationMeasurementsPage()" type="button" class="button-mobile btn btn-success btn-custom">{{ 'enter_your_goals' | trans ({}, 'atblueprint') }}</button>
                {% endif %}

            </div>
        </div>

        <div class="col-sm-12 col-md-4 dotted-lines">
            <div class="col-sm-12">
                <h3>{{ 'other_retirement_accounts' | trans ({}, 'atblueprint') }}</h3>
                <p>{{ 'add_other_retirement_description' | trans ({}, 'atblueprint') }}</p>
                {% if filledInAccounts %}
                    <a class="href-custom button-mobile" href="javascript:personalInformationOtherAccountsPage(true);">+ {{ 'add_edit_an_account' | trans ({}, 'atblueprint') }}</a>
                {% else %}
                    <button onclick="personalInformationOtherAccountsPage(true)" type="button" class="button-mobile btn btn-success btn-custom">{{ 'add_an_account' | trans ({}, 'atblueprint') }}</button>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="col-sm-12">
                <h3>{{ 'other_retirement_income' | trans ({}, 'atblueprint') }}</h3>
                <p>{{ 'other_retirement_income_description' | trans ({}, 'atblueprint') }}</p>
                {% if filledInIncome %}
                    <a class="href-custom button-mobile" href="javascript:personalInformationOtherRetirementIncome(true);">+ {{ 'add_edit_other_income' | trans ({}, 'atblueprint') }}</a>
                {% else %}
                    <button onclick="personalInformationOtherRetirementIncome(true)" type="button" class="button-mobile btn btn-success btn-custom">{{ 'add_other_income' | trans ({}, 'atblueprint') }}</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row row-desktop" style="text-align:center">
        <div class="col-sm-12 col-md-4">
            {% if filledInMeasurements %}
                <br>
                <a class="href-custom" href="javascript:personalInformationMeasurementsPage();">{{ 'edit_your_goals' | trans ({}, 'atblueprint') }}</a>
            {% else %}
                <button onclick="personalInformationMeasurementsPage()" type="button" class="btn btn-success btn-custom">{{ 'enter_your_goals' | trans ({}, 'atblueprint') }}</button>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-4">
            {% if filledInAccounts %}
                <br>
                <a class="href-custom" href="javascript:personalInformationOtherAccountsPage(true);">+ {{ 'add_edit_an_account' | trans ({}, 'atblueprint') }}</a>
            {% else %}
                <button onclick="personalInformationOtherAccountsPage(true)" type="button" class="btn btn-success btn-custom">{{ 'add_an_account' | trans ({}, 'atblueprint') }}</button>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-4">
            {% if filledInIncome %}
                <br>
                <a class="href-custom" href="javascript:personalInformationOtherRetirementIncome(true);">+ {{ 'add_edit_other_income' | trans ({}, 'atblueprint') }}</a>
            {% else %}
                <button onclick="personalInformationOtherRetirementIncome(true)" type="button" class="btn btn-success btn-custom">{{ 'add_other_income' | trans ({}, 'atblueprint') }}</button>
            {% endif %}
        </div>
    </div>

    <div class ="actions" style="padding-top:15px">
        <a class="actionBtn left">
            <span class="center action-button" onclick ="personalInformationRequiredPage();">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a class="actionBtn right">
            <span class="center action-button" onclick ="loadingScreen();" id="proceed-btn" >{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
    </div>


    <input type ="hidden" id ="showCustomHeader" />
</div>



