<style>
    a:link {
        text-decoration: none;
        color: black;
    }
</style>
<div class="container">
    <h2></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'type_long' | trans ({}, 'atblueprint') }}</th>
            <th>{{ 'account_custodian_long' | trans ({}, 'atblueprint') }}</th>
            <th>{{ 'actions' | trans ({}, 'beneficiary') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for item in personalInfo %}
        <tr>
            <td>{{ loop.index }}. {{ item.accountName }}</td>
            <td>{{ item.accountCustodian }}</td>
            {% if item.accountType == 'Outside' or item.accountType == '' %}
            <td>
                <a href="javascript:" onclick="ajaxModal('/atBlueprint/personalInfo/viewotherretirementincome?id={{ item.id }}', 'Edit a retirement account', 'medium')">
                    {{ 'edit' | trans ({}, 'global') }}
                </a>
                &nbsp;|&nbsp;
                <a href="javascript:" onclick="deletePersonalInformationOtherAccounts({{ item.id }}, '{{ loop.index }}')">
                    {{ 'delete' | trans ({}, 'global') }}
                </a>
            </td>
            {% else %}
            <td>
                <a href="javascript:" onclick="ajaxModal('/atBlueprint/personalInfo/viewotherretirementincome?id={{ item.id }}&readonly=true', 'View a retirement account', 'medium')">
                    {{ 'view' | trans ({}, 'global') }}
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<script>
    function deletePersonalInformationOtherAccounts(id, index) {
        if (confirm("{{ 'are_you_sure_delete' | trans ({}, 'atblueprint') }} #" + index + "?")) {
            $.post("/atBlueprint/personalInfo/delete", {
                table: 'ATWsAccounts',
                id: id
            }).done(function (html) {
                personalInformationOtherRetirementIncome(false);
            });
        }
    }
</script>