<style>
    a:link {
        text-decoration: none;
        color: black;
    }
</style>
<div class="container">
    <h2></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'account_description' | trans ({}, 'atblueprint') }}</th>
            <th>{{ 'balance' | trans ({}, 'atblueprint') }}</th>
            <th>{{ 'actions' | trans ({}, 'beneficiary') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for item in personalInfo %}
        <tr>
            <td>{{ loop.index }}. {{ item.accountName }}</td>
            <td>$ {{ item.balance|number_format(0, '.', ',') }}</td>
            {% if item.accountType == 'Outside' or item.accountType == '' %}
            <td>
                <a href="javascript:" onclick="ajaxModal('/atBlueprint/personalInfo/viewretirementaccount?id={{ item.id }}&readonly=false', 'Other Retirement Accounts', 'large')">
                    {{ 'edit' | trans ({}, 'global') }}
                </a>
                &nbsp;|&nbsp;
                <a href="javascript:" onclick="deletePersonalInformationOtherAccounts({{ item.id }}, '{{ item.accountName|escape('js') }}')">
                    {{ 'delete' | trans ({}, 'global') }}
                </a>
            </td>
            {% else %}
            <td>
                <a href="javascript:" onclick="ajaxModal('/atBlueprint/personalInfo/viewretirementaccount?id={{ item.id }}&readonly=true', 'Other Retirement Accounts', 'large')">
                    {{ 'view' | trans ({}, 'global') }}
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<script>

    function deletePersonalInformationOtherAccounts(id, description) {
        if (confirm("{{ 'are_you_sure_delete' | trans ({}, 'atblueprint') }}: " + description + "?")) {
            $.post("/atBlueprint/personalInfo/delete", {
                table: 'ATWsAccounts',
                id: id
            }).done(function (html) {
                personalInformationOtherAccountsPage(false);
            });
        }
    }
</script>