{% set session = app.request.session %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/customcolors.css') }}">
<script type="text/javascript" src="{{ asset('js/jquery.inputmask.js') }}"></script>
<style>
    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 15px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 15px;
        padding-right: 0;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 15px;
        text-align: right;
    }

    .background-row {
        background-color: #445b6d;
        margin-left: -10px;
        padding-bottom: 20px;
        padding-top: 5px;
        padding-left: 10px;
        color: white;
    }

    input {
        color: black;
    }
</style>

<div id ="americanTrustContainer">
    {% include 'SpeAppBundle:Template:player.html.twig' %}
    {% include 'SpeAppBundle:Template:ATBlueprint/main.js.twig' %}
    {% set audioFile = 'AT_audio_0303_ATb' | trans ({}, 'audio') %}
    {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    <h1>{{ 'personalize_your_blueprint' | trans ({}, 'atblueprint') }}</h1>
    <div class="audio-area"></div>
    <style>
        @media screen and (min-width: 991px) {
            div.dashed-line{
                border-right: 1px dotted black;
                height: 150px;
                float: left;
            }
        }

        .col-sm-12 {
            padding-bottom: 10px;
        }
        .centered {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        .custom-input {
            width: 100%;
            height:25px;
        }
    </style>

    <br>
    <h3>{{ 'your_retirement_goals_2' | trans ({}, 'atblueprint') }}</h3>
    <p>{{ 'optional_fields_description' | trans ({}, 'atblueprint') | raw }}</p>

    <form id="measurement-form" name="measurement-form">
        <div class="background-row">
            <br>
            <div class="row">
                <div class="col-md-5 centered">
                    <font size="3">{{ 'how_much_income' | trans ({}, 'atblueprint') }}</font>
                </div>
                <div class="col-md-1 centered" style="width:4%">
                </div>
                <div class="col-md-6 centered">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input style="display:inline-block;width:70%" id="monthlyRetirementGoal" type="text" class="form-control money" name="monthlyRetirementGoal" value="{{ personalInfo.monthlyRetirementGoal }}" placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}">&nbsp;<font size="3">{{ 'per_month' | trans ({}, 'widget') }}</font>
                    </div>

                </div>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-sm-12 col-md-6 dashed-line">
                <div class="col-sm-12">
                    <h3>{{ 'retirement_plans' | trans ({}, 'atblueprint') }}</h3>
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ 'retirement_age' | trans ({}, 'atblueprint') }}:
                </div>
                <div class="col-sm-12 col-md-6">
                    <input min="{{ age }}" max="100" class="custom-input" type="number" name="retirementAge" placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}" value="{{ personalInfo.retirementAge }}"/>
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ 'years_planned_in_retirement' | trans ({}, 'atblueprint') }}:
                </div>
                <div class="col-sm-12 col-md-6">
                    <input min="14" max="100" class="custom-input" type="number" name="yearsInRetirement" placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}" value="{{ personalInfo.yearsInRetirement }}"/>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 dotted-lines">
                <div class="col-sm-12">
                    <h3>{{ 'social_security_information' | trans ({}, 'atblueprint') }}</h3>
                </div>
                <div class="col-sm-12">
                    {{ 'for_an_estimate' | trans ({}, 'atblueprint') }}
                    <a href="https://www.ssa.gov/oact/quickcalc/" target="_blank">https://www.ssa.gov/oact/quickcalc/</a>
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ 'starting_age_social_security' | trans ({}, 'atblueprint') }}:
                </div>
                <div class="col-sm-12 col-md-6">
                    <input min="61" max="100" class="custom-input" type="number" name="socialSecurityBeginAge" placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}" value="{{ personalInfo.socialSecurityBeginAge }}"/>
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ 'monthly_social_income' | trans ({}, 'atblueprint') }}:
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-icon">
                        <i>$</i>
                        <input class="custom-input money" type="text" name="socialSecurityMonthlyAmount" placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}" value="{{ personalInfo.socialSecurityMonthlyAmount }}"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ 'spouse_social_security_income' | trans ({}, 'atblueprint') }}:
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-icon">
                        <i>$</i>
                        <input {% if hidden %}readonly value="" {% else %}placeholder="{{ 'calculate_for_me' | trans ({}, 'atblueprint') }}" value="{{ personalInfo.spouseSocialSecurityMonthlyAmount }}" {% endif %}class="custom-input money" type="text" name="spouseSocialSecurityMonthlyAmount" />
                    </div>
                </div>
            </div>
        </div>


        <input id="submit-btn" type="submit" style="display:none;">
    </form>

    <script>
        $('.money').inputmask("numeric", {
            min: 0,
            max: 999999,
            radixPoint: ".",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            rightAlign: false,
        });

        $('#monthlyRetirementGoal').inputmask("option", {
            min: 750,
            max: 100000,
        });

        $( "#measurement-form" ).submit(function( event ) {
            event.preventDefault();
            savePersonalInformationMeasurement();
        });
    </script>


    <div class ="actions">
        <a class="actionBtn left">
            <span class="center action-button" onclick ="personalInformationBridgePage();">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a class="actionBtn right">
            <span class="center action-button" onclick ="$('#submit-btn').click()" id="proceed-btn" >{{ 'save_and_proceed'| trans ({}, 'atblueprint') }}</span>
        </a>
    </div>
    <input type ="hidden" id ="showCustomHeader" />
</div>


