
{% set session = app.request.session %}
{% extends 'SpeAppBundle:Template:ATBlueprint/personalInformation/base.html.twig' %}

{% block content %}
    {% if playAudio == "true" %}
        {% set audioFile = 'AT_audio_0305_ATb'| trans ({}, 'audio') %}
        {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    {% endif %}
    <h1>{{ 'personal_information' | trans ({}, 'atblueprint') }}</h1>
    <style>
        .row {
            padding-bottom: 2px;

        }
        .form-control {
            height: 25px;
            padding: 2px;
        }
    </style>

    <h2>{{ 'other_retirement_income' | trans ({}, 'atblueprint') }}</h2>
    <p>{{ 'add_other_retirement_income_description' | trans ({}, 'atblueprint') | raw }}</p>

    <br>
    <button class="btn btn-success btn-custom" onclick="ajaxModal('/atBlueprint/personalInfo/addotherrequirementincome', '{{ 'add_a_retirement_account' | trans ({}, 'atblueprint') }}', 'medium');">{{ 'add_additional_retirement_income' | trans ({}, 'atblueprint') }}</button>
    <br>

    {% include 'SpeAppBundle:Template:ATBlueprint/personalInformation/displaytableOther.html.twig' %}

{% endblock %}

{% block back %}
    personalInformationBridgePage();
{% endblock %}

{% block forward %}
    personalInformationBridgePage();
{% endblock %}