
{% set session = app.request.session %}
{% extends 'SpeAppBundle:Template:ATBlueprint/personalInformation/base.html.twig' %}

{% block content %}
    {% if playAudio == "true" %}
        {% set audioFile = 'AT_audio_0304_ATb' | trans ({}, 'audio') %}
        {% include"SpeAppBundle:Template:playaudio.html.twig" %}
    {% endif %}

    <h1>{{ 'personal_information' | trans ({}, 'atblueprint') }}</h1>
    <style>
        .row {
            padding-bottom: 10px;
        }
    </style>

    <h2>{{ 'other_retirement_accounts' | trans ({}, 'atblueprint') }}</h2>
    <p>{{ 'add_other_retirement_description' | trans ({}, 'atblueprint') }}</p>
    <br>
    <button class="btn btn-success btn-custom" onclick="ajaxModal('/atBlueprint/personalInfo/addretirementaccount', '{{ 'add_a_retirement_account' | trans ({}, 'atblueprint') }}', 'large');">{{ personalInfo|length == 0 ? 'add_account' | trans ({}, 'atblueprint') : 'add_another_account' | trans ({}, 'atblueprint') }}</button>
    <br>

    {% include 'SpeAppBundle:Template:ATBlueprint/personalInformation/displaytable.html.twig' %}

{% endblock %}

{% block back %}
    personalInformationBridgePage();
{% endblock %}

{% block forward %}
    personalInformationBridgePage();
{% endblock %}