<form id="userform">
	<input style="display:none" value = '{{ edit.id }}' name="id" id="id" />
	<table class="table">
		<tr class="active">
			<td>
				UserID
			</td>
			<td>
				Site Token
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divUserid">
					<select class="form-control" name="userid" id="userid">
                        {% for item in accounts %}
							<option {{ item.id == edit.userid ? 'selected ' : '' }}value="{{ item.id }}">{{ item.id }}: {{ item.company }}</option>
                        {% endfor %}
					</select>
				</div>
			</td>
			<td>
				<div class="form-group" id="divSiteToken">
					<input type="number" value = "{{ edit.siteToken }}" name="siteToken" id="siteToken" class = "form-control" />
				</div>

			</td>
		</tr>
		<tr class="active">
			<td>
				Username
			</td>
			<td>
				Password
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divUsername">
					<input value = "{{ edit.userName }}" name="userName" id = "userName" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divPassword">
					<input value = "{{ edit.password }}" name="password" id="password" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr class="active">
			<td>
				Type
			</td>
			<td>
				Url
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group" id="divType">
					<input type="number" value = "{{ edit.type }}" name="type" id = "type" class = "form-control"  />
				</div>
			</td>
			<td>
				<div class="form-group" id="divUrl">
					<input type="text" value = "{{ edit.url }}" name="url" id = "url" class = "form-control"  />
				</div>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<button type="button" class="btn btn-info" onclick = "saveentry()">Save</button>
			</td>
		</tr>
	</table>
</form>

<script>
    function saveentry()
    {
        var page = "{{ path('_manage_accountsRecordkeepersSrt_editSaved') }}";

        $.post(page, $('#userform').serialize()).done(function(data) {
            $('#accountsRecordkeepersSrtTable').dataTable().fnDraw(false);
            closeLightBox();
        });

    }
</script>