{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'AccountsRecordkeepersSrt UI'})) }}

<form id="accountsRecordkeepersSrtSearchForm" action="{{ path('_manage_accountsRecordkeepersSrt_search') }}" method="POST" style="margin-bottom:20px;" onsubmit="return submitSearch();">
    {% for key,field in fields %}
        {% if field.searchable %}
            {% if not field.isPulldown %}
                <div class="form-group">
                    <label for="{{ key }}">{{ key }}</label>
                    <input type="text" class="form-control" name="{{ key }}" id="{{ key }}">
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ key }}">{{ key }}</label>
                    <select name="{{ key }}" id="{{ key }}">
                        <option value=""></option>
                        {% for item in field.options %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-default">Clear</button>
    <button type="button" class="btn btn-default" onclick="ajaxModal('/admin/manage/accountsRecordkeepersSrt/add','Add Entry')">Add Entry</button>
</form>

<div class="table-responsive">
    <table id="accountsRecordkeepersSrtTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width:1%">ID</th>
            <th style="width:1%">userid</th>
            <th style="width:1%">siteToken</th>
            <th style="width:1%">userName</th>
            <th style="width:1%">password</th>
            <th style="width:1%">type</th>
            <th style="width:1%">url</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
</div>

<script>

    var dataTable = $('#accountsRecordkeepersSrtTable').DataTable(
        {
            "processing": true,
            "serverSide": true,
            "ajax":
                {
                    "url": "{{ path('_manage_accountsRecordkeepersSrt_search') }}",
                    "type": "POST",
                    "data": function(d) {
                        {% for key,field in fields %}
                        d.{{ key }} = $("#{{ key }}").val();
                        {% endfor %}
                    }
                },
            "dom": 'rltip',
            columns: [
                {% for key,field in fields %}
                {
                    data: "{{ key }}",
                    orderable: {{ field.orderable ? 'true' : 'false' }}
                },
                {% endfor %}
            ],
            "oLanguage":
                {
                    "sProcessing": '<img src = "{{ asset('images/load-icon.gif') }}" />',
                    "sEmptyTable": " "
                }
        });

    function submitSearch() {
        dataTable.ajax.reload();
        return false;
    }
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}