<div id="result" class="center survey-question">
        <h1>{{ 'survey_two_thank_you' | trans ({}, 'survey_two') }}</h1>
        <h2>{{ 'survey_two_you_have_selected_the' | trans ({}, 'survey_two') }} <span id="answerString"></span>{{ 'survey_two_plan' | trans ({}, 'survey_two') }}.</h2>
        <h2>{{ 'survey_two_correct' | trans ({}, 'survey_two') }}</h2>
        <button id="confirm" type="button" class="color-primary">{{ 'survey_two_yes' | trans ({}, 'survey_two') }}</button>
        <button id="unconfirmed" type="button" class="transparent">{{ 'survey_two_no' | trans ({}, 'survey_two') }}</button>
</div>
