<div id="q1" class="survey-question">
    <h1>{{ 'survey_two_select_plan_type' | trans ({}, 'survey_two') }}</h1>
    <div class="input-group input-radio">

        {% for answer in answers %}

            <div class="input-row">
                <input id="{{answer.planid}}" class="theOption save-radio" data="{{answer.type}}" data-type="{{identifier}}" type="radio" name="employer-type" value="{{answer.type}}" />
                <label for="{{answer.planid}}"><span></span>
                    {{answer.type}}
                </label>
            </div>

        {% endfor %}

    </div>
</div>