{# empty Twig template #}
<div id="" class="survey-question">
    <h1>{{ question | trans ({}, 'survey_two') }}</h1>
    <div class="input-group input-select">


        <div class="input-row">
            <div class="dropdown">

                <div id="group-1" class="d-downs">
                    <select class="theOption">
                        <option value="">Select One...</option>
                        {% for answer in answers %}
                            <option value="{{answer.id}}" data-answer="{{answer.id}}" data-type="{{type}}" data-label="{{ answer.label }}">{{answer.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>