{% for account in items %}
{% if loop.index > 1 %},{% endif %}
{% set action = "showAccountStats('" ~account.id ~"')"  %}
[
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ account.id }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ account.partnerid }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ account.company }}</span>"
]
{% endfor %}
