{% for plan in items %}
{% if loop.index > 1 %},{% endif %}
{% set action = "showPlanStats('" ~plan.id ~"')"  %}
[
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{ plan.id }}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{plan.planid}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{plan.name}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{plan.userid}}</span>",
        "<span onclick = \"{{action }}\" style = \"cursor:pointer\">{{plan.partnerid}}</span>"
]
{% endfor %}
