{% for account in items %}
{% if loop.index > 1 %},{% endif %}
[
    {{ account.id }},
    "{{ account.firstName }}",
    "{{ account.lastName }}",
    "{{ account.email}}",
    "{{ account.partnerid}}",
    "{{ account.planid}}",
    "{% if account.lastModified is not null %}{{ account.lastModified | date("m-d-y H:i:s") }}{% endif %}",
    "{{ account.accountStatus}}",
    "{% if account.logoFilePath is not null %}<img src =\"{{ account.logoFilePath}}\" style=\"max-width:300px;max-height:100px;\"/>{% endif %}",
    "{{ account.tableName}}",
    "<a href=\"{{ sponsorConnect }}/?uc={{ account.urlPass }}\">{{ account.urlPass }}</a>",
    "<span class =\"glyphicon glyphicon-minus\" onclick = \"launchUsersChangeStatusConfirm({{account.id}})\"></span>"
]
{% endfor %}
