{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'System Messages'})) }}
{% set table = "SystemMessages" %}
{% set tablename = "SystemMessages" %}
{% set header = '<th>Id</th><th>Name</th><th>Tags</th><th>Expiration Date</th><th>Actions</th>' %}
{% set types = "sm.id,sm.message,MAX(smtags.name),sm.expirationDate" %}
{% set template =  'ManageManageBundle:SystemMessages:Search/messagelist.html.twig' %}
{% set url = path('_account_system_messages_datatables')  %}
{% set unsearchableArray = [4] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function deleteSystemMessage(id)
{
    $.post("{{path('_account_system_messages_deleteMessage_saved')}}", {id: id}).done(function(data) 
    {
        closeLightBox();
        SystemMessagesTable.fnDraw(false);
        modalMessage("Deleted");        
    }); 
}  
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}