{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Branding'})) }}
<div class="alert alert-success" id="saved-alert" {% if not success %} style = "display:none"{% endif %}><button type="button" class="close" onclick = "$('#saved-alert').hide()"><span aria-hidden="true">×</span></button><span class="glyphicon glyphicon-ok"></span> Changes successfully saved.</div>
<h2>Branding</h2>

<p class="well well-lg"><span class="glyphicon glyphicon-info-sign"></span> The three images below will appear across the top of your SmartPlan interface. You can optionally add a link to the Banner image that will appear in the center.</p>
<hr/>

<form role="form" id="plan-branding" method="post" action="{{ path('utilities_upload_logos') }}" enctype="multipart/form-data">

  {% for image in images %}
  <div class="form-group"  >
    <label for="{{ image.section }}">{{ image.description }}</label>
        <img id = "{{ image.section }}SRC"  src="{{ image.url }}"  style = "{% if image.url == "" %}display:none;{% endif %}" />
    <br/>
    <input type = "text" value = "{{ image.url }}" name = "{{ image.section }}SRC" id = "{{ image.section }}SRCText" style = "display:none" />
    <input type = "text" name = "returnpage" value = "{{ path('_plans_branding') }}" style = "display:none" />
    {% if writeable %}
    <input type="file" name="{{ image.section }}" id = "{{ image.section }}File" />
    <p class="help-block" style ="line-height:50px;display:none" id ="{{ image.section }}Dimensions"><input type ="text" class = "form-control" value ="{{image.width}}" style ="width:100px;display:inline" id = "{{ image.section }}Width" name ="{{ image.section }}Width" onkeyup ="resizeLogoUsingWidth('{{ image.section }}',this.value)" /> x <input type ="text" class ="form-control" value = "{{image.height}}"  style ="width:100px;display:inline" id = "{{ image.section }}Height" name = "{{ image.section }}Height" onkeyup ="resizeLogoUsingHeight('{{ image.section }}',this.value)" /></p>
    <button type = "button" class="btn btn-sm btn-danger" value = "0" id = "{{ image.section }}Remove" {% if image.url == "" %}style = "display:none"{% endif %}>Remove</button>
    {% endif %}
  </div>
  {% endfor %}



  <div class="form-group">
    <label for="bannerLinkUrl">Banner Image Link URL</label>
    <input name="bannerLinkUrl" type="url" class="form-control" placeholder="Banner Image Link URL" value = "{{ bannerLinkUrl }}" {% if not writeable %}disabled{% endif %} />
    <p class="help-block">ex. "http://google.com"</p>
  </div>
  {% if writeable %}
  <hr />
  <button type="submit" id = "plan-branding-button" class="btn btn-success">Save</button>
  {% endif %}

</form>   
   
{{ include ("PlansPlansBundle:Branding:javascript/index.js.twig") }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}



 
