    <!-- Bootstrap Core CSS -->
    <link href="https://api-uat.smartplanenterprise.com/api/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="https://api-uat.smartplanenterprise.com/api/css/custom.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/responsive.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/animate.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/videopopup.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/navigationslide.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/modal.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/dropdown.css" rel="stylesheet">
    <link href="https://api-uat.smartplanenterprise.com/api/css/interpage.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js">
    </script>
    <!-- Highcharts -->
    <!--<script src="http://code.highcharts.com/stock/highstock.src.js" type="text/javascript">
    </script>-->

<div class="your-account-expand-main" id="account-expand-main" style="height: 415px;">
    Here's an overview

    <div class="animation-start">
        <div class="paddingaccount">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: left;">
                    <div class="account-left-section">
                        <div>
                            YOUR ACCOUNT
                        </div>


                        <div class="account-description">
                            <small>Current Balance</small>
                        </div>


                        <div class="largecount">
                            <div class="dollar currency">
                                <span class="counter">122,908</span>.<span class="countersup">56</span>
                            </div>
                        </div>


                        <div class="vested-progress-bar">
                            <div class="progress-container">
                                <div class="progress active">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar" role="progressbar" style="width: 40%;">
                                        <div class="vested-percent">
                                            &nbsp;40% Vested &nbsp; <span class="field-tip"><i aria-hidden="true" class="fa fa-info-circle cursor-help"></i> <span class="tip-content">You are always 100% vested in the contributions you make to this plan. You will need to meet certain requirements to become 100% vested in contributions that your employer makes on your behalf.</span></span>
                                        </div>
                                    </div>
                                    <span class="vested-amount">$49,163<sup>.43</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: left;">
                    <div class="account-right-section">
                        <div class="future">
                            YOUR FUTURE
                        </div>


                        <div class="account-description">
                            <small>Estimated retirement income per month</small>
                        </div>


                        <div class="largecount">
                            <div class="dollar currency">
                                <span class="counter">{{ projectedMonthlyRetirement_0 | round }}</span>.<span class="countersup">12</span>
                            </div>
                        </div>


                        <div class="retirementcta centered" style="text-align: center;">
                            Will this be enough? ▸
                        </div>
                    </div>
                </div>
            </div>


            <div class="row account-bottom-section mini-boxes">
                <div class="col-xs-4 nopadding">
                    <div class="ytd-contributions mini-box whitetransparent">
                        <a href="#" style="text-decoration: none !important;"><button class="buttonz" data-active="I'M ACTIVE" data-hover="Take me there" type="button">

                                <div class="cta-boxes">
                                    YTD Contributions ▸
                                </div>
                                <span class="dollar2">$</span><span class="counter2">1,150<sup>.00</sup></span>

                            </button></a>
                    </div>
                </div>


                <div class="col-xs-4 nopadding">
                    <div class="contribution-rate mini-box whitetransparent">
                        <a href="#" style="text-decoration: none !important;"><button class="buttonz" data-active="I'M ACTIVE" data-hover="Make a change" type="button">

                                <div class="cta-boxes">
                                    Contribution Rate ▸
                                </div>
                                <span class="counter2">7<sup>%</sup></span>
                            </button></a>
                    </div>
                </div>


                <div class="col-xs-4 nopadding">
                    <div class="rate-of-return mini-box whitetransparent">
                        <a href="#" style="text-decoration: none !important;"><button class="buttonz" data-active="I'M ACTIVE" data-hover="Let's take a look" type="button">

                                <div class="cta-boxes">
                                    Rate of Return ▸
                                </div>
                                <span class="counter2">10<sup>%</sup></span>
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>