<script>
var connectionType = "{{ connectionType }}";
var loadedplans = 0;
function updateplans()
{
  if (loadedplans == 0)
  {
    $('#recordkeeperPlansContainer').hide();
    var	querystring = "";
    loadedplans = 1;

    if (connectionType.indexOf("SRT") == 0)
    var recordkeeperurl = "{{ path('_recordkeepers_srt_update_plans') }}";

    else if (connectionType == "Relius")
    var recordkeeperurl = "{{ path('recordkeepers_relius_update_plans') }}";

    else if (connectionType == "ExpertPlan")
    var recordkeeperurl = "{{ path('_recordkeepers_expert_update_plans') }}";

    else  if (connectionType == "Envisage")
    var recordkeeperurl = "{{ path('_recordkeepers_envisage_update_plans') }}";

    else
    var recordkeeperurl = "{{ path('_plans_plan_identification_educate_select_plan') }}"
    
    $.ajax(
    {
      type: "POST",
      url: recordkeeperurl
    })
    .done(function( msg ) 
    {
      restartTablerecordkeeperPlans();
      $('#load-icon').hide();
      $('#recordkeeperPlansContainer').show();
    });

  }
}

function showPlansXml()
{
    if (connectionType.indexOf("SRT") == 0)
    var recordkeeperurl = "{{ path('_recordkeepers_srt_plansXML') }}";
    if (connectionType == "Relius")
    var recordkeeperurl = "{{ path('recordkeepers_relius_plans_xml') }}";
    var querystring = "";
    if (connectionType == "Envisage")
    var recordkeeperurl = "{{ path('_recordkeepers_envisage_plansXML') }}";   
    

    $("#testplandiv").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#testplandiv").html(data);
    });
    
    
}
function updatePlansidUrl()
{
    if (connectionType == "Relius")
    var recordkeeperurl = "{{ path('recordkeepers_relius_update_plans_ids') }}";
    if (connectionType.indexOf("SRT") == 0)
    var recordkeeperurl = "{{ path('_recordkeepers_srt_update_plans_ids') }}";
    if (connectionType == "Envisage")
    var recordkeeperurl = "{{ path('_recordkeepers_envisage_update_plans_ids') }}";

    var querystring = "";
    $("#updatePlansidUrl").html('<img src ="{{ asset('images/load-icon.gif') }}" /> ');
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $("#updatePlansidUrl").html('');
    });
}



function selectplan(planname,planid,plantypecd)
{
  $('#planname').val(planname);
  $('#planid').val(planid);
  $('#plantypecd').val(plantypecd);
  $("#plans-modal").modal("hide"); 
  {% if connectionType starts with "SRT" %}
  $('#displayedplanid').val(plantypecd);
  {% else %}
  $('#displayedplanid').val(planid);
  {% endif %}
}


function associate(planid,plantypecd,initialPlan)
{
  var	querystring = "planid=" + planid + "&plantypecd=" + plantypecd + "&initialplan=" + initialPlan;

  if (connectionType.indexOf("SRT") == 0)
  var recordkeeperurl = "{{ path('_recordkeepers_srt_select_plan') }}";	

  else  if (connectionType == "Relius" )
  var recordkeeperurl = "{{ path('recordkeepers_relius_select_plan') }}";	

  else  if (connectionType == "ExpertPlan" )
  var recordkeeperurl = "{{ path('_recordkeepers_expert_select_plan') }}";


  else if (connectionType == "Envisage")
  var recordkeeperurl = "{{ path('_recordkeepers_envisage_select_plan') }}";

  else
  {

    querystring = querystring + "&name=" + encodeURIComponent($('#planname').val()) + "&redirectWebsiteAddress=" + $('#redirectWebsiteAddress').val();
    var recordkeeperurl = "{{ path('_plans_plan_identification_educate_select_plan') }}";
  }

  var returnsite = "{{ path('_plans_branding') }}";
   
    $.post(recordkeeperurl, querystring).done(function(data) 
    {
        $('html, body').animate({ scrollTop: 0 }, 0);
        if (data == "true")
        {
            $('#currentplanname').html($('#planname').val());
            $('#currentplanid').html($('#planid').val());
    $.post('{{ path('_plans_plan_identification_savePlan') }}', $('#plan-identification').serialize()).done(function(response) {
                if (response === "success") {
                    $('#saved-alert').show();
                    setTimeout(function(){
                    $('#saved-alert').slideUp();
                    },3000);
                }
                else {
                    alert("Failed to save some plan data");
                }
            });
        } else if (data == "partial") {
            $('#partial-alert').show();
            setTimeout(function(){
                $('#partial-alert').slideUp();
            },3000);
        }
        else
        {
          $('#failed-alert').show();
          setTimeout(function(){
          $('#failed-alert').slideUp();
          },3000);

        }
    });
}


</script>