{% for message in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ message.id }},
	"{{message.title}}",
        "<a href = \"javascript:ajaxModal('{{ path('_manage_outreach_messages_edit') }}?table={{request.table }}&id={{message.id}}','Edit')\" class =\"glyphicon_link\"><span class = \"glyphicon glyphicon-edit\"></span></a> <a href = \"javascript:ajaxModal('{{ path('_manage_outreach_messages_delete') }}?table={{request.table }}&id={{message.id}}','Delete')\" class =\"glyphicon_link\"><span class = \"glyphicon glyphicon-remove\"></span></a>"
]
{% endfor %}