<form id ="addgroup">
    <input type ="text" name ="name" placeholder ="name" class ="form-control" required>
    <br/>
    <input type ="text" name ="tag" placeholder ="tag" class ="form-control" required>
    <br/>
    <button type ="submit" class ="btn btn-info">Add</button>
</form>
<script>
$( "#addgroup" ).submit(function( event )
{
    event.preventDefault();   
    var querystring = $("#addgroup").serialize();
    var page = "{{ path('_manage_funds_groups_add_group_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadFundsGroupsList();
    });
});    
</script>