<form id ="deletegroup">
    {{ group.name }}<br/><br/>
    <input type ="hidden" name ="id" value ="{{ group.id }}" />
    <button class ="btn btn-warning" >Delete Group</button>
</form>
<script>
$( "#deletegroup" ).submit(function( event )
{
    event.preventDefault();   
    var querystring = $("#deletegroup").serialize();
    var page = "{{ path('_manage_funds_groups_delete_group_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadFundsGroupsList();
    });
});    
</script>