<form id ="editgroup">
    <strong>Name</strong>
    <input type ="text" name ="name" placeholder ="name" value ="{{group.name }}" class ="form-control" required>
    <br/>
    <strong>Tag</strong>
    <input type ="text" name ="tag" placeholder ="tag" value = "{{ group.tag }}" class ="form-control" required>
    <br/>
    <input type ="hidden" name ="id" value ="{{ group.id }}"/>
    <button type ="submit" class ="btn btn-primary">Save</button>
</form>
<script>
$( "#editgroup" ).submit(function( event )
{
    event.preventDefault();   
    var querystring = $("#editgroup").serialize();
    var page = "{{ path('_manage_funds_groups_edit_group_saved') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadFundsGroupsList();
    });
});    
</script>
