<ul class="list-group" id = "groupSort">
    {% for group in groups %}
    <li class="list-group-item"><input type ="hidden" value ="{{ group.id }}" class ="fundgroupids" />{{ group.name }}</li>
    {% endfor %}
</ul>
<button class ="btn btn-primary" onclick ="updateGroupingOrder()">Save</button>
<script>
$( "#groupSort" ).sortable();
function updateGroupingOrder()
{
    var ids = [];
    $( ".fundgroupids" ).each(function( index ) 
    {
       ids.push($(this).val());
    });
    var params = { ids: ids };
    var page = "{{ path('_manage_funds_groups_reorder_group_saved') }}";
    $.post(page, params).done(function(data) 
    {
        reloadFundsGroupsList();
    });
}
</script>