{% if values | length > 0 %}
<br/>
<ul class="list-group" id = "valueSort">
    {% for row in values %}
    <li class="list-group-item">
    <form class ="fundsGroupEditValue" >
        <input type ="hidden" value ="{{ row.id }}" name ="id" class ="fundsGroupValueId" />
        <div class="row">
            <div class="col-md-9"> 
                <input type ="text" class ="form-control" value ="{{ row.value }}" name ="value" placeholder ="value" required />
            </div>
            <div class="col-md-3">
                <button class ="btn btn-primary" type ="submit">Save</button> <button class ="btn btn-warning" type ="button" onclick ="deleteGroupValue({{ row.id }})">Delete</button> 
            </div>
        </div>
    </form>
    </li>
    {% endfor %}
</ul>
<button class ="btn btn-primary" onclick ="updateValueOrder()">Save Order</button>
{% endif %}
<script>
$( "#valueSort" ).sortable();
$( ".fundsGroupEditValue" ).submit(function( event )
{
    event.preventDefault();   
    var querystring = $(this).serialize();
    var page = "{{ path('_manage_funds_groups_list_edit') }}";
    $.post(page, querystring).done(function(data) 
    {
        reloadValueList({{ app.request.query.get("id") }});
    });
});    
function deleteGroupValue(id)
{
    var params = { id: id };
    var page = "{{ path('_manage_funds_groups_list_delete') }}";
    $.post(page, params).done(function(data) 
    {
        reloadValueList({{ app.request.query.get("id") }});
    });  
}
function updateValueOrder()
{
    var ids = [];
    $( ".fundsGroupValueId" ).each(function( index ) 
    {
       ids.push($(this).val());
    });
    var params = { ids: ids };
    var page = "{{ path('_manage_funds_groups_list_reorder') }}";
    $.post(page, params).done(function(data) 
    {
        closeLightBox();
    });    
}
</script>   