<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ 'survey_one_title' | trans ({}, 'survey_one') }}</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>

{% include('WidgetsBundle:Survey:css/survey.css.twig') %}
{% include('WidgetsBundle:Survey:css/whitelabel.css.twig') %}

</head>

<body>

    
<div id="vwise_survey">

	<div id="veil"></div>

		<div class="close return">{{ 'survey_one_close' | trans ({}, 'survey_one') }}</div>

		<div class="container">
                    
			<div id="survey">

					<div id="intro" class="form-page">

						<h1>{{ 'survey_one_welcome' | trans ({}, 'survey_one') }}</h1>
						<p>{{ 'survey_one_your_smartplan_experience' | trans ({}, 'survey_one') }}</p>
						<p>{{ 'survey_one_simply_answer' | trans ({}, 'survey_one') }}</p>
						<button id="start-survey" class="button transparent">{{ 'survey_one_get_started' | trans ({}, 'survey_one') }}</button>
						
						{#
						<div id="languageSelect">
							<div class="menu">
								<div class="currentLanguage">English <span></span></div>
								<ul class="options color-secondary">
									<li id="survey-en" class="lang-selector" data="en">{{ 'survey_one_english' | trans ({}, 'survey_one') }}</li>
									<li id="survey-es" class="lang-selector" data="es">{{ 'survey_one_spanish' | trans ({}, 'survey_one') }}</li>
								</ul>
							</div>
						</div>
						#}
						
					</div>

					<div id="q1" class="form-page">
						<h1>{{ 'survey_one_select_state_employer' | trans ({}, 'survey_one') }}</h1>
						<div class="input-group input-radio">
                                                    
                            {% for value, group in employersGroups %}
                                                        
                            <div class="input-row">
                                <input id="q1-a{{value + 1}}" data="{{group.description}}" type="radio" name="employer-type" value="{{group.id}}" />
                                <label for="q1-a{{value + 1}}"><span></span>
                                    {{group.description}}
                                </label>
                            </div>  
                        {% endfor %}

						</div>
						<div class="button-group">
							<button id="backToIntro" class="button transparent">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
							<button id="submit-q1" class="button color-primary">{{ 'survey_one_next' | trans ({}, 'survey_one') }}</button>
						</div>

					</div>
                        
                    <div id="q2" class="form-page">
                        <h1>{{ 'survey_one_select_employer_category' | trans ({}, 'survey_one') }}</h1>
                        <div class="input-group input-radio" id="childGroups"></div>
                        <div class="button-group">
                            <button id="reanswer-q1" class="button transparent">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
                            <button id="submit-q2" class="button color-primary">{{ 'survey_one_next' | trans ({}, 'survey_one') }}</button>
                        </div>
                    </div>

                    <div id="q3" class="form-page">
                        <h1>{{ 'survey_one_select_employer' | trans ({}, 'survey_one') }}</h1>
                        <div class="input-group input-select">
                            <div class="input-row">
                                <div class="dropdown">
                                    <div>
                                        <select id="employersSelect">                                                                                
                                            <option value="" data-placeholder>{{ 'survey_one_select_one' | trans ({}, 'survey_one') }}</option>   
                                        </select> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-group">
                            <button id="reanswer-q1" class="button transparent">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
                            <button id="reanswer-q2" class="button transparent">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
                            <button id="submit-q3" class="button color-primary">{{ 'survey_one_next' | trans ({}, 'survey_one') }}</button>
                        </div>
                    </div>

					<div id="q4" class="form-page">
						<h1>{{ 'survey_one_select_plan_type' | trans ({}, 'survey_one') }}</h1>
						<div class="input-group input-radio" id="planTypes">

						</div>
						<div class="button-group">
							<button id="reanswer-q1" class="button transparent" style="display:none;">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
							<button id="reanswer-q3" class="button transparent">{{ 'survey_one_back' | trans ({}, 'survey_one') }}</button>
							<button id="submit-q4" class="button color-primary">{{ 'survey_one_continue' | trans ({}, 'survey_one') }}</button>
						</div>
					</div>


					<div id="result" class="form-page center">
						<h1>{{ 'survey_one_thank_you' | trans ({}, 'survey_one') }}</h1>
						<h2>{{ 'survey_one_you_have_selected_the' | trans ({}, 'survey_one') }} <span id="employertitle"></span> <span id="plantype"></span> {{ 'survey_one_plan' | trans ({}, 'survey_one') }}.</h2>
						<h2>{{ 'survey_one_correct' | trans ({}, 'survey_one') }}</h2>
						<button id="confirm" type="button" class="color-primary">{{ 'survey_one_yes' | trans ({}, 'survey_one') }}</button>
						<button id="unconfirmed" type="button" class="transparent">{{ 'survey_one_no' | trans ({}, 'survey_one') }}</button>
					</div>

					<div id="moreOptions" class="form-page center">
						<h1>{{ 'survey_one_thank_you' | trans ({}, 'survey_one') }}</h1>
						<h2>{{ 'survey_one_contact' | trans ({}, 'survey_one') }} <a href="tel:1-877-602-1870">1-877-602-1870</a>.</h2>
						<h2>{{ 'survey_one_or_click' | trans ({}, 'survey_one') }}</h2>
						<button id="restart" type="button" class="transparent">{{ 'survey_one_try_again' | trans ({}, 'survey_one') }}</button>
					</div>

				</div>

			</div>

		<div id="spinner" style="display:none;">
			<img src="/w/img/loading.svg" alt="One moment please ..." />
			<p id="smartplan-launch" style="display:none;">{{ 'survey_one_great_taking_you' | trans ({}, 'survey_one') }}</p>
		</div>
                <div id="scrollBuddy" class="bg-secondary">&nbsp;</div>

	</div>

	<div id="error-message" class="bg-secondary" style="display:none;">
		<div class="message-container">
			<h2>{{ 'survey_one_error_msg' | trans ({}, 'survey_one') }}</h2>
			<p>{{ 'survey_one_error_msg_try_again' | trans ({}, 'survey_one') }}</p>
			<button id="refresh" class="button transparent">{{ 'survey_one_refresh' | trans ({}, 'survey_one') }}</button>
		</div>
	</div>

	<div id="loading" class="bg-primary" style="display:none;">
		<div class="message-container">
			<img src="/w/img/loading.svg" alt="One moment please ..." />
			<p>{{ 'survey_one_this_may_take_a_moment' | trans ({}, 'survey_one') }}</p>
		</div>
	</div>
                

</div>
<div id="params-misc" data-partner="{{partner}}"></div>
<script>var employersGroups = {{ employersGroups | json_encode | raw }};</script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
{% include('WidgetsBundle:Survey:js/survey.js.twig') %}


</body>
</html>