{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Performance'})) }}
<style>

    .perf-data select {
        width:100%;
        margin-bottom:20px !important;
    }

    #view-zone td:first-child {
        font-weight: bold;
        text-align:right !important;
    }

    #view-zone td {
        width:50%;
    }

    .drop-ds {
        visibility: hidden;
    }

</style>
<div id="content">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-body perf-data">
                <label>Start Date:</label>
                <input type="text" class="form-control" id="startdatepicker" placeholder="Start Date" name="startdatepicker" value="{{startdate}}">
                <br>
                <label>End Date:</label>
                <input type="text" class="form-control" id="enddatepicker" placeholder="End Date" name="enddatepicker" value="{{enddate}}"><br>

                <label >Breadth:</label><br>
                <select id="breadth">
                    <option id="everything" selected>-Choose</option>
                    <option id="vWise" >vWise</option>
                    <option id="advisor">Advisor</option>
                </select>

                <select id="accounts" class="drop-ds">
                    <option>-Choose</option>
                </select>
                <select id="plans" class="drop-ds">
                    <option>-Choose</option>
                </select>
                <div style ="display:none">
                    <label >User Population:</label><br>
                    <select id="population">
                        <option id="all">All</option>
                        <option id="ne">Not Enrolled</option>
                        <option id="enp">Enrolled, Not Participating</option>
                        <option id="ep">Enrolled, Participating</option>
                    </select>
                    <label >Audience:</label><br>
                    <select id="audience">
                        <option id="provider" selected>Provider</option>
                        <option id="advisor" >Advisor</option>
                        <option id="sponsor" style="display:none">Sponsor</option>
                    </select>
                </div>
                <input id="apply_date" type="button" value="Apply" style="border-radius:3px; background-color: #021d48; width:100%; color:#fff; margin-top: 5%; border-color: #ddd;">
                <br><br>
                <a href="#" id="csv-rept" style="display: none">Download CSV</a>
                <a href="#" id="pdf-rept" style="display: none">Download PDF</a>

            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">Performance Report</div>
                <div class="panel-body" id="view-zone">
                    <div id="perf-data"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
<script type="text/javascript">





    $(document).ready(function(){

        $('#startdatepicker').datepicker({dateFormat: "yy-mm-dd" });
        $('#enddatepicker').datepicker({ dateFormat: "yy-mm-dd" });

        $("#csv-rept").click(function (){
            var regex  = /(<([^>]+)>)/ig;
            var data   = $('#view-zone').html();
            var begin  = data.replace(/<td>/g, '"');
            var one    = begin.replace(/<\/td>/g, '"');
            var two    = one.replace(/""/g, '","');
            var three  = two.replace(/<\/tr>/g, '\n');
            var final  = three.replace(/""/g, '"');
            var four   = final.replace(regex, '');

            var csvContent = "data:text/csv;charset=utf-8,";
            csvContent += four;

            var encodedUri = encodeURI(csvContent);
            window.open(encodedUri);

        });

        $("#pdf-rept").click(function (){
            var data = getData();

            var planName = $("#plans :selected").text().replace(/\s+/g, '');
            if(planName == "-All" || planName == "-Choose" || planName == "")
                planName = "All";
            else
                planName = $("#plans :selected").text();
            var reportUrl = "{{path('_settings_generatePdf')}}" + "?start=" + data.start + "&end=" + data.end + "&audience=" + data.audience + "&acct=" + data.acct + "&level=" + data.level + "&plan=" + data.plan + "&pop=" + data.pop + "&var2=" + data.vars + "&prov=" + data.prov + "&planName=" + planName;
            if(data.level == "advisor" && data.prov == " -Choose"){
                alert("Please select an advisor");
            } else {
                window.open(reportUrl);
            }
        });

        function getData() {
            var start = $('#startdatepicker').val();
            var end = $('#enddatepicker').val();
            var audience = $('#audience option:selected').attr('id');
            var pop = $('#population option:selected').attr('id');
            var prov = $('#accounts option:selected').text();
            var level = $('#breadth option:selected').attr('id');
            var acct = $('#accounts option:selected').attr('value');

            if (!acct) {
                acct = '';
            }

            if (!prov || prov === '-Choose' || prov === '-All') {
                prov = 'All';
            }

            var plan = $('#plans option:selected').attr('value');
            var var1 = $('#accounts option:selected').attr('data-smtplan');
            var var2 = $('#plans option:selected').attr('data');
            var dash = '_';
            var varAppend;
            var vars;


            //vars = '';

            if (!var2) {
                vars = var1;
            } else {
                vars = var2.concat('_', var1);
            }
            if(typeof vars == "undefined")
                vars = '';

            /*
             if(!var2 && var1){
             var2 = $('#accounts option:selected').attr('data-smtplan');
             varAppend = dash.concat(var1);
             vars = var2.concat(varAppend);
             }else if(!var1){
             vars = '';
             }
             */

            if (!plan) {
                plan = '';
            }

            if(level == "everything") {
                level = "vWise";
            }


            return {
                start: start,
                end: end,
                audience: audience,
                pop: pop,
                prov: prov,
                level: level,
                acct: acct,
                plan: plan,
                vars: vars
            };
        }

        $('#apply_date').click(function(){

            var data = getData();

            if(data.level == "advisor" && data.prov.replace(/\s+/g, '') == "-Choose"){
                alert("Please select an advisor");
            } else {
                $('#view-zone').html('<div style="width: 20%; margin: 0px auto;"><p><b>Relax while we prepare fresh data....<b></p><img src="{{ asset('images/default.gif') }}" style="width:100%;" /></div>');
                $.get("{{path('_settings_getReport')}}",{start: data.start, end: data.end, audience: data.audience, acct:data.acct, level: data.level, plan: data.plan, pop: data.pop, var2: data.vars, prov: data.prov}).done(function(data){
                    $('#view-zone').html('<table id="perf-data" class="table table-striped"></table>');
                    var dataPoints = data.split(';');
                    $('#perf-data').html(data);
                    $("#csv-rept").show();
                    $("#pdf-rept").show();
                });
            }


        });

        $(document).on('change', '#breadth', function(){

            var level = $('#breadth option:selected').attr('id');

            if(level === 'everything'){
                $('#accounts').addClass('drop-ds');
                $('#plans').addClass('drop-ds');
                $('#accounts').html('');
                $('#plans').html('');
            } else {
                $('#accounts').html('');
                $('#plans').html('');
                $('#plans').addClass('drop-ds');
                $.post("{{path('_settings_getAcctsAction')}}" , {level:level}).done(function(datas){
                    $('#accounts').removeClass('drop-ds');
                    
                    if(level !== "advisor") {
                        datas.unshift("<option value='' data=''> -All</option>");
                    }
                    datas.unshift("<option value='' data=''> -Choose</option>");
                    for (var i = 0; i < datas.length; i++){
                        $('#accounts').append(datas[i]);
                    }
                });
            }


        });

        $(document).on('change', '#accounts', function(){

            var acctId = $('#accounts option:selected').attr('value');
            var level = $('#breadth option:selected').attr('id');
            $('#plans').html('');
            $.post("{{path('_settings_getPlansAction')}}", {acctId:acctId, level:level}).done(function(data){

                $('#plans').removeClass('drop-ds');

                var datas = data.split(',');

                if(acctId != ""){
                    datas.unshift("<option value='' data=''> -Choose</option><option value='' data=''> -All</option>");
                    for (var i = 0; i < datas.length; i++){
                        $('#plans').append(datas[i]);
                    }
                } else {
                    $('#plans').append("<option value='' data=''> -All</option>");
                }

            });
        });
    });
</script>
