

<table class="table table-bordered">	
	<thead>
		<tr class="active">
			
			<th>Participant Name </th>
			<th>Participant Email </th>
			<th width = "100" style = "text-align:center">Profile Link</th>
			<th width = "50" style = "text-align:center">More</th>
		</tr>
	</thead> 

{% for profile in items %}
	<tbody>
		<tr>
			<td>
				{{ profile.participant.firstName| default("") }} {{ profile.participant.lastName| default("") }}
			</td>
			<td>
				{{ profile.participant.email | default("") }}
			</td>
			<td style = "text-align:center">
				<a href = "{{ profile.profileLink | default("") }}" class = "videopreview"><input type = "button" class="btn btn-primary" value = "Link" /></a> 
			</td>
			<td style = "text-align:center">
				<a href = "{{ path('_plans_profiles_search_moreinfo') }}?id={{ profile.id }}" class = "ajaxcontent"><span class = "glyphicon glyphicon-plus"></span></a>
			</td>
		</tr>
	</tbody>
{% endfor %}

</table>

