
<ul class="list-group groupSort">
    {% for group in groups %}
        <li class="list-group-item"><input type ="hidden" value ="{{ group.id }}" class ="fundgroupids" />{{ group.name }}</li>
    {% endfor %}
</ul>
<button class ="btn btn-primary" onclick ="updateGroupOrder()">Save</button>
<script>
$( ".groupSort" ).sortable();
function updateGroupOrder()
{
    var ids = [];
    $( ".fundgroupids" ).each(function( index ) 
    {
       ids.push($(this).val());
    });
    var params = { ids: ids };

    var page = "{{ path('_manage_plans_messagingPanes_reordergroupsSaved') }}";
    $.post(page, params).done(function(data)
    {
        messagesPanesGroupsTable.fnDraw(false);
        closeLightBox();
    });
}
</script>