{% set currentTime = "now"|date("Y-m-d H:i:s ") %}
{% for campaign in items %}
{% if loop.index > 1 %},{% endif %}
[
    {{ campaign.id }},

    "{{ campaign.title }}",
    "{{ campaign.userid }}",
    "{{ campaign.planid }}",
    "{% if campaign.sentDate != "0000-00-00 00:00:00" %} {{ campaign.sentDate }} {% endif %}",
    "{{ campaign.tags }}",
    
    " {% if campaign.sentDate == "0000-00-00 00:00:00" or   campaign.sentDate >  currentTime%}<span class =\"glyphicon glyphicon-edit\" style = \"cursor:pointer\" onclick = \"window.location='{{ path('_manage_campaigns_createcampaign_edit') }}?id={{ campaign.id}}'\"></span>
{% else %}<span class = \"glyphicon glyphicon-stats\" onclick = \"ajaxModal('{{ path('_manage_campaigns_get_stats') }}?id={{campaign.id}}','Campaign Stats','large')\"></span>{% endif %}<span class =\"glyphicon glyphicon-plus\" onclick = \"ajaxModal('{{ path('_manage_campaigns_copy') }}?id={{campaign.id}}','Copy Campaign')\"></span><span class =\"glyphicon glyphicon-info-sign\" onclick = \"ajaxModal('{{ path('_manage_campaigns_get_description') }}?id={{campaign.id}}','View Description')\"  ></span> "
    ]
{% endfor %}