{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >





        <tr>
<td width = "50%">

</td>
<td width = "800" >
<table width = "800" cellspacing="0" cellpadding = "0" border = "0" height = "150">
<tr>

<td width = "800">
<table width = "800" cellspacing="0" cellpadding = "0" border = "0">
<tr>
<td align = "left">
{{ leftImage | raw }}</td>

<td align = "right" >
{{ rightImage | raw }}
</td>
</tr>
</table>
</td>


</tr>

</table>

<a href = "{{ link }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/catchup_for_muscle_car.png" border = "0" width = "800" alt = "body-image" /></a>





</td>
<td width = "50%">
</td>
</tr>



</table>
{% endblock %}