{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor = "#ebebeb" >

<tr>
<td width = "50%">

</td>
<td width = "800" >




<a href = "#matchanalysis"><span id = "dialb"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-dialb.jpg" border = "0" width = "800" /></span></a>
<table width = "800" cellspacing="0" cellpadding = "0" border = "0">
<tr>
<td>
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headerb-1.png" border = "0" />
</td>

<td>
<a href = "#planSpecificInteractiveAndEasyToUse"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headerb-2.png" border = "0"  /></a>
</td>

<td>
<a href = "#comingVerySoon"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headerb-3.png" border = "0"  /></a>
</td>

<td>
<a href = "{{ link }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headerb-4.png" border = "0"  /></a>
</td>
<td>
<img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headerb-5.png" border = "0"  />
</td>
</tr>
</table>
{% for section in sections %}
{% if section != "dial" %}
<span id = "{{ section }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-{{ section }}.jpg" border = "0" width = "800" /></span>
{% endif %}

{% endfor %}


</td>
<td width = "50%">
</td>
</tr>



</table>
    
{% endblock %}