{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor = "#ebebeb" >





        <tr>
<td width = "50%">

</td>
<td width = "800" >
<table width = "800" cellspacing="0" cellpadding = "0" border = "0">
<tr>
<td>
<a href = "{{ secondLink }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headera-1.png" border = "0" height = "42" width = "58" /></a>
</td>

<td>
<a href = "{{ link }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headera-2.png" border = "0" height = "42" width = "98" /></a>
</td>

<td>
<a href = "{{ secondLink }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-headera-3.png" border = "0" height = "42" width = "644" /></a>
</td>
</tr>
</table>


{% for section in sections %}
<span id = "{{ section }}"><a href = "{{ secondLink }}"><img src = "https://6306570d3e60dc0d2a8e-ff5d09fd496917fc58b8a7bcfac3e808.ssl.cf1.rackcdn.com/matching-{{ section }}.jpg" border = "0" width = "800" /></a></span>
{% endfor %}



</td>
<td width = "50%">
</td>
</tr>



</table>
{% endblock %}