{% for directory in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ directory.id }},
	"{{ directory.directory }}",
	
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_plans_library_editDirectory') }}?id={{ directory.id }}','Edit Directory')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_plans_library_deleteDirectory') }}?id={{ directory.id }}','Delete Directory')\"></span></a>"
]
{% endfor %}