{% for type in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ type.id }},
	"{{ type.type }}",
	"{{ type.displayname }}",
	
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_plans_library_editType') }}?id={{ type.id }}','Edit Type')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_plans_library_deleteType') }}?id={{ type.id }}','Delete Type')\"></span></a>"
]
{% endfor %}