{% for video in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ video.id }},
	"{{ video.displayname }}",
	"{{ video.name }}",
	"{{ typeMap[video.typeid] }}",
	"<span class = \"glyphicon glyphicon-play\" title = \"preview\" onclick = \"ajaxModal('{{ path('_manage_plans_library_playVideo') }}?id={{ video.id }}','Video Preview')\" ></span>
	<span class = \"glyphicon glyphicon-film\" title = \"thumbnail\" onclick = \"ajaxModal('{{ path('_manage_plans_library_editThumbnail') }}?id={{ video.id }}','Edit Thumbnail')\" ></span>
	<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_plans_library_editVideo') }}?id={{ video.id }}','Edit Video')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_plans_library_deleteVideo') }}?id={{ video.id }}','Delete Video')\"></span></a>"
]
{% endfor %}