<div class="panel panel-warning">

	<table class="table table-bordered">
		<tr class = "active">
		    <td>
		    	Name
		    </td>
		    <td colspan = "2">
		    	Link
		    </td>		   
		</tr>
		<tr>
			<td>
				{{ document.name }} 
			</td>
			<td>
                            <div style = "word-wrap: break-word;">{{ document.url }} </div>
			</td>			
			<td>
				<a href = "javascript:deleteform(documentTable,'id','{{ document.id }}', '',reloadDocumentList)" class = "ajaxcontent"><span class = "glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>