<form  id="document{{ document.id }}">
	<input type = "text" name = "id" value = "{{ document.id }}" id = "id" style = "display:none" readonly = "true" />
	<table class="table table-bordered">
	<tr class = "active">
		<td>
			Name
		</td>
		<td>
			Link
		</td>
	</tr>
	<tr>
		<td>
			<input type = "text" name = "name" id = "document_name{{ document.id }}" value = "{{ document.name }}"  />
		</td>
		<td>
			<input type = "text" name = "url" id = "document_url{{ document.id }}" value = "{{ document.url }}"  />
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<input type = "button" class="btn btn-primary" onclick = "updatetable(documentTable,'document{{ document.id }}','id',reloadDocumentList)" value = "save" id = "document{{ document.id }}button" />
		</td>
	</tr>
	</table>
</form>
