{
	"data":
	[
		{% for item in items %}
		{% if loop.index > 1 %},{% endif %}
		[
			{{ item.id }},
			"{{ item.client }}",
			"{{ item.title }}",
			"{{ item.mediaType }}",
			"
				{% for localization in item.localizations %}
				{{ localization.language }}<br/>
				{% endfor %}	

			",
			"<span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Edit\" aria-label=\"Edit\" class=\"glyphicon glyphicon-pencil\" onclick = \"ajaxModal('{{ path('_manage_media_editmedia') }}?id={{ item.id }}','Edit Media','extra large')\" ></span><span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\" ><span class=\"glyphicon glyphicon-remove-circle\" onclick = \"deleteMedia('{{ item.id }}')\"></span></span>"
		]
		{% endfor %}
	]

}