{
	"data":
	[
		{% for item in items %}
		{% if loop.index > 1 %},{% endif %}
		[	

			{{ item.id }},
			{% for media in mediaLocalizationSections %}
			{% if media.type == "text" %}"<input type =\"text\" id = \"{{ media.field }}{{ item.id }}\" value = \"{{ attribute(item,media.field) }}\" class = \"form-control\" />",{% endif %}
			{% if media.type == "select" %}"
			<select name = \"{{ media.field }}\" class = \"form-control\" id = \"{{ media.field }}{{ item.id }}\" >
				{% for value,description in media.options %}
				<option value = \"{{ value }}\" {% if attribute(item,media.field) == value %}selected{% endif %}>{{ description }}</option>
				{% endfor %}
			</select>",{% endif %}
			{% endfor %}
			{% set dateField =  item.createdAt %}
			"{{ dateField|date("Y-m-d g:i a") }}",
			{% set dateField =  item.updatedAt %}
			"{{ dateField|date("Y-m-d g:i a") }}",
			"<span class=\"glyphicon glyphicon-floppy-save\" aria-hidden=\"true\" onclick = \"saveMediaLocalization('{{ item.id }}')\"></span><span data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Remove\" aria-label=\"Remove\" class=\"text-danger\" ><span class=\"glyphicon glyphicon-remove-circle\" onclick = \"deleteMediaLocalization({{ item.id}})\"></span></span>"
		]
		{% endfor %}
	]
}