<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>


    <title>SmartPlan Enterprise</title>
<style type="text/css">
a:link {
	color: #;
	text-decoration: none;
}
a:visited {
	color: #;
	text-decoration: none;
}


.style2 {font-size: 11px; color: #000000; font-family: Arial, Helvetica, sans-serif;}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 24px;
	color: #;
	text-align: center;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #;
}
.white_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #FFFFFF;
	vertical-align: top;
	padding-bottom: 6px;
	font-weight: bold;
}
.disclaimer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 10px;
}
.gray_outline {
	border: thin none #999999;
}

.btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #;
	color: #FFF;
	padding:10px;
	width:200px;
	min-width:200px;
	cursor:pointer;
}
</style>
</head>

{% block body %}

{% endblock %}