
{% extends 'ManageManageBundle:Outreach:Vwise/Templates/basetemplate.html.twig' %}
{% block body %}
<body>
   <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">





        <tr>
<td width = "50%">

</td>
<td width = "100" bgcolor = "ebebeb">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "100" />
</td>
<td >



<table width = "600" height = "105" valign = "middle" >

<tr>
<td>
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/alpha.png" height = "105" width = "10" />
</td>


<td>
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/vwiselogo.png" />
</td>
<td>
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "110" />
</td>
<td align = "right">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/followus.png"/>
</td>

<td align = "right">
<a href = "https://www.facebook.com/pages/vWise-Inc/101408579951779">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/facebook.png" border = "0" />
</a>
</td>

<td align = "right">
<a href = "https://twitter.com/vWiseInc">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/twitter.png" border = "0" />
</a>
</td>

<td align = "right">
<a href = "https://www.youtube.com/channel/UCqqaGzH0VoA53GF5g8jx7UA">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/youtube.png" border = "0" />
</a>
</td>
<td>
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "10" />
</td>
</tr>
</table>



<a href = "{{ template.link }}">
<img src = "{{ template.imageurl }}" border = "0"/>
</a>



</td>
<td width = "100" bgcolor = "ebebeb">
<img src = "https://4ac64f63b8c8dabe0c92-42a4056068fa7725fdb753ff5c68ab39.ssl.cf1.rackcdn.com/alpha.png" height = "1" width = "100" />
</td>
<td width = "50%">
</td>
</tr>
    </table>



</body>
{% endblock %}