{% extends 'ManageManageBundle:Outreach:Vwise/Templates/basetemplate.html.twig' %}
{% block body %}
<body>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
		<td width = "50%"></td>
		<td>
			{% if template.link != "nolink" %}
			<a href = "{{ template.link }}">
			{% endif %}
			<img src = "{{ template.imageurl }}" border = "0"/>
			{% if template.link != "nolink" %}
			</a>
			{% endif %}
		</td>
		<td width = "50%"></td>
		</tr>
	</table>
</body>
{% endblock %}