

{% if qdiaFund is not null %}

<td><a href = "https://www.youtube.com/embed/{{ qdiaFund.youtubeid }}?rel=0&wmode=transparent" class = "videopreview">{{ qdiaFund.videoname }}</a>
</td>
<td><a href = "{{ qdiaFund.url }}" target = "_blank">{{ qdiaFund.url }}</td>
{% else %}
<td></td>
<td></td>

{% endif %}