{% extends 'PlansPlansBundle:Investments:Search/qdia.html.twig' %}
{% block selectFund %} <td><input type = "button" onclick = "selectfund('{{ fund.id }}')" value = "Select Fund" class="btn btn-primary"></td>
{% endblock %}
