<script src="https://code.jquery.com/jquery-1.11.3.min.js?time={{ date().timestamp }}"></script>
<script src="/w/js/jquery.animateNumber.min.js?time={{ date().timestamp }}"></script>
<script src="/w/js/wNumb.min.js?time={{ date().timestamp }}"></script>
<script src="/w/js/nouislider.min.js?time={{ date().timestamp }}"></script>
<script src="/w/js/iml.min.js?time={{ date().timestamp }}"></script>
<script src="/w/js/autoNumeric-min.js"></script>
<script src="/w/js/powerview-data.js?time={{ date().timestamp }}"></script>
<script src="/w/js/powerview.js?time={{ date().timestamp }}"></script>
<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
{{ include('WidgetsBundle:GoogleAnalytics:googleaddPowerview.html.twig') }}
