<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ 'powerview_title' | trans ({}, 'widget') }}</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/w/css/global.css" />
<link rel="stylesheet" type="text/css" href="/w/css/white-label.css" />
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/w/js/cookie.js"></script>
<script src="/w/js/functions.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    
	if (testCookie()) {
		$.ajax({
			method: 'GET',
			url: '/widgets/ajax/init/'
		}).success(function( html ) {
			if (IsJsonString(html))
			location.reload();
			else
			showErrorScreen(false);
		}).fail(function( error ) {
			showErrorScreen(false);
		}); 
	}
	else {
		showErrorScreen(true);
	}

	$('#allow-cookies').click(function(e) {
		e.preventDefault();
			window.open('/widgets/ajax/allowSession','popUpWindow');
			//window.location = '/widgets/ajax/allowSession';
	});
        
        
});



function IsJsonString(str) {
    try {
        var obj = JSON.parse(str);
		
		if (!obj.success) {
			return false;
		}

    } catch (e) {
        return false;
    }
    return true;
}
function showErrorScreen(cookie)
{
    $("#loading").hide();

	if (cookie) {
		$("#error-container").hide();
		$("#cookie-container").show();
	}
	$("#error-message").show();
}
</script>

</head>

<body>
<div id="vwise_powerview">
    <div id ="container hold">
        <div id="loading" class="bg-primary"  id ="loadingScreen" style ="display:block">
                        <div class="message-container center spinner" >
                                <img src="{{ asset('w/img/loading.svg') }}" alt="{{ 'one_moment_msg' | trans({}, 'widget') }}" />
                                <p style ="color:white">{{ 'moment_msg' | trans({}, 'widget') }}</p>
                        </div>
        </div>
                                
	<div id="error-message" class="bg-secondary"  style="display:none;color:white">
		<div class="message-container center">
			<h1>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h1>
			<div id="cookie-container" style="display:none;">
				<p>{{ 'please_click_below_to' | trans ({}, 'widget') }}</p>
                                <button type="button" class="transparent refresh" id="allow-cookies">{{ 'submit_msg' | trans ({}, 'widget') }}</button>
			</div>
			<div id="error-container">
                            <p>{{ 'waiting_error_msg' | trans ({}, 'widget') }}</p>
                            <button type="button" class="transparent refresh" onclick ="location.reload()">{{ 'refresh_msg' | trans ({}, 'widget') }}</button>
			</div>
		</div>
	</div>

    </div>
</div>
</body>
</html>
