<form id ="redirectForm" target ="_parent" action ="{{data.redirectUrl}}" method = "POST">
    <input type ="text" name ="_sid" value ="{{data.sid}}" style ="display:none" />
</form>

<form id ="loginForm" target ="_parent" action ="{{data.loginUrl}}" method = "POST">
</form>
