{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Api UI'})) }}

<hr />
<div class="row">
    <div class="col-md-3">
        <div class="sidebar-subnav" id="api-subnav"  role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#api-subnav" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong>Api UI</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne"  class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" {% if currentpage == 'TTL' %}class = "active"{% endif %}><a href="{{ path('_manage_API_ttl') }}">TTL</a></li>
                            <li role="presentation" {% if currentpage == 'ApiUser' %}class = "active"{% endif %}><a href="{{ path('_manage_API_apiUser') }}">Api User</a></li>
                            <li role="presentation" {% if currentpage == 'ApiUserAuth' %}class = "active{% endif %}"><a href="{{ path('_manage_API_apiUserAuth') }}">Api User Auth</a></li>
                            <li role="presentation" {% if currentpage == 'Whitelist' %}class = "active{% endif %}"><a href="{{ path('_manage_API_whitelist') }}">Api Whitelist</a></li>
                            <li role="presentation" {% if currentpage == 'Apis' %}class = "active"{% endif %}><a href="{{ path('_manage_API_index') }}">Apis</a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-9">
