{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Participant Upload'})) }}

<style>
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.processButtonSpinner {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
</style>
<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-6">
        <form id="participantUploadForm" action="" method="POST">
            <div class="form-group">
                <label for="uploadFile">File upload</label>
                <input type="file" id="uploadFile" name="uploadFile" style="border:none;">
            </div>
            <button class="btn btn-primary" type="button" onclick="uploadCsv();">Upload</button>
        </form>
    </div>
</div>

<div id="participantUploadProcess" class="collapse">
    <form id="participantUploadProcessForm" action="" method="POST">
        <div class="form-group">
            <label for="accountId">Account</label>
            <select id="accountId" name="accountId" class="form-control">
                <option value="">Select an account...</option>
                {% for account in accounts %}
                    <option value="{{account.id}}">{{account.company}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="type" value="smartplan" checked>
                SmartPlan
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="type" value="smartenroll">
                SmartEnroll
            </label>
        </div>
        (Shows first 100 entries)
        <div id="participantUploadMapping">
        </div>
        <button class="btn btn-primary" type="button" onclick="processCsv(this);">Start Import</button>
        <span class="glyphicon glyphicon-refresh processButtonSpinner" style="visibility: hidden;"></span>
    </form>
</div>
            
<div id="participantUploadResults" class="collapse">
</div>

<script>
    $('#accountId').val(58);
    function uploadCsv() {
        clearResults();
        var formData = new FormData($("#participantUploadForm")[0]);  
        $.ajax({
            url:'{{ path('_manage_participantUpload_upload') }}',
            type: 'POST',
            data: formData,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#participantUploadMapping').html(data.html);
                $('#participantUploadProcess').collapse('show');
                refreshFieldOptions();
            },
            error: function (data) {
                modalMessage("Upload failed");
            }  
        });  
    }
    
    $(document).on('change', 'select.mappedField', refreshFieldOptions);
    
    function refreshFieldOptions() {
        $('select.mappedField').each(function(key, select) {
            var current = $(select).val();
            $(select).empty();
            $(select).append('<option value="">None</option>');
            $(select).append('{{ fieldOptions|raw }}');
            $("select.mappedField option:selected").each(function() {
                if ($(this).attr("value")) {
                    $(select).find("option[value='"+$(this).attr("value")+"']").remove();
                }
            });
            $(select).val(current);
        });
    }
    
    function processCsv(button) {
        if (!$('#accountId').val()) {
            modalMessage("Account is required");
            return false;
        }
        
        $(button).prop('disabled', true).next('.processButtonSpinner').css('visibility', 'visible');
        clearResults();
        
        $.ajax({
            url:'{{ path('_manage_participantUpload_process') }}',
            type: 'POST',
            data: $('#participantUploadProcessForm').serialize(),
            async: true,
            success: function (data) {
                if (data.success) {
                    var result = data.data.insertCount + ' participants inserted<br>';
                    result += data.data.updateCount + ' participants updated<br>';
                    result += data.data.noPlanCount + ' participants skipped (plan not found)';
                    $('#participantUploadResults').html(result).collapse('show');
                    
                }
                else {
                    modalMessage(data.data);
                }
            },
            error: function() {
                modalMessage("An unknown error occurred");
            }
        }).always(function() {
            $(button).prop('disabled', false).next('.processButtonSpinner').css('visibility', 'hidden');
        });
    }
    
    function clearResults() {
        $('#participantUploadResults').html("").collapse('hide');
    }
</script>

{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}