<script>

function deleteplan(planid)
{
	var page = "{{ path('_plans_delete_plan') }}";
	var querystring = "planid=" + planid;

	$.post(page, querystring).done(function(data) 
	{
		plansTable.fnDraw(false);
		closeLightBox();
	});
}

function removeplantype(planid, type) {
	var page = "{{ path('_plans_plan_identification_updatePlanTypes') }}";
	var querystring = "planid=" + planid + "&type=" + type + "&action=disable";

	$.post(page, querystring).done(function(data) 
	{
		plansTable.fnDraw(false);
		closeLightBox();
	});
}
</script>