<script src="https://code.highcharts.com/6.1.1/highcharts.js"></script>
<script src="https://code.highcharts.com/6.1.1/modules/exporting.js"></script>
<script src="https://code.highcharts.com/6.1.1/highcharts-more.js"></script>
<script src="https://code.highcharts.com/6.1.1/modules/solid-gauge.js"></script>
