<script type="text/template" id="morning-star-index">
    <div class="audio-area"></div>
    <h1 class="title">{{ 'choose_your_path' | trans ({}, 'morningstar') }}</h1>
    <div style="top:30px;height:38px;" class="actions">
        <a class="actionBtn right exitMStar" href="#" aria-label="No thank you"><span class="center action-button">{{ 'no_thank_you' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>

    <div class="details">
        <p>{{ 'click_below_take_advantage_of_retirement_managers' | trans ({}, 'morningstar') }}</p>
        <div align="center" class="row">
            <div class="col-sm-1"></div>
            <a class="mStarPath col-sm-10" style="display:block;" href="#" aria-label="Retirement managers"><img alt="{{ 'morningstar' | trans ({}, 'morningstar') }}" src="/spe/images/global/mStarLogo.png" style="max-width:100%;"></a>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <div id="mStarPrivacyPolicy" style="display:none;">
        <div class="title">{{ 'morningstar_privacy_policy' | trans ({}, 'morningstar') }}</div>
        <div class="body">
            <div class="mStarPrivacyPolicy">

                <table class="table table-bordered">
                    <tr><td><strong>{{ 'pp_item_1' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr><td>{{ 'pp_item_2' | trans ({}, 'morningstar') }}</td></tr>
                </table>

                <table class="table table-bordered">
                    <tr><td><strong>{{ 'pp_item_3' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr><td>
                        <div>{{ 'pp_item_4' | trans ({}, 'morningstar') }}</div>
                        <div>
                            <ul>
                                <li>{{ 'pp_item_5' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_6' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_7' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_8' | trans ({}, 'morningstar') }}</li>
                            </ul>
                            {{ 'pp_item_9' | trans ({}, 'morningstar') }}
                        </div>
                    </td></tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td><strong>{{ 'pp_item_10' | trans ({}, 'morningstar') }}</strong></td>
                        <td><strong>{{ 'pp_item_11' | trans ({}, 'morningstar') }}</strong></td>
                        <td><strong>{{ 'pp_item_12' | trans ({}, 'morningstar') }}</strong></td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_13' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_14' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_16' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_14' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_17' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_18' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_19' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_18' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_20' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_18' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_21' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_15' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_18' | trans ({}, 'morningstar') }}</td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr><td colspan="2"><strong>{{ 'pp_item_22' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr>
                        <td>{{ 'pp_item_23' | trans ({}, 'morningstar') }}</td>
                        <td>{{ 'pp_item_24' | trans ({}, 'morningstar') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_25' | trans ({}, 'morningstar') }}</td>
                        <td>
                            {{ 'pp_item_26' | trans ({}, 'morningstar') }}
                            <ul>
                                <li>{{ 'pp_item_27' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_28' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_29' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_30' | trans ({}, 'morningstar') }}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_31' | trans ({}, 'morningstar') }}</td>
                        <td>
                            {{ 'pp_item_32' | trans ({}, 'morningstar') }}
                            <ul>
                                <li>{{ 'pp_item_33' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_34' | trans ({}, 'morningstar') }}</li>
                                <li>{{ 'pp_item_35' | trans ({}, 'morningstar') }}</li>
                            </ul>
                            {{ 'pp_item_36' | trans ({}, 'morningstar') }}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr><td colspan="2"><strong>{{ 'pp_item_37' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr>
                        <td>{{ 'pp_item_38' | trans ({}, 'morningstar') }}</td>
                        <td>
                            {{ 'pp_item_39' | trans ({}, 'morningstar') }}
                            <ul>
                                <li><em>{{ 'pp_item_40' | trans ({}, 'morningstar') }}</em></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_41' | trans ({}, 'morningstar') }}</td>
                        <td>
                            {{ 'pp_item_42' | trans ({}, 'morningstar') }}
                            <ul>
                                <li><em>{{ 'pp_item_43' | trans ({}, 'morningstar') }}</em></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'pp_item_44' | trans ({}, 'morningstar') }}</td>
                        <td>
                            {{ 'pp_item_45' | trans ({}, 'morningstar') }}
                            <ul>
                                <li><em>{{ 'pp_item_46' | trans ({}, 'morningstar') }}</em></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr><td><strong>{{ 'pp_item_47' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr><td>{{ 'pp_item_48' | trans ({}, 'morningstar') }}</td></tr>
                </table>

                <table class="table table-bordered">
                    <tr><td><strong>{{ 'pp_item_49' | trans ({}, 'morningstar') }}</strong></td></tr>
                    <tr><td>{{ 'pp_item_50' | trans ({}, 'morningstar') }}</td></tr>
                </table>

            </div>
        </div>
    </div>

</script>

<script type="text/template" id="morning-star-info">
    <div class="audio-area"></div>
    <div class="title">{{ 'please_confirm_your_personal_information' | trans ({}, 'morningstar') }}</div>
    <div class="details profileInfo">
        <div class="desc">
            <div class="row">
                <form id="profile_info_form">
                 <div class="col-sm-12 col-md-6 leftInfoBlock">
                     <table class="table">
                         <tr>
                             <td><label for="firstName">{{ 'first_name' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.FirstName %></span><input class="small input" type="text" name="FirstName" id="firstName" value="<%- model.FirstName %>" /></td>
                         </tr>
                         <tr>
                             <td><label for="lastName">{{ 'last_name' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.LastName %></span><input class="small input" type="text" name="LastName" id="lastName" value="<%- model.LastName %>" /></td>
                         </tr>
                         <tr>
                             <td>{{ 'gender' | trans ({}, 'morningstar') }}</td>
                             <td>
                                 <span class="text"><%- model.Gender %></span>
                                 <label class="input"><input type="radio" role="radio" name="Gender" aria-label="Male" value="Male" <%- model.Gender == 'Male' ? 'checked' : '' %> /> {{ 'male' | trans ({}, 'morningstar') }}</label>
                                 <label class="input"><input type="radio" role="radio" name="Gender" aria-label="Female" value="Female" <%- model.Gender == 'Female' ? 'checked' : '' %> /> {{ 'female' | trans ({}, 'morningstar') }}</label>
                             </td>
                         </tr>
                         <tr>
                             <td>{{ 'state_of_residence' | trans ({}, 'morningstar') }}</td>
                             <td>
                                 <span class="text"><label for="state"><%- model.State %></label></span>
                                 <select name="State" class="small input" id="state">
                                     <option value="">{{ 'select' | trans ({}, 'morningstar') }}</option>
                                     <% _.each(model.stateList, function(state, index){ %>
                                        <option value="<%- index %>" <%- index == model.State ? 'selected' : '' %>><%- state %></option>
                                     <% }) %>
                                 </select>
                             </td>
                         </tr>
                         <tr>
                             <td><label for="email">{{ 'email' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.Email %></span><input class="small input" type="text" name="Email" id="email" value="<%- model.Email %>"/></td>
                         </tr>
                         <tr>
                             <td><label for="annualSalary">{{ 'annual_salary' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.AnnualSalary %></span><input class="small input" type="text" name="AnnualSalary" id="annualSalary" value="<%- model.AnnualSalary %>"/></td>
                         </tr>
                         <tr>
                             <td><label for="acctBalance">{{ 'account_balance' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.Balance %></span><input class="small input" type="text" id="acctBalance" name="Balance" <%- model.Balance > 0 ? 'readonly' : '' %> value="<%- model.Balance %>"/></td>
                         </tr>
                         <tr>
                             <td><label for="retireAge">{{ 'retirement_age' | trans ({}, 'morningstar') }}</label></td>
                             <td><span class="text"><%- model.RetireAge %></span><input class="small input" type="text" name="RetireAge" id="retireAge" value="<%- model.RetireAge %>"/></td>
                         </tr>
                     </table>

                 </div>
                 <div class="col-sm-12 col-md-6">
                     <div class="rightBlock col-sm-12">
                         <div class="col-sm-12">
                             <table class="table">
                                 <tr>
                                     <td>
                                     <table>
                                     <tr class="nob">
                                         <td style="width:20px;"><span class="tip" data-toggle="tooltip" data-placement="left" title="{{ 'pre_tax_contribution_are_typical_tax_advantaged' | trans ({}, 'morningstar') }}">(?)</span></td>
                                         <td>{{ 'your_annual_pre_tax_savings_rate' | trans ({}, 'morningstar') }} (%)</td>
                                         <td class="text-center" style="width:30px;"><%- model.PreTaxSavingRate ? model.PreTaxSavingRate : 0 %>%</td>
                                         <input type="hidden" name="PreTaxSavingRate" value="<%- model.PreTaxSavingRate %>">
                                     </tr>
                                     <tr class="nob">
                                         <td><span class="tip" data-toggle="tooltip" data-placement="left" title="{{ 'roth_contributions_are_post_tax' | trans ({}, 'morningstar') }}">(?)</span></td>
                                         <td>{{ 'your_annual_roth_savings_rate' | trans ({}, 'morningstar') }} (%)</td>
                                         <td class="text-center"><%- model.RothTaxSavingRate ? model.RothTaxSavingRate : 0 %>%</td>
                                         <input type="hidden" name="RothTaxSavingRate" value="<%- model.RothTaxSavingRate %>">
                                     </tr>
                                     <tr class="nob">
                                         <td><span class="tip" data-toggle="tooltip" data-placement="left" title="{{ 'certain_employers_allow_post_tax_contributions' | trans ({}, 'morningstar') }}">(?)</span></td>
                                         <td>{{ 'your_annual_post_tax_savings_rate' | trans ({}, 'morningstar') }} (%)</td>
                                         <td class="text-center"><%- model.PostTaxSavingRate ? model.PostTaxSavingRate : 0 %>%</td>
                                         <input type="hidden" name="PostTaxSavingRate" value="<%- model.PostTaxSavingRate %>">
                                     </tr>
                                     </table>
                                    </td>
                                    <td>
                                        <div style="text-align:center;"><a href="#" aria-label="Saving"><img src="/spe/images/global/scp/saving_button.png" alt="saving"></a></div>
                                    </td>
                             </table>
                         </div>
                     </div>

                     <table class='mstar_contribution table'>

                                 <% if(!_.isEmpty(model.CatchUpContribution.Y50Contri) && model.CatchUpContribution.Y50Contri.EnableContri){ %>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="annual50">{{ 'annual_50_years_of_age_catch_up' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td style="width:60px;"><span class="text"><%- model.CatchUpContribution.Y50Contri.ContriDollar  %></span><input class="small input number" type="text" id="annual50" name="contribution[Y50Contri][ContriDollar]" value="<%- model.CatchUpContribution.Y50Contri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="contriY50">{{ 'no_of_years_you_will_make_this_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.Y50Contri.Length  %></span><input class="small input number" type="text" id="contriY50" name="contribution[Y50Contri][Length]" value="<%- model.CatchUpContribution.Y50Contri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                                 <% if(!_.isEmpty(model.CatchUpContribution.RothY50Contri) && model.CatchUpContribution.RothY50Contri.EnableContri){ %>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="annual50Roth">{{ 'annual_50_years_of_age_roth_catch_up' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothY50Contri.ContriDollar  %></span><input class="small input number" type="text" id="annual50Roth" name="contribution[RothY50Contri][ContriDollar]" value="<%- model.CatchUpContribution.RothY50Contri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noRoth">{{ 'no_of_years_you_will_make_roth_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothY50Contri.Length  %></span><input class="small input number" type="text" id="noRoth" name="contribution[RothY50Contri][Length]" value="<%- model.CatchUpContribution.RothY50Contri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                                 <% if(!_.isEmpty(model.CatchUpContribution.LTContri) && model.CatchUpContribution.LTContri.EnableContri){ %>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="longTermCatch">{{ 'annual_long_term_employee_catch_up' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.LTContri.ContriDollar  %></span><input class="small input number" type="text" id="longTermCatch" name="contribution[LTContri][ContriDollar]" value="<%- model.CatchUpContribution.LTContri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noYearsContri">{{ 'no_of_years_you_will_make_this_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.LTContri.Length  %></span><input class="small input number" type="text" id="noYearsContri" name="contribution[LTContri][Length]" value="<%- model.CatchUpContribution.LTContri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                                 <% if(!_.isEmpty(model.CatchUpContribution.RothLTContri) && model.CatchUpContribution.RothLTContri.EnableContri){ %>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="annualLongTermRoth">{{ 'annual_long_term_employee_roth_catch_up' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothLTContri.ContriDollar  %></span><input class="small input number" type="text" id="annualLongTermRoth" name="contribution[RothLTContri][ContriDollar]" value="<%- model.CatchUpContribution.RothLTContri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noYearsMakeContri">{{ 'no_of_years_you_will_make_this_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothLTContri.Length  %></span><input type="text" class="small input number" id="noYearsMakeContri" name="contribution[RothLTContri][Length]" value="<%- model.CatchUpContribution.RothLTContri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                                 <% if(!_.isEmpty(model.CatchUpContribution.Y3Contri) && model.CatchUpContribution.Y3Contri.EnableContri){ %>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="annual3Years">{{ 'annual_last_3_years_of_employment_catchup' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.Y3Contri.ContriDollar  %></span><input class="small input number" type="text" id="annual3Years" name="contribution[Y3Contri][ContriDollar]" value="<%- model.CatchUpContribution.Y3Contri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noOfYearsContri">{{ 'no_of_years_you_will_make_this_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.Y3Contri.Length  %></span><input type="text" class="small input number" id="noOfYearsContri" name="contribution[Y3Contri][Length]" value="<%- model.CatchUpContribution.Y3Contri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                                 <% if(!_.isEmpty(model.CatchUpContribution.RothY3Contri) && model.CatchUpContribution.RothY3Contri.EnableContri){ %>
                                 <?php if(true): ?>
                                 <tr>
                                     <td class="tipc"><span class="tip" title="{{ 'catchup_contribution_rules_allow_people_who_meet_certain_criteria' | trans ({}, 'morningstar') }}">(?)</span></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noYearsCatchupRoth">{{ 'annual_last_3_years_of_employment_roth_catchup' | trans ({}, 'morningstar') }} ($)</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothY3Contri.ContriDollar  %></span><input class="small input number" type="text" id="noYearsCatchupRoth" name="contribution[RothY3Contri][ContriDollar]" value="<%- model.CatchUpContribution.RothY3Contri.ContriDollar  %>"/></td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td colspan="2" style="padding-right:10px;"><label for="noOfYearsYouMakeContri">{{ 'no_of_years_you_will_make_this_contribution' | trans ({}, 'morningstar') }}</label></td>
                                     <td><span class="text"><%- model.CatchUpContribution.RothY3Contri.Length  %></span><input type="text" class="small input number" id="noOfYearsYouMakeContri" name="contribution[RothY3Contri][Length]" value="<%- model.CatchUpContribution.RothY3Contri.Length  %>"/></td>
                                 </tr>
                                 <% } %>

                             </table>
                 </div>
                </form>
            </div>

        </div>
        <div class="clear"></div>
    </div>

    <div class="actions top-action" style="top:30px;height:38px;">
        <a class="actionBtn right actionReturn" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>
    <div class="actions bottom-action">
        <a class="actionBtn left actionEdit" href="#" aria-label="Edit"><span class="center action-button">{{ 'edit' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn left actionSave" style="display:none;" href="#" aria-label="Save"><span class="center action-button">{{ 'save' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn left actionCancel" style="display:none;margin-left:10px;" href="#" aria-label="Cancel"><span class="center action-button">{{ 'cancel' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right actionProceed" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right actionReturn" style="display:none;margin-right:10px;" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>

</script>

<script type="text/template" id="morning-star-asset-mix">
    <div class="audio-area"></div>
    <div class="title">{{ 'proposed_asset_mix' | trans ({}, 'morningstar') }}</div>
    <div class="details assetMix">
        <div class="row">
            <div class="col-sm-6">
                <div class="chart-wrap">
                    <div id="asset-mix-chart-wrapper"></div>
                </div>
                <div class="risk-level-wrapper">
                    <h3>{{ 'associated_risk_level' | trans ({}, 'morningstar') }}</h3>
                    <div class="riskLevel">
                        <% if(model.RiskIndex){ %>
                        <table class="table-bordered table">
                            <tr>
                                <td class="<%- model.RiskIndex == 1 ? 'fill' : '' %>"></td>
                                <td class="<%- model.RiskIndex == 2 ? 'fill' : '' %>"></td>
                                <td class="<%- model.RiskIndex == 3 ? 'fill' : '' %>"></td>
                                <td class="<%- model.RiskIndex == 4 ? 'fill' : '' %>"></td>
                                <td class="<%- model.RiskIndex == 5 ? 'fill' : '' %>"></td>
                            </tr>
                        </table>
                        <% } %>
                        <div class="capsWrapper">
                            <div class="capLeft text-left">{{ 'conservative' | trans ({}, 'morningstar') }}</div><div class="capRight text-right">{{ 'aggressive' | trans ({}, 'morningstar') }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>{{ 'associated_risk_level_description' | trans ({}, 'morningstar') }}</h3>
                <p><%- model.RiskDesc %></p>

                <div class="arrow-link">
                    <h4 class="link">{{ 'important_strategy_overview_disclosure' | trans ({}, 'morningstar') }} - <a class="importantMessageModal" href="#" aria-label="Important strategy overview disclosure">{{ 'click_here' | trans ({}, 'morningstar') }}</a></h4>
                    <h4 class="link">{{ 'complete_methodology_documentation_pdf' | trans ({}, 'morningstar') }} - <a class="completeMethodologyModal" href="#" aria-label="Complete methodology documentation">{{ 'click_here' | trans ({}, 'morningstar') }}</a></h4>
                </div>
            </div>
        </div>
    </div>

    <div id="importantMessageModal" aria-modal="true" style="display:none;">
        <div class="title">{{ 'important' | trans ({}, 'morningstar') }}</div>
        <div class="body">{{ 'morningstar_retirement_managers_projections_and_other_information' | trans ({}, 'morningstar') }}</div>
    </div>

    <div id="completeMethodologyModal" aria-modal="true" style="display:none;">
        <div class="title">{{ 'complete_methodology' | trans ({}, 'morningstar') }}</div>
        <div class="body"><iframe src="{{ path('pdf', {'filename': 'RMMethodology'}) }}"></iframe></div>
    </div>

    <div class="actions top-action" style="top:30px;height:38px;">
        <a class="actionBtn right actionReturn" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>
    <div class="actions bottom-action">
        <a class="actionBtn left backConfirmInfo" href="#" aria-label="Back"><span class="center action-button">{{ 'back' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right proceedAssetMix" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right actionReturn" style="display:none;margin-right:10px;" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>

</script>

<script type="text/template" id="morning-star-review-details">
    <div class="audio-area"></div>
    <div class="title">{{ 'your_investor_profile' | trans ({}, 'morningstar') }}</div>
    <div class="details reviewDetails profile">
      <div class="profileBox">

        <!-- Start Header  -->
        <div class="profileHeader">
            <div class="logo left">
                <img src="<%- model.providerLogoImage %>" alt="Provider logo" />
            </div>
            <!-- Title -->
            <div class="headtitle right">
                {{ 'your_investor_profile' | trans ({}, 'morningstar') }}<br/>
                <div class="date">{{ 'date_generated' | trans ({}, 'morningstar') }}: <%- model.generatedDate %></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- End Header  -->

        <!-- Start Personal -->
        <div class="reportBox">
          <table style="width:100%;" border="0">
              <tr>
                  <td style="width:34%">
                      <div class="item"><b>{{ 'plan_balance' | trans ({}, 'morningstar') }}: </b><%- model.planName %></div>
                      <div class="item"><b>{{ 'participant_name' | trans ({}, 'morningstar') }}: </b> <%- model.morningstar.participant.FirstName %> <%- model.morningstar.participant.LastName %></div>
                  </td>
              </tr>
          </table>
          <div class="clear"></div>
        </div>
        <!-- End Personal -->

        <div class="divider"></div>

        <!-- Start Balance Contributions -->
        <div id="contributions" class="reportBox">
            <div class="boxTitle">{{ 'strategy_overview' | trans ({}, 'morningstar') }}</div>
            <div class="clear"></div>
            <div class="rowDark">
                <div class="left">{{ 'estimated_annual_retirement_income' | trans ({}, 'morningstar') }}:</div>
                <div class="right">$<%- model.morningstar.strategy ? model.morningstar.strategy.ExpectedAnnualIncome.toFixed(2) : 0 %></div>
                <div class="clear"></div>
            </div>
            <div class="rowLight">
                <div class="left">{{ 'retirement_age' | trans ({}, 'morningstar') }}:</div>
                <div class="right"><%- model.morningstar.participant ? model.morningstar.participant.RetireAge : '' %></div>
                <div class="clear"></div>
            </div>
            <div class="rowDark">
                <div class="left">{{ 'savings_rate' | trans ({}, 'morningstar') }}:</div>
                <div class="right"><%- parseFloat(model.morningstar.participant.PostTaxSavingRate) + parseFloat(model.morningstar.participant.PreTaxSavingRate) + parseFloat(model.morningstar.participant.RothTaxSavingRate) %>%</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="info">{{ 'dont_forget_you_must_connect_your_plan_provider' | trans ({}, 'morningstar') }}</div>
        <!-- End Balance Contributions -->

        <div class="divider"></div>

        <!-- Start Risk  -->
        <div id="riskProfile" class="reportBox">
            <div class="boxTitle">{{ 'asset_mix_risk_level' | trans ({}, 'morningstar') }}</div>
            <div class="clear"></div>

            <div class="rowLight">

                <% if(model.morningstar.strategy){ %>
                <div class="col-sm-6">
                    <div class="risk-level-wrapper">
                        <h3>{{ 'associated_risk_level' | trans ({}, 'morningstar') }}</h3>
                        <div class="riskLevel">
                            <table class="table-bordered table">
                                <tr>
                                    <td class="<%- model.morningstar.strategy.RiskIndex == 1 ? 'fill' : '' %>"></td>
                                    <td class="<%- model.morningstar.strategy.RiskIndex == 2 ? 'fill' : '' %>"></td>
                                    <td class="<%- model.morningstar.strategy.RiskIndex == 3 ? 'fill' : '' %>"></td>
                                    <td class="<%- model.morningstar.strategy.RiskIndex == 4 ? 'fill' : '' %>"></td>
                                    <td class="<%- model.morningstar.strategy.RiskIndex == 5 ? 'fill' : '' %>"></td>
                                </tr>
                            </table>
                            <div class="capsWrapper">
                                <div class="capLeft text-left">{{ 'conservative' | trans ({}, 'morningstar') }}</div><div class="capRight text-right">{{ 'aggressive' | trans ({}, 'morningstar') }}</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="chart-wrap">
                        <div id="asset-mix-chart-wrapper"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <% } else { %>
                    {{ 'asset_mix_risk_level_not_available' | trans ({}, 'morningstar') }}
                <% } %>
            </div>
            <br>
        </div>

          <!-- Start Important Message -->
          <% if(model.investorProfileDisclosure){ %>
          <div id="important_message" class="reportBox">
              <div class="boxTitle">{{ 'important_message' | trans ({}, 'morningstar') }}</div>
              <div class="clear"></div>
              <div class="info"><%- model.investorProfileDisclosure %></div>
              <div class="clear"></div>
          </div>
          <% } %>
          <!-- End Important Message  -->

      </div>
    </div>

    <div class="bottom-spacer"></div>

    <div class="actions top-action" style="top:30px;height:38px;">
        <a class="actionBtn right actionReturn" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
        <div class="clear"></div>
    </div>
    <div class="actions bottom-action">
        <a class="actionBtn right actionSaveFinish" href="#" aria-label="Save Finish"><span class="center action-button">{{ 'save_finish' | trans ({}, 'global') }}</span></a>
        <a class="actionBtn right actionCancelReviewDetail" style="margin-right:10px;" href="#" aria-label="Cancel"><span class="center action-button">{{ 'cancel' | trans ({}, 'global') }}</span></a>
        <div class="clear"></div>
    </div>

</script>

<script type="text/template" id="morning-star-terms">
    <div class="disclaimer">
        <div class="title">{{ 'morningstar_terms_conditions' | trans ({}, 'morningstar') }}</div>
        <div class="disclaimer-text">
            <iframe style="width:100%;height:100%;border:none;" src="<%- model.agreementURL %>"></iframe>
        </div>
        <div class="details">{{ 'by_clicking_i_agree' | trans ({}, 'morningstar') }}</div>
        <div class="actions top-action" style="top:30px;height:38px;">
            <a class="actionBtn right actionReturn" href="#" aria-label="Return to choose your path"><span class="center action-button">{{ 'return_to_choose_your_path' | trans ({}, 'morningstar') }}</span></a>
            <div class="clear"></div>
        </div>
        <div class="actions">
            <a class="actionBtn actionAgree right" href="#" aria-label="I agree"><span class="center action-button" style="min-width: 100px; text-align: center">{{ 'i_agree' | trans ({}, 'morningstar') }}</span></a>
            <div class="clear"></div>
        </div>
    </div>
</script>

<script type="text/template" id="morning-star-update">
    <div class="audio-area"></div>
    <div class="title">{{ 'saving_transactions' | trans ({}, 'morningstar') }}</div>
    <div class="details profileUpdates">
        <strong>{{ 'your_updated_retirement_strategy' | trans ({}, 'morningstar') }}</strong>

        <div class="row">
            <% if(!_.isEmpty(model.updateSection)){ %>
            <% _.each(model.updateSection, function(updateSection, index){ %>
            <div class="col-sm-6">
                <div id="transactionWidget<%- updateSection.id %>" class="updateModule row">
                    <div id="update<%- updateSection.id %>" class="loadIcon wait col-xs-3">
                        <div id="s<%- updateSection.id %>" class="spin"><img src="/images/spinner.gif" alt="updating"></div>
                    </div>
                    <div class="updateMessage col-xs-9">
                        <div id="t<%- updateSection.id %>" class="updateTitle"><%- updateSection.section %></div>
                        <div id="m<%- updateSection.id %>" class="message" style="width:250px;word-wrap: break-word;"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <% }) %>
            <% } %>
        </div>

    </div>

    <div class="actions bottom-action">
        <a class="actionBtn right actionProceedUpdate" style="display:none;" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
        <div class="clear"></div>
    </div>
</script>

<script type="text/template" id="morning-star-send-email">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'your_investor_profile' | trans ({}, 'morningstar') }}</div>
    <div class="action-top actions">
        <a class="actionBtn right printProfile" href="#" aria-label="Print"><span class="center action-button">{{ 'print' | trans ({}, 'global') }}</span></a>
    </div>
    <div class="details sendProfile">
        <p>{{ 'congratulations_on_completing_your_enrollment' | trans ({}, 'morningstar') }}</p>
        <div class="row">
            <div class="col-sm-12" style="margin-bottom:5px;"><label for="Name">{{ 'name' | trans ({}, 'morningstar') }}</label></div>
            <div class="col-sm-12"><input style="font-size:16px;" class="normal" type="text" id="Name" value="<%- model.FirstName + ' ' + model.LastName %>"></div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12" style="margin-bottom:5px;"><label for="Email">{{ 'email' | trans ({}, 'morningstar') }}</label></div>
            <div class="col-sm-12"><input style="font-size:16px;" class="normal" type="text" id="Email" value="<%- model.Email %>"></div>
        </div>
        <p style="color:#FF0000;">{{ 'dont_forget_you_must_contact_your_plan_provider' | trans ({}, 'morningstar') }}</p>
    </div>

    <div class="bottom-spacer"></div>
    <div class="actions">
        <a class="actionBtn right emailProfile" href="#" aria-label="Send"><span class="center action-button">{{ 'send' | trans ({}, 'global') }}</span></a>
    </div>
</script>

<script type="text/template" id="morning-star-thank-you">
    <div class="head-title">{{ 'thank_you' | trans ({}, 'my_profile') }}</div>
    <div class="details">
        <p>{{ 'thank_you_details' | trans ({}, 'my_profile') }}</p>
        <p>{{ 'you_should_receive_copy_of_your_investor_profile' | trans ({}, 'my_profile') }}</p>
    </div>
</script>
