<script type="text/template" id="my-profile-profile">
<div class="audio-area"></div>
<h1 class="head-title">{{ 'your_investor_profile' | trans ({}, 'my_profile') }}</h1>
<div id ="profileContents" style ="display:none;" >

</div>
<%
setTimeout(function()
{
    $("#container-main").find(".loader").show();
}, 1);
model.data.silentSaveProfile().then(function(data)
{
    $.get( "/profile/report/" + model.common.profileId + "?fromAdmin=1&ajax=1", function( data )
    {
      $( "#profileContents" ).html( data );
      $( "#profileContents" ).show();
      $("#profileButtons").show();
      $("#container-main").find(".loader").hide();
    });
})
%>
<div id ="profileButtons" style ="display:none">
<div class="bottom-spacer"></div>
<div class="actions">
    <% if(model.common.data_source == 'expertplan' && model.common.beneficiaries){ %>
        <a class="actionBtn left backBeneficiary" href="#" aria-label="Back"><span class="center action-button">{{ 'back' | trans ({}, 'global') }}</span></a>
    <% }else if(model.common.data_source == 'expertplan' || model.common.beneficiaries){ %>
        <a class="actionBtn left back" href="#" aria-label="Back"><span class="center action-button">{{ 'back' | trans ({}, 'global') }}</span></a>
    <% } %>
    <% if (model.common.planAllowsViewOnly == 1) { %>
    <a class="actionBtn right" href="#" aria-label="Save finish"> <span class="center action-button" style="background-color:#BDBDBD;">{{ 'save_finish' | trans ({}, 'global') }}</span> </a>
    <% } else { %>
    <a class="actionBtn right saveProfile" href="#" aria-label="Save finish"> <span class="center action-button">{{ 'save_finish' | trans ({}, 'global') }}</span> </a>
    <% } %>
    <a style="margin-right:15px" class="actionBtn right cancelProfile" href="#" aria-label="Cancel"> <span class="center action-button">{{ 'cancel' | trans ({}, 'global') }}</span> </a>
</div>

<!-- Dont forget Modal 1 -->
<div class="modal fade" id="dontForgetModel1" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><label for="dontForgetModal1">{{ 'dont_forget_model_title' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'dont_forget_model_body_1' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" data-dismiss="modal" aria-label="accept">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Dont forget Modal 2 -->
<div class="modal fade" id="dontForgetModel2" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><label for="dontForgetModal2">{{ 'dont_forget_model_title' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'dont_forget_model_body_2' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" data-dismiss="modal" aria-label="accept">{{ 'accept' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Email Transaction Modal -->
    <div class="modal fade" id="emailTransactionModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                    <h4 class="modal-title">{{ 'simply_fill_out_fields_below_and_click_continue' | trans ({}, 'my_profile') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12"><label for="email">{{ 'email' | trans ({}, 'my_profile') }}</label></div>
                        <div class="col-sm-12"><input class="normal omniEmailTxt" type="email" id="email" value="" /></div>
                    </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-12">
                                <label for="e-delivered"><input style="position:relative;top:2px;" type="checkbox" aria-checked="true" checked id="e-delivered"> {{ 'statements_will_be_delivered_electronically' | trans ({}, 'my_profile') }}</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary continueToSaveProfile" aria-label="continue">{{ 'continue' | trans ({}, 'global') }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="trustedContactModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                    <h4 class="modal-title">{{ 'youre_almost_done' | trans ({}, 'my_profile') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'regulations_have_been_adopted' | trans ({}, 'my_profile') }}</p>
                    <p>{{ 'you_can_add_a_trusted_contact_now' | trans ({}, 'my_profile') }}</p>
                </div>
                <div class="modal-footer">
                    <div class = "loader" style ="position:static;text-align:center;"><img src ="{{ asset("images/load-icon.gif") }}" alt="loading"/></div>
                    <button type="button" class="btn btn-primary pull-left saveTrustedContact" href="#optIn" aria-label="Yes add now">{{ 'yes_add_now' | trans ({}, 'my_profile') }}</button>
                    <button type="button" class="btn btn-primary saveTrustedContact" href="#optOut" aria-label="No do not add now">{{ 'no_dont_add_now' | trans ({}, 'my_profile') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="my-profile-update">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'saving_transactions' | trans ({}, 'my_profile') }}</div>
    <div class="details profileUpdates">
        <div class="row">
            <% if(!_.isEmpty(model.updateSection)){ %>
            <% _.each(model.updateSection, function(updateSection, index){ %>
                <div class="col-sm-6">
                    <div id="transactionWidget<%- updateSection.id %>" class="updateModule row">
                        <div id="update<%- updateSection.id %>" class="loadIcon wait col-xs-3">
                            <div id="s<%- updateSection.id %>" class="spin"><img src="/images/spinner.gif" alt="updating"></div>
                        </div>
                        <div class="updateMessage col-xs-9">
                            <div id="t<%- updateSection.id %>" class="updateTitle"><%- updateSection.section %></div>
                            <div id="m<%- updateSection.id %>" class="message" style="width:250px;word-wrap: break-word;"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <% }) %>
            <% } %>
            <div id ="additionSections"></div>
        </div>
    </div>

    <div class="bottom-spacer"></div>
    <div class="actions">
        <a class="actionBtn right processUpdates" style="display:none;" href="#" aria-label="Proceed"> <span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
    </div>

<!-- Confirm Submit Modal -->
<div class="modal fade" id="confirmSubmitModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><label for="confirmSubmitModal">{{ 'just_one_more_step' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">
                {% if(app.session.get('common').updateRealignment) %}
                    <p>{{ 'you_must_confirm_your_selections_at_your_plan_website' | trans ({}, 'my_profile') }}</p>
                    <p><span style="font-weight: bold">{{ 'please_note' | trans ({}, 'my_profile') }}:</span> {{ 'your_realignment_request_cannot_be_processed_during_initial' | trans ({}, 'my_profile') }}:</p>
                    <p>
                        <ul>
                            <li>{{ 'review_and_finish_your_enrollment' | trans ({}, 'my_profile') }}</li>
                            <li>{{ 'visit_the_investments_section_of_your_plan_website' | trans ({}, 'my_profile') }}</li>
                        </ul>
                    </p>
                {% else %}
                    <p>{{ 'you_must_confirm_your_selections_at_your_plan_website' | trans ({}, 'my_profile') }}</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary proceedTransactionSubmit" aria-label="Proceed">{{ 'proceed' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Error Submit Modal -->
<div class="modal fade" id="errorSubmitModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><label for="errorSubmitModal">{{ 'error_submit_title' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'error_submit_body' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary transactionCancelSubmit" aria-label="Cancel">{{ 'cancel' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Error Omnii Transaction Modal -->
<div class="modal fade" id="omniTransactionFailedModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'error' | trans ({}, 'alert') }}</h4>
            </div>
            <div class="modal-body">{{ 'custom_error_message' | trans ({}, 'my_profile') }} {{ app.session.get('common').customerServiceNumber }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="close">{{ 'close' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>


<!-- Update Transaction Modal -->
<div class="modal fade" id="updateTransactionModal" aria-modal="true" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><label for="updateTransactionModal">{{ 'just_a_couple_more_steps' | trans ({}, 'my_profile') }}</label></h4>
            </div>
            <div class="modal-body">{{ 'update_transaction_body' | trans ({}, 'my_profile') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirmTransaction" aria-label="ok">{{ 'ok' | trans ({}, 'global') }}</button>
            </div>
        </div>
    </div>
</div>

</script>

<script type="text/template" id="my-profile-send-email">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'your_investor_profile' | trans ({}, 'my_profile') }}</div>
    {% if (app.session.get('module').ATBlueprint != 1) %}
    <div class="action-top actions">
        <a class="actionBtn right printProfile" href="#" aria-label="Print"><span class="center action-button">{{ 'print' | trans ({}, 'global') }}</span></a>
    </div>
    {% endif %}
    <div class="details sendProfile">
        <p>{{ 'congratulations_on_completing_your_investor_profile' | trans ({}, 'my_profile') }}</p>
        <div class="row">
            <div class="col-sm-12" style="margin-bottom:5px;"><label for="name">{{ 'name' | trans ({}, 'my_profile') }}</label></div>
            <div class="col-sm-12"><input class="normal" type="text" id="name" value="<%- (model.firstName ? model.firstName : '') + ' ' + (model.lastName ? model.lastName : '') %>"></div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12" style="margin-bottom:5px;"><label for="email">{{ 'email' | trans ({}, 'my_profile') }}</label></div>
            <div class="col-sm-12"><input class="normal" type="text" id="email" value="<%- model.email %>"></div>
        </div>

        {% if app.session.get('common').allowecomm and not (app.session.get('common').data_source  starts with 'omni') %}
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <label for="e-delivered"><input style="position:relative;top:2px;" type="checkbox" aria-checked="true" checked id="e-delivered"> {{ 'statements_will_be_delivered_electronically' | trans ({}, 'my_profile') }}</label>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="bottom-spacer"></div>
    <div class="actions">
        <a class="actionBtn right emailProfile" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
    </div>
</script>

<script type="text/template" id="my-profile-thank-you">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'thank_you' | trans ({}, 'my_profile') }}</div>
    <div class="details">
        <p>{{ 'thank_you_details' | trans ({}, 'my_profile') }}</p>
        <p>{{ 'you_should_receive_copy_of_your_investor_profile' | trans ({}, 'my_profile') }}</p>
    </div>
</script>
<script type="text/template" id="my-profile-trusted-contact">
    <div class="head-title">{{ 'trustedContactRedirectTitle' | trans ({}, 'my_profile') }}</div>
    <div class="details">
        <p>{{ 'trustedContactRedirectBody' | trans ({}, 'my_profile') }}</p>
    </div>
</script>
<script type="text/template" id="my-profile-rollover">
    <div class="audio-area"></div>
    <div class="rolloverHeadTitle pad-bottom-10">
		{{ 'congratulations_on_completing_your_enrollment' | trans ({}, 'my_profile') }}<br>
        {{ 'there_is_just_one_more_thing' | trans ({}, 'my_profile') }}
    </div>
	<div class="title">{{ 'learn_about_your_rollover_options' | trans ({}, 'my_profile') }}</div>
	<div class="row pad-bottom-10">
		<div class="col-sm-5">
			<div class="details">{{ 'discover_your_rollover_options' | trans ({}, 'my_profile') }}</div>
		</div>
	</div>
	<div class="details">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default" style="background-color:transparent">
					<div class="panel-body text-center">
						<img src="/spe/images/global/phone_forwarded.png" alt="Call us" height="40" class="center-block">
						<div class="title">{{ 'call_us' | trans ({}, 'my_profile') }}</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="details rolloverDetails">{{ 'speak_with_a_retirement_consultant_now' | trans ({}, 'my_profile') }}</div>
							</div>
						</div>
						<div class="rolloverInput">
							<div class="rolloverPhoneNumber">{{ 'call_us_phone_number' | trans ({}, 'my_profile') }}</div>
							<div class="rolloverNote">{{ 'call_us_toll_free' | trans ({}, 'my_profile') }}</div>
						</div>
						<button type="button" class="btn btn-default saveRolloverOption" aria-label="Select save rollover option">SELECT</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default" style="background-color:transparent">
					<div class="panel-body text-center">
						<img src="/spe/images/global/phone_incoming.png" alt="Call me" height="40" class="center-block">
						<div class="title">{{ 'call_me' | trans ({}, 'my_profile') }}</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_call' | trans ({}, 'my_profile') }}</div>
							</div>
						</div>
						<div class="rolloverInput">
							<input class="normal" type="text" id="callMe" value="" aria-label="Your phone number" placeholder="{{ 'your_phone_number' | trans ({}, 'my_profile') }}">
							<div class="errorMessage rolloverNote"></div>
						</div>
						<button type="button" class="btn btn-default saveRolloverOption" href="#callMe" aria-label="Select call me">SELECT</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default" style="background-color:transparent">
					<div class="panel-body text-center">
						<img src="/spe/images/global/email.png" alt="Email me" height="40" class="center-block">
						<div class="title">{{ 'email_me' | trans ({}, 'my_profile') }}</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="details rolloverDetails">{{ 'one_of_our_retirement_consultants_will_email' | trans ({}, 'my_profile') }}</div>
							</div>
						</div>
						<div class="rolloverInput">
							<input class="normal" type="text" id="emailMe" aria-label="Your email" value="<%- (model.email ? model.email : '') %>" placeholder="email@domain.com">
							<div class="errorMessage rolloverNote"></div>
						</div>
						<button type="button" class="btn btn-default saveRolloverOption" href="#emailMe" aria-label="Select email me">SELECT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>