<script type="text/template" id="new-personal">
    <div class="audio-area"></div>
    <div class="personal">
    <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>
    <div class="details top-buffer">
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="fname" id="fname" value="<%- model.firstName %>"/></div>
        </div>
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}</label></span></div>
            <div class="row dob"><%= calenderDob() %><input class="normal" type="hidden" name="dob" id="dob" value="<%- model.dateOfBirth %>"/></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="lname" id="lname" value="<%- model.lastName %>"/></div>
        </div>
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="email">{{ 'email' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="email" id="email" value="<%- model.email %>"/></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="bottom-spacer"></div>
    <div class="actions">
        <a class="actionBtn right" id="save_pi_new" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
        <div class="clearfix"></div>
    </div>
    </div>
</script>

<script type="text/template" id="new-axa-403b-personal">
    <div class="audio-area"></div>
    <div class="personal">
    <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>
    <div class="details">
        <p class="para">{{ 'personal_information_desc' | trans ({}, 'personal') }}</p>
    </div>
    <div class="details top-buffer">
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="fname" id="fname" value="<%- model.firstName %>"/></div>
        </div>
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="lname" id="lname" value="<%- model.lastName %>"/></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="email">{{ 'email' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="email" id="email" value="<%- model.email %>"/></div>
        </div>
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}</label></span></div>
            <div class="row dob"><%= calenderDob() %><input class="normal" type="hidden" name="dob" id="dob" value="<%- model.dateOfBirth %>"/></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="availability">{{ 'good_time_to_reach_you' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="availability" id="availability" value="<%- model.availability %>"/></div>
        </div>
        <div class="col-md-6">
            <div class="row"><span class="title"><label for="phone">{{ 'telephone' | trans ({}, 'personal') }}</label></span></div>
            <div class="row"><input class="normal" type="text" name="phone" id="phone" value="<%- model.phone %>"/></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="bottom-spacer"></div>
    <div class="actions">
        <a class="actionBtn right" id="save_pi_new_axa" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
        <div class="clearfix"></div>
    </div>
    </div>

</script>

<script type="text/template" id="new-ep-personal">
    {% set initial = app.session.get('rkp')['rkpExtras'].initialEnrollment is defined and app.session.get('rkp')['rkpExtras'].initialEnrollment == 'YES' ? 'YES' : 'NO' %}
    <div class="audio-area"></div>

    <div class="personal">
        <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>

        <div class="details top-buffer">
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="fname" id="fname" value="<%- model.firstName %>"/></div>
            </div>
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="email">{{ 'email' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="email" id="email" value="<%- model.email %>"/></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="details">
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="lname" id="lname" value="<%- model.lastName %>"/></div>
            </div>
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="address">{{ 'address' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="address" id="address" value="<%- model.address %>"/></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="details">
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="marital_status">{{ 'marital_status' | trans ({}, 'personal') }}</label></span></div>
                <div class="row">
                {% if initial == 'YES' %}
                    <select class="normal" name="marital_status" role="listbox" id="marital_status">
                    <option value="" role="option">{{ 'select' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Single" <%- model.maritalStatus == 1 ? 'selected' : '' %> >{{ 'single' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Married" <%- model.maritalStatus == 2 ? 'selected' : '' %>>{{ 'married' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Widow" <%- model.maritalStatus == 3 ? 'selected' : '' %>>{{ 'widow' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Divorced" <%- model.maritalStatus == 4 ? 'selected' : '' %>>{{ 'divorced' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Separated" <%- model.maritalStatus == 5 ? 'selected' : '' %>>{{ 'separated' | trans ({}, 'personal') }}</option>
                    <option role="option" value="Widower" <%- model.maritalStatus == 6 ? 'selected' : '' %>>{{ 'widower' | trans ({}, 'personal') }}</option>
                </select>
                {% else %}
                    <input class="normal" type="text" name="marital_status" id="marital_status" disabled value="<%- model.maritalStatus %>"/>
                {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="city">{{ 'city' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="city" id="city" value="<%- model.city %>"/></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="details">
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}</label></span></div>
                <div class="row dob">
                {% if initial == 'YES' %}
                    <%= calenderDob() %>
                {% else %}
                    <input class="normal" name="dob" id="dob" disabled value="<%- model.dateOfBirth %>"/>
                {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="state">{{ 'state' | trans ({}, 'personal') }}</label></span></div>
                <div class="row">
                {% if initial == 'YES' %}
                    <select class="normal" name="state" role="listbox" id="state">
                    <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                    <% _.each(stateList, function(state, value){ %>
                        <option role="option" value="<%- value %>" <%- value == model.region ? 'selected' : '' %>><%- state %></option>
                    <% }) %>
                </select>
                {% else %}
                    <input class="normal" type="text" name="state" id="state" disabled value="<%- model.state %>"/>
                {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="details">
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="emp_date">{{ 'employment_date' | trans ({}, 'personal') }}</label></span></div>
                <div class="row emp_date">
                {% if initial == 'YES' %}
                    <%= calenderAod() %>
                {% else %}
                    <input class="normal" name="emp_date" id="emp_date" disabled value="<%- model.asOfDate %>"/>
                {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row"><span class="title"><label for="zip">{{ 'zip' | trans ({}, 'personal') }}</label></span></div>
                <div class="row"><input {{  initial == 'YES' ? '' : 'disabled'  }} class="normal" type="text" name="zip" id="zip" value="<%- model.postalCode %>"/></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right" rel="{{ initial == 'YES' ? 'save' : 'process' }}" id="save_pi_new_ep" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
            <div class="clearfix"></div>
        </div>
    </div>
</script>


<script type="text/template" id="new-smart-enroll-personal">
    <div class="audio-area"></div>
    <div class="personal full">
        <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>
        <div class="details">
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="fname" id="fname" value="<%- model.firstName %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="lname" id="lname" value="<%- model.lastName %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="address">{{ 'address' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="address" id="address" value="<%- model.address %>"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-7 no-padding">
                        <div><span class="title"><label for="city">{{ 'city' | trans ({}, 'personal') }}*</label></span></div>
                        <div><input class="normal" type="text" name="city" id="city" value="<%- model.city %>"/></div>
                    </div>
                    <div class="col-xs-5">
                        <div><span class="title"><label for="state">{{ 'state' | trans ({}, 'personal') }}*</label></span></div>
                        <div>
                            <select role="listbox" class="normal" name="state" id="state">
                                <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                                <% _.each(stateList, function(state, value){ %>
                                <option role="option" value="<%- value %>"><%- state %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10"><span class="title"><label for="zip">{{ 'zip' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="tel" name="zip" id="zip" value="<%- model.postalCode %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="marital_status">{{ 'marital_status' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select class="normal" role="listbox" name="marital_status" id="marital_status">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Single">{{ 'single' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Married">{{ 'married' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widow">{{ 'widow' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Divorced">{{ 'divorced' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Separated">{{ 'separated' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widower">{{ 'widower' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
                <div class="pad-top-10"><span class="title"><label for="gender">{{ 'gender' | trans ({}, 'personal') }}</label></span></div>
                <div>
                    <select class="normal" role="listbox" name="gender" id="gender">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="M">{{ 'male' | trans ({}, 'personal') }}</option>
                        <option role="option" value="F">{{ 'female' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="ssn">{{ 'ssn' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <input class="normal" type="hidden" name="ssn" id="ssn" value=""/>
                    <input class="normal" type="tel" name="ssnPublic" id="ssnPublic" aria-label="Social security number" value="<%- model.ssn %>"/>
                </div>
                <div class="pad-top-10"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}*</label></span></div>
                <div class="dob"><%= calenderDob() %><input class="normal" type="hidden" name="dob" id="dob" value="<%- model.dateOfBirth %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="doh">{{ 'date_of_hire' | trans ({}, 'personal') }}*</label></span></div>
                <div class="doh"><%= calenderDoh() %><input class="normal" type="hidden" name="doh" id="doh" value="<%- model.dateOfHire %>"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-10 no-padding"><span class="title">{{ 'email' | trans ({}, 'personal') }}*</span></div>
                    <div class="col-xs-2 text-center"><span class="title">{{ 'preferred' | trans ({}, 'personal') }}</span></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email2">{{ 'office' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email2" id="email2" value="<%- model.email2 %>"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio" name="preferred_email" aria-checked="false" aria-label="Preferred email" value="office" /></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email">{{ 'home' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email" id="email" value="<%- model.email %>"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio"  aria-checked="false" aria-label="Preferred email" name="preferred_email" value="home"/></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10"><span class="title"><label for="phone">{{ 'phone' | trans ({}, 'personal') }}</label></span></div>
                <div><input class="normal" type="text" name="phone" id="phone" value="<%- model.phone %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="mobile">{{ 'mobile' | trans ({}, 'personal') }}</label></span></div>
                <div><input class="normal" type="text" name="mobile" id="mobile" value="<%- model.mobile %>"/></div>
                {% set locations = app.session.get('plan_locations') %}
                {% if locations|length >= 1 %}
                <div class="pad-top-10"><span class="title"><label for="location">{{ 'location' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select role="listbox" class="normal" name="location" id="location">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        {% for location in locations %}
                            <option role="option" value="{{ location.id }}">{{ location.location }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 required-field-note text-uppercase">* {{ 'required_field' | trans ({}, 'personal') }}</div>
        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right" id="save_pi_new_smart_enroll" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
            <div class="clear"></div>
        </div>
    </div>

</script>


<script type="text/template" id="new-smart-enroll-personal-prefilled">
    <div class="audio-area"></div>
    <div class="personal full">
        <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>
        <div class="details">
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="fname" id="fname" value="John"/></div>
                <div class="pad-top-10"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="lname" id="lname" value="Doe"/></div>
                <div class="pad-top-10"><span class="title"><label for="address">{{ 'address' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="address" id="address" value="123 Easy Street"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-7 no-padding">
                        <div><span class="title"><label for="city">{{ 'city' | trans ({}, 'personal') }}*</label></span></div>
                        <div><input class="normal" type="text" name="city" id="city" value="Aliso Viejo"/></div>
                    </div>
                    <div class="col-xs-5">
                        <div><span class="title"><label for="state">{{ 'state' | trans ({}, 'personal') }}*</label></span></div>
                        <div>
                            <select role="listbox" class="normal" name="state" id="state">
                                <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                                <% _.each(stateList, function(state, value){ %>
                                <option role="option" value="<%- value %>" selected ><%- state %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10"><span class="title"><label for="zip">{{ 'zip' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="tel" name="zip" id="zip" value="92656"/></div>
                <div class="pad-top-10"><span class="title"><label for="marital_status">{{ 'marital_status' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select class="normal" role="listbox" name="marital_status" id="marital_status">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Single" selected >{{ 'single' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Married">{{ 'married' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widow">{{ 'widow' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Divorced">{{ 'divorced' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Separated">{{ 'separated' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widower">{{ 'widower' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
                <div class="pad-top-10"><span class="title"><label for="gender">{{ 'gender' | trans ({}, 'personal') }}</label></span></div>
                <div>
                    <select role="listbox" class="normal" name="gender" id="gender">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="M" selected >{{ 'male' | trans ({}, 'personal') }}</option>
                        <option role="option" value="F">{{ 'female' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="ssn">{{ 'ssn' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <input class="normal" type="hidden" name="ssn" id="ssn" value=""/>
                    <input class="normal" type="tel" name="ssnPublic" aria-label="Social security number" id="ssnPublic" value="123456789"/>
                </div>
                <div class="pad-top-10"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}*</label></span></div>
                <div class="dob"><%= calenderDobHard() %><input class="normal" type="hidden" name="dob" id="dob" value="<%- model.dateOfBirth %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="doh">{{ 'date_of_hire' | trans ({}, 'personal') }}*</label></span></div>
                <div class="doh"><%= calenderDoh() %><input class="normal" type="hidden" name="doh" id="doh" value="<%- model.dateOfHire %>"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-10 no-padding"><span class="title">{{ 'email' | trans ({}, 'personal') }}*</span></div>
                    <div class="col-xs-2 text-center"><span class="title">{{ 'preferred' | trans ({}, 'personal') }}</span></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email2">{{ 'office' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email2" id="email2" value="info@smartplanenterprise.com"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio" name="preferred_email" aria-checked="false" aria-label="preferred email" value="office" checked /></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email">{{ 'home' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email" id="email" value="smartplanenterprise@gmail.com"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio" aria-checked="false" aria-label="preferred email" name="preferred_email" value="home"/></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10"><span class="title"><label for="phone">{{ 'phone' | trans ({}, 'personal') }}</label></span></div>
                <div><input class="normal" type="text" name="phone" id="phone" value="5554567899"/></div>
                <div class="pad-top-10"><span class="title"><label for="mobile">{{ 'mobile' | trans ({}, 'personal') }}</label></span></div>
                <div><input class="normal" type="text" name="mobile" id="mobile" value="6789774445"/></div>
                {% set locations = app.session.get('plan_locations') %}
                {% if locations|length >= 1 %}
                <div class="pad-top-10"><span class="title"><label for="location">{{ 'location' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select role="listbox" class="normal" name="location" id="location">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        {% for location in locations %}
                            <option role="option" value="{{ location.id }}">{{ location.location }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 required-field-note text-uppercase">* {{ 'required_field' | trans ({}, 'personal') }}</div>
        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right" id="save_pi_new_smart_enroll" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
            <div class="clear"></div>
        </div>
    </div>

</script>

<script type="text/template" id="new-smart-enroll-personal-horacemann">
    <div class="audio-area"></div>
    <div class="personal full">
        <div class="head-title">{{ 'personal_information' | trans ({}, 'personal') }}</div>
        <div class="details">
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="fname">{{ 'first_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="fname" id="fname" value="<%- model.firstName %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="lname">{{ 'last_name' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="lname" id="lname" value="<%- model.lastName %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="address">{{ 'address' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="address" id="address" value="<%- model.address %>"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-7 no-padding">
                        <div><span class="title"><label for="city">{{ 'city' | trans ({}, 'personal') }}*</label></span></div>
                        <div><input class="normal" type="text" name="city" id="city" value="<%- model.city %>"/></div>
                    </div>
                    <div class="col-xs-5">
                        <div><span class="title"><label for="state">{{ 'state' | trans ({}, 'personal') }}*</label></span></div>
                        <div>
                            <select role="listbox" class="normal" name="state" id="state">
                                <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                                <% _.each(stateList, function(state, value){ %>
                                <option role="option" value="<%- value %>"><%- state %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10"><span class="title"><label for="zip">{{ 'zip' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="tel" name="zip" id="zip" value="<%- model.postalCode %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="marital_status">{{ 'marital_status' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select role="listbox" class="normal" name="marital_status" id="marital_status">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Single">{{ 'single' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Married">{{ 'married' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widow">{{ 'widow' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Divorced">{{ 'divorced' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Separated">{{ 'separated' | trans ({}, 'personal') }}</option>
                        <option role="option" value="Widower">{{ 'widower' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
                <div class="pad-top-10"><span class="title"><label for="gender">{{ 'gender' | trans ({}, 'personal') }}</label></span></div>
                <div>
                    <select role="listbox" class="normal" name="gender" id="gender">
                        <option role="option" value="">{{ 'select' | trans ({}, 'personal') }}</option>
                        <option role="option" value="M">{{ 'male' | trans ({}, 'personal') }}</option>
                        <option role="option" value="F">{{ 'female' | trans ({}, 'personal') }}</option>
                    </select>
                </div>
				<div class="pad-top-10"><span class="title">{{ 'marketing_opt_in' | trans ({}, 'personal') }}*</div>
				<small>{{ 'marketing_opt_in_desc' | trans ({}, 'personal') }}</small>
                <div class="marketing">
					<div class="col-xs-6">
						<input type="radio" role="radio" name="marketing_opt_in" value="yes" checked="checked" aria-checked="true" aria-label="Yes, opt in"/>&nbsp;{{ 'yes' | trans ({}, 'global') }}
					</div>
					<div class="col-xs-6">
						<input type="radio" role="radio" name="marketing_opt_in" value="no" aria-checked="false" aria-label="No, do not opt in" />&nbsp;{{ 'no' | trans ({}, 'global') }}
					</div>
				</div>
            </div>
            <div class="col-md-6">
                <div class="pad-top-10"><span class="title"><label for="ssn">{{ 'ssn' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <input class="normal" type="hidden" name="ssn" id="ssn" value=""/>
                    <input class="normal" type="tel" name="ssnPublic" aria-label="Social security number" id="ssnPublic" value="<%- model.ssn %>"/>
                </div>
                <div class="pad-top-10"><span class="title"><label for="dob">{{ 'date_of_birth' | trans ({}, 'personal') }}*</label></span></div>
                <div class="dob"><%= calenderDob() %><input class="normal" type="hidden" name="dob" id="dob" value="<%- model.dateOfBirth %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="doh">{{ 'date_of_hire' | trans ({}, 'personal') }}*</label></span></div>
                <div class="doh"><%= calenderDoh() %><input class="normal" type="hidden" name="doh" id="doh" value="<%- model.dateOfHire %>"/></div>
                <div class="pad-top-10">
                    <div class="col-xs-10 no-padding"><span class="title">{{ 'email' | trans ({}, 'personal') }}*</span></div>
                    <div class="col-xs-2 text-center"><span class="title">{{ 'preferred' | trans ({}, 'personal') }}</span></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email2">{{ 'office' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email2" id="email2" value="<%- model.email2 %>"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio" aria-checked="false" aria-label="Preferred email" name="preferred_email" value="office" /></div>
                    <div class="clear"></div>
                </div>
                <div class="pad-top-10 row-height">
                    <div class="col-xs-2 small col-height col-middle"><label for="email">{{ 'home' | trans ({}, 'personal') }}</label></div>
                    <div class="col-xs-8 col-height col-middle"><input class="normal" type="text" name="email" id="email" value="<%- model.email %>"/></div>
                    <div class="col-xs-2 text-center col-height col-middle"><input type="radio" role="radio" aria-checked="false" aria-label="Preferred email" name="preferred_email" value="home"/></div>
                    <div class="clear"></div>
                </div>
                
                <div class="pad-top-10"><span class="title"><label for="phone">{{ 'phone' | trans ({}, 'personal') }}</label></span></div>
                <div><input class="normal" type="text" name="phone" id="phone" value="<%- model.phone %>"/></div>
                <div class="pad-top-10"><span class="title"><label for="mobile">{{ 'mobile' | trans ({}, 'personal') }}*</label></span></div>
                <div><input class="normal" type="text" name="mobile" id="mobile" value="<%- model.mobile %>"/></div>
				
                {% set locations = app.session.get('plan_locations') %}
                {% if locations|length >= 1 %}
                <div class="pad-top-10"><span class="title"><label for="location">{{ 'location' | trans ({}, 'personal') }}*</label></span></div>
                <div>
                    <select class="normal" role="listbox" name="location" id="location">
                        <option value="" role="option">{{ 'select' | trans ({}, 'personal') }}</option>
                        {% for location in locations %}
                            <option value="{{ location.id }}" role="option">{{ location.location }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 required-field-note text-uppercase">* {{ 'required_field' | trans ({}, 'personal') }}</div>
        <div class="bottom-spacer"></div>
        <div class="actions">
            <a class="actionBtn right" id="save_pi_new_smart_enroll_horacemann" href="#" aria-label="Proceed"><span class="center action-button">{{ 'proceed' | trans ({}, 'global') }}</span></a>
            <div class="clear"></div>
        </div>
    </div>

</script>
