<a class="audioPanel" rel="0" style="display: inline-block;" href="#" aria-label="Audio play/pause" id ="audioPlayerToggle" ><span class="audio-icon"></span><span class="audio-state audio-pause" id ="audioPlayerToggleIcon" ></span><audio id="vwise-audio-player" autoplay="autoplay" id ="audioPlayerToggle"><source src="https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/audio/standard/{{ audioFile }}.mp3"></audio></a>
<script>
$( "#audioPlayerToggle" ).click(function() {
    if ($("#audioPlayerToggleIcon").hasClass("audio-play"))
    {
        $("#audioPlayerToggleIcon").removeClass("audio-play");
        $("#audioPlayerToggleIcon").addClass("audio-pause");
        $("#vwise-audio-player").trigger("play")
    }
    else
    {
        $("#audioPlayerToggleIcon").removeClass("audio-pause");
        $("#audioPlayerToggleIcon").addClass("audio-play");
        $("#vwise-audio-player").trigger("pause");
    }
});    
</script>

