<script type="text/template" id="retirement-needs-page-1">
    <div class="audio-area"></div>
    <h1 class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</h1>
    <div class="title"><label for="q1">{{ 'current_year_income'| trans ({}, 'retirement_needs') }}</label></div>
    <div class="details">$
        <input id="q1" type="text" value="<%- model.RN_CurrentYearlyIncome %>" size="15" class="currency">
    </div>
    <input id="cq" type="hidden" value="1">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="2" dir="next" class="actionBtn right proceed" href="#" aria-label="proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="retirement-needs-page-2">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    {% set type = app.session.get('retirement_needs').retirementNeedsFlow %}
    {% set pensionUrl = app.session.get('retirement_needs').pensionEstimatorURL %}
    {% if type == 1 %}
        <!-- Current Social Security -->
        <div class="title"><label for="q2">{{ 'estimated_retirement_income'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q2" type="text" value="<%- model.RN_EstimatedRetirementIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_retirement_income_note' | trans ({}, 'retirement_needs') | replace({'[REPLACEMENT_INCOME_PERCENT]': (app.session.get('retirement_needs').replacementIncomePercent is defined ? app.session.get('retirement_needs').replacementIncomePercent~'%' : '')}) }} </p>
        </div>
        <div class="title"><label for="q3">{{ 'estimated_social_security_income' | trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q3" type="text" value="<%- model.RN_EstimatedSocialSecurityIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_social_security_income_note'| trans ({}, 'retirement_needs') | replace({'24,636' :  app.session.get('serverConfig').estimatedSocialSecurityIncomeMax | number_format}) | replace({'25' :  (app.session.get('retirement_needs').socialSecurityMultiplier * 100) }) }}</p>
        </div>
    {% elseif type == 2 %}
        <!-- Enhanced Social Security -->
        <div class="title"><label for="q2">{{ 'estimated_retirement_income'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q2" type="text" value="<%- model.RN_EstimatedRetirementIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_retirement_income_note' | trans ({}, 'retirement_needs') | replace({'[REPLACEMENT_INCOME_PERCENT]': (app.session.get('retirement_needs').replacementIncomePercent is defined ? app.session.get('retirement_needs').replacementIncomePercent~'%' : '')}) }} </p>
        </div>
        <div class="title"><label for="q3">{{ 'estimated_social_security_income' | trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q3" type="text" value="<%- model.RN_EstimatedSocialSecurityIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_social_security_income_note_ESS'| trans ({}, 'retirement_needs') | replace({'31,000' :  app.session.get('serverConfig').estimatedSocialSecurityIncomeMax | number_format}) |  replace({'25' :  (app.session.get('retirement_needs').socialSecurityMultiplier * 100) }) }}<a href="https://www.ssa.gov/oact/quickcalc/" target="_blank" href="#" aria-label="Ssa.gov quick calculation">https://www.ssa.gov/oact/quickcalc/</a></p>
        </div>
    {% elseif type == 3 %}
        <!-- Pension Only -->
        <div class="title"><label for="q2">{{ 'estimated_retirement_income'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q2" type="text" value="<%- model.RN_EstimatedRetirementIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_retirement_income_note' | trans ({}, 'retirement_needs') | replace({'[REPLACEMENT_INCOME_PERCENT]': (app.session.get('retirement_needs').replacementIncomePercent is defined ? app.session.get('retirement_needs').replacementIncomePercent~'%' : '')}) }} </p>
        </div>
        <div class="title"><label for="q3p">{{ 'estimated_pension_income_3' | trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q3p" type="text" value="<%- model.RN_EstimatedPensionIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_pension_income_note_ESS'| trans ({}, 'retirement_needs') }}{% if pensionUrl != '' %}{{ 'estimated_pension_link_ESS' | trans ({}, 'retirement_needs') }} <a href="{{ app.session.get('retirement_needs').pensionEstimatorURL }}" target="_blank" href="#" aria-label="Click here">{{ 'click_here' | trans ({}, 'retirement_needs') }}.</a>{% endif %}</p>
        </div>
    {% elseif type == 4 %}
        <!-- Enhanced Social Security and Pension -->
        <div class="title"><label for="q2">{{ 'estimated_retirement_income'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q2" type="text" value="<%- model.RN_EstimatedRetirementIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_retirement_income_note' | trans ({}, 'retirement_needs') | replace({'[REPLACEMENT_INCOME_PERCENT]': (app.session.get('retirement_needs').replacementIncomePercent is defined ? app.session.get('retirement_needs').replacementIncomePercent~'%' : '')}) }} </p>
        </div>
        <div class="head-title">{{ 'anticipate_social_security'| trans ({}, 'retirement_needs') }}</div>
        <div class="title"><label for="q3">{{ 'estimated_social_security_income' | trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q3" type="text" value="<%- model.RN_EstimatedSocialSecurityIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_social_security_income_note_ESS'| trans ({}, 'retirement_needs') | replace({'31,000' :  app.session.get('serverConfig').estimatedSocialSecurityIncomeMax | number_format}) |  replace({'25' :  (app.session.get('retirement_needs').socialSecurityMultiplier * 100) }) }}<a href="https://www.ssa.gov/oact/quickcalc/" target="_blank" href="#" aria-label="Ssa.gov quick calculation">https://www.ssa.gov/oact/quickcalc/</a></p>
        </div>
        <div class="head-title">{{ 'anticipate_pension'| trans ({}, 'retirement_needs') }}</div>
        <div class="title"><label for="q3p">{{ 'estimated_pension_income_4' | trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">$
            <input id="q3p" type="text" value="<%- model.RN_EstimatedPensionIncome %>" size="15" class="currency">
            <p class="para">{{ 'estimated_pension_income_note_ESS'| trans ({}, 'retirement_needs') }}{% if pensionUrl != '' %}{{ 'estimated_pension_link_ESS' | trans ({}, 'retirement_needs') }} <a href="{{ app.session.get('retirement_needs').pensionEstimatorURL }}" target="_blank" aria-label="Click here">{{ 'click_here' | trans ({}, 'retirement_needs') }}.</a>{% endif %}</p>
        </div>
    {% endif %}
    <input id="cq" type="hidden" value="2">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="1" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="3" dir="next" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="retirement-needs-page-3">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="title"><label for="q4">{{ 'replacement_income'| trans ({}, 'retirement_needs') }}</label></div>
    <div class="details">$
        <input id="q4" type="text" value="<%- model.RN_ReplacementIncome %>" size="15" class="currency">
        <p class="para">{{ 'replacement_income_note'| trans ({}, 'retirement_needs') }}</p>
    </div>
    <input id="cq" type="hidden" value="3">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="2" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="4" dir="next" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>


<script type="text/template" id="retirement-needs-page-4">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>

    {% if(app.session.get('common')['retirementNeedsVersion'] == 'by age') %}
        <div class="title"><label for="retirement_age">{{ 'i_plan_to_retire_at_age'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">
            <input data-age="<%- model.age %>" required type="number" size="15" id="retirement_age" min="<%- model.age %>" step="1" value="<%- model.RN_RetirementAge ? model.RN_RetirementAge : '' %>">
            <input id="q5" type="hidden" value="<%- model.RN_NumberOfYearsBeforeRetirement %>">
            <input id="RI" type="hidden" value="<%- model.RN_ReplacementIncome %>" >
        </div>
    {% else %}
        <div class="title">{{ 'number_of_years_before_retirement'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            <div class="col">
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 5) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="5" name="ybr" aria-label="5 Years Before Retirement"> 5 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 10) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="10" name="ybr" aria-label="10 Years Before Retirement"> 10 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 15) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="15" name="ybr" aria-label="15 Years Before Retirement"> 15 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 20) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="20" name="ybr" aria-label="20 Years Before Retirement"> 20 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 25) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="25" name="ybr" aria-label="25 Years Before Retirement"> 25 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 30) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="30" name="ybr" aria-label="30 Years Before Retirement"> 30 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 35) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="35" name="ybr" aria-label="35 Years Before Retirement"> 35 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label><input <%- (model.RN_NumberOfYearsBeforeRetirement == 40) ? 'checked' : '' %> class="yearsBeforeRetirement" type="radio" role="radio" value="40" name="ybr" aria-label="40 Years Before Retirement"> 40 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <input id="q5" type="hidden" value="<%- model.RN_NumberOfYearsBeforeRetirement %>">
            <input id="RI" type="hidden" value="<%- model.RN_ReplacementIncome %>" >
        </div>
    {% endif %}

    <div class="clearfix"> </div>
    <div class="title"><label for="q5a">{{ 'inflation_adjusted_replacement_income'| trans ({}, 'retirement_needs') }}</label></div>
    <div class="details">$
        <input id="q5a" type="text" value="<%- model.RN_InflationAdjustedReplacementIncome %>" size="15" class="currency">
        <p class="para">{{ 'number_of_years_before_retirement_note'| trans ({}, 'retirement_needs') | replace({'[INFLATION]': (app.session.get('retirement_needs').inflation is defined ? app.session.get('retirement_needs').inflation : '')}) }}</p>
    </div>
    <input id="cq" type="hidden" value="4">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="3" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="5" dir="next" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="retirement-needs-page-5">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="row">

        <% if(model.data_source == 'educate') { %>
        <div class="col-md-4">
            <span class="title plan_bal block"><label for="q6a">{{ 'current_plan_balance'| trans ({}, 'retirement_needs') }}</label></span>
            <span class="plan_bal title block">$ <input class="totalAssetEducate currency" size="15" id="q6a" type="text" value="<%- model.planBalance %>"></span>
        </div>
        <div class="col-md-4">
            <span class="title other_asset block">+ <label for="q6b">{{ 'other_assets'| trans ({}, 'retirement_needs') }}</label></span>
            <span class="title other_asset block">$ <input class="totalAssetEducate currency" size="15" id="q6b" type="text" value="<%- model.RN_OtherAssets %>"></span>
        </div>
        <% } else { %>
        <div class="col-md-4">
            <span class="title plan_bal block"><label for="q6a">{{ 'current_plan_balance'| trans ({}, 'retirement_needs') }}</label></span>
            <span class="plan_bal title block" style="font-size:2.2rem;">$ <input disabled size="15" style="font-size:2.2rem;width:80%; background-color:#efefef;" id="q6a" type="text" value="<%- model.planBalance ? model.planBalance : 0 %>" class="currency"></span>
        </div>
        <div class="col-md-4">
            <span class="title other_asset block">+ <label for="q6b">{{ 'other_assets'| trans ({}, 'retirement_needs') }}</label></span>
            <span class="title other_asset block" >$ <input class="totalAssets currency" id="q6b" type="text" size="15" data-plan-balance="<%- model.planBalance %>" value="<%- model.RN_OtherAssets %>" /></span>
        </div>
        <% } %>

        <div class="col-md-4">
            <span class="title total_asset block">= {{ 'total_assets'| trans ({}, 'retirement_needs') }}</span>
            <span id="q6c" class="total_asset">$ <input disabled size="15" style="font-size:2.2rem;width:80%; background-color:#efefef;border:0px;" type="text" aria-label="total assets" value="<%- model.RN_TotalAssets %>" class="currency" /></span>
            <input id="totalAssets" value="<%- model.RN_TotalAssets %>" type="hidden">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="details">
        <p class="para">{{ 'asset_desc'| trans ({}, 'retirement_needs') }}</p>
    </div>
    <div class="title">{{ 'asset_types'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">
        <form class="assetTypeForm">
            <p class="para">{{ 'asset_help'| trans ({}, 'retirement_needs') }}</p>
            <div class="col">
                <div class="RNassetType">
                    <label for="at6"><input id="at6" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_4'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_4'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at1"><input id="at1" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_2'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_2'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at2"><input id="at2" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_3'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_3'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at0"><input id="at0" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_1'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_1'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="RNassetType">
                    <label for="at7"><input id="at7" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_8'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_8'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at4"><input id="at4" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_6'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_6'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at5"><input id="at5" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_7'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_7'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNassetType">
                    <label for="at3"><input id="at3" name="assetTypes" class="assetTypes" type="checkbox" value="{{ 'asset_type_option_5'| trans ({}, 'retirement_needs') }}"> {{ 'asset_type_option_5'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
        </form>
    </div>
    <input id="assetTypes" type="hidden" value="<%- model.RN_AssetTypes %>">
    <input id="cq" type="hidden" value="5">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="4" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="6" dir="next" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="retirement-needs-page-6">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>

    {% if(app.session.get('common')['retirementNeedsVersion'] == 'by age') %}
        <div class="title"><label for="life_expectancy">{{ 'at_what_age_anticipate_no_longer_requiring_income'| trans ({}, 'retirement_needs') }}</label></div>
        <div class="details">
            <input data-retirement-age="<%- model.RN_RetirementAge %>" id="life_expectancy" type="number" step="1" min="<%- model.RN_RetirementAge %>" value="<%- model.RN_LifeExpectancy && model.RN_LifeExpectancy >= model.RN_RetirementAge ? model.RN_LifeExpectancy : '' %>">
            <input type="hidden" id="q7" value="<%- model.RN_YearsYouWillLiveInRetirement %>">
            <input type="hidden" id="pctValue">
        </div>
    {% else %}
        <div class="title">{{ 'years_you_will_live_in_retirement'| trans ({}, 'retirement_needs') }}</div>
        <div class="details">
            <div class="col">
                <div class="RNradio">
                    <label for="5years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 5) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="5" id="5years" name="ybr"> 5 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="10years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 10) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="10" id="10years" name="ybr"> 10 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="15years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 15) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="15" id="15years" name="ybr"> 15 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="20years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 20) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="20" id="20years" name="ybr"> 20 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="RNradio">
                    <label for="25years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 25) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="25" id="25years" name="ybr"> 25 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="30years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 30) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="30" id="30years" name="ybr"> 30 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="35years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 35) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="35" id="35years" name="ybr"> 35 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
                <div class="RNradio">
                    <label for="40years"><input <%- (model.RN_YearsYouWillLiveInRetirement == 40) ? 'checked' : '' %> class="yearsInRetire" type="radio" role="radio" value="40" id="40years" name="ybr"> 40 {{ 'years'| trans ({}, 'retirement_needs') }}</label>
                </div>
            </div>
            <input type="hidden" id="q7" value="<%- model.RN_YearsYouWillLiveInRetirement %>">
            <input type="hidden" id="pctValue">
        </div>
    {% endif %}

    <div class="clearfix"> </div>
    <input id="cq" type="hidden" value="6">
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="5" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="7" dir="next" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'proceed'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="retirement-needs-page-7">
    <div class="audio-area"></div>
    <div class="head-title">{{ 'retirement_needs'| trans ({}, 'retirement_needs') }}</div>
    <div class="title">{{ 'results'| trans ({}, 'retirement_needs') }}</div>
    <div class="details">
        <p class="para">{{ 'results_desc'| trans ({}, 'retirement_needs') }}</p>
        <div class="rn_results_display">
            <div class="pad-bottom-10"> <span>{{ 'annual_income_needed_in_retirement'| trans ({}, 'retirement_needs') }}:</span> <span id="annualIncomeDisplay" class="display_value">$ <%- model.RN_AnnualIncomeNeededInRetirement %></span> </div>
            <div class="pad-bottom-10"> <span>{{ 'estimated_savings_at_retirement'| trans ({}, 'retirement_needs') }}:</span> <span id="estimatedSavingsDisplay" class="display_value">$ <%- model.RN_EstimatedSavingsatRetirement %></span> </div>
            <div class="pad-bottom-10"> <span>{{ 'recommended_monthly_plan_contribution'| trans ({}, 'retirement_needs') }}:</span> <span id="monthlyContributionDisplay" class="display_value">$ <%- model.RN_RecommendedMonthlyPlanContribution %></span> </div>
            {% if(app.session.get('common')['showMatchDescriptions']) %}
            <div class="rn-result-message">
                <span></span>
                <span class="display_value">
                    <div style="color: #fa6522;">{{ 'your_employer_will_help_you_reach_this_goal'| trans ({}, 'retirement_needs') }}</div>
                    <div><small>({{ 'more_in_a_few_minutes'| trans ({}, 'retirement_needs') }}!)</small></div>
                </span>
            </div>
            {% endif %}
        </div>
        <input id="annualIncome" type="hidden" value="<%- model.RN_AnnualIncomeNeededInRetirement %>">
        <input id="estimatedSavings" type="hidden" value="<%- model.RN_EstimatedSavingsatRetirement %>">
        <input id="monthlyContribution" type="hidden" value="<%- model.RN_RecommendedMonthlyPlanContribution %>">
        <input id="yearsInRetire" type="hidden" value="<%- model.RN_YearsYouWillLiveInRetirement %>">
        <input id="yearsBeforeRetire" type="hidden" value="<%- model.RN_NumberOfYearsBeforeRetirement %>">
        <input id="totalAssets" type="hidden" value="<%- model.RN_TotalAssets %>">
        <input id="pctValue" type="hidden" value="<%- model.RN_IncomePct %>">
        <br>
        <div> <span class="para">{{ 'percentage_of_income_from_plan'| trans ({}, 'retirement_needs') }}</span> <span id="pct"></span> </div>
        <div class="slide_container row">
            <div class="col-lg-5">
                <div class="slider_box">
                    <div class="slider-element" style=" margin-right: 4px;">0% </div>
                    <div id="incomePlanSlider" class="slider-element ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"> <a class="ui-slider-handle ui-state-default ui-corner-all"  style="left: 35%;" href="#" aria-label="Income plan slider"></a> </div>
                    <div class="slider-element" style=" margin-left: 4px;"> 100%</div>
                    <div class="arrow">
                        <div class="slide upArrow up"> </div>
                        <div class="slide downArrow down"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="para">{{ 'results_note'| trans ({}, 'retirement_needs') | replace({ '[PERCENT_OF_INCOME_FROM_PLAN]':app.session.get("module").percentageOfIncomeFromPlan  }) }}</div>
            </div>
        </div>
    </div>
    <input id="cq" type="hidden" value="7">
    <div class="clearfix"></div>
    <div class="bottom-spacer"></div>

    <div class="actions">
        <a step="6" dir="back" class="actionBtn left back" href="#" aria-label="Back" >
            <span class="center action-button">{{ 'back'| trans ({}, 'global') }}</span>
        </a>
        <a step="7" dir="save" class="actionBtn right proceed" href="#" aria-label="Proceed" >
            <span class="center action-button">{{ 'save'| trans ({}, 'global') }}</span>
        </a>
        <div class="clearfix"></div>
    </div>
</script>
