{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>

<td width = "50%"></td>

<td width = "700">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align = "left">

{{ leftImage | raw}}

</td>
<td align = "right">
{{ rightImage | raw}}
</td>
</tr>
</table>


<a href = "{{ link }}" border = "0"><img src = "https://a832eb84d1acd2b62b3c-629478b35befbfee1fa9110870f9d1bd.ssl.cf1.rackcdn.com/{% block footerimg %}Sample.png{% endblock %}" alt = "template" width = "700" border = "0"/></a>
</td>

<td width = "50%"></td>

</tr>
</table>

{% endblock %}
