{% extends 'WidgetsBundle:PowerViewBase:mobile.html.twig' %}

{% block contentID %}powerview{% endblock %}

{% block slides %}

	{{ include('WidgetsBundle:PowerViewMobileSlides:slideGroup_Intro.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:emp_match.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:sameRateContribution.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:increaseContributionPrompt.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:increaseContributionResults.html.twig') }}

	{{ include('WidgetsBundle:PowerViewMobileSlides:maxContributionCTA.html.twig') }}

{% endblock %}

{% block confirmation %}
	{{ include('WidgetsBundle:PowerViewMobileSlides:acaCTA.html.twig') }}
	{{ include('WidgetsBundle:PowerViewMobileSlides:allocateContribution.html.twig') }}
	{{ include('WidgetsBundle:PowerViewMobileSlides:slideGroup_Confirmation.html.twig') }}

{% endblock %}

{% block scripts %}
{{ parent() }}
	<script src="/w/js/powerview-mobile-custom.js?time={{ date().timestamp }}"></script>

{% endblock %}
