
<div class="checkbox">
	<label>
		<input type = "checkbox" class = "{{  class }}" value = "{{ section.data }}" name = "{{ section.value }}"  {{ section.checked }} 
		onclick = "assignCheckboxValue(this)" {% if not writeable %}disabled {% endif %} /> {{ section.title }} <a href="javascript:ajaxModal('{{  section.videourl }}','Video Preview','large',true)" > <span class="glyphicon glyphicon-facetime-video"></span></a>
	</label>
</div>