{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Smart Connect User List'})) }}
{% set table = "launchUsers" %}
{% set header = "<th>Id</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Userid</th><th>Smartplanid</th><th>Last Modified</th><th>Status</th><th>Logo</th><th>File Name</th><th>Deployment Link</th><th>Actions</th>" %}
{% set template = "ManageManageBundle:sponsorConnect:Search/userlist.html.twig" %}
{% set unsearchableArray = [11] %}
{% set types = "a.id,a.firstName,a.lastName,a.email,a.partnerid,a.planid,a.lastModified,a.accountStatus,a.logoFilePath,a.tableName,a.urlPass" %}
{% set tablename = table %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
<script>
function launchUsersChangeStatusConfirm(id)
{
    modalMessage('Reset this user?<br/><br/><button class = "btn btn-primary" onclick = "launchUsersChangeStatus(' + id + ')">Submit</button>');
    
}
function launchUsersChangeStatus(id)
{
    var querystring = "id=" + id;
    var page = "{{path('_manage_SponsorConnect_changeStatus') }}";
    $.post(page, querystring).done(function(data) 
    {
        launchUsersTable.fnDraw(false);   
        $("#messageModule").modal("hide");
    });
}
</script>
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}