{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'SmartConnect resend invites'})) }}
<a href ="{{ path('_manage_accounts') }}">Return to account list</a>
{% if users | length == 0 %}
<h3>No Users </h3>
{% else %}
<h3>User List</h3>
<table class ="table table-striped" id ="userList">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Send
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th>
                {{ user.firstName }}
            </th>
            <th>
                {{ user.lastName }}
            </th>
            <th>
                {{ user.email }}
            </th>
            <th>
                <input type ="checkbox" value ="{{user.id}}" class ="inviteUser" />
            </th>
        </tr>
        {% endfor %}
    </tbody>
 </table>
<form id ="templateForm">
    <input type ="hidden" name ="userid" value ="{{ userid }}" />
    <h3>Pick a Template</h3>
    {% for template in templates %}
    <input type ="radio" value ="{{ template.id }}" name ="templateid" onclick ="$('#inviteButton').show()" /> <a href = "javascript:ajaxModal('{{path('_manage_outreach_new_preview')}}?id={{template.id}}&planid=5990','Preview','large','true')">{{ template.name }}</a> <br/>
    {% endfor %}
    <br/><br/>
    <button class ="btn btn-primary" type ="submit" id ="inviteButton" style ="display:none" >Resend Invites</button>
    <br/><br/>
    <div id ="inviteLoader" style ="display:none"><img src ="{{ asset('images/load-icon.gif') }}"  /></div>
</form>
<script>    
$( "#templateForm" ).submit(function( event ) 
{
  event.preventDefault();
  var querystring = $('#templateForm').serialize();
  var users = $(".inviteUser");
  
  var userstring = "";
  for(var i = 0; i < users.length;i++)
  {
    if (users[i].checked)
    {
        if (userstring != "")
        userstring = userstring + ",";
        userstring = userstring + users[i].value;
    }
  }
  querystring = querystring + "&inviteUsers=" + userstring;
  var page = "{{ path('_manage_SponsorConnect_resendInvitesSaved') }}";
  $("#inviteLoader").show();
  $.post(page, querystring).done(function(data) 
  {      
      if (data == "sent")
      modalMessage("Invites sent");
      else
      modalMessage("Something bad happened");
  }).fail(function() {
    modalMessage("Something bad happened");
  }).always(function() {
    setTimeout(function(){window.location="{{ path('_manage_accounts') }}"} , 2000);   
  });
});
</script>
{% endif %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}
