<script>

function closeButtonAction(){
	var player = document.getElementById('videoPlayer');
	if ($('.player').is(':visible')) {
        $('.player').hide();
		$('.library').fadeIn();
		player.pause();
	} 
    player.pause();
    closeWidget();
    closeWidget();
}

$(document).ready(function(){
    var firstName, lastName, city, planName;
    var stats = [];
    var counter = 1;
    var videos = $('video');

    $.get('/widgets/ajax/init', function(data){
        var object = JSON.parse(data);

        firstName = object.firstName;
        lastName  = object.lastName;
        city      = object.city;
        planName  = object.planName;


    });

	var touch = 'ontouchstart' in document.documentElement;
	(touch) ? $('body').addClass('touch') : $('body').addClass('no-touch');

	var path = "https://c06cc6997b3d297a6674-653de9dab23a7201285f2586065c1865.ssl.cf1.rackcdn.com/video/library/";

	var player = $('#videoPlayer')[0];

    $(document).on('click', '.vwise button', function(){
        $('.modal, .close').fadeIn();
        $('.player').hide();
        $('.library').fadeIn();
        $('body').addClass('no-scroll');
	});
        
    $(document).on('click', '.close', function(){
		closeButtonAction();
	});

	$(document).keyup(function(e){
        if (e.keyCode == 27) { // esc key
                closeButtonAction();
        }
	});

    $(document).on('click', '.tile', function(){
        var title = $(this).attr('data-title');
        var video = $(this).attr('data-video');
        var directory = $(this).attr('data-directory');
        $('.library').hide();
        $('.player').fadeIn();
        $('.player video source').attr('src',path+directory+'/m4v/'+video+'.mp4');
        $('.player h1').text(title);
        player.load();
        player.play();

        var videoPlayed = $('#video-title').text();
        var vid = document.getElementById("videoPlayer");
        var vidDuration = vid.duration;
        var vidEnded    = vid.currentTime;

        $.post('/widgets/videolibrary/insert',{ partnerID:'{{ request.partner_id }}',
            planName:planName,
            videoPlayed:videoPlayed
        });


	});

});

</script>