{% extends 'PlansPlansBundle:Outreach:Templates/index.html.twig' %}
{% block template %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>

<td width = "50%"></td>

<td width = "1000">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align = "left">

{{ leftImage | raw}}

</td>
<td align = "right">
{{ rightImage | raw}}
</td>
</tr>
</table>


<a href = "{{ link }}" border = "0"><img src = "https://38f253da97a35602af06-c82641aff18731b9bc4b2737562e578b.ssl.cf1.rackcdn.com/{% block footerimg %}Sample.png{% endblock %}" alt = "template" width = "1000" border = "0"/></a>
</td>

<td width = "50%"></td>

</tr>
</table>

{% endblock %}
