{% for messages in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ messages.id }},
	"{{ messages.description }}",
	"{{ groupMap[messages.messagesPanesGroupsId] }}",
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_plans_messagingPanes_editmessage') }}?id={{ messages.id }}','Edit Message')\"></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_plans_messagingPanes_deletemessage') }}?id={{ messages.id }}','Delete Message')\"></span></a>"

]
{% endfor %}