{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {
        'pagename': 'Settings - Outreach/Set Permissions'
    })) }}
   <h3>Set Outreach Permissions</h3> 
   {% for category in categories %}

   <div class="panel panel-default">
   <div class="panel-heading">
   <input type = "checkbox" {{ category.checked }} onclick = "toggleCategory('{{ category.id }}')" id = "category{{ category.id }}" name = "categories" value = "{{ category.id }}" {% if not writeable %}disabled{% endif %} /> {{ category.name }}
   </div>

 
   
   <br/>
   {% if category.templates is defined %}
  {% set templates  = category.templates %}
  
 <ul class="list-group">
  {% for template in templates %}
  <li class="list-group-item" id = "templateContainer{{ template.id }}" {% if category.checked == "" %}style = "display:none"{% endif %}>
  <input type = "checkbox" {{ template.checked }} id = "template{{ template.id }}" name = "templateCategory{{ category.id }}"  onclick = "toggleTemplate('{{ category.id }}')" value = "{{ template.id }}" {% if not writeable %}disabled{% endif %} /> {{ template.name }}  
</li>
  {% endfor %}
 </ul>
   {% endif %}
     </div>
   {% endfor %}
   {% if writeable %}
 <input type = "button" value = "save" onclick = "saveTemplatePermissions()" class="btn btn-primary" />
 
 {% endif %}
   
{{ include('SettingsSettingsBundle:Outreach:javascript/setpermissions.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}     