<script>
var portfoliosTable = "plansPortfolios";
var fundsTable = "plansFunds";
var templatePath = "PlansPlansBundle:Investments:Search/";
function addportfolio(id)
{
  var page = "{{ path('_plans_investments_add_default_portfolio_to_plans') }}";
  var querystring = "id=" + id;
  $.post(page, querystring).done(function(data) 
  {
    loadportfolios();
    parent.plansPortfoliosTable.fnDraw();
    parent.plansFundsTable.fnDraw();
  });
}
function loadportfolios()
{
  var querystring = "";
  var page = "{{ path('_plans_investments_load_default_portfolios') }}";
  $.post(page, querystring).done(function(data) 
  {
      $("#portfoliolist").html(data);
      resizeColorBox();
  });        
}
</script>