<script>
var fundsTable = "plansFunds";
var templatePath = "PlansPlansBundle:Investments:Search/";
function addDefaultFund(id)
{
  var page = "{{ path('_plans_investments_add_default_fund_to_plans') }}";
  var  querystring = "id=" + id;
  $.post(page, querystring).done(function(data) 
  {
    loadDefaultfunds();
    parent.plansFundsTable.fnDraw();
  });
}

function loadDefaultfunds()
{
var querystring = "";
var page = "{{ path('_plans_investments_load_default_funds') }}";

$.post(page, querystring).done(function(data) 
{
    $("#fundlist").html(data);
    resizeColorBox();

});
}
</script>