{% for role in items %}
{% if loop.index > 1 %},{% endif %}
[
	{{ role.id }},
	"{{ role.name }}",
	
	"<span class = \"glyphicon glyphicon-edit\" title = \"edit\" onclick = \"ajaxModal('{{ path('_manage_edit_role') }}?id={{ role.id }}','Edit Role')\"></span> 
	<span class = \"glyphicon glyphicon-th-list\" onclick = \"ajaxModal('{{ path('_manage_roles_set_permissions') }}?id={{ role.id }}','Permissions')\" ></span>
	<span class = \"glyphicon glyphicon-trash\" title = \"delete\" onclick = \"ajaxModal('{{ path('_manage_delete_role') }}?id={{ role.id }}','Delete Role')\"></span></a>"
]
{% endfor %}

