<div id="errormsg" class="alert alert-warning" role="alert" style="display:none;"><b>Error!</b> All fields must be completed to continue.</div>
<table class="table">
	<tr class="active">
		<td>
			Directory Name
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group" id="divInternalName">
				<input value = "{{ currentdirectory.directory }}" placeholder = "announce" id = "directoryname" class = "form-control"  />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<button type="button" class="btn btn-success" onclick = "editdirectory({{ currentdirectory.id }})">Save</button>
		</td>
	</tr>
</table>