{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Directories'})) }}
<a href = "{{ path('_manage_plans_library') }}">Return to Library Video</a>
<br><br>
<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_plans_library_addDirectory') }}','Add Directory')">Add Directory</button>
</br></br>

{% set table = "plansLibraryDirectories" %}
{% set tablename = "plansLibraryDirectories" %}
{% set template = "ManageManageBundle:PlansLibrary:Search/directorieslist.html.twig" %}
{% set header = "<th>Id</td><td>Name</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.directory" %}
{% set unsearchableArray = [2] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}


{{ include('ManageManageBundle:PlansLibrary:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}