<script>
function sendtestemail()
{
  var emails = $("#testemail").val();
  var page = "{{ path('_manage_outreach_vwise_send_test_email') }}";
  var querystring = "id={{ template.id }}&emails=" + emails + "&title=" + encodeURIComponent($("#emailTitle").val());
  $.post(page, querystring).done(function(data) 
  {
  	showalert('saved-alert');
  });
}
</script>