<br/><br/>


<button type ="submit" class ="btn btn-primary" style ="margin-right:20px;" id="sponsorSubmitButton">Submit</button><button type ="button" class ="btn btn-warning" style ="margin-right:20px" onclick ="resetSponsorConnectForm()" id="sponsorResetButton">Reset</button>{{ include('PlansPlansBundle:SponsorConnect:cancelbutton.html.twig') }}
<div style ="display:none" id ="sponsorLoading"><br/><img src ="{{ asset('images/load-icon.gif') }}" /></div>
{{ include('PlansPlansBundle:SponsorConnect:cancelmessagemodal.html.twig') }}