<button type ="button" class ="btn btn-danger" style ="{% if sponsorRequest.requestStatus == "" or sponsorRequest.requestStatus == "cancelled" %}display:none{% endif %}" id="sponsorCancelButton" onclick ="modalMessage($('#cancelMessage').html())" >Cancel</button>
