{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Smart Connect'})) }}
<form id ="sponsorConnectForm">
    <h3>Sponsor Invites <span id ="submitDate" class ="pull-right" style = "font-size:16px">{{ sponsorRequest.formattedDate }}</span></h3>
    <div class="row">
        <div class="col-md-6">{{ include('PlansPlansBundle:SponsorConnect:fromSection.html.twig') }}</div>
        <div class="col-md-6">{{ include('PlansPlansBundle:SponsorConnect:toSection.html.twig') }}</div>
    </div>
    {{ include('PlansPlansBundle:SponsorConnect:actionbuttons.html.twig') }}
</form>
{{ include('PlansPlansBundle:SponsorConnect:Javascript/index.js.twig') }}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}