{% for section in sections %}
{{ section.description}}: <br/>
<input type ="text" value ="{{ section.value }}" name ="{{section.name }}" placeholder ="{{ section.description }}" class ="form-control sponsorConnectTextField" required />
{% endfor %}