{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Smart Connect'})) }}
{% if sponsorRequest.templateid != -1 %}
<a href ="javascript:ajaxModal('{{path('_manage_outreach_new_preview')}}?id={{sponsorRequest.templateid}}&planid={{plan.id }}','Preview','large','true')">Template Selected</a><br/><br/>
<a href ="javascript:ajaxModal('{{path('_manage_outreach_new_embed_code')}}?id={{sponsorRequest.templateid}}&planid={{plan.id}}','Code')">HTML Code</a><br/><br/>

<span style ="padding-right:10px">Status: </span><span id ="statusRequest">{{ sponsorRequest.requestStatus }}</span>
<br/><br/>

<span style ="padding-right:10px">To: </span><span style ="padding-right:50px">{{ toSections.toFirstName.value }} {{ toSections.toLastName.value }}</span>{{toSections.toEmailAddress.value }}
<br/><br/>
<span style ="padding-right:10px">From: </span><span style ="padding-right:50px">{{ fromSections.fromFirstName.value }} {{ fromSections.fromLastName.value }}</span>{{fromSections.fromEmailAddress.value }}
<br/><br/>
<span style ="padding-right:10px">Invite Date:</span> {{sponsorRequest.date}} 
<br/><br/>
<span style ="padding-right:10px">Date Requested:</span> {{sponsorRequest.requestDate}} 
<br/><br/>
{{ include('PlansPlansBundle:SponsorConnect:cancelbutton.html.twig') }}
{{ include('PlansPlansBundle:SponsorConnect:cancelmessagemodal.html.twig') }}
{{ include('PlansPlansBundle:SponsorConnect:Javascript/index.js.twig') }}
{% else %}
<h3>No request for this plan</h3>
{% endif %}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}