{% extends 'PlansPlansBundle:Outreach:Templates/group3/index.html.twig' %}
{% block footerimg %}catchup_shuttle.png{% endblock %}
{% block leftimg %}catchup_shuttle_left.png{% endblock %}
{% block rightimg %}catchup_shuttle_right.png{% endblock %}
{% block leftcolor %}#727c92{% endblock %}
{% block rightcolor %}#727c92{% endblock %}