{% extends 'PlansPlansBundle:Outreach:Templates/group3/index.html.twig' %}
{% block footerimg %}increased_contribution_mountain_top.png{% endblock %}
{% block leftimg %}increased_contribution_mountain_top_left.png{% endblock %}
{% block rightimg %}increased_contribution_mountain_top_right.png{% endblock %}
{% block leftcolor %}#2a3078{% endblock %}
{% block rightcolor %}#2a3586{% endblock %}