<form id ="addAsset" style = "line-height:15px">
    <input type ="text" name ="name" id ="fileName" class ="form-control" placeholder ="Enter asset name" required />
    <br/>
    <input type ="file" name ="fileUpload" id ="fileUpload" style ="border:0" required />
    <br/>
    <button class ="btn btn-success">Add</button>
    <div id ="assetLoader" style = "display:none"><br/><img src ="{{ asset('images/load-icon.gif') }}" /></div>
</form>
<script>
$( document ).ready(function()
{
    $( "#addAsset" ).submit(function( event ) 
    {
        event.preventDefault();
        var fileName = $("#fileUpload").prop("files")[0]["name"];
        var fileContent = $("#fileUpload").prop("files")[0];
        var form_data = new FormData();
        form_data.append("fileContent", fileContent);
        form_data.append("name",$('#fileName').val());
        $("#assetLoader").show();
        $.ajax(
         {
            method: "POST",
            url: "{{path('_manage_outreach_assetmanager_add_saved')}}",
            data: form_data,
            contentType: false,
            processData: false
        })
        .done(function (data) 
         {
             assetsTable.fnDraw(false);
             closeLightBox();
         });
        
    });
});
</script>