<button class ="btn btn-info" onclick = "ajaxModal('{{ path('_manage_outreach_assetmanager_add') }}','Add Asset')">Add Asset</button>
<br/><br/>
{% set table = "assets" %}
{% set tablename = "assets" %}
{% set header = "<th>Id</th><th>Name</th><th>Url</th><th>Actions</th>" %}
{% set template =  'ManageManageBundle:Outreach:assetmanager/Search/assets.html.twig' %}
{% set types = "a.id,a.name,a.url" %}
{% set unsearchableArray = [3] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}
