{% set pagename = "Settings - Documents" %}
{% set templatePath = "SettingsSettingsBundle:Documents:Search/" %}
{% if writeable %}
{% set template = "SettingsSettingsBundle:Documents:Search/documentlist.html.twig" %}
{% else %}
{% set template = "SharedDocumentsBundle:Default:Search/documentlistreadonly.html.twig" %}
{% endif %}
{% set documentTable = "defaultDocuments" %}
{% set pagetype = "settings" %}
{% extends 'SharedDocumentsBundle:Default:index.html.twig' %}
{% block returnpage %}{{ path('_settings_documents') }}{% endblock %}
