<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ 'powerview_title' | trans ({}, 'widget') }}</title>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/w/css/powerview.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/iml.css?time={{ date().timestamp }}" />
		<link rel="stylesheet" type="text/css" href="/w/css/white-label.css?time={{ date().timestamp }}" />
	</head>
	<body>
		  {{ include('WidgetsBundle:Default:redirectForm.html.twig') }}

		  <div id="vwise_powerview" class="{{ data.lang }}">
			<div id="veil"></div>

			<div class="close return"><span class="mobile">{{ 'close_msg' | trans ({}, 'widget') }}</span>&nbsp;</div>

			{{ include('WidgetsBundle:Default:header.html.twig') }}
			{{ include('WidgetsBundle:Default:languageForm.html.twig') }}

			<div id="powerview_1132" class="container hold">

				<div class="video-container">
					<video width="640" height="480" >
						<source src="https://66982d9743c7bbab0508-1766e9fe82e03b095186e8fa12156f44.ssl.cf1.rackcdn.com/{{ '1132_PWV' | trans({}, 'widget') }}.mp4" type="video/mp4">
					</video>
				</div>

				{{ include('WidgetsBundle:Default:videoControls.html.twig') }}

				<section id="salary-confirmation" class="full-background bg-primary no-video">
					<article class="col single rev">
						{{ include('WidgetsBundle:Default:salaryForm.html.twig') }}
					</article>
				</section>      

				<section id="intro" class="animate out-right" data-time-in="1" data-time-out="7" data-incoming-remove="out-right" data-outgoing-add="out-right">
						<article class="animate vertical-center">
						<h1>{{ 'hi' | trans ({}, 'widget') }} <span class ="data_firstName"></span>,</h1>
                        <h3 class="color-primary">{{ 'welcome' | trans ({}, 'widget') }}</h3>
					</article>
				</section>      

				<section id="balance" class="animate short-right" data-time-in="8" data-time-out="11.5" data-incoming-remove="short-right" data-outgoing-add="fade-out">
					<article class="animate vertical-center">
						<h3 class="label">{{ 'balance' | trans ({}, 'widget') }}</h3>
						<h5 class="color-primary">{{ 'your_current_retirement_plan_balance' | trans ({}, 'widget') }}</h5>
						<div class="figure">
							<sup>$</sup>
							<span class ="data_balance"></span>
						</div>
					</article>
				</section>      
				<section id="contribution" class="animate short-right" data-time-in="13" data-time-out="23" data-incoming-remove="short-right" data-outgoing-add="fade-out">
					<article class="animate top">
						<h3 class="label">{{ 'your_contribution' | trans ({}, 'widget') }}</h3>
						<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
						<div class="figure">
							<sup>$</sup>
							<span class ="data_currentYTDTotal"></span>
						</div>
						<sub class="contribution-rate">
							{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
								<span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution_amount' | trans ({}, 'widget') }}</span>
								$<span class="data_currentDeferralFlatDollar"></span>
							{% else %}
								<span id="current_pre_tax_rate">{{ 'your_current_pretax_contribution' | trans ({}, 'widget') }}</span>
								<span class="data_currentDeferral"></span>%
							{% endif %}
						</sub>
					</article>
				</section>      
				<section id="emp_match" class="animate short-right" data-time-in="17" data-time-out="23" data-incoming-remove="short-right" data-outgoing-add="fade-out">
					<article class="animate bottom">
						<h3 class="label">{{ 'employer_match' | trans ({}, 'widget') }}</h3>
						<h5 class="color-primary">{{ 'current_year_to_date_contribution' | trans ({}, 'widget') }}</h5>
						<div class="figure">
							<sup>$</sup>
							<span class ="data_currentYTDMatch"></span>
						</div>
					</article>
				</section>      
				<section id="projections" class="animate full-background out-right bg-primary" data-time-in="22" data-time-out="1000" data-incoming-remove="out-right" data-outgoing-add="out-left">
					<article id="est_rtmt_balance" class="animate short-right col top left rev" data-time-in="23" data-time-out="49" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<h3 class="label">{{ 'estimated_retirement_balance' | trans ({}, 'widget') }}</h3>
						<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }} <span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
						<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedIncome" data-odo-start="0" data-odo-time="26" data-odo-finish="0"></span>
						</div>
					</article>        

					<article id="est_payout" class="animate short-right col top right rev" data-time-in="30" data-time-out="49" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<h3 class="label">{{ 'estimated_monthly_payout' | trans ({}, 'widget') }}</h3>
						<h5 class="color-primary">{{ 'at_age' | trans ({}, 'widget') }}
							<span class ="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:
						</h5>
						<div class="figure">
							<sup>$</sup>
							<span class="odometer data_projectedMonthlyIncome" data-odo-start="0" data-odo-time="31" data-odo-finish="0"></span>
						</div>
					</article>       
					<article id="contribution_bar" class="animate fade-out color-primary full-background bottom" data-time-in="35" data-time-out="45" data-incoming-remove="fade-out" data-outgoing-add="fade-out">
						<div class="bar_container">
							<h5>{{ 'your_contribution' | trans ({}, 'widget') }}</h5>
							<div class="bar" id="your-contribution">
								<div class="fill" style="width:0%;" data-start-width="0%" data-finish-width="100%" data-time-fill="40"></div>
								<div class="figure">
									$<span class="odometer" data-odo-start="0" data-odo-time="40" data-odo-finish="0">0</span>
								</div>
							</div>
						</div>

						<div class="bar_container">
							<h5>{{ 'employer_contribution' | trans ({}, 'widget') }}</h5>
							<div class="bar" id="employer-contribution">
								<div class="fill" style="width:0%;" data-start-width="0%" data-finish-width="100%" data-time-fill="40"></div>
								<div class="figure">
									$<span class="odometer" data-odo-start="0" data-odo-time="40" data-odo-finish="0">0</span>
								</div>
							</div>
						</div>
					</article>       

					<article id="max_rtmt_balance" class="animate col left short-right panel color-primary bottom" data-time-in="45" data-time-out="49" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<label>{{ 'estimated_maximized_retirement_balance' | trans ({}, 'widget') }}</label>
						<h5>{{ 'at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
						<div class="figure">
							<sup>$</sup>
							<span class="data_projectedIncomeMax"></span>
							<sub>{{ 'total' | trans ({}, 'widget') }}</sub>
						</div>
					</article>
					<article id="max_rtmt_payout" class="animate col right short-right panel color-primary bottom" data-time-in="45" data-time-out="49" data-incoming-remove="short-right" data-outgoing-add="fade-out">
						<label>{{ 'estimated_maximized_monthly_payout' | trans ({}, 'widget') }}</label>
						<h5>{{ 'at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }}:</h5>
						<div class="figure">
							<sup>$</sup>
							<span class="data_projectedMonthlyIncomeMax"></span>
							<sub>{{ 'monthly' | trans ({}, 'widget') }}</sub>
						</div>
					</article>
					<article id="cta" class="animate rev fade-out center confirmation col wide single" data-time-in="50" data-time-out="1000" data-incoming-remove="fade-out" data-outgoing-add="fade-out">
						<form id ="matchForm">
							<h1>{{ 'maximize_my_contribution_to' | trans ({}, 'widget') }} 
								{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
									$<span class="data_maxMatchFlatDollar"></span>
								{% else %}
									<span class="data_maxMatch"></span>%
								{% endif %}
							</h1>
							<h2>{{ 'with_an_estimated_monthly_payout_at_age' | trans ({}, 'widget') }} <span class="data_retireAge"></span>{{ 'anos' | trans({}, 'widget') }} {{ 'of' | trans ({}, 'widget') }} $<span class="data_projectedMonthlyIncomeMax"></span></h2>
							<h5>{{ 'this_represents_a' | trans ({}, 'widget') }} 
								{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
								$<span class="data_diffDeferralFlatDollar"></span> {{ 'increase_in_your_pretax_contribution_amount' | trans ({}, 'widget') }}
								{% else %}
									<span class="data_diffDeferral"></span>% {{ 'increase_in_your_pretax_contribution_rate' | trans ({}, 'widget') }}
								{% endif %}
							</h5>
							<button id="{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}allocate{% elseif app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}allocate_aca{% else %}connected{% endif %}" type="button" class="color-primary">{{ 'yes_maximize_my_contribution' | trans ({}, 'widget') }}</button>
							<button id="manual" type="button" class="transparent"><span id="close">{{ 'close_msg' | trans({}, 'widget') }}</span></button>
						</form>
					</article>
				</section>

				<section id="confirmation" class="animate full-background bg-primary center">
					{% if app.session.get("rkp").plan_data.rkpExtras.hasroth and app.session.get("rkp").plan_data.preCurrent > 0 and app.session.get("rkp").plan_data.rothCurrent > 0 %}
					<article id="cta_allocate" class="animate rev center confirmation col wide single">
						<form id="allocateForm">
                                                        <input id ="partDeferralSetting"type ="hidden" value ="{{ app.session.get("rkp").plan_data.partDeferralSetting }}" />
							{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
								<input type="hidden" name="maxMatch" value="{{ data.maxMatchFlatDollar }}" />
								<h2>{{ 'allocate_contribution' | trans ({}, 'widget') }}$<span class="data_maxMatchFlatDollar"></span></h2>
							{% else %}
								<input type="hidden" name="maxMatch" value="{{ data.maxMatch }}" />
								<h2>{{ 'allocate_contribution' | trans ({}, 'widget') }}<span class="data_maxMatch"></span>%</h2>
							{% endif %}
							<div id="slider">
								<div id="allocate_pretax" class="allocate-val">
									<h5>
										{{ 'pretax' | trans ({}, 'widget') }}
										<i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="white" data-content="{{ 'tooltip_pretax' | trans ({}, 'widget') }}" data-shift="0"></i>
									</h5>
									<h1 class="rev">
										{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
											$<output></output>
										{% else %}
											<output></output>%
										{% endif %}
									</h1>
								</div>

								<div id="allocate_slider"></div>
								<div id="allocate_roth" class="allocate-val">
									<h5>
										{{ 'roth' | trans ({}, 'widget') }}
										<i class="icon-info" data-interface="tooltip" data-position="top" data-title="none" data-theme="white" data-content="{{ 'tooltip_roth' | trans ({}, 'widget') }}" data-shift="0"></i>
									</h5>
									<h1 class="rev">
										{% if app.session.get("rkp").plan_data.partDeferralSetting == 'dollar' %}
											$<output></output>
										{% else %}
											<output></output>%
										{% endif %}
									</h1>
								</div>
							</div>

							<button id="{% if app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}connected-aca{% else %}connected{% endif %}" type="button" class="color-primary">{{ 'ready_to_maximize_retirement' | trans ({}, 'widget') }}</button>
							<button id="" type="button" class="transparent return"><span id="close">{{ 'close_msg' | trans({}, 'widget') }}</span></button>
						</form>
					</article>
					{% endif %}
					{% if app.session.get("rkp").plan_data.partACAStatus and (app.session.get("rkp").plan_data.partACAStatus == "0" or app.session.get("rkp").plan_data.partACAStatus == "1") %}
					<article id="allocate_confirm" class="animate confirm-allocation confirmation rev col wide single">
						<h1>{{ 'one_quick_note' | trans ({}, 'widget') }}</h1>
						<p>{{ 'changing_your_allocation_warning' | trans ({}, 'widget') }}</p>
						<h3 class="color-primary">
							<div class="checkbox">
								<input name="aca_checkbox" type="checkbox" value="1" />
								<label></label>
							</div>
							{{ 'changing_your_allocation_confirmation' | trans ({}, 'widget') }}
						</h3>
						<div class="buttons">
							<button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
							<button id="connected" type="button" class="color-primary" disabled="disabled">{{ 'continue' | trans ({}, 'widget') }}</button>
						</div>
					</article>
					{% endif %}

					<article id="" class="animate connected confirmation rev col wide single">
						<h1>{{ 'success' | trans ({}, 'widget') }}</h1>
						<h3>{{ 'your_confirmation_number_is' | trans ({}, 'widget') }} <span class="data_confirmationCode"></span>.</h3>
						<h5>{{ 'send_my_confirmation_to' | trans ({}, 'widget') }}</h5>

						{% include('WidgetsBundle:PowerViewNew:confirmation.html.twig') %}
					</article>
					<article id="" class="animate cta confirmation rev col wide single">
						<h2>{{ 'congrat_msg' | trans ({}, 'widget') }}</h2>
						<h3>{{ 'please_contact_your_human' | trans ({}, 'widget') }} {{ 'we_will_send_you_a_helpful' | trans ({}, 'widget') }}</h3>
						<h4><span class="data_confirmationCode"></span></h4>
						<h5>{{ 'send_instructions_to' | trans ({}, 'widget') }}</h5>

						{% include('WidgetsBundle:PowerViewNew:confirmation.html.twig') %}
					</article>
					<article id="" class="animate manual confirmation rev col wide single">
						<h2>{{ 'not_ready_msg' | trans ({}, 'widget') }}</h2>
						<button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
					</article>
					<article id="" class="animate error confirmation rev col wide single">
						<h2>{{ 'loading_error_msg' | trans ({}, 'widget') }}</h2>
						<h3>{{ 'we_encountered_an_error_while_processing' | trans ({}, 'widget') }}<br />{{ 'please_try_again_later' | trans ({}, 'widget') }}</h3>
						<button type="button" class="color-primary return">{{ 'close_msg' | trans ({}, 'widget') }}</button>
					</article>
					<article id="connected-thank-you" class="animate connected-thank-you confirmation rev col wide single">
						<h1>{{ 'thankyou_msg' | trans ({}, 'widget') }}</h1>
						<h3>{{ 'email_text_msg' | trans ({}, 'widget') }}</h3>
						<button class="button return">{{ 'close_msg' | trans ({}, 'widget') }}</button>

					</article>
				</section>

			</div>
			
			<small>
				{{ include('WidgetsBundle:Default:fine-print.html.twig') }}
			</small>

		</div>

		{% include('WidgetsBundle:Default:spinner.html.twig') %}
		{% include('WidgetsBundle:PowerViewNew:error.html.twig') %}
		{% include('WidgetsBundle:PowerViewNew:loading.html.twig') %}

		<script src="https://code.jquery.com/jquery-1.11.3.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/autoNumeric-min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/jquery.animateNumber.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/wNumb.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/nouislider.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/iml.min.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/functions.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/powerview-data.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/powerview-custom.js?time={{ date().timestamp }}"></script>
		<script src="/w/js/powerview.js?time={{ date().timestamp }}"></script>

		{{ include('WidgetsBundle:GoogleAnalytics:googleaddPowerview.html.twig') }}
	</body>
</html>
