{% set reportName = "User Activity Report" %}
{% set accountlistEnabled = false %}
{% set vwiseButton = false %}
{% set defaultTab = "advisers" %}
{% block extracreateria %}
<b>Retirement Imminent Age</b>
<input type ="text" value = "58" id = "retireAge" class ="form-control" onkeyup ="customParseInt(this.id,'unsigned')" />
{% endblock %}
{% block processReport %}

querystring = querystring + "&age=" + $("#retireAge").val();
var url = "{{ path('_manage_reports_useractivity_getreport') }}?" + querystring;
var btnHtml = '<button type ="button" class ="btn btn-primary" onclick ="downloadReportIrio(\'' + url + '\')">Download</button>';
$.get( url, function( data ) 
{
    if (data == "")
    $("#reportResult").html("<h3>No Results Returned</h3>");
    else
    $("#reportResult").html("<h3>Results</h3>" + btnHtml + '<div id ="reportResultInner">' + data + '</div>' + btnHtml);
});
{% endblock %}
{% block javascript %}
<script>
{% include "ManageManageBundle:Reports:Common/javascript.html.twig" %}
</script>
<script>
function downloadReportIrio(url)   
{
    url = url + "&type=excel";
    window.location = url;
}
</script>
{% endblock %}
{% extends "ManageManageBundle:Reports:template.html.twig" %}