{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:header', {'pagename': 'Manage Video Types'})) }}
<a href = "{{ path('_manage_plans_library') }}">Return to Library Video</a>
<br><br>
<button type="button" class="btn btn-info" onclick = "ajaxModal('{{ path('_manage_plans_library_addType') }}','Add Type')">Add Type</button>
</br></br>

{% set table = "plansLibraryType" %}
{% set tablename = "plansLibraryType" %}
{% set template = "ManageManageBundle:PlansLibrary:Search/typeslist.html.twig" %}
{% set header = "<th>Id</td><td>Name</td><td>Display Name</td><td width = \"100\">Actions</td>" %}
{% set types = "a.id,a.type, a.displayname" %}
{% set unsearchableArray = [3] %}
{% include('classesclassBundle:Search:searchdatatables.html.twig') %}


{{ include('ManageManageBundle:PlansLibrary:javascript/index.js.twig')}}
{{ render(controller('TemplatesTemplatesBundle:AdminTemplate:footer')) }}